<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="65" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                 <b>G7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் கன்மலையானவரே</samp>
<span class="chordline">          <b>D7</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை காக்கும் தெய்வம் நீரே</samp>
<span class="chordline">            <b>C</b>          <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை மாட்சிமை நிறைந்தவரே</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமைக்குப் பாத்திரரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே </samp>
<span class="chordline"><b>D</b>               <b>B</b> Em   </span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<span class="chordline"><b>G</b>                <b>Am</b> <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே  </samp>
<span class="chordline"><b>D</b>     <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>G7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சிறகுகளின் நிழலில்</samp>
<span class="chordline">         <b>D7</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் மகிழ செய்தீர்</samp>
<span class="chordline">         <b>C</b>          <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூயவரே என் துணையாளரே</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்கு பாத்திரரே</samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>G7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் பெலவீன நேரங்களில்</samp>
<span class="chordline">      <b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை தந்தீரையா</samp>
<span class="chordline">         <b>C</b>          <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜா என் பெலனானீர்</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கும் பயமில்லையே</samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>G7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் உயிருள்ள நாட்களெல்லாம்</samp>
<span class="chordline">         <b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை புகழ்ந்து பாடிடுவேன்</samp>
<span class="chordline">            <b>C</b>          <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ராஜா நீர் செய்த நன்மைகளையே</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணியே துதித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன்</samp></div></div>   
        
     </div>