<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="166" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>                         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷம் என் உள்ளில் சந்தோஷம்</samp>
<span class="chordline">     <b>G</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு வந்தால் சந்தோஷம்</samp>
<span class="chordline"><b>Am</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>F</b>       <b>E</b>       <b>Am</b>   </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்கினதான் சந்தோஷம்</samp>
<span class="chordline">     <b>Dm</b>     <b>E</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் சாபம் நீக்கினதால் சந்தோஷம் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துதித்து பாடிடு கைதட்டி ஆடிடு</samp>
<span class="chordline"><b>E</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோரும் கொண்டாடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரை மாற்றினதால் சந்தோஷம்</samp>
<span class="chordline">        <b>Dm</b>         <b>E</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கு களிப்பை தந்ததால் சந்தோஷம் (2)</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்து பாடிடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் அழைத்தார் சந்தோஷம்</samp>
<span class="chordline">      <b>Dm</b>         <b>E</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">புதிய வாழ்வை கொடுத்தார் சந்தோஷம் (2)</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்து பாடிடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் செல்வாஎன் சந்தோஷம்</samp>
<span class="chordline">     <b>Dm</b>         <b>E</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் பரனோடு வாழ்வேன் சந்தோஷம் (2)</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்து பாடிடு</samp></div></div>   
        
     </div>