<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="177" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி சொல்லி பாடுவேன்</samp>
<span class="chordline">        <b>Bm</b>          <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நாதன் இயேசுவின் நமத்தையே</samp>
<span class="chordline">      <b>F#m</b>                 <b>D</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியால் என் உள்ளம் நிறைந்து</samp>
<span class="chordline">        <b>E</b>                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நாதன் இயேசுவை போற்றிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவரே வல்லவரே</samp>
<span class="chordline"><b>E</b>                           <b>E7</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் என் ஆழ்வில் செய்பவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கடந்த நாட்கள் முழுவதும் என்னை</samp>
<span class="chordline"><b>Bm</b>                      <b>E</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணின் மணிபோல் காத்தாரே</samp>
<span class="chordline"><b>F#m</b>               <b>D</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கரத்தை பிடித்து கை விடாமல்</samp>
<span class="chordline"><b>E</b>                  <b>E7</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கனிவாய் என்னை நடத்தினாரே</samp>
<samp charset="UTF-8" class="lyricline">... நன்றி சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் எந்தன் வாழ்வினிலே</samp>
<span class="chordline"><b>Bm</b>                      <b>E</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சூழ்ந்து என்னை நெருக்கினாலும்</samp>
<span class="chordline"><b>F#m</b>               <b>D</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலை தேவன் என்னோடு இருக்க</samp>
<span class="chordline"><b>E</b>                  <b>E7</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கலக்கம் இல்லை என் வாழ்விலே</samp>
<samp charset="UTF-8" class="lyricline">... நன்றி சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மேகங்கள் மீது மன்னவன் இயேசு</samp>
<span class="chordline"><b>Bm</b>                 <b>E</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வேகம் வருவார் ஆனந்தமே</samp>
<span class="chordline"><b>F#m</b>                 <b>D</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கண்னீர் துடைத்து பலனை கொடுக்க</samp>
<span class="chordline"><b>E</b>                  <b>E7</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தர் வருகின்றாரே</samp>
<samp charset="UTF-8" class="lyricline">... நன்றி சொல்லி</samp></div></div>   
        
     </div>