<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="182" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிக்கின்றோம் இயேசுவே</samp>
<span class="chordline"><b>C</b>                      <b>F</b>/<b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிக்கின்றோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>           <b>F</b>       <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">நீர் நல்லவர் சர்வ வல்லவர்</samp>
<span class="chordline">         <b>A</b>                    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைபோல் வேறு தேவன் இல்லை</samp>
<span class="chordline">        <b>Bb</b>     <b>C</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline">        <b>Bb</b>     <b>C</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாவியான என்னையும்</samp>
<span class="chordline"><b>C</b>                        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம் பிள்ளையாய் மாற்றினீர் </samp>
<samp charset="UTF-8" class="lyricline"> ...நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அழைத்தவரே</samp>
<span class="chordline"><b>C</b>                   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் உண்மையுள்ளவரே </samp>
<samp charset="UTF-8" class="lyricline"> ...நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்த பரிசுத்த ஆவியால்</samp>
<span class="chordline"><b>C</b>                   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் நிறைத்தீரே </samp>
<samp charset="UTF-8" class="lyricline"> ...நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மருரூபம் ஆக்கிடும்</samp>
<span class="chordline"><b>C</b>                         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் மகிமையில் சேர்த்திடும் </samp>
<samp charset="UTF-8" class="lyricline"> ...நீர்</samp></div></div>   
        
     </div>