<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="195" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் தேவனே</samp>
<span class="chordline"><b>D</b>                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமையின் தேவனே</samp>
<span class="chordline"><b>G</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அன்றும், இன்றும், என்றும்</samp>
<span class="chordline">           <b>F#</b> <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மாறாத ராஜனே</samp>
<span class="chordline"><b>D</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் தேவனே</samp>
<span class="chordline"><b>D</b>                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமையின் தேவனே</samp>
<span class="chordline"><b>G</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அன்றும், இன்றும், என்றும்</samp>
<span class="chordline">             <b>D</b>         </span>
<samp charset="UTF-8" class="lyricline">மாறாத ராஜனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D7</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாடிடுவேன் அல்லேலூயா</samp>
<span class="chordline"><b>F#m</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பாடிடுவேன் அல்லேலூயா</samp>
<span class="chordline"><b>Em</b>           <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">பாடிடுவேன் அல்லேலூயா </samp>
<span class="chordline">    <b>D</b>     <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">...தேவனுக்கே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாடிடுவேன் ஒ.....ஓசன்னா</samp>
<span class="chordline"><b>F#m</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவேன் ஒ.....ஓசன்னா</samp>
<span class="chordline"><b>Em</b>        <b>A</b>            <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">பாடிடுவேன் தேவனுக்கே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையின் தேவனே</samp>
<span class="chordline"><b>D</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அருமை இரட்சகரே</samp>
<span class="chordline"><b>G</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் என்னை</samp>
<span class="chordline">                   <b>F#</b> <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அனைத்துக் கொள்பவரே</samp></div></div>   
        
     </div>