<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="202" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>      <b>G</b>    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline">          <b>C</b>        <b>D</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பரே என் நேசரே உமக்கே</samp>
<span class="chordline">          <b>C</b>         <b>D</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பரே என் இயேசுவே உமக்கே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தாயின் கருவில் கண்டவரே</samp>
<span class="chordline"><b>Am</b>               <b>C</b>      <b>D</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கி சுமக்கும் சுமை தாங்கியே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் யாவையும் செய்பவரே</samp>
<span class="chordline"><b>Am</b>               <b>C</b>      <b>D</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையாய் காக்கும் உத்தமரே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்மையால் நிரப்பும் நல்லவரே</samp>
<span class="chordline"><b>Am</b>               <b>C</b>      <b>D</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை பொழியும் விண் மேகமே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் போக்கும் பரிசுத்தரே</samp>
<span class="chordline"><b>Am</b>            <b>C</b>      <b>D</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நோய்கள் நீக்கும் பரிகாரியே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதனை </samp></div></div>   
        
     </div>