<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="205" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி இயேசு ராஜா</samp>
<span class="chordline">        <b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<span class="chordline"><b>G</b>                    <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி இயேசு ராஜா</samp>
<span class="chordline">        <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத ராஜா உயர்ந்த தேவா</samp>
<span class="chordline">       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<span class="chordline"><b>G</b>                          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உலகின் இரட்சகா உண்மை நாதா</samp>
<span class="chordline">        <b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...நன்றி நன்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் மரித்தீர் எனக்காய் உயிர்த்தீர்</samp>
<span class="chordline">       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<span class="chordline"><b>G</b>                          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்னை பரலோகம் சேர்த்திட வருவார்</samp>
<span class="chordline">        <b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...நன்றி நன்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரலோக தேவா பரிசுத்த ராஜா</samp>
<span class="chordline">       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<span class="chordline"><b>G</b>                          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நீதி நிறைந்தவர் நித்திய ராஜா</samp>
<span class="chordline">        <b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...நன்றி நன்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் தேவா ராஜாதி ராஜா</samp>
<span class="chordline">       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<span class="chordline"><b>G</b>                          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமை நிறைந்தவர் மாறாத நேசர்</samp>
<span class="chordline">        <b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஸ்தோத்தரிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...நன்றி நன்றி</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>