<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="217" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>            <b>C</b> <b>Am</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதிக்கின்றோம் - உம்மை</samp>
<span class="chordline"><b>D7</b>        <b>Bm</b>     <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">ஆராதிக்கின்றோம்</samp>
<span class="chordline"><b>G</b>           <b>C</b> <b>Am</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சக தேவா - உம்மை</samp>
<span class="chordline"><b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதிக்கின்றோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமை உள்ளவரே - எல்லா</samp>
<span class="chordline"><b>D7</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மகிமைக்கும் பாத்திரரே</samp>
<span class="chordline"><b>G</b>      <b>D7</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாறிடாத என் நேசரே</samp>
<span class="chordline">        <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்கு பாத்திரரே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிக்கின்றோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் பெலவீன நேரங்களில்</samp>
<span class="chordline"><b>D7</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உம் பெலன் என்னை தாங்கினதே</samp>
<span class="chordline"><b>G</b>      <b>D7</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவை தேர்றினீரே</samp>
<span class="chordline">        <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை கூர்ந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிக்கின்றோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையின் பாதையிலே</samp>
<span class="chordline"><b>D7</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குதவின மா தயவே</samp>
<span class="chordline"><b>G</b>      <b>D7</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கெஞ்சுகிறேன் கிருபையினை</samp>
<span class="chordline">        <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் வாழ்ந்திடவே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிக்கின்றோம்</samp></div></div>   
        
     </div>