<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="229" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>       <b>D</b>              <b>Esus4</b>/<b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் உயர்த்துவேன்</samp>
<span class="chordline"><b>A</b>       <b>D</b>              <b>Esus4</b>/<b>E</b></span>
<samp charset="UTF-8" class="lyricline">துதிகள் பாடி மகிழ்ந்திடுவேன்</samp>
<span class="chordline"><b>A</b>       <b>D</b>              <b>Esus4</b>/<b>E</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் வாழ்வில் நிறைந்தவர் நீரே</samp>
<span class="chordline"><b>A</b>       <b>D</b>              <b>Esus4</b>/<b>E</b></span>
<samp charset="UTF-8" class="lyricline">மீட்க வந்தீர் மகிந்திடுவேனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>      <b>D</b>       <b>E</b>          <b>D</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாதை காட்டிடவே பூவில் வந்தீரே</samp>
<span class="chordline"><b>A</b>      <b>D</b>       <b>E</b>          <b>D</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை சென்றவரே நாடி வந்தேனே</samp>
<span class="chordline">        <b>D</b>        <b>E</b>         <b>C#</b>        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சாவை வென்றவரே உயிர்த்தெழுந்தவரே</samp>
<span class="chordline">        <b>Bm7</b>   <b>E7</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் உயர்த்துவேன்</samp></div></div>   
        
     </div>