<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="238" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>        <b>A</b>/<b>C#</b>      <b>Bm</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மான்கள் நீரோடை வாஞ்சிப்பது போல்</samp>
<span class="chordline">     <b>Em</b>       <b>A7</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் ஆத்துமா வாஞ்சிக்குதே</samp>
<span class="chordline"><b>D</b>  <b>A</b>/<b>C#</b>            <b>Bm</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்ரம் எந்தன் ஆத்ம நேசர்</samp>
<span class="chordline">        <b>Em7</b>  <b>A7</b>   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிக்கிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>       <b>Bm</b>/<b>A</b>           <b>G</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் பெலனும் என் கேடகமாம்</samp>
<span class="chordline">     <b>G</b>                  <b>Bm</b>       <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">என் ஆவி என்றும் உமக்கடிப்பணியும்</samp>
<span class="chordline"><b>D</b>        <b>A</b>/<b>C#</b>      <b>Bm</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்ரம் எந்தன் ஆத்ம நேசர்</samp>
<span class="chordline">         <b>Em</b>  <b>A7</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிக்கிறேன்</samp></div></div>   
        
     </div>