<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="587" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தூயா தூயா எம் இயேசு நாதா</samp>
<span class="chordline">     <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் வாழ்த்த பெருக</samp>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதிகளின் பாத்திரரே</samp>
<span class="chordline">  <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிகள் உமக்குத் தந்தோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">விண்ணை துரந்து மண்ணில் வந்தீர்</samp>
<span class="chordline"><b>C</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாபெரும் அன்பல்லவோ</samp>
<span class="chordline"><b>C</b>               <b>Am</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் சுமந்து சாபமானீர</samp>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் பணிந்திடுவோம்</samp></div></div>   
        
     </div>