<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="599" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>   <b>A</b>          <b>C7</b>      <b>F</b>                         </span>
<samp charset="UTF-8" class="lyricline">ஆராதிப்பேன் நான் ஆராதிப்பேன்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசுவை ஆராதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவரே உம்மை ஆராதிப்பேன்</samp>
<span class="chordline">        <b>Bb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவரே உம்மை ஆராதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த உள்ளத்தோடு ஆராதிப்பேன்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பணிந்து குனிந்து ஆராதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியிலே உம்மை ஆராதிப்பேன்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையிலே உம்மை ஆராதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">தூதர்களோடு ஆராதிப்பேன்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திர பலியோடு ஆராதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">காண்பவரை நான் ஆராதிப்பேன்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காப்பவரை நான் ஆராதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">வெண்ணாடை அணிந்து ஆராதிப்பேன்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">குருத்தோலை ஏந்தி ஆராதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதிப்பேன்</samp></div></div>   
        
     </div>