<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="631" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>         <b>A</b>           <b>B</b>    <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">Pick’d me up from the Miry Clay</samp>
<span class="chordline"><b>E</b>      <b>A</b>       <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">Put Me on the Rock to Stay</samp>
<span class="chordline"><b>E</b>         <b>A</b>           <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">Pick’d me up from the Miry Clay</samp>
<span class="chordline"><b>E</b>      <b>A</b>      <b>B</b>       <b>E</b>          </span>
<samp charset="UTF-8" class="lyricline">Put Me on the Rock to Stay</samp>
<span class="chordline"><b>E</b>         <b>A</b>           <b>B</b>    <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">Pick’d me up from the Miry Clay</samp>
<span class="chordline"><b>E</b>      <b>A</b>       <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">Put Me on the Rock to Stay</samp>
<span class="chordline"><b>E</b>         <b>A</b>           <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">Pick’d me up from the Miry Clay</samp>
<span class="chordline"><b>E</b>      <b>A</b>      <b>B</b>       <b>E</b>          </span>
<samp charset="UTF-8" class="lyricline">Put Me on the Rock to Stay</samp>
<span class="blankline"></span>
<span class="chordline"><b>C#m</b>             <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">Oh my life was in a Mess</samp>
<span class="chordline">  <b>F#m</b>                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">I thought there’s No Way Out</samp>
<span class="chordline"><b>C#m</b>             <b>G#m</b>   </span>
<samp charset="UTF-8" class="lyricline">Then I Cried On Jesus Name And</samp>
<span class="chordline">   <b>F#m</b>                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">He Gave Me a Brand New Start</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">He is Rock </samp>
<span class="chordline"><b>G#m</b>   <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">He is Rock</samp>
<span class="chordline"><b>F#m</b>           <b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">Jesus is the Rock On Whome I Stand</samp>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">Oh Oh Oh..</samp>
<span class="chordline"><b>A</b>     <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">He is Rock </samp>
<span class="chordline"><b>G#m</b>   <b>C#m</b> </span>
<samp charset="UTF-8" class="lyricline">He is Rock</samp>
<span class="chordline"><b>F#m</b>            <b>B</b>               <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">Jesus is the Rock On Whom I Stand...</samp></div></div>   
        
     </div>