<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="676" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி நன்றி என்று</samp>
<span class="chordline"><b>C</b>        <b>D</b>          <b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் பாடிடுவோம்</samp>
<span class="chordline">   <b>G</b>           <b>C</b>            </span>
<samp charset="UTF-8" class="lyricline">வல்லவரே நல்லவரே  </samp>
<span class="blankline"></span>
<span class="chordline">   <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காண்பவரே காப்பவரே                                                                   </samp>
<span class="chordline">   <b>G</b>                <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">பாவங்களைப் போக்கிவிட்டீர்                                                         </samp>
<span class="chordline">   <b>G</b>           <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">நோய்களெல்லாம் சுமந்து கொண்டீர்                                               </samp>
<span class="chordline">   <b>G</b>           <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஆவியினால் அபிஷேகம் செய்தீர்</samp>
<span class="chordline">   <b>G</b>           <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">புதுவாழ்வு எனக்குத் தந்தீர்                                                                </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா (2) ஆமென்</samp></div></div>   
        
     </div>