<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="685" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>              <b>Csus4</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யார் என்னைக் கைவிட்டாலும்</samp>
<span class="chordline">        <b>Csus4</b>            <b>Fm</b>      </span>
<samp charset="UTF-8" class="lyricline">இயேசு கைவிடமாட்டார்</samp>
<span class="chordline"><b>Csus4</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடமாட்டார்</samp>
<span class="chordline"><b>Fm6</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடமாட்டார்</samp>
<span class="chordline"><b>Fm</b> add9</span>
<samp charset="UTF-8" class="lyricline">கைவிடமாட்டார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>         <b>Fm6</b>                 <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">தாயும் அவரே தந்தையும் அவரே</samp>
<span class="chordline"><b>Fm6</b>       <b>Fm</b>    <b>Fm6</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாலாட்டுவார் சீராட்டுவார்  </samp>
<samp charset="UTF-8" class="lyricline">   ...யார் என்னைக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>         <b>Fm6</b>                 <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">வேதனை துன்பம் நெருக்கும் போதெல்லாம்</samp>
<span class="chordline"><b>Fm6</b>       <b>Fm</b>    <b>Fm6</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">வேண்டிடுவேனே காத்திடுவாரே   </samp>
<samp charset="UTF-8" class="lyricline">   ...யார் என்னைக்                                                                       </samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>         <b>Fm6</b>           <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">இரத்ததாலே கழுவிவிட்டாரே</samp>
<span class="chordline"><b>Fm6</b>       <b>Fm</b>    <b>Fm6</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின் சந்தோஷம் எனக்குத் தந்தாரே  </samp>
<samp charset="UTF-8" class="lyricline">   ...யார் என்னைக்    </samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>         <b>Fm6</b>              <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினாலே அபிஷேகம் செய்து</samp>
<span class="chordline"><b>Fm6</b>       <b>Fm</b>    <b>Fm6</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு வசனத்தால் நடத்துகின்றாரே                                                                    </samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>         <b>Fm6</b>          <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காகவே மனிதனானார்</samp>
<span class="chordline"><b>Fm6</b>       <b>Fm</b>    <b>Fm6</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காகவே பாடுபட்டார்  </samp>
<samp charset="UTF-8" class="lyricline">   ...யார் என்னைக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>         <b>Fm6</b>         <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காகவே காயப்பட்டார்</samp>
<span class="chordline"><b>Fm6</b>       <b>Fm</b>    <b>Fm6</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என் நோய்கள் சுமந்து கொண்டார்  </samp>
<samp charset="UTF-8" class="lyricline">   ...யார் என்னைக்</samp></div></div>   
        
     </div>