<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="688" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>      <b>Bb</b>   <b>Eb</b>           </span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேலே பயப்படாதே</samp>
<span class="chordline"><b>Bb</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நானே உன் தேவன்</samp>
<span class="blankline"></span>
<span class="chordline">    <b>Bb</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">வழியும் சத்தியமும்</samp>
<span class="chordline">    <b>Bb</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனும் நானே                                                                                         </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                <b>Bb</b>            <b>Cm</b>           <b>Bb</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை நானே தெரிந்து கொண்டேனே  மகனே(ளே)</samp>
<span class="chordline"><b>Bb</b>                  <b>Eb</b>                <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உன் பெயர் சொல்லி நான் அழைத்தேனே</samp>
<span class="chordline">         <b>Gm</b>        <b>Eb</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு போதும் நான் கைவிடமாட்டேன்</samp>
<span class="chordline">             <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடமாட்டேன்  வழியும்</samp>
<samp charset="UTF-8" class="lyricline">   ...வழியும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                <b>Bb</b>     <b>Cm</b>           <b>Bb</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தாய் மறந்தாலும் நான் மறவேன்  மகனே (மகளே)</samp>
<span class="chordline"><b>Bb</b>                  <b>Eb</b>                <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளங்கையில் தாங்கி உள்ளேன்</samp>
<span class="chordline">         <b>Gm</b>        <b>Eb</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஒருபோதும் நான் மறப்பதில்லை</samp>
<span class="chordline">             <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">மறந்து போவதில்லை </samp>
<samp charset="UTF-8" class="lyricline">   ...வழியும்                                                                                </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                <b>Bb</b>     <b>Cm</b>           <b>Bb</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">துன்ப நேரம் சோர்ந்து விடாதே  மகனே மகளே</samp>
<span class="chordline"><b>Bb</b>         <b>Eb</b>                <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவகிரீடம் உனக்குத் தருவேன்</samp>
<span class="chordline">         <b>Gm</b>        <b>Eb</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சீக்கிரம் வருவேன் அழைத்துச் செல்வேன் </samp>
<span class="chordline">             <b>Cm</b>                                                    </span>
<samp charset="UTF-8" class="lyricline">எழுந்து ஒளி வீசு</samp>
<samp charset="UTF-8" class="lyricline">   ...வழியும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>     <b>Bb</b>     <b>Cm</b>      <b>Bb</b>   <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தீயின் நடுவே நீ நடந்தாலும்</samp>
<span class="chordline"><b>Bb</b>       <b>Eb</b>                <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எரிந்து நீயும் போகமாட்டாய்</samp>
<span class="chordline">     <b>Gm</b>     <b>Eb</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுகளை நீயும் கடக்கும் போதும்</samp>
<span class="chordline">             <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">மூழ்கி போக மாட்டாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...வழியும்</samp></div></div>   
        
     </div>