<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="691" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>             <b>Ab</b>           </span>
<samp charset="UTF-8" class="lyricline">என் பாவங்கள் என் இயேசு</samp>
<span class="chordline"><b>Bb</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மன்னித்து விட்டார்</samp>
<span class="chordline"><b>G7</b>           <b>Eb</b>            </span>
<samp charset="UTF-8" class="lyricline">தன் மகனாய் என் இயேசு</samp>
<span class="chordline"><b>G7</b>               <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்றுக் கொண்டார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இனி நான் பாவியல்ல</samp>
<span class="chordline"><b>Ab</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாகிவிட்டேன்</samp>
<span class="chordline">                       <b>Bb</b>     </span>
<samp charset="UTF-8" class="lyricline">நேசரின் பின் செல்லுவேன் -நான்</samp>
<span class="chordline"><b>Eb</b>       <b>G7</b>              <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">திரும்பி பார்க்க மாட்டேன்  என்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் பாவங்கள்</samp>
<span class="chordline"><b>Cm</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆழ்கடலில் எறிந்து விட்டார்</samp>
<span class="chordline"><b>Ab</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">காலாலே மிதித்து விட்டார்</samp>
<span class="chordline">                       <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">நினைவுகூர மாட்டார் என்</samp>
<span class="chordline"><b>G7</b>               <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நேசரைத் துதிக்கின்றேன்  இனி </samp>
<samp charset="UTF-8" class="lyricline">   ...என் பாவங்கள்</samp>
<span class="chordline"><b>Cm</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவுக்குள் வாழ்கின்றேன்</samp>
<span class="chordline"><b>Ab</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">மறுபடி பிறந்துவிட்டேன்</samp>
<span class="chordline">                       <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">பழையன கழிந்தனவே  நான்</samp>
<span class="chordline"><b>G7</b>               <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">புதிய படைப்பானேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் பாவங்கள்</samp></div></div>   
        
     </div>