<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="694" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>          <b>Bb</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தேடி வந்த தெய்வம் இயேசு  என்னை</samp>
<span class="chordline"><b>Bb</b>          <b>Ab</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தேடி வந்த தெய்வம் இயேசு</samp>
<span class="chordline"><b>Fm6</b>                      <b>Gm</b>          <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">வாடி நின்ற என்னையே வாழவைத்திட</samp>
<span class="chordline"><b>Fm</b>          <b>Bb7</b>           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தேடி வந்த தெய்வம் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                                        </span>
<samp charset="UTF-8" class="lyricline">பாவியாக இருந்த என் பாவம் போக்கிட்டார்</samp>
<span class="chordline"><b>Fm</b>               <b>Cm</b>          </span>
<samp charset="UTF-8" class="lyricline">ஆவி பொழிந்து என்னையே </samp>
<span class="chordline"><b>Eb</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தாவி அணைத்திட்டார்</samp>
<span class="chordline"><b>Bb</b>               <b>Cm</b>          </span>
<samp charset="UTF-8" class="lyricline">அன்பே அவரின் பெயராம், </samp>
<span class="chordline">        <b>Bb7</b>     <b>Eb</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அருளே அவன் மொழியாம்</samp>
<span class="chordline">                   <b>Bb7</b></span>
<samp charset="UTF-8" class="lyricline">இருளே போக்கும் ஒளியாம்  </samp>
<span class="chordline"><b>Eb</b>       <b>Ab</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இருளே போக்கும் ஒளியாம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேடி வந்த தெய்வம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                                        </span>
<samp charset="UTF-8" class="lyricline">இயேசு என்னில் இருக்கிறார் என்ன ஆனந்தம்</samp>
<span class="chordline"><b>Fm</b>               <b>Cm</b>          </span>
<samp charset="UTF-8" class="lyricline">இருளும் புயலும் வரட்டுமே </samp>
<span class="chordline"><b>Eb</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இதயம் கலங்குமோ</samp>
<span class="chordline"><b>Bb</b>               <b>Cm</b>    </span>
<samp charset="UTF-8" class="lyricline">இறைவா இயேசு தேவா, </samp>
<span class="chordline">    <b>Bb7</b>     <b>Eb</b>       <b>Cm</b>        </span>
<samp charset="UTF-8" class="lyricline">இதயம் மகிழ்ந்து பாடும்</samp>
<span class="chordline"><b>Eb</b>       <b>Ab</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் உம்மை நாடும்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேடி வந்த தெய்வம்</samp></div></div>   
        
     </div>