<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="697" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>            <b>Cm6</b>      <b>Eb</b>   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அடிமை நான் ஆண்டவரே  என்னை</samp>
<span class="chordline">                 <b>Cm6</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொள்ளும் என் தெய்வமே</samp>
<span class="chordline">       <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">தெய்வமே தெய்வமே</samp>
<span class="chordline"><b>Gm</b>      <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அடிமை நான் ஆட்கொள்ளும்   </samp>
<span class="chordline"><b>Cm6</b>     <b>Eb</b>     <b>Cm</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அடிமை நான் ஆட்கொள்ளும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                            <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">என் உடல் உமக்குச் சொந்தம்  இதில்</samp>
<span class="chordline"><b>Eb</b>     <b>Cm6</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் வாசம் செய்யும்</samp>
<samp charset="UTF-8" class="lyricline">   ...அடிமை நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                         <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">உலக இன்பமெல்லாம்  நான்</samp>
<span class="chordline"><b>Eb</b>     <b>Cm6</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உதறித் தள்ளி விட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...அடிமை நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                            <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">பெருமை செல்வமெல்லாம்  இனி</samp>
<span class="chordline"><b>Eb</b>     <b>Cm6</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வெறுமை என்றுணர்ந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...அடிமை நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                        <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">வாழ்வது நானல்ல  என்னில்</samp>
<span class="chordline"><b>Eb</b>     <b>Cm6</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே வாழ்கின்றீர் </samp>
<samp charset="UTF-8" class="lyricline">   ...அடிமை நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                           <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">என் பாவம் மன்னித்தருளும்  உம்</samp>
<span class="chordline"><b>Eb</b>     <b>Cm6</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தால் கழுவி விடும்</samp>
<samp charset="UTF-8" class="lyricline">   ...அடிமை நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                     <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">முள்முடி எனக்காக  ஐயா</samp>
<span class="chordline"><b>Eb</b>     <b>Cm6</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கசையடி எனக்காக</samp>
<samp charset="UTF-8" class="lyricline">   ...அடிமை நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                              <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">என் பாவம் சுமந்து கொண்டீர்  என்</samp>
<span class="chordline"><b>Eb</b>     <b>Cm6</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நோய்கள் ஏற்றுக் கொண்டீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...அடிமை நான்</samp></div></div>   
        
     </div>