<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="699" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                         <b>Am</b>        <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவரே உம் பாதம் சரணடைந்தேன்</samp>
<span class="chordline">              <b>Am</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அடிமை நான் ஐயா</samp>
<span class="chordline">                  <b>Am</b>          <b>C</b>     <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் ஆயிரம் துன்பங்கள் வந்தாலும்</samp>
<span class="chordline">         <b>Am</b>           <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">அகன்று போக மாட்டேன்  உம்மை விட்டு</samp>
<span class="chordline"><b>Gsus4</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அகன்று போக மாட்டேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் உம் குரல் கேட்டு</samp>
<span class="chordline"><b>C6</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அதன்படி நடக்கின்றேன்</samp>
<span class="chordline">                   <b>Am</b>     <b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">உலகினை மறந்து உம்மையே நோக்கி</samp>
<span class="chordline"><b>Gsus4</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி வருகின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆண்டவரே உம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாலிபன் தனது வழிதனையே</samp>
<span class="chordline"><b>C6</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எதனால் சுத்தம் பண்ணுவான்</samp>
<span class="chordline">                   <b>Am</b>     <b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உமது வார்த்தையின்படியே</samp>
<span class="chordline"><b>Gsus4</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காத்துக் கொள்வதனால் </samp>
<samp charset="UTF-8" class="lyricline">   ...ஆண்டவரே உம்                                                                                </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">வேதத்திலுள்ள அதிசயம் அனைத்தும்</samp>
<span class="chordline"><b>C6</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நன்கு புரியும்படி</samp>
<span class="chordline">                   <b>Am</b>     <b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே எனது கண்களையே</samp>
<span class="chordline"><b>Gsus4</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் திறந்தருளும்  </samp>
<samp charset="UTF-8" class="lyricline">   ...ஆண்டவரே உம்                                                                              </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் நடப்பதற்கு பாதையைக் காட்டும்</samp>
<span class="chordline"><b>C6</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தீபமே உம் வசனம்</samp>
<span class="chordline">                         <b>Am</b>     <b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">செல்லும் வழிக்கு வெளிச்சமும் அதுவே</samp>
<span class="chordline"><b>Gsus4</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உம் வாக்கு </samp>
<samp charset="UTF-8" class="lyricline">   ...ஆண்டவரே உம்                                                                              </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உமக்கு எதிராய் நான்</samp>
<span class="chordline"><b>C6</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் செய்யாதபடி</samp>
<span class="chordline">                      <b>Am</b>     <b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">உமது வாக்கை என் இருதயத்தில்</samp>
<span class="chordline"><b>Gsus4</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பதித்து வைத்துள்ளேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆண்டவரே உம்</samp></div></div>   
        
     </div>