<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="702" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தாவீதைப் போல நடனமாடி</samp>
<span class="chordline"><b>D</b>                   <b>A</b>        <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">அப்பாவை ஸ்தோத்தரிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">என்ன வந்தாலும் எது நடந்தாலும்</samp>
<span class="chordline"><b>G</b>           <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அப்பாவை ஸ்தோத்தரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline">         <b>G</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசப்பா ஸ்தோத்திரம்  </samp>
<span class="chordline">         <b>D</b>   <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசப்பா ஸ்தோத்திரம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">கைத்தாளத்தோடும் மத்தாளத்தோடும்</samp>
<span class="chordline"><b>G</b>           <b>A</b>            <b>D</b>                                                     </span>
<samp charset="UTF-8" class="lyricline">அப்பாவை ஸ்தோத்தரிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசப்பா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த இரத்தத்தால் பாவங்கள் கழுவிய</samp>
<span class="chordline"><b>G</b>           <b>A</b>            <b>D</b>                                        </span>
<samp charset="UTF-8" class="lyricline">அப்பாவை ஸ்தோத்தரிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசப்பா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">ஆவியினாலே அபிஷேகம் செய்த</samp>
<span class="chordline"><b>G</b>           <b>A</b>            <b>D</b>                                                        </span>
<samp charset="UTF-8" class="lyricline">அப்பாவை ஸ்தோத்தரிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசப்பா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவுக்குள்ளாய் முன் குறித்தாரே</samp>
<span class="chordline"><b>G</b>           <b>A</b>            <b>D</b>                                                 </span>
<samp charset="UTF-8" class="lyricline">அப்பாவை ஸ்தோத்தரிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசப்பா</samp></div></div>   
        
     </div>