<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1030" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                 </span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் அல்லால் உலகில் </samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">யாருண்டு எனக்கு </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாயையான உலகில் </samp>
<span class="chordline"><b>D7</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு</samp>
<span class="chordline"><b>Em</b>        <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">மாறிடும் உலகில்</samp>
<span class="chordline"><b>D7</b>            <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு  </samp>
<samp charset="UTF-8" class="lyricline">   ... நீர் மாத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அரணும் என் கோட்டையும் </samp>
<span class="chordline"><b>D</b>             <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு</samp>
<span class="chordline"><b>Bm</b>                   </span>
<samp charset="UTF-8" class="lyricline">கோட்டயும் துருகமும்</samp>
<span class="chordline"><b>D7</b>            <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு   </samp>
<span class="chordline"><b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துருகமும் கேடகமும் </samp>
<span class="chordline"><b>D7</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு </samp>
<span class="chordline"><b>Em</b>          <b>C</b>             </span>
<samp charset="UTF-8" class="lyricline">கேடகமும் கண்மலையும்</samp>
<span class="chordline"><b>D7</b>            <b>G</b>      </span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம் எனக்கு                   </samp>
<samp charset="UTF-8" class="lyricline">   - நீர் மாத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆசை வேறு உம்மையன்றி </samp>
<span class="chordline"><b>D</b>             <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">யாருமில்லை எனக்கு</samp>
<span class="chordline"><b>Bm</b>                    </span>
<samp charset="UTF-8" class="lyricline">ஆதரவு உம்மையன்றி</samp>
<span class="chordline"><b>D7</b>            <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">யாருமில்லை எனக்கு  </samp>
<span class="chordline"><b>G</b>          <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஆனந்தம் உம்மையன்றி</samp>
<span class="chordline"><b>D7</b>            <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஒன்றுமில்லை எனக்கு </samp>
<span class="chordline"><b>Em</b>          <b>C</b>              </span>
<samp charset="UTF-8" class="lyricline">எண்ணங்களில் உம்மையன்றி </samp>
<span class="chordline"><b>D7</b>            <b>G</b>      </span>
<samp charset="UTF-8" class="lyricline">யாருமில்லை எனக்கு </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம்  -4</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீர் அல்லால் உலகில் </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">யாருண்டு எனக்கு  -2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம்                             </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்திரம்  -2                  </samp>
<samp charset="UTF-8" class="lyricline"> -நீர் மாத்திரம்</samp></div></div>   
        
     </div>