<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1032" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பிரசன்னமே</samp>
<span class="chordline"><b>F</b>                <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">இரங்கியே வந்திடுதே -2</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் மகிமை </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">நம்மையெல்லாம் </samp>
<span class="chordline">        <b>Am</b>              <b>Bb</b> <b>G</b>/<b>G7</b>                </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஸ்தலத்தில் மூடுதே                   </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ பிரசன்னமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் நல்ல தூதர்கள் </samp>
<span class="chordline">        <b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நம்மை சுற்றிலும் இங்கு நிற்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">   ... தேவனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் தூய அக்கினி </samp>
<span class="chordline">        <b>Am</b>        </span>
<samp charset="UTF-8" class="lyricline">இங்கு நமக்குள்ளே </samp>
<span class="chordline">         <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">இரங்கி வந்திடுதே </samp>
<samp charset="UTF-8" class="lyricline">   ... தேவனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தின் அபிஷேகமே </samp>
<span class="chordline">        <b>Am</b>         </span>
<samp charset="UTF-8" class="lyricline">இன்று நமக்குள்ளே</samp>
<span class="chordline">        <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">நிரம்பி வழியுதே</samp>
<samp charset="UTF-8" class="lyricline">   ... தேவனின்</samp></div></div>   
        
     </div>