<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1034" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிக்கை நங்கூரம் </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் நம்பும் தேவனே </samp>
<span class="chordline"><b>G</b>                      <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">நம்பினோரை காக்கும் இயேசுவே </samp>
<span class="chordline">      <b>C</b>                </span>
<samp charset="UTF-8" class="lyricline">பரம பரிசுத்த தேவனை </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரலோக ராஜனை </samp>
<span class="chordline"><b>Am</b>             <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாடல் பாடி கொண்டாடிடுவோம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிக்கையும் நீர் தானே </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நங்கூரமும் நீர் தானே </samp>
<span class="chordline"><b>G</b>                             <b>D7</b>  </span>
<samp charset="UTF-8" class="lyricline">நாங்கள் நம்பும் தேவன் நீர் தானே  -2</samp>
<span class="chordline">         <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நீர் தானே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பார்வேனை வென்றவரை </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எகிப்தியரை வென்றவரை </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline">         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் பார்வோன்கள் வந்தாலும் </samp>
<span class="chordline"><b>G</b>           <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">எகிப்தியர் வந்தாலும் </samp>
<span class="chordline"><b>Am</b>          <b>D7</b>           <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">பாடல் பாடி முன்னேறிடுவ                 </samp>
<samp charset="UTF-8" class="lyricline">   - நம்பிக்கையும் நீர் தானே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலையை பிளந்தவரை </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீரூற்றை தந்தவரை  </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline">         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பஞ்சம் பட்டினியே வந்தாலும்</samp>
<span class="chordline"><b>G</b>           <b>E</b>     </span>
<samp charset="UTF-8" class="lyricline">வரட்சிகள் என்றாலும்  </samp>
<span class="chordline"><b>Am</b>          <b>D7</b>           <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">பாடல் பாடி முன்னேறிடுவோம்               </samp>
<samp charset="UTF-8" class="lyricline">  - நம்பிக்கையும் நீர் தானே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கல்லரையை பிளந்தவரை </samp>
<span class="chordline"><b>G</b> </span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை வென்றவரை </samp>
<span class="chordline"><b>G</b> </span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline">         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரண இருளுள்ள பள்ளத்தாக்கின் </samp>
<span class="chordline"><b>G</b>           <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">சூழ்நிலைகள் வந்தாலும் </samp>
<span class="chordline"><b>Am</b>          <b>D7</b>           <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">பயமின்றி முன்னேறிடுவோம்                 </samp>
<samp charset="UTF-8" class="lyricline"> - நம்பிக்கையும் நீர் தானே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேனைகளை கவிழ்த்தவரை </samp>
<span class="chordline"><b>G</b> </span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சத்துருவை வென்றவரை </samp>
<span class="chordline"><b>G</b> </span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் (துதிப்போம்)</samp>
<span class="chordline">         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">போராட்டம் தொல்லைகள் வந்தாலும் </samp>
<span class="chordline"><b>G</b>           <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">யுத்தங்கள் நேர்ந்தாலும் </samp>
<span class="chordline"><b>Am</b>          <b>D7</b>         <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">பயமின்றி முன்னேறிடுவ                    </samp>
<samp charset="UTF-8" class="lyricline">  - நம்பிக்கையும் நீர் தானே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>C</b>     <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">என் நம்-பிக்-கை நீர் தானே </samp>
<span class="chordline"><b>G</b>                <b>C</b>    <b>D7</b>   </span>
<samp charset="UTF-8" class="lyricline">என் நங்-கூ-ரம் நீர் தானே </samp></div></div>   
        
     </div>