<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1383" class="song songcont"><div class="songpre"><span class="chordline"><b>Bb</b>                                   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இன்ப நேசர் இயேசுவே  உந்தன் நேசமே </samp>
<span class="chordline"><b>Cm</b>              <b>F</b>          <b>F7</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">திராட்சைரசம் பார்க்கிலும் மதுரமானதே </samp>
<span class="chordline"><b>Bb</b>                          <b>Bb7</b>    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் ஊற்றுண்ட பரிமளமே </samp>
<span class="chordline"><b>Cm</b>       <b>F</b>            <b>F7</b>        <b>Bb</b> <b>Bb7</b></span>
<samp charset="UTF-8" class="lyricline">என் மனமகிழ்ச்சி நீர் மணவாளனே</samp>
<span class="chordline"><b>Eb</b>       <b>F</b>            <b>F7</b>        <b>Bb</b>   </span>
<samp charset="UTF-8" class="lyricline">என் மனமகிழ்ச்சி நீர் மணவாளனே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">வாரீர்க கல்வாரி மாறா நேசத்தை </samp>
<span class="chordline"><b>F7</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அன்பர் இயேசுவில் பாரீர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                                   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இன்ப நேசர் இயேசுவே மணவாளனே</samp>
<span class="chordline"><b>Cm</b>              <b>F</b>          <b>F7</b>        <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">உந்தன் நேச கொடி என் மேல் பறந்திடுதே </samp>
<span class="chordline"><b>Bb</b>                              <b>Bb7</b>    <b>Eb</b> </span>
<samp charset="UTF-8" class="lyricline">உந்தன் தூய நேசத்தால் எந்தன் உள்ளத்தை</samp>
<span class="chordline"><b>Cm</b>       <b>F</b>                 <b>F7</b>      <b>Bb</b> <b>Bb7</b> </span>
<samp charset="UTF-8" class="lyricline">கவர்ந்துக்கொண்டீரே என் மணவாளனே</samp>
<span class="chordline"><b>Eb</b>       <b>F</b>                 <b>F7</b>        <b>Bb</b>     </span>
<samp charset="UTF-8" class="lyricline">கவர்ந்துக்கொண்டீரே என் மணவாளனே                           </samp>
<samp charset="UTF-8" class="lyricline"> -வாரீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                                   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இன்ப நேசர் இயேசு நீர் என்னுடையவர் </samp>
<span class="chordline"><b>Cm</b>              <b>F</b>          <b>F7</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உமது கை நிதம் என்னை அணைக்கின்றதே  </samp>
<span class="chordline"><b>Bb</b>                            <b>Bb7</b>            <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">என்னை உந்தன் இதயததில் முத்திரையைப் போல்</samp>
<span class="chordline"><b>Cm</b>       <b>F</b>                <b>F7</b>      <b>Bb</b> <b>Bb7</b> </span>
<samp charset="UTF-8" class="lyricline">பதித்துக்கொண்டீரே என் மணவாளனே </samp>
<span class="chordline"><b>Eb</b>       <b>F</b>                <b>F7</b>        <b>Bb</b>    </span>
<samp charset="UTF-8" class="lyricline">பதித்துக்கொண்டீரே என் மணவாளனே                    </samp>
<samp charset="UTF-8" class="lyricline">  -வாரீர்</samp>
<samp charset="UTF-8" class="lyricline">. </samp></div></div>   
        
     </div>