<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1388" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை காக்கக் கர்த்தர் உண்டு </samp>
<span class="chordline"><b>F7</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கருத்தாய் என்னை காப்பார் </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">இராப்பகல் கண்ணுரங்காமல் </samp>
<span class="chordline"> <b>C7</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணிப் போல காப்பார் </samp>
<span class="chordline">              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">என் கால்கள் கல்லில் இடறாமல் </samp>
<span class="chordline">                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூதர்கள் கொண்டு காப்பார் </samp>
<span class="chordline">               <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நான் படுத்து உரங்கினாலும் </samp>
<span class="chordline">                         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கண்ணுரங்காமல் காப்பார் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">பகல் நேரம் பறந்திடும் அம்பும் </samp>
<span class="chordline">                   <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">ஒன்றும் செய்ய முடியாதே </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">இராச்சாம பயங்கரத்தாலும் </samp>
<span class="chordline">                   <b>F</b>         <b>F7</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றும் சேய்ய முடியாதே  </samp>
<span class="chordline">             <b>Bb</b>         </span>
<samp charset="UTF-8" class="lyricline">இருளில் நடமாடும் கொள்ளை நோயும் </samp>
<span class="chordline">           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றும் செய்யாதே </samp>
<span class="chordline">            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">மத்தியான பாழாக்கும் சங்காரம் </samp>
<span class="chordline">          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றும் சேய்யாதே             </samp>
<samp charset="UTF-8" class="lyricline">  -என்னை காக்கக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">சிங்கத்தின் கெபியில் கூட </samp>
<span class="chordline">                   <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">பயந்திடவே நான் பயந்திட மாட்டேன் </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">தீவிரமாய் தீவிரித் என்னை </samp>
<span class="chordline">                   <b>F</b>         <b>F7</b> </span>
<samp charset="UTF-8" class="lyricline">காத்திட வந்திடும் தேவன் உண்டே   </samp>
<span class="blankline"></span>
<span class="chordline">              <b>Bb</b>         </span>
<samp charset="UTF-8" class="lyricline">அக்கினியின் சூழையில் நடுவில் </samp>
<span class="chordline">                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எரிந்திடவே நான் எரிந்திட மாட்டேன் </samp>
<span class="chordline">               <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கரத்திற்க்குள் மறைத்துக் கொண்டு</samp>
<span class="chordline">                    <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">கருத்தாய் காக்கும் தேவன் உண்டே</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை காக்க கர்த்தர் உண்டு             </samp>
<samp charset="UTF-8" class="lyricline">  -என்னை காக்கக்</samp></div></div>   
        
     </div>