<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1395" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் நல்லவர் என்பதில் சந்தேகமில்லை </samp>
<span class="chordline"><b>C</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பெரியவர் என்பதில் மாற்றமேயில்லை </samp>
<span class="chordline"><b>G</b>                                <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்தவர் என்பதில் மாற்றமில்லை </samp>
<span class="chordline"><b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கல்லறை திறந்தது உண்மை தான் </samp>
<span class="chordline"><b>Em</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உயிருடன் எழுந்ததும் உண்மை தான் </samp>
<span class="chordline"><b>C</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் சென்றது உண்மை தான் </samp>
<span class="chordline"><b>Em</b>                <b>D7</b>            </span>
<samp charset="UTF-8" class="lyricline">மீண்டும் வருவது உண்மை தான்</samp>
<samp charset="UTF-8" class="lyricline">   ...நீர் நல்லவர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காக சிலுவையில் மரித்ததும் உண்மை </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">காலாலே சாத்தானை மிதித்தது உன்மை </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தால் என்னை மீட்டதும் உண்மை </samp>
<span class="chordline"><b>C</b>                                      <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பை எனக்கு கொடுத்தது உண்மை </samp>
<span class="chordline"><b>C</b>                               <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">உண்மை தானே உண்மை தானே</samp>
<samp charset="UTF-8" class="lyricline">   ...நீர் நல்லவர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆதியில் வார்த்தையாய் இருந்தவர் நீரே </samp>
<span class="chordline"><b>C</b> </span>
<samp charset="UTF-8" class="lyricline">மாம்சத்தில் உலகில் வந்தவர் நீரே  </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேசங்கள் தேடிடும் பிரபலமும் நீரே </samp>
<span class="chordline"><b>C</b>                                      <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ராஜாக்கள் நடுங்கிடும் ராஜனும் நீரே </samp>
<span class="chordline"><b>C</b>                           <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஈடற்றவரே, இனையற்றவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...நீர் நல்லவர் </samp></div></div>   
        
     </div>