<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1400" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்னை தந்தேனே</samp>
<span class="chordline"><b>Bm</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்று தந்தேனே </samp>
<span class="chordline"><b>Em</b>        <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரின் சேவைக்கென்றே </samp>
<span class="chordline"><b>D</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அர்பணித்தேன் என்னை இன்றே </samp>
<span class="chordline"><b>D</b>                      <b>C</b>  <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">அன்பரின் சேவைக்கென்றே</samp>
<samp charset="UTF-8" class="lyricline">  -நான் என்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>Bm</b>         </span>
<samp charset="UTF-8" class="lyricline">ஆவி, ஆத்துமா </samp>
<span class="chordline"><b>G</b>        <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">சரீரமெல்லாம் </samp>
<span class="chordline"><b>Bm</b>         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் பாதத்தில் </samp>
<span class="chordline"><b>G</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அர்பணித்தேன்</samp>
<samp charset="UTF-8" class="lyricline">  -நான் என்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>Bm</b>        </span>
<samp charset="UTF-8" class="lyricline">என் பட்டங்கள், </samp>
<span class="chordline"><b>G</b>           <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">படிப்புகள் பதவியெல்லாம் </samp>
<span class="chordline"><b>Bm</b>         <b>F#m</b> </span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் பாதத்தில் </samp>
<span class="chordline"><b>G</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அர்பணித்தேன்</samp>
<samp charset="UTF-8" class="lyricline">  -நான் என்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>Bm</b>         </span>
<samp charset="UTF-8" class="lyricline">என் எண்ணங்கள், </samp>
<span class="chordline"><b>G</b>           <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">ஏக்கங்கள், நோக்கமெல்லாம்</samp>
<span class="chordline"><b>Bm</b>         <b>F#m</b> </span>
<samp charset="UTF-8" class="lyricline">ஆண்டவா ஆளுகை</samp>
<span class="chordline"><b>G</b>         <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">செய்திடுமே </samp>
<samp charset="UTF-8" class="lyricline">  -நான் என்னை</samp></div></div>   
        
     </div>