<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1404" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                              </span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா </samp>
<span class="chordline">               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வேறொன்ரும் இங்கு வேண்டாமைய்யா </samp>
<span class="chordline">                <b>G</b>                            </span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் கோடி செல்வமென்றாலும் </samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் மதிப்பிற்கு ஈடாகிடுமோ </samp>
<span class="chordline"><b>B</b>                            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா </samp>
<span class="chordline"><b>Em</b>    <b>D</b>       <b>C</b>       <b>B</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அழியும் உலக செல்வத்துக்காக</samp>
<span class="chordline"><b>G</b>                     <b>B</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அழியா செல்வத்தை விட்டு விடுவேனோ                    </samp>
<span class="chordline"><b>Em</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா </samp>
<span class="chordline"><b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் கோடி செல்வமென்றாலும் </samp>
<span class="chordline"><b>Am</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் மதிப்பிற்கு ஈடாகிடுமோ </samp>
<span class="chordline"><b>B</b>                          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா </samp>
<span class="chordline"><b>Em</b>    <b>C</b>       <b>D</b>       <b>B</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா</samp>
<samp charset="UTF-8" class="lyricline">   ...நீங்க மட்டும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தையை கெடுக்கும் மோகங்கள் வேண்டாம் </samp>
<span class="chordline"><b>G</b>                   <b>B</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையே உந்தன் அன்பே போதும்                    </samp>
<span class="chordline"><b>Em</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா </samp>
<span class="chordline"><b>Am</b>                 <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">சிற்றின்ப மோகம் வேண்டவே வேண்டாம்</samp>
<span class="chordline"><b>Am</b>                    <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">மகிமையின் மேகம் ஒன்றே போதும்</samp>
<span class="chordline"><b>B</b>                          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா </samp>
<span class="chordline"><b>Em</b>    <b>C</b>       <b>D</b>       <b>B</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க மட்டும் போதும் இயேசப்பா</samp></div></div>   
        
     </div>