<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1413" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜாவாக </samp>
<span class="chordline"><b>A</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அரசாளும் தேவனே </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை போன்ற </samp>
<span class="chordline"><b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் இல்லை </samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை போன்ற </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இல்லை </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ராஜ்யம், வல்லமை, </samp>
<span class="chordline"><b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமை உமதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">உலகில் உள்ள யாவற்றிற்கும் </samp>
<span class="chordline"><b>C#m</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சொந்தக்காரரே</samp>
<span class="chordline"><b>E</b>            <b>G#m</b>   </span>
<samp charset="UTF-8" class="lyricline">நதிகள் கூட கைகள் தட்டி </samp>
<span class="chordline"><b>A</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை பாடுதே </samp>
<samp charset="UTF-8" class="lyricline">   ...ராஜ்யம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">நீதியுள்ள ராஜாவாக  </samp>
<span class="chordline"><b>C#m</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆளும் தெய்வமே</samp>
<span class="chordline"><b>E</b>                   <b>G#m</b>    </span>
<samp charset="UTF-8" class="lyricline">இரக்கம், உருக்கம் தயவு யாவும் </samp>
<samp charset="UTF-8" class="lyricline">உம்மில் தான் உண்டே </samp>
<samp charset="UTF-8" class="lyricline">   ...ராஜ்யம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்க பாலகனாக </samp>
<span class="chordline"><b>C#m</b>        <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">மண்ணில் வந்தவரே</samp>
<span class="chordline"><b>E</b>            <b>G#m</b>    </span>
<samp charset="UTF-8" class="lyricline">உலகை ஆளும் ராஜாவாக </samp>
<samp charset="UTF-8" class="lyricline">மீண்டும் வருவீரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் கவலை கஷ்டம் </samp>
<span class="chordline"><b>C#m</b>        <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">யாவும் நீக்கி போட்டீரே</samp>
<span class="chordline"><b>E</b>              <b>G#m</b>    </span>
<samp charset="UTF-8" class="lyricline">சந்தோஷமும் சமாதானமும் </samp>
<span class="chordline"><b>A</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நிறைவாய் தந்தீரே </samp>
<samp charset="UTF-8" class="lyricline">   ...ராஜ்யம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                  <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜா இயேசுவே  </samp>
<span class="chordline">         <b>E</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தர் இயேசுவே </samp>
<span class="chordline">       <b>E</b>               <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் இயேசுவே </samp>
<span class="chordline">          <b>E</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மன்னாதி மன்னன் இயேசுவே </samp>
<span class="chordline">          <b>E</b>              <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணில் வந்தவர் இயேசுவே </samp>
<span class="chordline">           <b>E</b>                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை வென்றவர் இயேசுவே </samp>
<span class="chordline">          <b>E</b>                <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் சென்றவர் இயேசுவே </samp>
<span class="chordline">        <b>E</b>                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மீண்டும் வருவாரே இயேசுவே </samp></div></div>   
        
     </div>