<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1429" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                 </span>
<samp charset="UTF-8" class="lyricline">கிருபை மேலானதே </samp>
<span class="chordline">     <b>Am</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை மேலானதே </samp>
<span class="chordline">  <b>Am</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை மேலானதே </samp>
<span class="chordline">     <b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை மேலானதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனை பார்க்கிலும் </samp>
<span class="chordline">     <b>Am</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை மேலானதே </samp>
<span class="chordline">     <b>Am</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இவ்வாழ்க்கையை பார்க்கிலும் </samp>
<span class="chordline">     <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை மேலானதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">போக்கிலும் வரத்திலும் </samp>
<span class="chordline">     <b>Am</b>              <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">என்னை காத்தது கிருபையே </samp>
<span class="chordline">  <b>Am</b>             <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">கால்கள் இடறாமல் என்னை</samp>
<span class="chordline">   <b>D</b>              <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">காத்தது கிருபையே </samp>
<samp charset="UTF-8" class="lyricline">  ...கிருபை மேலானதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீன நேரங்களில் </samp>
<span class="chordline">     <b>Am</b>              <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை என் பெலனானதே </samp>
<span class="chordline">  <b>Am</b>             <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">சோர்வுற்ற நேரங்களில்</samp>
<span class="chordline">     <b>D</b>                 <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை என்னை தாங்கிற்றே </samp>
<samp charset="UTF-8" class="lyricline">  ...கிருபை மேலானதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கஷ்டத்தின் நேரங்களில் </samp>
<span class="chordline">     <b>Am</b>              <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை எனை காத்ததே</samp>
<span class="chordline">  <b>Am</b>             <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">கண்ணீரின் மத்தியிலும்</samp>
<span class="chordline">     <b>D</b>                 <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை எனை தேற்றுதே</samp>
<span class="chordline">     <b>D</b>              <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">  ...கிருபை மேலானதே</samp></div></div>   
        
     </div>