<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1432" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>         <b>E</b>  <b>D</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் உண்டு பெலன் உண்டு</samp>
<span class="chordline">           <b>E</b>   <b>D</b>         <b>E</b>  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் உண்டு உம் பாதத்தில் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>             <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேசிக்கிறேன் உம்மை தானே</samp>
<span class="chordline">           <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் தெய்வமே எனஇயேசுவே</samp>
<span class="chordline"><b>A</b>             <b>A7</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேசிக்கிறேன் உம்மை தானே</samp>
<span class="chordline">           <b>E</b>           <b>Asus4</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் தெய்வமே எனஇயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>E</b>    <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசம் உண்டு பாசம் உண்டு</samp>
<span class="chordline"><b>A</b>           <b>E</b>    <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கம் உண்டு உம் பாதத்தில்</samp>
<samp charset="UTF-8" class="lyricline">   ...நேசிக்கிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>E</b>    <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துக்கம் நீங்கும் துயரம் நீங்கும்</samp>
<span class="chordline"><b>A</b>           <b>E</b>    <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துன்பம் நீங்கும் உம் பாதத்தில்</samp>
<samp charset="UTF-8" class="lyricline">   ...நேசிக்கிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>E</b>    <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வியாதி நிங்கும் வறூமை நீங்கும்</samp>
<span class="chordline"><b>A</b>           <b>E</b>    <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாரம் நீங்கும் உம் பாதத்தில்</samp>
<samp charset="UTF-8" class="lyricline">   ...நேசிக்கிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>E</b>    <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கலமே அதிசயமே</samp>
<span class="chordline"><b>A</b>           <b>E</b>    <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அண்டிவந்தேன் உம் பாதமே</samp>
<samp charset="UTF-8" class="lyricline">   ...நேசிக்கிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>E</b>    <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்தவரே, உன்னதரே</samp>
<span class="chordline"><b>A</b>           <b>E</b>    <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை தானே போற்றுகிறோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...நேசிக்கிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>             <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உயர்துகிறோம் உம்மை தானே</samp>
<span class="chordline">           <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் தெய்வமே என இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">   ...நேசிக்கிறேன்</samp></div></div>   
        
     </div>