<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1437" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை கண்டவரே </samp>
<span class="chordline">        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னை காண்பவரே </samp>
<span class="chordline">         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என்னை காத்தவரே </samp>
<span class="chordline">         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை காப்பவரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline"><b>E</b>                      <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>C#m</b>                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>E</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                                            <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">பாவியாய் இருந்த என்னை கண்டுக்கொண்டவரே </samp>
<span class="chordline"><b>E</b>                   <b>C#m</b>          <b>F#m</b>    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பாசமாய் மார்போடு அணைத்துக் கொண்டீரே </samp>
<span class="chordline"> <b>B</b>                                          </span>
<samp charset="UTF-8" class="lyricline">நெருக்கத்தில் இருந்த என்னை தேடி வந்தீரே </samp>
<span class="chordline"> <b>F#m</b>               <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நெருங்கி அன்பாக சேர்த்துக் கொண்டீரே </samp>
<samp charset="UTF-8" class="lyricline">   ...அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                                        <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">கடந்த காலமெல்லாம் காத்துக் கொண்டீரே </samp>
<span class="chordline"><b>E</b>                   <b>C#m</b>          <b>F#m</b>    <b>B</b>  </span>
<samp charset="UTF-8" class="lyricline">வருகிற காலத்திலும் காத்துக் கொள்வீரே </samp>
<span class="chordline"><b>B</b>                                           </span>
<samp charset="UTF-8" class="lyricline">கொடுத்த வாக்குத்தத்தம் பூர்த்தி செய்தீரே</samp>
<span class="chordline"> <b>F#m</b>               <b>B</b>                <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">புதிய வாக்குறுதி கொடுத்து விட்டீரே </samp>
<samp charset="UTF-8" class="lyricline">   ...அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                                   <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளாடி நடந்த என்னை தேடி வந்தீரே </samp>
<span class="chordline"><b>E</b>                   <b>C#m</b>          <b>F#m</b>    <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">மதில்களை தாண்டும் படி தூக்கி விட்டீரே </samp>
<span class="chordline"><b>B</b>                                           </span>
<samp charset="UTF-8" class="lyricline">நெரிந்த நானலை போல வாழ்ந்து வந்தேனே</samp>
<span class="chordline"><b>F#m</b>               <b>B</b>                <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">எரியும் தீப்பிளம்பாய் மாற்றி விட்டீரே </samp>
<samp charset="UTF-8" class="lyricline">   ...அல்லேலூயா</samp></div></div>   
        
     </div>