<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1444" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">நீர் செய்த நன்மைகளை </samp>
<span class="chordline"><b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நினைக்கின்றேன் </samp>
<span class="chordline"><b>Em</b>            <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கருத்தோடு நன்றி சொல்கிறேன் </samp>
<span class="chordline"><b>B</b>                        </span>
<samp charset="UTF-8" class="lyricline">என் தாயின் கருவிலே </samp>
<span class="chordline">      <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் உருவான நாள் முதல் </samp>
<span class="chordline"> <b>Em</b>           <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாள்தோரும் காத்து வந்தீரே </samp>
<span class="chordline">    <b>B</b>         </span>
<samp charset="UTF-8" class="lyricline">என் நாசியாலே </samp>
<span class="chordline">     <b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் சுவாசித்த நாள் முதல் </samp>
<span class="chordline"> <b>Em</b>          <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாள்தோரும் காத்து வந்தீரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி பலி செலுத்தியே </samp>
<span class="chordline">        <b>C</b>          <b>D</b>          <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">நாதன் இயேசுவையே பாடுவேன் </samp>
<span class="chordline">       <b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கோடி நன்றி பலி செலுத்தியே </samp>
<span class="chordline">       <b>C</b>       <b>D</b>         <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தந்தவரை பாடுவேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>     </span>
<samp charset="UTF-8" class="lyricline">பாவியாக நான் வாழ்ந்து </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் செய்த நாட்களிலும் </samp>
<span class="chordline"><b>Em</b>           <b>C</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் காத்து வந்தீரே </samp>
<span class="chordline"><b>B</b>                                      </span>
<samp charset="UTF-8" class="lyricline">நான் உம்மை விட்டு தூரம் சென்று </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">துரோகம் செய்த நாட்களிலும் </samp>
<span class="chordline"><b>Em</b>           <b>C</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் காத்து வந்தீரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>     </span>
<samp charset="UTF-8" class="lyricline">நான் திக்கற்று, துணையின்றி </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">திகைத்திட்ட நேரத்தில் </samp>
<span class="chordline"><b>Em</b>           <b>C</b>           <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">துணையாக தேடி வந்தீரே </samp>
<span class="chordline"><b>B</b>                               </span>
<samp charset="UTF-8" class="lyricline">நான் துக்கத்தால் மனம் நொந்து</samp>
<span class="chordline"><b>C</b> </span>
<samp charset="UTF-8" class="lyricline">மடிகின்ற நேரத்தில் </samp>
<span class="chordline"><b>Em</b>                    <b>C</b>           <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">மகன்(மகள்) என்னை தேடி வந்தீரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>     </span>
<samp charset="UTF-8" class="lyricline">நான் மனதார நேசித்த</samp>
<span class="chordline"><b>C</b> </span>
<samp charset="UTF-8" class="lyricline">மனிதர்கள் மறந்தாலும் </samp>
<span class="chordline"><b>Em</b>           <b>C</b>           <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">மறவாத நேசர் நீர் ஐய்யா </samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">சூழ்நிலைகள் மாறிட்டாலும்</samp>
<span class="chordline"><b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">மாறிடா உம் கிருபையாலே</samp>
<span class="chordline"><b>Em</b>                <b>C</b>           <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் தாங்கினீர் ஐய்யா </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">நீர் செய்த நன்மைகளை </samp>
<span class="chordline">       <b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் நினைத்து பார்க்கிறேன்  </samp>
<span class="chordline"><b>Em</b>            <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கருத்தோடு நன்றி சொல்கிறேன் </samp>
<span class="chordline"><b>B</b>                        </span>
<samp charset="UTF-8" class="lyricline">என் தாயின் கருவிலே </samp>
<span class="chordline">      <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் உருவான நாள் முதல் </samp>
<span class="chordline"> <b>Em</b>           <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாள்தோரும் காத்து வந்தீரே </samp>
<span class="chordline">    <b>B</b>         </span>
<samp charset="UTF-8" class="lyricline">என் நாசியாலே </samp>
<span class="chordline">     <b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் சுவாசித்த நாள் முதல் </samp>
<span class="chordline"> <b>Em</b>          <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாள்தோரும் காத்து வந்தீரே </samp></div></div>   
        
     </div>