<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1506" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கூட வருவார்                                                                                </samp>
<span class="chordline">            <b>F</b>              <b>Gm</b>                          </span>
<samp charset="UTF-8" class="lyricline">எல்லாவித அற்புதம் செய்வார்</samp>
<span class="chordline">                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தந்தான தந்தனத் தானானா  </samp>
<span class="chordline"><b>F</b>                       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தந்தான தந்தனத் தானானா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>         <b>Bb</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நோய்கள் பேய்கள் ஓட்டிடுவார்</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நொந்து போன உள்ளத்தை தேற்றிடுவார் </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு கூட</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>         <b>Bb</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வேதனை துன்பம் நீக்கிடுவார்</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சமாதானம் சந்தோஷம் எனக்குத் தருவார் </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு கூட</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                <b>Bb</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கடன் தொல்லை கஷ்டங்கள் நீக்கிடுவார்</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர்கள் அனைத்தையும் துடைத்திடுவார் </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு கூட</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                   <b>Bb</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எடுத்த காரியத்தில் வெற்றி பெறுவேன்</samp>
<span class="chordline"><b>Gm</b>                                             </span>
<samp charset="UTF-8" class="lyricline">எதிரியான சாத்தானை முறியடிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு கூட</samp></div></div>   
        
     </div>