<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1508" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>          <b>Eb</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே கலங்காதே</samp>
<span class="chordline"><b>Cm</b>                                   </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் உன்னைக் கைவிடமாட்டார் </samp>
<span class="chordline">             <b>Eb</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே  கலங்காதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">முள்முடி உனக்காக</samp>
<span class="chordline">                  <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தமெல்லாம் உனக்காக </samp>
<span class="chordline"><b>Cm</b>                      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்களை அறிக்கையிடு</samp>
<span class="chordline">               <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாகி விடு - நீ</samp>
<span class="chordline"><b>Eb</b>             <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாகி விடு </samp>
<samp charset="UTF-8" class="lyricline">   ...கலங்காதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி மலைமேலே</samp>
<span class="chordline">                  <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">காயப்பட்ட இயேசுவைப் பார் </samp>
<span class="chordline">               <b>Cm</b>                                                            </span>
<samp charset="UTF-8" class="lyricline">கரம் விரித்து அழைக்கின்றார்</samp>
<span class="chordline"><b>Eb</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரோடு ஓடி வா  நீ </samp>
<samp charset="UTF-8" class="lyricline">   ...கலங்காதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் உடன் இருந்து</samp>
<span class="chordline">                  <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கரம்பிடித்து நடத்திச் செல்வார் </samp>
<span class="chordline">               <b>Cm</b>                                                        </span>
<samp charset="UTF-8" class="lyricline">கண்ணீரெல்லாம் துடைப்பார்</samp>
<span class="chordline"><b>Eb</b>                         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணி போல் காத்திடுவார்  உன்னை  </samp>
<samp charset="UTF-8" class="lyricline">   ...கலங்காதே                                         </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உலகத்தின் வெளிச்சம் நீ</samp>
<span class="chordline">        <b>Eb</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எழுந்து ஒளி வீசு</samp>
<span class="chordline">                   <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">மலைமேல் உள்ள பட்டணம்  தம்பி (நீ)</samp>
<span class="chordline"><b>Eb</b>                  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">மறைவாக இருக்காதே  </samp>
<samp charset="UTF-8" class="lyricline">   ...கலங்காதே                                                                         </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உலகம் உன்னை வெறுத்திடலாம்</samp>
<span class="chordline">                  <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உற்றார் உன்னைத் துரத்திடலாம்</samp>
<samp charset="UTF-8" class="lyricline">உன்னை அழைத்தவரோ</samp>
<span class="chordline"><b>Eb</b>                      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளங்கையில் ஏந்திடுவார்   </samp>
<samp charset="UTF-8" class="lyricline">   ...கலங்காதே                                                            </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உன் நோய்கள் சுமந்து கொண்டார்</samp>
<span class="chordline">                        <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உன் பிணிகள் ஏற்றுக் கொண்டார்</samp>
<span class="chordline">               <b>Cm</b>                                                     </span>
<samp charset="UTF-8" class="lyricline">நீ சுமக்கக் தேவையில்லை</samp>
<span class="chordline"><b>Eb</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசி அது போதும் </samp>
<samp charset="UTF-8" class="lyricline">   ...கலங்காதே </samp></div></div>   
        
     </div>