<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1510" class="song songcont"><div class="songpre"><span class="chordline"><b>Eb</b>                   <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு ராஜாவுக்கே</samp>
<span class="chordline"><b>Bb7</b>                   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் ஸ்தோத்திரம்</samp>
<span class="chordline">                      <b>Bb</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னோடு வாழ்பவர்க்கே</samp>
<span class="chordline"><b>Bb7</b>                  <b>Eb</b>    </span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் ஸ்தோத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>            <b>Bb</b>           <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாவே நீர் செய்த நன்மைகளை</samp>
<span class="chordline"><b>Eb</b>         <b>Bb</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நித்தமும் நினைக்கிறேன்</samp>
<span class="chordline"><b>Eb</b>        <b>Ab</b>                <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">முழு உள்ளத்தோடு உம் நாமம்</samp>
<span class="chordline"><b>Bb7</b>           <b>Eb</b>     </span>
<samp charset="UTF-8" class="lyricline">பாடிப் புகழுவேன் - 2  நான்</samp>
<samp charset="UTF-8" class="lyricline"> ...என் இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>            <b>Bb</b>           <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கப்பட்டேன் தள்ளப்பட்டேன்</samp>
<span class="chordline"><b>Eb</b>         <b>Bb</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நேசர் நீர் அணைத்தீரே</samp>
<span class="chordline"><b>Eb</b>        <b>Ab</b>           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடப்பட்டு கதறினேன்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நீர் தேற்றினீர் (ஆ.....ஆ)  </samp>
<samp charset="UTF-8" class="lyricline"> ...என் இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>            <b>Bb</b>           <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">இனி நான் வாழ்வது உமக்காக</samp>
<span class="chordline"><b>Eb</b>         <b>Bb</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உமது மகிமைக்காக</samp>
<span class="chordline"><b>Eb</b>            <b>Ab</b>                <b>Eb</b>                                                                                 </span>
<samp charset="UTF-8" class="lyricline">உம் அன்பை எடுத்துச் சொல்லவேன்</samp>
<samp charset="UTF-8" class="lyricline">ஓயாமல் பாடுவேன்  நான் </samp>
<samp charset="UTF-8" class="lyricline"> ...என் இயேசு                                                                </samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>            <b>Bb</b>           <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் அனைத்தும் மன்னித்தீரே</samp>
<span class="chordline"><b>Eb</b>         <b>Bb</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நோய்களை சுகமாக்கினீர்</samp>
<span class="chordline"><b>Eb</b>        <b>Ab</b>                <b>Eb</b>   </span>
<samp charset="UTF-8" class="lyricline">எனது ஜீவனை அழிவில் நின்று</samp>
<span class="chordline"><b>Bb7</b>              <b>Eb</b>     </span>
<samp charset="UTF-8" class="lyricline">காத்து இரட்சித்தீரே (ஆ.....ஆ) </samp>
<samp charset="UTF-8" class="lyricline"> ...என் இயேசு </samp>
<span class="blankline"></span></div></div>   
        
     </div>