<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1513" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>            <b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் பிரிந்து </samp>
<span class="chordline">               <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">வாழ முடியாதையா</samp>
<span class="chordline">                    <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா இயேசையா (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>         <b>Eb</b>        <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">திராட்சை செடியின் கொடியாக</samp>
<span class="chordline">         <b>Eb</b>           <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">உம்மில் நிலைத்திருப்பேன்</samp>
<span class="chordline">             <b>D</b>       <b>Eb</b> </span>
<samp charset="UTF-8" class="lyricline">மிகுந்த கனி கொடுப்பேன் </samp>
<span class="chordline"><b>Cm</b>         <b>Gsus4</b>  <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">உம் சீடனாயிருப்பேன் -2 நான்    </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைப் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>         <b>Eb</b>        <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">முன்னும் பின்னும் என்னை நெருக்கி</samp>
<span class="chordline">        <b>Eb</b>           <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">உம் கரம் வைக்கின்றீர்</samp>
<span class="chordline">                     <b>D</b>          <b>Eb</b> </span>
<samp charset="UTF-8" class="lyricline">உமக்கு மறைவாய் எங்கே போவேன் </samp>
<span class="chordline"><b>Cm</b>              <b>Gsus4</b>      <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">உம்மை விட்டு எங்கே ஓடுவேன்  நான்   </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைப் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>         <b>Eb</b>        <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">பகைவர்கள் ஆயிரம் பேசட்டுமே</samp>
<span class="chordline">        <b>Eb</b>           <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">பயந்து போக மாட்டேன்</samp>
<span class="chordline">               <b>D</b>            <b>Eb</b> </span>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் ஆயிரம் சூழ்ந்தாலும் </samp>
<span class="chordline"><b>Cm</b>        <b>Gsus4</b>      <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">சோர்ந்து போகமாட்டேன்  நான்   </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைப் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>         <b>Eb</b>        <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">நடந்தாலும் படுத்திருந்தாலும்</samp>
<span class="chordline">         <b>Eb</b>           <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">என்னை சூழ்ந்து உள்ளீர்</samp>
<span class="chordline">                      <b>D</b>       <b>Eb</b> </span>
<samp charset="UTF-8" class="lyricline">என் வழிகளெல்லாம் நீர் அறிவீர் </samp>
<span class="chordline"><b>Cm</b>         <b>Gsus4</b>  <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">எல்லாம் உம் கிருபை  ஐயா   </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைப் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>         <b>Eb</b>        <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாவே என்னை ஆராய்ந்து</samp>
<span class="chordline">        <b>Eb</b>         <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">அறிந்து இருக்கின்றீர்</samp>
<span class="chordline">                    <b>D</b>       <b>Eb</b> </span>
<samp charset="UTF-8" class="lyricline">உட்காருதலையும் எழுதலையும் </samp>
<span class="chordline"><b>Cm</b>         <b>Gsus4</b>  <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">அறிந்து இருக்கின்றீர்   </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைப் </samp></div></div>   
        
     </div>