<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1515" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>        <b>C</b>  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் ஆனந்தம்</samp>
<span class="chordline">             <b>Db</b>      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு தருகிறார்</samp>
<span class="chordline">             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்பேன் துதிப்பேன்</samp>
<span class="chordline"><b>Db</b>         <b>Eb</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">துதித்துக் கொண்டேயிருப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆனந்தமே </samp>
<span class="chordline"><b>Eb</b>             <b>Ab</b>      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆனந்தமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                    <b>C7</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதர் மறைவில் வல்லவர் நிழலில்</samp>
<span class="chordline"><b>Eb</b>       <b>Db</b>     <b>Fm</b>   </span>
<samp charset="UTF-8" class="lyricline">என்றும் தங்குவேன்</samp>
<span class="chordline"><b>Bbm</b>        <b>Eb</b>      <b>Bbm</b>          <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">தேவனை நோக்கி அடைக்கலப் பாறை</samp>
<span class="chordline"><b>Db</b>      <b>Eb</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என்றே சொல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என்றும் ஆனந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>              <b>C7</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தமது சிறகால் என்னை மூடி</samp>
<span class="chordline"><b>Eb</b>       <b>Db</b>     <b>Fm</b>   </span>
<samp charset="UTF-8" class="lyricline">காத்து நடத்துவார்</samp>
<span class="chordline"><b>Bbm</b>        <b>Eb</b>      <b>Bbm</b>          <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">அவரது வசனம் ஆவியின் பட்டயம்</samp>
<span class="chordline"><b>Db</b>     <b>Eb</b>   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">எனது கேடகம்</samp>
<samp charset="UTF-8" class="lyricline">   ...என்றும் ஆனந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                    <b>C7</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">வழிகளிலெல்லாம் என்னைக் காக்க</samp>
<span class="chordline"><b>Eb</b>         <b>Db</b>     <b>Fm</b>   </span>
<samp charset="UTF-8" class="lyricline">தூதர்கள் எனக்குண்டு</samp>
<span class="chordline"><b>Bbm</b>        <b>Eb</b>      <b>Bbm</b>          <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">பாதம் கல்லில் மோதாமல் காத்து</samp>
<span class="chordline"><b>Db</b>      <b>Eb</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கரங்களில் ஏந்துவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...என்றும் ஆனந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                    <b>C7</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சிங்கத்தின் மேலும் பாம்பின் மேலும்</samp>
<span class="chordline"><b>Eb</b>         <b>Db</b>     <b>Fm</b>   </span>
<samp charset="UTF-8" class="lyricline">நடந்தே செல்லுவேன்</samp>
<span class="chordline"><b>Bbm</b>        <b>Eb</b>      <b>Bbm</b>          <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">சாத்தானின் சகல வலிமையை வெல்ல</samp>
<span class="chordline"><b>Db</b>       <b>Eb</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாரம் எனக்குண்டு</samp>
<samp charset="UTF-8" class="lyricline">   ...என்றும் ஆனந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                    <b>C7</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இரவின் பயங்கரம் பகலின் அம்பு</samp>
<span class="chordline"><b>Eb</b>        <b>Db</b>     <b>Fm</b>   </span>
<samp charset="UTF-8" class="lyricline">எதற்கும் பயமில்லை</samp>
<span class="chordline"><b>Bbm</b>        <b>Eb</b>      <b>Bbm</b>          <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">உன்னத தேவன் எனது அடைக்கலம்</samp>
<samp charset="UTF-8" class="lyricline">தங்கும் உறைவிடம்</samp>
<samp charset="UTF-8" class="lyricline">   ...என்றும் ஆனந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                    <b>C7</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தேவனைச் சார்ந்து வாழ்கின்ற எனக்கு</samp>
<span class="chordline"><b>Eb</b>       <b>Db</b>     <b>Fm</b>   </span>
<samp charset="UTF-8" class="lyricline">என்றும் விடுதலை</samp>
<span class="chordline"><b>Bbm</b>      <b>Eb</b>      <b>Bbm</b>        <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">அவரது நாமம் அறிந்த எனக்கு</samp>
<span class="chordline"><b>Db</b>      <b>Eb</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அவரே அடைக்கலம்</samp>
<samp charset="UTF-8" class="lyricline">   ...என்றும் ஆனந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                   <b>C7</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆபத்து நேரம் கூப்பிடும் எனக்கு</samp>
<span class="chordline"><b>Eb</b>       <b>Db</b>     <b>Fm</b>   </span>
<samp charset="UTF-8" class="lyricline">என்றும் பதிலுண்டு</samp>
<span class="chordline"><b>Bbm</b>         <b>Eb</b>       <b>Bbm</b>            <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னோடு இருந்து விடுதலை கொடுத்து</samp>
<span class="chordline"><b>Db</b>      <b>Eb</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என்னை உயர்த்துவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...என்றும் ஆனந்தம்</samp></div></div>   
        
     </div>