<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1517" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உதவி வரும் கன்மலை </samp>
<span class="chordline">          <b>C</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கிப் பார்க்கின்றேன்</samp>
<span class="chordline">                                 <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">வானமும் வையமும் படைத்தவரை</samp>
<span class="chordline">      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் பார்க்கின்றேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">கால்கள் தள்ளாட விடமாட்டார்</samp>
<span class="chordline"><b>Am</b>           <b>D7</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">காக்கும் தேவன் உறங்கமாட்டார்</samp>
<span class="chordline">            <b>D</b>    <b>D7</b>     <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேலைக் காக்கிறவர்</samp>
<span class="chordline"><b>D</b>      <b>B7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் தூங்க மாட்டார்</samp>
<samp charset="UTF-8" class="lyricline">   ...உதவி வரும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என்னைக் காக்கின்றார்</samp>
<span class="chordline"><b>Am</b>           <b>D7</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">எனது நிழலாய் இருக்கின்றார்</samp>
<span class="chordline">            <b>D</b>    <b>D7</b>     <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">பகலினிலும் இரவினிலும்</samp>
<samp charset="UTF-8" class="lyricline">பாதுகாக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">   ...உதவி வரும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் எல்லாத் தீங்கிற்கும்</samp>
<span class="chordline"><b>Am</b>            <b>D7</b>    <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">விலக்கி என்னைக் காத்திடுவார்</samp>
<span class="chordline">            <b>D</b>    <b>D7</b>     <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">அவர் எனது ஆத்துமாவை</samp>
<span class="chordline"><b>D</b>      <b>B7</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அநுதினம் காத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...உதவி வரும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">போகும் போதும் காக்கின்றார்</samp>
<span class="chordline"><b>Am</b>           <b>D7</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">திரும்பும் போதும் காக்கின்றார்</samp>
<span class="chordline">        <b>D</b>    <b>D7</b>     <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">இப்போதும் எப்போதும்</samp>
<span class="chordline"><b>D</b>     <b>B7</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் காக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">   ...உதவி வரும் </samp></div></div>   
        
     </div>