<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1519" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>          </span>
<samp charset="UTF-8" class="lyricline">நடனமாடி ஸ்தோத்தரிப்பேன்                                                                     </samp>
<span class="chordline"><b>D</b>      <b>Asus4</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நாதா நான் உம்மைத் துதிப்பேன்</samp>
<span class="chordline"><b>D</b>          <b>D6</b>    <b>D11</b></span>
<samp charset="UTF-8" class="lyricline">கைத்தாள ஓசையுடன்                                                                                 </samp>
<span class="chordline"><b>Asus4</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தா நான் உம்மைத் துதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Asus4</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காண்பவரே காப்பவரே </samp>
<span class="chordline"><b>A</b>         <b>G</b>       <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">கருணை உள்ளவரே</samp>
<span class="chordline"><b>G</b>     <b>A</b>         <b>Esus4</b>      <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் வழி நடத்தும்</samp>
<span class="chordline"><b>Asus4</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலையே ஸ்தோத்திரம்  ஐயா</samp>
<samp charset="UTF-8" class="lyricline">   ...நடனமாடி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Asus4</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவரே நல்லவரே  </samp>
<span class="chordline"><b>A</b>         <b>G</b>       <b>D</b>                                                                                 </span>
<samp charset="UTF-8" class="lyricline">கிருபை உள்ளவரே</samp>
<span class="chordline"><b>G</b>     <b>A</b>         <b>Esus4</b>      <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">வரங்களெல்லாம் தருபவரே </samp>
<span class="chordline"><b>Asus4</b>                   <b>D</b>                                                                        </span>
<samp charset="UTF-8" class="lyricline">வாழ்வது உமக்காக  ஐயா</samp>
<samp charset="UTF-8" class="lyricline">   ...நடனமாடி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Asus4</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவரே உம்மைப் </samp>
<span class="chordline"><b>A</b>         <b>G</b>       <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">பிரிந்து யாரிடத்தில் போவோம் </samp>
<span class="chordline"><b>G</b>     <b>A</b>         <b>Esus4</b>      <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">வாழ்வு தரும் வசனமெல்லாம்</samp>
<span class="chordline"><b>Asus4</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மிடம்தான் உண்டு  ஐயா </samp>
<samp charset="UTF-8" class="lyricline">   ...நடனமாடி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Asus4</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமே அதிசயமே </samp>
<span class="chordline"><b>A</b>         <b>G</b>       <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">ஆலோசனைக் கர்த்தரே</samp>
<span class="chordline"><b>G</b>     <b>A</b>         <b>Esus4</b>      <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">அண்டி வந்தோம் ஆறுதலே</samp>
<span class="chordline"><b>Asus4</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கலமானவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...நடனமாடி</samp></div></div>   
        
     </div>