<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1522" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>              <b>D</b>     <b>A</b>  </span>
<samp charset="UTF-8" class="lyricline">தேவனே ஆராதிக்கின்றேன்</samp>
<span class="chordline"><b>Bm</b>          <b>E</b> <b>Fdim</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தெய்வமே ஆராதிக்கின்றேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>F#m</b>   <b>E</b>  <b>Fdim</b>    </span>
<samp charset="UTF-8" class="lyricline">அதிகாலையில் ஆராதிக்கின்றேன்</samp>
<span class="chordline"><b>A</b>        <b>Bsus4</b>        <b>Fdim</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த சத்தத்தோடு ஆராதிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>F#m</b>   <b>E</b>  <b>Fdim</b> </span>
<samp charset="UTF-8" class="lyricline">கன்மலையே ஆராதிக்கின்றேன் </samp>
<span class="chordline"><b>A</b>      <b>Bsus4</b>    <b>Fdim</b>        <b>A</b>                                                    </span>
<samp charset="UTF-8" class="lyricline">காண்பவரே ஆராதிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>F#m</b>   <b>E</b>  <b>Fdim</b> </span>
<samp charset="UTF-8" class="lyricline">முழுமனதோடு ஆராதிக்கின்றேன்</samp>
<span class="chordline"><b>A</b>          <b>Bsus4</b>        <b>Fdim</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">முழந்தாள் படியிட்டு ஆராதிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>F#m</b>   <b>E</b>  <b>Fdim</b> </span>
<samp charset="UTF-8" class="lyricline">யேகோவாயீரே ஆராதிக்கின்றேன்</samp>
<span class="chordline"><b>A</b>     <b>Bsus4</b>         <b>Fdim</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாமே பார்த்துக் கொள்வீர்  </samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>F#m</b>   <b>E</b>  <b>Fdim</b>                                                        </span>
<samp charset="UTF-8" class="lyricline">யேகோவாநிசி ஆராதிக்கின்றேன்</samp>
<span class="chordline"><b>A</b>   <b>Bsus4</b>   <b>Fdim</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் வெற்றி தருவீர்     </samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>          <b>F#m</b>   <b>E</b>  <b>Fdim</b>                                                             </span>
<samp charset="UTF-8" class="lyricline">யேகோவாஷாலோம் ஆராதிக்கின்றேன்</samp>
<span class="chordline"><b>A</b>   <b>Bsus4</b>    <b>Fdim</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் சமாதானமே     </samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே </samp></div></div>   
        
     </div>