<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1524" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>           <b>Asus4</b></span>
<samp charset="UTF-8" class="lyricline">பயப்படமாட்டேன்     </samp>
<span class="chordline">      <b>D</b>        </span>
<samp charset="UTF-8" class="lyricline">நான் பயப்படமாட்டேன்</samp>
<span class="chordline"><b>A</b>                   <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">இயேசு என்னோடு இருப்பதனால்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">ஏலேலோ ஐலசா                                                                                     </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">உதவி செய்கிறார், பெலன் தருகிறார் </samp>
<span class="chordline"><b>G</b>                    <b>A</b>           <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் கூட வருகிறார்</samp>
<span class="chordline"><b>G</b>              <b>A</b>    <b>A7</b>           <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் கூட வருகிறார்</samp>
<samp charset="UTF-8" class="lyricline">   ...பயப்படமாட்டேன்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">காற்று வீசட்டும் கடல் பொங்கட்டும் </samp>
<span class="chordline"><b>G</b>                    <b>A</b>           <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">எனது நங்கூரம் இயேசு இருக்கிறார் </samp>
<samp charset="UTF-8" class="lyricline">   ...பயப்படமாட்டேன்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வலைகள் வீசுவோம், மீன்களைப் பிடிப்போம் </samp>
<span class="chordline"><b>G</b>                    <b>A</b>           <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாக்களை அறுவடை செய்வோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பயப்படமாட்டேன்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெலப்படுத்துகிற கிறிஸ்துவினாலே  </samp>
<span class="chordline"><b>G</b>                    <b>A</b>           <b>D</b>                                                    </span>
<samp charset="UTF-8" class="lyricline">எல்லாவற்றையும் செய்ய பெலன் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">   ...பயப்படமாட்டேன்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரம அழைத்தலின் பந்தய பொருளுக்காய் </samp>
<span class="chordline"><b>G</b>                    <b>A</b>           <b>D</b>                                        </span>
<samp charset="UTF-8" class="lyricline">இலக்கை நோக்கி நாம் படகை ஓட்டுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பயப்படமாட்டேன்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">உலகில் இருக்கிற அலகையைவிட </samp>
<span class="chordline"><b>G</b>                    <b>A</b>           <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">என்னில் இருப்பவர் மிகவும் பெரியவர்</samp>
<samp charset="UTF-8" class="lyricline">   ...பயப்படமாட்டேன்  </samp></div></div>   
        
     </div>