<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1530" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">எத்தனை நன்மைகள் </samp>
<span class="chordline">               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குச் செய்தீர்</samp>
<span class="chordline"><b>C</b>                      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நன்றி சொல்வேன்  நான்                                                        </samp>
<span class="chordline"><b>C</b>      <b>G7</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நன்றி சொல்வேன்</samp>
<span class="chordline"><b>C</b>                      <b>Gsus4</b> </span>
<samp charset="UTF-8" class="lyricline">நன்றி ராஜா... நன்றி ராஜா..(4)</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>                <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்மையில் இருந்தேன் தயவாய் நினைத்தீர்</samp>
<span class="chordline"><b>Bb</b>              <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உம்மை துதிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>            <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீனன் என்று தள்ளி விடாமல்</samp>
<span class="chordline"><b>Bb</b>              <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெலத்தால் இடைக் கட்டினீர் </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>            <b>F</b>        <b>C</b>                                                             </span>
<samp charset="UTF-8" class="lyricline">பாவத்தினாலே மரித்துப் போய் இருந்தேன்</samp>
<span class="chordline"><b>Bb</b>          <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையால் இரட்சித்தீரே  </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>            <b>F</b>        <b>C</b>                                                                 </span>
<samp charset="UTF-8" class="lyricline">எனக்காக மரித்தீர் எனக்காக உயிர்த்தீர்</samp>
<span class="chordline"><b>Bb</b>           <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் மீண்டும் வருவீர் </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>            <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கரங்களைப் பிடித்து கண்மணி போல</samp>
<span class="chordline"><b>Bb</b>       <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் காத்தீர்   </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>            <b>F</b>        <b>C</b>                                                                       </span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் போக்கி சாபங்கள் நீக்கி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>     <b>F</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பூரண சுகமாக்கினீர் </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>            <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">முள்முடி தாங்கி திரு இரத்தம் சிந்தி</samp>
<span class="chordline"><b>Bb</b>            <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை ஜெயித்துவிட்டீர் </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C</b>            <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீர் செய்த அதிசயம் ஆயிரம் உண்டு </samp>
<span class="chordline"><b>Bb</b>        <b>F</b>           <b>C</b>                                                </span>
<samp charset="UTF-8" class="lyricline">விவரிக்க முடியாதையா </samp>
<samp charset="UTF-8" class="lyricline">   ... எத்தனை</samp></div></div>   
        
     </div>