<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1532" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நான் இயேசுவின் பிள்ளை</samp>
<samp charset="UTF-8" class="lyricline">பயமே இல்லை</samp>
<span class="chordline"><b>A</b>          <b>B7</b>        <b>E</b>   </span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் சந்தோஷமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">தெரிந்து கொண்டார் தெரிந்து கொண்டார்</samp>
<span class="chordline">                 <b>B7</b>                <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">மகனாக மகளாக தெரிந்து கொண்டார்                                            </samp>
<samp charset="UTF-8" class="lyricline">   ...நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கழுவப்பட்டேன் கழுவப்பட்டேன்</samp>
<span class="chordline">                   <b>B7</b>                 <b>E</b>                                                        </span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் இரத்ததாலே கழுவப்பட்டேன்                                            </samp>
<samp charset="UTF-8" class="lyricline">   ...நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">வென்று விட்டேன் வென்று விட்டேன்</samp>
<span class="chordline">                 <b>B7</b>                <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">எதிரியின் தடைகளை வென்று விட்டேன்                                            </samp>
<samp charset="UTF-8" class="lyricline">   ...நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பப்பட்டேன் நிரப்பப்பட்டேன்</samp>
<span class="chordline">                  <b>B7</b>                <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">ஆவியின் வல்லமையால் நிரப்பப்பட்டேன்                                            </samp>
<samp charset="UTF-8" class="lyricline">   ...நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">சுகமானேன் சுகமானேன்</samp>
<span class="chordline">                 <b>B7</b>                <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் காயங்களால் சுகமானேன்                                            </samp>
<samp charset="UTF-8" class="lyricline">   ...நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">முறியடிப்பேன் முறியடிப்பேன்</samp>
<span class="chordline">                 <b>B7</b>                <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">எதிரான ஆயுதத்தை முறியடிப்பேன்                                             </samp>
<samp charset="UTF-8" class="lyricline">   ...நான்</samp>
<span class="blankline"></span></div></div>   
        
     </div>