<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1545" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு பாதம் எனக்குப் போதும்</samp>
<span class="chordline"><b>C</b>             <b>G7</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்த நாளும் ஆனந்தமே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் அமர்ந்து கண்ணீர் சிந்தி </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">கதறி அழுதிடுவேன்  நான் </samp>
<span class="chordline"><b>G7</b>             <b>C</b>        </span>
<samp charset="UTF-8" class="lyricline">கதறி அழுதிடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரவும் பகலும் வேதவசனம்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தியானம் செய்திடுவேன்  நான்  </samp>
<span class="chordline"><b>G7</b>             <b>C</b>                                                               </span>
<samp charset="UTF-8" class="lyricline">தியானம் செய்திடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காத்திருந்து பெலனடைந்து</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">கழுகைப் போல் பறப்பேன்  நான்  </samp>
<span class="chordline"><b>G7</b>             <b>C</b>                                                       </span>
<samp charset="UTF-8" class="lyricline">கழுகைப் போல் பறப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கசந்த மாரா மதுரமாகும்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">எகிப்து அகன்றிடுமே கொடிய  </samp>
<span class="chordline"><b>G7</b>             <b>C</b>                                                          </span>
<samp charset="UTF-8" class="lyricline">எகிப்து அகன்றிடுமே  </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னை விட்டு எடுபடாத</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல பங்கு இது  -எனக்கு  </samp>
<span class="chordline"><b>G7</b>             <b>C</b>                                                                              </span>
<samp charset="UTF-8" class="lyricline">நல்ல பங்கு இது </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எதை நினைத்தும் கலங்கமாட்டேன்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் துதித்திடுவேன் - நான் </samp>
<span class="chordline"><b>G7</b>             <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">என்றும் துதித்திடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசு</samp></div></div>   
        
     </div>