<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1546" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>                      <b>G</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் கிருபை உனக்குப் போதும்</samp>
<span class="chordline">                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பலவீனத்தில் என் பெலமோ</samp>
<span class="chordline">   <b>D</b>               <b>G</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூரணமாய் விளங்கும்                                                                    </samp>
<samp charset="UTF-8" class="lyricline"> .</samp>
<span class="chordline">   <b>D</b>        <b>D7</b>            <b>G</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">1. பயப்படாதே உன்னை மீட்டுக் கொண்டேன்</samp>
<span class="chordline"><b>F#</b>          <b>G</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கே நீ சொந்தம்</samp>
<span class="chordline"><b>G</b>                <b>D</b>                <b>Em</b>   <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">பெயரிட்டு நான் உன்னை அழைத்தேன்</samp>
<span class="chordline">                 <b>G</b>  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கே நீ சொந்தம்                                                                            </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உலகத்திலே துயரம் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">திடன் கொள் என் மகனே</samp>
<samp charset="UTF-8" class="lyricline">கல்வாரி சிலுவையினால்</samp>
<samp charset="UTF-8" class="lyricline">உலகத்தை நான் ஜெயித்தேன்                                                  </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உனக்கெதிரான ஆயுதங்கள்</samp>
<samp charset="UTF-8" class="lyricline">வாய்க்காதே போகும்                                                                       </samp>
<samp charset="UTF-8" class="lyricline">இருக்கின்ற பெலத்தோடு</samp>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து போராடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. எல்லா வகையிலும் நெருக்கப்பட்டும்</samp>
<samp charset="UTF-8" class="lyricline">ஒடுங்கி நீ போவதில்லை</samp>
<samp charset="UTF-8" class="lyricline">கலங்கினாலும் மனம் முறிவதில்லை</samp>
<samp charset="UTF-8" class="lyricline">கைவிடப் படுவதில்லை </samp></div></div>   
        
     </div>