<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1548" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>             <b>F#</b>   <b>Bm</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புதிய பாடல் பாடி பாடி இயேசு</samp>
<span class="chordline"><b>A</b>            <b>D</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாவைக் கொண்டாடுவோம்</samp>
<span class="chordline">         <b>Em</b>      <b>C</b>    <b>A</b>    <b>G</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்து பாடல் பாடி பாடி இயேசு</samp>
<span class="chordline">       <b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாவைக் கொண்டாடுவோம்                                                           </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கழுவினார் இரத்தத்தாலே </samp>
<span class="chordline"><b>F#m</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் தந்தார் காயத்தாலே</samp>
<span class="chordline"><b>G</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றினார் வசனத்தாலே</samp>
<span class="chordline"><b>A7</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திடன் தந்தார் ஆவியாலே எனக்கு </samp>
<samp charset="UTF-8" class="lyricline">  ...புதிய பாடல் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உறுதியாய் பற்றிக் கொண்டோம் </samp>
<span class="chordline"><b>F#m</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நம்பி உள்ளோம்</samp>
<span class="chordline"><b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூரண சமாதானம்</samp>
<span class="chordline"><b>A7</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புவிதனில் தருபவரே தினமும் </samp>
<samp charset="UTF-8" class="lyricline">  ...புதிய பாடல் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>G</b>                                                              </span>
<samp charset="UTF-8" class="lyricline">அதிசயமானவரே </samp>
<span class="chordline"><b>F#m</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆலோசனைக் கர்த்தரே</samp>
<span class="chordline"><b>G</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையுள்ள தேவா</samp>
<span class="chordline"><b>A7</b>                          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வரங்களின் மன்னவனே எல்லா </samp>
<samp charset="UTF-8" class="lyricline">  ...புதிய பாடல் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                      <b>G</b>                                                                 </span>
<samp charset="UTF-8" class="lyricline">கூப்பிட்டேன் பதில் வந்தது </samp>
<span class="chordline"><b>F#m</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">குறைவெல்லாம் நிறைவானது</samp>
<span class="chordline"><b>G</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் ராஜா அவர்</samp>
<span class="chordline"><b>A7</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகத்துவமானவரே  இயேசு </samp>
<samp charset="UTF-8" class="lyricline">  ...புதிய பாடல் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                         <b>G</b>                                                                        </span>
<samp charset="UTF-8" class="lyricline">மாலையில் அழுகை என்றால் </samp>
<span class="chordline"><b>F#m</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காலையில் அக்களிப்பு</samp>
<span class="chordline"><b>G</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கோபமோ ஒரு நிமிடம்</samp>
<span class="chordline"><b>A7</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையோ நித்தம் நித்தம் அவர்  </samp>
<samp charset="UTF-8" class="lyricline">  ...புதிய பாடல் </samp></div></div>   
        
     </div>