<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1550" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                       <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு சுமந்து கொண்டாரே</samp>
<span class="chordline"><b>Ab</b>           <b>Gb</b>          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நான் சுமக்க தேவையில்லை                                                      </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bbm</b>                  <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் காயங்களால்</samp>
<span class="chordline"><b>Fm</b>           <b>Db</b>     <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">சுகமானேன் சுகமானேன்</samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசுவின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bbm</b>                  <b>Ab</b> </span>
<samp charset="UTF-8" class="lyricline">பெலவீனம் சுமந்து கொண்டார்</samp>
<span class="chordline"><b>Fm</b>                <b>Db</b>     <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">பெலவானாய் மாற்றிவிட்டார்  </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசுவின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bbm</b>                  <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">என் நோய்கள் சுமந்து கொண்டார்</samp>
<span class="chordline"><b>Fm</b>            <b>Db</b>           <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">என் துக்கம் ஏற்றுக் கொண்டார்  </samp>
<samp charset="UTF-8" class="lyricline">   ... இயேசுவின்    </samp></div></div>   
        
     </div>