<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1551" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மாலே நான் ஒரு சேனைக்குள் பாய்வேன்</samp>
<span class="chordline"><b>D</b>                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மதிலைத் தாண்டிடுவேன்  </samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">மதிலைத் தாண்டிடுவேன்</samp>
<span class="chordline">  <b>D</b>             <b>G</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஐயா ஸ்தோத்திரம் இயேசையா ஸ்தோத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனது விளக்கு எரியச் செய்தீர்</samp>
<span class="chordline"><b>D</b>                   <b>Em</b>  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இருளை ஒளியாக்கினீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">மான்களைப் போல ஓடச் செய்தீர்</samp>
<span class="chordline"><b>D</b>            <b>Em</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உயர அமரச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">பெலத்தால் இடைக்கட்டி</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">வழியை செவ்வையாக்கி</samp>
<span class="chordline"><b>D</b>         <b>Em</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வாழ வைத்தவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் கன்மலை நீரே என் கோட்டை</samp>
<span class="chordline"><b>D</b>              <b>Em</b>  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனது அடைக்கலமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின் கேடயம் எனக்கு தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">எந்நாளும் தாங்கிக் கொண்டீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கால்கள் வழுவாமல் நடக்கும் பாதையை</samp>
<span class="chordline"><b>D</b>          <b>Em</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அகலமாக்கிவிட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">இம்மட்டும் காத்தீர் இனிமேலும் காப்பீர்</samp>
<span class="chordline"><b>D</b>                <b>Em</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் துதித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதம் செய்தீர் அதிசயம் செய்தீர்</samp>
<span class="chordline"><b>D</b>                      <b>Em</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அப்பனே உம்மைத் துதிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மாலே</samp></div></div>   
        
     </div>