<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1553" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>        <b>Bb</b>       <b>G7</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நோக்கி அமர்ந்திருப்போம்</samp>
<span class="chordline"><b>F</b>        <b>C</b>       <b>Bb</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கவலை மறந்து காத்திருப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நம்பி நன்மை செய்வோம்</samp>
<span class="chordline"><b>Gm</b>          <b>C</b>            <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நல்லதோர் மேய்ச்சலை கண்டடைவோம்</samp>
<span class="chordline">         <b>C</b>     <b>C7</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அவரில் நாம் மகிழ்ந்திருப்போம்</samp>
<span class="chordline"><b>F</b>      <b>C</b>         <b>Bb</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இதய விருப்பம் நிறைவேற்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமான் இரட்சிப்பு நிச்சயமே</samp>
<span class="chordline"><b>Gm</b>          <b>C</b>            <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நித்தம் அடைக்கலம் கர்த்தர் தாமே</samp>
<span class="chordline">        <b>C</b>     <b>C7</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உதவி செய்து காத்திடுவார்</samp>
<span class="chordline"><b>F</b>      <b>C</b>         <b>Bb</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் தங்கி நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">வழிகள் அனைத்தும் கர்த்தருக்கே</samp>
<span class="chordline"><b>Gm</b>          <b>C</b>            <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒப்புவித்து நாம் மகிழ்ந்திருப்போம்</samp>
<span class="chordline">         <b>C</b>     <b>C7</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரையே சார்ந்திருப்போம்</samp>
<span class="chordline"><b>F</b>        <b>C</b>           <b>Bb</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அவரே அனைத்தும் வாய்க்கச் செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சுயபுத்தியில் சாய்ந்திடாமல்</samp>
<span class="chordline"><b>Gm</b>         <b>C</b>          <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முழு உள்ளத்தோடு நம்பிடுவோம்</samp>
<span class="chordline">           <b>C</b>     <b>C7</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வழிகளெல்லாம் நினைத்திடுவோம்</samp>
<span class="chordline"><b>F</b>      <b>C</b>       <b>Bb</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வின் பாதை காட்டிடுவார் </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தரை</samp></div></div>   
        
     </div>