<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1555" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                  <b>Bb</b>        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு ராஜா ஸ்தோத்திரம்</samp>
<span class="chordline"><b>C</b>               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே ஸ்தோத்திரமே </samp>
<span class="chordline"><b>F</b>    <b>C</b>                 <b>Bb</b> <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள நாளெல்லாமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கம் உள்ளவரே</samp>
<span class="chordline">    <b>F</b>    <b>Bb</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மனதுருக்கம் உடையவரே</samp>
<span class="chordline"><b>F</b>     <b>Gm</b>                    <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நீடிய சாந்தம், பொறுமை, அன்பு</samp>
<span class="chordline">          <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்து வாழ்பவரே </samp>
<samp charset="UTF-8" class="lyricline">  ...என் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">துதி கன மகிமையெல்லாம்</samp>
<span class="chordline">    <b>F</b>    <b>Bb</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே செலுத்துகிறோம்</samp>
<span class="chordline"><b>F</b>           <b>Gm</b>                      <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடன் ஸ்தோத்திர பலிதனை செலுத்தி</samp>
<span class="chordline">          <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை செய்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">  ...என் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Bb</b>                                                                        </span>
<samp charset="UTF-8" class="lyricline">கூப்பிடும் யாவருக்கும் </samp>
<span class="chordline">    <b>F</b>    <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அருகில் இருப்பவரே</samp>
<span class="chordline"><b>F</b>              <b>Gm</b>                      <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையாய் கூப்பிடும் குரல்தனை கேட்டு</samp>
<span class="chordline">          <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை தருபவரே</samp>
<samp charset="UTF-8" class="lyricline">  ...என் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Bb</b>                                                                            </span>
<samp charset="UTF-8" class="lyricline">உலகத் தோற்ற முதல்</samp>
<span class="chordline">    <b>F</b>    <b>Bb</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் அடிக்கப்பட்டீர் </samp>
<span class="chordline"><b>F</b>              <b>Gm</b>                      <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">துரோகியாய் வாழ்ந்த என்னையும் மீட்டு</samp>
<span class="chordline">            <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புதுவாழ்வு தந்து விட்டீர்  </samp>
<samp charset="UTF-8" class="lyricline">  ...என் இயேசு</samp></div></div>   
        
     </div>