<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1556" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>             <b>A</b> <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே என் தெய்வமே</samp>
<span class="chordline"><b>Eb</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் மேல் மனமிரங்கும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>     <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நான் பாவம் செய்தேன்</samp>
<span class="chordline">         <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நோகச் செய்தேன்</samp>
<span class="chordline">           <b>Bb</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தேடாமல் வாழ்ந்து வந்தேன்</samp>
<span class="chordline">         <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மன்னியும் தெய்வமே (2)</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை மறுதலித்தேன்</samp>
<span class="chordline">         <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பின் வாங்கிப் போனேன்</samp>
<span class="chordline">      <b>Bb</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் வல்லமை இழந்தேனையா</samp>
<span class="chordline">         <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மன்னியும் தெய்வமே      </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முள்முடி தாங்கி</samp>
<span class="chordline">       <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஐயா காயப்பட்டீர்</samp>
<span class="chordline">     <b>Bb</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீர் எனக்காக பலியானீர்</samp>
<span class="chordline">         <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் இரத்தத்தால் கழுவி விடும்       </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே                                                       </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துன்ப வேளையிலே</samp>
<span class="chordline">         <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மனம் துவண்டு போனேன்</samp>
<span class="chordline">           <b>Bb</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நினையாது தூரப் போனேன் </samp>
<span class="chordline">         <b>C7</b>                  <b>F</b>                                            </span>
<samp charset="UTF-8" class="lyricline">என்னை மன்னியும் தெய்வமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அநியாயம் செய்தேன்</samp>
<span class="chordline">         <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கடும் கோபம் கொண்டேன்</samp>
<span class="chordline">         <b>Bb</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பிறர் வாழ்வைக் கெடுத்தேனையா</samp>
<span class="chordline">          <b>C7</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மன்னியும் தெய்வமே       </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே  </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>