<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1557" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>        <b>Eb</b>                <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்துகிறோம் வணங்குகிறோம்</samp>
<span class="chordline"><b>Cm7</b>                 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">போற்றுகிறோம் தேவா.... ஆ....ஆ...</samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>      <b>Cm</b>     <b>Eb</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இலவசமாய் கிருபையினால்</samp>
<span class="chordline"><b>Eb</b>               <b>Cm</b> </span>
<samp charset="UTF-8" class="lyricline">நீதிமானாக்கிவிட்டீர்  இராஜா</samp>
<span class="chordline"><b>Eb</b>   <b>G7</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமானாக்கிவிட்டீர் </samp>
<samp charset="UTF-8" class="lyricline">   ...வாழ்த்துகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>     <b>Cm</b>     <b>Eb</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினால் வார்த்தையினால்</samp>
<span class="chordline"><b>Eb</b>               <b>Cm</b> </span>
<samp charset="UTF-8" class="lyricline">மறுபடி பிறக்கச் செய்தீர்  என்னை</samp>
<span class="chordline"><b>Eb</b>       <b>G7</b>         <b>Cm</b> </span>
<samp charset="UTF-8" class="lyricline">மறுபடி பிறக்கச் செய்தீர்  </samp>
<samp charset="UTF-8" class="lyricline">   ...வாழ்த்துகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>           <b>Cm</b>     <b>Eb</b>          <b>Cm</b>                                                    </span>
<samp charset="UTF-8" class="lyricline">உம் இரத்தத்தால் தெளிக்கப்பட்டோம் </samp>
<span class="chordline"><b>Eb</b>               <b>Cm</b>                                             </span>
<samp charset="UTF-8" class="lyricline">ஒப்புரவாக்கப்பட்டோம்  ஐயா </samp>
<span class="chordline"><b>Eb</b>      <b>G7</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஒப்புரவாக்கப்பட்டோம்  </samp>
<samp charset="UTF-8" class="lyricline">   ...வாழ்த்துகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>       <b>Cm</b>         <b>Eb</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நோக்கிப் பார்க்கின்றோம்</samp>
<span class="chordline"><b>Eb</b>               <b>Cm</b> </span>
<samp charset="UTF-8" class="lyricline">பிரகாசம் அடைகின்றோம்  ஐயா </samp>
<span class="chordline"><b>Eb</b>         <b>G7</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பிரகாசம் அடைகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...வாழ்த்துகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>     <b>Cm</b>     <b>Eb</b>   <b>Cm</b>                                                            </span>
<samp charset="UTF-8" class="lyricline">அற்புதமே அதிசயமே</samp>
<span class="chordline"><b>Eb</b>               <b>Cm</b> </span>
<samp charset="UTF-8" class="lyricline">ஆலோசனைக் கர்த்தரே  என்றும்  </samp>
<span class="chordline"><b>Eb</b>       <b>G7</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஆலோசனைக் கர்த்தரே</samp>
<samp charset="UTF-8" class="lyricline">   ...வாழ்த்துகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Eb</b>     <b>Cm</b>     <b>Eb</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையன்றி யாரிடம் செல்வோம்</samp>
<span class="chordline"><b>Eb</b>                   <b>Cm</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள வார்த்தை நீரே  ஐயா</samp>
<span class="chordline"><b>Eb</b>          <b>G7</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள வார்த்தை நீரே</samp>
<samp charset="UTF-8" class="lyricline">   ...வாழ்த்துகிறோம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>