<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1558" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>            <b>C</b>        <b>G</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காகத் தானே ஐயா நான்</samp>
<span class="chordline"><b>Bb</b>      <b>F</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உயிர் வாழ்கிறேன் ஐயா</samp>
<span class="chordline"><b>F</b>              <b>D</b>           <b>Gm</b>     <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இந்த உடலும் உள்ளமெல்லாம்  அன்பர்</samp>
<span class="chordline"><b>F</b>     <b>C7</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காகத் தானே ஐயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கோதுமை மணிபோல் மடிந்திடுவேன்</samp>
<span class="chordline">           <b>G</b>        <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் தினமும் பலன் கொடுப்பேன் </samp>
<span class="chordline"><b>Bb</b>                  <b>F</b>        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">அவமானம் நிந்தை சிலுவைதனை</samp>
<span class="chordline">                       <b>F</b>        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் உமக்காய் சுமக்கின்றேன்</samp>
<span class="chordline">                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் உமக்காய் சுமக்கின்றேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...உமக்காகத்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எனது ஜீவனை மதிக்கவில்லை</samp>
<span class="chordline">           <b>G</b>        <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு பொருட்டாய் நான் கணிக்கவில்லை </samp>
<span class="chordline"><b>Bb</b>                  <b>F</b>        <b>C7</b>                                                </span>
<samp charset="UTF-8" class="lyricline">எல்லாருக்கும் நான் எல்லாமானேன்</samp>
<span class="chordline">                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அனைவருக்கும் நான் அடிமையானேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...உமக்காகத்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                           <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">எத்தனை இடர்கள் வந்தாலும்</samp>
<span class="chordline">         <b>G</b>        <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எதுவும் என்னை அசைப்பதில்லை </samp>
<span class="chordline"><b>Bb</b>                  <b>F</b>        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடன் தொடர்ந்து ஓடுகிறேன்</samp>
<span class="chordline">                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மனநிறைவோடு பணி செய்வேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...உமக்காகத்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பண்படுத்தும் உம் சித்தம் போல</samp>
<span class="chordline">           <b>G</b>        <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பயன்படுத்தும் உம் விருப்பம் போல </samp>
<span class="chordline"><b>Bb</b>                  <b>F</b>        <b>C7</b>                                                       </span>
<samp charset="UTF-8" class="lyricline">உம் கரத்தில் நான் புல்லாங்குழல்</samp>
<span class="chordline">                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் இசைத்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உமக்காகத்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எனது பேச்செல்லாம் உமக்காக</samp>
<span class="chordline">         <b>G</b>        <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எனது செயல் எல்லாம் உமக்காக </samp>
<span class="chordline"><b>Bb</b>                  <b>F</b>        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">எழுந்தாலும் நடந்தாலும் உமக்காக</samp>
<span class="chordline">                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அமர்ந்தாலும் படுத்தாலும் உமக்காக   </samp>
<samp charset="UTF-8" class="lyricline">   ...உமக்காகத்                        </samp></div></div>   
        
     </div>