<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1559" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">குதூகலம் கொண்டாட்டமே</samp>
<span class="chordline">                  <b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவின் சந்நிதானத்தில்</samp>
<span class="chordline">                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தம் ஆனந்தமே</samp>
<span class="chordline">                        <b>Bb</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பரின் திருப்பாதத்தில்                                             </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">பாவமெல்லாம் பறந்தது</samp>
<span class="chordline"><b>C</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நோய்களெல்லாம் தீர்ந்தது</samp>
<span class="chordline"><b>Dm</b>           <b>F</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் இரத்தத்தினால்</samp>
<span class="chordline">                          <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவுக்குள் வாழ்வு கிருபையால் மீட்பு</samp>
<span class="chordline"><b>F</b>        <b>C7</b>    <b>Bb</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியினால் </samp>
<samp charset="UTF-8" class="lyricline">    ...குதூகலம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன்</samp>
<span class="chordline"><b>C</b>                  <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">தினம்தோறும் தங்கும்</samp>
<span class="chordline"><b>Dm</b>       <b>F</b>      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">தேவாலயம் நாமே </samp>
<span class="chordline">                    <b>C7</b>                                                                 </span>
<samp charset="UTF-8" class="lyricline">ஆவியான தேவன் அச்சாரமானார்</samp>
<span class="chordline"><b>F</b>        <b>C7</b>    <b>Bb</b>  <b>F</b>                                         </span>
<samp charset="UTF-8" class="lyricline">அதிசயம் அதிசயமே </samp>
<samp charset="UTF-8" class="lyricline">    ...குதூகலம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் என் இயேசு</samp>
<span class="chordline"><b>C</b>                  <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">வாழ வைக்கும் தெய்வம்</samp>
<span class="chordline"><b>Dm</b>              <b>F</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றிமேலே வெற்றி தந்தார</samp>
<span class="chordline">                   <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஒருமனமாய் கூடி ஓசான்னா பாடி</samp>
<span class="chordline"><b>F</b>            <b>C7</b>     <b>Bb</b>     <b>F</b>                                       </span>
<samp charset="UTF-8" class="lyricline">ஊரெல்லாம் கொடியேற்றுவோம் </samp>
<samp charset="UTF-8" class="lyricline">    ...குதூகலம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">எக்காள சத்தம், </samp>
<span class="chordline"><b>C</b>              <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">தூதர்கள் கூட்டம்</samp>
<span class="chordline"><b>Dm</b>     <b>F</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நேசர் வருகின்றார்</samp>
<span class="chordline">                       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஒருநொடி பொழுதில் மறுரூபமாவோம்</samp>
<span class="chordline"><b>F</b>           <b>C7</b>  <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையில் பிரவேசிப்போம்</samp>
<samp charset="UTF-8" class="lyricline">    ...குதூகலம்</samp></div></div>   
        
     </div>