<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1560" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                      <b>G#</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை ஆட்கொண்ட இயேசு</samp>
<span class="chordline">         <b>F#</b>         <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை யாரென்று நானறிவேன்</samp>
<span class="chordline">         <b>F#</b>         <b>B7</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை யாரென்று நானறிவேன்</samp>
<span class="chordline"><b>E</b>             <b>A</b>   <b>E</b>      </span>
<samp charset="UTF-8" class="lyricline">உண்மை உள்ளவரே  என்றும்</samp>
<span class="chordline"><b>A</b>           <b>E</b>        <b>F#</b>   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் செய்பவரே    என்றும்</samp>
<span class="chordline">            <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் செய்பவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                    <b>G#</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மனிதர் தூற்றும் போது  உம்மில்</samp>
<span class="chordline">        <b>A</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மகிழச் செய்பவரே</samp>
<span class="chordline">         <b>A</b>        <b>E</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அதைத் தாங்கிட பெலன் கொடுத்து</samp>
<span class="chordline"><b>B7</b>                    <b>A</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தயவாய் அணைப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                      <b>G#</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தனிமை வாட்டும் போது  நல்</samp>
<span class="chordline">               <b>A</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">துணையாய் இருப்பவரே</samp>
<span class="chordline">      <b>A</b>        <b>E</b>       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உம் ஆவியினால் தேற்றி</samp>
<span class="chordline"><b>B7</b>                 <b>A</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>G#</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க்கை பயணத்திலே</samp>
<span class="chordline">               <b>A</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மேகத்தூணாய் வருபவரே</samp>
<span class="chordline">      <b>A</b>             <b>E</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உம் வார்த்தையின் திருவுணவால்</samp>
<span class="chordline"><b>B7</b>             <b>A</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வளமாய் காப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...என்னை </samp></div></div>   
        
     </div>