<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1561" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் பாடணுமே Highlightராஜா</samp>
<span class="chordline"><b>F</b>       <b>Bb</b>            <b>C</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே துதிக்கணுமே</samp>
<span class="chordline">                 <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல் வாழணுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் உம் திருபாதம்</samp>
<span class="chordline">     <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி வர வேணுமே</samp>
<span class="chordline"><b>Bb</b>              <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">உமது வசனம் தியானம் செய்து</samp>
<span class="chordline">     <b>Bb</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் வாழணுமே </samp>
<samp charset="UTF-8" class="lyricline">   ...உம் நாமம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரவும் பகலும் ஆவியிலே நான்</samp>
<span class="chordline">         <b>C</b>          <b>F</b>                                            </span>
<samp charset="UTF-8" class="lyricline">நிரம்பி ஜெபிக்கணுமே</samp>
<span class="chordline"><b>Bb</b>              <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவ நதியாய் பாயந்து பிறரை</samp>
<span class="chordline">     <b>Bb</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாழ வைக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உம் நாமம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">பேய்கள் ஓட்டி நோய்களைப் போக்கி</samp>
<span class="chordline">           <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பிரசங்கம் பண்ணணுமே</samp>
<span class="chordline"><b>Bb</b>                 <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">சிலுவை அன்பை எடுத்துச் சொல்லி</samp>
<span class="chordline">     <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சீடர் ஆக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உம் நாமம் </samp></div></div>   
        
     </div>