<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1563" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>             <b>B</b>  <b>Em</b>                </span>
<samp charset="UTF-8" class="lyricline">பிரியமானவனே உன்</samp>
<span class="chordline"><b>Am</b>        <b>G</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா வாழ்வது போல்  நீ</samp>
<span class="chordline"><b>D</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாவற்றிலும் வாழ்ந்து</samp>
<span class="chordline"><b>G</b>        <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சுகமாய் இரு மகனே                                                               </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>D</b>  <b>G</b>         <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">வாழ்க்கை என்பது போராட்டமே</samp>
<span class="chordline"><b>A</b>            <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்லதொரு போராட்டமே</samp>
<span class="chordline"><b>C</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவிதரும் பட்டயத்தை</samp>
<span class="chordline"><b>G</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எடுத்துப் போராடி வெற்றி பெறு  </samp>
<samp charset="UTF-8" class="lyricline">   ...பிரியமானவனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>D</b>  <b>G</b>         <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">பிரயாணத்தில் மேடு உண்டு</samp>
<span class="chordline"><b>A</b>         <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பள்ளங்களும் உண்டு</samp>
<span class="chordline"><b>C</b>               <b>G</b>                                                                            </span>
<samp charset="UTF-8" class="lyricline">மிதித்திடுவாய் தாண்டிடுவாய்</samp>
<span class="chordline"><b>G</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மான் கால்கள் உனக்குண்டு மறவாதே </samp>
<samp charset="UTF-8" class="lyricline">   ...பிரியமானவனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>D</b>  <b>G</b>         <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஓட்டப் பந்தயம் நீ ஓடுகிறாய்</samp>
<span class="chordline"><b>A</b>             <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒழுங்கின்படி ஓடு மகனே</samp>
<span class="chordline"><b>C</b>                <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நெருங்கி வரும் பாவங்களை</samp>
<span class="chordline"><b>G</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உதறித் தள்ளிவிட்டு ஓடு மகனே  </samp>
<samp charset="UTF-8" class="lyricline">   ...பிரியமானவனே</samp></div></div>   
        
     </div>