<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1564" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>           <b>Eb</b>         <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">அன்பே என் இயேசுவே ஆருயிரே</samp>
<span class="chordline"><b>Db</b>            <b>Eb</b>          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொண்ட என் தெய்வமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் மறவேன்</samp>
<span class="chordline"><b>Eb</b>    <b>Db</b>   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் வாழ்வேன்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">வாழ்வோ சாவோ</samp>
<samp charset="UTF-8" class="lyricline">எதுதான் பிரிக்க முடியும்</samp>
<samp charset="UTF-8" class="lyricline">   ..அன்பே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாயைப்போல் தேற்றினீர்</samp>
<span class="chordline"><b>Eb</b>        <b>Db</b>   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தந்தை போல் அணைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">   ..அன்பே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>                 <b>C</b>                                                                 </span>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் நான் செய்வேன்</samp>
<span class="chordline"><b>Eb</b>     <b>Db</b>       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அது தான் என் உணவு </samp>
<samp charset="UTF-8" class="lyricline">   ..அன்பே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>             <b>C</b>                                                                       </span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தால் கழுவினீர்</samp>
<span class="chordline"><b>Eb</b>       <b>Db</b>          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பால் உடுத்தினீர்</samp>
<samp charset="UTF-8" class="lyricline">   ..அன்பே என்</samp></div></div>   
        
     </div>