<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1565" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                      </span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் மகிமை </samp>
<span class="chordline">                       <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">பெற வேண்டும் கர்த்தாவே</samp>
<span class="chordline"><b>Em</b>                           </span>
<samp charset="UTF-8" class="lyricline">உந்தன் அரசு விரைவில் வர </samp>
<span class="chordline"><b>Em</b>                <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வேண்டும் கர்த்தாவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>              <b>A</b>        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபிக்கிறோம் நாங்கள் துதிக்கிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியா இரட்சகரை அறியவேண்டுமே</samp>
<span class="chordline"><b>Em</b>                  <b>F#</b>                </span>
<samp charset="UTF-8" class="lyricline">இருளில் உள்ளோர் வெளிச்சத்தையே </samp>
<span class="chordline">                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காண வேண்டுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தான் கோட்டை தகர்ந்து விழ வேண்டுமே</samp>
<span class="chordline"><b>Em</b>                  <b>F#</b>           <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">சாபம் நீங்கி சமாதானம் வரணுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் சிந்தி கதறி நாங்கள் அழுகிறோம்</samp>
<span class="chordline"><b>Em</b>                  <b>F#</b>           <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">கரம் விரித்து உம்மை நோக்கிப் பார்க்கிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை இரத்தம் தெளிக்கப்பட வேண்டுமே</samp>
<span class="chordline"><b>Em</b>             <b>F#</b>           <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவநதி பெருகி ஓட வேண்டுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>D</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபசேனை எங்கும் எழும்ப வேண்டுமே</samp>
<span class="chordline"><b>Em</b>                  <b>F#</b>           <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">உபவாசக் கூட்டம் பெருக வேண்டுமே </samp></div></div>   
        
     </div>