<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1566" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>C</b>        <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">வாதை உந்தன் கூடாரத்தை </samp>
<span class="chordline">              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அணுகாது மகனே</samp>
<span class="chordline"><b>G</b>            <b>C</b>      <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">பொல்லாப்பு நேரிடாது </samp>
<span class="chordline"><b>C</b>     <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேரிடாது மகளே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>       <b>C</b>                 <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">லாலா லாலாலாலா லா லாலா லாலாலா லா லாலா லா</samp>
<span class="chordline"><b>D</b>          <b>C</b>         <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">லாலாலா லாலாலா லா லாலா லாலாலா லாலாலா</samp>
<span class="chordline"><b>G</b>                    <b>D</b>         <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">லாலாலா லாலாலா லாலாலா லா லா லா லா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Am</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதமான கர்த்தரையே</samp>
<span class="chordline"><b>B</b>          <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உறைவிடமாக்கிக் கொண்டாய்</samp>
<span class="chordline">           <b>D</b>     <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கலமாம் ஆண்டவனை</samp>
<span class="chordline"><b>G</b>      <b>B</b>                <b>C</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆதாயமாக்கிக் கொண்டாய் </samp>
<samp charset="UTF-8" class="lyricline">   ... வாதை உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Am</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டுக்குட்டி இரத்ததினால்</samp>
<span class="chordline"><b>B</b>            <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை ஜெயித்து விட்டோம்</samp>
<span class="chordline">           <b>D</b>  <b>C</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி உண்டு வசனம் உண்டு</samp>
<span class="chordline"><b>G</b>           <b>B</b>           <b>C</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்றாடம் வெற்றி உண்டு  நமக்கு</samp>
<samp charset="UTF-8" class="lyricline">   ... வாதை உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Am</b>       <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்குள் நம் பாடுகள்</samp>
<span class="chordline"><b>B</b>            <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு நாளும் வீணாகாது</samp>
<span class="chordline">           <b>D</b>  <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அசையாமல் உறுதியுடன்</samp>
<span class="chordline"><b>G</b>      <b>B</b>               <b>C</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிகமாய் செயல்படுவோம் </samp>
<samp charset="UTF-8" class="lyricline">   ... வாதை உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>Am</b>       <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நம்முடைய குடியிருப்பு</samp>
<span class="chordline"><b>B</b>          <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகத்தில் உண்டு</samp>
<span class="chordline">           <b>D</b> <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வரப்போகும் இரட்சகரை</samp>
<span class="chordline"><b>G</b>             <b>B</b>    <b>C</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்நோக்கி காத்திருப்போம்</samp>
<samp charset="UTF-8" class="lyricline">   ... வாதை உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                <b>Am</b>            <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">அழைத்தவரோ உண்மையுள்ளவர்</samp>
<span class="chordline"><b>B</b>       <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாக்கிடுவார்</samp>
<span class="chordline">           <b>D</b>     <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி ஆத்துமா சரீரமெல்லாம்</samp>
<span class="chordline"><b>G</b>            <b>B</b>      <b>C</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குற்றமின்றி காத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ... வாதை உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Am</b>       <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">அற்பமான ஆரம்பத்தை</samp>
<span class="chordline"><b>B</b>         <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அசட்டை பண்ணாதே</samp>
<span class="chordline">           <b>D</b>     <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தொடங்கினவர் முடித்திடுவார்  </samp>
<span class="chordline"><b>G</b>      <b>B</b>      <b>C</b>        <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">சொன்னதை செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ... வாதை உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Am</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றல் அல்ல சக்தி அல்ல</samp>
<span class="chordline"><b>B</b>          <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினால் ஆகும்</samp>
<span class="chordline">           <b>D</b>     <b>C</b>              <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடாமல் நன்மை செய்வோம் </samp>
<span class="chordline"><b>G</b>              <b>B</b>     <b>C</b>      <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">துணையாளர் முன் செல்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">   ... வாதை உந்தன்</samp></div></div>   
        
     </div>