<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1567" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அழிந்து போகின்ற ஆத்துமாக்களை</samp>
<span class="chordline"><b>F</b>          <b>Bb</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் தினமும் நினைப்பேன்</samp>
<span class="chordline"><b>C</b>                    <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அலைந்து திரிகின்ற ஆட்டைத் தேடியே</samp>
<span class="chordline">    <b>F</b>            <b>Bb</b> <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி ஓடி உழைப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>      <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தெய்வமே தாருமே</samp>
<span class="chordline">     <b>F</b>       <b>Bb</b>    <b>F</b>     <b>Bb</b> <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்தும பாரமே  தெய்வமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருளின் ஜாதிகள்</samp>
<span class="chordline">          <b>C7</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பேரொளி காணட்டும்</samp>
<span class="chordline"><b>C7</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">மரித்த மனிதர்மேல்</samp>
<span class="chordline"><b>C</b>           <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வெளிச்சம் உதிக்கட்டும் </samp>
<samp charset="UTF-8" class="lyricline">   ...தெய்வமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">திறப்பின் வாசலில்</samp>
<span class="chordline">          <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் நிற்கின்றேன்</samp>
<span class="chordline"><b>C7</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சுவரை அடைக்க நான்</samp>
<span class="chordline"><b>C</b>           <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் ஜெபிக்கின்றேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...தெய்வமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">எக்காள சப்தம் நான்</samp>
<span class="chordline">           <b>C7</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மௌனம் எனக்கில்லை</samp>
<span class="chordline"><b>C7</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சாமக்காவலன்</samp>
<span class="chordline"><b>C</b>         <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியம் பேசுவேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...தெய்வமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் சிந்தியே</samp>
<span class="chordline">           <b>C7</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விதைகள் தூவினேன்</samp>
<span class="chordline"><b>C7</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கெம்பீர சப்தமாய்</samp>
<span class="chordline"><b>C</b>           <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அறுவடை செய்கிறேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...தெய்வமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஊதாரி மைந்தர்கள்</samp>
<span class="chordline">          <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மிடம் திரும்பட்டும்</samp>
<span class="chordline"><b>C7</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணகம் மகிழட்டும்</samp>
<span class="chordline"><b>C</b>         <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விருந்து நடக்கட்டும்   </samp>
<samp charset="UTF-8" class="lyricline">   ...தெய்வமே</samp></div></div>   
        
     </div>