<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1568" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>       <b>Eb</b>     <b>F</b>      <b>Eb</b>      <b>F</b>           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் ஆவி எந்தன் உள்ளம் தங்க வேண்டும்</samp>
<span class="chordline"><b>F</b>                                 <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எந்த நாளும் உந்தன் நாமம் பாட வேண்டும்                                         </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>             </span>
<samp charset="UTF-8" class="lyricline">உள்ளம் எல்லாம் அன்பினாலே</samp>
<span class="chordline">              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பொங்கவேண்டும் </samp>
<span class="chordline"><b>C</b>       <b>F</b>     <b>Bb</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கள்ளம் நீங்கி காலமெல்லாம்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாழ வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாவமான சுபாவம்</samp>
<span class="chordline">                     <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் நீங்க வேண்டும்</samp>
<span class="chordline"><b>C</b>     <b>F</b>     <b>Bb</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ஆவி தேற்றி</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் நடத்த வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவ தண்ணீர் நதியாகப்</samp>
<span class="chordline">           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பாய வேண்டும்</samp>
<span class="chordline"><b>C</b>         <b>F</b>       <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை நிழலில் தேசமெல்லாம்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாழ வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">வரங்கள் கனிகள் எல்லா நாளும்</samp>
<span class="chordline">              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பெருக வேண்டும்</samp>
<span class="chordline"><b>C</b>       <b>F</b>       <b>Bb</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்நாளெல்லாம் பணிசெய்து</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">மடிய வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஏதேன் தோட்ட உறவு என்றும்</samp>
<span class="chordline">              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">தொடர வேண்டும்</samp>
<span class="chordline"><b>C</b>              <b>F</b>     <b>Bb</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து குரலைக் கேட்டு</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன்</samp></div></div>   
        
     </div>