<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1569" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">தேவனுக்கே மகிமை</samp>
<span class="chordline"><b>G</b>          <b>Bm</b>      <b>B</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தெய்வத்திற்கே மகிமை</samp>
<span class="chordline"><b>D</b>  <b>Bm</b>       <b>C</b>     <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">தேடி வந்து மீட்டவரே </samp>
<span class="chordline"><b>D</b>           <b>G</b>    <b>C</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினம் உமக்கே மகிமை என்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>     <b>C</b>       <b>G</b>      <b>A</b>       <b>D7</b>      <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">ஐயா வாழ்க வாழ்க உம் நாமம் வாழ்க</samp>
<span class="chordline"><b>G7</b>    <b>C</b>       <b>G</b>      <b>A</b>      <b>D7</b>       <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">ஐயா வாழ்க வாழ்க உம் நாமம் வாழ்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Am</b>   </span>
<samp charset="UTF-8" class="lyricline">உன்னதத்தில் தேவனுக்கே</samp>
<span class="chordline"><b>G</b>        <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை உண்டாகட்டும்</samp>
<span class="chordline"><b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூமியிலே சமாதானமும்</samp>
<span class="chordline"><b>A</b>    <b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பிரியமும் உண்டாகட்டும்  இந்தப் </samp>
<samp charset="UTF-8" class="lyricline">   ...ஐயா வாழ்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">செவிகளை நீர் திறந்து விட்டீர்</samp>
<span class="chordline"><b>G</b>        <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">செய்வோம் உம் சித்தம்</samp>
<span class="chordline"><b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புவிதனிலே உம் விருப்பம்</samp>
<span class="chordline"><b>A</b>    <b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூரணமாகட்டுமே  இந்தப் </samp>
<samp charset="UTF-8" class="lyricline">   ...ஐயா வாழ்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Am</b>                                                              </span>
<samp charset="UTF-8" class="lyricline">எளிமையான எங்களையே</samp>
<span class="chordline"><b>G</b>        <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் நினைப்பவரே</samp>
<span class="chordline"><b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒளிமயமே துணையாளரே</samp>
<span class="chordline"><b>A</b>      <b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தின் ஆறுதலே  எங்கள் </samp>
<samp charset="UTF-8" class="lyricline">   ...ஐயா வாழ்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Am</b>                                                      </span>
<samp charset="UTF-8" class="lyricline">தேடுகிற அனைவருமே</samp>
<span class="chordline"><b>G</b>        <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து களிகூரட்டும்</samp>
<span class="chordline"><b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாடுகிற யாவருமே</samp>
<span class="chordline"><b>A</b>          <b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தம் ஆகட்டுமே  இன்று </samp>
<samp charset="UTF-8" class="lyricline">   ...ஐயா வாழ்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Am</b>                                                       </span>
<samp charset="UTF-8" class="lyricline">குறை நீக்கும் வல்லவரே </samp>
<span class="chordline"><b>G</b>          <b>B</b>          <b>Em</b>                                                           </span>
<samp charset="UTF-8" class="lyricline">கோடி ஸ்தோத்திரமே-பாவக்</samp>
<span class="chordline"><b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கறை போக்கும் கர்த்தாவே</samp>
<span class="chordline"><b>A</b>    <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி நாயகனே   </samp>
<samp charset="UTF-8" class="lyricline">   ...ஐயா வாழ்க</samp></div></div>   
        
     </div>