<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1570" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                        </span>
<samp charset="UTF-8" class="lyricline">நாதா உம் திருக்கரத்தின் </samp>
<span class="chordline"><b>C</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இசைக் கருவி நான்</samp>
<span class="chordline"><b>Am</b>            <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் பயன்படுத்தும் </samp>
<span class="chordline"><b>B</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சித்தம் போல்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                <b>G</b>         <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">ஐயா உம் பாதம் என் தஞ்சமே</samp>
<span class="chordline"><b>D7</b>          <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் ஓடி வந்தேன்</samp>
<span class="chordline"><b>Bm</b>      <b>G</b>   <b>C</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமே அதிசயமே  2</samp>
<samp charset="UTF-8" class="lyricline">   ...நாதா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>G</b>         <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">எங்கே நான் போக உம் சித்தமோ</samp>
<span class="chordline"><b>D7</b>             <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அங்கே நான் சென்றிடுவேன்</samp>
<span class="chordline"><b>Bm</b>          <b>G</b>       <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமத்தில் ஜெயம் எடுப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...நாதா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                 <b>G</b>         <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">புதுப்பாடல் தந்து ஆசீர்வதியும்</samp>
<span class="chordline"><b>D7</b>     <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரவசமாகிடுவேன்</samp>
<span class="chordline"><b>Bm</b>          <b>G</b>      <b>C</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எக்காளம் நான் ஊதிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...நாதா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>G</b>         <b>D</b>                                                              </span>
<samp charset="UTF-8" class="lyricline">நிந்தைகள் நெருக்கம் துன்பங்களில்</samp>
<span class="chordline"><b>D7</b>          <b>C</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">துதி பாடி மகிழ்ந்திருப்பேன்</samp>
<span class="chordline"><b>Bm</b>            <b>G</b>   <b>C</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை ஒன்றே போதுமைய்யா  உம் </samp>
<samp charset="UTF-8" class="lyricline">   ...நாதா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                       <b>G</b>             <b>D</b>                                              </span>
<samp charset="UTF-8" class="lyricline">ஊரெல்லாம் செல்வேன் பறை சாற்றுவேன்</samp>
<span class="chordline"><b>D7</b>           <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் உயர்த்திடுவேன்</samp>
<span class="chordline"><b>Bm</b>         <b>G</b>         <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தான் கோட்டை தகர்த்திடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...நாதா </samp></div></div>   
        
     </div>