<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1571" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>              <b>C</b>    <b>Em</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நாமம் என் புகலிடமே                                                                </samp>
<span class="chordline"><b>C</b>            <b>D</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கருத்தோடு துதித்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>G</b>    <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">யேகோவாயீரே எல்லாமே </samp>
<span class="chordline"><b>Bm</b>               <b>B</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பார்த்துக் கொள்வீர்</samp>
<span class="chordline"><b>Em</b>       </span>
<samp charset="UTF-8" class="lyricline">கலங்கலப்பா  நாங்க கலங்கலப்பா           </samp>
<span class="chordline"><b>Em</b>                     <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கலங்கலப்பா  நாங்க கலங்கலப்பா </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>           <b>G</b>    <b>C</b>            <b>Bm</b>          <b>B</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா நிசியே எந்நாளும் வெற்றி தருவீர்</samp>
<span class="chordline"><b>Em</b>       </span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே அப்பா ஸ்தோத்திரமே           </samp>
<span class="chordline"><b>Em</b>                      <b>C</b>        <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே அப்பா ஸ்தோத்திரமே   </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>G</b>    <b>C</b>       <b>Bm</b>              <b>B</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ரஃப்பா சுகம் தரும் தெய்வமே</samp>
<span class="chordline"><b>Em</b>       </span>
<samp charset="UTF-8" class="lyricline">கலங்கலப்பா நாங்க கலங்கலப்பா           </samp>
<span class="chordline"><b>Em</b>                    <b>C</b>        <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">கலங்கலப்பா நாங்க கலங்கலப்பா   </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நாமம்                     </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>          <b>G</b>    <b>C</b>        <b>Bm</b>             <b>B</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ரூவா எங்கள் நல்ல மேய்ப்பரே</samp>
<span class="chordline"><b>Em</b>       </span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே அப்பா ஸ்தோத்திரமே            </samp>
<span class="chordline"><b>Em</b>                      <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே அப்பா ஸ்தோத்திரமே </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>          <b>G</b>    <b>C</b>          <b>Bm</b>       <b>B</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ஷம்மா கூடவே இருக்கிறீர்</samp>
<span class="chordline"><b>Em</b>       </span>
<samp charset="UTF-8" class="lyricline">கலங்கலப்பா  நாங்க கலங்கலப்பா           </samp>
<span class="chordline"><b>Em</b>                     <b>C</b>        <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கலங்கலப்பா  நாங்க கலங்கலப்பா </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>          <b>G</b>    <b>C</b>          <b>Bm</b>             <b>B</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ஷாலோம் சமாதானம் தருகின்றீர்</samp>
<span class="chordline"><b>Em</b>       </span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே அப்பா ஸ்தோத்திரமே            </samp>
<span class="chordline"><b>Em</b>                     <b>C</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே அப்பா ஸ்தோத்திரமே  </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நாமம்</samp></div></div>   
        
     </div>