<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1572" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                  <b>Am</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் குடிகளே வாருங்கள்</samp>
<span class="chordline">           <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை கெம்பீரமாய் பாடுங்கள்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடனே கர்த்தருக்கு</samp>
<span class="chordline"><b>D</b>      <b>D7</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை செய்யுங்கள்</samp>
<span class="chordline">      <b>D</b>  <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த சப்தத்தோடே</samp>
<span class="chordline"><b>D</b>         <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திருமுன் வாருங்கள்</samp>
<samp charset="UTF-8" class="lyricline">   ...பூமியின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>C</b>     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே நம் தேவனென்று</samp>
<span class="chordline"><b>D</b>        <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் அறிந்திடுங்கள்</samp>
<span class="chordline">     <b>D</b>  <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரே நம்மை உண்டாக்கினார்</samp>
<span class="chordline"><b>D</b>         <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் ஆடுகள் நாம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பூமியின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>C</b>      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">துதியோடும் புகழ்ச்சியோடும்</samp>
<span class="chordline"><b>D</b>      <b>D7</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாசலில் நுழையுங்கள்</samp>
<span class="chordline">       <b>D</b>      <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நாமம் துதித்திடுங்கள்</samp>
<span class="chordline"><b>D</b>         <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திர பலியிடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">   ...பூமியின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b>    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நம் கர்த்தரோ நல்லவரே</samp>
<span class="chordline"><b>D</b>      <b>D7</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை உள்ளவரே</samp>
<span class="chordline">       <b>D</b>       <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வசனம் தலைமுறைக்கும்</samp>
<span class="chordline"><b>D</b>              <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தலைமுறைக்கும் உள்ளது</samp>
<samp charset="UTF-8" class="lyricline">   ...பூமியின் </samp></div></div>   
        
     </div>