<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1573" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நான் பாடுவேன்</samp>
<span class="chordline"><b>C7</b>          <b>Ab</b>        </span>
<samp charset="UTF-8" class="lyricline">என்ன சொல்லி நான் </samp>
<span class="chordline">      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்பேன் - உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தம் சிந்தி மீட்டவரே</samp>
<span class="chordline"><b>Bb</b>                  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கம் நிறைந்தவரே</samp>
<span class="chordline">         <b>Fm</b>      <b>Bbm</b>   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கம் நிறைந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">   ... எப்படி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகித்து அணைப்பவரே</samp>
<span class="chordline"><b>Bb</b>               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் நாயகனே</samp>
<span class="chordline">   <b>Fm</b>      <b>Bbm</b>   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் நாயகனே</samp>
<samp charset="UTF-8" class="lyricline">   ... எப்படி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் பாதம் அமர்ந்திருந்து</samp>
<span class="chordline"><b>Bb</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஓயாமல் முத்தம் செய்கிறேன்</samp>
<span class="chordline">          <b>Fm</b>      <b>Bbm</b>    <b>Fm</b>                                                </span>
<samp charset="UTF-8" class="lyricline">ஓயாமல் முத்தம் செய்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">   ... எப்படி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b> </span>
<samp charset="UTF-8" class="lyricline">என்னை விட்டு எடுபடாத</samp>
<span class="chordline"><b>Bb</b>                  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல பங்கு நீர் தானையா </samp>
<span class="chordline">         <b>Fm</b>      <b>Bbm</b>   <b>Fm</b>                                                       </span>
<samp charset="UTF-8" class="lyricline">நல்ல பங்கு நீர் தானையா</samp>
<samp charset="UTF-8" class="lyricline">   ... எப்படி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b> </span>
<samp charset="UTF-8" class="lyricline">வருகையில் எடுத்துக் கொள்வீர்</samp>
<span class="chordline"><b>Bb</b>                     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கூடவே வைத்துக் கொள்வீர்</samp>
<span class="chordline">          <b>Fm</b>       <b>Bbm</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கூடவே வைத்துக் கொள்வீர்</samp>
<samp charset="UTF-8" class="lyricline">   ... எப்படி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">உளையான சேற்றினின்று</samp>
<span class="chordline"><b>Bb</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கி எடுத்தவரே  </samp>
<span class="chordline">    <b>Fm</b>    <b>Bbm</b>   <b>Fm</b>                                                                       </span>
<samp charset="UTF-8" class="lyricline">தூக்கி எடுத்தவரே  </samp>
<samp charset="UTF-8" class="lyricline">   ... எப்படி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் உயர்த்திடுவேன்</samp>
<span class="chordline"><b>Bb</b>                     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உம் விருப்பம் செய்திடுவேன்</samp>
<span class="chordline">      <b>Fm</b>       <b>Bbm</b>      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உம் விருப்பம் செய்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ... எப்படி </samp></div></div>   
        
     </div>