<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1574" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>             <b>C</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">திராட்சை செடியே இயேசு ராஜா</samp>
<span class="chordline"><b>G</b>          <b>Bm</b>                 <b>C</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மோடு இணைந்திருக்கும் கிளை நாங்கள்</samp>
<span class="chordline"><b>Bm</b>         <b>Am</b>          <b>C</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் படருகின்ற கொடி நாங்கள்                                                   </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>       <b>D</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. பசும்புல் மேய்ச்சலிலே</samp>
<span class="chordline">         <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">நடத்திச் செல்பவரே                                                                             </samp>
<span class="chordline"><b>Am</b>      <b>C</b>      <b>G</b>   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பர்சுத்தமானவரே  ஐயா</samp>
<span class="chordline"><b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமே மகிழுதையா</samp>
<span class="chordline"><b>G</b>          <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">உம்மோடு இருப்பதனால்</samp>
<span class="chordline"><b>D</b>       <b>G</b>        <b>Em</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கள்ளம் நீங்குதையா  எனக்கு</samp>
<span class="chordline"><b>D</b>       <b>G</b>        <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கள்ளம் நீங்குதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. குயவன் கையில் உள்ள களிமண் நாங்கள்</samp>
<samp charset="UTF-8" class="lyricline">ஏந்தி வனைந்திடுமே ஐயா                                                            </samp>
<samp charset="UTF-8" class="lyricline">சித்தம் போல் உருவாக்கும்</samp>
<samp charset="UTF-8" class="lyricline">சுத்தமாய் உருமாற்றும்</samp>
<samp charset="UTF-8" class="lyricline">நித்தம் உம் கரத்தில்  நாங்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வார்த்தையில் நிலைத்திருந்து தினமும்</samp>
<samp charset="UTF-8" class="lyricline">கனி கொடுக்கும்</samp>
<samp charset="UTF-8" class="lyricline">சீடர்கள் நாங்கள் ஐயா                                                                        </samp>
<samp charset="UTF-8" class="lyricline">வேதத்தை ஏந்துகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">வாசித்து மகிழுகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">தியானம் செய்கின்றோம்  நாங்கள்</samp></div></div>   
        
     </div>