<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1575" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>            <b>A</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னையே வெறுத்துவிட்டால்</samp>
<span class="chordline"><b>C7</b>          <b>F</b>     <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியம் செய்திடலாம்</samp>
<span class="chordline"><b>C</b>                <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">சுயத்தை சாகடித்தால்</samp>
<span class="chordline">   <b>F</b>               <b>Bb</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுகமாய் வாழ்ந்திடலாம்                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>          <b>Am</b>     <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">1. சிலுவை சுமப்பதனால்</samp>
<span class="chordline"><b>Bb</b>         <b>F7</b>       <b>C</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தையே மாறி விடும்</samp>
<span class="chordline"><b>F</b>     <b>Bb</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீடிய பொறுமை வரும்</samp>
<span class="chordline"><b>C7</b>      <b>F</b>          <b>Bb</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிரந்தர அமைதி வரும்                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பெயர் புகழ் எல்லாமே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்திற்கே</samp>
<samp charset="UTF-8" class="lyricline">கிறிஸ்து வளரட்டுமே</samp>
<samp charset="UTF-8" class="lyricline">நமது மறையட்டுமே                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நாளைய தினம் குறித்து</samp>
<samp charset="UTF-8" class="lyricline">கலங்காதே மகனே (மகளே)                                                         </samp>
<samp charset="UTF-8" class="lyricline">இதுவரை காத்த தெய்வம்</samp>
<samp charset="UTF-8" class="lyricline">இனியும் நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. சேர்த்து வைக்காதே</samp>
<samp charset="UTF-8" class="lyricline">திருடன் பறித்திடுவான்                                                                </samp>
<samp charset="UTF-8" class="lyricline">கொடுத்திடு கர்த்தருக்கே</samp>
<samp charset="UTF-8" class="lyricline">குறைவின்றி காத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தன்னலம் நோக்காமல்</samp>
<samp charset="UTF-8" class="lyricline">பிறர் நலம் தேடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவில் இருந்த சிந்தை</samp>
<samp charset="UTF-8" class="lyricline">என்றுமே இருக்கட்டுமே   </samp></div></div>   
        
     </div>