<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1576" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>               <b>Ab</b>    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு மகிமை தருகிறோம்</samp>
<span class="chordline">              <b>Bbm</b>      <b>Eb</b>      <b>Fm</b>      </span>
<samp charset="UTF-8" class="lyricline">உம்மில்தான் மகிழ்ச்சி அடைகிறோம்</samp>
<span class="chordline">           <b>Eb</b>  <b>C</b>         <b>Fm</b>  </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Eb</b>       <b>Fm</b>           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">1. தாழ்மையில் அடிமையை</samp>
<span class="chordline">          <b>Db</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கிப் பார்த்தீரே</samp>
<span class="chordline"><b>Fm</b>        <b>Ab</b>      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உயர்த்தி மகிழ்ந்தீரே</samp>
<span class="chordline"><b>Ab</b>          <b>Db</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு கோடி ஸ்தோத்திரமே                                                                </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. வல்லவரே மகிமையாய்</samp>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் திருநாமம்</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமானதே                                                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வலியோரை அகற்றினீர்</samp>
<samp charset="UTF-8" class="lyricline">தாழ்ந்தோரை உயர்த்தினீர்</samp>
<samp charset="UTF-8" class="lyricline">பசித்தோரை நன்மைகளால்</samp>
<samp charset="UTF-8" class="lyricline">திருப்தியாக்கினீ ர்                                                                              </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கன்மலையின் வெடிப்பில் வைத்து</samp>
<samp charset="UTF-8" class="lyricline">கரத்தால் மூடுகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">என்ன சொல்லிப் பாடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">என் இதய வேந்தனே   </samp></div></div>   
        
     </div>