<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1577" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                              <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நிரப்பும் இயேசு தெய்வமே</samp>
<span class="chordline"><b>Eb7</b>         <b>Ab</b>  <b>C</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இன்று நிரப்பும் உந்தன் ஆவியால்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>                <b>C</b>            <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. பேய்களை ஓட்டி நோய்களைப் போக்கும்</samp>
<span class="chordline"><b>Eb</b>       <b>Db</b>    <b>C</b>  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பெலனே வாருமே                                                                                 </samp>
<span class="chordline"><b>Bbm</b>         <b>Eb</b>    <b>Bbm</b> <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீனம் நீக்கி பலவானாய் மாற்றும்</samp>
<span class="chordline"><b>Ab</b>            <b>Eb</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையே வாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. தேற்றரவாளன் பரிசுத்த ஆவி</samp>
<samp charset="UTF-8" class="lyricline">தேற்றிட வாருமே</samp>
<samp charset="UTF-8" class="lyricline">ஆற்றலைக் கொடுத்து அன்பால் நிரப்பும்</samp>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே                                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வரங்களைக் கொடுத்து வாழ்வை அளிக்கும்</samp>
<samp charset="UTF-8" class="lyricline">வள்ளலே வாருமே                                                                                 </samp>
<samp charset="UTF-8" class="lyricline">கனிகளால் நிரப்பி காயங்கள் ஆற்றும்</samp>
<samp charset="UTF-8" class="lyricline">கருணையே வாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கோபங்கள் போக்கி சுபாவங்கள் மாற்றும்</samp>
<samp charset="UTF-8" class="lyricline">சாந்தமே வாருமே                                                                                 </samp>
<samp charset="UTF-8" class="lyricline">பாவங்கள் கழுவிப் பரிசுத்தமாக்கும்</samp>
<samp charset="UTF-8" class="lyricline">பரமனே வாருமே </samp></div></div>   
        
     </div>