<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1578" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>       </span>
<samp charset="UTF-8" class="lyricline">இரத்தக் கோட்டைக்குள்ளே</samp>
<span class="chordline">      <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">நான் நுழைந்து விட்டேன்</samp>
<span class="chordline">      <b>C</b>    <b>C7</b>         E<b>B</b></span>
<samp charset="UTF-8" class="lyricline">இனி எதுவும் அணுகாது</samp>
<span class="chordline">       <b>Eb</b>      <b>C7</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தத் தீங்கும் தீண்டாது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>       <b>Eb</b>       <b>Db</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. நேசரின் இரத்தம் என்மேலே</samp>
<span class="chordline"><b>Eb</b>          <b>Eb7</b>  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நெருங்காது சாத்தான்</samp>
<span class="chordline"><b>Fm</b>      <b>C7</b>              <b>Db</b>   <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">பாசமாய் சிலுவையில் பலியானார்</samp>
<span class="chordline"><b>Eb</b>         <b>Ab</b>            <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தை வென்று விட்டார்                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இம்மட்டும் உதவின எபினேசரே</samp>
<samp charset="UTF-8" class="lyricline">இனியும் காத்திடுவார்                                                                    </samp>
<samp charset="UTF-8" class="lyricline">உலகிலே இருக்கும் அவனை விட</samp>
<samp charset="UTF-8" class="lyricline">என் தேவன் பெரியவரே                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தேவனே ஒளியும் மீட்புமானார்</samp>
<samp charset="UTF-8" class="lyricline">யாருக்கு அஞ்சிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">அவரே என் வாழ்வின் பெலனானார்</samp>
<samp charset="UTF-8" class="lyricline">யாருக்கு பயப்படுவேன்                                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. தாய் தன் பிள்ளையை மறந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">மறவாத என் நேசரே                                                                         </samp>
<samp charset="UTF-8" class="lyricline">ஆயனைப் போல நடத்துகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் செய்கின்றீர்  என்னை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. மலைகள் குன்றுகள் விலகினாலும்</samp>
<samp charset="UTF-8" class="lyricline">மாறாது உம் கிருபை                                                                        </samp>
<samp charset="UTF-8" class="lyricline">அனாதி சிநேகத்தால் இழுத்துக் கொண்டீர்</samp>
<samp charset="UTF-8" class="lyricline">அணைத்து சேர்த்துக் கொண்டீர் </samp></div></div>   
        
     </div>