<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1579" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>    <b>A</b>    <b>Dm</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பிதாவே ஆராதிக்கின்றோம்</samp>
<span class="chordline"><b>C7</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ஆர்ப்பரிக்கின்றோம்</samp>
<span class="chordline"><b>Csus4</b>   <b>Bb</b>   <b>Edim7</b>     <b>C7</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியானவரே        அன்பு செய்கின்றோம்                                                  </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதிக்கின்றோம்</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரிக்கின்றோம்</samp>
<span class="chordline"><b>F</b>      <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு செய்கின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                                   <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. மகனாக (மகளாக) தெரிந்து கொண்டீர்                                             </samp>
<span class="chordline"><b>Gm</b>      <b>C7</b>            <b>A</b> <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மறுபடி பிறக்க வைத்தீர்</samp>
<span class="chordline"><b>Bb</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாக்களும் நாங்களே</samp>
<span class="chordline"><b>F</b>         <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆசாரியர்களும் நாங்களே                                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சகலமும் படைத்தவரே</samp>
<samp charset="UTF-8" class="lyricline">சர்வ வல்லவரே                                                                                           </samp>
<samp charset="UTF-8" class="lyricline">மகிமைக்கு பாத்திரரே</samp>
<samp charset="UTF-8" class="lyricline">மங்காத பிரகாசமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஸ்தோத்திரமும் கனமும்</samp>
<samp charset="UTF-8" class="lyricline">வல்லமையும் பெலனும்</samp>
<samp charset="UTF-8" class="lyricline">மாட்சிமையும் துதியும்</samp>
<samp charset="UTF-8" class="lyricline">எப்போதும் உண்டாகட்டும்                                                                        </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பரிசுத்தர் பரிசுத்தரே</samp>
<samp charset="UTF-8" class="lyricline">பரலோக ராஜாவே</samp>
<samp charset="UTF-8" class="lyricline">எப்போதும் இருப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">இனிமேலும் வருபவரே                                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உமது செயல்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">அதிசயமானவைகள்                                                                                     </samp>
<samp charset="UTF-8" class="lyricline">உமது வழிகளெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">சத்தியமானவைகள்  </samp></div></div>   
        
     </div>