<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1580" class="song songcont"><div class="songpre"><span class="chordline"><b>Eb</b>            <b>Cm</b>          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவனே என் இயேசுவே</samp>
<span class="chordline">            <b>Bb7</b>      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நேசிக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Eb</b>                  <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">1. அதிகாலமே தேடுகிறேன்</samp>
<span class="chordline"><b>Bb</b>           <b>Bb7</b>    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்வமுடன் நாடுகிறேன்                                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. என் உள்ளமும் என் உடலும்</samp>
<samp charset="UTF-8" class="lyricline">உமக்காகத் தான் ஏங்குதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. துணையாளரே உம் சிறகின்</samp>
<samp charset="UTF-8" class="lyricline">நிழலில் தானே களிகூருவேன்                                                            </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஜீவனுள்ள நாட்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்தரிப்பேன் துதி பாடுவேன்                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உலகம் எல்லாம் மாயையையா                                                    </samp>
<samp charset="UTF-8" class="lyricline">உம் அன்பு தான் மாறாதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. படுக்கையிலும் நினைக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">இராச் சாமத்தில் தியானிக்கின்றேன்   </samp></div></div>   
        
     </div>