<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1581" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஐயா உம் திருநாமம்</samp>
<span class="chordline"><b>F</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அகில மெல்லாம் பரவ வேண்டும்</samp>
<span class="chordline"><b>F</b> </span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் உம் வசனம்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அனைவரும் கேட்க வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">1. கலங்கிடும் மாந்தர்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி அன்பை</samp>
<span class="chordline"><b>C7</b>       <b>C</b>          <b>Bb</b> <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கண்டு மகிழ வேண்டும்</samp>
<span class="chordline"><b>Bb</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கழுவப்பட்டு வாழ வேண்டும் </samp>
<span class="chordline"><b>G7</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கழுவப்பட்டு வாழ வேண்டும்                                                        </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இருளில் வாழும் மாந்தர்</samp>
<samp charset="UTF-8" class="lyricline">பேரொளியைக் கண்டு</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பு அடைய வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">இயேசு என்று சொல்ல வேண்டும்                                                </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சாத்தானை வென்று</samp>
<samp charset="UTF-8" class="lyricline">சாபத்தினின்று</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை பெற வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">வெற்றி பெற்று வாழ வேண்டும்                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. குருடரெல்லாம் பார்க்கணும்</samp>
<samp charset="UTF-8" class="lyricline">முடவரெல்லாம் நடக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">செவிடரெல்லாம் கேட்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">சுவிசேஷம் சொல்லணுமே </samp></div></div>   
        
     </div>