<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1582" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                <b>B</b>   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எக்காளம் ஊதிடுவோம்</samp>
<span class="chordline"><b>C</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எரிகோவை தகர்த்திடுவோம்</samp>
<span class="chordline">          <b>Dsus4</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் நாமம் உயர்த்திடுவோம்</samp>
<span class="chordline"><b>C</b>          <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரிக் கொடி ஏற்றுவோம்                                                       </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">1. கிதியோன்களே புறப்படுங்கள்</samp>
<span class="chordline"><b>C</b>      <b>Am</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எதிரிகளை துரத்திடுங்கள்</samp>
<span class="chordline">       <b>Am</b>   <b>D7</b>   </span>
<samp charset="UTF-8" class="lyricline">தீபங்களை ஏந்திடுங்கள்</samp>
<span class="chordline"><b>G</b>            <b>D7</b>    <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">தெருத் தெருவாய் நுழைந்திடுங்கள்                                              </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சிம்சோன்களே எழும்பிடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">வல்லமையால் நிரம்பிடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">சீறிவரும் சிங்கங்களை</samp>
<samp charset="UTF-8" class="lyricline">சிறைபிடித்து கிழித்திடுங்கள்                                                            </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தெபோராக்களே விழித்திடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">உபவாசித்து ஜெபித்திடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">எஸ்தர்களே கூடிடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">இரவுகளை பகலாக்குங்கள்                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அதிகாலையில் காத்திருப்போம்</samp>
<samp charset="UTF-8" class="lyricline">அபிஷேகத்தால் நிரம்பிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">கழுகு போல பெலனடைந்து</samp>
<samp charset="UTF-8" class="lyricline">கர்ததருக்காய் பறந்திடுவோம் </samp></div></div>   
        
     </div>