<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1583" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                       <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் மேல் பாரத்தை வைத்து விடு</samp>
<span class="chordline">                  <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">கலங்கித் தவிக்காதே</samp>
<span class="chordline"><b>F</b>                <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அவரே உன்னை ஆதரிப்பார்</samp>
<span class="chordline"><b>F</b>     <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்வார்                                                                        </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. நீதிமான் தள்ளாட விடமாட்டார்</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>      <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நித்தமும் காத்து நடத்திடுவார்                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. நம்மைக் காக்கும் தேவனவர்</samp>
<samp charset="UTF-8" class="lyricline">நமது நிழலாய் இருக்கின்றவர்                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தகப்பனும் தாயும் கைவிட்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">அவரே நம்மை அணைத்துக் கொள்வார்                                   </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கர்த்தர் நம் சார்பில் இருக்கும்போது</samp>
<samp charset="UTF-8" class="lyricline">நமக்கு எதிராய் நிற்பவன் யார்?                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. வாழ்வை கர்த்தருக்கு ஒப்புக் கொடுப்போம்</samp>
<samp charset="UTF-8" class="lyricline">அவரே எல்லாம் வாய்க்கச் செய்வார்                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. என்றும் அவரில் மகிழ்ந்திருப்போம்</samp>
<samp charset="UTF-8" class="lyricline">இதய விருப்பம் நிறைவேற்றுவார்        </samp></div></div>   
        
     </div>