<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1584" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>             <b>C7</b>     <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">அன்பே கல்வாரி அன்பே</samp>
<span class="chordline"><b>C</b>                    <b>Edim7</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் பார்க்கையிலே</samp>
<span class="chordline">    <b>F</b>                   <b>Bb</b> <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் உடையுதப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>         <b>F7</b>      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. தாகம் தாகம் என்றீர்</samp>
<span class="chordline"><b>C7</b>                   <b>F</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் ஏங்கி நின்றீர்</samp>
<span class="chordline"><b>Bb</b>     <b>C</b>        <b>Gm</b>  <b>Edim</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் சுமந்தீர்       எங்கள்</samp>
<span class="chordline"><b>F</b>              <b>Bb</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிகார பலியானீர் எங்கள்                                                            </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. காயங்கள் பார்க்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீர் வடிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">தூய திரு இரத்தமே</samp>
<samp charset="UTF-8" class="lyricline">துடிக்கும் தாயுள்ளமே                                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அணைக்கும் கரங்களிலே</samp>
<samp charset="UTF-8" class="lyricline">ஆணிகளா சுவாமி?</samp>
<samp charset="UTF-8" class="lyricline">நினைத்து பார்க்கையிலே (என்)</samp>
<samp charset="UTF-8" class="lyricline">நெஞ்சம் உருகுதையா                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நெஞ்சிலே ஓர் ஊற்று</samp>
<samp charset="UTF-8" class="lyricline">நதியாய் பாயுதையா</samp>
<samp charset="UTF-8" class="lyricline">மனிதர்கள் மூழ்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">மறுரூபம் ஆகணுமே  எல்லா  </samp></div></div>   
        
     </div>