<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1585" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவாலே பிடிக்கப்பட்டவன்  அவர்</samp>
<span class="chordline"><b>D</b>              <b>C</b>            <b>B</b>  </span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தாலே கழுவப்பட்டவன்  நான்</samp>
<span class="chordline"><b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கென்று எதுவுமில்ல</samp>
<span class="chordline"><b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இப்பூமி சொந்தமில்ல</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                          <b>C</b>           <b>G</b>        <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாமே இயேசு... என் இயேசு என் இயேசு இயேசு இயேசு</samp>
<span class="chordline">        <b>G</b>       <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா இயேசு இயேசு இயேசு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. பரலோகம் தாய்வீடு                                                                     </samp>
<span class="chordline">              <b>D</b>    <b>B</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அதைத் தேடி நீ ஓடு</samp>
<span class="chordline"><b>G</b>           <b>D</b>       <b>G</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒருவரும் அழிந்து போகாமலே</samp>
<span class="chordline"><b>C</b>        <b>G</b>              <b>B</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தாயகம் வர வேண்டும் தப்பாமலே  நம்ம</samp>
<span class="chordline"><b>C</b>        <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாயகம் வர வேண்டும் தப்பாமலே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அந்தகார இருளினின்று</samp>
<samp charset="UTF-8" class="lyricline">ஆச்சரிய ஒளிக்கழைத்தார்</samp>
<samp charset="UTF-8" class="lyricline">அழைத்தவர் புண்ணியங்கள் அறிவித்திட</samp>
<samp charset="UTF-8" class="lyricline">இந்த அடிமையை தெரிந்தெடுத்தார்                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இலாபமான அனைத்தையுமே</samp>
<samp charset="UTF-8" class="lyricline">நஷ்டமென்று கருதுகின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவை அறிகின்ற தாகத்தினால்</samp>
<samp charset="UTF-8" class="lyricline">எல்லாமே இழந்து விட்டேன்  நான்                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பாடுகள் அநுபவிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">பரலோக தேவனுக்காய்</samp>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவின் மகிமை வெளிப்படும் நாளில்</samp>
<samp charset="UTF-8" class="lyricline">களிகூர்ந்து மகிழ்ந்திருப்பேன்  நான்                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. பின்னானவை மறந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">முன்னானவை நாடினேன்</samp>
<samp charset="UTF-8" class="lyricline">என் நேசர் தருகின்ற பரிசுக்காக</samp>
<samp charset="UTF-8" class="lyricline">இலக்கை நோக்கித் தொடருகின்றேன்                                        </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. நீதியை விரும்புகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">அக்கிரமம் வெறுக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">ஆனந்த தைல அபிஷேகத்தால்</samp>
<samp charset="UTF-8" class="lyricline">அனுதினம் நிரம்புகிறேன்                                                                 </samp></div></div>   
        
     </div>