<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1586" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>            <b>C7</b>  <b>C</b>                    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியே பக்தர்கள் துணையாளரே</samp>
<span class="chordline">              <b>C7</b>            <b>Ab</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கூட இருப்பவரே குறைகள் தீர்ப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. தேற்றிடும் தெய்வமே                                                             </samp>
<span class="chordline"><b>Db</b>      <b>Eb</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">திடன் தருபவரே</samp>
<span class="chordline"><b>Eb</b>       <b>Ab</b>     <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஊற்றுத் தண்ணீரே                                                                        </samp>
<span class="chordline"><b>Fm</b>           <b>C</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தின் ஆறுதலே  எங்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பயங்கள் நீக்கிவிட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">பாவங்கள் போக்கிவிட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">ஜெயமே உம் வரவால்                                                                     </samp>
<samp charset="UTF-8" class="lyricline">ஜெபமே உம் தயவால்  தினம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அபிஷேக நாதரே</samp>
<samp charset="UTF-8" class="lyricline">அச்சாரமானவரே</samp>
<samp charset="UTF-8" class="lyricline">மீட்பின் நாளுக்கென்று</samp>
<samp charset="UTF-8" class="lyricline">முத்திரையானவரே  எங்கள்                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. விடுதலை தருபவரே</samp>
<samp charset="UTF-8" class="lyricline">விண்ணப்பம் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">சாட்சியாய் நிறுத்துகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">சத்தியம் போதிக்கிறீர்  தினம்                                                        </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. அயல்மொழி பேசுகிறோம்</samp>
<samp charset="UTF-8" class="lyricline">அதிசயம் காண்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">வரங்கள் பெறுகிறோம்</samp>
<samp charset="UTF-8" class="lyricline">வளமாய் வாழ்கிறோம்                                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. சத்துரு வரும் போது</samp>
<samp charset="UTF-8" class="lyricline">எதிராய் கொடி பிடிப்பீர்</samp>
<samp charset="UTF-8" class="lyricline">எக்காளம் ஊதுகிறோம்</samp>
<samp charset="UTF-8" class="lyricline">எதிரியை வென்று விட்டோம் </samp></div></div>   
        
     </div>