<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1587" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜனமே மனந்திரும்பு</samp>
<span class="chordline"><b>C</b>        <b>Ab</b>       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவிடம் ஓடிவா</samp>
<span class="chordline">          <b>Eb</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இறுதிக்காலம் வந்தாச்சு</samp>
<span class="chordline"><b>C7</b>          <b>Ab</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இன்னமும் தாமதமேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>                             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">1. உன்னை நினைத்து சிலுவையிலே</samp>
<span class="chordline">       <b>Eb7</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் தாகம் என்றார்                                                                 </samp>
<span class="chordline"><b>Bbm</b>              <b>C7</b> <b>Bbm</b>            <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை இரட்சிக்க பாவம் மன்னிக்க</samp>
<span class="chordline"><b>Eb</b>           <b>Ab</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தன்னையே பலியாக்கினார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. தூய இரத்தம் உனக்காக                                                             </samp>
<samp charset="UTF-8" class="lyricline">தீய உன் வாழ்வு மாற</samp>
<samp charset="UTF-8" class="lyricline">காயங்கள் உனக்காக</samp>
<samp charset="UTF-8" class="lyricline">உன் நோயெல்லாம் தீர</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உனக்காக பரலோகத்தில்</samp>
<samp charset="UTF-8" class="lyricline">உறைவிடம் கட்டுகிறார்</samp>
<samp charset="UTF-8" class="lyricline">உன்னைத் தேடி வருகின்றார்</samp>
<samp charset="UTF-8" class="lyricline">இன்று நீ ஆயத்தமா  மகனே                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உன் பாவங்கள் போக்கிடவே</samp>
<samp charset="UTF-8" class="lyricline">சிலுவையை சுமந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">உன் சாபங்கள் நீக்கிடவே</samp>
<samp charset="UTF-8" class="lyricline">முள்முடி தாங்கினாரே </samp></div></div>   
        
     </div>