<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1590" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்து போகாதே என் நண்பனே</samp>
<span class="chordline">       <b>C</b>                              <b>F</b> <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">மனம் உடைந்து போகாதே என் பிரியனே</samp>
<span class="chordline">    <b>Dm</b>                <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">கடும் புயல் வரினும் காற்று வீசினும்</samp>
<span class="chordline">   <b>A</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீ கலங்காதே மனமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு உன்னை தேற்றிடுவார்</samp>
<span class="chordline"><b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு உன்னை காத்திடுவார்</samp>
<span class="chordline"><b>Gm</b>                                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு உன்னை உயர்த்துவார் நண்பனே - 2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>                             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் ஆத்மநேசர் முன் செல்கையில்</samp>
<span class="chordline"><b>C</b>                      <b>F</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்றுமே அஞ்சிடேன்</samp>
<span class="chordline">   <b>Dm</b>             <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">என் கரம் பிடித்து மகிமைதனில் அவர்</samp>
<span class="chordline"><b>A</b>                <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் நடத்துவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நண்பர் உன்னை கைவிட்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">நம்பினோர் உன்னை தள்ளிவிட்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">மனம் கலங்காதே திகையாதே உன்</samp>
<samp charset="UTF-8" class="lyricline">இயேசு இருக்கிறார் </samp></div></div>   
        
     </div>