<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1592" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>             <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவன் என் வெளிச்சம்</samp>
<span class="chordline">          <b>G</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை இரட்சித்தவரும் அவரே</samp>
<span class="chordline">             <b>D7</b>       <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">என் ஜீவனுக்கரணானவர் - நான்</samp>
<span class="chordline"><b>Em</b>          <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">யாருக்கும் அஞ்சமாட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>                   <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாயும் தந்தையும் தள்ளிவிட்டாலும்</samp>
<span class="chordline">        <b>A</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தந்தை இயேசென்னை சேர்த்துக்கொள்வார்</samp>
<span class="chordline">                         <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அவர் நிழலில் வைத்துக் காத்திடுவார்</samp>
<span class="chordline"><b>Em</b>          <b>A</b>                   <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">கன்மலை மேலேற்றி என்னை உயர்த்திடுவார்</samp>
<span class="chordline">                         <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அவர் நிழலில் வைத்துக் காத்திடுவார்</samp>
<span class="chordline"><b>Em</b>          <b>A</b>                   <b>D</b>    <b>A</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலை மேலேற்றி என்னை உயர்த்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தீமை செய்கின்றவர்கள் எனக்கு</samp>
<samp charset="UTF-8" class="lyricline">தீமை செய்ய விரும்புகையில்</samp>
<samp charset="UTF-8" class="lyricline">தேவன் அருகில் வந்து என்னை காத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">என்னைப் பகைத்தவர்கள் உடனே அழிவாரே</samp></div></div>   
        
     </div>