<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1593" class="song songcont"><div class="songpre"><span class="chordline"><b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">என் இதயம் யாருக்கு தெரியும்</samp>
<span class="chordline">     <b>F#</b>                  <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">என் வேதனை யாருக்கு புரியும்</samp>
<span class="chordline">    <b>B</b>             <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">என் தனிமை என் சோர்வுகள்</samp>
<span class="chordline"><b>Bb</b>                     <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">யார் என்னை தேற்றக் கூடும் </samp>
<span class="chordline"><b>G#m</b>            <b>Bb</b>      <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">யார் என்னை தேற்றக் கூடும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சின் நோகங்கள்</samp>
<span class="chordline">       <b>G#m</b>           <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">அதை மிஞ்சும் பாரங்கள்</samp>
<span class="chordline"><b>B</b>             <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">தஞ்சம் இன்றியே</samp>
<span class="chordline"><b>C#</b>            <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் ஏங்குதே</samp>
<span class="chordline"><b>Bb</b>            <b>Ebm</b> </span>
<samp charset="UTF-8" class="lyricline">உள்ளம் ஏங்குதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சிறகு ஒடிந்த நிலையில்</samp>
<samp charset="UTF-8" class="lyricline">பறவை பறக்குமோ</samp>
<samp charset="UTF-8" class="lyricline">வீசும் புயலிலே</samp>
<samp charset="UTF-8" class="lyricline">படகும் தப்புமோ - (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மங்கி எரியும் விளக்கு</samp>
<samp charset="UTF-8" class="lyricline">பெருங்காற்றில் நிலைக்குமோ</samp>
<samp charset="UTF-8" class="lyricline">உடைந்த உள்ளமும்</samp>
<samp charset="UTF-8" class="lyricline">ஒன்று சேருமோ - (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அங்கே தெரியும் வெளிச்சம்</samp>
<samp charset="UTF-8" class="lyricline">கலங்கரை தீபமோ</samp>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜனின்</samp>
<samp charset="UTF-8" class="lyricline">முகத்தின் வெளிச்சமே - (2)</samp>
<span class="blankline"></span></div></div>   
        
     </div>