<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1596" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் மீட்பர் இரத்தம் சிந்தினார்</samp>
<span class="chordline">                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் பரிசுத்தர் ஆனேன் - அவர்</samp>
<span class="chordline"><b>A</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் மரித்தெழுந்தார்</samp>
<span class="chordline">      <b>C</b>      <b>A</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் மறுரூபமானேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>            <b>F#</b>      <b>Bm</b>   <b>A</b>     </span>
<samp charset="UTF-8" class="lyricline">அவர் பாதை   ஜீவ ஒளியாம்</samp>
<span class="chordline">     <b>G</b>       <b>A</b>  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் இதயம் தேடுதே</samp>
<span class="chordline">       <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வார்த்தை ஜீவ ஊற்றாம்</samp>
<span class="chordline">     <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் இதயம் நாடுதே</samp>
<span class="chordline"><b>D</b>            <b>F#</b>    <b>Bm</b>   <b>A</b>     </span>
<samp charset="UTF-8" class="lyricline">அவர் பாதை   ஜீவ ஒளியாம்</samp>
<span class="chordline">     <b>C</b>     <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் இதயம் தேடுதே</samp>
<span class="chordline">       <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வார்த்தை ஜீவ ஊற்றாம்</samp>
<span class="chordline">   <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் இதயம் நாடுதே</samp>
<span class="chordline">     <b>G</b>       <b>A</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் இதயம் நாடுதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அவர் எனக்காய் உயிர் கொடுத்தார்</samp>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் போற்றுதே</samp>
<samp charset="UTF-8" class="lyricline">அவர் என்னோடென்றும் இரருப்பார்</samp>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் வாழ்த்துதே</samp>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் வாழ்த்துதே</samp></div></div>   
        
     </div>