<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1599" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை பாடாத நாவும்</samp>
<span class="chordline"><b>A</b>        <b>F#m</b>       <b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கேளாத செவியும் மகிமை இழந்ததே</samp>
<span class="chordline">       <b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் மகிமையிழந்ததே</samp>
<span class="chordline">        <b>D</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சித்தம் செய்ய நித்தம்</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை நீர் என்னை</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொள்ளுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் பாவத்தைப் போக்க</samp>
<span class="chordline"><b>A</b>         <b>F#m</b>   <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாரினில் வந்த பரனை பொற்றுவேன் - தேவ</samp>
<span class="chordline"><b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பரனை போற்றுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இயேசு சிந்தின இரத்தம் உந்தனுக்காக</samp>
<samp charset="UTF-8" class="lyricline">சிலுவை அண்டை நீ வா - அவர்</samp>
<samp charset="UTF-8" class="lyricline">சிலுவை அண்டை நீ வா </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இதோ சீக்கிரம் வரும் இயேசு ராஜனை</samp>
<samp charset="UTF-8" class="lyricline">போற்றித் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">போற்றித் துதித்திடுவோம் - தினம்</samp></div></div>   
        
     </div>