<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1600" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                     <b>Bb</b>        <b>Am</b>     <b>C</b>          <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">திருப்பாதம் நம்பி வந்தேன் கிருபை நிறை இயேசுவே</samp>
<span class="chordline"> <b>Gm</b>                            <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தமதன்பைக் கண்டடைந்தேன் தேவ சமூகத்திலே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Dm</b>                   <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இளைப்பாறுதல் தரும் தேவா</samp>
<span class="chordline">       <b>Gm</b>        <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">களைத்தோரைத் தேற்றிடுமே</samp>
<span class="chordline">    <b>G</b>       <b>Bb</b>          <b>Eb</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை நிழல் எந்தன் தஞ்சம்</samp>
<span class="chordline">   <b>Bb</b>           <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுகமாய் அங்கு தங்கிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என்னை நோக்கிக் கூப்பிடு என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">இன்னல் துன்ப நேரத்திலும்</samp>
<samp charset="UTF-8" class="lyricline">கருத்தாய் விசாரித்து என்றும்</samp>
<samp charset="UTF-8" class="lyricline">கனிவோடென்னை நோக்கிடுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மனம் மாற மாந்தன் நீரல்ல</samp>
<samp charset="UTF-8" class="lyricline">மன வேண்டுதல் கேட்டிடும்</samp>
<samp charset="UTF-8" class="lyricline">எனதுள்ளம் ஊற்றி ஜெபித்தே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம்மை அண்டிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என்னைக் கைவிடாதிரும் நாதா</samp>
<samp charset="UTF-8" class="lyricline">என்ன நிந்தை நேரிடினும்</samp>
<samp charset="UTF-8" class="lyricline">உமக்காக யாவும் சகிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">உமது பெலன் ஈந்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உம்மை ஊக்கமாய் நோக்கிப் பார்த்தே</samp>
<samp charset="UTF-8" class="lyricline">உண்மையாய் வெட்கம் அடையேன்</samp>
<samp charset="UTF-8" class="lyricline">தமது முகப் பிரகாசம்</samp>
<samp charset="UTF-8" class="lyricline">தினமும் என்னில் வீசிடுதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சத்துரு தலை கவிழ்ந்தோட</samp>
<samp charset="UTF-8" class="lyricline">நித்தமும் கிரியை செய்திடும்</samp>
<samp charset="UTF-8" class="lyricline">என்னை தேற்றிடும் அடையாளம்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே இன்று காட்டிடுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">விசுவாசத்தால் பிழைத்தோங்க</samp>
<samp charset="UTF-8" class="lyricline">வீர பாதை காட்டிடுமே</samp>
<samp charset="UTF-8" class="lyricline">வளர்ந்து கனி தரும் வாழ்வை</samp>
<samp charset="UTF-8" class="lyricline">விரும்பி வரம் வேண்டுகிறேன். </samp>
<span class="blankline"></span></div></div>   
        
     </div>