<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1606" class="song songcont"><div class="songpre"><span class="chordline"><b>Bbm</b>         <b>G#</b>     <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">என் இன்ப துன்ப நேரம்</samp>
<span class="chordline">      <b>F</b>               <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">நான் உம்மைச் சேருவேன்</samp>
<span class="chordline"><b>Bb</b>           <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">நான் நம்பிடுவேன்</samp>
<span class="chordline"><b>Bbm</b>     <b>G#</b>        <b>F#</b>      <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் உம்மைச் சார்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bbm</b>             <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">நான் நம்பிடும் தெய்வம் - இயேசுவே</samp>
<span class="chordline"><b>F#</b>              <b>F</b>      <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்றுமே நம்பிடுவேன்</samp>
<span class="chordline"><b>Bbm</b>             <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">நான் நம்பிடும் தெய்வம் - இயேசுவே</samp>
<span class="chordline"><b>Ebm</b>              <b>F</b>     <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்றுமே நம்பிடுவேன்</samp>
<span class="chordline"><b>C#</b>    <b>G#</b>  <b>Ebm</b>  <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே! ராஜனே!</samp>
<span class="chordline"><b>F#</b>      <b>G#</b>        <b>F</b>      <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றி என்னை தாங்கிடுவார் - என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இவரே நல்ல நேசர் - என்றுமே</samp>
<samp charset="UTF-8" class="lyricline">தாங்கி என்னை நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">தீமைகள் சேதங்கள்</samp>
<samp charset="UTF-8" class="lyricline">சேரா என்னைக் காத்திடுவார் - என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பார்போற்றும் ராஜன் - புவியில்</samp>
<samp charset="UTF-8" class="lyricline">நான் வென்றிடச் செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">மேகத்தில் தோன்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">அவரைப் போல மாறிடுவேன் - என்</samp></div></div>   
        
     </div>