<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1607" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                       <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">மெளனமாய் இருக்காதே</samp>
<span class="chordline"><b>A</b>             <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மெளனமாய் இருக்காதே</samp>
<span class="chordline">      <b>A</b>                 <b>G#m</b>          <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">இது சிந்திக்கும் காலம் செயல்படும் நேரம்</samp>
<span class="chordline"><b>B</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மெளனமாய் இருக்காதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C#m</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பகட்டு வாழ்வோ பரமனின் அன்போ</samp>
<span class="chordline"><b>A</b>               <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எது உன்னை இழுக்கிறது</samp>
<span class="chordline"><b>C#m</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கணக்கு கேட்கும் கர்த்தர் வருவார்</samp>
<span class="chordline"><b>A</b>                 <b>B</b>     <b>E</b>  <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">வெறுங்கையாய் நிற்பாயோ</samp>
<span class="chordline">     <b>A</b>                   <b>G#m</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">இது சிந்திக்கும் காலம் செயல்படும் நேரம்</samp>
<span class="chordline"><b>B</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மெளனமாய் இருக்காதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இந்தியா இயேசுவை அறிந்திடும் காலம்</samp>
<samp charset="UTF-8" class="lyricline">இது தான் இது தானே</samp>
<samp charset="UTF-8" class="lyricline">இந்த காலத்தில் மௌனமாய் இருந்தால்</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்புதான் வருமோ</samp></div></div>   
        
     </div>