<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1617" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">அத்திமரம் துளிர்விடாமல் போனாலும்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">திராட்சை செடி பலன்</samp>
<span class="chordline"><b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">கொடாமல் போனாலும்</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்குள் மகிழ்ச்சியாயிருப்பேன்</samp>
<span class="chordline"><b>Gsus4</b> <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவனுக்குள் களிகூருவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">1. ஒலிவ மரம் பலன் அற்றுப் போனாலும்</samp>
<span class="chordline"><b>Ab</b> <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">வயல்களிலே தானியமின்றிப் போனாலும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. மந்தையிலே ஆடுகளின்றிப் போனாலும்</samp>
<samp charset="UTF-8" class="lyricline">தொழுவத்திலே மாடுகளின்றிப் போனாலும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. எல்லாமே எதிராக இருந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">சூழ்நிலைகள் தோல்வி போல தெரிந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உயிர் நண்பன் என்னை விட்டுப் பிரிந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">ஊரெல்லாம் என்னைத் தூற்றித் திரிந்தாலும்</samp></div></div>   
        
     </div>