<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1633" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையால் நிலை நிற்கின்றோம் </samp>
<span class="chordline"><b>D</b>            <b>Bm</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையால் நிலை நிற்கின்றோம்</samp>
<span class="blankline"></span>
<span class="chordline">     <b>Am</b>        <b>G</b>         <b>D</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை (கிருபை) கிருபை (கிருபை)   </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                        <b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பேர் சொல்லி அழைத்தது உங்க கிருபை </samp>
<span class="chordline"><b>D</b>         <b>G</b>           <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பெரியவனாக்கியதும் உங்க கிருபை           </samp>
<samp charset="UTF-8" class="lyricline">  ...கிருபை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                      <b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீதீமானாய் மாற்றினது உங்க கிருபை</samp>
<span class="chordline"><b>D</b>            <b>G</b>           <b>D</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நித்தியத்தில் சேர்ப்பதும் உங்க கிருபை        </samp>
<samp charset="UTF-8" class="lyricline"> ...கிருபை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுகளை நீக்கியதும் உங்க கிருபை</samp>
<span class="chordline"><b>G</b>            <b>G</b>          <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காயங்களை கட்டியதும் உங்க கிருபை        </samp>
<samp charset="UTF-8" class="lyricline">  ...கிருபை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                          <b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையை அளித்ததும் உங்க கிருபை</samp>
<span class="chordline"><b>D</b>           <b>G</b>            <b>B</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வரங்களை கொடுத்ததும் உங்க கிருபை       </samp>
<samp charset="UTF-8" class="lyricline">  ...கிருபை</samp></div></div>   
        
     </div>