<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1634" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                       <b>A</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா தேவனுக்கு ஆயிரம் நாமங்கள்</samp>
<span class="chordline"><b>G#m</b>              <b>C#m</b>   <b>G#</b> <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">எதைச் சொல்லி பாடிடுவேன் - என்</samp>
<span class="chordline"><b>E</b>                        <b>A</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தர் செய்த நண்மைகள் ஆயிரம்</samp>
<span class="chordline"><b>F#m</b>        <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கரம் தட்டி பாடிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>                      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ஷாலோம் யெகோவா ஷம்மா</samp>
<span class="chordline"><b>B</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ரூவா யெகோவா ராஃபா (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">எல்ரோயீக்கு அல்லேலூயா</samp>
<span class="chordline"><b>G#m</b>           <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நீரே கண்டீரைய்யா</samp>
<span class="chordline"><b>E</b>                        <b>G#</b> <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">ஏக்கம் எல்லாம் தீர்த்தீரய்யா</samp>
<span class="chordline">      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நான் தாகத்தோடு வந்த போது </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவத் தண்ணீர் எனக்கு தந்து </samp>
<span class="chordline"><b>B</b>                         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் எல்லாம் தீர்த்தீரையா           ....யேகோவா ஷாலோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எல்ஷடாயும் நீங்கதாங்க</samp>
<samp charset="UTF-8" class="lyricline">சர்வவல்ல தேவனாக</samp>
<samp charset="UTF-8" class="lyricline">என்னை என்றும் நடத்த்துவீங்க</samp>
<samp charset="UTF-8" class="lyricline">எபிநேசரும் நீங்கதாங்க</samp>
<samp charset="UTF-8" class="lyricline">உதவி செய்யும் தேவனாக</samp>
<samp charset="UTF-8" class="lyricline">என்னை என்றும் தாங்குவீங்க          ....யேகோவா ஷாலோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஏலோஹீமும் நீங்கதாங்க</samp>
<samp charset="UTF-8" class="lyricline">என்றுமுள்ள தேவன் நீங்க</samp>
<samp charset="UTF-8" class="lyricline">எந்த நாளும் பாடுவேங்க</samp>
<samp charset="UTF-8" class="lyricline">இம்மானுவேல் நீங்கதாங்க</samp>
<samp charset="UTF-8" class="lyricline">மன்ணில் வந்த தேவன் நீங்க </samp>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும் பாடுவேங்க          ....யேகோவா ஷாலோம்</samp></div></div>   
        
     </div>