<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1639" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>             <b>A</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாரும் தூய ஆவியே - உம் </samp>
<span class="chordline">               <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பிரசன்னத்தை வாஞ்சிக்கிறோம் -உம் </samp>
<span class="chordline">                <b>A</b>                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையால் எம்மை நிறைத்து</samp>
<span class="chordline">    <b>E</b>    <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீர் ஆளுகை செய்யும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தண்ணீர் நீரே</samp>
<span class="chordline"><b>F#m</b>             <b>B</b>   <b>G#</b> <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்க்கும் ஊற்று</samp>
<span class="chordline"><b>E</b>             <b>A</b>      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஆலோசனை கர்த்தரே -எனை</samp>
<span class="chordline"><b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்யும்            ...வாரும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அக்கினியும் நீரே</samp>
<samp charset="UTF-8" class="lyricline">பெருங் காற்றும் நீரே</samp>
<samp charset="UTF-8" class="lyricline">பெருமழை போலவே -உம்</samp>
<samp charset="UTF-8" class="lyricline">ஆவியை ஊற்றும்            ...வாரும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>                         <b>B</b>            </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline">           <b>A</b>      <b>F#m</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா... அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நல்லவரே வல்லவரே </samp>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா  அல்லேலூயா  ..வாரும்</samp></div></div>   
        
     </div>