<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1641" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் சொன்னால் போதும் செய்வேன்</samp>
<span class="chordline">    <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீர் காட்டும் வழியில் நடப்பேன்</samp>
<span class="chordline">     <b>Ab</b>                    </span>
<samp charset="UTF-8" class="lyricline">உம் பாதம் ஒன்றே பிடிப்பேன்</samp>
<span class="chordline">                   <b>Fm</b> <b>Bb</b> <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பு இயேசுவே</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் சொன்னால் போதும் செய்வேன்</samp>
<span class="chordline">    <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீர் காட்டும் வழியில் நடப்பேன்</samp>
<span class="chordline">     <b>Ab</b>                    </span>
<samp charset="UTF-8" class="lyricline">உம் பாதம் ஒன்றே பிடிப்பேன்</samp>
<span class="chordline">     <b>Fm</b>     <b>Bb</b>  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பு நேசரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Cm</b>                    <b>Fm</b>   <b>Bb</b>                   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை இயேசுவுக்கே ஆராதனை இயேசுவுக்கே</samp>
<span class="chordline"><b>Cm</b>                    <b>Fm</b>  <b>Bb</b>                    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை இயேசுவுக்கே ஆராதனை இயேசுவுக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Cm</b>                            <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கடலின் மீது நடந்திட்ட உம் அற்புத பாதங்கள்</samp>
<span class="chordline"><b>Bb</b>                              <b>Eb</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கு முன் செல்வதால் எனக்கில்ல கவல</samp>
<span class="chordline"><b>Cm</b>                                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">காற்றையும் கடலையும் அதட்டிய உம் அற்புத வார்த்தைகள்</samp>
<span class="chordline"><b>Bb</b>                                 <b>Eb</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் துணையஐ நிற்பதால் எனக்கேது கவல              ..ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாதை எல்லாம் அந்தகாரம் சூழ்ந்து கொண்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">பாதை காட்ட நேசர் உண்டு பயமே இல்லையே</samp>
<samp charset="UTF-8" class="lyricline">பார்வோன் சேனை தொடர்ந்து வந்து சூழ்ந்துகொண்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">பாதுகாக்க கர்த்தர் உண்டு பயமே இல்லையே              ..ஆராதனை</samp></div></div>   
        
     </div>