<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1643" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தொட்டு சுகமாக்குமைய்யா இயேசுவே - நீர்</samp>
<span class="chordline"><b>Em</b>                                     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தொட்டால் போதும் எந்தன் வாழ்க்கை மாறுமே - நீர்</samp>
<span class="chordline"><b>D</b>                                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தொட்டால் போதும் எந்தன் வாழ்க்கை மாறுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மாறுமே எல்லாம் மாறுமே (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>                                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எட்டிக்காய் போல் கசக்கும் எந்தன் வாழ்க்கையை</samp>
<span class="chordline">     <b>D</b>                           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாசக் கைகள் எட்டி இன்று தொடனுமே</samp>
<span class="chordline">                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கட்டிப்பிடித்தேன் உந்தன் பாதம்</samp>
<span class="chordline"><b>Bm</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தா எந்தன் கதரல் கேளும்</samp>
<span class="chordline"><b>D</b>                     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தொடனுமே என்னை தொடனுமே (2)    ... தொட்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கடனும் உடனும் என்னை முடக்க முடியாதே</samp>
<samp charset="UTF-8" class="lyricline">கடல் மேல் நடந்த கர்த்தர் என்னோடிருக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">கடல் மேல் என்னை நடக்கச் செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">கடனை எல்லாம் மாறச் செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மாறுமே எல்லாம் மாறுமே (2)           ...தொட்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">குறைவை எண்ணி புலம்புவதை நிறுத்துவேன்</samp>
<samp charset="UTF-8" class="lyricline">நிறைவாய் என்னை நடத்துபவர் இருப்பதால்</samp>
<samp charset="UTF-8" class="lyricline">இல்லை என்பது எனக்கு இல்லை</samp>
<samp charset="UTF-8" class="lyricline">தொல்லை என்பது துளியும் இல்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இலையே தொல்லை இல்லையே (2)     ...தொட்டு</samp></div></div>   
        
     </div>