<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1644" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானாதி வானவர் நம் இயேசுவை</samp>
<span class="chordline"><b>D</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாத்தியங்கள் முழங்கிட பாடுவோம் (2)</samp>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் நம் இயேசுவை</samp>
<span class="chordline"><b>D</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நாட்டியங்கள் ஆடி கொண்டாடுவோம் (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆ அல்லேலூயா</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆ அல்லேலூயா</samp>
<span class="chordline"><b>G</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆ அல்லேலூயா</samp>
<span class="chordline"><b>D</b>                 <b>B</b>         <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆ அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானங்களை விரித்தவரை பாடுவோம்</samp>
<span class="chordline"><b>D</b>                             <b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானபரன் இயேவைக் கொண்டாடுவோம்    .. அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வாக்குத்ததம் தந்தவை பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">வாக்குமாறா தேவனைக் கொண்டாடுவோம்  .. அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாரில் வந்த பரலோக நாயகன்</samp>
<samp charset="UTF-8" class="lyricline">பலியாகி என்னை மீட்டுக் கொண்டாரே      .. அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாவ சேற்றில் வாழ்ந்து வந்த என்னையே</samp>
<samp charset="UTF-8" class="lyricline">பாசக்கரம் நீட்டி என்னை தூக்கினார்         .. அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கொண்டாடுவோம் கொண்டாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">கொண்டாடுவோம் கொண்டாடுவோம்</samp></div></div>   
        
     </div>