<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1664" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                <b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாரத தேசத்தின் ராஜா நீரே ஆ அல்லேலூயா</samp>
<span class="chordline"><b>G</b>                      <b>C</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பார் போற்றும் எங்கள் தெய்வம் நீரே ஆ அல்லேலூயா</samp>
<span class="chordline"><b>G</b>                  <b>C</b>       <b>G</b>   <b>C</b>        <b>D</b>          <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">இந்திய தேசத்தின் இரட்சகரே  அல்லே அல்லேலூயா</samp>
<span class="chordline"><b>G</b>                  <b>C</b>       <b>G</b>  <b>C</b>   <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியர் எங்களை காப்பவரே ஆ அல்லேலூயா</samp>
<span class="chordline"><b>G</b>          <b>D</b>         <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......லூ......யா</samp>
<span class="chordline"><b>G</b>          <b>D</b>         <b>C</b>        <b>A</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......லூ......யா</samp>
<span class="chordline"><b>G</b>          <b>D</b>         <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......லூ......யா</samp>
<span class="chordline"><b>G</b>          <b>D</b>         <b>C</b>           <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......அல்லே... அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                       <b>Em</b>      </span>
<samp charset="UTF-8" class="lyricline">பெருமழையின் சத்தம் கேட்டிடுதே</samp>
<span class="chordline"><b>G</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எழுப்புதல் எங்கும் பற்றிடுதே</samp>
<span class="chordline"><b>Am</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரட்ச்சிப்பு பெருகிட சபை நிரம்பிடுதே</samp>
<span class="chordline"><b>C</b>           <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லே... அல்லேலூயா         -----ஆ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சாத்த்தானின் முகத்திரை கிழிந்திட்டதே</samp>
<samp charset="UTF-8" class="lyricline">சாபங்கள் யாவும் தொலைந்திட்டதே</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரே தெய்வம் என்று தேசமே கண்டதே</samp>
<samp charset="UTF-8" class="lyricline">அல்லே... அல்லேலூயா         -----ஆ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">செவிடர்கள் யாவரும் கேட்கின்றாரே</samp>
<samp charset="UTF-8" class="lyricline">குருடர்கள் யாவரும் பார்க்கின்றாரே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தில் அற்புதம் நடக்கின்றதே</samp>
<samp charset="UTF-8" class="lyricline">அல்லே... அல்லேலூயா         -----பாரத</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சாத்தானின் முகத்திறை கிழிந்திட்டாதே</samp>
<samp charset="UTF-8" class="lyricline">சாபங்கள் யாவும் தொலைந்திட்டாதே</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரே தெய்வம் என்று தேசமே கண்டதே</samp>
<samp charset="UTF-8" class="lyricline">அல்லே... அல்லேலூயா         -----ஆ.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">//Key Change//</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>B</b>           <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே வெற்றிபெற்றாரே</samp>
<span class="chordline"><b>F#</b>          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே வெற்றிபெற்றாரே</samp>
<span class="chordline">                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தன் சேனை தோற்றுபோனதே</samp>
<span class="chordline"><b>F#</b>               <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தன் சேனை தோற்றுபோனதே</samp>
<span class="chordline">                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை கொடி வெற்றிபெற்றதே</samp>
<span class="chordline"><b>F#</b>             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் மகிமைபட்டதே</samp>
<span class="chordline">                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியின் ஆவி ஊற்றப்பததே</samp>
<span class="chordline"><b>F#</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எழுப்புதலின் தீ பற்றிக்கொண்டதே .. 2</samp>
<span class="chordline"><b>B</b>              <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>F#</b>             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>B</b>          <b>F#</b>        <b>E</b>        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......லூ......யா</samp>
<span class="chordline"><b>B</b>          <b>F#</b>        <b>E</b>        <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......லூ......யா</samp>
<span class="chordline"><b>B</b>          <b>F#</b>        <b>E</b>        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......லூ......யா</samp>
<span class="chordline"><b>B</b>          <b>F#</b>        <b>E</b>           <b>F#</b>         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆ........லே.......அல்லே... அல்லேலூயா</samp></div></div>   
        
     </div>