<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1666" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் இல்லா நேரத்தில் புது பெலன் தந்து</samp>
<span class="chordline"><b>G</b>            <b>Em</b>      <b>A</b> <b>D</b>         </span>
<samp charset="UTF-8" class="lyricline">என்னை நீர் தாங்கிடுமே </samp>
<span class="chordline"><b>G</b>                        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">திடன் இல்லா நேரத்தில் திட மனம் தந்து</samp>
<span class="chordline"><b>G</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நீர் நடத்திடுமே (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>            <b>Am</b>  <b>D</b>             <b>Em</b> <b>Ebaug</b> <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் தாருமே  பெலன் தாருமே </samp>
<span class="chordline"><b>Em</b>          <b>Am</b>  <b>A</b>  <b>D</b>             <b>G</b> <b>Ebaug</b> <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் பெலத்தால் எனை நடத்திடுமே (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                 <b>Ebaug</b> <b>G</b>          <b>Em</b> <b>F</b> <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">எலியாவை போல்     வனாந்திரத்தில்</samp>
<span class="chordline"><b>C</b>                            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சகலைத்து போய் நிற்கின்றேனே</samp>
<span class="chordline"><b>D</b>             </span>
<samp charset="UTF-8" class="lyricline">மன்னாவை தந்து மறுபடி</samp>
<span class="chordline">             <b>Ebaug</b> <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நடக்கச் செய்யும்                  .. பெலன் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">போராட்டங்கள் சூழ்ந்ததாலே</samp>
<samp charset="UTF-8" class="lyricline">சோர்ந்து போய் நிற்கின்றேனே</samp>
<samp charset="UTF-8" class="lyricline">சோராமல் ஓட திட மனம்</samp>
<samp charset="UTF-8" class="lyricline">அளித்திடுமே                      .. பெலன் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மனிதர்களின் நிந்தனையால்</samp>
<samp charset="UTF-8" class="lyricline">மனம் நொந்து நிற்கின்றேனே</samp>
<samp charset="UTF-8" class="lyricline">மன்னித்து மறக்க உந்தனின்</samp>
<samp charset="UTF-8" class="lyricline">பெலன் தாருமே                   .. பெலன் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மாம்ச எண்ணம் மேற்கொள்வதால்</samp>
<samp charset="UTF-8" class="lyricline">அடிக்கடி தவறுகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்த வாழ்வு வாழ </samp>
<samp charset="UTF-8" class="lyricline">பெலன் தாருமே                    .. பெலன் தாருமே</samp></div></div>   
        
     </div>