<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1667" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">மாறிடும் எல்லாம் மாறிடும்</samp>
<span class="chordline">     <b>C</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவாலே எல்லாம் மாறிடும் (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">       <b>Am</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவர் ஆடையை தொட்ட மாத்திரத்தில்</samp>
<span class="chordline"><b>F</b>                   <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பெரும் பாடு மாறிற்ரே</samp>
<span class="chordline">                   <b>Gm</b>          </span>
<samp charset="UTF-8" class="lyricline">ஆதியும் அந்தமமுமானவராலே</samp>
<span class="chordline">                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அந்தகாரம் நீங்கிற்றே</samp>
<span class="chordline">                <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுகள் உடந்ததே</samp>
<span class="chordline"><b>C</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கவலைகள் நீங்கிற்றே                .. மாறிடும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இரையேதே என்று சொன்னாரே</samp>
<samp charset="UTF-8" class="lyricline">திரைகடல் அடங்கிற்றே</samp>
<samp charset="UTF-8" class="lyricline">அமைதலாய் இரு என்றாரே</samp>
<samp charset="UTF-8" class="lyricline">அலைகளும் ஓய்ந்ததே</samp>
<samp charset="UTF-8" class="lyricline">பயங்கள் பறந்ததேநம்பிக்கை பிறந்ததே  .. மாறிடும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">லாசரவே நீ எழுந்து வா </samp>
<samp charset="UTF-8" class="lyricline">என்று சொன்னாரே</samp>
<samp charset="UTF-8" class="lyricline">மரித்த லாசரு கல்லரை விட்டு </samp>
<samp charset="UTF-8" class="lyricline">எழுந்து வந்தானே</samp>
<samp charset="UTF-8" class="lyricline">அழுகுறல் நின்றதே</samp>
<samp charset="UTF-8" class="lyricline">ஆனந்தம் வந்ததே                       ..மாறுதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மாறுதே எல்ல்லம் மாறுதே </samp>
<samp charset="UTF-8" class="lyricline">என் இயேசுவால் எல்ல்லாம் மாறுதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மாறுதே (துக்கம் / கடன் / வியெதி / துக்கம் / வறுமை) மாறுதே </samp>
<samp charset="UTF-8" class="lyricline">என் இயேசுவால் (துக்கம் / கடன் / வியெதி / துக்கம் / வறுமை) மாறுதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மாறிற்றே எல்லாம் மாறிற்றே</samp>
<samp charset="UTF-8" class="lyricline">என் இயேசுவாலே எல்லாம் மாறிற்றே</samp></div></div>   
        
     </div>