<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1668" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">தூயாதி தூயவரே! </samp>
<span class="chordline"><b>C</b>              <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமது புகழை நான் பாடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>      <b>Bb</b>      <b>C</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் எனக்கு வேறென்ன வேண்டும்</samp>
<span class="chordline"><b>Dm</b>          <b>G</b>          <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள வரை நின் புகழ் பாட வேண்டும் --- தூயாதி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சீடரின் கால்களைக் கழுவினவர்</samp>
<span class="chordline"><b>C</b>                        <b>Am</b>  <b>C</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">செந்நீரால் என்னுள்ளம் கழுவிடுமே! --- பாரில்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மக்களின் நோய்களை நீக்கினவர்</samp>
<samp charset="UTF-8" class="lyricline">பாவி என் பாவ நோய் நீக்கினீரே! --- பாரில்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">துயரங்கள் பாரினில் அடைந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் தாங்கிட பெலன் தாருமே! --- பாரில்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பரலோகில் இடமுன்று என்றவரே</samp>
<samp charset="UTF-8" class="lyricline">பரிவாக எனைச் சேர்க்க வேகம் வாருமே! --- பாரில்</samp></div></div>   
        
     </div>