<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1669" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>            <b>Bb</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தம் கிருபை பெரிதல்லோ</samp>
<span class="chordline"><b>Dm</b>       <b>Am</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எம் ஜீவனிலும் அதே</samp>
<span class="chordline"><b>Gm</b>          <b>C</b>       <b>A</b> <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இம்மட்டும் காத்ததுவே</samp>
<span class="chordline"><b>F</b>         <b>Bb</b>      <b>Gm</b>       <b>C</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இன்னும் தேவை கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>                 <b>Bb</b>   <b>Gm</b>     <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்மையுள்ளவரிடம் தங்கிடுதே கிருபை</samp>
<span class="chordline"><b>Dm</b>           <b>Bb</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்நாளெல்லாம் அது போதுமே</samp>
<span class="chordline"><b>C</b>     <b>Bb</b>       <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுகமுடன் தம் பெலமுடன்</samp>
<span class="chordline"><b>F</b>            <b>Bb</b>   <b>Gm</b>     <b>C</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சேவை செய்ய கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நிர்மூலமாகாததும் நிற்பதுமோ கிருபை</samp>
<samp charset="UTF-8" class="lyricline">நீசன் என் பாவம் நீங்கினதே</samp>
<samp charset="UTF-8" class="lyricline">நித்திய ஜீவன் பெற்றுக் கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline">காத்துக் கொள்ள கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தினம் அதிகாலையில் தேடும் புது கிருபை</samp>
<samp charset="UTF-8" class="lyricline">மனம் தளர்ந்த நேரத்திலும்</samp>
<samp charset="UTF-8" class="lyricline">பெலவீன சரீரத்திலும்</samp>
<samp charset="UTF-8" class="lyricline">போதுமே உம் கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மாபரிசுத்த ஸ்தலம் கண்டடைவேன் கிருபை</samp>
<samp charset="UTF-8" class="lyricline">மூடும் திரை கிழிந்திடவே</samp>
<samp charset="UTF-8" class="lyricline">தைரியமாய் சகாயம் பெற</samp>
<samp charset="UTF-8" class="lyricline">தேடி வந்தேன் கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஒன்றை ஒன்று சந்திக்கும் சத்தியமும் கிருபை</samp>
<samp charset="UTF-8" class="lyricline">என்றும் மறவேன் வாக்குத்தத்தம்</samp>
<samp charset="UTF-8" class="lyricline">நீதியுமே சமாதானமே</samp>
<samp charset="UTF-8" class="lyricline">நிலை நிற்கும் கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திர ஜெபத்தினால் பெருகுதே கிருபை</samp>
<samp charset="UTF-8" class="lyricline">ஆத்தும பாரம் கண்ணீரோடே</samp>
<samp charset="UTF-8" class="lyricline">சோர்வின்றி நானும் வேண்டிடவே</samp>
<samp charset="UTF-8" class="lyricline">ஜெபவரம் கிருபை தாருமே</samp></div></div>   
        
     </div>