<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1670" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>      <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ஆண்டவர் </samp>
<span class="chordline"><b>F</b>  <b>Dm</b>     <b>Am</b>     <b>Dm</b>    <b>C</b>      <b>G</b> <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">மரணத்தினின்று உயிர்தெழுந்தார்</samp>
<span class="chordline"><b>F</b>            </span>
<samp charset="UTF-8" class="lyricline">கால்கள் யாவும் முடங்கும்</samp>
<span class="chordline">      <b>Bb</b>              <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">நாவு யாவும் போற்றிடும்</samp>
<span class="chordline">      <b>F</b>       <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அந்த இயேசுவே ஆண்டவர்  - 2</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>