<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1673" class="song songcont"><div class="songpre"><span class="chordline"><b>C#</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் பெலனும்</samp>
<span class="chordline">     <b>Bbm</b>     <b>C#</b> </span>
<samp charset="UTF-8" class="lyricline">என் கீதமும்</samp>
<span class="chordline">                         <b>Fm</b>       <b>Ebm</b>          <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">நான் நம்பும் கன்மலையுமானவர் - கர்த்தரின் கிருபை</samp>
<span class="chordline"><b>Ebm</b>           <b>G#</b>        <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">என்றைக்கும் நான் பாடுவேன்</samp>
<span class="chordline">      <b>F</b>        <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">நான் போற்றிடுவேன்</samp>
<span class="chordline"><b>C#</b>   </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் பெலனும்</samp>
<span class="chordline">     <b>Bbm</b>     <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">என் கீதமும்</samp>
<span class="chordline">                         <b>Fm</b>      <b>Ebm</b>          <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">நான் நம்பும் கன்மலையுமானவர் - கர்த்தரின் கிருபை</samp>
<span class="chordline"><b>Ebm</b>           <b>G#</b>        <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">என்றைக்கும் நான் பாடுவேன்</samp>
<span class="chordline">      <b>F</b>        <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">நான் போற்றிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bbm</b>            <b>F#</b>            <b>Ebm</b>       <b>G#</b>  <b>C#</b>        <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>Bbm</b>            <b>F#</b>            <b>Ebm</b>       <b>G#</b>  <b>F</b>         <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா அல்லேலூயா அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bbm</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கரமும் அவர் புயமும்</samp>
<span class="chordline"><b>C#</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையும் மகத்வமும்</samp>
<span class="chordline"><b>Bbm</b>                <b>Ebm</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயங்கள் செய்தது</samp>
<span class="chordline">            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையும் சதியமும் இரக்கமும்</samp>
<span class="chordline">               <b>G#</b>          <b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் அன்பும் வழி நடத்தியது        அல்லேலூயா        ... கர்த்தர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அவர் மேய்ப்பர் அவர் மீட்பர்</samp>
<samp charset="UTF-8" class="lyricline">என் நேசர் பரிசுத்தர்</samp>
<samp charset="UTF-8" class="lyricline">தாழ்ச்சி அடைகிலேனே</samp>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள நாட்களெல்லாம் </samp>
<samp charset="UTF-8" class="lyricline">ஆலயத்தில் தங்குவதை</samp>
<samp charset="UTF-8" class="lyricline">வாஞ்சித்தே நாடிடுவேன்..           அல்லேலூயா         ... கர்த்தர்</samp></div></div>   
        
     </div>