<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1675" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீர் என்னை காண்கிற</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">தேவன்</samp>
<span class="chordline"><b>Esus4</b>      <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கண்களை திறந்தருளும்</samp>
<span class="chordline">                      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வேதத்தின் அதிசயம் காணவே</samp>
<span class="chordline"><b>F#m</b>        <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கண்களை திறந்தருளும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C#m</b>                            <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">ஆதாமே ஆதாமே கண் திறந்ததோ</samp>
<span class="chordline"><b>F#m</b>                    <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஏதெனில் உன் நிலை உணர்ந்தாயோ</samp>
<span class="chordline">  <b>G#</b>                              <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நீ உதிரத்தை நம்பியே வருவாயானால்</samp>
<span class="chordline">             <b>G#</b>                     <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின் சால்வையை பெற்றிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஆகாரே ஆகாரே அழவேன்டாம்</samp>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் உன் குரல் கேட்கிறாரே</samp>
<samp charset="UTF-8" class="lyricline">தாகமாய் அவரண்டை வருவாயானால்</samp>
<samp charset="UTF-8" class="lyricline">தாரகர் நீரூற்று தந்திடுவார்             ...நீர் என்னை</samp></div></div>   
        
     </div>