<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1676" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம்மைப் போல் ஆக</samp>
<span class="chordline"><b>G</b>          <b>D</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வாஞ்சிக்குதே என்ணுள்ளம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>       <b>G</b>       <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் அறியாத பாவமே செய்யாது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாரினில் ஜீவித்தீரே</samp>
<span class="chordline">          <b>B</b>                     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் உம்மைபோல் ஜீவிக்கவே</samp>
<samp charset="UTF-8" class="lyricline">.                    </samp>
<samp charset="UTF-8" class="lyricline">பெலமதை தாரும் ஐயா - உந்தன்                  ... இயேசுவே</samp>
<span class="chordline"><b>G</b>           <b>D</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பெலமதை தாரும் ஐயா - உந்தன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சிலுவை சுமந்தென்றும் என் பின் வராதவன் </samp>
<samp charset="UTF-8" class="lyricline">அல்ல என் சீஷன் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">எந்தன் சிலுவையை நான் சுமக்க</samp>
<samp charset="UTF-8" class="lyricline">பெலமதை தாருமைய்யா - உந்தன் (2)             ... இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உபத்ரவம் உலகினில் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">உலகினை வென்றேன் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">உம்மை போல் உலகினை ஜெயித்தீடவே</samp>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல் மாற்றும் ஐயா - என்னை (2)       ... இயேசுவே</samp></div></div>   
        
     </div>