<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1677" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>           <b>Em</b>           <b>G</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீ இல்லாத நாளெல்லாம் நாளாகுமா</samp>
<span class="chordline">  <b>Am</b>                         <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ இல்லாத வாழ்வெல்லாம் வாழ்வாகுமா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உயிரின் ஊற்றே நீ ஆவாய்</samp>
<span class="chordline"><b>Am</b>            <b>C</b>       <b>F</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையின் வழியே நீ ஆவாய்</samp>
<span class="chordline"><b>G</b>                <b>Em</b>    <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">உறவின் பிறப்பே நீ ஆவாய்</samp>
<span class="chordline"><b>C</b>           <b>Bm</b>       <b>Am</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தின் மகிழ்வே நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எனது ஆற்றலும் நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">எனது வலிமையும் நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">எனது அரணும் நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">எனது கோட்டையும் நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எனது நினைவும் நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">எனது மொழியும் நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">எனது மீட்பும் நீ ஆவாய்</samp>
<samp charset="UTF-8" class="lyricline">எனது உயிர்ப்பும் நீ ஆவாய்</samp></div></div>   
        
     </div>