<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1678" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் பிரசனத்தால் வழி நடத்தும்</samp>
<span class="chordline">    <b>Gm</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சுத்திகரியும் பெலப்படுத்தும்</samp>
<span class="chordline">     <b>Bb</b>    <b>C</b>      <b>F</b>            <b>Bb</b>   <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூய ஆவியானவரே அன்பின் ஆவியானவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>                       <b>Am</b>      <b>Bb</b>      <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மனிதர்களால் வாழ்வில் எனக்கு என்றும் போராட்டமே</samp>
<span class="chordline"><b>Dm</b>                      <b>Am</b>              <b>Bb</b>       <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உறவுகளால் வாழ்வில் எனக்கு என்றும் மனதில் சஞ்சலமே</samp>
<span class="chordline">         <b>Bb</b>      <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் மனதில் சஞ்சலமே                                 ...உந்தன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தனிமையின் வாடும் எனக்கு உம் பிரசன்னம் ஆனந்தமே</samp>
<samp charset="UTF-8" class="lyricline">கேள்விகள் உள்ள எனக்கு உம் வசனம் பேராருதலே        ...உந்தன்</samp></div></div>   
        
     </div>