<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1681" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>         <b>Bbm</b>       <b>Eb</b>     </span>
<samp charset="UTF-8" class="lyricline">நீர் எந்தன் மறைவிடம்</samp>
<span class="chordline">           <b>Ab</b>      <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">நீர் எந்தன் புகலிடம்</samp>
<span class="chordline">              <b>Bbm</b>          </span>
<samp charset="UTF-8" class="lyricline">நான் அஞ்சும் நேரத்தில் - என்னை</samp>
<span class="chordline"><b>C</b>                         <b>C9</b>  <b>Fm</b>  <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">விடுவிக்கும் பாடலை நீர் தருகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">             <b>Eb</b>    <b>Ab</b>  </span>
<samp charset="UTF-8" class="lyricline">உம்மை நம்புவேன்</samp>
<span class="chordline">         <b>C#</b>      <b>Bbm</b>         <b>C</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீன வேலையில் எந்தன் பெலனும் நீரே</samp>
<span class="chordline">        <b>D</b>  <b>C</b> <b>Fm</b>   <b>C#</b>           <b>Eb</b>    <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நம்புவேன் - நான் நம்புவேன்</samp>
<span class="chordline">         <b>C#</b>      <b>Bbm</b>         <b>C</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீன வேலையில் எந்தன் பெலனும் நீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நீர் எந்தன் ஆன்டவர்</samp>
<samp charset="UTF-8" class="lyricline">நீர் எந்தன் இரட்சகர்</samp>
<samp charset="UTF-8" class="lyricline">துயரான வேளையில் நான் வாழ </samp>
<samp charset="UTF-8" class="lyricline">நம்பிக்கை நீர் தருகிறீர்              ...உம்மை நம்புவேன்</samp></div></div>   
        
     </div>