<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1684" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>               <b>Gm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா பிதாவே அன்பான தேவா</samp>
<span class="chordline">                     <b>F</b>    <b>C7</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அருமை இரட்சகரே ஆவியானவரே                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                            </span>
<samp charset="UTF-8" class="lyricline">1. எங்கோ நான் வாழ்ந்தேன் அறியாமல் அலைந்தேன்</samp>
<span class="chordline">           <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் தேடி வந்தீர்</samp>
<span class="chordline"><b>Bb</b>                    <b>F</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சார அணைத்து முத்தங்கள் கொடுத்து</samp>
<span class="chordline">           <b>F</b>          <b>F7</b></span>
<samp charset="UTF-8" class="lyricline">நிழலாய் மாறி விட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி உமக்கு நன்றி  அப்பா</samp>
<span class="chordline"><b>Bb</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி உமக்கு நன்றி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. தாழ்மையில் இருந்தேன் தள்ளாடி நடந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">தயவாய் நினைவு கூர்ந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">கலங்காதே என்று கண்ணீரைத் துடைத்து</samp>
<samp charset="UTF-8" class="lyricline">கரம் பற்றி நடத்துகிறீர்  அப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உளையான சேற்றில் வாழ்ந்த என்னை</samp>
<samp charset="UTF-8" class="lyricline">தூக்கி எடுத்தீரே                                                                                            </samp>
<samp charset="UTF-8" class="lyricline">கல்வாரி இரத்தம் எனக்காக சிந்தி</samp>
<samp charset="UTF-8" class="lyricline">கழுவி அணைத்தீரே                                                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இரவும் பகலும் ஐயா கூட இருந்து</samp>
<samp charset="UTF-8" class="lyricline">எப்போதும் (எந்நாளும்) காப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">மறவாத தெய்வம் மாறாத நேசர்</samp>
<samp charset="UTF-8" class="lyricline">மகிமைக்குப் பாத்திரரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஒன்றை நான் கேட்டேன்  அதையே</samp>
<samp charset="UTF-8" class="lyricline">நான் தேடி ஆர்வமாய் நாடுகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">உயிரோடு வாழும் நாட்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உம்பணி செய்திடுவேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>