<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1685" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                  </span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் ராஜாதி ராஜன்</samp>
<span class="chordline"><b>G</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க வாழ்கவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தர் மன்னாதி மன்னன்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க வாழ்கவே                                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>        <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">மகிமை உமக்குத்தான்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமை உமக்குத்தான்</samp>
<span class="chordline"><b>F</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை உமக்குத்தான்</samp>
<span class="chordline"><b>Gsus4</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமை அதுவும் உமக்குத்தான்                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">1. திசை தெரியாமல் ஓடி</samp>
<span class="chordline">                         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அலைந்தேன் தேடி வந்தீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சிலுவையில் தொங்கி இரத்தம் சிந்தி</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சித்து அணைத்தீரே                                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எத்தனை நன்மை எனக்குத் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">எப்படி நன்றி சொல்வேன்                                                                         </samp>
<samp charset="UTF-8" class="lyricline">வாழ்நாளெல்லாம் உமக்காய் வாழ்ந்து</samp>
<samp charset="UTF-8" class="lyricline">உம் பணி செய்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சோதனை நேரம் வேதனை வேளை</samp>
<samp charset="UTF-8" class="lyricline">துதிக்க வைத்தீரே</samp>
<samp charset="UTF-8" class="lyricline">எதிராய் பேசும் இதயங்களை</samp>
<samp charset="UTF-8" class="lyricline">நேசிக்க வைத்தீரே                                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. வேண்டுவதற்கும் நினைப்பதற்கும்</samp>
<samp charset="UTF-8" class="lyricline">அதிகமாய் செய்பவரே                                                                             </samp>
<samp charset="UTF-8" class="lyricline">மீண்டும் மீண்டும் ஆறுதல் தந்து</samp>
<samp charset="UTF-8" class="lyricline">அணைத்து மகிழ்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உளையான சேற்றில் வாழ்ந்த</samp>
<samp charset="UTF-8" class="lyricline">என்னை தூக்கி எடுத்தீரே</samp>
<samp charset="UTF-8" class="lyricline">கன்மலையின் மேல்நிறுத்தி  என்னை</samp>
<samp charset="UTF-8" class="lyricline">பாட வைத்தீரே        </samp></div></div>   
        
     </div>