<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1686" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>       <b>C</b>    <b>Bb</b>              <b>Fm</b> <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நேசிக்கிறேன் உம்மைத்தானே ஐயா</samp>
<span class="chordline"><b>Fm</b>                    <b>C</b>       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நிலையில்லாத இந்த உலகத்திலே</samp>
<span class="chordline">        <b>C</b>     <b>Bb</b>              <b>Fm</b>  <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நேசிக்கிறேன் உம்மைத்தானே ஐயா</samp>
<span class="chordline"><b>Fm</b>          <b>C</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத்தானே இயேசையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>        </span>
<samp charset="UTF-8" class="lyricline">1. ஒவ்வொரு நாளும் எனது கண் முன்</samp>
<span class="chordline"><b>C7</b>              <b>Bbm</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தான் நிறுத்தியுள்ளேன்</samp>
<span class="chordline"><b>Bbm</b>             <b>Eb</b>  </span>
<samp charset="UTF-8" class="lyricline">வலப்பக்கத்தில் இருப்பதனால்  என்</samp>
<span class="chordline"><b>Bbm</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வலப்பக்கத்தில் இருப்பதனால் </samp>
<span class="chordline"><b>C7</b>        <b>Ab</b>       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அசைக்கப்படுவதில்லை  நான்                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உம்மை அல்லாமல் வேறே விருப்பம்</samp>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் இல்லையே                                                                     </samp>
<samp charset="UTF-8" class="lyricline">நிம்மதியே நிரந்தரமே</samp>
<samp charset="UTF-8" class="lyricline">நினைவெல்லாம் ஆள்பவரே  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஐயா உம் தாகம் எனது ஏக்கம்</samp>
<samp charset="UTF-8" class="lyricline">அடிமை நான் கதறுகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">என் ஜனங்கள் அறியணுமே</samp>
<samp charset="UTF-8" class="lyricline">இரட்சகர் உம்மைத் தேடணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உமது வேதம் எனது மகிழ்ச்சி</samp>
<samp charset="UTF-8" class="lyricline">ஓய்வின்றி தியானிக்கின்றேன்                                                        </samp>
<samp charset="UTF-8" class="lyricline">ஆற்றங்கரை மரமாக</samp>
<samp charset="UTF-8" class="lyricline">அயராமல் கனி கொடுப்பேன்  </samp></div></div>   
        
     </div>