<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1687" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>           <b>Bb</b>   <b>F</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு உன்னைத் தேடுகிறார்</samp>
<span class="chordline">              <b>C</b>   <b>Bb</b>           <b>C7</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இடமுண்டோ மகனே(மகளே) உன் உள்ளத்தில்                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>        <b>Bb</b>   <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. கதறிடும் உன்னைப் பார்க்கின்றார்  உன்</samp>
<span class="chordline"><b>C7</b>           <b>Bb</b> <b>C</b>      <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரைத் துடைக்க வருகின்றார்                                                         </samp>
<span class="chordline"><b>F</b>                   <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">உதவிடும் கரத்தை நீட்டுகிறார்  உன்</samp>
<span class="chordline"><b>C</b>           <b>Bb</b> <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் வாழத்  துடிக்கின்றார்</samp>
<span class="chordline"><b>Bb</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் வாழத்  துடிக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சிலுவை மரணம் உனக்காக</samp>
<samp charset="UTF-8" class="lyricline">சிந்திய திரு இரத்தம் உனக்காக</samp>
<samp charset="UTF-8" class="lyricline">உன் பாவம் சுமந்து தீர்த்தாரே  தன்                                                         </samp>
<samp charset="UTF-8" class="lyricline">உயிர் தந்து உன்னை மீட்டாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. மார்த்தாள் வீட்டில் இடம் கொடுத்தாள்</samp>
<samp charset="UTF-8" class="lyricline">மரித்த லாசரை மீண்டும் கண்டாள்</samp>
<samp charset="UTF-8" class="lyricline">கலங்கிடும் மனிதா வருவாயா  என்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் பாதம் விழுவாயா                                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. சகேயு உடனே இறங்கி வந்தான்</samp>
<samp charset="UTF-8" class="lyricline">சந்தோஷமாக வரவேற்றான்</samp>
<samp charset="UTF-8" class="lyricline">பாவங்கள் அனைத்தும் அறிக்கை செய்தான்</samp>
<samp charset="UTF-8" class="lyricline">பரலோக இன்பம் பெற்றுக் கொண்டான்                                                </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. பேதுரு படகில் இடம் கொடுத்தான்</samp>
<samp charset="UTF-8" class="lyricline">பெரும் தோல்வி மாறி மகிழ்வடைந்தான்</samp>
<samp charset="UTF-8" class="lyricline">அதிசய தேவனை கண்டு கொண்டான்  என்</samp>
<samp charset="UTF-8" class="lyricline">ஆண்டவன் பின்னே நடந்து சென்றான்                                                 </samp></div></div>   
        
     </div>