<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1690" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm6</b>                 <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொண்ட தெய்வம் திருப்பாதம் அமர்ந்து</samp>
<span class="chordline"><b>Eb</b>       <b>Fm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் அடைகின்றேன்</samp>
<span class="chordline"><b>C</b>      <b>Ab</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அமைதி பெறுகின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>                   <b>Bb</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. புயல் வீசும் கடலில் தடுமாறும் படகை</samp>
<span class="chordline"><b>Bb</b>         <b>Fm</b>     <b>Bb</b>  <b>Bb</b>  <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கிடும் நங்கூரமே    தினம்                                                         </samp>
<span class="chordline"><b>Eb</b>         <b>C</b>      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கிடும் நங்கூரமே</samp>
<span class="chordline"><b>Eb</b>                <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கிடும் நங்கூரமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எதிர்காற்று வீச எதிர்ப்போரும் பேச</samp>
<samp charset="UTF-8" class="lyricline">எனைக் காக்கும் புகலிடமே  தினம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நிலையற்ற வாழ்வின் நிம்மதியே</samp>
<samp charset="UTF-8" class="lyricline">நீங்காத பேரின்பமே  என்னை விட்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இருள் நீக்கும் சுடரே என் இயேசு ராஜா</samp>
<samp charset="UTF-8" class="lyricline">என் வாழ்வின் ஆனந்தமே                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. மனதுருகும் தேவா மன்னிக்கும் நாதா</samp>
<samp charset="UTF-8" class="lyricline">மாபெரும் சந்தோஷமே                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. காயங்கள் ஆற்றி கண்ணீரைத் துடைக்கும்</samp>
<samp charset="UTF-8" class="lyricline">நல்ல சமாரியனே      </samp></div></div>   
        
     </div>