<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1691" class="song songcont"><div class="songpre"><span class="chordline"><b>Bb</b>          <b>F</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை விடுதலை விடுதலை எனக்கு</samp>
<span class="chordline"><b>Bb</b>          <b>F</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை விடுதலை விடுதலை                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Gm</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. நோயிலிருந்து விடுதலை</samp>
<span class="chordline"><b>F</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பேயிலிருந்து விடுதலை  உனக்கு</samp>
<span class="chordline"><b>Gm</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நோயிலிருந்து விடுதலை</samp>
<span class="chordline"><b>F</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பேயிலிருந்து விடுதலை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பாவத்திலிருந்து விடுதலை                                                             </samp>
<samp charset="UTF-8" class="lyricline">சாபத்திலிருந்து விடுதலை  நமக்கு                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஆவியினால் விடுதலை                                                                 </samp>
<samp charset="UTF-8" class="lyricline">இரத்தத்தினால் விடுதலை  எப்போதும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. வார்த்தையினால் விடுதலை                                                        </samp>
<samp charset="UTF-8" class="lyricline">துதியினாலே விடுதலை  எப்போதும்                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கவலையிலிருந்து விடுதலை</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீ ரிலிருந்து விடுதலை  உனக்கு </samp></div></div>   
        
     </div>