<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1692" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வரவேண்டும் தேவ ஆவியே</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் மத்தியிலே</samp>
<span class="chordline"><b>Bb</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வரவேண்டும் தேவ ஆவியே</samp>
<span class="chordline"><b>F</b>       <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் உள்ளத்திலே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">ஆட்கொள்ளும் ஐயா</samp>
<span class="chordline">          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகியும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அனல் மூட்டுமையா</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">அனல் மூட்டும் </samp>
<span class="blankline"></span></div></div>   
        
     </div>