<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1693" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>           <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நானே வழி நானே சத்தியம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நானே ஜீவன் மகனே (மகளே)  உனக்கு</samp>
<span class="chordline"><b>F</b>                      <b>Bb</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னாலன்றி உனக்கு விடுதலை இல்லை</samp>
<span class="chordline">           <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னாலன்றி உனக்கு நிம்மதி இல்லை அல்லேலூயா </samp>
<span class="chordline"><b>Bb</b>         <b>F</b>      <b>C</b>               <b>F</b>      <b>Bb</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமேன் அல்லேலூயா ஆமேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                        <b>Bb</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. நான் தருவேன் உனக்கு சமாதானம்</samp>
<span class="chordline">                <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நான் தருவேன் உனக்கு சந்தோஷம்</samp>
<span class="chordline">        <b>Bb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே என் மகனே(மகளே)</samp>
<span class="chordline"><b>C</b>                        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணி போல் உன்னைக் காத்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உனக்காக சிலுவையில் நான் மரித்தேன்</samp>
<samp charset="UTF-8" class="lyricline">உனக்காக திரு இரத்தம் நான் சிந்தினேன்</samp>
<samp charset="UTF-8" class="lyricline">என் மகனே(மகளே) வருவாயா</samp>
<samp charset="UTF-8" class="lyricline">இதயத்திலே இடம் தருவாயா                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உனக்காகவே நான் ஜீவிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்தில் வாழ துடிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">வருவாயா என் மகனே(மகளே)</samp>
<samp charset="UTF-8" class="lyricline">இதயத்திலே இடம் தருவாயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நீ நம்பும் மனிதர் கைவிடலாம்</samp>
<samp charset="UTF-8" class="lyricline">ஆனால் நான் ஒரு போதும் கைவிட மாட்டேன்                             </samp>
<samp charset="UTF-8" class="lyricline">கலங்காதே என் மகனே(மகளே)</samp>
<samp charset="UTF-8" class="lyricline">கண்மணி போல் உன்னைக் காத்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">( பின்வருமாறும் பாடலாம்)</samp>
<samp charset="UTF-8" class="lyricline">நீரே வழி நீரே சத்தியம்</samp>
<samp charset="UTF-8" class="lyricline">நீரே ஜீவன் இயேசையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உம்மாலன்றி எனக்கு விடுதலை இல்லை</samp>
<samp charset="UTF-8" class="lyricline">உம்மாலன்றி எனக்கு நிம்மதி இல்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">1. நான் நம்பும் மனிதர் கைவிடலாம்</samp>
<samp charset="UTF-8" class="lyricline">ஆனால் நீர் ஒரு போதும் கைவிட மாட்டீர் </samp></div></div>   
        
     </div>