<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1696" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>         <b>Am</b>      <b>Em</b>     <b>D</b>         <b>C</b>         <b>G</b>    <b>C</b> <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் தேவன் இயேசு உன்னை அழைக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bm</b>                <b>C</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனிதர்கள் அன்பு மாறலாம்</samp>
<span class="chordline"><b>G</b>           <b>Bm</b>  <b>Am</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மறைவாக தீது பேசலாம்</samp>
<span class="chordline"><b>G</b>              <b>C</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு காணா இதயமே</samp>
<span class="chordline">          <b>Bm</b>          <b>Am</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் இயேசுவை அண்டிக்கொள்            </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வியாதிகள் தொல்லைகள் தோல்வியோ</samp>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையில் என்ன ஏக்கமோ</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீர்தான் உந்தன் படுக்கையோ</samp>
<samp charset="UTF-8" class="lyricline">கலங்காதே மன்னன் இயேசு பார்              - கல்வாரியின்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>            <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரியின் மேட்டினில்</samp>
<span class="chordline"><b>C</b>         <b>Bm</b>      <b>Am</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கலங்கும் கர்த்தர் உண்டல்லோ</samp>
<span class="chordline"><b>G</b>             <b>Am</b>   <b>D</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை எண்ணி உள்ளம் நொந்து</samp>
<span class="chordline"><b>C</b>                  <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அணைக்க இயேசு அழைக்கிறார்   </samp>
<span class="chordline"><b>G</b>         <b>Am</b>  <b>D</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கவலை ஏன் கலக்கம் ஏன்</samp>
<span class="chordline"><b>C</b>               <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இயேசு அழைக்கிறார்              - அன்பின் தேவன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வேலை வசதிகள் இல்லையோ</samp>
<samp charset="UTF-8" class="lyricline">வீட்டினில் வறுமை தொல்லையோ</samp>
<samp charset="UTF-8" class="lyricline">மனிதர்கள் மத்தியில் வெட்கமோ</samp>
<samp charset="UTF-8" class="lyricline">மருளாதே மன்னன் இயேசு பார்               - கல்வாரியின்</samp></div></div>   
        
     </div>