<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1697" class="song songcont"><div class="songpre"><span class="chordline"><b>Eb</b>         <b>Gm</b>   <b>Ab</b>        <b>Bb7</b>    <b>Eb</b>   </span>
<samp charset="UTF-8" class="lyricline">தேவா உம் பாதமே உயர் ஸ்தலமே</samp>
<span class="chordline">    <b>Gm</b>      <b>Ab</b>          <b>Ebaug</b>  <b>Eb</b>   </span>
<samp charset="UTF-8" class="lyricline">உம் சமூகத்தில் உம்மை தேடுவேன்</samp>
<span class="chordline">           <b>B</b>  <b>C#</b> <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உம்முகம் தேடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">         <b>Ab</b>                <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை பணிவது பெரும் ஸ்லாக்கியம்</samp>
<span class="chordline">         <b>G</b>              <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை புகழ்வது என் பாக்கியம்</samp>
<span class="chordline">    <b>Ab</b>         <b>Bb</b>           <b>Eb</b>     </span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் என்றும் நாடுவேன்</samp>
<span class="chordline">     <b>Ab</b>        <b>Bb</b>          <b>G</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம் கனம் மகிமையால் அன்பு இரக்கத்தால்</samp>
<span class="chordline">     <b>Ab</b>       <b>Bb</b>             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் மகிழ்ந்து வாழுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தேவா என் ஜீவனே உயிர் நாடியே</samp>
<samp charset="UTF-8" class="lyricline">என் இதயத்தில் நீர் வாருமே - நீர் வாழுமே    - உம்மை பணிவதில்</samp></div></div>   
        
     </div>