<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1699" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கடும் புயலிலே என்னக்காத்தவரே</samp>
<span class="chordline"><b>D</b>                     <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணின் மனிபோல காப்பவரே</samp>
<span class="chordline"><b>Bb</b>                  <b>Gm</b>              <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தினம்தோறும் உம் கிருபையினால் வழி நடத்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">     <b>F</b>          <b>Bb</b>      <b>Gm</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பு நேசரே என் ஆருயிர் நண்பனே</samp>
<span class="chordline">         <b>Bb</b>             <b>Gm</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்துவேன் வணங்குவேன் உம்மையே</samp>
<span class="chordline">     <b>Dm</b>      <b>Am</b>              <b>Bb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் வாழ்நாளெல்லாம் உமக்காய் ஜீவிப்பேன்</samp>
<span class="chordline">     <b>Dm</b>              <b>Am</b>        <b>Bb</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிருள்ள நாள்வரை உம்மைப் போற்றிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>                          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இந்த நாளின் ஒவ்வொரு செயலிலும்</samp>
<span class="chordline">     <b>D</b>                     <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உம் ஞானத்தால் என்னை நடத்துமே</samp>
<span class="chordline">      <b>Bb</b>                   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நான் நடக்கும் வழிதனை காண்பித்து</samp>
<span class="chordline"><b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆலோசனை சொல்லுமேன் - என் அன்பு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பழைய நினைவுகள் பிரசங்க நிகழ்ச்சிகள்</samp>
<samp charset="UTF-8" class="lyricline">துயரமான பல தோல்விகள்</samp>
<samp charset="UTF-8" class="lyricline">என்னை வாட்டுகின்ற வேளையில்</samp>
<samp charset="UTF-8" class="lyricline">உம் சமூகத்தை நான் சாருவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உடைந்த உறவுகள் மனதின் கசப்புகள்</samp>
<samp charset="UTF-8" class="lyricline">என்னை நொறுக்கும் இதயத்தின் ஏக்கங்கள்</samp>
<samp charset="UTF-8" class="lyricline">இருளாய் என்னை சூழ்கையில்</samp>
<samp charset="UTF-8" class="lyricline">உம் பிரசண்ணம் தான் என் அடைக்கலம் - என் அன்பு</samp></div></div>   
        
     </div>