<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1701" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி அன்பை எண்ணிடும் வேளை</samp>
<span class="chordline">                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்கள் கலங்கிடுதே....</samp>
<span class="chordline"><b>Am</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தா உம் பாடுகள் இப்போதும் நினைத்தால்</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சம் நெகிழ்ந்திடுதே..... [2]</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                <b>C</b>         <b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கெத்சாமனே பூங்காவிலே கதறி அழும் ஓசை....[2]</samp>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எத்திசை அன்புதொனிக்கின்றதே....</samp>
<span class="chordline"><b>D</b>              <b>Bm</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் மனம் திகைக்கின்றதே...</samp>
<span class="chordline"><b>Am</b>       <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்கள் கலங்கிடுதே....            - கல்வாரி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என்னையும் உம்மைப்போல் மாற்றிடவே</samp>
<samp charset="UTF-8" class="lyricline">உன் ஜீவன் தந்தீரன்றோ... [2]</samp>
<samp charset="UTF-8" class="lyricline">என் தலை தரை மட்டும் தாழ்த்துகின்றேன்.</samp>
<samp charset="UTF-8" class="lyricline">தந்து விட்டேன் அன்பு கரங்களிலே.</samp>
<samp charset="UTF-8" class="lyricline">ஏற்று என்றும் நடத்தும்.....                 .- கல்வாரி</samp></div></div>   
        
     </div>