<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1702" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலையில் சூரியனை பார்க்கையிலே</samp>
<span class="chordline">     <b>F</b>                    <b>Em</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவன் உறங்காதவர் என்று நான் அறிவேன்</samp>
<span class="chordline">                                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் குருவிகள் குறலை கேட்கையில் என் தேவனும் கேட்கிறார்</samp>
<span class="chordline">     <b>F</b>                              <b>E</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் பயமறிவார் கண்ணீர் காண்பார் அழுகையும் துடைத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கொரு தேவன் உண்டு</samp>
<span class="chordline">      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் என்னை காண்கின்றார் - அவர்</samp>
<span class="chordline"><b>G</b>        <b>Dm</b>            <b>G</b>                                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் என்னை கான்கின்றார் - என்னை காண்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Am</b>     <b>F</b>         <b>G</b>       <b>Em</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ எனை காணும் தேவனே - (2)</samp>
<samp charset="UTF-8" class="lyricline">(என்னை காணும் தேவன்)</samp>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ எனை காணும் தேவனே - (2)</samp>
<samp charset="UTF-8" class="lyricline">(என்னை காண்கின்ற தேவன்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மேகம் கடப்பதை கானண்கையின் நான் மனதில் ஜெபிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">இந்த உலகத்தின் மாயைகள் என்னை மேற்கொள்ளக் கூடாது</samp>
<samp charset="UTF-8" class="lyricline">நதிகள் புரள்வதை கான்கையில் நான் எதற்கும் அஞ்சிடேன்</samp>
<samp charset="UTF-8" class="lyricline">அவை அன்பு என்றும் மாறாது என்றும் நமக்குண்டு             ... எனக்கொரு </samp></div></div>   
        
     </div>