<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1703" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>   <b>Ab</b>      <b>Fm</b>              <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நீர் கண்ணோக்கும் என்னை</samp>
<span class="chordline"><b>Bbm</b>      <b>C</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கவலை நீங்குமே</samp>
<span class="chordline"><b>Fm</b>                <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">என் சோக பாரம் தாங்குமே</samp>
<span class="chordline"><b>Bbm</b>       <b>C</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் தஞ்சமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>     <b>Csus4</b>      <b>Fm</b>    <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் செய்தேன் பாவியானேன்</samp>
<span class="chordline"><b>Fm</b>         <b>Csus4</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாதையை நான் மறந்தேன்</samp>
<span class="chordline"><b>Bbm</b>            <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">பாசக்கரத்தால் பாவம் கழுவி</samp>
<span class="chordline"><b>C</b>                    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பாசமாய் அணைத்தீரே                      ... தேவனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உம்மை மறந்தேன் உலகத்தை சார்ந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">உள்ளதை எல்லாம் இழந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">உதிரம் சிந்தியே உயிரை கொடுத்து</samp>
<samp charset="UTF-8" class="lyricline">உம்மிடம் சேர்த்தீரே                        ... தேவனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என் நெஞ்சம் என்றும் துயரத்தை எண்ணி</samp>
<samp charset="UTF-8" class="lyricline">துடித்து தவிக்குதே</samp>
<samp charset="UTF-8" class="lyricline">என்னை என்றும் ஏந்தி தாங்கும்</samp>
<samp charset="UTF-8" class="lyricline">கிருபை நாதரே                            ... தேவனே</samp></div></div>   
        
     </div>