<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1704" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>          <b>Am</b>            <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜா வந்திருக்கிறார்</samp>
<span class="chordline"><b>Am</b>            <b>G</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோரும் கொண்டாடுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கைதட்டி நாம் பாடுவோம்                                                               </samp>
<span class="chordline"><b>G</b>           <b>C</b>       <b>D</b>          <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">கொண்டாடுவோம் கொண்டாடுவோம்</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கவலைகள் மறந்து நாம் பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">1. கூப்பிடு நீ பதில் கொடுப்பார்                                                         </samp>
<span class="chordline"><b>Am</b>           <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குறைகளெல்லாம் நிறைவாக்குவார்</samp>
<span class="chordline"><b>Dsus4</b>       <b>D</b>  <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையாக தேடுவோரின்</samp>
<span class="chordline"><b>Dsus4</b>               <b>G</b>        </span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் வந்திடுவார்      ..... கொண்டாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. மனதுருக்கம் உடையவரே</samp>
<samp charset="UTF-8" class="lyricline">மன்னிப்பதில் வள்ளலவர்                                                                </samp>
<samp charset="UTF-8" class="lyricline">உன் நினைவாய் இருக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">ஓடிவா என் மகனே (மகளே)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கண்ணீரெல்லாம் துடைத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">கரம் பிடித்து நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">எண்ணமெல்லாம் ஏக்கமெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">இன்றே நிறைவேற்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நோய்களெல்லாம் நீக்கிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">நொடிப்பொழுதே சுகம் தருவார்</samp>
<samp charset="UTF-8" class="lyricline">பேய்களெல்லாம் நடுநடுங்கும் (நம்ம)</samp>
<samp charset="UTF-8" class="lyricline">பெரியவர் திரு முன்னே  இந்த</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. பாவமெல்லாம் போக்கிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">பயங்களெல்லாம் நீக்கிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">ஆவியினால் நிரப்பிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. கசையடிகள் உனக்காக                                                                    </samp>
<samp charset="UTF-8" class="lyricline">காயமெல்லாம் உனக்காக</samp>
<samp charset="UTF-8" class="lyricline">திரு இரத்தம் உனக்காக</samp>
<samp charset="UTF-8" class="lyricline">திருந்திடு என் மகனே</samp></div></div>   
        
     </div>