<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1705" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                          <b>Ab</b> <b>Fm6</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணப்பத்தைக் கேட்பவரே  என்</samp>
<span class="chordline">                     <b>Eb</b> <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரைக் காண்பவரே                                                                                    </samp>
<span class="chordline"><b>Db</b>    <b>Fm6</b>    <b>Fm</b> <b>Db</b>    <b>Eb</b>            <b>C7</b>      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் தருபவரே     ஸ்தோத்திரம் இயேசையா </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. உம்மால் கூடும் எல்லாம் கூடும்</samp>
<span class="chordline"><b>Ab</b>               <b>Db</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு வார்த்தை சொன்னால் போதும் </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மால் கூடும் எல்லாம் கூடும்</samp>
<span class="chordline"><b>E</b>                <b>Db</b>             <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு வார்த்தை சொன்னால் போதும்    </samp>
<span class="chordline"><b>Db</b>          <b>C</b>                    <b>Fm</b>                                                             </span>
<samp charset="UTF-8" class="lyricline">ஒரு வார்த்தை சொன்னால் போதும்    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. மனதுருகி கரம் நீட்டி</samp>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்தவரே (செய்பவரே)                                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சித்தம் உண்டு சுத்தமாகு</samp>
<samp charset="UTF-8" class="lyricline">என்று சொல்லி சுகமாக்கினீர்ஐயா                                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. என் நோய்களை சிலுவையிலே</samp>
<samp charset="UTF-8" class="lyricline">சுமந்து தீர்த்தீரைய்யா                                                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. குருடர்களை பார்க்கச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">முடவர்கள் நடக்கச் செய்தீர்                                                                                 </samp>
<samp charset="UTF-8" class="lyricline">.   </samp>
<samp charset="UTF-8" class="lyricline">6. உம் காயத்தால் சுகமானேன்</samp>
<samp charset="UTF-8" class="lyricline">ஒரு கோடி ஸ்தோத்திரமே</samp></div></div>   
        
     </div>