<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1706" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஏதாவது ஏதாவது ஏதாவது செய்ய வேண்டும்</samp>
<span class="chordline"><b>F</b>                    <b>Bb</b>          <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் என் இயேசு ராஜாவுக்கு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>             <b>Bb</b>   <b>Eb</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. துதிக்க வேண்டும் ஜெபிக்க வேண்டும்</samp>
<span class="chordline"><b>Eb</b>                             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துரத்த வேண்டும் சாத்தானை துரத்த வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. செல்ல வேண்டும் தேசமெங்கிலும்</samp>
<samp charset="UTF-8" class="lyricline">சொல்லவேண்டும் இயேசுவின் சுவிசேஷத்தை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தாங்க வேண்டும் ஊழியங்களை</samp>
<samp charset="UTF-8" class="lyricline">நமது ஜெபத்தால் நமது பணத்தால்</samp></div></div>   
        
     </div>