<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1707" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>                        <b>Fm</b>  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எஜமானனே என் இயேசு ராஜனே                                                </samp>
<span class="chordline"><b>Bb</b>   <b>G7</b>                   <b>Bb</b>   <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணமெல்லாம் (என்) ஏக்கமெல்லாம்</samp>
<span class="chordline"><b>G</b>            <b>Ab</b>          <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் செய்வது தானே  என்</samp>
<samp charset="UTF-8" class="lyricline">எஜமானனே எஜமானனே</samp>
<samp charset="UTF-8" class="lyricline">என் இயேசு ராஜனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">    <b>Cm</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. உமக்காகத்தான் வாழ்கிறேன்</samp>
<span class="chordline">                        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தான் நேசிக்கிறேன்  ஐயா</samp>
<span class="chordline">                      <b>Ab</b> <b>Fm(2)</b></span>
<samp charset="UTF-8" class="lyricline">பலியாகி எனை மீட்டீரே</samp>
<span class="chordline"><b>Cm</b>          <b>G</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் திறந்தீரையா</samp>
<span class="chordline"><b>G</b>           <b>Ab</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் திறந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உயிர் வாழும் நாட்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">ஓடி ஓடி உழைத்திடுவேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">அழைத்தீரே உம் சேவைக்கு  என்னை</samp>
<samp charset="UTF-8" class="lyricline">அதை நான் மறப்பேனோ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அப்பா உன் சந்நிதியில் தான்                                                            </samp>
<samp charset="UTF-8" class="lyricline">அகமகிழ்ந்து களிகூருவேன்  என்</samp>
<samp charset="UTF-8" class="lyricline">எப்போது உம்மைக் காண்பேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">ஏங்குதய்யா என் இதயம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. என் தேச எல்லையெங்கும்</samp>
<samp charset="UTF-8" class="lyricline">அப்பா நீ ஆள வேண்டும்                                                                    </samp>
<samp charset="UTF-8" class="lyricline">வறுமை எல்லாம் மாறணும்  தேசத்தின்</samp>
<samp charset="UTF-8" class="lyricline">வன்முறை எல்லாம் ஒழியணும்</samp></div></div>   
        
     </div>