<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1708" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகந்தான் என் பேச்சு</samp>
<span class="chordline">          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தம்தான் என் மூச்சு</samp>
<span class="chordline">            <b>C</b>          <b>F</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கொஞ்சக்காலம் இந்த பூமியிலே</samp>
<span class="chordline"><b>F</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்காய் சுவிசேஷத்திற்காய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தானான தனனா தானானனா</samp>
<span class="chordline">         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தானான தனனா தானானனா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b>                                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. என் இயேசு வருவார் மேகங்கள் நடுவே</samp>
<span class="chordline">                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தன்னோடு சேர்த்துக் கொள்வார்  </samp>
<samp charset="UTF-8" class="lyricline">.                                                       </samp>
<samp charset="UTF-8" class="lyricline">கூடவே வைத்துக் கொள்வார்  என்னை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உருமாற்றம் அடைந்து                                                                </samp>
<samp charset="UTF-8" class="lyricline">முகமுகமாக என் நேசரைக் காண்பேன்</samp>
<samp charset="UTF-8" class="lyricline">தொட்டு தொட்டுப் பார்ப்பேன்  இயேசுவை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சங்கீதக்காரன் தாவீதை காண்பேன்</samp>
<samp charset="UTF-8" class="lyricline">அங்கு பாடச் சொல்லி கேட்பேன்  அங்கு</samp>
<samp charset="UTF-8" class="lyricline">சேர்ந்து பாடிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">அங்கு நடனமாடிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. என் சொந்த தேசம் பரலோகமே</samp>
<samp charset="UTF-8" class="lyricline">எப்போது நான் காண்பேன்</samp>
<samp charset="UTF-8" class="lyricline">ஏங்குகிறேன் தினமும்  நான்                                                           </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கண்ணீர்கள் யாவும் துடைக்கப்படும்</samp>
<samp charset="UTF-8" class="lyricline">கவலைகள் மறைந்து விடும்</samp>
<samp charset="UTF-8" class="lyricline">எல்லாமே புதிதாகும்                                                                        </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. என்னோடு கூட கோடான கோடி</samp>
<samp charset="UTF-8" class="lyricline">ஆன்மாக்கள் சேர்த்துக் கொள்வேன்</samp>
<samp charset="UTF-8" class="lyricline">கூட்டி சென்றிடுவேன்</samp></div></div>   
        
     </div>