<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1709" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கால் மிதிக்கும் தேசமெல்லாம்  என்</samp>
<span class="chordline"><b>D</b>            <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கு சொந்தமாகும்</samp>
<span class="chordline">                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண் பார்க்கும் பூமியெல்லாம்</samp>
<span class="chordline"><b>E</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி கொடி பறக்கும்                                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. பறக்கட்டும் பறக்கட்டும்</samp>
<span class="chordline"><b>D7</b>                          <b>G</b>   <b>C</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையின் ஜெயக்கொடி அல்லேலூயா</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">உயரட்டும் உயரட்டும்</samp>
<span class="chordline">                          <b>G</b>  <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் திருநாமம்  அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எழும்பட்டும் எழும்பட்டும்</samp>
<samp charset="UTF-8" class="lyricline">கிதியோனின் சேனைகள்                                                                   </samp>
<samp charset="UTF-8" class="lyricline">முழங்கட்டும் முழங்கட்டும்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுதான் வழியென்று                                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. செல்லட்டும் செல்லட்டும்</samp>
<samp charset="UTF-8" class="lyricline">ஜெபசேனை துதிசேனை</samp>
<samp charset="UTF-8" class="lyricline">வெல்லட்டும் வெல்லட்டும்</samp>
<samp charset="UTF-8" class="lyricline">எதிரியின் எரிகோவை                                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. திறக்கட்டும் திறக்கட்டும்</samp>
<samp charset="UTF-8" class="lyricline">சுவிசேஷ வாசல்கள்</samp>
<samp charset="UTF-8" class="lyricline">வளரட்டும் வளரட்டும்</samp>
<samp charset="UTF-8" class="lyricline">அபிஷேக திருச்சபைகள் </samp></div></div>   
        
     </div>