<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1710" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                  <b>F</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜா உம் இதயத் துடிப்பை</samp>
<span class="chordline"><b>C</b>        <b>F</b>           <b>F</b>   <b>Dm</b>       <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">அறிந்து கொள்ளும் பாக்கியம் தாரும்</samp>
<span class="chordline">     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் ஏக்கம் எல்லாம் நிறைவேற்ற</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையைத் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>         <b>Bb</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு வாழ்வு அது உமக்காக  (2)</samp>
<span class="chordline"><b>Bb</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உணர்வெல்லாம் உமக்காக</samp>
<span class="chordline"><b>C</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமெல்லாம் உமக்காக</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>            <b>Bb</b>                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. உம் இதயம் மகிழ்ந்திட வாழ்ந்திட வேண்டும்</samp>
<span class="chordline"><b>Bb</b>           <b>C</b>            <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் செய்து நான் மடிந்திட வேண்டும்</samp>
<span class="chordline"><b>C</b>            <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் செய்து நான் மடிந்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அழிந்து போகும் ஆத்துமாக்கள் நினைத்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">ஆத்தும பாரத்தினால் அலைந்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உலகத்திற்கு மரித்து நான் வாழ்ந்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">உண்மையான ஊழியனாய் உழைத்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அகிலத்தையே உம் அண்டை சேர்த்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">அனைத்து மகிமை உமக்கே நான் செலுத்திட வேண்டும் </samp></div></div>   
        
     </div>