<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1712" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                                <b>Db</b>               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாகமுள்ளவன் மேல் தண்ணீரை ஊற்றுவேன் என்றீர்</samp>
<span class="chordline">                               <b>Db</b>               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">வறண்ட நிலத்தில ஆறுகளை ஊற்றுவேன் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>                  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஊற்றும் ஐயா உம் வல்லமையை</samp>
<span class="chordline"><b>C7</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாகத்தோடு காத்திருக்கிறேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>           <b>Fm</b>              <b>Db</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. மாம்சமான யாவர் மேலும் ஊற்ற வேண்டுமே</samp>
<span class="chordline"><b>Eb</b>                            <b>Gdim</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">மக்களெல்லாம் இறைவாக்கு உரைக்க வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. முதியோர் மேலும் இளைஞர் மேலும் ஊற்ற வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">கனவுகள் காட்சிகள் காண வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நீரோடை அருகிலுள்ள மரங்களைப் போல</samp>
<samp charset="UTF-8" class="lyricline">நித்தமும் தவறாமல் கனி தர வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. புதிய கூர்மையான கருவியாகணும்</samp>
<samp charset="UTF-8" class="lyricline">பூமியெங்கும் சுவை தரும் உப்பாகணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கல்லான இதயத்தை எடுத்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">சதையான இதயத்தைப் பொருத்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. வனாந்தரம் செழிப்பான தோட்டமாகணும்</samp>
<samp charset="UTF-8" class="lyricline">வயல்வெளி அடர்ந்த காடாகணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. நீதியும் நேர்மையும் தழைக்க வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">நல்வாழ்வும் நம்பிக்கையும் வளர வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. தூய நீரை எங்கள் மேல் தெளித்திட வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">எல்லாவித அசுத்தங்கள் நீங்கிட வேண்டும்</samp></div></div>   
        
     </div>