<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1713" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>              <b>C</b>           <b>Ab</b>          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">யோசனையில் பெரியவரே ஆராதனை ஆராதனை</samp>
<span class="chordline">         <b>Ab</b>    <b>Eb</b>                 <b>C</b>          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">செயல்களிலே வல்லவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஓசன்னா உன்னத தேவனே</samp>
<span class="chordline"><b>C7</b>        <b>Db</b>        <b>C</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஓசன்னா ஓசன்னா ஓசன்னா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">1. கண்மணி போல் காப்பவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">கழுகு போல் சுமப்பவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சிலுவையினால் மீட்டவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">சிறகுகளால் மூடுபவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வழி நடத்தும் விண்மீனே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">ஒளி வீசும் விடிவெள்ளியே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. தேடி என்னை காண்பவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">தினந்தோறும் தேற்றுபவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. பரிசுத்தரே படைத்தவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">பாவங்களை மன்னித்தவரே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. உறுதியான அடித்தளமே ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">விலை உயர்ந்த மூலைக் கல்லே ஆராதனை ஆராதனை</samp></div></div>   
        
     </div>