<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1714" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>              <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நம் இயேசு நல்லவர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஒரு போதும் கைவிடார்</samp>
<span class="chordline">     <b>Db</b>      <b>Eb</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு நாளும் விலகிடார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்று சேர்ந்து நாம் துதிப்போம்</samp>
<span class="chordline"><b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை மிதிப்போம்</samp>
<span class="chordline"><b>Db</b>                  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தை சுதந்தரிப்போம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. அதிசயமானவர்</samp>
<span class="chordline"><b>Bbm</b>            <b>Eb7</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் தருகிறார்</samp>
<span class="chordline"><b>Fm</b>          <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்லவர்                                                         </samp>
<span class="chordline"><b>Fm</b>     C7sus      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சமாதானம் தருகிறார்  உனக்கு</samp>
<span class="chordline"><b>Db</b>      <b>Eb</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சமாதானம் தருகிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கண்ணீரைக் காண்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">கதறலைக் கேட்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">வேதனை அறிகிறார்</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை தருகிறார்  இன்று                                               </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. எதிர்காலம் நமக்குண்டு</samp>
<samp charset="UTF-8" class="lyricline">எதற்கும் பயமில்லை</samp>
<samp charset="UTF-8" class="lyricline">அதிகாரம் கையிலே</samp>
<samp charset="UTF-8" class="lyricline">ஆளுவோம் தேசத்தை  நாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நொறுங்குண்ட நெஞ்சமே                                                </samp>
<samp charset="UTF-8" class="lyricline">நோக்கிடு இயேசுவை</samp>
<samp charset="UTF-8" class="lyricline">கூப்பிடு உண்மையாய்  இன்று</samp>
<samp charset="UTF-8" class="lyricline">குறையெல்லாம் நீக்குவார்  உன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. நண்பனே கலங்காதே</samp>
<samp charset="UTF-8" class="lyricline">நம்பிக்கை இழக்காதே</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீரைத் துடைப்பவர்</samp>
<samp charset="UTF-8" class="lyricline">கதவண்டை நிற்கிறார்                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எத்தனை இழப்புகள்</samp>
<samp charset="UTF-8" class="lyricline">ஏமாற்றம் தோல்விகள்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரோ மாற்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">கரம் நீட்டித் தேற்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. என் இயேசு வருகிறார்</samp>
<samp charset="UTF-8" class="lyricline">மேகங்கள் நடுவிலே                                                             </samp>
<samp charset="UTF-8" class="lyricline">மகிமையில் சேர்த்திட</samp>
<samp charset="UTF-8" class="lyricline">மறுரூபமாக்குவார் </samp></div></div>   
        
     </div>