<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1715" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாவ மன்னிப்பின் நிச்சயத்தை</samp>
<span class="chordline"><b>Bb</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பெற்றுக் கொள்ள வேண்டும்</samp>
<span class="chordline">               <b>Bb</b>                        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகத்தில் ஓர் இடம் நீ பெற வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>            <b>Bb</b>    <b>Eb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு தருகிறார் இன்று தருகிறார்</samp>
<span class="chordline">                  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">அதற்காகத் தான் சிலுவையிலே</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தம் சிந்தி விட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">    <b>F</b>                            <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. முதன் முதலாய் தேவனுக்கு உகந்ததைத் தேடு</samp>
<span class="chordline">       <b>Bb</b>        <b>Csus4</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பின்பு எல்லாமே உனக்கு சேர்த்துத் தந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. நீ தேடும் நிம்மதி இயேசு தருகிறார்</samp>
<samp charset="UTF-8" class="lyricline">நீ நாடும் விடுதலை அவரிடம் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வருத்தப்பட்டு பாரங்கள் சுமக்கின்ற மகனே (மகளே)</samp>
<samp charset="UTF-8" class="lyricline">நீ வருவாயா இயேசு இன்று வாழ்வு தந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இரத்தம் சிந்துதல் இல்லாமல் பாவ மன்னிப்பில்லை</samp>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜா நாமம் இல்லாமல் இரட்சிப்பும் இல்லை  நம்ம</samp></div></div>   
        
     </div>