<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1716" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எனது தலைவன் இயேசுராஜன்</samp>
<span class="chordline"><b>C</b>                 <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">மார்பில் சாய்ந்து சாய்ந்து</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து மகிழ்ந்திருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. இதய தீபம் எனது தெய்வம்</samp>
<span class="chordline"><b>Am</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கத்தின் சிகரம்                                                                         </samp>
<span class="chordline">                <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">பார்த்து பார்த்து ரசித்து ருசித்து</samp>
<span class="chordline"><b>Am</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரவசம் அடைவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. நீதி தேவன் வெற்றி வேந்தன்                                                     </samp>
<samp charset="UTF-8" class="lyricline">அமைதியின் மன்னன்</samp>
<samp charset="UTF-8" class="lyricline">நினைத்து நினைத்து துதித்து துதித்து</samp>
<samp charset="UTF-8" class="lyricline">நிம்மதி அடைவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நல்ல மேய்ப்பன் குரலைக் கேட்பேன்</samp>
<samp charset="UTF-8" class="lyricline">நாளும் பின் தொடர்வேன்                                                         </samp>
<samp charset="UTF-8" class="lyricline">தோளில் அமர்ந்து கவலை மறந்து</samp>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து பயணம் செய்வேன்                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பசும்புல் மேய்ச்சல் அமர்ந்த தண்ணீர்</samp>
<samp charset="UTF-8" class="lyricline">அழைத்துச் செல்பவரே</samp>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவை தினமும் தேற்றி</samp>
<samp charset="UTF-8" class="lyricline">அணைத்துக் கொள்பவரே</samp></div></div>   
        
     </div>