<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1717" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மோடு இருப்பதுதான்</samp>
<span class="chordline">             <b>F</b>     <b>C7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தின் வாஞ்சையையா</samp>
<span class="chordline"><b>Bb</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் செய்வது தான்</samp>
<span class="chordline"><b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இதயத்தின் ஏக்கமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>            <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா உம்மைத்தானே</samp>
<span class="chordline">              <b>Badd9</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் முன்னே நிறுத்தியுள்ளேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                     <b>Fsus4</b></span>
<samp charset="UTF-8" class="lyricline">1. எனக்காக யாவையும் செய்பவரே</samp>
<span class="chordline"><b>Bb</b>      <b>Eb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">செய்து முடிப்பவரே                                                                </samp>
<span class="chordline">          <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் பாரங்கள் என் சுமைகள்  </samp>
<span class="chordline"><b>C7</b>         <b>Bb</b>  <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் பாரங்கள் என் சுமைகள்</samp>
<span class="chordline"><b>C</b>               <b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதத்தில் இறக்கி வைத்தேன்  2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இரக்கமும் உருக்கமும் நீடிய சாந்தமும்</samp>
<samp charset="UTF-8" class="lyricline">கிருபையும் உள்ளவரே                                                                     </samp>
<samp charset="UTF-8" class="lyricline">என் ஜீவனை அழிவில் நின்று</samp>
<samp charset="UTF-8" class="lyricline">மீட்டவரே என் மேய்ப்பரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. எபிநேசரே எல்எலியோன்                                                        </samp>
<samp charset="UTF-8" class="lyricline">என்றுமே உயர்ந்தவரே                                                                     </samp>
<samp charset="UTF-8" class="lyricline">எல்ஷடாய் (சர்வ) வல்லவரே                                                         </samp>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ காண்பவரே                                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. மன்னிப்பதில் வள்ளல் நீரே</samp>
<samp charset="UTF-8" class="lyricline">சுகம் தரும் தெய்வம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">உம் அன்பையும் இரக்கத்தையும்</samp>
<samp charset="UTF-8" class="lyricline">மணி முடியாய் சூட்டுகின்றீர்</samp></div></div>   
        
     </div>