<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1718" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நீங்க இருக்கையிலே</samp>
<span class="chordline">       <b>C7</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நாங்க சோர்ந்து போவதில்லை</samp>
<span class="chordline">      <b>Bb</b>         <b>F</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க எல்லாமே பார்த்துக் கொள்வீங்க  </samp>
<span class="chordline">      <b>C7</b>                            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க எல்லாமே பார்த்துக் கொள்வீங்க</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. சமாதான காரணர் நீங்கதானே</samp>
<span class="chordline"><b>Gm</b>    <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்லவரும் நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அதிசய தேவன் நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">ஆலோசனைக் கர்த்தர் நீங்கதானே                                                        </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தாயும் தகப்பனும் நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">தாங்கும் சுமைதாங்கி நீங்கதானே                                                    </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இருள் நீக்கும் வெளிச்சம் நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின் தேவன் நீங்கதானே                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. எனக்கு அழகெல்லாம் நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">எனது ஆசையெல்லாம் நீங்கதானே                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எல்லாமே எனக்கு நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">எனக்குள் வாழ்பவரும் நீங்கதானே                                                     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. முதலும் முடிவும் நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">முற்றிலும் காப்பவர் நீங்கதானே                                                         </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. வழியும் சத்தியமும் நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">வாழ்வளிக்கும் வள்ளல் நீங்கதானே                                                 </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">9. பாவமன்னிப்பு நீங்கதானே</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியும் நீங்கதானே</samp></div></div>   
        
     </div>