<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1719" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                             <b>F</b>      <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">எனது மணவாளனே என் இதய ஏக்கமே</samp>
<span class="chordline"><b>F</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இனியவரே இயேசையா</samp>
<span class="chordline">                 <b>G7</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தான் தேடுகிறேன்  நான்</samp>
<span class="chordline">                 <b>G7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தான் நேசிக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>           <b>F</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. உம் நாமம் சொல்லச் சொல்ல  என்</samp>
<span class="chordline"><b>Gsus4</b>       <b>F</b>     <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமெல்லாம் துள்ளுதையா</samp>
<span class="chordline">                        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் அன்பைப் பாடப் பாட</samp>
<span class="chordline"><b>C</b>          <b>G7</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இதயமெல்லாம் இனிக்குதையா என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உம் முகம் பார்க்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">உம் அழகை ரசிக்கணுமே                                                             </samp>
<samp charset="UTF-8" class="lyricline">உம் பாதம் அமரணுமே                                                                 </samp>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் அறியணுமே  நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. என் வாயின் சொற்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">ஏற்றனவாய் இருப்பதாக</samp>
<samp charset="UTF-8" class="lyricline">என் இதய எண்ணமெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உகந்தனவாய் இருப்பதாக உமக்கு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அழகெல்லாம் அற்றுப் போகும்  உலக</samp>
<samp charset="UTF-8" class="lyricline">எழிலெல்லாம் ஏமாற்றும்                                                            </samp>
<samp charset="UTF-8" class="lyricline">உம் அன்பு மாறாதையா</samp>
<samp charset="UTF-8" class="lyricline">ஒரு நாளும் அழியாதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. நான் பார்க்கும் பார்வையெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">ஏற்றனவாய் இருப்பதாக</samp>
<samp charset="UTF-8" class="lyricline">நான் நடக்கும் பாதையெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உகந்தனவாய் இருப்பதாக</samp></div></div>   
        
     </div>