<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1722" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                    <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்லவர் என் சொந்தமானார் (எஜமானன்)</samp>
<span class="chordline"><b>C</b>                        <b>C7</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாவை வென்றவர் என் ஜீவனானார் (மணவாளன்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"> <b>D</b>           <b>Gm</b>           <b>Eb</b>  <b>C7</b>        <b>Bb</b>            <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆ.... இது அதிசயம் தானே ஓ........... இது உண்மை தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. கண்டு கொண்டேன் ஒரு புதையல்</samp>
<span class="chordline"><b>Bb</b>               <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பெற்றுக் கொண்டேன் ஒரு பொக்கிஷம்</samp>
<span class="chordline">       <b>D</b>         <b>Gm</b>     <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுதான் என் இரட்சகர்</samp>
<span class="chordline"><b>C7</b>     <b>Bb</b>         <b>C7</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுதான் என் ராஜா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சந்தோஷமும் சமாதானமும்</samp>
<samp charset="UTF-8" class="lyricline">என் உள்ளத்தில் பொங்குதம்மா</samp>
<samp charset="UTF-8" class="lyricline">பாவமெல்லாம் போக்கிவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">பயங்களெல்லாம் நீக்கிவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பரலோகத்தில் எனது பெயர்</samp>
<samp charset="UTF-8" class="lyricline">எழுதிவிட்டார் என் இயேசு</samp>
<samp charset="UTF-8" class="lyricline">என் வாழ்வின் நோக்கமெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்காய் வாழ்வது தான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஊரெல்லாம் சொல்லிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">உலகமெங்கும் பறைசாற்றுவேன் நான்</samp>
<samp charset="UTF-8" class="lyricline">ஜீவிக்கின்றார் என் இயேசு</samp>
<samp charset="UTF-8" class="lyricline">சீக்கிரமாய் வந்திடுவார்</samp></div></div>   
        
     </div>