<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1723" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கடந்து வந்த பாதைகளை திரும்பிப் பார்க்கிறேன்</samp>
<span class="chordline"><b>Csus4</b>         <b>Bb</b>                        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரோடு கர்த்தாவே நன்றி சொல்கிறேன்</samp>
<span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி சொல்கிறேன் நான் நன்றி சொல்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>     <b>Db</b>      <b>Csus4</b>     <b>Fm</b>     <b>Ddim7</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா உமக்கு நன்றி,   ராஜா  உமக்கு நன்றி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>              <b>Db7</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. அனாதையாய் அலைந்தே நான் திரிந்தேன் ஐயா</samp>
<span class="chordline"><b>Csus4</b>    <b>Fm</b>               <b>Csus4</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அழாதே என்று சொல்லி அணைத்தீர் ஐயா </samp>
<span class="chordline"><b>Fm</b>     <b>Db</b>      <b>Csus4</b>     <b>C7</b>     <b>Ddim7</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா உமக்கு நன்றி,   ராஜா  உமக்கு நன்றி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எதிராய் வந்த சூழ்ச்சிகளை முறியடித்தீரே</samp>
<samp charset="UTF-8" class="lyricline">எந்த நிலையிலும் உம்மைத் துதிக்க வைத்தீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பாடுகளை சுமந்து செல்ல பெலன் தந்தீரே</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாய் வாழ்வு வாழ துணை செய்தீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஒரு நாளும் குறைவில்லாமல் உணவு தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உறைவிடமும் உடையும் தந்து காத்து வந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தள்ளப்பட்ட கல்லாகக் கிடந்தேன் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">எடுத்து என்னை பயன்படுத்தி மகிழ்கின்றீர் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எத்தனையோ புதுப்பாடல் நாவில் வைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">இலட்சங்களை இரட்சிக்க பயன்படுத்துகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. பாதை அறியா குருடனைப் போல் வாழ்ந்தேன்---ஐயா</samp>
<samp charset="UTF-8" class="lyricline">பாசத்தோடு கண்களையே திறந்தீர்----ஐயா</samp></div></div>   
        
     </div>