<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1724" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                         <b>Asus4</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேறு ஒரு ஆசை இல்ல இயேசு ராஜா</samp>
<span class="chordline"><b>Bm</b>             <b>G</b> <b>Dadd9</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தவிர உம்மைத் தவிர</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. உம் பாதம் பணிந்து நான்</samp>
<span class="chordline">                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே தழுவினேன்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே தழுவினேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இருள் நீக்கும் வெளிச்சமே</samp>
<samp charset="UTF-8" class="lyricline">எனை காக்கும் தெய்வமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. மனம் இரங்கினீரே</samp>
<samp charset="UTF-8" class="lyricline">மறுவாழ்வு தந்தீரே                                                                                </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. சுகம் தந்தீரையா                                                                                </samp>
<samp charset="UTF-8" class="lyricline">பெலன் தந்தீரையா                                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. இரக்கத்தின் சிகரமே                                                                         </samp>
<samp charset="UTF-8" class="lyricline">இதயத்தின் தீபமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. செய்த நன்மை நினைத்து</samp>
<samp charset="UTF-8" class="lyricline">துதித்துப் பாடி மகிழ்வேன்</samp></div></div>   
        
     </div>