<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1725" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்குப் பிரியமானதைச் செய்ய</samp>
<span class="chordline"><b>Fm</b>                <b>C</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குக் கற்றுத் தாரும் தெய்வமே</samp>
<span class="chordline"><b>Fm</b>  <b>C</b>  <b>Ab</b>   <b>Db</b>   <b>Fm</b>    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நீ  ரே என் தேவன்    உம்</samp>
<span class="chordline">                <b>Ab</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல பரிசுத்த ஆவியானவர்</samp>
<span class="chordline">               <b>Fm</b>         <b>Db</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">செம்மையான வழியிலே நடத்த வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>            <b>C</b>   <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">மேக ஸ்தம்பமே அக்கினி ஸ்தம்பமே</samp>
<span class="chordline"><b>C</b>                <b>Fm</b>  <b>Db</b>          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றும் தெய்வமே துணையாளரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">1. உம்மை நோக்கி என் கைகளை</samp>
<samp charset="UTF-8" class="lyricline">உயர்த்தி உயர்த்தி மகிழ்கின்றேன் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">வறண்ட நிலம் தவிப்பது போல்</samp>
<samp charset="UTF-8" class="lyricline">என் ஆன்மா உமக்காக ஒவ்வொரு நாளும்</samp>
<samp charset="UTF-8" class="lyricline">ஏங்கி ஏங்கி தவிக்கின்றதையா</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">எனது ஏக்கமே எனது பிரியமே</samp>
<samp charset="UTF-8" class="lyricline">எனது பாசமே எனது ஆசையே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உமது அன்பை அதிகாலையில்</samp>
<samp charset="UTF-8" class="lyricline">காணச் செய்யும் கருணை நேசரே</samp>
<samp charset="UTF-8" class="lyricline">உம்மையே நம்பியுள்ளேன்</samp>
<samp charset="UTF-8" class="lyricline">நீர் விரும்பும் உம் நல்ல பாதைகளை</samp>
<samp charset="UTF-8" class="lyricline">தினந்தோறும் காட்ட வேண்டும் திவ்யநாதரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அன்பின் சிகரமே ஆருயிரே</samp>
<samp charset="UTF-8" class="lyricline">அணைக்கும் தெய்வமே ஆறுதலே</samp></div></div>   
        
     </div>