<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1726" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">பொருட்கள் மேல கண்ணு போச்சுன்னா</samp>
<span class="chordline">             <b>Bb</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போச்சய்யா உன் அபிஷேகம்</samp>
<span class="chordline">                                          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கள்(ஆடை) மேல கண்ணு போச்சுன்னா</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">அம்போதான் உன் அபிஷேகம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>               <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">காத்துக் கொள் காத்துக் கொள் நீ</samp>
<span class="chordline"><b>F</b>                          <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பெற்றுக் கொண்ட அபிஷேகத்தை காத்துக் கொள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. பெருமை என்ற வலையில் விழாதே  அது</samp>
<span class="chordline"><b>Bb</b>             <b>C7</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வறுமையைக் கொண்டு வந்திடும்</samp>
<span class="chordline"><b>C</b>                         </span>
<samp charset="UTF-8" class="lyricline">பணத்திலே மயங்கி விடாதே  உன்னைப்</samp>
<span class="chordline">          <b>Csus4</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாதாளம் கொண்டு போய்விடும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அழிந்து போகும் உலகப் பொருட்களால்</samp>
<samp charset="UTF-8" class="lyricline">நண்பர்களை சம்பாதித்துக் கொள்</samp>
<samp charset="UTF-8" class="lyricline">நீ மரித்தால் நித்திய வீட்டில் (உன்னை)</samp>
<samp charset="UTF-8" class="lyricline">நிரந்தரமாய் ஏற்றுக் கொள்வார்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அழைத்த அழைப்பில் நிலைத்திருந்தால்  நீ</samp>
<samp charset="UTF-8" class="lyricline">அபிஷேகத்தை காத்துக் கொள்ளலாம்                                             </samp>
<samp charset="UTF-8" class="lyricline">அழைத்தவர் உண்மையுள்ளவர்  உன்னை</samp>
<samp charset="UTF-8" class="lyricline">அநுதினமும் நடத்திச் செல்வாரே</samp></div></div>   
        
     </div>