<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1727" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத தேவனே என் இயேசு ராஜனே</samp>
<span class="chordline">           <b>C7</b>                                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மோடு இணைந்திட என் உள்ளம் ஏங்குதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. உம் அன்பைப் பருகிட</samp>
<span class="chordline"><b>C7</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஓடோடி வந்துள்ளேன்</samp>
<span class="chordline"><b>C7</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மாக மாறிட</samp>
<span class="chordline">                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உலகை மறக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">இரவெல்லாம் பகலெல்லாம் இதயம்</samp>
<span class="chordline">           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காக துடிக்குதையா</samp>
<span class="chordline"><b>C7</b>         </span>
<samp charset="UTF-8" class="lyricline">நினைவெல்லாம் பேச்செல்லாம்</samp>
<span class="chordline">                          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நேசரே உம்மைப் பற்றித் தானே ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பேரின்பக் கடலிலே</samp>
<samp charset="UTF-8" class="lyricline">ஓய்வின்றி மூழ்கணும்</samp>
<samp charset="UTF-8" class="lyricline">துதித்து மகிழணும்</samp>
<samp charset="UTF-8" class="lyricline">தூயோனாய் வாழணும் - நான்                                                            </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கொடியாக படரணும்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் நேசமே                                                                                     </samp>
<samp charset="UTF-8" class="lyricline">மடிமீது தவழணும்</samp>
<samp charset="UTF-8" class="lyricline">மழலைக் குழந்தை நான்-  உன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. மறுரூபமாக்கிடும்</samp>
<samp charset="UTF-8" class="lyricline">மகிமையின் மேகமே</samp>
<samp charset="UTF-8" class="lyricline">உம் முக சாயலாய்</samp>
<samp charset="UTF-8" class="lyricline">உரு மாற்றும் தெய்வமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஐயா உம் நிழலிலே</samp>
<samp charset="UTF-8" class="lyricline">ஆனந்த பரவசம்</samp>
<samp charset="UTF-8" class="lyricline">அளவிடா பேரின்பம்</samp>
<samp charset="UTF-8" class="lyricline">ஆரோக்கியம் அதிசயம்</samp></div></div>   
        
     </div>