<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1728" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>             <b>Bm</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் பீடத்தை சுற்றி சுற்றி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நான் வருகிறேன் தெய்வமே</samp>
<span class="chordline"><b>G</b>                  <b>D</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கறைகளெல்லாம் நீங்கிட</samp>
<span class="chordline">  <b>A7</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் கைகளைக் கழுவுகிறேன்</samp>
<span class="chordline"><b>Bm</b>          <b>Em</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் தெய்வமே, இயேசுநாதா</samp>
<span class="chordline"><b>Bm</b>         <b>Em</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இதயமெல்லாம் மகிழுதையா.....</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>       <b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. உரத்த குரலில் நன்றிப் பாடல்</samp>
<span class="chordline"><b>A</b>     <b>G</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாடி மகிழ்கிறேன்</samp>
<span class="chordline"><b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வியத்தகு உம் செயல்களெல்லாம்</samp>
<span class="chordline"><b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எடுத்து உரைக்கிறேன்                                                                             </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உந்தன் மாறாத பேரன்பு</samp>
<samp charset="UTF-8" class="lyricline">என் கண்முன் இருக்கிறது</samp>
<samp charset="UTF-8" class="lyricline">உம் திருமுன்னே உண்மையாக</samp>
<samp charset="UTF-8" class="lyricline">வாழ்ந்து வருகிறேன்                                                                                </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கர்த்தாவே உம்மையே நம்பியுள்ளேன்</samp>
<samp charset="UTF-8" class="lyricline">தடுமாற்றம் எனக்கில்லை                                                                     </samp>
<samp charset="UTF-8" class="lyricline">உந்தன் சமூகம், உந்தன் மகிமை</samp>
<samp charset="UTF-8" class="lyricline">உண்மையாய் ஏங்குகிறேன்</samp></div></div>   
        
     </div>