<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1729" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>              <b>Dm</b>  <b>Csus4</b>                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கவர்ச்சி நாயகனே கண்களில் நிறைந்தவரே</samp>
<span class="chordline"><b>F</b>             <b>Bb</b>            <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கரம்பிடித்தவரே கைவிடா கன்மலையே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>     <b>Bb</b>      </span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஸ்தோத்திரம்</samp>
<span class="chordline"><b>Bb</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஸ்தோத்திரம்</samp>
<span class="chordline">        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள நாளெல்லாம்</samp>
<span class="chordline"><b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஸ்தோத்திரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. என்னை இழுத்துக் கொள்ளும்</samp>
<span class="chordline"><b>C</b>    <b>C7</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி வந்திடுவேன்</samp>
<span class="chordline"><b>Bb</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அறைக்குள் அழைத்துச் செல்லும்</samp>
<span class="chordline"><b>C7</b>        <b>F</b>       <b>F7</b></span>
<samp charset="UTF-8" class="lyricline">அன்பில் களிகூருவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. திராட்சை இரசம் பார்க்கிலும்</samp>
<samp charset="UTF-8" class="lyricline">இனிமையானவரே</samp>
<samp charset="UTF-8" class="lyricline">ஊற்றுண்ட பரிமளமே</samp>
<samp charset="UTF-8" class="lyricline">உலகெல்லாம் உம் மணமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இடக்கையால் தாங்குகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">வலக்கையால் தழுவுகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">எனக்கு உரியவரே</samp>
<samp charset="UTF-8" class="lyricline">இதயம் ஆள்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உம் மீது கொண்ட நேசம்</samp>
<samp charset="UTF-8" class="lyricline">அக்கினி ஜுவாலையன்றோ</samp>
<samp charset="UTF-8" class="lyricline">தண்ணீரும் வெள்ளங்களும்</samp>
<samp charset="UTF-8" class="lyricline">தணிக்க முடியாதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. என் நாவில் உள்ளதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் புகழ் தானே</samp>
<samp charset="UTF-8" class="lyricline">நான் பேசி மகிழ்வதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் பெருமை தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. காட்டு மரங்களுக்குள்</samp>
<samp charset="UTF-8" class="lyricline">கிச்சிலி மரம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">அன்பரே உம் நிழலில்</samp>
<samp charset="UTF-8" class="lyricline">அமர்ந்து இன்புறுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. வாரும் என் நேசரே</samp>
<samp charset="UTF-8" class="lyricline">வயல் வெளியில் தங்கிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">நேசத்தின் உச்சிதங்களை</samp>
<samp charset="UTF-8" class="lyricline">நிறைவாய் பொழிவேன் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. வாயின் முத்தங்களால்</samp>
<samp charset="UTF-8" class="lyricline">முத்தங்கள் செய்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">உம்மைப்போல் மாற்றிவிடும்</samp>
<samp charset="UTF-8" class="lyricline">உமக்குள் வைத்துக் கொள்ளும்</samp></div></div>   
        
     </div>