<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1730" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலையில் (அன்பு நேசரே)</samp>
<span class="chordline">     <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உம் திருமுகம் தேடி</samp>
<span class="chordline"><b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அர்ப்பணித்தேன் என்னையே                                                 </samp>
<span class="chordline">  <b>Bb</b>        <b>F</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை துதி ஸ்தோத்திரங்கள்</samp>
<span class="chordline">          <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அப்பனே உமக்குத் தந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline">  <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline">        <b>C</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பர் இயேசு ராஜனுக்கே</samp>
<span class="chordline">     <b>Bb</b>     <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியான தேவனுக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. இந்த நாளின் ஒவ்வொரு நிமிடமும்</samp>
<span class="chordline">        <b>C7</b>                 F(<b>Bb)</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நினைவால் நிரம்ப வேண்டும்</samp>
<span class="chordline">              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் வாயின் வார்த்தை எல்லாம்</samp>
<span class="chordline"><b>C</b>             <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பிறர் காயம் ஆற்ற வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உந்தன் ஏக்கம் விருப்பம் எல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">என் இதயத் துடிப்பாக மாற்றும்                                             </samp>
<samp charset="UTF-8" class="lyricline">என் ஜீவ நாட்கள் எல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">ஜெப வீரன் என்று எழுதும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சுவிசேஷ பாரம் ஒன்றே</samp>
<samp charset="UTF-8" class="lyricline">என் சுமையாக மாற வேண்டும்                                            </samp>
<samp charset="UTF-8" class="lyricline">என் தேச எல்லையெங்கும்</samp>
<samp charset="UTF-8" class="lyricline">உம் நாமம் சொல்ல வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உமக்குகந்த தூய பலியாய்  இந்த</samp>
<samp charset="UTF-8" class="lyricline">உடலை ஒப்புக் கொடுத்தேன்                                                 </samp>
<samp charset="UTF-8" class="lyricline">ஆட்கொண்டு என்னை நடத்தும்</samp>
<samp charset="UTF-8" class="lyricline">அபிஷேகத்தாலே நிரப்பும்</samp></div></div>   
        
     </div>