<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1731" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு என்னோடு இருப்பத நெனச்சிட்டா</samp>
<span class="chordline"><b>Bb</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னுள்ளம் துள்ளுதம்மா</samp>
<span class="chordline"><b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி என்று சொல்லுதம்மா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">            <b>Bb</b>       <b>F</b>                  <b>Eb</b>           <b>C7</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆ.. ஆ....ஆ.. ஆ. ஓ.. ஓ...ஓ.. ஓ லலல்லாலாலா...   ம்ம்...ம்ம்...</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. கவலை கண்ணீரெல்லாம்</samp>
<span class="chordline"><b>Bb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கம்ப்ளீட்டா மறையுதம்மா                                                             </samp>
<span class="chordline"><b>F</b>        <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">பயங்கள் நீங்குதம்மா</samp>
<span class="chordline"><b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் தெரியுதம்மா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Eb</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அகிலம் ஆளும் தெய்வம்  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அன்பு இதய தீபம்            - இயேசு என்னோடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பகைமை கசப்பு எல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">பனிபோல மறையுதம்மா                                                         </samp>
<samp charset="UTF-8" class="lyricline">பாடுகள் சிலுவை எல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">இனிமையாய் தோன்றுதம்மா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உலக ஆசை எல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">கூண்டோடே மறையுதம்மா</samp>
<samp charset="UTF-8" class="lyricline">உறவு பாசமெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">குப்பையாய் தோன்றுதம்மா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. எரிகோ கோட்டையெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">இல்லாமல் போகுதம்மா                                                            </samp>
<samp charset="UTF-8" class="lyricline">எதிர்க்கும் செங்கடல்கள்</samp>
<samp charset="UTF-8" class="lyricline">இரண்டாய் பிரியுதம்மா</samp></div></div>   
        
     </div>