<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1732" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நினைக்கும் போதெல்லாம்</samp>
<span class="chordline">                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சம் மகிழுதையா</samp>
<span class="chordline"><b>A</b>      <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி பெருகுதையா...</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">1. தள்ளப்பட்ட கல் நான்</samp>
<span class="chordline">                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எடுத்து நிறுத்தினீரே</samp>
<span class="chordline"><b>A</b>                     <b>E</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உண்மை உள்ளவன் என்று கருதி</samp>
<span class="chordline"><b>B7</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியம் தந்தீரையா..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி ராஜா</samp>
<span class="chordline"><b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி இயேசு ராஜா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பாலை நிலத்தில் கிடந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">தேடி கண்டு பிடித்தீர்..</samp>
<samp charset="UTF-8" class="lyricline">கண்ணின் மணிபோல காத்து வந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">கழுகு போல் சுமக்கின்றீர்..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இரவும் பகலும் கூட</samp>
<samp charset="UTF-8" class="lyricline">இருந்து நடத்துகின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">கலங்கும் நேரமெல்லாம் கரம் நீட்டி  (என்)</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீர் துடைக்கின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பேரன்பினாலே என்னை</samp>
<samp charset="UTF-8" class="lyricline">இழுத்துக் கொண்டீர்                                                          </samp>
<samp charset="UTF-8" class="lyricline">பிரிந்திடாமலே அணைத்துக் கொண்டீர்  (உம்)</samp>
<samp charset="UTF-8" class="lyricline">பிள்ளையாய் தெரிந்து கொண்டீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உந்தன் துதியைச் சொல்ல</samp>
<samp charset="UTF-8" class="lyricline">என்னைத் தெரிந்து கொண்டீர்                                                       </samp>
<samp charset="UTF-8" class="lyricline">உதடுகளைத் தினம் திறந்தருளும்</samp>
<samp charset="UTF-8" class="lyricline">புது ராகம் தந்தருளும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. சிநேகம் பெற்றேன் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">கனம் பெற்றேன் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் பார்வைக்கு அருமையானேன்</samp>
<samp charset="UTF-8" class="lyricline">உம் ஸ்தானாதிபதியானேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. உலக மகிமையெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு ஈடாகுமோ</samp>
<samp charset="UTF-8" class="lyricline">வானம் பூமியெல்லாம் ஒழிந்து போகும்</samp>
<samp charset="UTF-8" class="lyricline">உம் வார்த்தையோ ஒழியாதையா</samp></div></div>   
        
     </div>