<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1733" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">இடுக்கமான வாசல் வழியே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வருந்தி நுழைய முயன்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை சுமந்து இயேசுவின் பின்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சிரித்த முகமாய் சென்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. வாழ்வுக்கு செல்லும் வாசல்</samp>
<span class="chordline"><b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இடுக்கமானது...</samp>
<span class="chordline"><b>G</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் செல்லும் பாதை</samp>
<span class="chordline"><b>A7</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">குறுகலானது...  சிலுவை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. நாம் காணும் இந்த உலகம்</samp>
<samp charset="UTF-8" class="lyricline">ஒருநாள் மறைந்திடும்</samp>
<samp charset="UTF-8" class="lyricline">புது வானம் பூமி நோக்கி</samp>
<samp charset="UTF-8" class="lyricline">பயணம் செய்கின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இவ்வாழ்வின் துன்பம் எல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">சிலகாலம் தான் நீடிக்கும்</samp>
<samp charset="UTF-8" class="lyricline">இணையில்லாத மகிமை</samp>
<samp charset="UTF-8" class="lyricline">இனிமேல் நமக்குண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அழிவுக்கு செல்லும் வாயில்</samp>
<samp charset="UTF-8" class="lyricline">மிகவும் அகன்றது</samp>
<samp charset="UTF-8" class="lyricline">பாதாளம் செல்லும் பாதை</samp>
<samp charset="UTF-8" class="lyricline">மிகவும் விரிந்தது</samp></div></div>   
        
     </div>