<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1734" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனை விட தேவனை நேசிக்கணும்  இந்த</samp>
<span class="chordline"><b>Gm</b>            <b>Fm</b>                    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">செல்வத்தை விட கர்த்தரை நேசிக்கணும்  தம்பி</samp>
<span class="chordline">         <b>Cm</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்போ சாத்தானை ஓட ஓட தொரத்தலாம்</samp>
<span class="chordline">        <b>Gm</b>            <b>Fm</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அவன் சேனைகளை அடியோட அகற்றலாம்.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">போராடு.. தைரியமாய் போராடு..</samp>
<span class="chordline"><b>Bb</b>       <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி நிச்சயம்</samp>
<span class="chordline">           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை சத்தியம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஜீவனை விட தேவனை நேசிக்கிறேன்  இந்த</samp>
<samp charset="UTF-8" class="lyricline">செல்வத்தை விட கர்த்தரை நேசிக்கிறேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">அதனால் சாத்தானை ஓட ஓட தொரத்துவேன்</samp>
<samp charset="UTF-8" class="lyricline">அவன் சேனைகளை அடியோட அகற்றுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">போராடுவேன்.. தைரியமாய் போராடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">வெற்றி நிச்சயம்</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை சத்தியம்</samp></div></div>   
        
     </div>