<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1735" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">போராடும் என் நெஞ்சமே</samp>
<span class="chordline"><b>Bb</b>        <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புகலிடம் மறந்தாயோ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாராளும் இயேசு உண்டு</samp>
<span class="chordline"><b>C</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பதறாதே மனமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>            <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. அலைகடல் நடுவினிலே</samp>
<span class="chordline"><b>Bb</b>         <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அமிழ்ந்து போகின்றாயோ</samp>
<span class="chordline"><b>Bb</b>          <b>F</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கரம்நீட்டும் இயேசுவைப் பார்</samp>
<span class="chordline"><b>Bb</b>              <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கரை சேர்க்கும் துணை அவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆ ஆ... ஆனந்தம் பேரானந்தம்</samp>
<span class="chordline">          <b>C</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்(நம்)அருள்நாதர் சமூகத்திலே</samp>
<span class="chordline">                 <b>C</b>     <b>F</b>      <b>C</b>      </span>
<samp charset="UTF-8" class="lyricline">ஆ ஆ... ஆனந்தம் பேரானந்தம்</samp>
<span class="chordline">                               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்(நம்)அருள்நாதர் சமூகத்திலே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கடந்ததை நினைத்து தினம்</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீர் வடிக்கின்றாயோ</samp>
<samp charset="UTF-8" class="lyricline">நடந்ததெல்லாம் நன்மைக்கே</samp>
<samp charset="UTF-8" class="lyricline">நன்றி.. நன்றி.. சொல்லு  ஆ.. ஆனந்தம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வருங்கால பயங்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">வாட்டுதோ அனுதினமும்</samp>
<samp charset="UTF-8" class="lyricline">அருள்நாதர் இயேசுவிடம்</samp>
<samp charset="UTF-8" class="lyricline">அனைத்தையும் கொடுத்துவிடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நண்பன் கைவிட்டானோ(நீ)</samp>
<samp charset="UTF-8" class="lyricline">நம்பினோர் எதிர்த்தனரோ</samp>
<samp charset="UTF-8" class="lyricline">கைவிடா நம் தேவனின்</samp>
<samp charset="UTF-8" class="lyricline">கரம் பற்றி நடந்திடு</samp></div></div>   
        
     </div>