<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1736" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">சேனைகளாய் எழும்பிடுவோம்</samp>
<span class="chordline"><b>Db</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தை கலக்கிடுவோம்  புறப்படு</samp>
<span class="chordline"><b>Eb</b>            <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் எல்லையெங்கும்</samp>
<span class="chordline"><b>C</b>                                 <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் சொல்லிடுவோம்  புறப்படு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>       <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">புறப்படு புறப்படு</samp>
<span class="chordline"><b>Eb</b>         <b>C</b>               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தை கலக்கிடுவோம் புறப்படு  </samp>
<span class="chordline"><b>Fm</b>       <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">புறப்படு புறப்படு</samp>
<span class="chordline"><b>Eb</b>         <b>Db</b>              <b>C</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தை கலக்கிடுவோம் புறப்படு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. பாதாளம் சென்றிடும்</samp>
<span class="chordline"><b>Eb</b>                    <b>Db</b>               <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">பரிதாப மனிதர்களை தடுக்க வேண்டாமா..</samp>
<span class="chordline"><b>Bbm</b></span>
<samp charset="UTF-8" class="lyricline">பட்டணங்கள், கிராமங்களில்</samp>
<span class="chordline"><b>Ab</b>                        <b>Db</b>                  <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">கட்டப்பட்ட மனிதர்களை அவிழ்க்க வேண்டாமா..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உலக இன்பம் போதுமென்று</samp>
<samp charset="UTF-8" class="lyricline">பரலோகம் மறந்தவர்கள் பார்வையடையணும்..</samp>
<samp charset="UTF-8" class="lyricline">பாவ சேற்றிலே மூழ்கி பணத்திற்காக</samp>
<samp charset="UTF-8" class="lyricline">வாழ்பவர்கள் மனந்திரும்பணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அறுவடையோ மிகுதி ஆட்களோ குறைவு</samp>
<samp charset="UTF-8" class="lyricline">அறியாயோ மகனே.. (மகளே)</samp>
<samp charset="UTF-8" class="lyricline">பயிர்கள் முற்றி அறுவடைக்கு</samp>
<samp charset="UTF-8" class="lyricline">தயாராக உள்ளது தெரியாதா மகளே..(மகனே)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இயேசு நாமம் அறியாத எத்தனையோ</samp>
<samp charset="UTF-8" class="lyricline">கோடிகள் இந்தியாவிலே</samp>
<samp charset="UTF-8" class="lyricline">இன்னும் சும்மா இருப்பது நியாயம்</samp>
<samp charset="UTF-8" class="lyricline">இல்லையே தம்பி இன்றே புறப்படு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. வழிதெரியா ஆடுகள் தொய்ந்து போன</samp>
<samp charset="UTF-8" class="lyricline">இதயங்கள் லட்சங்கள் உண்டு..</samp>
<samp charset="UTF-8" class="lyricline">உண்மை தெய்வம் அறியாது குருடர்களாய்</samp>
<samp charset="UTF-8" class="lyricline">வாழ்பவர்கள் கோடிகள் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">புறப்பட்டோம் புறப்பட்டோம்</samp>
<samp charset="UTF-8" class="lyricline">தேசத்தை கலக்கிடவே புறப்பட்டோம்</samp>
<samp charset="UTF-8" class="lyricline">சேனைகளாய் எழும்பிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">தேசத்தை கலக்கிடவே புறப்பட்டோம்</samp>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் எல்லையெங்கும்</samp>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் சொல்லிடவே புறப்பட்டோம்</samp></div></div>   
        
     </div>