<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1737" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் உயரணுமே</samp>
<span class="chordline"><b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உம் அரசு வரணுமே</samp>
<span class="chordline"><b>Bb</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் விருப்பம் நடக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bb</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா பிதாவே அப்பா</samp>
<span class="chordline"><b>Eb</b>       <b>Bb</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா பிதாவே அப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                    <b>Bb</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. அன்றாட உணவை, ஒவ்வொரு நாளும்</samp>
<span class="chordline">                   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குத் தாரும் ஐயா.</samp>
<span class="chordline"><b>F</b>         <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குத் தாரும் ஐயா.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பிறர் குற்றம் மன்னித்தோம், ஆதலால் எங்கள்</samp>
<samp charset="UTF-8" class="lyricline">குறைகளை மன்னியுமே..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சோதிக்கும் சாத்தானின் சூழ்ச்சியிலிருந்து</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை தாருமையா..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஆட்சியும் வல்லமை மாட்சியும் மகிமை</samp>
<samp charset="UTF-8" class="lyricline">என்றென்றும் உமக்கே சொந்தம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஜாதிகள் ஒழியணும் சண்டைகள் ஓயணும்</samp>
<samp charset="UTF-8" class="lyricline">சமாதானம் வரணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. ஊழியர் எழும்பணும் ஓடி உழைக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">உம் வசனம் சொல்லணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. உமக்காய் வாழணும், உம் குரல் கேட்கணும்</samp>
<samp charset="UTF-8" class="lyricline">உம்மோடு இணையணுமே...</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. அனுதின சிலுவையை, ஆர்வமாய் சுமந்திட</samp>
<samp charset="UTF-8" class="lyricline">கிருபை தாருமையா...</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">9. ஆவியில் நிறைந்து, ஜெபிக்க, துதிக்க</samp>
<samp charset="UTF-8" class="lyricline">ஆர்வம் தாருமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">10. என் சொந்த ஜனங்கள் இயேசுவை அறியணும்</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பு அடையணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">11. அரசியல் தலைவர்கள்  M.L.<b>A</b>., M.P. க்கள்</span>
<samp charset="UTF-8" class="lyricline">உம்மை அறியணும் உம் நாமம் சொல்லணுமே..</samp></div></div>   
        
     </div>