<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1740" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>        <b>Fm</b>        <b>Cm</b>   <b>Eb</b>     <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்யும் ஆவியானவரே</samp>
<span class="chordline"><b>Fm</b>       <b>Eb</b>        <b>Bb</b>     <b>G7</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பலியாய் தந்தேன் பரிசுத்தமானவரே</samp>
<span class="chordline"><b>Cm</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியானவரே என்</samp>
<span class="chordline"><b>Fm</b>    <b>Ab</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றலானவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Eb</b>                <b>Cm</b>      <b>G7</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. நினைவெல்லாம் உமதாகணும்</samp>
<span class="chordline"><b>Bb</b>             <b>Ab</b>       <b>Cm</b>  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">பேச்செல்லாம் உமதாகணும் என்</samp>
<span class="chordline"><b>Bdim</b>       <b>G7</b>   <b>Ab</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நாள் முழுதும் வழிநடத்தும்</samp>
<span class="chordline"><b>Eb</b>              <b>G</b>           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம் விருப்பம் செயல்படுத்தும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அதிசயம் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">ஆறுதல் நாயகனே</samp>
<samp charset="UTF-8" class="lyricline">காயம் கட்டும் கர்த்தாவே</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீரெல்லாம் துடைப்பவரே  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. புதிதாக்கும் பரிசுத்தரே</samp>
<samp charset="UTF-8" class="lyricline">புதுப்படைப்பாய் மாற்றுமையா</samp>
<samp charset="UTF-8" class="lyricline">உடைத்துவிடும் உருமாற்றும்  என்னை</samp>
<samp charset="UTF-8" class="lyricline">பண்படுத்தும் பயன்படுத்தும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அப்பாவை அறிந்திடணும்</samp>
<samp charset="UTF-8" class="lyricline">வெளிப்பாடு தாருமையா</samp>
<samp charset="UTF-8" class="lyricline">மனக்கண்கள் ஒளி பெறணும்</samp>
<samp charset="UTF-8" class="lyricline">மகிமையின் அச்சாரமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உள்ளான மனிதனை</samp>
<samp charset="UTF-8" class="lyricline">வல்லமையாய் பலப்படுத்தும்</samp>
<samp charset="UTF-8" class="lyricline">அன்பு ஒன்றே ஆணிவேராய்</samp>
<samp charset="UTF-8" class="lyricline">அடித்தளமாய் அமைந்திடணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. கிறிஸ்துவின் அன்பின் ஆழம்</samp>
<samp charset="UTF-8" class="lyricline">அகலம் உயரம் உணரணுமே</samp>
<samp charset="UTF-8" class="lyricline">நினைப்பதற்கும் ஜெபிப்பதற்கும்</samp>
<samp charset="UTF-8" class="lyricline">அதிகமாய் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. சங்கீதம் கீர்த்தனையால்</samp>
<samp charset="UTF-8" class="lyricline">பிறரோடு பேசணுமே</samp>
<samp charset="UTF-8" class="lyricline">எந்நேரமும் எப்போதுமே</samp>
<samp charset="UTF-8" class="lyricline">நன்றிப் பலி செலுத்தணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. போர் செய்யும் ஆயுதமாய்</samp>
<samp charset="UTF-8" class="lyricline">உம் வசனம் தாருமையா</samp>
<samp charset="UTF-8" class="lyricline">எல்லாவித ஜெபத்தோடு</samp>
<samp charset="UTF-8" class="lyricline">ஆவியிலே மன்றாடணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">9. என் இதய பலகையிலே</samp>
<samp charset="UTF-8" class="lyricline">எழுதிடும் உம் வார்த்தை</samp>
<samp charset="UTF-8" class="lyricline">மையாலல்ல உம் ஆவியாலே</samp>
<samp charset="UTF-8" class="lyricline">எழுதிடுமே ஏங்குகின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">10. அரண்களை தகர்த்தெறியும்  என்</samp>
<samp charset="UTF-8" class="lyricline">அன்பின் வல்லவரே</samp>
<samp charset="UTF-8" class="lyricline">எதிரான எண்ணங்களை</samp>
<samp charset="UTF-8" class="lyricline">கீழ்படுத்தும் சிறைப்படுத்தும்</samp></div></div>   
        
     </div>