<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1741" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                 <b>G</b>           <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவத் தண்ணீரே ஆவியானவரே</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வற்றாத நதியாக வாரும் போதகரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>          <b>D</b>   <b>G</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாரும் ஐயா போதகரே</samp>
<span class="chordline"><b>G</b>        <b>A7</b>   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வற்றாத ஜீவநதியாக (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                  <b>G</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. கணுக்கால் அளவு போதாதையா</samp>
<span class="chordline"><b>G</b>                             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">முழங்கால் (இடுப்பு)அளவும் போதாதையா</samp>
<span class="chordline"><b>G</b>           <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீந்தி நீந்தி மூழ்கணுமே</samp>
<span class="chordline"><b>G</b>       <b>D</b>       <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மிதந்து மிதந்து மகிழணுமே----நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. போகும் இடமெல்லாம் ஆரோக்கியமே</samp>
<samp charset="UTF-8" class="lyricline">பாயும் இடமெல்லாம் பரிசுத்தமே</samp>
<samp charset="UTF-8" class="lyricline">சேருமிடமெல்லாம் ஆறுதலே</samp>
<samp charset="UTF-8" class="lyricline">செல்லுமிடமெல்லாம் செழிப்புத்தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கோடி கோடி மீனவர் கூட்டம்</samp>
<samp charset="UTF-8" class="lyricline">ஓடி ஓடி வலை வீசணும்</samp>
<samp charset="UTF-8" class="lyricline">பாடிப் பாடி மீன் பிடிக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">பரலோக தேவனுக்கு ஆள் சேர்க்கணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கரையோர மரங்கள் ஏராளமாய்</samp>
<samp charset="UTF-8" class="lyricline">கனி தரவேண்டும் தாராளமாய்</samp>
<samp charset="UTF-8" class="lyricline">இலைகள் எல்லாம் மருந்தாகணும்</samp>
<samp charset="UTF-8" class="lyricline">கனிகள் எல்லாம் உணவாகணும்</samp></div></div>   
        
     </div>