<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1742" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>              <b>Bbm</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் சமூகமே என் பாக்கியமே</samp>
<span class="chordline">              <b>Fm</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி வந்தேன் உம்மை நோக்கிட</samp>
<span class="chordline"><b>Bbm</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் குரல் கேட்க...</samp>
<span class="chordline"><b>Ab</b>        <b>Db</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இராஜா... இயேசு இராஜா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>           <b>Fm</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. ஒரு கோடி செல்வங்கள் எனைத்</samp>
<span class="chordline">      <b>Fm</b>         <b>Eb</b>        <b>Db</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேடி வந்தாலும் உமக்கது ஈடாகுமோ</samp>
<span class="chordline"><b>C</b>      <b>Fm</b>            <b>Bb</b>      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">செல்வமே, ஒப்பற்ற செல்வமே</samp>
<span class="chordline"><b>C</b>            <b>Bbm</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல் உணவே நாளெல்லாம் உம் நினைவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. என் பாவம் நீங்கிட எடுத்தீரே சிலுவையை</samp>
<samp charset="UTF-8" class="lyricline">என்னே உம் அன்பு</samp>
<samp charset="UTF-8" class="lyricline">தென்றலே கல்வாரி தென்றலே</samp>
<samp charset="UTF-8" class="lyricline">அசைவாடும், ஆட்கொள்ளும் என்னில்</samp>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்யும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. எத்தனையோ எழில்மிகு காட்சிகள் கண்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">எல்லாமே மாயை ஐயா----2</samp>
<samp charset="UTF-8" class="lyricline">தண்ணீரே, ஊற்றுத் தண்ணீரே</samp>
<samp charset="UTF-8" class="lyricline">உம் நதியில் ஒவ்வொரு நாளும்</samp>
<samp charset="UTF-8" class="lyricline">மூழ்கணுமே</samp></div></div>   
        
     </div>