<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1744" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                         <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியான எங்கள் அன்பு தெய்வமே</samp>
<span class="chordline">                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அடியோரை ஆட்கொண்டு நடத்துமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>                       <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொண்டு எங்களை அனலாக்கும்</samp>
<span class="chordline"><b>Bb</b>           <b>C</b>      <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பினால் இன்று அலங்கரியும்....</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>              <b>Am</b>           <b>F7</b>      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. ஜெபிக்க வைக்கும் எங்கள் ஜெபவீரனே</samp>
<span class="chordline">          <b>G</b>        <b>Bb</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்கத் தூண்டும் துணையாளரே</samp>
<span class="chordline"><b>Bb</b>                <b>F</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானின் சகல தந்திரங்களை</samp>
<span class="chordline"><b>C7</b>            <b>F</b>           <b>F7</b></span>
<samp charset="UTF-8" class="lyricline">தகர்த்தெறிய வாரும் ஐயா         - ஆட்கொண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சாவுக்கேதுவான எங்கள் சரீரங்களை</samp>
<samp charset="UTF-8" class="lyricline">உயிர் பெறச் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">சரீரங்களின் தீய செயல்களையே</samp>
<samp charset="UTF-8" class="lyricline">சாகடிக்க வாருமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பெலன் இல்லாத நேரங்களில்</samp>
<samp charset="UTF-8" class="lyricline">உதவிடும் துணையாளரே</samp>
<samp charset="UTF-8" class="lyricline">சொல்லொண்ணா பெருமூச்சோடு</samp>
<samp charset="UTF-8" class="lyricline">ஜெபித்திட வாருமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. மனதை புதிதாக்கும் மன்னவனே</samp>
<samp charset="UTF-8" class="lyricline">மறுரூபமாக்குமையா</samp>
<samp charset="UTF-8" class="lyricline">ராஜாவின் இரண்டாம் வருகைக்காக</samp>
<samp charset="UTF-8" class="lyricline">எந்நாளும் ஏங்கச் செய்யும்  இயேசு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தேவாதி தேவனின் ஆழங்களை</samp>
<samp charset="UTF-8" class="lyricline">ஆராய்ந்து அறிபவரே</samp>
<samp charset="UTF-8" class="lyricline">அப்பாவின் திருச்சித்தம் வெளிப்படுத்தி</samp>
<samp charset="UTF-8" class="lyricline">எப்போதும் நடத்தும் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. பாவம், நீதி, நியாயத்தீர்ப்பை</samp>
<samp charset="UTF-8" class="lyricline">கண்டித்து உணர்த்தும் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">பரிபூரண உம் சத்தியத்திற்குள்</samp>
<samp charset="UTF-8" class="lyricline">பக்தர்களை நடத்தும் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. அன்பு, மகிழ்ச்சி, சமாதானம்</samp>
<samp charset="UTF-8" class="lyricline">நீடிய பொறுமை, தயவு</samp>
<samp charset="UTF-8" class="lyricline">விசுவாசம், நற்குணம், சாந்தம்</samp>
<samp charset="UTF-8" class="lyricline">இச்சையடக்கம் தாருமையா</samp></div></div>   
        
     </div>