<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1745" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தூங்காமல் ஜெபிக்கும் வரம் தாங்கப்பா</samp>
<span class="chordline">                                        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">விழித்திருந்து ஜெபிக்கும் வரம் தாங்கப்பா  (2)</samp>
<span class="chordline"><b>A</b>                                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தூங்கினால் எதிரி களை விதைப்பான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஜெபம் (ஜெபிக்க) மறந்தால்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எதிரி ஜெயம் எடுப்பான்  நான்(நீ)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. உடலை ஒடுக்கணும் உணவை குறைக்கணும்</samp>
<span class="chordline"><b>C</b>                     <b>B</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பேச்சை நிறுத்தணும் பெலத்தில் வளரணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அன்னாளை போல கண்ணீரை வடிக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">சாமுவேலை (எழுப்புதல்) காணும் வரை</samp>
<samp charset="UTF-8" class="lyricline">இதயத்தை ஊற்றணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தானியேல் போல துதிக்கணும் ஜெபிக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">சிங்கங்களின் வாய்களை தினம் தினம் கட்டணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பவுலை போல சிறையிலே ஜெபிக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">கதவுகள் திறக்கணும் கட்டுகள் நீங்கணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. மோசேயை போல மலை மேல் ஏறணும்</samp>
<samp charset="UTF-8" class="lyricline">கரங்களை விரிக்கணும் கதறணும் தேசத்திற்காய்</samp></div></div>   
        
     </div>