<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1747" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                       <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">ராஜா நீர் செய்த நன்மைகள்</samp>
<span class="chordline">                <b>Fm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவை எண்ணி முடியாதையா</samp>
<span class="chordline"><b>Fm</b>            <b>Bb7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏறெடுப்பேன் நன்றி பலி</samp>
<span class="chordline"><b>Fm</b>        <b>C7</b>      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜீவ நாளெல்லாம் நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>                 <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">1. அதிகாலை நேரம் தட்டி தட்டி எழுப்பி</samp>
<span class="chordline"><b>Bb7</b>          <b>C7</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புதுக்கிருபை தந்தீரையா</samp>
<span class="chordline"><b>Gm</b>                  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த மழையில் நனைத்து நனைத்து</samp>
<span class="chordline">       <b>Bb7</b>            <b>C7</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தினம் நன்றி சொல்ல வைத்தீரையா  2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி ராஜா இயேசு ராஜா</samp>
<span class="chordline"><b>Db</b>           <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி ராஜா இயேசு ராஜா</samp>
<span class="chordline"><b>Fm</b>       <b>Ab</b>  <b>Fm</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி ராஜா இயேசு ராஜா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. வேதத்தின் இரகசியம் அறிந்திட புரிந்திட</samp>
<samp charset="UTF-8" class="lyricline">உம் வெளிச்சம் தந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">பாதம் அமர்ந்து நான் உம் குரல்</samp>
<samp charset="UTF-8" class="lyricline">கேட்கும் பாக்கியம் தந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஒவ்வொரு நாளும் உணவும் உடையும் தந்து</samp>
<samp charset="UTF-8" class="lyricline">பாதுகாத்து வந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">உடல் சுகம் தந்து ஒரு குறைவின்றி</samp>
<samp charset="UTF-8" class="lyricline">வழி நடத்தி வந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. துன்பத்தின் பாதையில் நடந்த அந்நாளில்</samp>
<samp charset="UTF-8" class="lyricline">தூக்கிச் சென்றீரையா</samp>
<samp charset="UTF-8" class="lyricline">அன்பர் உம் கரத்தால் அணைத்து</samp>
<samp charset="UTF-8" class="lyricline">அணைத்து தினம் ஆறுதல் தந்தீரையா (அதிசயம் செய்தீரையா)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உமக்காக வாழ உம்நாமம் சொல்ல</samp>
<samp charset="UTF-8" class="lyricline">தெரிந்தெடுத்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">உம்மோடு வைத்து ஊழியனாக</samp>
<samp charset="UTF-8" class="lyricline">உருவாக்கி வந்தீரையா</samp></div></div>   
        
     </div>