<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1748" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எழுப்புதல் என் தேசத்திலே (இந்தியாவில்)</samp>
<span class="chordline">             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் கண்கள் காண வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">. </samp>
<span class="chordline">        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">தேவா கதறுகிறேன்</samp>
<span class="chordline">                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தின் மேல் மனமிரங்கும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>                 <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. சபைகளெல்லாம் தூய்மையாகி</samp>
<span class="chordline"><b>C</b>          <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியாக வாழணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. தெரு தெருவாய் என் இயேசுவின் நாமம்</samp>
<samp charset="UTF-8" class="lyricline">முழங்கணுமே முழங்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கோடி மக்கள் சிலுவையைத் தேடி</samp>
<samp charset="UTF-8" class="lyricline">ஒடி வந்து சுகம் பெறணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஒருமனமாய் சபைகளெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">ஒன்று கூடி ஜெபிக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தேசமெல்லாம் மனம் திரும்பி</samp>
<samp charset="UTF-8" class="lyricline">நேசரையே நேசிக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. ஆதி சபை அதிசயங்கள்</samp>
<samp charset="UTF-8" class="lyricline">அன்றாடம் நடக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. துதி சேனை எழும்பணுமே</samp>
<samp charset="UTF-8" class="lyricline">துரத்தணுமே எதிரிகளை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. மோசேக்கள் கரம் விரித்து</samp>
<samp charset="UTF-8" class="lyricline">ஜனங்களுக்காய் கதறணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">9. ஸ்தேவான்கள் எழும்பணுமே</samp>
<samp charset="UTF-8" class="lyricline">தேவனுக்காய் நிற்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">10. அதிசயங்கள் அற்புதங்கள்</samp>
<samp charset="UTF-8" class="lyricline">அனுதினமும் நடக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">11. உம் வழியை அறியணுமே</samp>
<samp charset="UTF-8" class="lyricline">உம் மீட்பை உணரணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">12. இருளில் வாழும் மனிதரெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">பேரொளியை காணணுமே</samp></div></div>   
        
     </div>