<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1750" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                     <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஜெப ஆவி ஊற்றுமையா</samp>
<span class="chordline"><b>Eb</b>      <b>Ab</b>                   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபிக்கணும்... ஜெபிக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>          <b>Bbm</b>   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">1. ஸ்தோத்திர பலி, விண்ணப்ப ஜெபம்</samp>
<span class="chordline"><b>Ab</b>            <b>C7</b>  <b>Bbm</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திர பலி, விண்ணப்ப ஜெபம்</samp>
<span class="chordline">        <b>C</b>     <b>Ab</b>          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நேரமும் நான் ஏறெடுக்கணும்..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உபவாசித்து, உடலை ஒறுத்து</samp>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் ஜெபிக்கணுமே..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. திறப்பின் வாசலில் நிற்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">தேசத்திற்காய் கதறணுமே.. என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. முழங்கால்கள் முடங்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">கண்கள் எல்லாம் குளமாகணும்  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தானியேல் போல மூன்று வேளையும்</samp>
<samp charset="UTF-8" class="lyricline">தவறாமல் நான் ஜெபிக்கணுமே..</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. உலகை மறந்து சுயம் வெறுத்து</samp>
<samp charset="UTF-8" class="lyricline">உம் பாதத்தில் கிடக்கணுமே..</samp></div></div>   
        
     </div>