<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1752" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நானும் என் வீட்டாரும்</samp>
<span class="chordline">        <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நேசிப்போம்</samp>
<span class="chordline">               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் ஓடுவோம்</samp>
<span class="chordline">        <b>B7</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் சொல்லுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>                <b>G#m</b>  <b>B7</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">1. கைவிடா தெய்வமே கருணையின் சிகரமே</samp>
<span class="chordline"><b>E</b>              <b>C#m</b> <b>B</b>                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மெய்யான தீபமே என் வாழ்வின் பாக்கியமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">முழந்தாழ் படியிட்டு</samp>
<span class="chordline"><b>B</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">முழுவதும் தருகிறேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எபிநேசர் எபிநேசர் இதுவரை உதவினீர்</samp>
<samp charset="UTF-8" class="lyricline">யேகோவா ஈரே எல்லாம் பார்த்துக் கொள்வீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. யேகோவா ஷம்மா கூடவே இருக்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">யேகோவா ஷாலோம் சமாதானம் தருகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. எல்ஷடாய் எல்ஷடாய் எல்லாம் வல்லவரே</samp>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ எல்ரோயீ என்னைக் காண்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. யேகோவா ரூபா என் நல்ல மேய்ப்பரே</samp>
<samp charset="UTF-8" class="lyricline">யேகோவா ரஃப்பா சுகம் தரும் தெய்வமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. பரிசுத்தர் பரிசுத்தர் பரலோக ராஜாவே</samp>
<samp charset="UTF-8" class="lyricline">எப்போதும் இருப்பவரே இனிமேலும் வருபவரே     </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">As for me and my House hold</samp>
<samp charset="UTF-8" class="lyricline">We will serve you, Oh! Lord - 3</samp>
<samp charset="UTF-8" class="lyricline">You are wonderful</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">You are mighty God</samp>
<samp charset="UTF-8" class="lyricline">You are Prince of Peace</samp>
<samp charset="UTF-8" class="lyricline">You are my everything</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">We love you</samp>
<samp charset="UTF-8" class="lyricline">We worship you - 2</samp></div></div>   
        
     </div>