<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1753" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b> </span>
<samp charset="UTF-8" class="lyricline">நன்றிபலி நன்றிபலி</samp>
<span class="chordline"><b>G</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவரே உமக்குத்தான்</samp>
<span class="chordline"><b>G</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலை (எப்போதும்)ஆனந்தமே----என்</samp>
<span class="chordline"><b>A7</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா உம் திருப்பாதமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. நேற்றைய துயரமெல்லாம்</samp>
<span class="chordline"><b>G</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இன்று மறைந்ததையா</samp>
<span class="chordline">                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நிம்மதி பிறந்ததையா (அது)</samp>
<span class="chordline"><b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நிரந்தரமானதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>                     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கோடி கோடி நன்றி டாடி </samp>
<span class="chordline"><b>F#m</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கோடி கோடி நன்றி டாடி</samp>
<span class="chordline">                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கோடி கோடி நன்றி டாடி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இரவெல்லாம் காத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">இன்னும் ஓர் நாள் தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">மறவாத என் நேசரே (இன்று)</samp>
<samp charset="UTF-8" class="lyricline">உறவாடி மகிழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஊழியப் பாதையிலே</samp>
<samp charset="UTF-8" class="lyricline">உற்சாகம் தந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">ஓடி ஓடி உழைப்பதற்கு</samp>
<samp charset="UTF-8" class="lyricline">உடல் சுகம் தந்தீரையா  நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. வேதனை துன்பமெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">ஒரு நாளும் பிரிக்காதையா</samp>
<samp charset="UTF-8" class="lyricline">நாதனே உம் நிழலில் (நான்)</samp>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் வாழ்வேனையா  இயேசு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஜெபத்தைக் கேட்டீரைய்யா</samp>
<samp charset="UTF-8" class="lyricline">ஜெயத்தைத் தந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">பாவம் அணுகாமலே</samp>
<samp charset="UTF-8" class="lyricline">பாதுகாத்து வந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. என் நாவில் உள்ளதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் புகழ்தானே</samp>
<samp charset="UTF-8" class="lyricline">நான் பேசி மகிழ்வதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் பெருமை தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. புதிய நாள் தந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">புது கிருபை தந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">அதிசயமானவரே</samp>
<samp charset="UTF-8" class="lyricline">ஆறுதல் நாயகனே</samp></div></div>   
        
     </div>