<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1754" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>                                           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">தாய்மடியில் தவழுகின்ற குழந்தையைப் போல</samp>
<span class="chordline">          <b>Bb</b>                             <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பனே உம்மடியில் சாய்ந்துவிட்டேன் நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>               <b>Ab</b>  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">1. கவலையில்லையே கலக்கம் இல்லையே</samp>
<span class="chordline"><b>Bb</b>                            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் கரம் பிடித்துக் கொண்டேன்  நான்</samp>
<span class="chordline"><b>Eb</b>                <b>Cm</b>          <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எதைக் குறித்தும் பயமில்லையே</samp>
<span class="chordline"><b>Cm</b>         <b>Bb</b>       <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் நடத்துகிறீர்  தினம்   </samp>
<span class="chordline"><b>Cm</b>         <b>Bb</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் நடத்துகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. செய்த நன்மைகள் நினைக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">நன்றியோடு துதிக்கின்றேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">கைவிடாத என் ஆயனே  என்னை</samp>
<samp charset="UTF-8" class="lyricline">கல்வாரி நாயகனே  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. துணையாளரே துணையாளரே</samp>
<samp charset="UTF-8" class="lyricline">இணையில்லா மணவாளரே  என்</samp>
<samp charset="UTF-8" class="lyricline">உணவாக வந்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">உயிரோடு கலந்தீரையா  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உம்மைத் தானே பற்றிக் கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline">உம் தோளில் அமர்ந்துவிட்டேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் சிறகுகள் நிழல்தனிலே</samp>
<samp charset="UTF-8" class="lyricline">உலகத்தையே மறந்துவிட்டேன்  இந்த</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. அதிகாலமே தேடுகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">ஆர்வமுடன் நாடுகிறேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">உயிர்வாழும் நாட்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உம் நாமம் சொல்வேனையா  நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. அதிசயமே அதிசயமே</samp>
<samp charset="UTF-8" class="lyricline">ஆறுதல் நாயகனே  என்</samp>
<samp charset="UTF-8" class="lyricline">ஆலோசனைக் கர்த்தரே  என்</samp>
<samp charset="UTF-8" class="lyricline">அடைக்கலப் பட்டணமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. எபிநேசரே எபிநேசரே</samp>
<samp charset="UTF-8" class="lyricline">இதுவரை உதவி செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ எல்எலியோன்</samp>
<samp charset="UTF-8" class="lyricline">காண்பவரே உயர்ந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. படுக்கையிலும் நினைக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">இராச்சாமம் தியானிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">உம் அன்பு போதுமையா</samp>
<samp charset="UTF-8" class="lyricline">உயிரினும் உயர்ந்தையா  அது</samp></div></div>   
        
     </div>