<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1755" class="song songcont"><div class="songpre"><span class="chordline"><b>Ab</b>              <b>Ab7</b>       <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">தளர்ந்து போன கைகளை திடப்படுத்துங்கள்</samp>
<span class="chordline">            <b>Abm</b>             <b>Asus4</b>            <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளாடும் முழங்கால்களை உறுதிப்படுத்துங்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Ab</b>                        <b>Ab7</b></span>
<samp charset="UTF-8" class="lyricline">1. உறுதியற்ற உள்ளங்களே திடன் கொள்ளுங்கள்</samp>
<span class="chordline"><b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">அஞ்சாதிருங்கள்</samp>
<span class="chordline"><b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">அநீதிக்கு பழி வாங்கும் தெய்வம் வருகிறார்</samp>
<span class="chordline"><b>Ab7</b>                             <b>Absus4</b>   <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">விரைவில் வந்து உங்களையே விடுவிப்பார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Ab</b>                                AbM7</span>
<samp charset="UTF-8" class="lyricline">அஞ்சாதிருங்கள் திடன் கொள்ளுங்கள்</samp>
<span class="chordline"><b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">ராஜா வருகிறார் இயேசு ராஜா வருகிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அங்கே ஒரு நெடுஞ்சாலை வழியிருக்கும்</samp>
<samp charset="UTF-8" class="lyricline">அது தூய வழி</samp>
<samp charset="UTF-8" class="lyricline">தீட்டுப்பட்டோர் அதன் வழியாய் கடந்து செல்வதில்லை</samp>
<samp charset="UTF-8" class="lyricline">மீட்கப்பட்டோர் அதன் வழியாய் நடந்து செல்வார்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஆண்டவரால் மீட்கப்பட்டோர் மகிழ்ந்து பாடி</samp>
<samp charset="UTF-8" class="lyricline">சீயோன் வருவார்கள்</samp>
<samp charset="UTF-8" class="lyricline">நித்திய மகிழ்ச்சி தலை மேலிருக்கும்</samp>
<samp charset="UTF-8" class="lyricline">சஞ்சலமும் தவிப்பும் ஓடிப்போகும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பார்வையற்றோர் கண்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">பார்வை அடையும் செவிகள் கேட்கும்</samp>
<samp charset="UTF-8" class="lyricline">ஊனமுற்றோர் மான்கள் போல துள்ளிக் குதிப்பார்கள்</samp>
<samp charset="UTF-8" class="lyricline">ஊமையர்கள் பாடிப் பாடி மகிழ்ந்திருப்பார்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. வறண்ட நிலம் நீருற்றால்</samp>
<samp charset="UTF-8" class="lyricline">நிறைந்திருக்கும் நதிகள் ஓடும்</samp>
<samp charset="UTF-8" class="lyricline">நரிகள் தங்கும் வளைகள் எங்கும்</samp>
<samp charset="UTF-8" class="lyricline">கோரை முளைக்கும்</samp>
<samp charset="UTF-8" class="lyricline">நாணலும் புல்லும் நிலைத்து நிற்கும்</samp></div></div>   
        
     </div>