<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1756" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                                 <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் படைத்த வெற்றியின் நாளிது</samp>
<span class="chordline">        <b>G</b>               <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">இன்று அகமகிழ்வோம் அக்களிப்போம்</samp>
<span class="chordline"><b>A7</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>              <b>G</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா தோல்வி இல்லை</samp>
<span class="chordline"><b>A7</b>                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா வெற்றி உண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>       <b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. எனக்கு உதவிடும் எனது ஆண்டவர்</samp>
<span class="chordline"><b>A</b>           <b>G</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் பக்கம் இருக்கிறார்</samp>
<span class="chordline"><b>G</b>                 <b>D</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உலக மனிதர்கள் எனக்கு எதிராக</samp>
<span class="chordline">                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்ன செய்ய முடியும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தோல்வி இல்லை எனக்கு</samp>
<span class="chordline"><b>A</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி பவனி செல்வேன்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தோல்வி இல்லை நமக்கு</samp>
<span class="chordline"><b>A</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி பவனி செல்வோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எனது ஆற்றலும் எனது பாடலும்</samp>
<samp charset="UTF-8" class="lyricline">எனது மீட்புமானார்</samp>
<samp charset="UTF-8" class="lyricline">நீதிமான்களின் கூடாரத்தில் (சபைகளிலே)</samp>
<samp charset="UTF-8" class="lyricline">வெற்றி குரல் ஒலிக்கட்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தள்ளப்பட்ட கல் கட்டிடம் தாங்கிடும்</samp>
<samp charset="UTF-8" class="lyricline">மூலைக்கல் ஆயிற்று</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் செயல் இது அதிசயம் இது</samp>
<samp charset="UTF-8" class="lyricline">கைத்தட்டிப் பாடுங்களேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. என்றும் உள்ளது உமது பேரன்பு</samp>
<samp charset="UTF-8" class="lyricline">என்று பறைசாற்றுவேன்</samp>
<samp charset="UTF-8" class="lyricline">துன்ப வேளையில் நோக்கி கூப்பிட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">துணையாய் வந்தீரையா</samp></div></div>   
        
     </div>