<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1757" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                <b>A</b>  </span>
<samp charset="UTF-8" class="lyricline">அப்பா உம்மை நேசிக்கிறேன்</samp>
<span class="chordline"><b>B</b>            <b>B7</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்வமுடன் நேசிக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">1. எப்போதும் உம் புகழ்தானே</samp>
<span class="chordline"><b>B</b>           <b>B7</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எந்நேரமும் ஏக்கம் தானே</samp>
<span class="chordline"><b>B</b>         <b>B7</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் நீர்தானே  அப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>     <b>G#m</b>         <b>E</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">2. பலியாகி என்னை மீட்டீரையா</samp>
<span class="chordline"><b>B</b>                  <b>B7</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் சுமந்து தீர்த்தீரையா</samp>
<span class="chordline"><b>B</b>          <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஒளியாய் வந்தீரையா ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உந்தன் அன்பு போதுமையா</samp>
<samp charset="UTF-8" class="lyricline">உறவோ பொருளோ பிரிக்காதையா</samp>
<samp charset="UTF-8" class="lyricline">என் நேசர் நீர்தானையா  ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கண்ணீர் துடைக்கும் காருண்யமே</samp>
<samp charset="UTF-8" class="lyricline">மன்னித்து மறக்கும் தாயுள்ளமே</samp>
<samp charset="UTF-8" class="lyricline">விண்ணக பேரின்பமே  அப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. அநுதின உணவு நீர்தானையா  என்</samp>
<samp charset="UTF-8" class="lyricline">அன்றாட வெளிச்சம் நீர்தானையா</samp>
<samp charset="UTF-8" class="lyricline">அருட்கடல் நீர்தானையா  எனக்கு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. ஒரு குறையின்றி நடத்துகின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">ஊழியம் தந்து மகிழ்கின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">அருகதை இல்லையையா  ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. ஜெபமே எனது ஜீவனாகணும்</samp>
<samp charset="UTF-8" class="lyricline">ஜெயக்கொடி எனது இலக்காகணும்</samp>
<samp charset="UTF-8" class="lyricline">ஊழியம் உணவாகணும்</samp></div></div>   
        
     </div>