<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1758" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                      <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">வசதியைத் தேடி ஓடாதே-----அது</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">தொடு வானம்</samp>
<span class="chordline"><b>Dm</b>                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வசதிகள் நிறைவு தருவதில்லை</samp>
<span class="chordline"><b>G</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தை எவரும் தொடுவதில்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>               <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">1. வசதி வந்தால் பயன்படுத்து</samp>
<span class="chordline"><b>C7</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுவிசேஷம் சொல்வதற்கு</samp>
<span class="chordline"><b>Bb</b>               <b>C</b>         <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்ய No. No. No.</samp>
<span class="chordline">               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அடிமைப்படுத்த No. No. No.------வசதி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அழகெல்லாம் அற்றுப் போகும்</samp>
<samp charset="UTF-8" class="lyricline">எழில் ஏமாற்றும்</samp>
<samp charset="UTF-8" class="lyricline">கவர்ச்சி எல்லாம் ஒரு கானல் நீர்</samp>
<samp charset="UTF-8" class="lyricline">கடந்து போகும் சீக்கிரத்தில்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வெட்டுக்கிளி காட்டுத்தேன்</samp>
<samp charset="UTF-8" class="lyricline"> உண்டு வந்தார் யோவான்</samp>
<samp charset="UTF-8" class="lyricline">உலகத்தை கலக்கிய மனிதர் அவர்</samp>
<samp charset="UTF-8" class="lyricline">உடுத்தியதோ ஒரு ஒட்டகத்தோல்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பணமயக்கம் எல்லாவித</samp>
<samp charset="UTF-8" class="lyricline">தீமைகளின் தொடக்கம்</samp>
<samp charset="UTF-8" class="lyricline">சிற்றின்பம் எச்சரிக்கை  (உன்னை)</samp>
<samp charset="UTF-8" class="lyricline">நடைபிணமாக்கிவிடும்</samp></div></div>   
        
     </div>