<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1759" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>               <b>G</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியானவரே அன்பு நேசரே</samp>
<span class="chordline"><b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொண்டு நடத்துமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                  <b>G</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">1. உந்தன் பாதைகள் அறிந்திடச் செய்யும்</samp>
<span class="chordline"><b>A7</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் வழிகள் கற்றுத் தாரும்</samp>
<span class="chordline"><b>G</b>                 <b>Em</b>    <b>D</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வார்த்தையின் வெளிச்சத்திலே</samp>
<span class="chordline">            <b>A7</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தினந்தினம் நடத்துமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கண்ணின் மணி போல காத்தருளும்</samp>
<samp charset="UTF-8" class="lyricline">கழுகு போல சுமந்தருளும்</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் சிறகுகள் நிழல்தனிலே</samp>
<samp charset="UTF-8" class="lyricline">எந்நாளும் மூடிக் கொள்ளும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வெயில் நேரத்தில் குளிர் நிழலே</samp>
<samp charset="UTF-8" class="lyricline">புயல் காற்றில் புகலிடமே</samp>
<samp charset="UTF-8" class="lyricline">கடுமழையில் காப்பகமே</samp>
<samp charset="UTF-8" class="lyricline">நான் தங்கும் கூடாரமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நியாயத் தீர்ப்பின் ஆவியானவரே</samp>
<samp charset="UTF-8" class="lyricline">சுட்டெரிப்பின் ஆவியானவரே</samp>
<samp charset="UTF-8" class="lyricline">பாவம் கழுவி தூய்மையாக்கும்</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியானவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. வியத்தகு உம் பேரன்பை</samp>
<samp charset="UTF-8" class="lyricline">எனக்கு விளங்கப்பண்ணும்</samp>
<samp charset="UTF-8" class="lyricline">என் இதயம் ஆய்ந்தறியும்</samp>
<samp charset="UTF-8" class="lyricline">புடமிட்டு பரிசோதியும்</samp></div></div>   
        
     </div>