<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1760" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை உயர்த்தி உயர்த்தி</samp>
<span class="chordline"><b>A7</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் மகிழுதையா</samp>
<span class="chordline">                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நோக்கிப் பார்த்து</samp>
<span class="chordline">        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இதயம் துள்ளுதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. கரம்பிடித்து நடத்துகிறீர்</samp>
<span class="chordline"><b>A7</b>              G(<b>D)</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் சுமக்கின்றீர்</samp>
<span class="chordline">    <b>A</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி </samp>
<span class="chordline">    <b>A</b>     <b>D</b> <b>G</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி      உம்மை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கண்ணீரெல்லாம் துடைக்கின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">காயமெல்லாம் ஆற்றுகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நல்லவரே வல்லவரே</samp>
<samp charset="UTF-8" class="lyricline">காண்பவரே காப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இருப்பவரே இருந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">இனிமேலும் வருபவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. வலுவூட்டும் திருஉணவே</samp>
<samp charset="UTF-8" class="lyricline">வாழ வைக்கும் நல்மருந்தே</samp></div></div>   
        
     </div>