<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1761" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>           <b>Db</b>       <b>Bb</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இராஜா உம் மாளிகையில்</samp>
<span class="chordline">              <b>Ab</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இராப்பகலாய் அமர்ந்திருப்பேன்  இயேசு</samp>
<span class="chordline"><b>Bb</b>      <b>Db</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதித்து மகிழ்ந்திருப்பேன்</samp>
<span class="chordline"><b>Eb</b>     <b>Ab</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">துயரம் மறந்திருப்பேன்  உம்மை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. என் பெலனே என் கோட்டையே</samp>
<span class="chordline">                 <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<span class="chordline"><b>C</b>                         <b>Ab</b>  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">மறைவிடமே என் உறைவிடமே</samp>
<span class="chordline">       <b>Ab</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே  </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>     <b>C</b>           <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline">          <b>Fm</b>  <b>C</b>            <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா அப்பா உங்களுக்குத்தான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எங்கும் நிறைந்த யேகோவா ஏலோஹிம்</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">எங்கள் நீதியே யேகோவா ஸிட்கேனு</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பரிசுத்தமாக்கும் யேகோவா மெக்காதீஸ்</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">உருவாக்கும் தெய்வம் யேகோவா ஓசேனு</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உன்னதரே உயர்ந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">பரிகாரியே பலியானீரே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. சீர்படுத்தும் சிருஷ்டிகரே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">ஸ்திரப்படுத்தும் துணையாளரே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline"> 6. தாழ்மையிலே நினைத்தவரே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp>
<samp charset="UTF-8" class="lyricline">ஏழ்மையை மாற்றினீரே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே</samp></div></div>   
        
     </div>