<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1762" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமான் நான் நீதிமான் நான்</samp>
<span class="chordline"><b>Dm</b>             <b>C</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தாலே கழுவப்பட்ட நீதிமான் இயேசுவின்</samp>
<span class="chordline"><b>Bb</b>             <b>C</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தாலே கழுவப்பட்ட நீதிமான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Dm</b>                      <b>Bb</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">1. பனைமரம் போல் நான் செழித்தோங்குவேன்</samp>
<span class="chordline">                    <b>Bb</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கேதுரு மரம்போல் வளர்ந்திடுவேன்</samp>
<span class="chordline"><b>Bb</b>         <b>Gm</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் இல்லத்தில் நாட்டப்பட்டு</samp>
<span class="chordline"><b>A</b>                     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">முதிர்வயதிலும் நான் கனி தருவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. காலையிலே உம் கிருபையையும்</samp>
<samp charset="UTF-8" class="lyricline">இரவினிலே உம் சத்தியத்தையும்</samp>
<samp charset="UTF-8" class="lyricline">பத்து நரம்புகள் இசையோடு</samp>
<samp charset="UTF-8" class="lyricline">பாடிப் பாடி மகிழ்ந்திருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஆண்டவனே என் கற்பாறை</samp>
<samp charset="UTF-8" class="lyricline">அவரிடம் அநீதியே இல்லை</samp>
<samp charset="UTF-8" class="lyricline">என்றே முழக்கம் செய்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">செழுமையும் பசுமையுமாய் வளர்வேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இராஜாவின் ஆட்சி வருகையிலே</samp>
<samp charset="UTF-8" class="lyricline">கதிரவனைப் போல் பிரகாசிப்பேன்  இயேசு</samp>
<samp charset="UTF-8" class="lyricline">ஆகாயமண்டல விண்மீனாய்</samp>
<samp charset="UTF-8" class="lyricline">முடிவில்லா காலமும் ஒளிவீசுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. எதிரியின் வலிமையை மேற்கொள்ள</samp>
<samp charset="UTF-8" class="lyricline">அதிகாரம் எனக்குத் தந்துள்ளார்</samp>
<samp charset="UTF-8" class="lyricline">புது எண்ணை அபிஷேகம் என் தலைமேல்</samp>
<samp charset="UTF-8" class="lyricline">பொழிந்து பொழிந்து மகிழ்கின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. கர்த்தரின் கண்கள் என் மேலே</samp>
<samp charset="UTF-8" class="lyricline">என் வேண்டுதல் கேட்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">மன்றாடும் போது செவிசாய்த்து</samp>
<samp charset="UTF-8" class="lyricline">மாபெரும் விடுதலை தருகின்றார்</samp></div></div>   
        
     </div>