<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1765" class="song songcont"><div class="songpre"><span class="chordline"><b>Db</b>          <b>Dbsus4</b>        <b>Db</b>    <b>Dbm</b></span>
<samp charset="UTF-8" class="lyricline">மலைமேல் ஏறி வந்தேன் தகப்பனே</samp>
<span class="chordline"><b>Gb</b>         <b>Db</b>         <b>Dbsus4</b></span>
<samp charset="UTF-8" class="lyricline">மறுரூபம் ஆகணுமே தகப்பனே  ஜெப</samp>
<span class="chordline"><b>Db</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உலகை மறக்கணுமே தகப்பனே</samp>
<span class="chordline"><b>Db7</b>                   <b>Gbsus4</b>     <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">உம் குரல் கேட்கணும் நாள்முழுதும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Db</b>                      <b>Gb</b>   <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">1. காலையும் மாலையும் மதிய வேளையும்</samp>
<span class="chordline">                       <b>Dbsus4</b></span>
<samp charset="UTF-8" class="lyricline">கைகள் உமை நோக்கி உயரணுமே</samp>
<span class="chordline"><b>Db</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அழியும் உலகத்திற்காய் கதறணுமே</samp>
<span class="chordline"><b>Db7</b>                       <b>Gbsus4</b>    <b>Db</b></span>
<samp charset="UTF-8" class="lyricline">அறுத்துக் களஞ்சியத்தில் சேர்க்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உமது வார்த்தைகள் உணவாய் மாறணும்</samp>
<samp charset="UTF-8" class="lyricline">ஒவ்வொரு நாளும் தியானிக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">வேதத்தின் வெளிச்சத்திலே நடக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">வெற்றிக் கீதங்கள் நான் பாடணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஞானத்தைப் போதித்து அறிவை உணர்த்தி</samp>
<samp charset="UTF-8" class="lyricline">தீர்க்கதரிசனம் சொல்லணும்</samp>
<samp charset="UTF-8" class="lyricline">ஆவிகள் பகுத்தறியும் வரம் வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">வியாதிகள் நீக்கும் ஆற்றல் வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஆவியில் நிரம்பணும் அயல்மொழி பேசணும்</samp>
<samp charset="UTF-8" class="lyricline">அதிசயம் காணணுமே தகப்பனே</samp>
<samp charset="UTF-8" class="lyricline">ஊழியம் செய்யணுமே தகப்பனே</samp>
<samp charset="UTF-8" class="lyricline">ஓடி ஓடி உழைக்கணுமே</samp></div></div>   
        
     </div>