<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1766" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீங்க போதும் இயேசப்பா</samp>
<span class="chordline">      <b>C</b>        <b>D</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உங்க சமூகம் எனக்கப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>             <b>Bm</b>   <b>C</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">1. எத்தனை இன்பமே உந்தன் சமூகமே</samp>
<span class="chordline"><b>D</b>                     <b>G</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமும் உடலுமே உமக்காய் ஏங்குதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. புதுபெலன் தருகிறீர் புது எண்ணெய் பொழிகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">கனிதரும் மரங்களாய் செழித்தோங்கச் செய்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அப்பா உம் சந்நிதியில் எப்போ நான் வந்து நிற்பேன்</samp>
<samp charset="UTF-8" class="lyricline">திருமுகம் கண்டு நான் திருப்தியில் மூழ்குவேன்</samp></div></div>   
        
     </div>