<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1767" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உகந்த காணிக்கையாய்</samp>
<span class="chordline"><b>A</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒப்புக் கொடுத்தேனையா</samp>
<span class="chordline">                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சுகந்த வாசனையாய்</samp>
<span class="chordline">         <b>A7</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உகர்ந்து மகிழுமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. தகப்பனே உம் பீடத்தில்</samp>
<span class="chordline"><b>A</b>     <b>G</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தகனபலியானேன்</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி இறக்கிவிடும்</samp>
<span class="chordline"><b>D</b>           <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முற்றிலும் எரித்துவிடும்  உகந்த</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. வேண்டாத பலவீனங்கள்</samp>
<samp charset="UTF-8" class="lyricline">ஆண்டவா முன் வைக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">மீண்டும் தலை தூக்காமல்</samp>
<samp charset="UTF-8" class="lyricline">மாண்டு மடியட்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கண்கள் தூய்மையாக்கும்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தா உமைப் பார்க்கணும்  என்</samp>
<samp charset="UTF-8" class="lyricline">காதுகள் திறந்தருளும்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் உம் குரல் கேட்கணும்  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அப்பா உம் சமூகத்தில்</samp>
<samp charset="UTF-8" class="lyricline">ஆர்வமாய் வந்தேனையா</samp>
<samp charset="UTF-8" class="lyricline">தப்பாமல் வனைந்து கொள்ளும்</samp>
<samp charset="UTF-8" class="lyricline">உப்பாகப் பயன்படுத்தும்</samp></div></div>   
        
     </div>