<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1768" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கைதட்டிப் பாடி மகிழ்ந்திருப்போம் </samp>
<span class="chordline">          <b>D</b>         <b>G</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் சமூகத்தில் களிகூருவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">களிகூருவோம் களிகூருவோம்</samp>
<span class="chordline">                 <b>Bm</b>                             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் சொன்ன வாக்குத்தத்தம் சொல்லி மகிழ்வோம்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">களிகூருவோம் களிகூருவோம்</samp>
<span class="chordline"><b>D</b>           <b>Bm</b>      <b>G</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கவலைகள் மறந்து களிகூருவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>           <b>Em</b>         <b>D</b>           <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">1. நினைப்பதற்கும் நான் ஜெபிப்பதற்கும்</samp>
<span class="chordline"><b>C</b>                   <b>G</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அதிகமாய் செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பயப்படாதே, உன்னை மீட்டுக் கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline">எனக்கே நீ சொந்தம் என்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நன்மையும் கிருபையும் நம்மைத் தொடரும்</samp>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள நாட்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அறிவு புகட்டுவார் பாதை காட்டுவார்</samp>
<samp charset="UTF-8" class="lyricline">ஆலோசனை அவர் தருவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஆபத்துக் காலத்தில் நோக்கிக் கூப்பிட்டால்</samp>
<samp charset="UTF-8" class="lyricline">அவர் நம்மை விடுவிப்பாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. வாலாக்காமல் அவர் தலையாக்குவார்</samp>
<samp charset="UTF-8" class="lyricline">கீழாக்காமல் மேலாக்குவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. பெலப்படுத்தி நான் சகாயம் செய்வேன்</samp>
<samp charset="UTF-8" class="lyricline">வலக்கரம் தாங்கும் என்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. உள்ளங்கையில் அவர் பொறித்து உள்ளார்</samp>
<samp charset="UTF-8" class="lyricline">அவர் உன்னை மறப்பதில்லை  எனவே</samp></div></div>   
        
     </div>