<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1770" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                       <b>A7</b> <b>C#dim</b></span>
<samp charset="UTF-8" class="lyricline">தூபம் போல் என் ஜெபங்கள்</samp>
<span class="chordline"><b>A</b>       <b>A7</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்றுக் கொள்ளும் ஐயா</samp>
<span class="chordline">                        <b>Bb</b>    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மாலை பலி போல் என் கைகளை</samp>
<span class="chordline"><b>A7</b>       <b>Bb</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உயர்த்தினேன் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>            <b>C#dim</b>     <b>A</b>   <b>C#dim</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நோக்கி     கதறுகிறேன்</samp>
<span class="chordline"><b>Bb</b>          <b>C7</b>           <b>A</b> <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">விரைவாய் உதவி செய்யும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Dm</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">1. என் குற்றங்கள் நீர் மனதில் கொண்டால்</samp>
<span class="chordline"><b>C</b>           <b>Bb</b>          <b>A</b> <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நிலைநிற்க முடியாதையா</samp>
<span class="chordline"><b>Gm</b>          <b>Eb</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மன்னிப்புத் தருபவரே</samp>
<span class="chordline"><b>C7</b>               <b>Bb</b>    <b>F</b>  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தான் தேடுகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. விடியலுக்காய் காத்திருக்கும்</samp>
<samp charset="UTF-8" class="lyricline">காவலனைப் பார்க்கிலும்</samp>
<samp charset="UTF-8" class="lyricline">என் நெஞ்சம் ஆவலுடன்</samp>
<samp charset="UTF-8" class="lyricline">உமக்காய் ஏங்குதையா </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. என் வாய்க்கு காவல் வையும்</samp>
<samp charset="UTF-8" class="lyricline">காத்துக் கொள்ளுமையா</samp>
<samp charset="UTF-8" class="lyricline">தீயன எதையுமே  (நான்)</samp>
<samp charset="UTF-8" class="lyricline">நாட விடாதேயும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. என் கண்கள் உம்மைத் தானே</samp>
<samp charset="UTF-8" class="lyricline">நோக்கி இருக்கின்றன</samp>
<samp charset="UTF-8" class="lyricline">அடைக்கலம் புகுந்தேன்  நான்</samp>
<samp charset="UTF-8" class="lyricline">அழிய விடாதேயும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. என் கண்ணீரை உம் தோற்பையிலே</samp>
<samp charset="UTF-8" class="lyricline">சேர்த்து வைத்திருக்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">அலைச்சல் அனைத்தையும்</samp>
<samp charset="UTF-8" class="lyricline">அறிந்து இருக்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. இடர் (தடை) களெல்லாம் நீங்கும் வரை</samp>
<samp charset="UTF-8" class="lyricline">புகலிடம் நீர்தானையா</samp>
<samp charset="UTF-8" class="lyricline">எனக்காய் யாவையுமே</samp>
<samp charset="UTF-8" class="lyricline">செய்து முடிப்பவரே</samp></div></div>   
        
     </div>