<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1771" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                       <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையான பரலோகம் இருக்கையிலே  நீ</samp>
<span class="chordline"><b>C7</b>               <b>Fm</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மனம் உடைந்து போவதும் ஏனோ</samp>
<span class="chordline"><b>Bbm</b>                             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றித் தேற்ற அன்பர் இயேசு இருக்கையிலே  நீ</samp>
<span class="chordline"><b>C7</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அஞ்சி, அஞ்சி வாழ்வதும் ஏனோ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">திடன் கொள், பெலன் கொள்</samp>
<span class="chordline"><b>Bbm</b>             <b>C</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடாமல் தொடர்ந்து ஓடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மகிமையான பரலோகம் இருப்பதனால்  நான்</samp>
<samp charset="UTF-8" class="lyricline">மனம் உடைந்து போகவே மாட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">ஆற்றித் தேற்ற அன்பர் இயேசு இருப்பதனால்  நான்</samp>
<samp charset="UTF-8" class="lyricline">அஞ்சி, அஞ்சி வாழ்ந்திட மாட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">திடன் கொண்டேன், பெலன் கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடாமல் தொடர்ந்து ஓடுவேன்</samp></div></div>   
        
     </div>