<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1772" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மேகமே மகிமையின் மேகமே  இந்த</samp>
<span class="chordline"><b>B7</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நாளிலே இறங்கி வாருமே</samp>
<span class="chordline">                      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மேகமே மகிமையின் மேகமே</samp>
<span class="chordline">          <b>B7</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வந்தால் போதுமே எல்லாம் நடக்குமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C#m</b>      <b>B7</b>       </span>
<samp charset="UTF-8" class="lyricline">1. ஏகமாய் துதிக்கும் போது</samp>
<span class="chordline"><b>F#m</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இறங்கின மேகமே</samp>
<span class="chordline"><b>F#m</b>           </span>
<samp charset="UTF-8" class="lyricline">ஆலயம் முழுவதும்</samp>
<span class="chordline"><b>B</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையால் நிரப்புமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. வானம் திறக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">தெய்வம் பேசணும்</samp>
<samp charset="UTF-8" class="lyricline">நேச மகனென்று (மகளென்று)</samp>
<samp charset="UTF-8" class="lyricline">நித்தம் சொல்லணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. மறுரூபமாக்கிடும்</samp>
<samp charset="UTF-8" class="lyricline">மகிமையின் மேகமே</samp>
<samp charset="UTF-8" class="lyricline">முகங்கள் மாறணுமே</samp>
<samp charset="UTF-8" class="lyricline">ஒளிமயமாகணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. வாழ்க்கைப் பயணத்திலே</samp>
<samp charset="UTF-8" class="lyricline">முன்சென்ற மேகமே</samp>
<samp charset="UTF-8" class="lyricline">நடக்கும் பாதைதனை</samp>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் காட்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கையளவு மேகம் தான்</samp>
<samp charset="UTF-8" class="lyricline">பெருமழை பொழிந்தது</samp>
<samp charset="UTF-8" class="lyricline">என் தேச எல்லையெங்கும்</samp>
<samp charset="UTF-8" class="lyricline">பெருமழை (அருள்மழை) வேண்டுமே</samp></div></div>   
        
     </div>