<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1773" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>         <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">உங்க ஊழியம் நான் ஏன் கலங்கணும்</samp>
<span class="chordline"><b>Cm</b>                <b>Gsus4</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அழைச்சது நீங்க நடத்திச் செல்வீங்க</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Cm</b>                      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">1. திட்டங்கள் தருபவரும் நீர்தானையா</samp>
<span class="chordline"><b>Cm</b>             <b>F7</b>           <b>Cm</b>   </span>
<samp charset="UTF-8" class="lyricline">செயல்படுத்தி மகிழ்பவரும் நீர்தானையா</samp>
<span class="chordline"><b>Cm</b>       <b>Ab</b>  <b>Cm</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எஜமானனே என் ராஜனே</samp>
<span class="chordline"><b>Gsus4</b>       <b>Cm6</b></span>
<samp charset="UTF-8" class="lyricline">எஜமானன் நீர் இருக்க</samp>
<span class="chordline">                    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">வேலைக்காரனுக்கு ஏன் கவலை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எலியாவை காகம் கொண்டு போஷித்தீரே</samp>
<samp charset="UTF-8" class="lyricline">சூரைச்செடி சோர்வு நீங்க பேசினீரே</samp>
<samp charset="UTF-8" class="lyricline">தெய்வமே பேசும் தெய்வமே</samp>
<samp charset="UTF-8" class="lyricline">எலியாவின் தேவன் இருக்க</samp>
<samp charset="UTF-8" class="lyricline">எதுவும் என்னை அசைப்பதில்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பவுலையும் சீலாவையும் பாட வைத்தீரே</samp>
<samp charset="UTF-8" class="lyricline">சிறையிலே நள்ளிரவில் ஜெபிக்க வைத்தீரே</samp>
<samp charset="UTF-8" class="lyricline">கதவு திறந்தன கட்டுகள் உடைந்தன</samp>
<samp charset="UTF-8" class="lyricline">காக்கும் தெய்வம் நீர் இருக்க</samp>
<samp charset="UTF-8" class="lyricline">கவலை பயம் எனக்கெதற்கு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஆயன் நான் ஆடுகளை அறிந்திருக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">ஒருவராலும் பறித்துக் கொள்ள முடியாதென்றீர்</samp>
<samp charset="UTF-8" class="lyricline">நல் ஆயனே என் மேய்ப்பரே</samp>
<samp charset="UTF-8" class="lyricline">என் ஆயன் நீர் இருக்க</samp>
<samp charset="UTF-8" class="lyricline">ஆட்டுக்குட்டிக்கு ஏன் கவலை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தகப்பன் தன் பிள்ளைகளை சுமப்பது போல</samp>
<samp charset="UTF-8" class="lyricline">இறுதிவரை உங்களை நான் சுமப்பேன் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">தகப்பனே தாங்கும் தெய்வமே</samp>
<samp charset="UTF-8" class="lyricline">தகப்பன் நீர் இருக்கையிலே</samp>
<samp charset="UTF-8" class="lyricline">பிள்ளை எனக்கு ஏன் கவலை</samp></div></div>   
        
     </div>