<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1774" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போவாஸ் போவாஸ்</samp>
<span class="chordline"><b>C</b>                        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">போர்வையால் என்னை மூடுமையா</samp>
<span class="chordline"><b>F</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா இயேசையா (உம்)</samp>
<span class="chordline"><b>C</b>                     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பினால் என்னை மூடுமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Dm</b>        <b>C</b>      <b>Dm</b>             </span>
<samp charset="UTF-8" class="lyricline">1. உந்தன் அடிமை நான் ஐயா  என்னைக்</samp>
<span class="chordline"><b>C</b>            <b>G</b>       <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காப்பாற்றும் கடமை உமக்கையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. நிறைவான பரிசு நீர் தானையா  உம்</samp>
<samp charset="UTF-8" class="lyricline">நிழல்தானே தங்கும் சொர்க்கமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வேதனையோ வேறு சோதனையோ</samp>
<samp charset="UTF-8" class="lyricline">எதுவுமே என்னை பிரிக்காதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஓய்வின்றி கதிர்கள் பொறுக்கிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">வேறொரு வயல் நான் போவதில்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கற்றுத் தாரும் நான் கடைபிடிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">சொல்வதை செய்து முடித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. போர்வை விரித்தேன் போடுமையா</samp>
<samp charset="UTF-8" class="lyricline">கோதுமையால் என்னை நிரப்புமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. கருணைக் கண் கொண்டு நோக்குமையா  உந்தன்</samp>
<samp charset="UTF-8" class="lyricline">கனிமொழியால் என்னைத் தேற்றுமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. திருப்தியாக்கும் என் திருஉணவே</samp>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்க்கும் ஜீவத் தண்ணீரே</samp></div></div>   
        
     </div>