<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1775" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>               <b>Bsus4</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபம் கேளும் பதில் தாரும்</samp>
<span class="chordline"><b>B</b>         <b>B7</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்யும் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E6</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">1. நூறு கோடி என் ஜனங்கள்</samp>
<span class="chordline"><b>C#m</b>      <b>Eadd9</b></span>
<samp charset="UTF-8" class="lyricline">ஏழுலட்சம் கிராமங்கள்</samp>
<span class="chordline"><b>B</b>            <b>A</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை காண வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உமக்கெதிராய் செயல்படுவோர்</samp>
<samp charset="UTF-8" class="lyricline">உம் பாதம் வர வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">உமக்காய் வாழ வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இந்தியாவை பாழாக்கும்</samp>
<samp charset="UTF-8" class="lyricline">அந்தகார வல்லமைகள்</samp>
<samp charset="UTF-8" class="lyricline">அகன்று போக வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நாடாளும் தலைவர்களை</samp>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் பாதுகாத்து</samp>
<samp charset="UTF-8" class="lyricline">ஞானத்தால் நிரப்ப வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. மரித்துப் போன மனிதரெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">உம் குரலைக் கேட்டு இன்று</samp>
<samp charset="UTF-8" class="lyricline">மறுவாழ்வு பெற வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. மிஷனரி ஊழியர்கள்</samp>
<samp charset="UTF-8" class="lyricline">மென்மேலும் பெருக வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">உண்மையாய் உழைக்க வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. சிலைகள் வழிபாடு</samp>
<samp charset="UTF-8" class="lyricline">செயலற்றுப் போக வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">நற்செய்தி பரவ வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. ஆளும் தலைவர்கள் கூட்டம்</samp>
<samp charset="UTF-8" class="lyricline">உம் நாமம் சொல்ல வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கே அஞ்ச வேண்டும்</samp></div></div>   
        
     </div>