<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1778" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">துதியின் ஆடை அணிந்து</samp>
<span class="chordline"><b>D</b>               <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">துயரமெல்லாம் மறந்து</samp>
<span class="chordline"><b>G</b>       <b>D</b>           <b>E</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துதித்து மகிழ்ந்திருப்போம்  நம்</samp>
<span class="chordline"><b>F#</b>         <b>Bm</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூயவரில் மகிழ்ந்திருப்போம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">1. இந்த நாள் கர்த்தர் தந்த நாள்</samp>
<span class="chordline"><b>D</b>       <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இதிலே களிகூறுவோம்</samp>
<span class="chordline"><b>C</b>             <b>A7</b>      <b>G</b>           <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">புலம்பல் இல்ல இனி அழுகையில்ல</samp>
<span class="chordline">        <b>D</b>      <b>Asus4</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இன்று புசித்து கொடுத்து கொண்டாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதித்து துதித்து மகிழ்ந்திருப்போம்</samp>
<span class="chordline">                     <b>G</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துயரம் அனைத்தும் மறந்திருப்போம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கர்த்தருக்குள் நாம் மகிழ்ந்திருந்தால்</samp>
<samp charset="UTF-8" class="lyricline">அது தானே நமது பெலன்</samp>
<samp charset="UTF-8" class="lyricline">எத்தனையோ நன்மை செய்தவரை</samp>
<samp charset="UTF-8" class="lyricline">இன்று ஏற்றி போற்றி புகழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நன்றியோடும் புகழ் பாடலோடும்</samp>
<samp charset="UTF-8" class="lyricline">அவர் வாசலில் நுழைந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">நல்லவரே கிருபையுள்ளவரே</samp>
<samp charset="UTF-8" class="lyricline">என்று நாளெல்லாம் உயர்த்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. புலம்பலுக்கு பதில் ஆனந்தமே</samp>
<samp charset="UTF-8" class="lyricline">இன்று ஆனந்தம் ஆனந்தமே</samp>
<samp charset="UTF-8" class="lyricline">ஒடுங்கி போன ஆவி ஓடிப்போச்சு</samp>
<samp charset="UTF-8" class="lyricline">இன்று உற்சாக ஆவி வந்தாச்சு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. துயரத்துக்கு பதில் ஆறுதலே</samp>
<samp charset="UTF-8" class="lyricline">இன்று ஆறுதல் ஆறுதலே</samp>
<samp charset="UTF-8" class="lyricline">சாம்பலுக்கு பதில் சிங்காரமே</samp>
<samp charset="UTF-8" class="lyricline">இன்று சிங்காரம் சிங்காரமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. கர்த்தர் தாமே நம்மை உண்டாக்கினார்</samp>
<samp charset="UTF-8" class="lyricline">அவரின் ஜனங்கள் நாம்</samp>
<samp charset="UTF-8" class="lyricline">அவர் தாமே நம்மை நடத்துகின்றார்</samp>
<samp charset="UTF-8" class="lyricline">அவரின் ஆடுகள் நாம்</samp></div></div>   
        
     </div>