<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1779" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இடைவிடா நன்றி உமக்குத்தானே</samp>
<span class="chordline"><b>E</b>        <b>A</b>              <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இணையில்லா தேவன் உமக்குத்தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>         <b>Eaug</b>     <b>A</b>      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">1. என்ன நடந்தாலும் நன்றி ஐயா</samp>
<span class="chordline"><b>B</b>        <b>A</b>         <b>A6</b>       <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">யார் கைவிட்டாலும் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>    <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி... நன்றி...</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. தேடி வந்தீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">தெரிந்து கொண்டீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நிம்மதி தந்தீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">நிரந்தரமானீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. என்னைக் கண்டீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீர் துடைத்தீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. நீதி தேவனே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">வெற்றி வேந்தனே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. அநாதி தேவனே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">அரசாளும் தெய்வமே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. நித்திய ராஜாவே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">சத்திய தீபமே நன்றி ஐயா</samp></div></div>   
        
     </div>