<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1781" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                                   <b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அனைத்தையும் செய்து முடிக்கும் ஆற்றல் உள்ளவரே</samp>
<span class="chordline">    <b>F#m</b>         <b>G</b>            <b>A7</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீர் நினைத்தது ஒரு நாளும் தடை படாதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                        <b>D7</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. நீர் முடிவெடுத்தால் யார்தான் மாற்றமுடியும்</samp>
<span class="chordline"><b>Gm</b>          <b>Em</b>          <b>F#</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கென முன்குறித்த எதையுமே</samp>
<span class="chordline"><b>A</b>          <b>F#</b>             <b>G</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எப்படியும் நிறைவேற்றி முடித்திடுவீர்</samp>
<span class="chordline">                <b>E</b>  <b>A</b> <b>A7</b>          <b>F#</b>      <b>Bm</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஆராதனை உயிருள்ள நாளெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. நான் எம்மாத்திரம் ஒரு பொருட்டாய் எண்ணுவதற்கு</samp>
<samp charset="UTF-8" class="lyricline">காலைதோறும் கண்ணோக்கிப் பார்க்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">நிமிடந்தோறும் விசாரித்து மகிழ்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. என்னைப் புடமிட்டால் (நான்) பொன்னாக துலங்கிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">நான் போகும் பாதைகளை அறிந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் சொல்லை உணவு போலக் காத்துக் கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நான் எண்ணிமுடியா அதிசயம் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">காயப்படுத்தி கட்டுப்போடும் கர்த்தரே</samp>
<samp charset="UTF-8" class="lyricline">அடித்தாலும் அணைக்கின்ற அன்பரே  என்னை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. என் மீட்பரே உயிரோடு இருப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">இறுதி நாளில் மண்ணில் வந்து நிற்பதை</samp>
<samp charset="UTF-8" class="lyricline">என் கண்கள் தானே அந்நாளில் காணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எப்போது வருவீரையா</samp>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் ஏங்குதையா</samp></div></div>   
        
     </div>