<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1782" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் கரம் என் மேலங்க</samp>
<span class="chordline"><b>A</b>      <b>A6</b> <b>C#m</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கடுகளவு பயமில்லங்க</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>      <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">1. ஏந்திடுவார் என்னைத் தாங்கிடுவார்</samp>
<span class="chordline"><b>A</b>          <b>F#</b>          <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இறுதி வரை என்னை நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. ஊட்டிடுவார் தாலாட்டிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">எதிரி வந்தால் எத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அணைப்பாரே அரவணைப்பாரே</samp>
<samp charset="UTF-8" class="lyricline">அள்ளி அள்ளி முத்தம் கொடுப்பாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இரத்ததாலே கழுவுகிறார்</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பாலே உடுத்துகிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தாலாட்டுவார் சீராட்டுவார்</samp>
<samp charset="UTF-8" class="lyricline">வாலாக்காமல் தலையாக்குவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. பறித்துக் கொள்ள முடியாதுங்க</samp>
<samp charset="UTF-8" class="lyricline">ஒருவராலும் முடியாதுங்க</samp></div></div>   
        
     </div>