<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1783" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                  <b>Db</b>           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நல்லதையே நான் சொல்லவும் செய்யவும்</samp>
<span class="chordline"><b>Db</b>     <b>Bbm</b>          <b>C</b>       <b>Db</b>         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தை இன்று உறுதிப்படுத்தும் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Fm</b>                              <b>Bbm</b>     <b>C7</b> <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. ஆதி முதல் என்னைத் தெரிந்து கொண்டீர்</samp>
<span class="chordline"><b>C7</b>                <b>Eb</b>      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அப்பாவை நம்பி மீட்படைய</samp>
<span class="chordline">                <b>Eb</b>      <b>Db</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினாலே தூய்மையாக்கி</samp>
<span class="chordline">             <b>Db</b>       <b>C7</b>       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயமாய் என்னை நடத்துகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b> <b>Ab</b>         <b>Eb</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா.... நன்றி.... நன்றி  </samp>
<span class="chordline">   <b>Fm</b>         <b>Bbm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா.... நன்றி.... நன்றி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பாவங்கள் செய்து மரித்துப் போயிருந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவோடே கூட உயிர்த்தெழச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">கிருபையினாலே என்னை இரட்சித்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உன்னதங்களிலே உட்காரச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஆண்டவர் கிறிஸ்துவின் மகிமையடைந்திட</samp>
<samp charset="UTF-8" class="lyricline">அழைத்தீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">ஆறுதல் தந்தீர் அன்பு கூர்ந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">பரலோகம் எதிர்நோக்கி வாழச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. துதிக்கும் மகிமைக்கும் பாத்திரரே</samp>
<samp charset="UTF-8" class="lyricline">பெருமையும் புகழ்ச்சியும் உமக்குத்தானே</samp>
<samp charset="UTF-8" class="lyricline">ஞானமும் நன்றியும் வல்லமையும்</samp>
<samp charset="UTF-8" class="lyricline">என்றென்றும் உமக்கே உரித்தாகட்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஆவியினாலே பெலப்படணும்</samp>
<samp charset="UTF-8" class="lyricline">அன்பிலே வேரூன்றி திடம் பெறணும்</samp>
<samp charset="UTF-8" class="lyricline">அப்பாவின் அன்பின் அகலம் ஆழம்</samp>
<samp charset="UTF-8" class="lyricline">அறியும் ஆற்றல் நான் பெறணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எப்பொழுதும் நான் மகிழ்வுடன் இருந்து</samp>
<samp charset="UTF-8" class="lyricline">இடைவிடாமல் ஜெபம் செய்யணும்</samp>
<samp charset="UTF-8" class="lyricline">என்ன நேர்ந்தாலும் நன்றி சொல்லி</samp>
<samp charset="UTF-8" class="lyricline">இயேசப்பா திருச்சித்தம் நிறைவேற்றணும்</samp></div></div>   
        
     </div>