<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1784" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இராஜாதி இராஜாவைக் கொண்டாடுவோம்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் துதிபாடி கொண்டாடுவோம்  நம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">1. வந்தாரே தேடி வந்தாரே</samp>
<span class="chordline"><b>D</b>              <b>C</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தன் ஜீவன் எனக்காய் தந்தாரே</samp>
<span class="chordline">                          <b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை வாழ வைக்கும் தெய்வம்தானே இயேசு</samp>
<span class="chordline">         <b>B7</b>            <b>C</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னை வழிநடத்தும் தீபம் தானே இயேசு  அந்த</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கலக்கம் இல்லே எனக்கு கவலை இல்லே</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் மேய்ப்பராய் இருக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">என்னை பசும்புல் மேய்ச்சலுக்கு நடத்துவார்</samp>
<samp charset="UTF-8" class="lyricline">நான் பசியாற உணவு ஊட்டி மகிழுவார் அந்த</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வென்றாரே சாத்தானை வென்றாரே</samp>
<samp charset="UTF-8" class="lyricline">வல்லமைகள் அனைத்தையும் உரிந்தாரே</samp>
<samp charset="UTF-8" class="lyricline"> அந்த சாத்தான் மேலே அதிகாரம் தந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">என் இயேசு நாமம் சொல்லிச் சொல்லி முறியடிப்பேன்  நம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கரங்களிலே என்னை பொறித்து உள்ளார்</samp>
<samp charset="UTF-8" class="lyricline">கண் முன்னே தினம் என்னை நிறுத்தியுள்ளார்</samp>
<samp charset="UTF-8" class="lyricline">ஏற்ற காலத்திலே உயர்த்துவார்  அவர்</samp>
<samp charset="UTF-8" class="lyricline">கரங்களுக்குள் அடங்கி நான் காத்திருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. முடிவில்லாத தம் மகிமையிலே</samp>
<samp charset="UTF-8" class="lyricline">பங்கு பெற என்னை தெரிந்து கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">என்னை சீர்படுத்தி ஸ்திரப்படுத்தி நடத்துவார்</samp>
<samp charset="UTF-8" class="lyricline">பெலப்படுத்தி நிலைநிறுத்தி மகிழுவார்</samp></div></div>   
        
     </div>