<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1785" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                <b>Bb</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எதைக்குறித்தும் கலக்கம் இல்லப்பா</samp>
<span class="chordline">           <b>Em</b>          <b>F</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாவற்றிற்காகவும் நன்றி சொல்லுவேன்</samp>
<span class="chordline"><b>Bb</b>                          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">யார் மேலும் கசப்பு இல்லப்பா</samp>
<span class="chordline"><b>C</b>          <b>Em</b>       <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாருக்காகவும் மன்றாடுவேன்</samp>
<span class="chordline">                  <b>Bb</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எதைக் குறித்தும் கலக்கம் இல்லப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C7</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. இதுவரை உதவி செய்தீர்</samp>
<span class="chordline"><b>Bb</b>           <b>F</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இனிமேலும் உதவி செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கவலைகள் பெருகும்போது</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என்னைத் தேற்றுகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. எப்போதும் என் முன்னே</samp>
<samp charset="UTF-8" class="lyricline">உம்மைத் தான் நிறுத்தியுள்ளேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. வலப்பக்கத்தில் இருப்பதனால்</samp>
<samp charset="UTF-8" class="lyricline">நான் அசைக்கப்படுவதில்லைதகப்பன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. என் சமூகம் முன் செல்லும்</samp>
<samp charset="UTF-8" class="lyricline">இளைப்பாறுதல் தருவேன் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எனக்காய் யுத்தம் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">யாவையும் செய்து முடிப்பீர்</samp></div></div>   
        
     </div>