<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1787" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திர பலி ஸ்தோத்திர பலி அப்பாவுக்கு</samp>
<span class="chordline"><b>D</b>                                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">துதியும் கனமும் மகிமையும் என் அப்பாவுக்கு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>            <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">1. சுகம் தந்தீரே நன்றி ஐயா</samp>
<span class="chordline"><b>D</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் தந்தீரே நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உணவு தந்தீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">உடையும தந்தீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அன்புகூர்ந்தீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">அரவணைத்தீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கூட வைத்தீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">பாட வைத்தீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. அபிஷேகித்தீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">அனலாக்கினீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. இரத்தம் சிந்தினீர் நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பு தந்தீர் நன்றி ஐயா</samp></div></div>   
        
     </div>