<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1788" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலை நேரம் (அரசாளும் தெய்வம்)</samp>
<span class="chordline">                               <b>Dm</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா உம் பாதம் ஆர்வமாய் வந்திருக்கிறேன்</samp>
<span class="chordline">            <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் சொல்லி ஓய்வின்றிப் பாடி</samp>
<span class="chordline"><b>Bb</b>       <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் மகிழ்ந்திருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>         <b>Bb</b>      <b>Am</b>  <b>C</b>     <b>F</b>        <b>A</b> <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">1. கூக்குரல் கேட்பவரே நன்றி நன்றி ஐயா</samp>
<span class="chordline"><b>Bb</b>            <b>C</b>                 <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">குறைகளைத் தீர்ப்பவரே நன்றி நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பெலனே கன்மலையே</samp>
<samp charset="UTF-8" class="lyricline">பெரியவரே (என்) உயிரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நினைவெல்லாம் அறிபவரே</samp>
<samp charset="UTF-8" class="lyricline">நிம்மதி தருபவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நலன் தரும் நல்மருந்தே</samp>
<samp charset="UTF-8" class="lyricline">நன்மைகளின் ஊற்றே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. மரணத்தை ஜெயித்தவரே</samp>
<samp charset="UTF-8" class="lyricline">மன்னா பொழிந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. விண்ணப்பம் கேட்பவரே</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீர் துடைப்பவரே</samp></div></div>   
        
     </div>