<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1789" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்புங்கப்பா நிரப்புங்கப்பா என்</samp>
<span class="chordline"><b>E</b>             <b>B7</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாத்திரத்தை தண்ணீராலே நிரப்புங்கப்பா</samp>
<span class="chordline"><b>E</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்புங்கப்பா நிரப்புங்கப்பா உம்</samp>
<span class="chordline"><b>E</b>        <b>B7</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியாலே நிரப்புங்கப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">1. இரவெல்லாம் கண்விழித்து ஜெபிக்கணும்</samp>
<span class="chordline"><b>E</b>                  <b>G#m</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எதை நினைத்தும் கலங்காம துதிக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. ஆறாக பெருக்கெடுத்து ஓடணும்</samp>
<samp charset="UTF-8" class="lyricline">ஆயிரங்கள் உம்மண்டை நடத்தணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தூய வாழ்வு தினம் வாழணும்</samp>
<samp charset="UTF-8" class="lyricline">தாய்நாடு உம்பாதம் திரும்பணும்  என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அப்பா உம் ஏக்கங்கள் அறியணும்</samp>
<samp charset="UTF-8" class="lyricline">தப்பாமல் உம் வழியில் நடக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. பாவங்கள் சாபங்கள் நீக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்த வாழ்க்கை இன்று வாழணும்</samp></div></div>   
        
     </div>