<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1790" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எத்தனை நன்மை எத்தனை இன்பம்</samp>
<span class="chordline"><b>E</b>             <b>C</b>         <b>D</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சகோதரர்கள் ஒருமித்து வாசம் பண்ணும்போது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>     <b>G</b>              <b>C</b>                 <b>C</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. அது ஆரோன் தலையில் ஊற்றப்பட்ட நறுமணம்</samp>
<span class="chordline">                             <b>C</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">முகத்திலிருந்து வழிந்தோடி உடையை நனைக்கும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அது சீயோன் மலையில் இறங்குகின்ற பனிக்கு ஒப்பாகும்</samp>
<samp charset="UTF-8" class="lyricline">இளைப்பாறுதல் சமாதானம் இங்கு உண்டாகும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இங்கு தான் முடிவில்லாத ஜீவன் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">இங்கு தான் எந்நாளும் ஆசீர் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இருவர் மூவர் இயேசு நாமத்தில் கூடும் போதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">அங்கு நான் இருப்பேனென்று இரட்சகர் சொன்னாரே</samp></div></div>   
        
     </div>