<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1791" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா என்னை முழுவதும் அர்ப்பணித்தேன் ஐயா</samp>
<span class="chordline">                                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயிரோடிருக்கும் நாளெல்லாம் உமக்குச் சொந்தமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">            <b>Bb</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அர்ப்பணித்தேன் (நான்) அர்ப்பணித்தேன்</samp>
<span class="chordline"><b>C</b>                       <b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி ஆத்துமா சரீரம் அர்ப்பணித்தேன்--------என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b>               <b>Bb</b>         <b>C</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. உள்ளம் உடல் எல்லாமே உமக்குத் தந்தேனையா</samp>
<span class="chordline"><b>C7</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கள்ளம் கபடு இல்லாமல் காத்துக் கொள்ளுமையா ஒரு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உலகப்பெருமை சிற்றின்பம் உதறிவிட்டேனையா</samp>
<samp charset="UTF-8" class="lyricline">கசப்பு வெறுப்பு காயங்கள் கடந்து போனதையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வாக்குவாதம் பொறாமை(பொறாமைக ள்) தூக்கி எறிந்தேன் நான்</samp>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசுவை ஆடையாய் அணிந்து கொண்டேன் நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உமக்காய் வாழும் வைராக்கியம் உள்ளத்தில் வந்ததையா</samp>
<samp charset="UTF-8" class="lyricline">எனக்காய் வாழும் எண்ணங்கள் என்றோ மடிந்ததையா</samp></div></div>   
        
     </div>