<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1793" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீயே நிரந்தரம்! ஏசுவே ஏன் வாழ்வில் நீயே நிரந்தரம்!</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அம்மை அப்பன் உந்தன் அன்பே நிரந்தரம்</samp>
<span class="chordline">        <b>G</b>        <b>D</b>                  <b>Bm</b>   <b>Em</b>    </span>
<samp charset="UTF-8" class="lyricline">மாறும் உலகில் மாறா உன் உறவே நிரந்தரம்</samp>
<span class="chordline"><b>G</b>                   <b>D</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இம்மை வாழ்வில் மறுமை இருப்பது நிரந்தரம் ... (2)</samp>
<span class="chordline">      <b>C</b>                 <b>D</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நான் மாண்ட பின்னும் உன்னில் உயிர்ப்பது நிரந்தரம்.</samp>
<span class="chordline"><b>G</b>             <b>D</b>             <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நிரந்தரம் ... நிரந்தரம் ... நீயே நிரந்தரம்! ... (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அம்மை அப்பன் உந்தன் அன்பே நிரந்தரம்</samp>
<samp charset="UTF-8" class="lyricline">மாறும் உலகில் மாறா உன் உறவே நிரந்தரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>             <b>G</b>                <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தாயின் அன்பு சேய்க்கு இங்கே நிரந்தரம்</samp>
<span class="chordline">                    <b>G</b>            <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தாயும் தந்தையும் எமக்கு நீயே நிரந்தரம்</samp>
<span class="chordline"><b>Am</b>                <b>Em</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேயும் வாழ்வில் நம்பிக்கை நீயே நிரந்தரம்</samp>
<span class="chordline">      <b>C</b>             <b>D</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நான் சாயும் போது காப்பது நீயே நிரந்தரம் ... (2)</samp>
<span class="chordline"><b>G</b>             <b>D</b>             <b>Bm</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நிரந்தரம் ... நிரந்தரம் ... நீயே நிரந்தரம்! ... (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">செல்வங்கள் கொணரும் இன்பத்தில் இல்லை நிரந்தரம்</samp>
<samp charset="UTF-8" class="lyricline">பதவியும் புகழும் தருவது இல்லை நிரந்தரம்</samp>
<samp charset="UTF-8" class="lyricline">நிலைவாழ்வு என்னும் நிஜமான நீயே நிரந்தரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அதன் விலையாக எனை நீ உன்னில் இணைப்பாய் நிரந்தரம் ... (2)</samp>
<samp charset="UTF-8" class="lyricline">நிரந்தரம் ... நிரந்தரம் ... நீயே நிரந்தரம்! ... (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அம்மை அப்பன் உந்தன் அன்பே நிரந்தரம்</samp>
<samp charset="UTF-8" class="lyricline">மாறும் உலகில் மாறா உன் உறவே நிரந்தரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இம்மை வாழ்வில் மறுமை இருப்பது நிரந்தரம் ... (2)</samp>
<samp charset="UTF-8" class="lyricline">நான் மாண்ட பின்னும் உன்னில் உயிர்ப்பது நிரந்தரம்.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நிரந்தரம் ... நிரந்தரம் ... நீயே நிரந்தரம்! ... (2)</samp>
<samp charset="UTF-8" class="lyricline">நிரந்தரம் ... நிரந்தரம் ... நீயே நிரந்தரம்! ... (2)</samp></div></div>   
        
     </div>