<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1796" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>              <b>Em</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் பிரசன்னம் நாடி வந்தேன்</samp>
<span class="chordline"><b>D</b>               <b>F#</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையினால் நோக்கிடுமே</samp>
<span class="chordline">            <b>E</b>             <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் இரத்தத்தால்ஏன்னை கழுவிடுமே</samp>
<span class="chordline"><b>Em</b>           <b>F#</b>                    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம் பிள்ளையாய் என்னை மாற்றிடுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bm</b>         <b>A</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவே என் இராஜனே</samp>
<span class="chordline">      <b>Em</b>     <b>G</b>         <b>F#</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஏங்குகிறேன் உம் சமூகத்திற்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உம் வசனம் தியானிக்கையில்</samp>
<samp charset="UTF-8" class="lyricline">இதம் அதில் ஆறுதலே</samp>
<samp charset="UTF-8" class="lyricline">மனிதர்கள் என்னை பகைத்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">அஞ்சிடேனே நீர் இருக்கையிலே           ... என் இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையில் பாரங்கல் நெருக்கையிலே</samp>
<samp charset="UTF-8" class="lyricline">உம் பிரசன்னம் என் அடைக்கலமே</samp>
<samp charset="UTF-8" class="lyricline">திக்கற்ற நிலமையில் இருந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">திடன் கொள்ளுவேன் உம் சமூகத்திலே    ... என் இயேசுவே</samp></div></div>   
        
     </div>