<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1797" class="song songcont"><div class="songpre"><span class="chordline"><b>G#m</b>                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கவலைகள் தீர்ப்பார், கண்ணீர் துடைப்பார்,</samp>
<span class="chordline"><b>G#m</b>                  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">கடைசி மட்டுங் கைவிடாதிருப்பார்</samp>
<span class="chordline"><b>G#m</b>                <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பவமனிப்பளிப்பார், பாக்கியங் கொடுப்பார்,</samp>
<span class="chordline"><b>G#m</b>                <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">பரம பதவியினுள் என்றனை எடுப்பார்.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G#m</b>                <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என் மீட்பர் உயிரோடிருக்கையிலே எனக்</samp>
<span class="chordline"><b>G#m</b>                      <b>Eb</b>               <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">கென்ன குறைவுண்டு? நீ சொல், மனமே.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என்னுயிர் மீட்கவே தன்னுயிர் கொடுத்தோர்,</samp>
<samp charset="UTF-8" class="lyricline">என்னோடிருக்கவே எழுந்திருந்தோர்</samp>
<samp charset="UTF-8" class="lyricline">விண்ணுல குயர்ந்தோர், உன்னதஞ் சிறந்தோர்,</samp>
<samp charset="UTF-8" class="lyricline">மித்திரனே, சுகபத்திரமருளும். − என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாவமோ, மரணமோ, நரகமோ, பேயோ,</samp>
<samp charset="UTF-8" class="lyricline">பயந்து நடுங்கிட ஜெயஞ் சிறந்தோர்,</samp>
<samp charset="UTF-8" class="lyricline">சாபமே தீர்த்தோர், சற்குருநாதன்;</samp>
<samp charset="UTF-8" class="lyricline">சஞ்சலமினியேன்? நெஞ்சமே, மகிழாய். −என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஆசி செய்திடுவார், அருள்மிக அளிப்பார்,</samp>
<samp charset="UTF-8" class="lyricline">அம்பரந் தனிலெனக்காய் ஜெபிப்பார்</samp>
<samp charset="UTF-8" class="lyricline">மோசமே மறைப்பார், முன்னமே நடப்பார்</samp>
<samp charset="UTF-8" class="lyricline">மோட்சவழி, சத்யம், ஜீவனும் அவரே. −என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">போனது போகட்டும், புவி வசை பேசட்டும்,</samp>
<samp charset="UTF-8" class="lyricline">பொல்லான் அம்புகளெய்திடட்டும்,</samp>
<samp charset="UTF-8" class="lyricline">ஆனது ஆகட்டும், அருள் மழை பெய்திடும்,</samp>
<samp charset="UTF-8" class="lyricline">அன்பு மிகும் பேரின்ப மெனக்/கருளும் −என்</samp></div></div>   
        
     </div>