<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1799" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆரோக்கியம் ஆரோக்கியம்</samp>
<span class="chordline"><b>A</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அப்பாவின் சமூகத்தில் ஆரோக்கியம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">1. நீதியின் சூரியன் என்மேலே  (அவர்)</samp>
<span class="chordline"><b>F#m</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சிறகின் நிழலிலே ஆரோக்கியம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கட்டுக்கள் அவிழ்க்கப்பட்ட கன்றுகுட்டி</samp>
<samp charset="UTF-8" class="lyricline">கொழுத்த கன்றுகளாய் வளருவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. துன்மார்க்க சாத்தானை மிதிப்போம்  (நம்)</samp>
<samp charset="UTF-8" class="lyricline">காலின் கீழ் சாம்பலாய் எரிப்போம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இயேசப்பா நோய்களை சுமந்ததால்  இனி</samp>
<samp charset="UTF-8" class="lyricline">நாம் சுமக்கத் தேவையில்லை தேவையில்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. அவதூறு பொறாமை அகற்றுவோம்</samp>
<samp charset="UTF-8" class="lyricline">வஞ்சகம் வெளிவேடம் நீக்குவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. புதிதாய் பிறந்த குழந்தைகள் போல்</samp>
<samp charset="UTF-8" class="lyricline">வார்த்தையாம் பாலின் மேல் வாஞ்சையாம்</samp></div></div>   
        
     </div>