<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1800" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>         <b>A</b>             <b>B</b>   </span>
<samp charset="UTF-8" class="lyricline">துன்பமா துயரமா அது தண்ணீர்பட்ட உடை</samp>
<span class="chordline">           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">போன்றதம்மா</samp>
<span class="chordline">             <b>A</b>         </span>
<samp charset="UTF-8" class="lyricline">காற்றடிச்சா வெயில் வந்தா</samp>
<span class="chordline"><b>B7</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காய்ந்து போய்விடும் கலங்காதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>                     <b>B</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">1. இயேசுதான் நீதியின் கதிரவன்(அவர்)    </samp>
<span class="chordline">                         <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உனக்காக உதயமானார் உலகத்திலே</samp>
<span class="chordline"><b>A</b>        <b>E</b>             <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிவா, வெளிச்சம் தேடி வா</samp>
<span class="chordline">     <b>A</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உன் துக்க நாட்கள் இன்றோடு முடிந்தது</samp>
<span class="chordline">                    <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உன் துக்க நாட்கள் இன்றோடு முடிந்தது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இழந்து போனதை தேடி இயேசு வந்தார்</samp>
<samp charset="UTF-8" class="lyricline">இளைப்பாறுதல் தருவேன் என்று சொன்னார்</samp>
<samp charset="UTF-8" class="lyricline">எழுந்து வா, போதும் பயந்தது..... உன்</samp>
<samp charset="UTF-8" class="lyricline">புயல்காற்று இன்றோடு ஓய்ந்தது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உன் துக்கங்கள் இயேசு சுமந்து கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">உன் பிணிகள் எல்லாம் ஏற்றுக் கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">நீ சுமக்க இனி தேவையில்லை</samp>
<samp charset="UTF-8" class="lyricline">ஒரு சுகவாழ்வு இந்நாளில் துளிர்த்தது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இரத்தம் சிந்துதல் இல்லாமல் மன்னிப்பு இல்லை</samp>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் சொல்லாமல் மீட்பு இல்லை</samp>
<samp charset="UTF-8" class="lyricline">கூப்பிடு, இயேசு இயேசு என்று</samp>
<samp charset="UTF-8" class="lyricline">உன் குறைகளெல்லாம் நிறைவாக்கி நடத்திடுவார்</samp></div></div>   
        
     </div>