<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1801" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>          <b>G</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மாரநாதா இயேசு நாதா</samp>
<span class="chordline"><b>G</b>        <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சீக்கிரம் வாரும் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                            <b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. மன்னவன் உம்மைக் கண்டு மறுரூபம் ஆகணுமே </samp>
<span class="chordline">                                 <b>G</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணவர் கூட்டத்தோடு நான் எந்நாளும் பாடணுமே</samp>
<span class="chordline"><b>D</b>          <b>Gsus4</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாரும் நாதா   இயேசு நாதா (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. குடிவெறி களியாட்டம் அடியோடு அகற்றிவிட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">சண்டைகள் பொறாமைகள் (நான்) என்றோ</samp>
<samp charset="UTF-8" class="lyricline">வெறுத்துவிட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பெருமை பாராட்டுகள் ஒருநாளும் வேண்டாம் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">சிற்றின்பம் பணமயக்கம் சிறிதளவும் வேண்டாம் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நியமித்த ஓட்டத்திலே நித்தம் நான் ஓடிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">நித்திய கிரீடம்தனை (நான்) நிச்சயமாய் பெற்றுக்கொள்வேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஆவியில் நிரம்பிடுவேன் அயராது ஜெபித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">அப்பாவின் சுவிசேஷம் எப்போதும் முழங்கிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. உம் முகம் பார்க்கணுமே உம் அருகில் இருக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">உம்பாதம் அமரணுமே உம்குரல் கேட்கணுமே</samp></div></div>   
        
     </div>