<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1804" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரான இயேசு என் உயிரோடு கலந்தீர்</samp>
<span class="chordline">     <b>C</b>                           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரே நான் உம்மைத் துதிப்பேன்</samp>
<span class="chordline">     <b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரே நான் உம்மைத் துதிப்பேன்</samp>
<span class="chordline">     <b>C</b>         <b>Dm</b>       <b>Em</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரான உயிரான உயிரான இயேசு</samp>
<span class="chordline"><b>C</b>                     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரான இயேசு என் உயிரோடு கலந்தீர்</samp>
<span class="chordline">     <b>C</b>                           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரே நான் உம்மைத் துதிப்பேன்</samp>
<span class="chordline">     <b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரே நான் உம்மைத் துதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>          <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. உலகமெல்லாம் மறக்குதையா</samp>
<span class="chordline"><b>Dm</b>           <b>Bb</b>    <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உணர்வு எல்லாம் இனிக்குதையா</samp>
<span class="chordline"><b>Am</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் துதிக்கையிலே இயேசையா</samp>
<span class="chordline"><b>G</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் அன்பை ருசிக்கையிலே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உம் வசனம் எனக்கு உணவாகும்</samp>
<samp charset="UTF-8" class="lyricline">உடலுக்கெல்லாம் மருந்தாகும்</samp>
<samp charset="UTF-8" class="lyricline">இரவும் பகலுமையா</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் வசனம் தியானிக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உம் திரு நாமம் உலகத்திலே</samp>
<samp charset="UTF-8" class="lyricline">உயர்ந்த அடைக்கல அரண்தானே</samp>
<samp charset="UTF-8" class="lyricline">நீதிமான் உமக்குள்ளே ஓடி</samp>
<samp charset="UTF-8" class="lyricline">சுகமாய் இருப்பானே</samp></div></div>   
        
     </div>