<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1806" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>           <b>C</b>       <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உனக்கொரு நன்பன் இல்லை என்று</samp>
<span class="chordline"><b>Am</b>     <b>Dm</b>          <b>Em</b>    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஏங்குகிறாயோ இப்பூமியிலே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Am</b>            <b>C</b>      <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அன்னையை போல ஆதரிப்பார்</samp>
<span class="chordline"><b>Am</b>        <b>Dm</b>      <b>Em</b>      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அல்லும் பகலும் காத்திடுவார் - நீ</samp>
<span class="chordline"><b>E</b>                  <b>Am</b>    <b>C</b>    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையில் வாழ வழி வகுத்தார்</samp>
<span class="chordline"><b>Am</b>         <b>Dm</b>       <b>Em</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சோராமல் என்றும் வாழ்ந்திடவே           .. உனக்கோரு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தகப்பனும் தாயும் கை விட்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">தேவன் உன்னை கைவிடவே மாட்டார் - தம்</samp>
<samp charset="UTF-8" class="lyricline">செல்வம் போல ஆதரிப்பார்</samp>
<samp charset="UTF-8" class="lyricline">கண்மணிப்போல உன்னை பாதுகாப்பர்       .. உனக்கோரு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உனக்கொரு நண்பன் இயேசு உண்டு</samp>
<samp charset="UTF-8" class="lyricline">அறவணைக்க ஓரு தகப்பனுண்டு</samp></div></div>   
        
     </div>