<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1807" class="song songcont"><div class="songpre"><span class="chordline"><b>Bb</b>              <b>Eb</b>    </span>
<samp charset="UTF-8" class="lyricline">கலங்காதே மனமே </samp>
<span class="chordline">     <b>F</b>               <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உன் இயேசு இருக்கிறார்</samp>
<span class="chordline">                  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரின் பாதையில் </samp>
<span class="chordline">  <b>F</b>                 <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீ நடக்கும் வேளையில்</samp>
<span class="chordline">                      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">திடன்கொள் என் மனமே</samp>
<span class="chordline">     <b>F</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உன் இயேசு இருக்கிறார்</samp>
<span class="chordline">                      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">திடன்கொள் என் மனமே</samp>
<span class="chordline">     <b>F</b>              <b>Bb</b> <b>Ab</b> <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உன் இயேசு இருக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Bb</b>                           <b>Gm</b>            <b>Bb</b> <b>Bb7</b>           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையில் தோல்விகள் சூழ்கையிலே நீ கலங்குகிண்ராயோ</samp>
<span class="chordline"><b>F</b>                                        <b>F7</b>          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உதவி செய்ய ஒரு ஜீவனில்லை என்று ஏங்குகின்றாயோ</samp>
<span class="chordline">              <b>Eb</b>       <b>F</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உனக்கு உதவிட உன் இயேசு இருக்கிறார்</samp>
<span class="chordline">              <b>Eb</b>       <b>F</b>              <b>Bb</b> <b>Ab</b> <b>Eb</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உனக்கு உதவிட உன் இயேசு இருக்கிறார்              ..கலங்காதே மனமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எதிர்காலத்தை நீ நினைக்கையிலே அது இருளாய் உள்ளதோ</samp>
<samp charset="UTF-8" class="lyricline">பிரச்சனையை நீ நினைது பார்க்கையில் தூக்கம் இல்லையோ</samp>
<samp charset="UTF-8" class="lyricline">உன் வாழ்வினை மாற்றிட இயேசு அழைக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">குடும்பத்தில் சண்டை கடன் தொல்லை என்று சமாதானம் இல்லையோ</samp>
<samp charset="UTF-8" class="lyricline">உன் கவலைகளை சொல்ல யாரும் இல்லை என்று கதருகின்றாயோ</samp>
<samp charset="UTF-8" class="lyricline">உன் சூழ்நிலை மஆறிட இயேசுவை நோக்கிப்பார்       ..கலங்காதே மனமே</samp></div></div>   
        
     </div>