<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1808" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                      <b>Esus4</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்பாதம் பணிந்தேன் எந்நாளும் துதியே</samp>
<span class="chordline"><b>Am</b>                           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையன்றி யாரைப் பாடுவேன் - இயேசையா</samp>
<span class="chordline"><b>C</b>              <b>Bm</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் அன்பு உள்ளம் பொங்குதே!</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>      <b>B</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமே பரவசமே</samp>
<span class="chordline"><b>Am</b>    <b>Em</b>      <b>B</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரனேசருளே வரம் பொருளே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தேடினதால் கண்டடைந்தேன்</samp>
<span class="chordline"><b>C</b>        <b>D</b>         <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பாடிடப் பாடல்கள் ஈந்தளித்தீர்!</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">புது எண்ணெயால் புது பெலத்தால்</samp>
<samp charset="UTF-8" class="lyricline">புதிய கிருபை புதுக்கவியால்</samp>
<samp charset="UTF-8" class="lyricline">நிரப்பி நிதம் நடத்துகின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">நூதன சாலேமில் சேர்த்திடுவீர்!</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நெருக்கத்திலே உம்மை அழைத்தேன்</samp>
<samp charset="UTF-8" class="lyricline">நெருங்கி உதவி எனக்களித்தீர் </samp>
<samp charset="UTF-8" class="lyricline">திசைக்கெட்டெங்கும் அலைந்திடாமல்</samp>
<samp charset="UTF-8" class="lyricline">தீவிரம் வந்தென்னைத் தாங்குகின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என்முன் செல்லும் உம் சமூகம்</samp>
<samp charset="UTF-8" class="lyricline">எனக்கு அளிக்கும் இளைப்பாறுதல்</samp>
<samp charset="UTF-8" class="lyricline">உமது கோலும் உம் தடியும் </samp>
<samp charset="UTF-8" class="lyricline">உண்மையாய் என்னையும் தேற்றிடுதே!</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கனிசெடி நீர் நிலைத்திருக்கும்</samp>
<samp charset="UTF-8" class="lyricline">கொடியாய் அடியேன் படர்ந்திலங்க </samp>
<samp charset="UTF-8" class="lyricline">கிளை நறுக்கி களைபிடுங்கி </samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரே காத்தென்னைச் சுத்தம் செய்வீர்!</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என் இதய தெய்வமே நீர்</samp>
<samp charset="UTF-8" class="lyricline">எனது இறைவா! ஆருயிரே </samp>
<samp charset="UTF-8" class="lyricline">நேசிக்கிறேன் இயேசுவே உம் </samp>
<samp charset="UTF-8" class="lyricline">நேசமுகம் என்று கண்டிடுவேன்!</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சீருடனே பேருடனே</samp>
<samp charset="UTF-8" class="lyricline">சிறந்து ஜொலிக்கும் கொடுமுடியில்</samp>
<samp charset="UTF-8" class="lyricline">சீக்கிரமாய் சேர்த்திடுவீர் </samp>
<samp charset="UTF-8" class="lyricline">சீயோனை வாஞ்சித்து நாடுகிறேன்</samp></div></div>   
        
     </div>