<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1809" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>E</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">திருக்கரத்தால் தாங்கி என்னை</samp>
<span class="chordline">              <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திருச்சித்தம் போல் நடத்திடுமே</samp>
<span class="chordline"><b>Em</b>            <b>C</b>             <b>G</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">குயவன் கையில் களிமண் நான்</samp>
<span class="chordline">         <b>Am</b>  <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினமும் வனைந்திடுமே</samp>
<span class="chordline"><b>G7</b>           <b>C</b>              <b>G</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">குயவன் கையில் களிமண் நான்</samp>
<span class="chordline">         <b>Am</b>  <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினமும் வனைந்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>            <b>Em</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆழ்கடலில் அலைகளினால்</samp>
<span class="chordline">              <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அசையும்போது என் படகில்</samp>
<span class="chordline"><b>Em</b>         <b>C</b>                <b>G</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்ம நண்பர் இயேசு உண்டே</samp>
<span class="chordline">         <b>Am</b>   <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேர்ந்திடுவேன் அவர் சமூகம்</samp>
<span class="chordline"><b>G7</b>         <b>C</b>                <b>G</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்ம நண்பர் இயேசு உண்டே</samp>
<span class="chordline">         <b>Am</b>   <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேர்ந்திடுவேன் அவர் சமூகம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உம் வசனம் தியானிக்கையில்</samp>
<samp charset="UTF-8" class="lyricline">இதயமதில் ஆறுதலே</samp>
<samp charset="UTF-8" class="lyricline">காரிருளில் நடக்கையிலே</samp>
<samp charset="UTF-8" class="lyricline">தீபமாக வழி நடத்தும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அவர் நமக்காய் ஜீவன் தந்து</samp>
<samp charset="UTF-8" class="lyricline">அளித்தனரே பெரிய மீட்பு</samp>
<samp charset="UTF-8" class="lyricline">கண்களினால் காண்கிறேனே</samp>
<samp charset="UTF-8" class="lyricline">இன்பக் கானான் தேசமதை</samp></div></div>   
        
     </div>