<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1810" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                         <b>Csus4</b></span>
<samp charset="UTF-8" class="lyricline">தொடும் என் கண்களையே</samp>
<span class="chordline"><b>Fm</b>                           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் காணவேண்டுமே</samp>
<span class="chordline"><b>Bbm</b>                     <b>Fm</b>    <b>Bbm</b>   <b>Cm</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம்மையே நான் காணவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தொடும் என் காதினையே</samp>
<samp charset="UTF-8" class="lyricline">உம் குரல் கேட்கவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம் குரலைக் கேட்கவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தொடும் என் ஆண்டவரே</samp>
<span class="chordline">              <b>Csus4</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தொடும் என் வாழ்வினையே</samp>
<span class="chordline"><b>Bbm</b>                  <b>Eb</b>     <b>C</b>               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம்மை போல் என்னை மாற்றூமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தொடும் என் நாவினையே</samp>
<samp charset="UTF-8" class="lyricline">உம் புகழ் பாடவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம் புகழைப் பாடவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தொடும் என் மனதினையே</samp>
<samp charset="UTF-8" class="lyricline">மனப் புண்கள் ஆறவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே மனப்புண்கள் ஆறவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தொடும் என் உடல்தனையே</samp>
<samp charset="UTF-8" class="lyricline">உடல் நோய்கள் தீரவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே உடல் நோய்கள் தீரவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தொடும் என் இதயத்தையே</samp>
<samp charset="UTF-8" class="lyricline">உம் அன்பு ஊறவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம் அன்பு ஊறவேண்டுமே</samp></div></div>   
        
     </div>