<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1811" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை சுமந்த உருவம்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தின இரத்தம் புரண்டோடியே</samp>
<span class="chordline">              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நதிபோலவே பாய்கின்றதே</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி இயேசுவண்டை வா</samp>
<span class="chordline"><b>Am</b>     <b>E</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி இயேசுவண்டை வா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">பொல்லா உலக சிற்றின்பங்கள்</samp>
<span class="chordline"><b>Dm</b>                              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம்(என்றும்) அழியும் மாயை</samp>
<span class="chordline">                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காணாய் நிலையான சந்தோஷம் பூவில்</samp>
<span class="chordline"><b>Dm</b>           <b>E</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாவின் அன்பண்டைவா             ---சிலுவை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஆத்தும மீட்பைப் பெற்றிடாமல்</samp>
<samp charset="UTF-8" class="lyricline">ஆத்துமம் நஷ்டமடைந்தால்</samp>
<samp charset="UTF-8" class="lyricline">லோகம் முழுவதும் ஆதாயமாக்கியும்</samp>
<samp charset="UTF-8" class="lyricline">லாபம் ஒன்றுமில்லையே                ---சிலுவை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாவ மனித ஜாதிகளைப்</samp>
<samp charset="UTF-8" class="lyricline">பாசமாய் மீட்க வந்தார்</samp>
<samp charset="UTF-8" class="lyricline">பாவப் பரிகாரி கர்த்தர் இயேசுநாதர்</samp>
<samp charset="UTF-8" class="lyricline">பாவமெல்லாம் சுமந்தார்                 ---சிலுவை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நித்திய ஜீவன் வாஞ்சிப்பாயோ</samp>
<samp charset="UTF-8" class="lyricline">நித்திய மோட்ச வாழ்வில்</samp>
<samp charset="UTF-8" class="lyricline">தேடி வாரோயோ பரிசுத்த ஜீவியம்</samp>
<samp charset="UTF-8" class="lyricline">தேவை அதை அடைவாய்               ---சிலுவை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தாகமடைந்தோர் எல்லோருமே</samp>
<samp charset="UTF-8" class="lyricline">தாகத்தை தீர்க்க வாரும்</samp>
<samp charset="UTF-8" class="lyricline">ஜீவத் தண்ணீரான கர்த்தர் இயேசுநாதர்</samp>
<samp charset="UTF-8" class="lyricline">ஜீவன் உமக்களிப்பார்                    ---சிலுவை</samp></div></div>   
        
     </div>