<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1812" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பராம் இயேசுவை பார்த்துக்கொண்டே</samp>
<span class="chordline"><b>Bbm</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமாக அவர் பாதையோடே</samp>
<span class="chordline">   <b>Eb</b>      <b>Fm</b>          <b>Eb</b>   <b>Cm</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாமே வழியும் சத்தியமும் ஜீவனுமே</samp>
<span class="chordline">   <b>Cm</b>      <b>Fm</b>          <b>Eb</b>   <b>Cm</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தாமே வழியும் சத்தியமும் ஜீவனுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">துன்ப பெருக்கிலே சோர்ந்திடாதே</samp>
<samp charset="UTF-8" class="lyricline">அன்பர் அறியாமல் வந்திடாதே</samp>
<samp charset="UTF-8" class="lyricline">கண் விழிபோல் நான் காத்திடுவேன் என்றனரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">முட்செடி போலே பற்றிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">மோசம் அடையாய் நீ முற்றீலுமே</samp>
<samp charset="UTF-8" class="lyricline">ஏங்கிடாதே நீ நேசர் அதில் தோன்றுவாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சுற்றிலும் சத்துரு சூழ்ந்திடினும்</samp>
<samp charset="UTF-8" class="lyricline">வியாகுலம் உன்னை நெருக்கிடினும்</samp>
<samp charset="UTF-8" class="lyricline">ஆ.. நேசரே தம் இன்ப சத்தம் ஈந்தீடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மாயையான இந்த லோகமதில்</samp>
<samp charset="UTF-8" class="lyricline">மாய்ந்தழியும் இம்மாந்தர் அன்று</samp>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றென்றும் மாறிடாரே உன் நேசரே</samp></div></div>   
        
     </div>