<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1813" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                     <b>Am</b> <b>Em</b>          <b>C</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்துவின் அன்பு என்றும் மாறாதது</samp>
<span class="chordline"><b>E</b> <b>Am</b>                    <b>Em</b>              <b>B</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline"> இயேசு கிறிஸ்துவின் மாறா கிருபை என்றும் குறையாதது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>              <b>B</b>                          <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">உன் மீறுதல்கட்காய் இயேசு காயங்கள் பட்டார்</samp>
<span class="chordline">                  <b>Am</b>            <b>Ebdim</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன் அக்கிரமங்கட்காய் இயேசு நொறுக்கப்பட்டார்</samp>
<span class="chordline">         <b>B</b>                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உனக்காகவே அடிகள் பட்டார்</samp>
<span class="chordline">                <b>C</b>  <b>Em</b>         <b>B</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை உயர்த்த தன்னைத் தாழ்த்தினார்</samp>
<span class="chordline">                   <b>C</b>          <b>B</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை உயர்த்த தன்னைத் தாழ்த்தினார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாவி என்றுன்னை அவர் தள்ளவே மாட்டார்</samp>
<samp charset="UTF-8" class="lyricline">ஆவலாய் உன்னை இயேசு அழைக்கிறாரே</samp>
<samp charset="UTF-8" class="lyricline">தயங்கிடாதே தாவி ஓடி வா</samp>
<samp charset="UTF-8" class="lyricline">தந்தை இயேசுவின் சொந்தம் கொள்ள வா</samp></div></div>   
        
     </div>