<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1814" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                    <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நேசிக்கிறேன் உம்மையே</samp>
<span class="chordline"><b>Dm</b>             <b>C</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்கின்றேன் உமக்காகவே</samp>
<span class="chordline"><b>Gm</b>                      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தருகிறேன் என்னையே உமக்கே</samp>
<span class="chordline">         <b>A</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிக்க என்றும் தேவனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை இயேசுவே</samp>
<span class="chordline">       <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை என் தேவனே</samp>
<span class="chordline"><b>Dm</b>                <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை இயேசுவே</samp>
<span class="chordline">      <b>C</b>     <b>A</b>         <b>Dm</b>          </span>
<samp charset="UTF-8" class="lyricline">ஆராதனை என் தேவனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மகிமையின் நாயகனே</samp>
<samp charset="UTF-8" class="lyricline">எங்கள் துதிகளின் பாத்திரரே</samp>
<samp charset="UTF-8" class="lyricline">வணங்குவோம் உயர்த்துவோம் உம்மையே</samp>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிப்போம் எங்கள் தேவனே                  --- ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>                  <b>Bb</b>                  <b>A</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அழகான ராஜனே அன்பான தேவனே இரக்கம் உள்ளவரே</samp>
<span class="chordline"><b>C</b>                  <b>Bb</b>                  <b>A</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அழகான ராஜனே அன்பான தேவனே உமக்கு ஆராதனை   ---ஆராதனை</samp></div></div>   
        
     </div>