<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1816" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தண்ணீர்கள் கடக்கும் போது</samp>
<samp charset="UTF-8" class="lyricline">என்னோடு இருக்கின்றீர்</samp>
<span class="chordline">             <b>G</b>               <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியில் நடக்கும் போது கூடவே வருகின்றீர்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மூழ்கிப் போவதில்லை--------(நான்)</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">எரிந்து போவதில்லை</samp>
<span class="chordline"><b>Dm</b>                 <b>Bb</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மூழ்கிப் போவதில்லை--------(நான்)</samp>
<span class="chordline">                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எரிந்து போவதில்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">1. என் மேல் அன்பு கூர்ந்து</samp>
<span class="chordline"><b>G</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் இரத்தம் சிந்தி</samp>
<span class="chordline">             <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் பாவம் கழுவி விட்டீரே</samp>
<span class="chordline">                   <b>Em</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கு விடுதலை தந்து விட்டீரே</samp>
<span class="chordline"><b>Dm</b>       <b>Bb</b>   <b>Em</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி ஐயா, நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உமது பார்வையிலே</samp>
<samp charset="UTF-8" class="lyricline">விலையேறப் பெற்றவன் (பெற்றவள்) நான்</samp>
<samp charset="UTF-8" class="lyricline">மதிப்பிற்கு உரியவன் நானே-------இன்று</samp>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடன் நடனமாடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பாலைவன வாழ்க்கையிலே</samp>
<samp charset="UTF-8" class="lyricline">பாதைகள் காணச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">ஆறுகள் ஓடச் செய்தீரே  தினம்</samp>
<samp charset="UTF-8" class="lyricline">பாடி மகிழச் செய்தீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பெற்ற தாய் தனது</samp>
<samp charset="UTF-8" class="lyricline">பிள்ளையை மறந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">நீர்என்னை மறப்பதில்லையே  உமது</samp>
<samp charset="UTF-8" class="lyricline">உள்ளங்கையில் பொறித்து வைத்துள்ளீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. என்னை படைத்தவரே</samp>
<samp charset="UTF-8" class="lyricline">உருவாக்கி மகிழ்ந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">பெயர் சொல்லி அழைத்துக் கொண்டீரே</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு உரிமையாக்கிக் கொண்டீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. என்னை மீட்கும்படி</samp>
<samp charset="UTF-8" class="lyricline">தன்னை பலியாக்கினீர்</samp>
<samp charset="UTF-8" class="lyricline">எனக்குள் வந்து விட்டீரே</samp>
<samp charset="UTF-8" class="lyricline">(என்னை) ஆட்கொண்டு நடத்திச் செல்வீரே</samp></div></div>   
        
     </div>