<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1817" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நடத்தும் இயேசு நாதா</samp>
<span class="chordline"><b>Bm</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<span class="chordline"><b>F#m</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குள் வாழும் எந்தன் நேசா</samp>
<span class="chordline"><b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>             <b>Bm</b>  <b>F#m</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">1. ஒளியாய் வந்தீர் வழியைத் தந்தீர்</samp>
<span class="chordline"><b>G</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<span class="chordline"><b>G</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அழிவில் நின்று பாதுகாத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. தேடி வந்தீர் பாட வைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">ஓடி ஓடி உழைக்கச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பாவமில்லா தூயவாழ்வு</samp>
<samp charset="UTF-8" class="lyricline">வாழச் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">பூவாய் வளர்ந்து பூத்துக் குலுங்கி</samp>
<samp charset="UTF-8" class="lyricline">மலரச் செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. துயரம் நீக்கி ஆறுதல் தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">புலம்பல் மாற்றி ஆனந்தம் தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கலக்கம் நீக்கி கண்ணீர் துடைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா </samp>
<samp charset="UTF-8" class="lyricline">கவலை மாற்றி கரத்தால் அணைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. உலகம் மாயை எல்லாம் மாயை</samp>
<samp charset="UTF-8" class="lyricline">உணர்ந்தேன் உணர்ந்து கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline">உறவு பாசம் குப்பையென்றறிந்து</samp>
<samp charset="UTF-8" class="lyricline">உம்மையே பின் தொடர்ந்தேன் </samp></div></div>   
        
     </div>