<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1820" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகளின் நாயகனே, நன்றி சொல்லி மகிழ்கிறேன்</samp>
<span class="chordline"><b>Bb</b>              <b>F</b>           <b>Eb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையுள்ள தெய்வமே, உயிரோடு கலந்தவரே</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகளின் நாயகனே நன்றி நன்றி ஐயா</samp>
<span class="chordline"><b>Bb</b>              <b>F</b>           <b>Eb</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையுள்ள தெய்வமே உயிரோடு கலந்தவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. கடந்த ஆண்டெல்லாம்(நாட்களெல்லாம் )</samp>
<span class="chordline"><b>C7</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணி போல் காத்தீரே</samp>
<span class="chordline"><b>Bb</b>     <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">புதிய ஆண்டு (நாள்) தந்து</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">புதியன (புதுமைகள்) செய்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உமக்காய் காத்திருந்து</samp>
<samp charset="UTF-8" class="lyricline">புதுபெலன் அடைகின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">உம்மையே பற்றிக் கொண்டு</samp>
<samp charset="UTF-8" class="lyricline">புதிய மனுஷனானேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கர்த்தர் கரம் என்னோடு</samp>
<samp charset="UTF-8" class="lyricline">இருப்பதை உணர வைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">அநேகர் அறிக்கையிட</samp>
<samp charset="UTF-8" class="lyricline">அப்பா நீர் கிருபை செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. எனக்கு எதிரானோர்</samp>
<samp charset="UTF-8" class="lyricline">என் சார்பில் வரவைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">சமாதானம் செய்ய வைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">சர்வ வல்லவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. எப்சிபா என்றழைத்து</samp>
<samp charset="UTF-8" class="lyricline">என்மேலே பிரியமானீர்</samp>
<samp charset="UTF-8" class="lyricline">பியூலா என்றழைத்து</samp>
<samp charset="UTF-8" class="lyricline">மணமகளாக்கிவிட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. ஏசேக்கு, சித்னா</samp>
<samp charset="UTF-8" class="lyricline">இன்றோடு முடிந்தது</samp>
<samp charset="UTF-8" class="lyricline">ரெகோபோத் தொடங்கியது</samp>
<samp charset="UTF-8" class="lyricline">தடைகளும் விலகியது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. பழையன கடந்தன</samp>
<samp charset="UTF-8" class="lyricline">புதியன புகுந்தன</samp>
<samp charset="UTF-8" class="lyricline">எல்லாமே புதிதாயிற்று</samp>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா பாடுவேன்</samp></div></div>   
        
     </div>