<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1840" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவா சரணம்</samp>
<span class="chordline"><b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தா சரணம்</samp>
<span class="chordline"><b>C#m</b>      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ராஜா சரணம்</samp>
<span class="chordline"><b>B</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசைய்யா சரணம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனுக்கு சரணம்</samp>
<span class="chordline"><b>B</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இராஜாதி இராஜனுக்கு சரணம்</samp>
<span class="chordline">            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தூய ஆவி சரணம்</samp>
<span class="chordline"><b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அபி்ஷேக நாதா சரணம்</samp>
<span class="chordline"><b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் சரணம் (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தனுக்கு சரணம்</samp>
<samp charset="UTF-8" class="lyricline">காருண்ய கேடகமே சரணம்</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவி சரணம்</samp>
<samp charset="UTF-8" class="lyricline">ஜீவ நதியே சரணம்</samp>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் சரணம் (2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மகிமையின் மன்னனுக்கு சரணம்</samp>
<samp charset="UTF-8" class="lyricline">மாசற்ற மகுடமே சரணம்</samp>
<samp charset="UTF-8" class="lyricline">சத்திய ஆவி சரணம்</samp>
<samp charset="UTF-8" class="lyricline">சர்வ வியாபியே சரணம்</samp>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் சரணம் (2)</samp></div></div>   
        
     </div>