<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1842" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் தேவனே - எந்தன்</samp>
<span class="chordline"><b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகத்துவ ராஜனே - உம்மை நான் </samp>
<span class="chordline"><b>F</b>        <b>G</b>          <b>Am</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்துவேன் உம் நாமம் போற்றுவேன்</samp>
<span class="chordline">        <b>F</b>         <b>Dm</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் உயிரான இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>            <b>E</b>       <b>Am</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையின் நாமமே</samp>
<span class="chordline">             <b>Dm</b>        <b>C#aug</b> <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவின் உயர் நாம மே</samp>
<span class="chordline">       <b>C</b>        <b>E</b>   <b>Am</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலையின் நாமமே</samp>
<span class="chordline">             <b>F</b>            <b>G</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு நாமம் உயர் நாமமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மரணத்தை வென்றவர் - இன்றும் </samp>
<samp charset="UTF-8" class="lyricline">உயிரோடிருப்பவர் - தூய </samp>
<samp charset="UTF-8" class="lyricline">ஆவியினால் என்னை நிறப்பியவர் </samp>
<samp charset="UTF-8" class="lyricline">இன்றும் அற்புதங்கள் செய்கிறவர்      ... வல்லமையின்</samp></div></div>   
        
     </div>