<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1847" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                   <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">உயிரோடு எழுந்தவரே</samp>
<span class="chordline">         <b>F#m</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதனை செய்கிறோம்</samp>
<span class="chordline"><b>Bm</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனின் அதிபதியே</samp>
<span class="chordline">          <b>E</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதனை செய்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>A</b>          <b>A7</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஒசன்னா</samp>
<span class="chordline"><b>E</b>                    <b>A</b>  <b>A</b> <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஒசன்னா</samp>
<span class="chordline"><b>F#m</b>                  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஒசன்னா</samp>
<span class="chordline"><b>E</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஒசன்னா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மரணத்தை ஜெயித்தவரே</samp>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதனை செய்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">பாதாளம் வென்றவரே</samp>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதனை செய்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஒசன்னா - (4)</samp></div></div>   
        
     </div>