<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1850" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>     <b>F</b>          <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">காத்திடும் காத்திடும்</samp>
<span class="chordline">         <b>D</b>            <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் என்னை நீர் காத்திடும்</samp>
<span class="chordline">      <b>F</b>          <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">காத்திடும் காத்திடும்</samp>
<span class="chordline">         <b>G</b>            <b>G7</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் என்னை நீர் காத்திடும்</samp>
<span class="chordline">     <b>F</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தந்திடும் தந்திடும்</samp>
<span class="chordline">        <b>D</b>             <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாரும் (எப்போதும்) உம் பெலனை</samp>
<span class="chordline">     <b>F</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தந்திடும் தந்திடும்</samp>
<span class="chordline">        <b>G</b>             <b>G7</b>        <b>C</b>   <b>C</b> <b>G</b> <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தாரும் (எப்போதும்) உம் பெலனை</samp>
<span class="chordline"><b>Am</b>                         <b>F</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை விட்டு எங்கு நான் ( எங்கு நான்)</samp>
<span class="chordline">                          <b>C</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">செல்லுவேன் என் இயேசுவே ( இயேசுவே )</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும்</samp>
<samp charset="UTF-8" class="lyricline">நிரப்பும் உம் பெலனால்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தாவீது தேடினான்</samp>
<samp charset="UTF-8" class="lyricline">அவரின் பெலன் உம்மிலே</samp>
<samp charset="UTF-8" class="lyricline">தேடுவேன் தேடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் செய்ய தேடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">உம்மை விட்டு எங்கு நான்</samp>
<samp charset="UTF-8" class="lyricline">செல்லுவேன் என் இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">காத்திடும் காத்திடும்</samp>
<samp charset="UTF-8" class="lyricline">உம்மில் என்னை நீர் காத்திடும் (2)</samp></div></div>   
        
     </div>