<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1851" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>             <b>A</b>              <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவைப் போல் யாரும் இல்லை -2</samp>
<span class="chordline">      <b>E</b>          <b>G#m</b>    <b>C#m</b>      <b>F#m</b>         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நான் சோர்வின் பள்ளத்தாக்கில் நடக்கும்போது</samp>
<span class="chordline"><b>A</b>            <b>E</b>     <b>G#</b>  <b>G#7</b> <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தன்கரத்தில் எந்தி தாங்கு வார்</samp>
<span class="chordline">     <b>F#m</b>              <b>B</b>        <b>E</b>  <b>A</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு என் இயேசு என்றுமே      -(இயேசுவைப்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">என் வழிகளெல்லாம் மலைகள் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">என் கஷ்ட பாதைகளில்</samp>
<samp charset="UTF-8" class="lyricline">என்னை அவர் நடத்தினார்</samp>
<samp charset="UTF-8" class="lyricline">என் இயேசு -2 என்றுமே (இயேசுவைப்)</samp></div></div>   
        
     </div>