<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1853" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கலிலேயா என்ற ஊரில்</samp>
<span class="chordline">                            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஜனங்களைத் தொட்டார்</samp>
<span class="chordline"><b>A</b>                         <b>E</b>       <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">குருடர் செவிடர் முடவர் எல்லோரையும்</samp>
<span class="chordline"><b>A</b>       <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு குணமாக்கினார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>                                                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ராஜனுக்கே அல்லேலூயா தேவனுக்கே</samp>
<span class="chordline"><b>A</b>              <b>E</b>        <b>C#m</b> <b>A</b>              <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா கர்த்தருக்கே அல்லேலூயா இயேசுவுக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கரங்களைத் தட்டிப் பாடிடுவோம் - (3)</samp>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ராஜனுக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கரங்களை அசைத்துப் பாடிடுவோம் - (3)</samp>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ராஜனுக்கே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கரங்களை உயர்த்திப் பாடிடுவோம் - (3)</samp>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ராஜனுக்கே</samp></div></div>   
        
     </div>