<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1858" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஜெபிக்கும் போதெல்லாம்</samp>
<span class="chordline">        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சித்தம் செய்தி்ட</samp>
<span class="chordline">           <b>C</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல் மாற்றிடும்</samp>
<span class="chordline">          <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாஞ்சையோடு கதறுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கு காத்திரு</samp>
<span class="chordline">                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புதுபெலன் அடைவாய்</samp>
<span class="chordline">       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ பறந்த போனாலும்</samp>
<span class="chordline">       <b>C</b>              <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நீ நடந்து சென்றாலும்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கு காத்திரு</samp>
<span class="chordline">      <b>C</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கு காத்திரு</samp>
<span class="chordline">   <b>G</b>            <b>G7</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புதுபெலன், புதுபெலன் அடைவாய் (நான்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உம் வசனம் தியானிக்கையில்</samp>
<samp charset="UTF-8" class="lyricline">தேவ ஞானம் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">அப்பமாக மாற்றிடும்</samp>
<samp charset="UTF-8" class="lyricline">புசித்து நான் சந்தோஷிப்பேன் (நான்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நான் நடக்கும் பாதையில்</samp>
<samp charset="UTF-8" class="lyricline">தவறாமல் காத்திடும்</samp>
<samp charset="UTF-8" class="lyricline">துதர்ளை அனுப்பி</samp>
<samp charset="UTF-8" class="lyricline">பாதயை செம்மை செய்யும் (நான்)</samp></div></div>   
        
     </div>