<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1860" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>                           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பரலோக தேவனே உம்மை ஆராதனை செய்கிறோம்</samp>
<span class="chordline"><b>Bb</b>                          <b>Eb</b>                     <b>G</b>  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரலோக ராஜனே உம்மை ஆராதனை செய்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Cm</b>               <b>Bb</b>         <b>Ab</b>           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உமது அன்பின் கரங்களை நான் கண்டேனே - (2)</samp>
<span class="chordline"><b>Eb</b>           <b>Bb</b>    <b>Ab</b>    <b>G</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நான் கண்டேனே, நான் கண்டேனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மோசேயின் தேவனே</samp>
<samp charset="UTF-8" class="lyricline">என்னை வழி நடத்திடுவீர் --- உமது அன்பின்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">யோசுவாவின் தேவனே</samp>
<samp charset="UTF-8" class="lyricline">எங்கள் மதில்களை நொறுக்குவீர் --- உமது அன்பின்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனை உம்மை ஆராதனை செய்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">ராஜாதி தேவனை உம்மை ஆராதனை செய்கிறோம்</samp></div></div>   
        
     </div>