<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1861" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>            <b>F#m</b> <b>Bm</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">போதுமானவரே புதுமையானவரே</samp>
<span class="chordline">                     <b>A7</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாப்பவரே என் பாவம் தீர்த்தவரே</samp>
<span class="chordline">       <b>F#m</b>  <b>Bm</b>     <b>G</b>    <b>A</b>               <b>A7</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை ஆயுளெல்லாம் ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. எனக்காகத் தண்டிக்கப்பட்டீரே</samp>
<span class="chordline"><b>A</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதனால் நான் மன்னிக்கப்பட்டேன்</samp>
<span class="chordline"><b>Bm</b>          <b>F#m</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காகக் காயப்பட்டீரே</samp>
<span class="chordline"><b>F#</b>              <b>Bm</b>                    <b>G</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதனால் நான் சுகம் பெற்றுக் கொண்டேன்------ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. எனக்காக புறக்கணிக்கப்பட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">அதனால் நான் ஏற்றுக் கொள்ளப்பட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">எனக்காக அவமானமடைந்து----(உம்)</samp>
<samp charset="UTF-8" class="lyricline">மகிமையிலே பங்கு பெறச் செய்தீர் உமக்கு </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பாவங்கள் சுமந்ததனால்  நான்</samp>
<samp charset="UTF-8" class="lyricline">நீதிமானாய் மாற்றப்பட்டேன்  நீர்</samp>
<samp charset="UTF-8" class="lyricline">மரணத்தை நீர் ஏற்றுக் கொண்டதால்------(நித்திய)</samp>
<samp charset="UTF-8" class="lyricline">ஜீவனை நான் பெற்றுக் கொண்டேன் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. சிலுவையிலே ஏழ்மையானதால்  (என்னை)</samp>
<samp charset="UTF-8" class="lyricline">செல்வந்தனாய் மாற்றிவிட்டீரே  நீர்</samp>
<samp charset="UTF-8" class="lyricline">சாபங்களை சுமந்து கொண்டதால்  நான்</samp>
<samp charset="UTF-8" class="lyricline">ஆசீர்வாதம் பெற்றுக் கொண்டேன் ஐயா  நீர்</samp></div></div>   
        
     </div>