<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1863" class="song songcont"><div class="songpre"><span class="chordline"><b>Eb</b>             <b>Cm</b>             <b>Gm</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இன்று முதல் நான் உன்னை ஆசீர்வதிப்பேன்</samp>
<span class="chordline"><b>Eb</b>              <b>Cm</b>             <b>Eb</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லையில்லா நன்மைகளால் நிரப்பிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Cm</b>                 <b>Eb</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">1. பெரிய இனமாக்கி ஆசீர்வதிப்பேன்</samp>
<span class="chordline"><b>G</b>      <b>Bb</b>             <b>Eb</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உனது பெயரை நான் உயர்த்திடுவேன்</samp>
<span class="chordline"><b>Cm7</b></span>
<samp charset="UTF-8" class="lyricline">ஆசீர்வாத வாய்க்காலாய் நீ இருப்பாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. செல்லும் இடமெல்லாம் காவலாய் நான் இருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">சொன்னதை செய்திடுவேன் கைவிடவே மாட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">நீ வாழும் இந்த தேசம் உனக்குத் தந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பரவி பாய்கின்ற ஆறுகள் நீதானே</samp>
<samp charset="UTF-8" class="lyricline">நதியோரம் வளருகின்ற தோட்டமும் நீ தானே</samp>
<samp charset="UTF-8" class="lyricline">வாசனை தருகின்ற சந்தனமும் நீதானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பத்தில் ஒரு பங்கு நீ கொடுத்தால்</samp>
<samp charset="UTF-8" class="lyricline">வானத்தின் பலகணிகள் திறந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">இடம் கொள்ளாதமட்டும் நிரப்பிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. எனது சாயலாய் உருவாக்கி நடத்துகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">பலுகி பெருகிடுங்கள் பூமியெல்லாம் நிரம்பிடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">உயிர் வாழும் அனைத்தின் மேல் ஆளுகை செய்திடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. வானத்து விண்மீன் போல ஒளி கொடுப்பாய்</samp>
<samp charset="UTF-8" class="lyricline">கடற்கரை மணலை போல பெருகிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">எதிரியின் வாசல்களை உரிமை ஆக்கிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. நீரண்டை வளருகின்ற செடியும் நீதானே</samp>
<samp charset="UTF-8" class="lyricline">மதில் மேல் ஏறுகின்ற கொடியும் நீதானே</samp>
<samp charset="UTF-8" class="lyricline">பகை நிறைந்த உலகத்திலே அன்பு கரம் நீட்டிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. மாராவின் கசந்த தண்ணீர் மதுரமாகிடும்</samp>
<samp charset="UTF-8" class="lyricline">பன்னிரெண்டு நீருற்றும் ஏலீமும் உனக்கு உண்டு</samp>
<samp charset="UTF-8" class="lyricline">கல்வாரி நிழல்தனிலே காலமெல்லாம் வாழ்ந்திடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">9. கர்த்தரின் குரலுக்கு கவனமாய் செவிகொடுத்து</samp>
<samp charset="UTF-8" class="lyricline">பார்வைக்கு நல்லதையே செய்து</samp>
<samp charset="UTF-8" class="lyricline"> நீ வாழ்ந்து வந்தால் வியாதி வருவதில்லை குணமாக்கும் ஆண்டவர் நான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">10. உணவையும் தண்ணீரையும் ஆசீர்வதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">மலடு இருப்பதில்லை Abortion ஆவதில்லை</samp>
<samp charset="UTF-8" class="lyricline">ஆவியிலும் உண்மையிலும் ஆராதனை செய்திடுங்கள்</samp></div></div>   
        
     </div>