<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1864" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தின் எழுப்புதலை</samp>
<span class="chordline">                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தின் எழுப்புதலை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வாருங்கள் வந்து பாருங்கள்</samp>
<span class="chordline"><b>A</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தின் எழுப்புதலை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஓசன்னா பாடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">வாருங்கள் வந்து பாடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">ஓசன்னா பாடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சாத்தானின் கோட்டைகளை</samp>
<samp charset="UTF-8" class="lyricline">தகர்த்துவிட்டோம் ஜெயம் பெற்றுவிட்டோம்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தினால்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் எழுப்புதலை</samp>
<samp charset="UTF-8" class="lyricline">வாருங்கள் வந்து பாருங்கள்</samp>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் எழுப்புதலை</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை செய்யுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">வாருங்கள் வந்து போற்றுங்கள்</samp></div></div>   
        
     </div>