<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1865" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நமக்கொரு தகப்பன் உண்டு</samp>
<span class="chordline">                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரே நம் தெய்வம்</samp>
<span class="chordline">            <b>D</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாமே அவரிலிருந்து வந்தன</samp>
<span class="chordline">                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நாமோ அவருக்காக வாழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>C</b>         <b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. திக்கற்ற பிள்ளைகளுக்கு தகப்பன் இவர்</samp>
<span class="chordline"><b>C</b>              <b>G</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவைகளை அறிந்த நல்ல தந்தை இவர்</samp>
<span class="chordline"><b>G</b>       <b>Em</b>           <b>F#m</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உணவு ஊட்டுகிறார் உடையும் உடுத்துகிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா.... அப்பா.... தகப்பனே</samp>
<span class="chordline">       <b>D7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்று கூப்பிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. ஆட்கொண்டு நடத்துகிறார் அதிசயமாய்</samp>
<samp charset="UTF-8" class="lyricline">உருவாக்கி மகிழ்கின்றார் ஒவ்வொரு நாளும்</samp>
<samp charset="UTF-8" class="lyricline">கேட்பதை கொடுத்திடுவார் தட்டும்போது திறந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இரக்கம் நிறைந்த தந்தை அவர்</samp>
<samp charset="UTF-8" class="lyricline">ஆறுதல் அனைத்திற்கும் ஊற்று அவர்</samp>
<samp charset="UTF-8" class="lyricline">கணவனை இழந்தவர்க்கு காப்பாளர் அவர் தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. குழந்தையாய் இருக்கும் போதே நேசித்தவர்</samp>
<samp charset="UTF-8" class="lyricline">எகிப்தில் இருந்து என்னை அழைத்துக்கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">கரங்கள் பிடித்துக் கொண்டு நடக்கப்பழக்குகிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. அன்புகரங்களால் அணைத்துக் கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">பரிவு என்னும் கயிறுகளால் பிணைத்துக் கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">நுகத்தை அகற்றிவிட்டார் ஜெயத்தை தந்துவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">(பின்வருமாறும் பாடலாம்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எங்கள் தகப்பனே எங்கள் தந்தையே</samp>
<samp charset="UTF-8" class="lyricline">எல்லாமே உம்மிடம் இருந்து வந்தன</samp>
<samp charset="UTF-8" class="lyricline">எந்நாளும் உமக்குதானே ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">1. இரக்கம் நிறைந்த தந்தை நீரே</samp>
<samp charset="UTF-8" class="lyricline">ஆறுதல் அனைத்திற்கும் ஊற்று நீரே</samp>
<samp charset="UTF-8" class="lyricline">கணவனை இழந்தவர்க்கு காப்பாளர் நீர்தானையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அப்பா.... அப்பா.... தகப்பனே நன்றி ஐயா</samp></div></div>   
        
     </div>