<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1866" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பிரசன்னம் தாரும் பிரசன்னம்</samp>
<span class="chordline"><b>B</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பிரசன்னம் தேவ பிரசன்னம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்பப்பிரசன்னம்</samp>
<span class="chordline">          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இன்னல் போக்கும் பிரசன்னம்</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றும் என்றும் மாறா</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேவப்பிரசன்னம்...-பிரசன்னம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வல்லப்பிரசன்னம்</samp>
<samp charset="UTF-8" class="lyricline">வழிகாட்டும் பிரசன்னம்...</samp>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையெங்கும் ஒளிவீசும்</samp>
<samp charset="UTF-8" class="lyricline">தேவப்பிரசன்னம் -பிரசன்னம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஜீவப்பிரசன்னம்</samp>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்க்கும் பிரசன்னம்...</samp>
<samp charset="UTF-8" class="lyricline">ஜீவத்தண்ணீர் பொங்கிவரும்</samp>
<samp charset="UTF-8" class="lyricline">தேவப்பிரசன்னம்...-பிரசன்னம்</samp></div></div>   
        
     </div>