<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1867" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                   <b>C</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பயமில்லையே.... பயமில்லையே</samp>
<span class="chordline"><b>A</b>           <b>D</b>       <b>G</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பயமே எனக்கு இல்ல  இனி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                          <b>D7</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. அநாதி தேவன் அடைக்கலமானாரே</samp>
<span class="chordline">                  <b>E</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவரது புயங்கள் ஆதாரமாயிற்றே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இரட்சிக்கப்பட்ட பாக்கிவான் நானே</samp>
<samp charset="UTF-8" class="lyricline">எனக்கு ஒப்பான மனிதன் யாருண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சகாயம் செய்யும் கேடகமானாரே</samp>
<samp charset="UTF-8" class="lyricline">வெற்றி தருகின்ற பட்டயம் ஆனாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பாதுகாப்புடன் சுகமாய் வாழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">திராட்சை ரசமும் தானியமும் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">(இயேசுவின் இரத்தமும் வார்த்தையும் எனக்குண்டு)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. எனது வானம் பனியைப் பெய்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">மழையைப் பொழிந்து தேசத்தை நிரப்பிடுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எதிரிஎன்முன் கூனிக் குறுகிடுவான்</samp>
<samp charset="UTF-8" class="lyricline">அவன் தலை மேலே ஏறி மிதித்திடுவேன் </samp></div></div>   
        
     </div>