<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1868" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நினைவு கூரும் தெய்வமே நன்றி</samp>
<span class="chordline"><b>A7</b>       <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நிம்மதி தருபவரே நன்றி</samp>
<span class="chordline"><b>G</b>             <b>D</b>  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி இயேசு ராஜா</samp>
<span class="chordline"><b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி இயேசு ராஜா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. நோவாவை நினைவு கூர்ந்ததால்</samp>
<span class="chordline"><b>Em</b>             <b>A</b>           <b>F#</b> <b>Bm</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெருங்காற்று வீசச் செய்தீரே  அன்று</samp>
<span class="chordline"><b>G</b>         <b>D</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தண்ணீர் வற்றியதைய்யா</samp>
<span class="chordline">               <b>D</b>          <b>G</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலையும் வந்ததைய்யா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. ஆபிரகாமை நினைவு கூர்ந்ததால்</samp>
<samp charset="UTF-8" class="lyricline">லோத்துவை காப்பாற்றினீரே</samp>
<samp charset="UTF-8" class="lyricline">எங்களையும் நினைவு கூர்ந்து</samp>
<samp charset="UTF-8" class="lyricline">எங்கள் சொந்தங்களை இரட்சியுமைய்யா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. அன்னாளை நினைவு கூர்ந்ததால்</samp>
<samp charset="UTF-8" class="lyricline">ஆண்குழந்தை பெற்றெடுத்தாளே</samp>
<samp charset="UTF-8" class="lyricline">மலட்டு வாழ்க்கையெல்லாம் (ஞுகட;)</samp>
<samp charset="UTF-8" class="lyricline">மாற்றுகிறீர் நன்றி ஐயா  எங்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கொர்நெலியு தான தர்மங்கள்  ஒரு</samp>
<samp charset="UTF-8" class="lyricline">தூதனைக் கொண்டு வந்தது</samp>
<samp charset="UTF-8" class="lyricline">குடும்பத்தையும் நண்பர்களையும்</samp>
<samp charset="UTF-8" class="lyricline">இரட்சித்து அபிஷேகித்தீரே  அவன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ராகேலை நினைவு கூர்ந்ததால்</samp>
<samp charset="UTF-8" class="lyricline">யோசேப்பை பரிசாய் தந்தீரே</samp>
<samp charset="UTF-8" class="lyricline">இன்னுமொரு மகனைத் தருவீர்</samp>
<samp charset="UTF-8" class="lyricline">என்று சொல்லி துதிக்கச் செய்தீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எக்காளம் ஊதும் போதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">எங்களை நினைக்கின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">எதிரிகளின் கையிலிருந்து</samp>
<samp charset="UTF-8" class="lyricline">இரட்சித்து காப்பாற்றுகிறீர்</samp></div></div>   
        
     </div>