<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1869" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">காக்கும் தெய்வம் இயேசு இருக்க</samp>
<span class="chordline"><b>Dm</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கலக்கம் ஏன் மனமே?</samp>
<span class="chordline"><b>G</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் ஏன் மனமே?</samp>
<span class="chordline"><b>F</b>         <b>G</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் ஏன் மனமே?</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">1. இதுவரை உன்னை நடத்தின தேவன்</samp>
<span class="chordline">          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இனியும் நடத்திச் செல்வார்</samp>
<span class="chordline"><b>F</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எபிநேசர் அவர் தானே</samp>
<span class="chordline"><b>G</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எபிநேசர் அவர் தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சிலுவை சுமந்தால் சுபாவம் மாறும்</samp>
<samp charset="UTF-8" class="lyricline">தெரிந்து கொள் மனமே</samp>
<samp charset="UTF-8" class="lyricline">சீடன் அவன் தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பாடுகள் சகித்தால் பரமனின் வருகையில்</samp>
<samp charset="UTF-8" class="lyricline">கூடச் சென்றிடலாம்</samp>
<samp charset="UTF-8" class="lyricline">பாடி மகிழ்ந்திடலாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. காண்கின்ற உலகம் நமது இல்லை</samp>
<samp charset="UTF-8" class="lyricline">காணாத பரலோகம் தான்</samp>
<samp charset="UTF-8" class="lyricline">நமது குடியிருப்பு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. சீக்கிரம் நீங்கிடும் உலகப்பாடுகள்</samp>
<samp charset="UTF-8" class="lyricline">மகிமையை கொண்டு வரும்</samp>
<samp charset="UTF-8" class="lyricline">மறவாதே என் மனமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. மலைகள் விலகும் குன்றுகள் அகலும்</samp>
<samp charset="UTF-8" class="lyricline">கிருபை விலகாதென்றார்</samp>
<samp charset="UTF-8" class="lyricline">மனது உருகும் தெய்வம்</samp></div></div>   
        
     </div>