<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1870" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நாமே திருச்சபை கிறிஸ்துவின் திரு உடல்</samp>
<span class="chordline"><b>B</b>                                              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஒவ்வொருவரும் அதன் தனித் தனி உறுப்புக்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>            <b>G#m</b>             <b>A</b>         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">1. ஒரு உறுப்பு துன்பப்பட்டால் துன்பப்பட்டால்</samp>
<span class="chordline"><b>A</b>                  <b>B</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மற்ற அனைத்தும் துன்பப்படும் கூடவே துன்பப்படும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>           <b>A</b>      <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உணர்ந்திடுவோம் இணைந்திடுவோம்</samp>
<span class="chordline">        <b>A</b>     <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஓர் உடலாய் செயல்படுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. ஒரு உறுப்பு புகழ் அடைந்தால் புகழ் அடைந்தால்</samp>
<samp charset="UTF-8" class="lyricline">மற்ற அனைத்தும் மகிழ்ச்சியுறும் சேர்ந்து மகிழ்ச்சியுறும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இயேசு கிறிஸ்து பாடுபட்டு பகையை ஒழித்தார்</samp>
<samp charset="UTF-8" class="lyricline">கடவுளோடு ஒப்புரவாக ஒரு உடலாக்கிவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பொழுது இன்று சாய்வதற்குள் சினம் தணியட்டும்</samp>
<samp charset="UTF-8" class="lyricline">அலகைக்கு இனி இடம் வேண்டாம் இடமே</samp>
<samp charset="UTF-8" class="lyricline">கொடுக்க வேண்டாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஒரு உடலாய் இருப்பதனால் பொய்யை விலக்குவோம்</samp>
<samp charset="UTF-8" class="lyricline">உண்மைதனை பேசிடுவோம் நன்மை செய்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. தேவையிலே உழல்வோர்க்கு பகிர்ந்து கொடுத்திட</samp>
<samp charset="UTF-8" class="lyricline">நம் கைகளால் பாடுபட்டு உழைத்து மகிழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. கேட்போரெல்லாம் பயனடைந்து பக்தியில் வளர</samp>
<samp charset="UTF-8" class="lyricline">நல்வார்த்தை நாள்தோறும் சொல்லி உதவிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. மனக்கசப்பு பழிச்சொற்கள் நீக்க வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">பரிவு காட்டி மனமாற மன்னிக்க வேண்டுமே</samp></div></div>   
        
     </div>