<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1871" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>              <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் நான் வாழ்கிறேன்</samp>
<span class="chordline"><b>Bm</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உமக்குள்ளே வளர்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">1. ஜீவத்தண்ணீராம் உமக்குள்ளே</samp>
<span class="chordline"><b>B7</b>                               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வேர் கொண்டு வளரும் மரம் நானே</samp>
<span class="chordline"><b>A</b>         <b>D</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">படர்ந்திடுவேன் நிழல் தருவேன்</samp>
<span class="chordline"><b>A</b>           <b>D</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பறவைகள் தங்கும் வீடாவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அடித்தளம் இரட்சகர் இயேசுவின் மேல்</samp>
<samp charset="UTF-8" class="lyricline">அமைந்து உயரும் கட்டடம் நான்</samp>
<samp charset="UTF-8" class="lyricline">பெருங்காற்று அசைப்பதில்லை</samp>
<samp charset="UTF-8" class="lyricline">பெருமழையோ பிரிப்பதில்லை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இயேசுவே எனது தலையானீர்</samp>
<samp charset="UTF-8" class="lyricline">நானோ உமது உடலானேன்</samp>
<samp charset="UTF-8" class="lyricline">உம் நினைவு என் உணவு</samp>
<samp charset="UTF-8" class="lyricline">உம் விருப்பம் என் ஏக்கம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. செடியான உம்மோடு இணைந்துவிட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">கொடியாய் படர்ந்து கனி தருவேன்</samp>
<samp charset="UTF-8" class="lyricline">இலைகளெல்லாம் மருந்தாகும்</samp>
<samp charset="UTF-8" class="lyricline">கனிகளெல்லாம் விருந்தாகும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உமது வார்த்தைகள் எனக்குள்ளே</samp>
<samp charset="UTF-8" class="lyricline">உந்தன் ஆவி என்னோடே</samp>
<samp charset="UTF-8" class="lyricline">மீட்பளிக்கும் நறுமணம் நான்</samp>
<samp charset="UTF-8" class="lyricline">கேட்பதெல்லாம் பெற்றுக் கொள்வேன்</samp></div></div>   
        
     </div>