<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1872" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கண்களை பதிய வைப்போம்</samp>
<span class="chordline"><b>A</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தராம் இயேசுவின் மேல்</samp>
<span class="chordline">                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கடந்ததை மறந்திடுவோம்</samp>
<span class="chordline"><b>A</b>           <b>D</b>            <b>G</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து முன் செல்லுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">1. சூழ்ந்து நிற்கும் சுமைகள்</samp>
<span class="chordline"><b>Em</b>                       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நெருங்கி பற்றும் பாவங்கள்</samp>
<span class="chordline"><b>D</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உதறித் தள்ளிவிட்டு</samp>
<span class="chordline"><b>D</b>           <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஓடுவோம் உறுதியுடன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. இழிவை எண்ணாமலே</samp>
<samp charset="UTF-8" class="lyricline">சிலுவையை சுமந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">வல்லவர் அரியணையின்</samp>
<samp charset="UTF-8" class="lyricline">வலப்பக்கம் வீற்றிருக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தமக்கு வந்த எதிர்ப்பை</samp>
<samp charset="UTF-8" class="lyricline">தாங்கி கொண்ட அவரை</samp>
<samp charset="UTF-8" class="lyricline">சிந்தையில் நிறுத்திடுவோம்  (மனம்)</samp>
<samp charset="UTF-8" class="lyricline">சோர்ந்து போகமாட்டோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஓட்டத்தை தொடங்கினவர்</samp>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து நடத்திடுவார்  நம்</samp>
<samp charset="UTF-8" class="lyricline">நிறைவு செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">நிச்சயம் பரிசு உண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. மேகம் போன்ற சாட்சிகள்</samp>
<samp charset="UTF-8" class="lyricline">நம்மை சூழ்ந்து நிற்க</samp>
<samp charset="UTF-8" class="lyricline">நியமித்த ஓட்டத்திலே</samp>
<samp charset="UTF-8" class="lyricline">ஓடுவோம் பொறுமையோடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. பாவத்திற்கு எதிராய்</samp>
<samp charset="UTF-8" class="lyricline">போராட்டம் நமக்கு உண்டு</samp>
<samp charset="UTF-8" class="lyricline">இரத்தம் சிந்தும் அளவு</samp>
<samp charset="UTF-8" class="lyricline">எதிர்த்து நிற்கவில்லையே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. தடைகள் நீக்கும் இயேசு</samp>
<samp charset="UTF-8" class="lyricline">நமக்கு முன் செல்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">தடை செய்யும் கற்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">முன்னேற்றும் படிகளாகும்</samp></div></div>   
        
     </div>