<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1876" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                                            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பசுமையான புல்வெளியில் படுக்க வைப்பவரே</samp>
<span class="chordline">                               <b>A7</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அமைதியான தண்ணீரண்டை அழைத்துச் செல்பவரே</samp>
<span class="chordline">                                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நோயில்லாத சுகவாழ்வு எனக்கு தந்தவரே</samp>
<span class="chordline">                             <b>A7</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கரம்பிடித்து கடனில்லாமல் நடத்திச் செல்பவரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">             <b>A</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் மேய்ப்பரே....... நல் ஆயனே</samp>
<span class="chordline"><b>D</b>                <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கொன்றும் குறையில்லப்பா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                                     <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">1. கரங்களாலே அணைத்துக் கொண்டு, சுமந்து செல்கிறீர்</samp>
<span class="chordline">                                   <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மறந்திடாமல் உணவு கொடுத்து, பெலன் தருகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. மரண இருள் பள்ளத்தாக்கில் நடக்க நேர்ந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">அப்பா நீங்க இருப்பதாலே எனக்கு பயமில்ல</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஜீவனுள்ள நாட்களெல்லாம் நன்மை தொடருமே</samp>
<samp charset="UTF-8" class="lyricline">தேவன் வீட்டில் தினம் தினம் தங்கி மகிழ்வேனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. புதிய உயிர் தினம் தினம் எனக்குத் தருகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">உம் பெயருக்கேற்ப பரிசுத்தமாய் நடத்தி செல்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. எனது உள்ளம் அபிஷேகத்தால் நிரம்பி வழியுதே</samp>
<samp charset="UTF-8" class="lyricline">எல்லா நாளும் நன்றிப் பாடல் பாடி மகிழுதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. எதிரிகளின் கண் முன்னே விருந்து தருகின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">எனது தலையில் நறுமணத் தைலம் பூசுகிறீர்</samp></div></div>   
        
     </div>