<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1878" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மனமிரங்கும் தெய்வம் இயேசு</samp>
<span class="chordline"><b>Am</b>    <b>Bb</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் தந்து நடத்திச் செல்வார்</samp>
<span class="chordline"><b>Dm</b>                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மனமிரங்கும் தெய்வம் இயேசு</samp>
<span class="chordline">      <b>Bb</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் தந்து நடத்திச் செல்வார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>               <b>Am</b>       <b>Bb</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ரஃப்பா...... இன்றும் வாழ்கிறார்</samp>
<span class="chordline"><b>C</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் தரும் தெய்வம் இயேசு</samp>
<span class="chordline"><b>Bb</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் இன்று தருகிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Dm</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">1. பேதுரு வீட்டுக்குள் நுழைந்தார்  மாமி</samp>
<span class="chordline"><b>C</b>        <b>Bb</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கரத்தை பிடித்து தூக்கினார்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">காய்ச்சல் உடனே அன்று நீங்கிற்று  அவள்</samp>
<span class="chordline"><b>Bb</b>                        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் தொண்டு செய்து மகிழ்ந்தாள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. குஷ்டரோகியை கண்டார்  இயேசு</samp>
<samp charset="UTF-8" class="lyricline">கரங்கள் நீட்டித் தொட்டார்</samp>
<samp charset="UTF-8" class="lyricline">சித்தமுண்டு சுத்தமாகு  என்று</samp>
<samp charset="UTF-8" class="lyricline">சொல்லி சுகத்தைத் தந்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நிமிர முடியாத கூனி  அன்று</samp>
<samp charset="UTF-8" class="lyricline">இயேசு அவளைக் கண்டார்</samp>
<samp charset="UTF-8" class="lyricline">கைகள் அவள் மேலே வைத்தார்  உடன்</samp>
<samp charset="UTF-8" class="lyricline">நிமிர்ந்து துதிக்கச் செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பிறவிக் குருடன் பர்த்திமேயு அன்று</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவே இரங்கும் என்றான்</samp>
<samp charset="UTF-8" class="lyricline">பார்வையடைந்து மகிழ்ந்தான் உடன்</samp>
<samp charset="UTF-8" class="lyricline">இயேசு பின்னே நடந்தான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கதறும் பேதுருவைக் கண்டு  இயேசு</samp>
<samp charset="UTF-8" class="lyricline">கரங்கள் நீட்டிப் பிடித்தார்</samp>
<samp charset="UTF-8" class="lyricline">படகில் ஏறச் செய்து  அவர்</samp>
<samp charset="UTF-8" class="lyricline">கரையில் கொண்டு போய்ச் சேர்த்தார்</samp></div></div>   
        
     </div>