<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1880" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                       <b>Eb</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சபையோரே எல்லாரும் கர்த்தரைத் துதியுங்கள்</samp>
<span class="chordline">                        <b>Bb</b>        <b>D7</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஜனங்களே எல்லாரும் அவரைப் போற்றுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Eb</b>                       <b>Cm</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நம்மேல் வைத்த கிருபை பெரியது</samp>
<span class="chordline"><b>Eb</b>                <b>Cm</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அவரது இரக்கம் என்றும் உள்ளது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">                         <b>Bb</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. நம் தேவன் உயர்ந்த செல்வந்தர் அன்றோ</samp>
<span class="chordline">              <b>Gm</b>               <b>Eb</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தேவையான அனைத்தையும் மிகுதியாய் தருவார்</samp>
<span class="chordline"><b>Eb</b>                    <b>Cm</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அநேக ஜனங்களுக்கு கொடுக்கச் செய்திடுவார்</samp>
<span class="chordline"><b>Eb</b>                 <b>Cm</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கடன் வாங்காமல் வாழச் செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கர்த்தர் குரல் கேட்கும் ஆடுகள் நாம்</samp>
<samp charset="UTF-8" class="lyricline">முடிவில்லா வாழ்வு நமக்குத் தந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">ஒருவனும் பறித்துக் கொள்ள முடியாதென்றார்</samp>
<samp charset="UTF-8" class="lyricline">ஒரு நாளும் அழிந்து போக விடமாட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. நமது கர்த்தரோ உறைவிடம் ஆனார்</samp>
<samp charset="UTF-8" class="lyricline">இன்னல்கள் நடுவிலே மறைவிடம் ஆனார்</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை கீதங்கள் பாட வைக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">வெற்றிக் கொடி அசைத்து ஆடவைக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. சொந்த மகனென்று பார்க்காமலே</samp>
<samp charset="UTF-8" class="lyricline">நாம் வாழ இயேசுவை நமக்குத் தந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">அவரோடு கூட மற்ற எல்லா நன்மைகளும்</samp>
<samp charset="UTF-8" class="lyricline">அருள்வார் என்பது நிச்சயம் தானே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. தேவனாம் கர்த்தருக்கு ஊழியம் செய்தால்</samp>
<samp charset="UTF-8" class="lyricline">உணவையும் தண்ணீரையும் மிகுதியாய் தருவார்</samp>
<samp charset="UTF-8" class="lyricline">எல்லா நோய்களையும் அகற்றிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">குழந்தை பாக்கியமும் கொடுத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. கிறிஸ்துவின் வார்த்தைகள் நமக்குள் இருந்தால்</samp>
<samp charset="UTF-8" class="lyricline">விரும்பிக் கேட்பதெல்லாம் கிடைத்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">மிகுந்த கனி தந்து சீடர்களாய் வாழ்வோம்</samp>
<samp charset="UTF-8" class="lyricline">அதுவே தகப்பனுக்கு புகழ்ச்சி உண்டாக்கும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. துன்பத்தின் நடுவே நாம் நடக்கும்போதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">வலக்கரம் தாங்கி நம்மை வாழ வைக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">வாக்களித்த அனைத்தையும் செய்து முடிப்பார்</samp>
<samp charset="UTF-8" class="lyricline">ஏக்கமெல்லாம் எப்படியும் நிறைவேற்றுவார்</samp></div></div>   
        
     </div>