<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1882" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னைக் காக்கும் கேடகமே</samp>
<span class="chordline"><b>A</b>                  <b>A7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தலையை நிமிரச் செய்பவரே</samp>
<span class="chordline">                <b>A</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்று உமக்கு ஆராதனை</samp>
<span class="chordline"><b>A</b>             <b>A7</b>  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் உமக்கே ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>                <b>Dsus4</b></span>
<samp charset="UTF-8" class="lyricline">1. உம்மை நோக்கி நான் கூப்பிட்டேன்</samp>
<span class="chordline"><b>A</b>                 <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கு பதில் நீர் தந்தீரய்யா</samp>
<span class="chordline"><b>Em11</b>             <b>F#m11</b></span>
<samp charset="UTF-8" class="lyricline">படுத்து உறங்கி விழித்தெழுவேன்</samp>
<span class="chordline"><b>Bm11</b>            <b>A7</b>   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என்னைத் தாங்குகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline"><b>A7</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா அப்பா அப்பா அப்பா உங்களுக்குத்தான்</samp>
<span class="chordline"><b>D</b>                  <b>G</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உங்களுக்குத்தான் உங்களுக்குத்தான் உங்களுக்குத்தான்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சூழ்ந்து எதிர்க்கும் பகைவருக்கு</samp>
<samp charset="UTF-8" class="lyricline">அஞ்சமாட்டேன் அஞ்சவே மாட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை தரும் தெய்வம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">வெற்றிப் பாதையில் நடத்துகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. பக்தியுள்ள அடியார்களை</samp>
<samp charset="UTF-8" class="lyricline">உமக்கென்று நீர் பிரித்தெடுத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">வேண்டும்போது செவிசாய்க்கின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">என்பதை நான் அறிந்து கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. உலகப் பொருள் தரும் மகிழ்வை விட</samp>
<samp charset="UTF-8" class="lyricline">மேலான மகிழ்ச்சி எனக்கு தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">நீர் ஒருவரே பாதுகாத்து</samp>
<samp charset="UTF-8" class="lyricline">சுகமாய் வாழச் செய்கின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உமது அன்பில் மகிழ்ந்திருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">உம்மோடுதான் நான் வாழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">எனக்கு நன்மை செய்தபடியால்</samp>
<samp charset="UTF-8" class="lyricline">நன்றிப் பாடல் பாடிடுவேன்</samp></div></div>   
        
     </div>