<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1883" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மலைமேல் ஏறுவோம் மரங்களை வெட்டுவோம்</samp>
<span class="chordline"><b>C</b>                     <b>D</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆலயம் கட்டுவோம் அவர் பணி செய்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நாடெங்கும் சென்றிடுவோம்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நற்செய்தி சொல்லிடுவோம்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">சபைகளை நிரப்பிடுவோம்</samp>
<span class="chordline"><b>D</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியாய் வாழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. தேவனின் வீடு பாழாய்க்கிடக்குதே</samp>
<span class="chordline">                  <b>C</b>         <b>Em</b>         <b>G</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நாமோ நமக்காய் வாழ்வது நியாயமா வாழ்வது நியாயமா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. திரளாய் விதைத்தும் கொஞ்சமாய் அறுப்பதேன்</samp>
<samp charset="UTF-8" class="lyricline">வருகின்ற பணமெல்லாம் வீணாய்ப் போவதேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. மனந்தளராமல் பணியைத் தொடருங்கள்</samp>
<samp charset="UTF-8" class="lyricline">படைத்தவர் நம்மோடு பயமே வேண்டாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. தேவன் தந்த ஆரம்ப ஊழியத்தை</samp>
<samp charset="UTF-8" class="lyricline">அற்பமாய் எண்ணாதே அசட்டை பண்ணாதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. ஜனங்கள் விரும்புகின்ற தலைவர் வந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">மகிமையால் நிரப்பிடுவார் மறுபமாக்கிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. சாப்பிட்டும் திருப்தியில்லை குடித்தும் நிறைவில்லை</samp>
<samp charset="UTF-8" class="lyricline">ஆடை அணிகின்றோம் குளிரோ போகவில்லை</samp></div></div>   
        
     </div>