<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1884" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கடி வேளையில் பதிலளித்து</samp>
<span class="chordline"><b>A</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்து நடத்திடுவார்</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன்னோடு இருந்து ஆதரித்து</samp>
<span class="chordline">    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் உதவிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. நீ செலுத்தும் காணிக்கைகள்</samp>
<span class="chordline">          <b>C</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நினைவு கூர்ந்திடுவார்</samp>
<span class="chordline">                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி பலி அனைத்தையுமே</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பிரியமாய் ஏற்றுக்கொள்வார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. உன் மனம் விரும்புவதை</samp>
<samp charset="UTF-8" class="lyricline">உனக்குத் தந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">உனது திட்டங்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">நிறைவேற்றி முடித்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உனக்கு வரும் வெற்றியைக் கண்டு</samp>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சியில் ஆர்ப்பரிப்போம்</samp>
<samp charset="UTF-8" class="lyricline">நம் தேவன் நாமத்திலே</samp>
<samp charset="UTF-8" class="lyricline">வெற்றிக் கொடி நாட்டிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இரதங்களை நம்பும் மனிதர்</samp>
<samp charset="UTF-8" class="lyricline">இடறி விழுந்தார்கள்</samp>
<samp charset="UTF-8" class="lyricline">தேவனை நம்பும் நாமோ</samp>
<samp charset="UTF-8" class="lyricline">நிமிர்ந்து நின்றிடுவோம்</samp></div></div>   
        
     </div>