<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1885" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மரணமே உன் கூர் எங்கே?</samp>
<span class="chordline"><b>Bb</b>               <b>C</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாதாளமே உன் ஜெயம் எங்கே?</samp>
<span class="chordline">             <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை ஜெயித்த மன்னவன் இயேசு</samp>
<span class="chordline"><b>Dm</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குள் வந்துவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சாவை அழித்து அழியா வாழ்வை</samp>
<span class="chordline"><b>A</b>                  <b>Bb</b> <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குத் தந்துவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">1. சாவுக்கு அதிபதி சாத்தானை  இயேசு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சாவாலே வென்றுவிட்டார்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரண பயத்தினால் வாடும் மனிதரை</samp>
<span class="chordline"><b>F</b>           <b>Bb</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">விடுவித்து மீட்டுக் கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பயமில்லையே மரண பயமில்லையே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஜெயம் எடுத்தார் இயேசு ஜெயம் எடுத்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அழிவுக்குரிய இவ்வுடல் ஒருநாள்</samp>
<samp charset="UTF-8" class="lyricline">அழியாமை அணிந்து கொள்ளும்</samp>
<samp charset="UTF-8" class="lyricline">சாவுக்குரிய இவ்வுடல் ஒரு நாள்</samp>
<samp charset="UTF-8" class="lyricline">சாகாமை அணிந்து கொள்ளும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இறந்தோர் மேலும் வாழ்வோர் மேலும்</samp>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்திடவே</samp>
<samp charset="UTF-8" class="lyricline">இயேசு மரித்து உயிர்த்து எழுந்தார்</samp>
<samp charset="UTF-8" class="lyricline">இன்றைக்கும் ஜீவிக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. கட்டளை பிறக்க தூதர் குரல் ஒலிக்க</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இயேசு வந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவுக்குள் வாழ்வோர் கிறிஸ்துவுக்குள் மரித்தோர்</samp>
<samp charset="UTF-8" class="lyricline">எதிர் கொண்டு சென்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. பூமிக்குரிய கூடாரமான</samp>
<samp charset="UTF-8" class="lyricline">இவ்வீடு அழிந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">பரமன் கட்டிய நிலையான வீடு</samp>
<samp charset="UTF-8" class="lyricline">பரலோகத்தில் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. அகரமும் நகரமும் தொடக்கமும் முடிவும்</samp>
<samp charset="UTF-8" class="lyricline">நான் தானே என்று சொன்னவர்</samp>
<samp charset="UTF-8" class="lyricline">அவனவன் கிரியைக்குத் தகுந்த பரிசு அளிக்க</samp>
<samp charset="UTF-8" class="lyricline">சீக்கிரத்தில் வருகின்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. பரிசுத்தவான்களின் மரணம் என்றும்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரின்  பார்வையிலே</samp>
<samp charset="UTF-8" class="lyricline">அருமையானது மதிப்பிற்குரியது</samp>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து கொண்டாடு</samp></div></div>   
        
     </div>