<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1886" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நன்றிப்பலிபீடம் கட்டுவோம்</samp>
<span class="chordline"><b>C</b>                             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல தெய்வம் நன்மை செய்தார்</samp>
<span class="chordline">                        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">செய்த நன்மை ஆயிரங்கள்</samp>
<span class="chordline"><b>C</b>                        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லிச் சொல்லி பாடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>           <b>B</b>   <b>D</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி தகப்பனே நன்மை செய்தீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1. ஜீவன் தந்து நீர் அன்புகூர்ந்தீர்</samp>
<span class="chordline">                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் நீங்கிட கழுவி விட்டீர்</samp>
<span class="chordline"><b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கென்று வாழ பிரித்தெடுத்து</samp>
<span class="chordline"><b>B7</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமது ஊழியம் செய்ய வைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. சிறந்த முறையிலே குரல் எழுப்பும்</samp>
<samp charset="UTF-8" class="lyricline">சிலுவை இரத்தம் நீர் சிந்தினீரே</samp>
<samp charset="UTF-8" class="lyricline">இரத்தக் கோட்டைக்குள் வைத்துக் கொண்டு</samp>
<samp charset="UTF-8" class="lyricline">எதிரி நுழையாமல் காத்துக்கொண்டீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. இருளின் அதிகாரம் அகற்றிவிட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">இயேசு அரசுக்குள் சேர்த்துவிட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கு சொந்தமாய் வாங்கிக் கொண்டு</samp>
<samp charset="UTF-8" class="lyricline">உரிமைச் சொத்தாக வைத்துக் கொண்டீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பார்க்கும் கண்களை தந்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">பாடும் உதடுகள் தந்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">உழைக்கும் கரங்களை தந்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">ஓடும் கால்களைத் தந்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. இருக்க நல்ல ஒரு வீடு தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">வாழத் தேவையான வசதி தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">கடுமையாக தினம் உழைக்க வைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">கடனே இல்லாமல் வாழ வைத்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. புதிய உடன்பாட்டின் அடையாளமாய்</samp>
<samp charset="UTF-8" class="lyricline">புனித இரத்தம் ஊற்றினீரே</samp>
<samp charset="UTF-8" class="lyricline">சத்திய ஜீவ வார்த்தையாலே</samp>
<samp charset="UTF-8" class="lyricline">மரித்த வாழ்வையே மாற்றினீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. எதிராய் வாழ்ந்து வந்த இவ்வுலகை</samp>
<samp charset="UTF-8" class="lyricline">ஒப்புரவாக்கினீர் உம் இரத்தத்தால்</samp>
<samp charset="UTF-8" class="lyricline">தூரம் வாழ்ந்து வந்த எங்களையே</samp>
<samp charset="UTF-8" class="lyricline">அருகில் கொண்டுவந்தீர் ஆவியினால்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. குற்றம் செய்ததால் மரித்திருந்தோம்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவோடே கூட எழச்செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">கிருபையினாலே இரட்சித்தீரே</samp>
<samp charset="UTF-8" class="lyricline">உன்னதங்களிலே உட்காரச் செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">9. இதய பெலவீனம் நீக்கினீரே</samp>
<samp charset="UTF-8" class="lyricline">சுகர் வியாதிகள் போக்கினீரே</samp>
<samp charset="UTF-8" class="lyricline">அல்சர் இல்லாமல் காத்தீரே</samp>
<samp charset="UTF-8" class="lyricline">ஆஸ்மா முற்றிலும் நீங்கியதே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">10. நல்ல குடும்பம் நீர் தந்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">செல்ல பிள்ளைகள் தந்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">அணைக்கும் கணவனை தந்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">அன்பு மனைவியை தந்தீரய்யா</samp></div></div>   
        
     </div>