<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1888" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளமே இளைப்பாறிடு</samp>
<span class="chordline">                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசப்பா உனக்கு நன்மை செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>B</b>        <b>A</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">1. கால்கள் இடறாமல் காப்பாற்றினார்</samp>
<span class="chordline"><b>D</b>     <b>B</b>        <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சாவிலிருந்து விடுவித்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>         <b>A</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">2. நோயின் கட்டுகள் அவிழ்த்துவிட்டார்</samp>
<span class="chordline"><b>D</b>         <b>B</b>            <b>B7</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியன் என்னையும் உயர்த்திவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. எளிய உள்ளத்தை பாதுகாத்தார்</samp>
<samp charset="UTF-8" class="lyricline">தாழ்ந்த நெஞ்சத்தை மீட்டுக்கொண்டார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. மன்றாடும் போது செவிசாய்த்தார்</samp>
<samp charset="UTF-8" class="lyricline">மறவாமல் உறவாடி மகிழச்செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. விண்ணப்பம் கேட்டார் அன்புகூர்வேன்</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை தந்தார் நன்றி சொல்வேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. இரட்சிப்பின் பாத்திரம் கையில் ஏந்தி </samp>
<samp charset="UTF-8" class="lyricline">இரட்சகர் நாமம் உயர்த்திடுவேன்</samp></div></div>   
        
     </div>