<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1890" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் ஜெபங்கள் தூபம் போல</samp>
<span class="chordline"><b>C</b>          <b>D</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம் முன் எழவேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>                       <b>D</b>             <b>G</b>         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">1. ஜெபிக்கும் எலியாக்கள் தேசமெங்கும் எழவேண்டும்</samp>
<span class="chordline"><b>Am</b>                              <b>D7</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உடைந்த பலிபீடம் (உறவுகள்) சரி செய்யப்படவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பனே ஜெபிக்கிறோம்</samp>
<span class="chordline"><b>C</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பனே ஜெபிக்கிறோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பரலோக அக்கினி எங்கும் பற்றி எரியவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">பாவச் செயல்கள் சுட்டெரிக்கப்படவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. தூரம்போன ஜனங்கள் உம் அருகே வரவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரே தெய்வமென்று காலடியில் விழவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. பாகால்கள் இந்தியாவில் இல்லாமல் போகவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">பிசாசின் கிரியைகள் முற்றிலும் அழியவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. பாரததேசத்தை ஜெபமேகம் மூடவேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">பெரிய காற்றடித்து பெருமழை பெய்யவேண்டும்</samp></div></div>   
        
     </div>