<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1891" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கிதியோன் நீ கிதியோன் நீ</samp>
<span class="chordline"><b>B7</b>                           <b>E</b>               <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">தேவனால் அழைக்கப்பட்டு அனுப்பபட்டவன் நீ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>E</b>                       <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">1. உணவுக்குப் போராடும் தேசத்திலே</samp>
<span class="chordline"><b>E</b>         <b>B7</b>                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உண்மை தெய்வத்தை நீ சொல்லணுமே</samp>
<span class="chordline">                            <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">விளைச்சலை கெடுக்கின்ற எதிரிகளை</samp>
<span class="chordline"><b>E</b>          <b>B7</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">விரட்டணுமே இயேசு நாமம் சொல்லி</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாலிபனே வாலிபனே</samp>
<span class="chordline"><b>B7</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியம் செய்திட நீ ஒப்புக்கொடுப்பாயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. தரித்திர ஆவிகளைத் துரத்தணுமே</samp>
<samp charset="UTF-8" class="lyricline">விக்கிரக ஆவிகளை விரட்டணுமே</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் மனம் இறங்க கதறணுமே</samp>
<samp charset="UTF-8" class="lyricline">நாடு நலம் பெற ஜெபிக்கணுமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சுயம் என்ற மண்பாண்டம் உடைத்துவிடு</samp>
<samp charset="UTF-8" class="lyricline">பயம் இன்றி திருவசனம் அறிக்கையிடு</samp>
<samp charset="UTF-8" class="lyricline">மாம்சத்தைப் பலியாக ஒப்புக்கொடு</samp>
<samp charset="UTF-8" class="lyricline">புளியாத அப்பமாக மாறிவிடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இருக்கின்ற பெலத்தோடே புறப்பட்டுப்போ</samp>
<samp charset="UTF-8" class="lyricline">எதிரியை தோற்கடித்து ஜனங்களை மீட்பாய்</samp>
<samp charset="UTF-8" class="lyricline">படைத்தவர் உனக்குள்ளே இருப்பதனால்</samp>
<samp charset="UTF-8" class="lyricline">பராக்கிரமசாலியே பயமே வேண்டாம்</samp></div></div>   
        
     </div>