<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1892" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">வைகறையில் (காலைநேரம்) உமக்காக</samp>
<span class="chordline"><b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">வழிமேல் விழிவைத்து</samp>
<span class="chordline"><b>Bb</b>            <b>Eb</b>          <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">காத்திருக்கின்றேன் இறைவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Cm</b>                  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜெபம் கேட்டு பதில் தாரும்</samp>
<span class="chordline"><b>Bb7</b>                     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பெருமூச்சைப் பார்த்து மனம் இரங்கும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Cm</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">1. உம் இல்லம் வந்தேன் உம் கிருபையினால்</samp>
<span class="chordline"><b>Bb7</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பயபக்தியோடு பணிந்து கொண்டேன்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">நிறைவான மகிழ்ச்சி உம் சமூகத்தில்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">குறையில்லாத பேரின்பம் உம் பாதத்தில்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. ஆட்சி செய்யும் ஆளுநர் நீர்தானய்யா</samp>
<samp charset="UTF-8" class="lyricline">உம்மையன்றி வேறு ஒரு செல்வம் இல்லையே</samp>
<samp charset="UTF-8" class="lyricline">நீர்தானே எனது உரிமைச் சொத்து</samp>
<samp charset="UTF-8" class="lyricline">எனக்குரிய பங்கும் நீர்தானய்யா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. படுகுழியில் பாதாளத்தில் விடமாட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">அழிந்துபோக அனுமதியும் தரமாட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">என் இதயம் பூரித்து துள்ளுகின்றது</samp>
<samp charset="UTF-8" class="lyricline">என் உடலும் பாதுகாப்பில் இளைப்பாறுது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. காலைதோறும் திருப்தியாக்கும் உம் கிருபையால்</samp>
<samp charset="UTF-8" class="lyricline">நாளெல்லாம் களிகூர்ந்து மகிழ்ந்திருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">எப்போதும் என்முன்னே நீர்தானய்யா</samp>
<samp charset="UTF-8" class="lyricline">ஒருபோதும் அசைவுற விடமாட்டீர்</samp></div></div>   
        
     </div>