<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1893" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>              <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா தேவனுக்கே</samp>
<span class="chordline"><b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ராஜானுக்கே</samp>
<span class="chordline"><b>F</b>         <b>F#dim</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன்</samp>
<span class="chordline"><b>C</b>       <b>C#dim</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜன்</samp>
<span class="chordline"><b>Dm</b>            <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b> <b>E</b>    <b>F</b>    <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை (2)</samp>
<span class="chordline"><b>F</b>              <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>G7</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கே … ஆ…..ஆ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">துணையாளரே துணையாளரே</samp>
<samp charset="UTF-8" class="lyricline">துன்பத்தில் தாங்கும் மணவாளரே</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீரை நீக்கி</samp>
<samp charset="UTF-8" class="lyricline">காயங்கள் ஆற்றி</samp>
<samp charset="UTF-8" class="lyricline">கனிவோடு நடத்திடுவார் – ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வெண் மேகமே வெண் மேகமே</samp>
<samp charset="UTF-8" class="lyricline">வெளிச்சம் தாரும் இந்நேரமே</samp>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் ஊற்றி</samp>
<samp charset="UTF-8" class="lyricline">மறுரூபமாக்கி</samp>
<samp charset="UTF-8" class="lyricline">ஆற்றலைத் தந்திடுவார் – ஆராதனை</samp></div></div>   
        
     </div>