<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1894" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>              <b>G7</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் போற்றுகிறேன் இறைவா</samp>
<span class="chordline"><b>Am</b>             <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் புகழ்கின்றேன் தேவா</samp>
<span class="chordline">         <b>G7</b>       <b>C</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">போற்றி புகழ்கின்றேன்</samp>
<span class="chordline"><b>Am</b>        <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்தி வணங்குகின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b>             <b>B</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">1. என்னைக் கைதூக்கிவிட்டீர்</samp>
<span class="chordline"><b>Am</b>               <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதிரியின் மேல் வெற்றி தந்தீர்</samp>
<span class="chordline">        <b>E</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உதவி தேடி வந்தேன்</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உடல் சுகம் தந்தீரய்யா----ஆஆ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>B</b>        <b>D</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்து பாடுவேன் (வோம்)</samp>
<span class="chordline"><b>Am</b>        <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து கொண்டாடுவேன் (வோம்)</samp>
<span class="chordline"><b>B</b>             <b>C</b> <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்து பாடுவேன் (வோம்)</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து கொண்டாடுவேன் (வோம்)</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. மாலைநேரம் அழுகையென்றால்,</samp>
<samp charset="UTF-8" class="lyricline">காலைநேரம் ஆனந்தமே</samp>
<samp charset="UTF-8" class="lyricline">நொடிப்பொழுது உந்தன் கோபம்,</samp>
<samp charset="UTF-8" class="lyricline">தயவோ வாழ்நாளெல்லாம்.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. சாக்கு துணி களைந்துவிட்டீர்,</samp>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சி உடை உடுத்திவிட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">புலம்பலை நீக்கிவிட்டீர்,</samp>
<samp charset="UTF-8" class="lyricline">புதுப்பாடல் நாவில் வைத்தீர்.</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. என் உள்ளம் புகழ்ந்து பாடும்,</samp>
<samp charset="UTF-8" class="lyricline">(இனி) மௌனமாய் இருப்பதில்லை</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தாவே என் தெய்வமே,</samp>
<samp charset="UTF-8" class="lyricline">கரம்பிடித்த மெய் தீபமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. மலைபோல் நிற்கச் செய்தீர்,</samp>
<samp charset="UTF-8" class="lyricline">மாவேந்தன் உம் அன்பினால்</samp>
<samp charset="UTF-8" class="lyricline">நிலைகலங்கி போனேன் ஐயா,</samp>
<samp charset="UTF-8" class="lyricline">நின் முகம் மறைந்தபோது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. புழுதி உம்மை புகழ முடியுமா?</samp>
<samp charset="UTF-8" class="lyricline">சத்தியம் சொல்ல அதனால் இயலுமா?</samp>
<samp charset="UTF-8" class="lyricline">என் மீது இரங்கும் ஐயா,</samp>
<samp charset="UTF-8" class="lyricline">எனக்குத் துணையாய் இரும்</samp></div></div>   
        
     </div>