<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1895" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆரவாரம் ஆர்ப்பாட்டம்</samp>
<span class="chordline">              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா சந்நிதியில்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நாளெல்லாம் கொண்டாட்டம்</samp>
<span class="chordline">                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் முன்னிலையில்</samp>
<samp charset="UTF-8" class="lyricline">. </samp>
<span class="chordline"><b>Em</b>     <b>E</b>  <b>A</b>             <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி பாடல் தினமும் பாடு(வோம்)</samp>
<span class="chordline"><b>C</b>      <b>Em</b>      <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல தேவன் உயர்த்திப் பாடு(வோம்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">1. கல்வாரி சிலுவையிலே கர்த்தர்</samp>
<span class="chordline">        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு வெற்றி சிறந்தார்</samp>
<span class="chordline"><b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரை மாற்றி நம்மை</samp>
<span class="chordline"><b>C</b>               <b>B</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் மகிழச் செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. கிறிஸ்துவை நம்பினதால்</samp>
<samp charset="UTF-8" class="lyricline">பிதாவுக்குப் பிள்ளையானோம்</samp>
<samp charset="UTF-8" class="lyricline">அப்பான்னு கூப்பிடப்பண்ணும்</samp>
<samp charset="UTF-8" class="lyricline">ஆவியாலே நிரப்பப்பட்டோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உயிர்த்த கிறிஸ்து நம்ம</samp>
<samp charset="UTF-8" class="lyricline">உள்ளத்திலே வந்துவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">சாவுக்கேதுவான நம்ம</samp>
<samp charset="UTF-8" class="lyricline">சரீரங்களை உயிர்ப்பிக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. ஆவிக்கேற்ற பலி செலுத்தும்</samp>
<samp charset="UTF-8" class="lyricline">ஆசாரிய கூட்டம் நாம்</samp>
<samp charset="UTF-8" class="lyricline">வெளிச்சமாய் மாற்றியவர்</samp>
<samp charset="UTF-8" class="lyricline">புகழ்ச்சிதனை பாடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. துயரம் நீக்கிவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">கொண்டாட்டத்தின் ஆடை தந்தார்</samp>
<samp charset="UTF-8" class="lyricline">ஒடுங்கின ஆவி நீக்கி</samp>
<samp charset="UTF-8" class="lyricline">துதி என்னும் உடையை தந்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. நீதியின் சால்வை தந்து,</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பாலே போர்த்துவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">மணமகன் மணமகள் போல்</samp>
<samp charset="UTF-8" class="lyricline">அலங்கரித்து மகிழ்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. இயேசுவின் பெயராலும்</samp>
<samp charset="UTF-8" class="lyricline">ஆவியாலும் கழுவப்பட்டோம்</samp>
<samp charset="UTF-8" class="lyricline">நீதிமானாய் மாற்றப்பட்டு</samp>
<samp charset="UTF-8" class="lyricline">தூய்மையான பிள்ளைகளானோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. மூலைக்கல்லாம் கிறிஸ்துவின் மேல்</samp>
<samp charset="UTF-8" class="lyricline">கட்டப்பட்ட மாளிகை நாம்</samp>
<samp charset="UTF-8" class="lyricline">ஆவிதங்கும் ஆலயமாய்</samp>
<samp charset="UTF-8" class="lyricline">வளர்கின்ற கோபுரம் நாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">9. விண்ணகமே நம் நாடு</samp>
<samp charset="UTF-8" class="lyricline">வருகைக்காக காத்திருப்போம்</samp>
<samp charset="UTF-8" class="lyricline">அற்பமான நமது உடல்</samp>
<samp charset="UTF-8" class="lyricline">அப்பா போல மாறிடுமே</samp></div></div>   
        
     </div>