<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1899" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை புகழ்ந்து பாடுவது நல்லது</samp>
<span class="chordline">     <b>Em</b>               <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அது இனிமையானது ஏற்புடையது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>      <b>D7</b>             <b>G</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">1. பாடல்கள் வைத்தீர் ஐயா</samp>
<span class="chordline"><b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாலகர் நாவிலே</samp>
<span class="chordline"><b>G</b>         <b>Em</b>      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எதிரியை அடக்க பகைவரை ஒடுக்க</samp>
<span class="chordline"><b>Em</b>                  <b>D</b> <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இவ்வாறு செய்தீரய்யா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>        <b>D7</b>    <b>G</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் திருநாமம் அது</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எவ்வளவு உயர்ந்தது----2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. நிலாவை பார்க்கும்போது</samp>
<samp charset="UTF-8" class="lyricline">விண்மீன்கள் நோக்கும்போது</samp>
<samp charset="UTF-8" class="lyricline">என்னை நினைந்து விசாரித்து</samp>
<samp charset="UTF-8" class="lyricline">நடத்த (நான்) எம்மாத்திரமையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. வானதூதனை விட சற்று</samp>
<samp charset="UTF-8" class="lyricline">சிறியவனாய் படைத்துள்ளீர்</samp>
<samp charset="UTF-8" class="lyricline">மகிமை மாட்சிமை மிகுந்த</samp>
<samp charset="UTF-8" class="lyricline">மேன்மையாய் முடிசூட்டி நடத்துகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. அனைத்துப் படைப்புக்கள் மேல்</samp>
<samp charset="UTF-8" class="lyricline">அதிகாரம் தந்துள்ளீர்</samp>
<samp charset="UTF-8" class="lyricline">காட்டு விலங்குகள் மீன்கள்</samp>
<samp charset="UTF-8" class="lyricline">பறவைகள் கீழ்படியச் செய்துள்ளீர்</samp></div></div>   
        
     </div>