<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1903" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு எனக்கு ஜீவன் தந்தாரே</samp>
<span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு எனக்கு ஜீவன் தந்தாரே</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்பாடல் நான் பாடி</samp>
<span class="chordline"><b>C</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவையே போற்றி</samp>
<span class="chordline"><b>Dm</b>             <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் வாழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென் அல்லேலூயா</samp>
<span class="chordline"><b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென் அல்லேலூயா</samp>
<span class="chordline"><b>C</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென் அல்லேலூயா</samp>
<span class="chordline"><b>G</b>                       <b>G7</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென் அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சமாதானம் தந்தார் இயேசு ( 4)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">புதுவாழ்வு தந்தார் இயேசு ( 4)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">விடுதலை தந்தார் இயேசு ( 4)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">புதுப் பாடல் தந்தார் இயேசு (4 )</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் தந்தார் இயேசு (4 )</samp></div></div>   
        
     </div>