<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1904" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                   <b>F</b>           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்காரம் தேவனே நமஸ்காரமே</samp>
<span class="chordline">                     <b>F</b>           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்காரம் தேவனே நமஸ்காரமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Gm</b>          <b>Cm</b>            <b>F</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மலர்களை படைத்தவரே நமஸ்காரமே – 2</samp>
<span class="chordline">             <b>F</b>              <b>Eb</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மலைகளை உடைத்தவரே நமஸ்காரமே</samp>
<span class="chordline">             <b>F</b>              <b>Eb</b>        <b>Gm</b> <b>F</b> <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மலைகளை உடைத்தவரே நமஸ்காரமே    – நமஸ்காரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">புயல்காற்றை தடுத்தவரே நமஸ்காரமே – 2</samp>
<samp charset="UTF-8" class="lyricline">போர்ப்படை அமைத்தவரே நமஸ்காரமே – 2 – நமஸ்காரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எரிகோவை இடித்தவரே நமஸ்காரமே – 2</samp>
<samp charset="UTF-8" class="lyricline">எகிப்தை வென்றவரே நமஸ்காரமே – 2 – நமஸ்காரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வெற்றியை தருபவரே நமஸ்காரமே – 2</samp>
<samp charset="UTF-8" class="lyricline">பற்றியே எரிபவரே நமஸ்காரமே – நமஸ்காரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எனக்குள்ளே இருப்பவரே நமஸ்காரமே – 2</samp>
<samp charset="UTF-8" class="lyricline">எகோவா தெய்வமே நமஸ்காரமே – 2 – நமஸ்காரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எலியாவை எடுத்தவரே நமஸ்காரமே – 2</samp>
<samp charset="UTF-8" class="lyricline">எலிசாவை கொடுத்தவரே நமஸ்காரமே – 2 – நமஸ்காரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">குருடரை தொட்டவரே நமஸ்காரமே – 2</samp>
<samp charset="UTF-8" class="lyricline">வியாதியை நீக்கினீர் நமஸ்காரமே – 2 – நமஸ்காரம்</samp></div></div>   
        
     </div>