<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1905" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>           <b>D</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை தேவனே ஆராதனை இயேசுவே</samp>
<span class="chordline">            <b>D</b>                <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆவியே, ஆராதனை  -(2)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b>          <b>C</b>            <b>Am</b>        <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்தியரே ஆராதனை, சத்தியரே ஆராதனை -(2)</samp>
<span class="chordline">                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நித்தமும் காக்கும் தேவனே</samp>
<span class="chordline">                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியம் பேசும் ராஜனே</samp>
<span class="chordline">            <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை -(2) (ஆராதனை)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உன்னதரே ஆராதனை, உத்தமரே ஆராதனை -(2)</samp>
<samp charset="UTF-8" class="lyricline">உண்மையான தேவனே உயிருள்ள ராஜனே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை -(2) (ஆராதனை)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மதுரமே ஆராதனை மகத்துவமே ஆராதனை -(2)</samp>
<samp charset="UTF-8" class="lyricline">மகிமையான தேவனே, மாசில்லாத ராஜனே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை -(2) (ஆராதனை)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">புதுமையே ஆராதனை புண்ணியமே ஆராதனை -(2)</samp>
<samp charset="UTF-8" class="lyricline">பூரணமான தேவனே, பூலோக ராஜனே</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை -(2) (ஆராதனை)</samp>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆவியே, ஆராதனை ஆராதனை -(2)</samp></div></div>   
        
     </div>