<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1906" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                     <b>F</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா தேவனே யெகோவா கர்த்தரே</samp>
<span class="chordline"><b>G</b>                    <b>G7</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா மீட்பரே யெகோவா ராஜனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எல்ஷடாய், எல்ஷடாய்</samp>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் வல்லவரே   </samp>
<span class="chordline"><b>Am</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எல்ஷடாய், எல்ஷடாய்</samp>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் வல்லவரே   – யெகோவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ, எல்ரோயீ</samp>
<samp charset="UTF-8" class="lyricline">என்னை காண்பவரே – 2 – யெகோவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எபிநேசர், எபிநேசர்</samp>
<samp charset="UTF-8" class="lyricline">இதுவரை உதவினீர் – 2 – யெகோவா</samp></div></div>   
        
     </div>