<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1907" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b> <b>G</b>        <b>D</b>     <b>Bm</b> </span>
<samp charset="UTF-8" class="lyricline">தேவா உம் சமுகமே</samp>
<span class="chordline"><b>C</b>      <b>B</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எனது பிரியமே   </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>        <b>D</b>   <b>Am</b>   <b>B</b>    <b>Em</b>    </span>
<samp charset="UTF-8" class="lyricline">அல்லேலுயா அல்லேலுயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தின் வாசல் நீரே</samp>
<span class="chordline">                <b>Bm</b>       <b>Em</b>    </span>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையின் அப்பம் நீரே </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நம்பிக்கை தெய்வம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">நங்கூரம் என்றும் நீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தர் நீரே</samp>
<samp charset="UTF-8" class="lyricline">கானான் தேசம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஆதி அந்தம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">ஆட்கொண்ட சொந்தம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அக்கினி ஜுவாலை நீரே</samp>
<samp charset="UTF-8" class="lyricline">காலை பனியும் நீர</samp></div></div>   
        
     </div>