<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1909" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தியாக்கி நடத்திடுவார்</samp>
<span class="chordline"><b>Bm</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவைகளை சந்திப்பார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மீதம் எடுக்க வைப்பார்</samp>
<span class="chordline"><b>D</b>          <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பிறருக்கு கொடுக்க வைப்பார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பாடி கொண்டாடுவோம்</samp>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கோடி நன்றி சொல்லுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>D</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">1. ஐந்து அப்பங்களை,</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரமாய் பெருகச்செய்தார்</samp>
<span class="chordline"><b>G</b>           <b>Em</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஐயாயிரம் ஆண்களுக்கு,</samp>
<span class="chordline">                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வயிராற உணவளித்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. பொன்னோடும் பொருளோடும்,</samp>
<samp charset="UTF-8" class="lyricline">புறப்படச் செய்தாரே</samp>
<samp charset="UTF-8" class="lyricline">பலவீனம் இல்லாமலே,</samp>
<samp charset="UTF-8" class="lyricline">பாதுகாத்து நடத்தினாரே-----ஒரு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. காடைகள் வரவழைத்தார்,</samp>
<samp charset="UTF-8" class="lyricline">மன்னாவால் உணவளித்தார்</samp>
<samp charset="UTF-8" class="lyricline">கற்பாறையை பிளந்து,</samp>
<samp charset="UTF-8" class="lyricline">தண்ணீர்கள் ஓடச்செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நீடிய ஆயுள் தந்து,</samp>
<samp charset="UTF-8" class="lyricline">நிறைவோடு நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">முதிர் வயதானாலும்,</samp>
<samp charset="UTF-8" class="lyricline">பசுமையாய் வாழச் செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. கெம்பீர சத்ததோடு,</samp>
<samp charset="UTF-8" class="lyricline">ஆரவார முழக்கத்தோடு</samp>
<samp charset="UTF-8" class="lyricline">தெரிந்து கொண்ட தம் மக்களை,</samp>
<samp charset="UTF-8" class="lyricline">தினமும் நடத்தி சென்றார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. துதிக்கும்போதெல்லாம்,</samp>
<samp charset="UTF-8" class="lyricline">சுவையான உணவு அது</samp>
<samp charset="UTF-8" class="lyricline">ஆத்மா திருப்தியாகும்,</samp>
<samp charset="UTF-8" class="lyricline">ஆனந்த ராகம் பிறக்கும்.</samp></div></div>   
        
     </div>