<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1910" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                                           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">முகமலர்ந்து கொடுப்பவரை கர்த்தர் நேசிக்கிறார்</samp>
<span class="chordline"><b>D</b>        <b>C</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உற்சாக மனதுடனே கொடுத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Em</b>                   <b>A</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">1. வருத்தத்தோடல்ல, கட்டாயத்தாலல்ல</samp>
<span class="chordline"><b>D</b>           <b>C</b>               <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இருப்பதை விருப்பமுடன், கொடுத்திடுவோம்</samp>
<span class="chordline"><b>E</b>                           <b>D</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">விதை விதைத்திடுவோம் அறுவடை செய்வோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. அதிகமாய் விதைத்தால், அதிக அறுவடை</samp>
<samp charset="UTF-8" class="lyricline">ஏழ்மை நிலையிலிருந்து இன்றே விடுதலை</samp>
<samp charset="UTF-8" class="lyricline">அளவின்றி கொடுத்து, செல்வர்களாவோம்</samp>
<samp charset="UTF-8" class="lyricline">அமுக்கி குலுக்கி மடியில் அளந்து போடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. ஏழைக்கு இரங்கி கொடுக்கும் போதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கு கடன் கொடுத்து திரும்ப பெற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">எந்த நிலையிலும் தேவையானதெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">எப்போதும் நமக்கு தந்திடுவாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. நற்செயல் செய்ய வேண்டிய அனைத்தும்</samp>
<samp charset="UTF-8" class="lyricline">மிகுதியாகவே தந்திடுவாரே</samp>
<samp charset="UTF-8" class="lyricline">எல்லா நன்மைகளால் நிரப்ப வல்லவர்</samp>
<samp charset="UTF-8" class="lyricline">குறைகளை நிறைவாக்கி நடத்திடுவார்</samp></div></div>   
        
     </div>