<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1911" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவேன்(வோம்) மகிழ்வேன்(வோம்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கொண்டாடுவேன்(வோம்)</samp>
<span class="chordline"><b>C</b>                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா சமூகத்தில் பாடி</samp>
<span class="chordline">          <b>C</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து கொண்டாடுவேன்(வோம்)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>Dm</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1. அக்கினி மதில் நீரே</samp>
<span class="chordline"><b>G</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் மழை நீரே</samp>
<span class="chordline"><b>F</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இக்கட்டில் துணை நீரே</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இருளில் வெளிச்சம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">    <b>A</b>     <b>Bb</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி நன்றி-----2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. துயர்நீக்கும் மருத்துவரே</samp>
<samp charset="UTF-8" class="lyricline">என் துதிக்குப் பாத்திரரே</samp>
<samp charset="UTF-8" class="lyricline">பெலனெல்லாம் நீர்தானையா</samp>
<samp charset="UTF-8" class="lyricline">பிரியமும் நீர்தானையா------என்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. கல்வாரி சிலுவையினால் -----என்</samp>
<samp charset="UTF-8" class="lyricline">சாபங்கள் உடைந்ததையா</samp>
<samp charset="UTF-8" class="lyricline">ஆபிரகாமின் ஆசீர்வாதங்கள்  (இந்த)</samp>
<samp charset="UTF-8" class="lyricline">அடிமைக்கு கிடைத்ததையா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4. இயேசுவே உம் இரத்தத்தால்</samp>
<samp charset="UTF-8" class="lyricline">என்னை நீதிமானாய் மாற்றினீரே</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவி தந்து  உம்</samp>
<samp charset="UTF-8" class="lyricline">அன்பை ஊற்றினீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5. உம்மையே நம்பி வாழ்வதால்</samp>
<samp charset="UTF-8" class="lyricline">உமக்கே சொந்தமானேன்  என்</samp>
<samp charset="UTF-8" class="lyricline">உயிரான கிறிஸ்து வந்ததால்  உம்</samp>
<samp charset="UTF-8" class="lyricline">உறவுக்குள் வந்துவிட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6. இவ்வுலகப் போக்கின்படி</samp>
<samp charset="UTF-8" class="lyricline">நான் வாழ்ந்தேன் பலநாட்கள்</samp>
<samp charset="UTF-8" class="lyricline">உம்மோடு இணைத்தீரைய்யா  உம்</samp>
<samp charset="UTF-8" class="lyricline">மிகுந்த இரக்கத்தினால்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">7. வாழ்வு தரும் ஊற்று நீரே</samp>
<samp charset="UTF-8" class="lyricline">வழிகாட்டும் தீபம் நீரே</samp>
<samp charset="UTF-8" class="lyricline">புயலில் புகலிடமே  கடும்</samp>
<samp charset="UTF-8" class="lyricline">வெயிலில் குளிர் நிழலே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">8. பேரின்ப நீரோடையில்</samp>
<samp charset="UTF-8" class="lyricline">என் தாகம் தணிப்பவரே</samp>
<samp charset="UTF-8" class="lyricline">உமது பேரன்பு  அது</samp>
<samp charset="UTF-8" class="lyricline">எத்தனை மேலானது</samp></div></div>   
        
     </div>