<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1916" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                   <b>C#m</b>           <b>G#m</b>       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் ஊற்றுண்ட பரிமள தைலம்</samp>
<span class="chordline"><b>B</b>                               <b>B7</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கன்னியர்கள் உம்மை அன்பாய் நேசிக்கிறார்கள்</samp>
<span class="chordline">     <b>A</b>                <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">என் பிரியமே ஆத்ம நேசரே</samp>
<span class="chordline">     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பின் மணவாளன்</samp>
<span class="chordline">    <b>E</b>        <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">நீர் இன்பமனவர்</samp>
<span class="chordline">     <b>A</b>                <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">என் பிரியமே ஆத்ம நேசரே</samp>
<span class="chordline">     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பின் மணவாளன்</samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீர் இன்பமனவர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலுயா ஓசன்னா</samp>
<span class="chordline">              <b>B7</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலுயா ஓசன்னா</samp>
<samp charset="UTF-8" class="lyricline">. </samp>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜா முத்தங்களால் என்னை முத்தமிடுவாரே</samp>
<samp charset="UTF-8" class="lyricline">திராட்சை இரசத்திலும் உமது</samp>
<samp charset="UTF-8" class="lyricline">நேசம் இனிமையே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இராஜ பந்தியின் வாசனை</samp>
<samp charset="UTF-8" class="lyricline">என்றும் வீசுமே</samp>
<samp charset="UTF-8" class="lyricline">வெள்ளைப் போளச் செண்டு நீர்</samp>
<samp charset="UTF-8" class="lyricline">எங்கேதிப் பூங்கொத்து</samp></div></div>   
        
     </div>