<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1918" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் தஞ்சம்</samp>
<span class="chordline"><b>D</b>         <b>C</b>     <b>G</b>  <b>D</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் கோட்டை</samp>
<span class="chordline"><b>Em</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் இரட்சகர்</samp>
<span class="chordline"><b>B</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீரே ராஜா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>                    <b>Am</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் உம்மைத் தேடுவேன் நாள் முழுதும்</samp>
<span class="chordline">                      <b>G</b>     <b>Bm</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் உம்மை சேவிப்பேன் வாழ் நாளெல்லாம்</samp>
<span class="chordline">                    <b>Am</b>                        <b>B</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எனது எல்லாவற்றிலும் நான் உம்மை நேசிப்பேன் இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ராஜா</samp>
<span class="chordline">       <b>G</b>    <b>Bm</b> <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தேவன்</samp>
<span class="chordline">       <b>Am</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே மீட்பர்</samp>
<span class="chordline"><b>B7</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நான் உம்மைத் தேடுவேன் நாள் முழுதும்</samp>
<samp charset="UTF-8" class="lyricline">நான் உம்மை சேவிப்பேன் வாழ் நாளெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">எனது எல்லாவற்றிலும் நான் உம்மை நேசிப்பேன் இயேசுவே</samp></div></div>   
        
     </div>