<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1920" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை தாரும் தேவனே</samp>
<span class="chordline">      <b>F</b>                      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ கிருபை தாரும் தேவனே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Gm</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீனத்தில் பெலன் என்றீர்</samp>
<span class="chordline">             <b>Eb</b>           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் கிருபை போதும் என்றீர்</samp>
<span class="chordline"><b>Gm</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த அபிஷேகம் தந்தீர்</samp>
<span class="chordline">             <b>Eb</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பந்தயத்தில் வெற்றி தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இரட்சணிய நாட்களை தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">எல்லாமே இலவசம் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">நெருக்கத்திலே விடுதலை தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">நீதிமான் விழுவதில்லை என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கிருபையும் அமைதியும் தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவுக்குள் பிழைத்திரு என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">ஆத்தும பாரங்களை தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">அறுவடைக்குப் புறப்படு என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஈசாயின் அடிமரம் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">எழுப்புதல் உன்னால் என்றீர்</samp>
<samp charset="UTF-8" class="lyricline">ஊழிய கிருபைகளை தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">உலகத்தை கலக்கிடு என்றீர்</samp></div></div>   
        
     </div>