<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1921" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>             <b>Em</b>  <b>A</b>           <b>D</b>  <b>G</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">போஷிப்பவர் நீரே பாதுகாப்பு நீரே</samp>
<span class="chordline"><b>D</b>       <b>Em</b>  <b>A</b>                  <b>D</b>  <b>G</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரிகாரி நீரே என் இரட்சகரும் நீரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்து போனாயோ</samp>
<span class="chordline">           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கவலைப்படாதே</samp>
<span class="chordline">                  <b>Em</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு உன்னை சுமப்பார்</samp>
<span class="chordline">         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சியாக்குவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இயேசு நீர் பெரியவர்</samp>
<samp charset="UTF-8" class="lyricline">எல் ஷடாய் நீர் வல்லவர்</samp>
<samp charset="UTF-8" class="lyricline">உலகம் வனாந்திரம்</samp>
<samp charset="UTF-8" class="lyricline">பரலோகம் மகிழ்ச்சியே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தண்ணீர் மேல் நடந்தார்</samp>
<samp charset="UTF-8" class="lyricline">அற்புதங்கள் செய்திட்டார்</samp>
<samp charset="UTF-8" class="lyricline">உன் பிரச்சினை எம்மாத்திரம்</samp>
<samp charset="UTF-8" class="lyricline">எண்ணிப்பார் ஓர் நிமிடம் </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அல்லேலுயா பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">தேவனைத் துதிப்போம்</samp></div></div>   
        
     </div>