<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1923" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேக நாதா அனல் மூட்டும் தேவா</samp>
<span class="chordline"><b>Bbm</b>      <b>C</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆருயிர் நண்பரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>        <b>Eb</b>     <b>Ab</b> <b>Ab7</b> <b>C#</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அன்னிய பாஷைகள்   இன்றே தாருமே</samp>
<span class="chordline"><b>Bbm</b>                <b>Eb</b>  <b>C</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியில் ஜெபித்திட என்மேல் வாருமே</samp>
<span class="chordline"><b>Bbm</b>                <b>Eb</b>  <b>Ab</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியில் ஜெபித்திட என்மேல் வாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ரகசியம் பேசிட கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline">சத்திய ஆவியாய் என்மேல் வாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தேசத்தைக் கலக்கிட திடனைத் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">திறப்பிலே நின்றிட பெலனாய் வாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பரிந்து பேசிட ஆத்மபாரம் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாகிட தினம் என்மேல் வாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சாத்தானை ஜெயித்திட சத்துவம் தாருமே</samp>
<samp charset="UTF-8" class="lyricline">சாட்சியாய் வாழ்ந்திட என்மேல் வாருமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அக்கினி அபிஷேகம் இன்றே தாருமே</samp>
<samp charset="UTF-8" class="lyricline">சுடராய் பிரகாசிக்க என்மேல் வாருமே</samp></div></div>   
        
     </div>