<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1930" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>      <b>Em</b> <b>C</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி   ராஜாதி ராஜா</samp>
<span class="chordline"><b>G</b>      <b>Em</b> <b>C</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி   ராஜனே</samp>
<span class="chordline"><b>G</b>      <b>Em</b> <b>C</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி   ராஜாதி ராஜா</samp>
<span class="chordline"><b>G</b>          <b>Em</b>   <b>C</b>       <b>G</b>   <b>D7</b> <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜன் இயேசு இயேசுவே -2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து நீரே உலகத்திற்கே</samp>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து நீரே</samp>
<samp charset="UTF-8" class="lyricline">எங்களின் தேவன் நீர் என்றுமே -2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சாத்தானின் கோட்டைகளை தகர்த்திடுவீர்</samp>
<samp charset="UTF-8" class="lyricline">கட்டுகளெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தில் உடைந்திடும் -2</samp></div></div>   
        
     </div>