<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1935" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">காலையில் சூரியன் உதிக்கும்</samp>
<span class="chordline">             <b>B7</b>      <b>E</b>          <b>A</b> <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மாலையில் சூரியன் மறையும்</samp>
<span class="chordline"><b>E</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">காலையில் சூரியன் உதிக்கும்</samp>
<span class="chordline">             <b>B7</b>      <b>E</b>         <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">மாலையில் சூரியன் மறையும்</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">பயம் எதற்கு</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">பயம் எதற்கு</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">பயம் எதற்கு</samp>
<span class="chordline"><b>B7</b>             <b>E</b> <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நம்மோடு</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">பயம் எதற்கு</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">பயம் எதற்கு</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">பயம் எதற்கு</samp>
<span class="chordline"><b>B7</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நம்மோடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இந்த ஏழை கூப்பிட்டான்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் பதில் கொடுத்தார் - 2  -பயம் எதற்கு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நீதிமான்கள் ஒரு போதும்</samp>
<samp charset="UTF-8" class="lyricline">இரந்து திரிந்ததில்லை - 2  -பயம் எதற்கு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">மரண இருளில் நடந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">தீங்கிற்கு அஞ்சிடேனே - 2  -பயம் எதற்கு</samp>
<samp charset="UTF-8" class="lyricline">பயப்படேனே -3</samp>
<samp charset="UTF-8" class="lyricline">இயேசு என்னோடு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">காலையில் சூரியன் உதிக்கும்</samp>
<samp charset="UTF-8" class="lyricline">மாலையில் சூரியன் மறையும்</samp>
<samp charset="UTF-8" class="lyricline">பயம் எதற்கு - 3</samp>
<samp charset="UTF-8" class="lyricline">இயேசு நம்மோடு</samp>
<samp charset="UTF-8" class="lyricline">பயப்படேனே - 3</samp>
<samp charset="UTF-8" class="lyricline">இயேசு என்னோடு</samp></div></div>   
        
     </div>