<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1937" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>          <b>Gm</b>      <b>Am</b>   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கண்களை எறெடுப்பேன்</samp>
<span class="chordline">     <b>F</b>          <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் கண்களை எறெடுப்பேன்</samp>
<span class="chordline"><b>Dm</b>       <b>Faug</b>         <b>Am</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அல்பா, ஓமேகா என் தேவன் நீர்</samp>
<span class="chordline"><b>Bb</b>         <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கண்களை எறெடுப்பேன</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F</b>           <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் வரும்போது</samp>
<span class="chordline">     <b>C</b>     <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">உன் வேதனைகளில்</samp>
<span class="chordline"><b>F</b>     <b>Bb</b>         <b>F</b>  <b>Dm</b>              </span>
<samp charset="UTF-8" class="lyricline">திடன்கொள் மகனே</samp>
<span class="chordline">          <b>Gm</b>           <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை அழைத்தவர் காத்திடுவார் (கண்களை)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நம்பிக்கை அற்ற (இழந்த) நேரம்</samp>
<samp charset="UTF-8" class="lyricline">நீ தனிமையில் இருக்கும் போழுது</samp>
<samp charset="UTF-8" class="lyricline">என் அப்பா அருகில் வருவார்</samp>
<samp charset="UTF-8" class="lyricline">கலங்காதே மகனே (கண்களை)</samp></div></div>   
        
     </div>