<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1938" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து ஆண்டவர்</samp>
<span class="chordline">              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் இரட்சகர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து ஆண்டவர்</samp>
<span class="chordline"><b>G7</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் இரட்சகர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து ஆண்டவர்</samp>
<span class="chordline"><b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் இரட்சகர்</samp>
<span class="chordline"><b>C</b>       <b>G</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து ஆண்டவர்</samp>
<span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் இரட்சகர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">கஷ்டமோ துன்பமோ</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரிடம் செல்லுவோம் -4</samp>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து ஆண்டவர்</samp>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் இரட்சகர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உனக்காக சிலுவையை</samp>
<samp charset="UTF-8" class="lyricline">சுமந்தாரே என் இயேசு -4</samp>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து ஆண்டவர்</samp>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் இரட்சகர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">உன்னையும் என்னையும் இயேசு</samp>
<samp charset="UTF-8" class="lyricline">கிறிஸ்து நேசிக்கிறார் -4</samp>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து ஆண்டவர்</samp>
<samp charset="UTF-8" class="lyricline">இந்தியாவின் இரட்சகர்</samp></div></div>   
        
     </div>