<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1940" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவாலயம் செல்வதே</samp>
<span class="chordline"><b>Bb</b>     <b>C</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்சியை கொடுக்கும்</samp>
<span class="chordline"><b>Dm</b>          <b>F</b>          <b>Bb</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் சமுகத்திலே, ஆனந்தம், ஆனந்தம்,</samp>
<span class="chordline"><b>Bb</b>          <b>C</b>          <b>Bb</b>          <b>Am</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தம், ஆனந்தம், ஆனந்தம், ஆனந்தமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>   <b>Bb</b>          <b>Dm</b>       <b>Dm</b> <b>C</b> <b>Dm</b> <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவோம் அல்லேலுயா</samp>
<span class="chordline"><b>Bb</b>   <b>C</b>                <b>Dm</b>  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவோம் அல்லேலுயா யா</samp></div></div>   
        
     </div>