<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1943" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காற்று வீசுதே தேசத்தின் மேலே</samp>
<span class="chordline">                      <b>A</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியானவர் வந்து விட்டாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோரும் பாடுங்கள்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">களிப்பாய் பாடுங்கள்</samp>
<span class="chordline"><b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவைப் போற்றி</samp>
<span class="chordline"><b>A</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கெம்பீரமாய் பாடுங்கள்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாசமாய் வந்தவரே நேசமாய் தேடி வந்து</samp>
<span class="chordline"><b>Gm</b>                            <b>C</b>           <b>Dm</b>        </span>
<samp charset="UTF-8" class="lyricline">மோசமாய் வாழ்ந்த என்னை மீட்டெடுத்தீரே (எல்லோரும்...)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பிசாசின் வல்லமைகளை அனைத்தையும் முறிந்து போட்டு</samp>
<samp charset="UTF-8" class="lyricline">பிதாவின் சித்தமதை முடித்து வைத்தீரே (எல்லோரும்...)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஏழையாய் இருந்த என்னை செல்வந்தனாக்கிடவே</samp>
<samp charset="UTF-8" class="lyricline">தரித்திரரானவரே ஸ்தோத்திரிப்பேனே (எல்லோரும்...)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நரகை ஜெயித்திடவே நரர் பிணி நீக்கிடவே</samp>
<samp charset="UTF-8" class="lyricline">சிலுவை மீதினிலே ஜீவன் தந்தீரே (எல்லோரும்...)</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பரலோக வாழ்வுதனை பரிசாகத் தந்திடவே</samp>
<samp charset="UTF-8" class="lyricline">புூலோக வாழ்வை நமக்காய் விரும்பி எற்றீரே (எல்லோரும்...)</samp></div></div>   
        
     </div>