<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1944" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஜீவன் தந்தாரே</samp>
<span class="chordline">                          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தை போக்கிவிட்டாரே</samp>
<span class="chordline"><b>A</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய வாழ்வு எனக்கு தந்து</samp>
<span class="chordline"><b>B</b>                           <b>E</b> <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">என்னை சேர்த்து கொண்டாரே</samp>
<span class="chordline"><b>A</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய வாழ்வு எனக்கு தந்து</samp>
<span class="chordline"><b>B</b>                           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை சேர்த்து கொண்டாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியில் நிரப்பி அபிஷேகம் தந்து</samp>
<span class="chordline"><b>B</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியாய் மாற்றினாரே</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கனிகளை கொடுத்து</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வேன் அவர்க்கே</samp>
<span class="chordline"><b>B</b>                   <b>E</b>    <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவிய நாட்கள் எல்லாம்</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கனிகளை கொடுத்து</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வேன் அவர்க்கே</samp>
<span class="chordline"><b>B</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவிய நாட்கள் எல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">ஆத்தம பாரம் எனக்கு தந்து</samp>
<samp charset="UTF-8" class="lyricline">ஜெபிக்க கற்றுதந்தார</samp>
<samp charset="UTF-8" class="lyricline">ஜெபமே ஜெயம் ஜெபமே ஜீவன்</samp>
<samp charset="UTF-8" class="lyricline">ஜெபித்து வென்றிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வாழ்வில் சோர்வு நேரிட்டாலும்</samp>
<samp charset="UTF-8" class="lyricline">வந்து பெலன் தருவார்</samp>
<samp charset="UTF-8" class="lyricline">மேங்கள் நடுவில் கர்த்தர் வருவார்</samp>
<samp charset="UTF-8" class="lyricline">நம்மை சேர்த்துகொள்வார்</samp></div></div>   
        
     </div>