<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1945" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் செய்ய புறப்படுவோம்</samp>
<span class="chordline">                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">யோர்தானை தாண்டிடுவோம்</samp>
<span class="chordline">                          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இதயத்தை ஆட்கொள்ளுவோம்</samp>
<span class="chordline">                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்காய் ஆர்ப்பரிப்போம்</samp>
<span class="chordline">  <b>E</b>         <b>A</b>         <b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">- ஓசன்னா ஓசன்னா ஓசன்னா ஓசன்னா</samp>
<span class="chordline">  <b>E</b>         <b>A</b>         <b>B</b>         <b>B7</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">- ஓசன்னா ஓசன்னா ஓசன்னா ஓசன்னா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">புயல்கள் எதிர்த்து வந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">புகுந்து நாம் முன்னேறுவோம்</samp>
<samp charset="UTF-8" class="lyricline">அலைகள் புரண்டு வந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரித்து ஜெயம் கொள்ளுவோம்</samp>
<samp charset="UTF-8" class="lyricline">- ஓசன்னா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எழுப்புதல் அறுவடையில்</samp>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்காய் உழைத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">சேனையின் வீரர்களை</samp>
<samp charset="UTF-8" class="lyricline">சீக்கிரமாய் அழைத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">- ஓசன்னா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">யெகோவாநிசி கொடியை</samp>
<samp charset="UTF-8" class="lyricline">எற்றிட கூடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">எழுப்புதல் எக்காளங்களை</samp>
<samp charset="UTF-8" class="lyricline">எழுந்து நாம் ஊதிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">- ஓசன்னா</samp></div></div>   
        
     </div>