<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1948" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>              <b>D</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு இயேசு இயேசு இராஜாவே - 4</samp>
<span class="chordline"><b>Gm</b>              <b>Bb</b>              <b>D</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு இயேசு இயேசு இயேசு இயேசு இராஜாவே 2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">துதித்து துதித்து துதித்து பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">துதித்து துதித்து துதித்து துதித்து துதித்து பாடுவோம் 2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி நன்றி இயேசுவே - 4</samp>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி நன்றி நன்றி நன்றி இயேசுவே 2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">பாடி பாடி நடனமாடுவோம் - 4</samp>
<samp charset="UTF-8" class="lyricline">பாடி பாடி பாடி பாடி நடனமாடுவோம் 2</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இரத்தம் இரத்தம் இரத்தம் ஜெயமே - 4</samp>
<samp charset="UTF-8" class="lyricline">இரத்தம் ஜெயம் இரத்தம் ஜெயம் இரத்தம் ஜெயமே 2</samp></div></div>   
        
     </div>