<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1950" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மழையான நேரத்தில் மனம் சோர்ந்த வேளையில்</samp>
<span class="chordline"><b>Dm</b>              <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறவாத நேசர் தாங்குவாரே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எலியாவின் தேவனே</samp>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியை என்றும் தந்திடுவார்</samp>
<span class="chordline"><b>C</b>      <b>Am</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எலியாவின் தேவனே</samp>
<span class="chordline"><b>G</b>                     <b>G7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியை என்றும் தந்திடுவார்</samp>
<span class="chordline">           <b>F</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கோலியாத்தை வென்ற தேவன்</samp>
<span class="chordline">                      <b>G7</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை ஜெயிக்க பெலன் தருவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">அழைத்தவர் மாறாதவர்</samp>
<samp charset="UTF-8" class="lyricline">ஊழிய பாதையில் நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">உன்னையும் என்னையும் அவர் கைகளில்</samp>
<samp charset="UTF-8" class="lyricline">வரைந்து என்றென்றும் காத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கஷ்டங்களை அறிவும் தேவன்</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீரையும் துடைத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">நோவாவின் பேழையில் இருந்தது போல்</samp>
<samp charset="UTF-8" class="lyricline">என்னோடும் கூட இருந்திடுவார்</samp></div></div>   
        
     </div>