<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1972" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                <b>A</b>             <b>F#</b> <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறார் அழைக்கிறார் இதோ</samp>
<span class="chordline">      <b>A</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீயும் வா! உந்தன் நேசர்</samp>
<span class="chordline"><b>A</b>          <b>A7</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலாய் அழைக்கிறார் இதோ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">  <b>D</b>                <b>A</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">1.பாவத்தை ஏற்றவர் பலியாய் மாண்டவர்</samp>
<span class="chordline"><b>Bm</b>            <b>A</b>            <b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரியின் மேட்டினில்; கண்கொள்ளாத காட்சியே</samp>
<span class="chordline"><b>G</b>           <b>D</b>             <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்டிடாய் வேண்டிடாய் பாவ பாரம் நீங்கிடும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2.நோயையும் ஏற்றவர் ; பேயையும் வென்றவர்</samp>
<samp charset="UTF-8" class="lyricline">நீதிபரன் உன் நோயை; நிச்சயமாய்த் தீர்த்தாரே</samp>
<samp charset="UTF-8" class="lyricline">நோயுற்ற உன்னையே; நேயமாய் அழைக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3.துன்பம் சகித்தவர்; துயரடைந்தவர்</samp>
<samp charset="UTF-8" class="lyricline">இன்னலுற்ற உன்னையே, அண்ணல் ஏசழைக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">துன்புறும் நெஞ்சமே; துரிதமாய் நீ வாராயோ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4.அந்தக் கேடடைந்தார்; அழகற்றுத் தோன்றினார்</samp>
<samp charset="UTF-8" class="lyricline">சொந்தமாகச் சேர்த்திட ; இந்தப் பாடடைந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">நிந்திக்கும் உன்னையும்; சந்திப்பார் நீ வாராயோ</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5.கல்லறை திறக்க; காவலர் நடுங்க</samp>
<samp charset="UTF-8" class="lyricline">கஸ்திகளடைந்தாரே ; கட்டுகளறுத்தாரே</samp>
<samp charset="UTF-8" class="lyricline">உயிர்த்தார் ஜெயித்தார் உண்டு மீட்புனக்குமே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">6.சாந்த சொரூபனே சத்திய வாசனே</samp>
<samp charset="UTF-8" class="lyricline">வஞ்சமற் வாயனே, வந்தணைக்கும் நேயனே</samp>
<samp charset="UTF-8" class="lyricline">தஞ்சமே தன்னையே; தந்துனை அழைக்கிறார்</samp></div></div>   
        
     </div>