<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1974" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எலியாவின் தேவன் நம் தேவன்</samp>
<span class="chordline"><b>Am</b>                      <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையின் தேவன் நம் தேவன்</samp>
<span class="chordline">             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாசர்களின் ஜெபம் கேட்பார்</samp>
<span class="chordline"><b>D</b>                      <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லபெரும் காரியம் செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே தேவன்</samp>
<span class="chordline"><b>C</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றே ஆர்ப்பரிப்போம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே தேவன்</samp>
<span class="chordline"><b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றே ஆர்ப்பரிப்போம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2.வேண்டிடும் பக்தர்களின் ஜெபம் கேட்டே</samp>
<samp charset="UTF-8" class="lyricline">பனிமழை நிறுத்தினார் வல்ல தேவன்</samp>
<samp charset="UTF-8" class="lyricline">பஞ்ச காலத்தில் விதவை வீட்டில்</samp>
<samp charset="UTF-8" class="lyricline">பாத்திரங்களை அவர் ஆசீர்வதித்தார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3.சத்துருக்கள் முன்னிலையில் தேவ மனிதன்</samp>
<samp charset="UTF-8" class="lyricline">வீரமுடன் முழங்கினார் தேவ மனிதன்</samp>
<samp charset="UTF-8" class="lyricline">அக்கினியால் பதில் அளிக்கும்</samp>
<samp charset="UTF-8" class="lyricline">தேவனே தேவன் என்றார் தேவ மனிதன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4.தேவ ஜனம் கூட்டிச் சேர்த்தே தேவ மனிதன்</samp>
<samp charset="UTF-8" class="lyricline">பலிபீடம் செப்பனிட்டு பலியுமீந்தார்</samp>
<samp charset="UTF-8" class="lyricline">கேட்டருளும் கேட்டருளும்</samp>
<samp charset="UTF-8" class="lyricline">என்றே கதறினார் தேவ மனிதன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">5.வானங்களைத் திறந்தே வல்ல தேவன்</samp>
<samp charset="UTF-8" class="lyricline">அக்கினியால் பதில் தந்தார் ஜீவ தேவன்</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தரே தேவன் கர்த்தரே தேவன்</samp>
<samp charset="UTF-8" class="lyricline">என்றே பணிந்தனர் தேவ ஜனங்கள்</samp></div></div>   
        
     </div>