<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="1975" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அப்பான்னு கூப்பிடத்தான் ஆசை</samp>
<span class="chordline">          <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அப்பான்னு கூப்பிடவா?</samp>
<span class="chordline">                                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அம்மான்னு கூப்பிடத்தான் ஆசை</samp>
<span class="chordline">         <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அம்மான்னு கூப்பிடவா?</samp>
<span class="chordline">                             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அப்பான்னு கூப்பிடவா</samp>
<span class="chordline">         <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அம்மான்னு கூப்பிடவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">  <b>G</b>                            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">1.கருவில் என்னை சுமந்ததப் பார்த்தா</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அம்மான்னு சொல்லணும்</samp>
<span class="chordline"><b>G</b>                            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தோளில் என்னை சுமந்ததப் பார்த்தா</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்பான்னு சொல்லணும்</samp>
<span class="chordline">                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னைக் கெஞ்சுவதும் கொஞ்சுவதும்</samp>
<span class="chordline"><b>C</b>        <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பார்த்தா அம்மான்னு சொல்லணும்</samp>
<span class="chordline">                       <b>Em</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னை ஆற்றுவதும் தேற்றுவதும் பார்த்தா</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்பான்னு சொல்லணும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2.கண்ணீரை துடைச்சதைப் பார்த்தா</samp>
<samp charset="UTF-8" class="lyricline">அம்மான்னு சொல்லணும்</samp>
<samp charset="UTF-8" class="lyricline">விண்ணப்பத்தைக் கேட்பதைப் பார்த்தா</samp>
<samp charset="UTF-8" class="lyricline">உம்மை அப்பான்னு சொல்லணும்</samp>
<samp charset="UTF-8" class="lyricline">என்னை ஏந்துவதும் தாங்குவதும் பார்த்தா</samp>
<samp charset="UTF-8" class="lyricline">உம்மை அம்மான்னு சொல்லணும்</samp>
<samp charset="UTF-8" class="lyricline">உங்க இரக்கத்தை உருக்கத்தை பார்த்தா</samp>
<samp charset="UTF-8" class="lyricline">உம்மை அப்பான்னு சொல்லணும்</samp></div></div>   
        
     </div>