<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2008" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                 <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">அந்தோ கல்வாரியில் </samp>
<span class="chordline">     <b>G</b>        <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">அருமை இரட்சகரே </samp>
<span class="chordline">      <b>G</b>           <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சிறுமை அடைந்தே தொங்கினார் </samp>
<span class="chordline">     <b>G</b>           <b>A</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சிறுமை அடைந்தே தொங்கினார் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>        <b>A</b>          <b>Bm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை மாட்சிமை மறந்திழந்தோராய்</samp>
<span class="chordline"><b>Bm</b>          <b>A</b>         <b>Em</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கொடுமை குருசைத் தெரித்தாரே</samp>
<span class="chordline">       <b>Bm</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மாய லோகத்தோ டழியாது யான்</samp>
<span class="chordline">      <b>G</b>         <b>A</b>            <b>A7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூய கல்வாரியின் அன்பை அண்டிடவே    </samp>
<samp charset="UTF-8" class="lyricline">   ... அந்தோ </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>A</b>         <b>Bm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அழகுய்மில்லை செள்ந்தரிய மில்லை</samp>
<span class="chordline"><b>Bm</b>         <b>A</b>       <b>Em</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அந்தக் கேடுற்றார் எந்தனை மீட்க</samp>
<span class="chordline">     <b>Bm</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பல நிந்தைகள் சுமந்தாலுமே</samp>
<span class="chordline">     <b>G</b>        <b>A</b>        <b>A7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பதினாயிரம் பேரிலும் சிறந்தவரே   </samp>
<samp charset="UTF-8" class="lyricline">   ... அந்தோ </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>A</b>         <b>Bm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முள்ளின் முடியும் செவ்வங்கி அணிந்தும்</samp>
<span class="chordline"><b>Bm</b>     <b>A</b>       <b>Em</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கால் கரங்கள் ஆணிகள் பாயந்தும்</samp>
<span class="chordline">    <b>Bm</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">குருதி வடிந்தவர் தொங்கினார்</samp>
<span class="chordline">      <b>G</b>       <b>A</b>          <b>A7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வருந்தி மடிவோரையும் மீட்டிடவே   </samp>
<samp charset="UTF-8" class="lyricline">   ... அந்தோ </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>A</b>        <b>Bm</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் இது இயேசுவின் தியாகம் </samp>
<span class="chordline"><b>Bm</b>        <b>A</b>        <b>Em</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதிலும் இன்பாம் அன்பரின் தியானம்</samp>
<span class="chordline">       <b>Bm</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அதை எண்ணியே நிதம் வாமுவேன்</samp>
<span class="chordline">       <b>G</b>          <b>A</b>             <b>A7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர் பாதையை நான் தொடர்ந்தேகிடவே   </samp>
<samp charset="UTF-8" class="lyricline">   ... அந்தோ </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>A</b>           <b>Bm</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவைக் காட்சியைக் கண்டு முன்னேறி</samp>
<span class="chordline"><b>Bm</b>          <b>A</b>        <b>Em</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சேவையே புரிவேன் ஜீவனும் வைத்தே</samp>
<span class="chordline">           <b>Bm</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னைச் சேர்த்திட வருவேனென்றார்</samp>
<span class="chordline">         <b>G</b>         <b>A</b>           <b>A7</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் உண்மையுடன் நம்பி வாழ்ந்திடுவேன்       </samp>
<samp charset="UTF-8" class="lyricline">   ... அந்தோ </samp></div></div>   
        
     </div>