<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2009" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பலிபீடத்தில் என்னைப் பரனே</samp>
<span class="chordline"><b>D</b>                      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">படைக்கிறேனே இந்த வேளை</samp>
<span class="chordline">                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அடியேனை திருச்சித்தம் போல</samp>
<span class="chordline"><b>A</b>         <b>A7</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டு நடத்திடுவீர்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>D</b>       <b>Bm</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரியீன் அன்பினையே</samp>
<span class="chordline"><b>G</b>              <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்டு விரைந்தோடி வந்தேன்</samp>
<span class="chordline"><b>D</b>             <b>Bm</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கழுவும் உம் திரு இரத்தத்தாலே</samp>
<span class="chordline"><b>G</b>           <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கரை நீங்க இருதயத்தை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">1.நீரன்றி என்னாலே பாரில்</samp>
<samp charset="UTF-8" class="lyricline">ஏதும் நான் செய்திட இயலேன்</samp>
<samp charset="UTF-8" class="lyricline">சேர்ப்பீரே வழுவாது என்னை</samp>
<samp charset="UTF-8" class="lyricline">காத்து உமக்காய் நிறுத்தி - கல்வாரியீன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2.ஆவியோடாத்மா சரீரம்</samp>
<samp charset="UTF-8" class="lyricline">அன்பரே உமக்கென்றும் தந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">ஆலய மாக்கியே இப்போ</samp>
<samp charset="UTF-8" class="lyricline">ஆசீர்வதித்தருளும் - கல்வாரியீன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3.சுயம் என்னில் சாம்பலாய் மாற</samp>
<samp charset="UTF-8" class="lyricline">சுத்தாவியே அனல் மூட்டும்</samp>
<samp charset="UTF-8" class="lyricline">ஜெயம் பெற்று மாமிசம் மாய</samp>
<samp charset="UTF-8" class="lyricline">தேவா அருள் செய்குவீர் - கல்வாரியீன்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">4.பொன்னையும் பொருளையும் விரும்பேன்</samp>
<samp charset="UTF-8" class="lyricline">மண்ணின் வாழ்வையும் வெறுத்தேன்</samp>
<samp charset="UTF-8" class="lyricline">மன்னவன் இயேசுவின் சாயல்</samp>
<samp charset="UTF-8" class="lyricline">இந்நிலத்தே கண்டதால் - கல்வாரியீன்</samp></div></div>   
        
     </div>