<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2010" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                           <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை உண்டாக்கிய என் தேவாதி தேவன்</samp>
<span class="chordline">      <b>Am</b>          <b>Gm</b>          <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் தூங்குவது மில்லை உறங்குவதுமில்லை (2 )</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">  <b>F</b>                <b>C</b>                                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">1.என்மேல் அவர் கண்ணை வைத்து ஆலோசனை சொல்லுவார்</samp>
<span class="chordline"><b>F</b>            <b>C</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியத்தின் பாதையிலே நித்தமும் நடத்துவார்</samp>
<span class="chordline">         <b>Bb</b>   <b>F</b>                  <b>Bb</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியால் உள்ளத்தை நிரப்புவார்</samp>
<span class="chordline">          <b>Bb</b>        <b>A</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் பரிசுத்தர் அவர் பெயரே - என்னை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2.பெலவீன நாட்களிலே பெலன் தந்து தாங்குவார்</samp>
<samp charset="UTF-8" class="lyricline">பலவித சோதனையில் ஜெயம் நமக்களிப்பார்</samp>
<samp charset="UTF-8" class="lyricline">ஆபத்துக் காலத்தில் அரணான கோட்டையும்</samp>
<samp charset="UTF-8" class="lyricline">கேடகமும் துருகமும் பெலன் அவரே - என்னை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3.ஆவியான தேவனுக்கு ரூபமொன்றுமில்லையே</samp>
<samp charset="UTF-8" class="lyricline">ரூபமொன்றுமில்லையதால் சொரூபமொன்றுமில்லையே</samp>
<samp charset="UTF-8" class="lyricline">வாஞ்சையுள்ள ஆத்துமாவின் இருதயந்தன்னிலே</samp>
<samp charset="UTF-8" class="lyricline">வார்த்தையாலே பேசுகின்ற ஆண்டவர் இவர் - என்னை</samp></div></div>   
        
     </div>