<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2017" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>    <b>F</b>                                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புதிய நாளுக்குள் (ஆன்டுக்குள்) என்னை நடத்தும்</samp>
<span class="chordline"><b>Gm</b>    <b>C</b>            <b>Bb</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">புதிய கிருபையால் என்னை நிறப்பும்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>           <b>D</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">புது கிருபை தாரும் தேவா</samp>
<span class="chordline">    <b>C</b>                     <b>Am</b> <b>Dm</b> </span>
<samp charset="UTF-8" class="lyricline">புது பெலனை தாரும் தேவா            ...புதிய</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Dm</b>        <b>C#aug</b>     <b>F</b>      </span>
<samp charset="UTF-8" class="lyricline">ஆரம்பம் அற்பமனாலும்</samp>
<span class="chordline"><b>Am</b>      <b>Gm</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">முடிவு சம்பூர்னமாய்</samp>
<span class="chordline">                         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">குறைவுகள் நிறைவாகட்டும் - எல்லா</samp>
<span class="chordline">     <b>Gm</b>      <b>Am</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என் வரட்சி செழிப்பகட்டும்             ... புது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வெட்கத்துக்கு பதிலாக (இரட்டிப்பு)</samp>
<samp charset="UTF-8" class="lyricline">நன்மை தாரும் தேவா             (2)</samp>
<samp charset="UTF-8" class="lyricline">கண்ணீர்க்கு பதிலாக (எந்தன்)      (2)</samp>
<samp charset="UTF-8" class="lyricline">களிப்பை தாரும் தேவா (ஆனந்த)   (2)    ... புது</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சவால்கள் சந்தித்திட (இன்று)</samp>
<samp charset="UTF-8" class="lyricline">உலகத்தில் ஜெயமெடுக்க            (2)</samp>
<samp charset="UTF-8" class="lyricline">உறவுகள் சீர்பொருந்த (குடும்ப)      (2)</samp>
<samp charset="UTF-8" class="lyricline">சமாதானம் நான் பெற்றிட (மனதில்)  (2)  ... புது</samp></div></div>   
        
     </div>