<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2018" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                <b>C#</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு கூறுவேன் இன்னும் அதிகமாய்</samp>
<span class="chordline">        <b>Cm</b>     <b>C#</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதிப்பேன் இன்னும் ஆர்வமாய்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>            <b>Bbm</b>    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">முழு உள்ளத்தோடு ஆராதிப்பேன்</samp>
<span class="chordline"><b>Fm</b>           <b>Bbm</b>    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">முழு பெலத்தோடு அன்புகூறுவேன்</samp>
<span class="chordline"><b>Fm</b>          <b>Cm</b>    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline"><b>C#</b>          <b>C</b>     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Fm</b>          <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">எபிநேசரே எபிநேசரே</samp>
<span class="chordline"><b>Eb</b>             <b>C</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இதுவரையில் உதவினீரே</samp>
<span class="chordline"><b>Fm</b>        <b>Eb</b>   <b>C</b>        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இதுவரையில் உதவினீரே – உம்மை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எல்ரோயி எல்ரோயி</samp>
<samp charset="UTF-8" class="lyricline">என்னைக் கண்டீரே நன்றி ஐயா – உம்மை</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">யேகோவா ராப்பா யேகோவா ராப்பா</samp>
<samp charset="UTF-8" class="lyricline">சுகதநதீரே நன்றி ஐயா – உம்மை</samp></div></div>   
        
     </div>