<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2137" class="song songcont"><div class="songpre"><span class="chordline"><b>F#m</b>                <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">தேவா பிரசன்னம் தாருமே</samp>
<span class="chordline"><b>C#7</b>                      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தேடி உம்பாதம் தொழுகிறோம்</samp>
<span class="chordline">           <b>Bm</b>          <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம் திவ்ய நாமத்திலே</samp>
<span class="chordline"><b>C#</b>                        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமுடன் கூடி வந்தோமே</samp>
<span class="chordline"><b>F#m</b>                <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">தேவா பிரசன்னம் தாருமே</samp>
<span class="chordline"><b>Bm</b>        <b>C#</b>             <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தேடி உம்பாதம் தொழுகிறோம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>F#m</b>         <b>A</b>       <b>F#m</b>     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சாரோனின் ரோஜா லீலிபுஷ்பம்</samp>
<span class="chordline"><b>E</b>                    <b>D</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சாந்த சொரூபி என் இயேசுவே</samp>
<span class="chordline"><b>F#m</b>                <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் பேரிலும் சிறந்தோராம்</samp>
<span class="chordline"><b>D</b>       <b>C#</b>          <b>D</b>  <b>F#m</b>      </span>
<samp charset="UTF-8" class="lyricline">ஆண்டவரைத் தொழுகிறோம்                - தேவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வானம் உமது சிங்காசனம்</samp>
<samp charset="UTF-8" class="lyricline">பூமி உமது பாதஸ்தலம்</samp>
<samp charset="UTF-8" class="lyricline">பணிந்து குனிந்து தொழுகிறோம்</samp>
<samp charset="UTF-8" class="lyricline">கனிந்தெம்மைக் கண் பாருமே                - தேவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் செய்த உபகாரங்கள்</samp>
<samp charset="UTF-8" class="lyricline">கணக்குரைத்து எண்ணலாகுமோ</samp>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின் பாத்திரம் கையில் ஏந்தி</samp>
<samp charset="UTF-8" class="lyricline">இரட்சகரைத் தொழுகிறோம்                 - தேவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் சமூகம் ஆனந்தமே</samp>
<samp charset="UTF-8" class="lyricline">பக்தர் சபையில் பேரின்பமே</samp>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நாமத்தைக் கொண்டாடுகிறோம்</samp>
<samp charset="UTF-8" class="lyricline">சுத்தர்கள் போற்றும் தேவனே                - தேவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">நூற்றிருபது பேர் நடுவே</samp>
<samp charset="UTF-8" class="lyricline">தேற்றரவாளன் நீர் வந்தீரே</samp>
<samp charset="UTF-8" class="lyricline">உன்னத ஆவியை ஊற்றிடுமே</samp>
<samp charset="UTF-8" class="lyricline">மன்னவனே இந்நேரமே                     - தேவா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">எப்போ வருவீர் என் இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">ஏங்கி உள்ளம் உம்மைத் தேடுதே</samp>
<samp charset="UTF-8" class="lyricline">பறந்து விரைந்து தீவிரமே</samp>
<samp charset="UTF-8" class="lyricline">இறங்கி வாரும் இயேசுவே                  - தேவா</samp></div></div>   
        
     </div>