<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2139" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆதாரம் நீர் தான் ஐயா</samp>
<span class="chordline">         <b>D7</b>          <b>G</b>  <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">ஆதாரம் நீர் தான் ஐயா</samp>
<span class="chordline"><b>C</b>                 <b>Bm</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காலங்கள் மாற, கவலைகள் தீற</samp>
<span class="chordline"><b>Am</b>        <b>D</b>          <b>G</b>  <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">காரணம் நீர் தான் ஐயா</samp>
<span class="chordline"><b>C</b>                 <b>Bm</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காலங்கள் மாற, கவலைகள் தீற</samp>
<span class="chordline"><b>Am</b>        <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காரணம் நீர் தான் ஐயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">   <b>G</b>               <b>G7</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">1. உலகத்தில் என்னென்ன ஜெயங்கள்</samp>
<span class="chordline"><b>Am</b>               <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்டேன் நான் இந்நாள் வரை</samp>
<span class="chordline"><b>G</b>               <b>G7</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உலகத்தில் என்னென்ன ஜெயங்கள்</samp>
<span class="chordline"><b>Am</b>               <b>D</b>          <b>G</b>  <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">கண்டேன் நான் இந்நாள் வரை</samp>
<span class="chordline"><b>C</b>                  <b>Bm</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆனாலும் ஏனோ நிம்மதி இல்லை</samp>
<span class="chordline"><b>Am</b>           <b>D</b>         <b>G</b>   <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் நிறைகின்றன,</samp>
<span class="chordline"><b>C</b>                  <b>Bm</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆனாலும் ஏனோ நிம்மதி இல்லை</samp>
<span class="chordline"><b>Am</b>           <b>D</b>         <b>G</b>               <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் நிறைகின்றன.       என் நிலை மாற --- ஆதாரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">2. குடும்பத்தில் குழப்பங்கள் இல்லை</samp>
<samp charset="UTF-8" class="lyricline">பணக்கஷ்டம் ஒன்றுமே இல்லை</samp>
<samp charset="UTF-8" class="lyricline">ஆனாலும் ஏனோ நிம்மதி இல்லை</samp>
<samp charset="UTF-8" class="lyricline">அமைதி தான் கலைகின்றது, என் நிலை மாற --- ஆதாரம்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">3. உந்தனின் சாட்சியாய் வாழ</samp>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் வெகு நாளாய் ஆசை</samp>
<samp charset="UTF-8" class="lyricline">உம்மிடம் வந்தேன் உள்ளத்தை தந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">சாட்சியாய் வாழ்ந்திடுவேன், என் நிலை மாற --- ஆதாரம்</samp></div></div>   
        
     </div>