<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2161" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>          <b>G</b>           <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் போக்கவே சாபங்கள் நீக்கவே</samp>
<span class="chordline"><b>D</b>          <b>G</b>          <b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூலோகம்﻿ வந்தாரைய்யா மனிதனை மீட்கவே</samp>
<span class="chordline"><b>D</b>           <b>A</b>          <b>D</b>             <b>G</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் திறக்கவே சிலுவையை சுமந்தாரைய்யா - 2</samp>
<span class="chordline"><b>D7</b>         <b>G</b>                                <b>F#m</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரை துடைத்தாரைய்யா சந்தோஷம் தந்தாரைய்யா</samp>
<span class="chordline"><b>D7</b>         <b>G</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரை துடைத்தாரைய்யா சந்தோஷம் தந்தாரைய்யா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline">        <b>D</b>  <b>A</b>   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசுவே</samp>
<span class="chordline">        <b>G</b>  <b>A</b>   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசுவே</samp>
<span class="chordline">        <b>D</b>  <b>A</b>   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசுவே</samp>
<span class="chordline">        <b>A7</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தங்கத்தை கேட்கவில்லை வைரத்தை கேட்கவில்லை</samp>
<samp charset="UTF-8" class="lyricline">உள்ளத்தை﻿ கேட்டாரைய்யா ஆஸ்தியை கேட்கவில்லை</samp>
<samp charset="UTF-8" class="lyricline">அந்தஸ்தை கேட்கவில்லை உள்ளத்தை கேட்டாரைய்யா</samp>
<samp charset="UTF-8" class="lyricline">நான் தேடி போகவில்லை என்னைத் தேடி வந்தாரைய்யா -2</samp>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசுவே - 4</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தாய் உன்னை மறந்தாலும் தந்தை உன்னை மறந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">அவர் உன்னை மறக்கமாட்டார் நண்பர் உன்னை மறந்தாலும்</samp>
<samp charset="UTF-8" class="lyricline">உற்றார் உன்னை மறந்தாலும் அவர் உன்னை மறக்கமாட்டார்</samp>
<samp charset="UTF-8" class="lyricline">கரம் பிடித்து நடத்திடுவார் கன்மலை மேல் நிறுத்திடுவார் -﻿ 2</samp>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசுவே - 4</samp></div></div>   
        
     </div>