<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2183" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் நாவில் புதுப்பாட்டு எந்தன்</samp>
<span class="chordline"><b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு தருகின்றார் எந்தன்</samp>
<span class="chordline"><b>E</b>                          <b>F#m</b>            </span>
<samp charset="UTF-8" class="lyricline">ஆனந்தம் கொள்ளுவேன் அவரை நான்</samp>
<span class="chordline"><b>B</b>          <b>B7</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவேன் உயிருள்ள நாள் வரையில் அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>E</b>                           <b>E7</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாவஇருள் என்னை வந்து சூழ்ந்துகொள்கையில்</samp>
<span class="chordline"><b>F#m</b>                  <b>A</b>        <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேவனவர் தீபமாய் என்னைத்தேற்றினார்</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">வாதை நோயும் வந்தபோது வேண்டல் கேட்டிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">பாதை காட்டி துன்பமெல்லாம் நீக்கி மீட்டிட்டார்      -ஆன</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">சேற்றில் வீழ்ந்த என்னையவர் தூக்கியெடுத்தார்</samp>
<samp charset="UTF-8" class="lyricline">நாற்றமெல்லாம் ஜீவர்த்தம் கொண்டு மாற்றினார்     -ஆன  </samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">தந்தை தாயும் நண்பருற்றார் யாவுமாகினார்</samp>
<samp charset="UTF-8" class="lyricline">நிந்தை தாங்கி எங்குமவர் மேன்மை சொல்லுவேன்    -ஆன</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<samp charset="UTF-8" class="lyricline">இவ்வுலகப்பாடு என்னை என்ன செய்திடும்</samp>
<samp charset="UTF-8" class="lyricline">அவ்வுலக வாழ்வைக் காண காத்திருக்கிறேன்         -ஆன</samp></div></div>   
        
     </div>