<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2185" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>          <b>F#m</b>         <b>G#m</b>         <b>C#m</b>     </span>
<samp charset="UTF-8" class="lyricline">தேன் இனிமையிலும் இயேசுவின் நாமம்</samp>
<span class="chordline"><b>B</b>         <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">திவ்விய மதுரமாமே - அதைத்</samp>
<span class="chordline">         <b>G#m</b>   <b>E</b>       <b>G#m</b>      </span>
<samp charset="UTF-8" class="lyricline">தேடியே நாடி ஓடியே வருவாய், </samp>
<span class="chordline"><b>E</b>        <b>G#m</b>    <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">தினமும் நீ மனமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>       <b>F#m</b>      <b>G#m</b>     <b>C#m</b>     </span>
<samp charset="UTF-8" class="lyricline">காசினிதனிலே நேசமதாகக்</samp>
<span class="chordline"><b>B</b>           <b>B7</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கஷ்டத்தை உத்தரித்தே - பாவக்</samp>
<span class="chordline">          <b>G#m</b>   <b>E</b>           <b>G#m</b>   </span>
<samp charset="UTF-8" class="lyricline">கசடதை அறுத்து ச் சாபத்தைத் தொலைத்தார்</samp>
<span class="chordline"><b>E</b>          <b>G#m</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கண்டுணர் நீ மனமே</samp>
<samp charset="UTF-8" class="lyricline">   ...தேன்   </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>          <b>F#m</b>    <b>G#m</b>         <b>C#m</b>     </span>
<samp charset="UTF-8" class="lyricline">பாவியை மீட்கத் தாவியே உயிரைத்</samp>
<span class="chordline"><b>B</b>      <b>B7</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தாமே ஈந்தவராம் - பின்னும்</samp>
<span class="chordline">           <b>G#m</b>       <b>E</b>          <b>G#m</b>          </span>
<samp charset="UTF-8" class="lyricline">நேமியாம் கருணை நிலைவரமுண்டு</samp>
<span class="chordline"><b>E</b>     <b>G#m</b>       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நிதம் துதி மனமே</samp>
<samp charset="UTF-8" class="lyricline">  ...தேன்   </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>           <b>F#m</b>        <b>G#m</b>        <b>C#m</b>     </span>
<samp charset="UTF-8" class="lyricline">காலையில் பனிபோல் மாயமாய் உலகம்</samp>
<span class="chordline"><b>B</b>             <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உபாயமாய் நீங்கிவிடும் - என்றும்</samp>
<span class="chordline">           <b>G#m</b>     <b>E</b>        <b>G#m</b> </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் பாதம் நிச்சயம் நம்பு</samp>
<span class="chordline"><b>E</b>        <b>G#m</b>    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கருத்தாய் நீ மனமே</samp>
<samp charset="UTF-8" class="lyricline">  ...தேன்   </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>F#m</b>     <b>G#m</b>            <b>C#m</b>     </span>
<samp charset="UTF-8" class="lyricline">துன்பத்தில் இன்பம் தொல்லையில் நல்ல</samp>
<span class="chordline"><b>B</b>              <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">துணைவராம் நேசரிடம் - நீயும்</samp>
<span class="chordline">             <b>G#m</b>         <b>E</b>                 <b>G#m</b> </span>
<samp charset="UTF-8" class="lyricline">அன்பதாய்ச் சேர்த்தால் அணைத்துனைக் காப்பார்</samp>
<span class="chordline"><b>E</b>        <b>G#m</b>    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆசை கொள் நீ மனமே.</samp>
<samp charset="UTF-8" class="lyricline">  ...தேன்   </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>          <b>F#m</b>    <b>G#m</b>         <b>C#m</b>     </span>
<samp charset="UTF-8" class="lyricline">பூலோகத்தாரும் மேலோகத்தாரும்</samp>
<span class="chordline"><b>B</b>         <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்து போற்று நாமம் - அதைப்</samp>
<span class="chordline">         <b>G#m</b>             <b>E</b>            <b>G#m</b> </span>
<samp charset="UTF-8" class="lyricline">பூண்டுகொண்டால்தான் பொன்னகர் வாழ்வில்</samp>
<span class="chordline"><b>E</b>        <b>G#m</b>    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">புகுவாய் நீ மனமே</samp>
<samp charset="UTF-8" class="lyricline">  ...தேன்   </samp></div></div>   
        
     </div>