<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2212" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>        <b>C#</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னைத்தான் கேட்கிறேன்</samp>
<span class="chordline">          <b>C#</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னைத்தான் கேட்கிறேன்</samp>
<span class="chordline">       <b>C</b>            <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">மனம் மாறமாட்டாயா</samp>
<span class="chordline">       <b>C</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">மனம் மாறமாட்டாயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">காடும் வீடும் நிலமும்</samp>
<span class="chordline">                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கு போதும் என்று சொன்னால்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி உன்னை விட்டு போகும் போது</samp>
<span class="chordline">       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">என்ன சொல்வாய்</samp>
<span class="chordline">                <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">யாவும் அழிந்துபோகும்</samp>
<span class="chordline">                 <b>Ab</b></span>
<samp charset="UTF-8" class="lyricline">அழியாதொன்று உண்டு</samp>
<span class="chordline"><b>Bbm</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை காக்க வல்ல</samp>
<span class="chordline">        <b>C</b>                   <b>Fm</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்துவின் நேச கரங்கள்    </samp>
<span class="chordline"><b>Bbm</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை காக்க வல்ல</samp>
<span class="chordline">        <b>C</b>                   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்துவின் நேச கரங்கள்   </samp>
<samp charset="UTF-8" class="lyricline">    ... உன்னைத்தான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பட்டம் படிப்பு தகுதி</samp>
<span class="chordline">                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உறவு யாவும் மாறிப்போகும்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உலகம் உன்னை ஒதுக்கி </samp>
<span class="chordline">         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளும் காலம் வந்து சேரும்</samp>
<span class="chordline"><b>Bbm</b>               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அன்று உணர்ந்து கொள்வாய்</samp>
<span class="chordline"><b>C</b>          <b>Fm</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உண்மை என்னவென்று</samp>
<span class="chordline"><b>Bbm</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">மாறும் உலகில் நிலைக்க</samp>
<span class="chordline">        <b>C</b>                <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஒருவர் இயேசு ராஜனென்று   -2   </samp>
<samp charset="UTF-8" class="lyricline">   ... உன்னைத்தான் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் செடய்யும் போது</samp>
<span class="chordline">                           <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">மனதில் பயமமே ஒன்றும் இல்லை</samp>
<samp charset="UTF-8" class="lyricline">காலம் கடந்து நீதி வரும்போதோ</samp>
<span class="chordline">          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சம் கலங்கும்</samp>
<span class="chordline"><b>Bbm</b>             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சின் பாவ பாரம்</samp>
<span class="chordline"> <b>C</b>               <b>Fm</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீங்கும் உந்தன் வாழ்வில்</samp>
<span class="chordline"><b>Bbm</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கி பார் இயேசு </samp>
<span class="chordline">          <b>C</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை அழைக்கிறார் இந்த நேரம்   -2   </samp>
<samp charset="UTF-8" class="lyricline">   ... உன்னைத்தான்</samp></div></div>   
        
     </div>