<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2218" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காக  வாழ்கின்றேன்</samp>
<span class="chordline">  <b>F#</b>                   <b>Bm</b>    <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நீர் தானே எந்தன் தஞ்சம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                  <b>Em</b>    <b>G</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வருவார்  என்  ஏசுவே  வருவார்  என் ஏசுவே </samp>
<span class="chordline"><b>D</b>                <b>F#m</b>     <b>Em</b>          <b>Daug</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை  நான்  சந்திக்கவே  நான்  ஜீவிக்கிறேன் </samp>
<span class="chordline"><b>F#</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் வாருமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                        <b>G</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம் மார்பில்  சாய்ந்து  உம்மோடு  பேச </samp>
<span class="chordline"><b>Bm</b>               <b>F#m</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை  தேடி  வருவேனே  -2</samp>
<span class="chordline">      <b>Bm</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்  பாவத்தை  நான்  அறிவேனே</samp>
<span class="chordline">      <b>Bm</b>                 <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">என்  பாவத்தை  நான்  அறிவேனே</samp>
<span class="chordline"><b>Bm</b>             <b>Em</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்னை  நீர்  வெருப்பீரோ </samp>
<span class="chordline"><b>D</b>                 <b>F#</b>    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்னை  காண  வருவீரோ </samp>
<span class="chordline"><b>D</b>                             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்  கண்ணீரை நீர்  வந்து  துடைபீரோ  -2</samp>
<span class="chordline"><b>F#</b>                         <b>Bm</b>            <b>G</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே  பற்றி  கொள்வேன்  அன்பாலே  அனைப்பீரோ   </samp>
<span class="chordline"><b>F#</b>                      <b>Bm</b>            <b>G</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நம்பி  உள்ளேன்  மறவாமல்  வருவீரோ </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">நான்  கண்ணீரோடு  உம்மை  அழைத்போது   </samp>
<samp charset="UTF-8" class="lyricline">என்  கரத்தை  பிடித்துகொண்டீர் – 2</samp>
<samp charset="UTF-8" class="lyricline">உந்தன்  கரத்தை  உதறினேன் </samp>
<samp charset="UTF-8" class="lyricline">உலகத்தை  நேசித்தேன்  -2</samp>
<samp charset="UTF-8" class="lyricline">என்னை  மட்டும் நினைத்தேனே</samp>
<samp charset="UTF-8" class="lyricline">உந்தன்  அன்பை  மறந்தேனே </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பாவத்தில்  இருளில்  நான்  அலைந்தேனே  - 2</samp>
<samp charset="UTF-8" class="lyricline">என்னை  மீட்டு  செல்ல </samp>
<samp charset="UTF-8" class="lyricline">நீர்  தான் வருவீரோ </samp>
<samp charset="UTF-8" class="lyricline">இவ்வுலகில்   இருந்து  என்னை  அழைத்து  செல்ல  வருவாரோ .</samp></div></div>   
        
     </div>