<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2227" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வந்தருளும் தூய ஆவியே</samp>
<span class="chordline"><b>C</b>                         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தந்தருளும் தேவ மகிமையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>   <b>C#aug</b> <b>Dm</b>   <b>F</b>    <b>C</b>  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே  தூய ஆவியே </samp>
<span class="chordline"><b>Dm</b>     <b>Bb</b> <b>Gm</b>   <b>A</b>    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகியும் தூய ஆவியே</samp>
<span class="chordline"><b>C</b>                         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அனல் மூட்டும் தூய ஆவியே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆவியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொள்ளும் தூய ஆவியே</samp>
<span class="chordline"><b>C</b>                           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அரவணைக்கும்  தூய  ஆவியே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆவியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஊற்றிடுமே தூய ஆவியே</samp>
<span class="chordline"><b>C</b>                         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உணர்திடுமே  தூய ஆவியே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆவியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வழிகாட்டும் தூய ஆவியே</samp>
<span class="chordline"><b>C</b>                       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வழிநடத்தும் தூய ஆவியே</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆவியே</samp></div></div>   
        
     </div>