<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2239" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                      <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தந்தானைத்  துதிப்போமே-திருச்</samp>
<span class="chordline"><b>G#m</b>                <b>F#m</b>   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சபையோரே கவி -பாடிப்பாடி</samp>
<span class="chordline"><b>G#m</b>                    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">விந்தையாய் நமக்கனந்தனந்தமான</samp>
<span class="chordline"><b>C#m</b>                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">விள்ளற்கரியதோர்  நன்மை மிக மிகத்  </samp>
<samp charset="UTF-8" class="lyricline">  -தந்தானை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">ஒய்யாரத்துச்  சீயோனே -நீயும்</samp>
<span class="chordline"><b>G#m</b>                <b>F#m</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மெய்யாகக்  களிகூர்ந்து  நேர்ந்து</samp>
<span class="chordline"><b>G#m</b>                    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஐயனேசுக்குனின் கையைக் கூப்பித் துதி</samp>
<span class="chordline"><b>C#m</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">செய்குவையே  மகிழ் கொள்ளுவையே நாமும் </samp>
<samp charset="UTF-8" class="lyricline">   -தந்தானை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணாரக் களித்தாயே -நன்மை</samp>
<span class="chordline"><b>G#m</b>                   <b>F#m</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">காட்சியைக் கண்டு  ருசித்து புசித்து</samp>
<span class="chordline"><b>G#m</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணுக்கடங்காத எத்தனையோ நன்மை</samp>
<span class="chordline"><b>C#m</b>                        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இன்னுமுன்மேற்  சோனா மாரிபோற் பெய்துமே </samp>
<samp charset="UTF-8" class="lyricline">   -தந்தானை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                     <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தாங்கத்து  நற்சபையே - உனை</samp>
<span class="chordline"><b>G#m</b>                <b>F#m</b>   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">முற்றாய்க் கொள்ளவே  அலைந்து திரிந்து</samp>
<span class="chordline"><b>G#m</b>                       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சத்துக்  குலைந்துனைச்  சத்தியாக்கத்   தம்மின்</samp>
<span class="chordline"><b>C#m</b>                <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ரத்தத்தைச் சிந்தி எடுத்தே உயிர் வரம் </samp>
<samp charset="UTF-8" class="lyricline">   -தந்தானை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தூரம் திரிந்த சீயோனே -உனை</samp>
<span class="chordline"><b>G#m</b>                <b>F#m</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கியெடுத்தக் கரத்தினிலேந்தி</samp>
<span class="chordline"><b>G#m</b>                    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஆரங்கள் பூட்டி அலங்கரித்து நினை</samp>
<span class="chordline"><b>C#m</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அந்தன்  மணவாட்டி யாக்கினது என்னை </samp>
<samp charset="UTF-8" class="lyricline">   -தந்தானை</samp></div></div>   
        
     </div>