<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2242" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">எப்பக்கத்திலும் முன்னும் என் பின்னும்</samp>
<span class="chordline"><b>E</b>                   <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் தாங்கிடும் தேவன் எனக்குண்டு</samp>
<span class="chordline"><b>E</b>                <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேலைக் காக்கும் நல்தேவன்</samp>
<span class="chordline"><b>E</b>                      <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">உறங்குவதில்லையே  தூங்குவதில்லை</samp>
<span class="chordline">     <b>G#m</b> <b>C#m</b>          <b>F#m</b>          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவன் என்னை காத்து நடத்துவார்</samp>
<span class="chordline">     <b>G#m</b> <b>C#m</b>           <b>A</b>             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவன் என்றும் ஆளுகை செய்வார்.</samp>
<samp charset="UTF-8" class="lyricline">    -எப்பக்கத்திலும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>             <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">பயப்படாதே கர்த்தர் உன்னோடு</samp>
<span class="chordline"><b>E</b>                <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">இருக்கும் போது கவலையே இல்லை</samp>
<span class="chordline"><b>E</b>                  <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளங் கரத்தில் உன்னை வரைந்து</samp>
<span class="chordline"><b>E</b>                  <b>Esus4</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணை பதித்து காக்கும் நல் தேவன       </samp>
<samp charset="UTF-8" class="lyricline">   - என் தேவன் </samp></div></div>   
        
     </div>