<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2256" class="song songcont"><div class="songpre"><span class="chordline"><b>Bb</b>               <b>Dm</b>      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஒருவரும் சேரக்கூடாத ஒளியில்</samp>
<span class="chordline"><b>Eb</b>      <b>F</b>       <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">வாசம் செய்பவரே (2)</samp>
<span class="chordline"><b>Eb</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீரே பரிசுத்த தெய்வம்</samp>
<span class="chordline"><b>D</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நீரே பரிசுத்த தெய்வம்</samp>
<span class="chordline"><b>Cm</b>        <b>Gaug</b>   <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீரே  நீர் மாத்திரமே</samp>
<span class="chordline"><b>Cm</b>        <b>F</b>      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீரே  நீர் மாத்திரமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர்  நீர் பரிசுத்தர்</samp>
<span class="chordline"><b>F</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர்  நீர் பரிசுத்தர்</samp>
<span class="chordline"><b>Cm</b>        <b>F</b>       <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீரே நீர்  மாத்திரமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                     <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாவற்றிலும் நீர் மேலானவர்</samp>
<span class="chordline">          <b>Am</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோரிலும்  பெரியவர்</samp>
<span class="chordline"><b>C</b>                 <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சகலவற்றையும் ‌சிருஷ்டித்தவர்</samp>
<span class="chordline">      <b>Gsus4</b> <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்லவர்</samp>
<span class="chordline"><b>C</b>               <b>Em</b>         <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை போல் வேறோரு தேவன் இல்லை</samp>
<span class="chordline">     <b>Am</b>         <b>D</b> <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீரே நீர் மாத்திரமே</samp>
<span class="chordline"><b>C</b>            <b>Dm</b>     <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் பரிசுத்தர் பரிசுத்தரே</samp>
<span class="chordline">   <b>Am</b>        <b>Dm</b>     <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் பரிசுத்தர் பரிசுத்தரே</samp>
<span class="chordline"><b>Dm</b>       <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீரே நீர் மாத்திரமே</samp></div></div>   
        
     </div>