<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2260" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>        <b>A2</b>             <b>E</b>  <b>A2</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் கவர்ந்தவரே</samp>
<span class="chordline"><b>E</b>        <b>A2</b>         <b>E</b>   <b>A2</b></span>
<samp charset="UTF-8" class="lyricline">அழகிய என் இயேசுவே</samp>
<span class="chordline"><b>E</b>      <b>A2</b>     <b>E</b>  <b>A2</b></span>
<samp charset="UTF-8" class="lyricline">நிகரில்லாதவரே</samp>
<span class="chordline"><b>E</b>          <b>A2</b>                 <b>E</b>  <b>A2</b></span>
<samp charset="UTF-8" class="lyricline">வர்ணிக்க வார்த்தை இல்லையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>        <b>B</b>  <b>G#m</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சிறந்தவர் நீர் உயர்ந்தவர்</samp>
<span class="chordline"><b>F#m</b>           <b>B</b>  <b>G#m</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">விண்சிங்கம் நீர் தேவ ஆட்டுக்குட்டி</samp>
<span class="chordline">         <b>F#m</b>        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் துதிக்க</samp>
<span class="chordline">         <b>G#m</b>        <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் போற்ற</samp>
<span class="chordline"><b>F#m</b>        <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேவ என் வாழ்நாள் போதுமோ </samp>
<samp charset="UTF-8" class="lyricline">   - என் உள்ளம்</samp></div></div>   
        
     </div>