<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2264" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீர் தந்த இந்த வாழ்வை</samp>
<span class="chordline">      <b>B</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கென்றும்  அர்ப்பணித்தேன்</samp>
<span class="chordline">                         <b>A</b>    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு தேவா கிறிஸ்து நாதா</samp>
<span class="chordline">          <b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை  என்றும் மறவேனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                      <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">இரு கைகள் உம்மை வணங்கி</samp>
<span class="chordline">          <b>A</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்றும்  தொழுகை செய்திடுமே</samp>
<span class="chordline">     <b>D</b>             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இரு கால்கள் சுவிசேஷம்</samp>
<span class="chordline">                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் பரப்ப செய்திடுமே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">   ...நீர் தந்த </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                      <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன்  ஆஸ்தி எந்தன் செல்வம்</samp>
<span class="chordline">          <b>A</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">யாவும்  உமக்கே  தந்திடுவேன்</samp>
<span class="chordline">     <b>D</b>             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் உள்ளம் எந்தன் ஆவி</samp>
<span class="chordline">                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">யாவும்  உமக்கே ஈந்திடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...நீர் தந்த </samp></div></div>   
        
     </div>