<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2266" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை  தாருமே</samp>
<span class="chordline"><b>G</b>             <b>Bm</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பெலவினன்  நானல்லோ</samp>
<span class="chordline"><b>Am</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீன  நேரத்தில்  உம்</samp>
<span class="chordline"><b>B</b>                 <b>Em</b> <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பெலனைத்  தாருமே</samp>
<span class="chordline"><b>Am</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீன  நேரத்தில்  உம்</samp>
<span class="chordline"><b>B</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பெலனைத்  தாருமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையின் பாரங்கள்</samp>
<span class="chordline">                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நெருக்குதே</samp>
<span class="chordline">                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உலகத்தின்  ஈர்ப்புகள்</samp>
<span class="chordline">                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னை  இழுக்கிறதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியின்  வல்லமை</samp>
<span class="chordline">                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் மேல் ஊற்றுமே</samp>
<span class="chordline">                      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">முழுமையாய்  என்னையும்</samp>
<span class="chordline">                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மறுரூபமாக்குமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த வாழ்க்கையை</samp>
<span class="chordline">                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வாழ  நினைக்கிறேன்</samp>
<span class="chordline">                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தின்  பிடியிலே</samp>
<span class="chordline">                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சிக்கித் தவிக்கிறேன்</samp></div></div>   
        
     </div>