<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2267" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாவே  என்  பெலனே</samp>
<span class="chordline">                          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில்  அன்பு கூர்ந்திடுவேன்</samp>
<span class="chordline">            <b>G</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">துருகமும்  நீர் கேடகம்  நீர்</samp>
<span class="chordline">             <b>E</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சண்ய  கொம்பும்  அடைக்கலம்  நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தின் கட்டுகள் சூழ்ந்த போதும்</samp>
<span class="chordline">                                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">துர்ச்சனப் பிரவாகம்  புரண்ட போதும்</samp>
<span class="chordline"><b>A</b>              <b>D</b>  <b>A</b>       <b>Dm</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கத்தின் மத்தியில்  குரல் எழுப்ப</samp>
<span class="chordline"><b>Am</b>            <b>G</b>      <b>E</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உருக்கமாய்  வந்து உதவி  செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">   -கர்த்தாவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தயை செய்பவனுக்கு  நீர் தயை உள்ளவர்</samp>
<span class="chordline">                             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமனை  நீர்  உயர்திடுவீர்</samp>
<span class="chordline"><b>A</b>              <b>D</b>  <b>A</b>    <b>Dm</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">புனிதனுக்கு  நீர் புனிதன் அன்றோ</samp>
<span class="chordline"><b>Am</b>            <b>G</b>      <b>E</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">புதிய கிருபையின் உறைவிடமே</samp>
<samp charset="UTF-8" class="lyricline">   -கர்த்தாவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சண்ய  கேடகம் எனக்குத் தந்தீர்</samp>
<span class="chordline">                                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உமது  கரம்  என்னை உயர்த்தும்</samp>
<span class="chordline"><b>A</b>              <b>D</b>  <b>A</b>    <b>Dm</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை அல்லால்  தேவன் இல்லை</samp>
<span class="chordline"><b>Am</b>            <b>G</b>   <b>E</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அவரே  எந்தன்  கன்மலையே</samp>
<samp charset="UTF-8" class="lyricline">   -கர்த்தாவே</samp></div></div>   
        
     </div>