<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2268" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையின்  அன்பு  போதாதையா</samp>
<span class="chordline"><b>D</b>               <b>G</b>            <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">தாயின் அன்பு  போதாதையா</samp>
<span class="chordline"><b>Em</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையின்  அன்பு  போதாதையா</samp>
<span class="chordline"><b>D</b>               <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">தாயின் அன்பு  போதாதையா</samp>
<span class="chordline"><b>C</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சிநேகிதன்  அன்பு  போதாதையா</samp>
<span class="chordline"><b>B</b>                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்  அன்பு  வேண்டுமையா</samp>
<span class="chordline">           <b>E</b>      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சிநேகிதி  அன்பு  போதாதையா</samp>
<span class="chordline"><b>B</b>                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்  அன்பு  வேண்டுமையா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>             <b>Am</b>  <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமது  அன்பிலே என்னை  இழக்கிறேன்</samp>
<span class="chordline"><b>C</b>               <b>Am</b>     <b>B</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமது  அன்பிற்காய்  என்னை தருகிறேன் </samp>
<samp charset="UTF-8" class="lyricline">   -தந்தை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>          <b>Am</b>  <b>D</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெறுமையை  நீக்கிட  உலகத்தில் முயன்றேன்</samp>
<span class="chordline"><b>C</b>               <b>Am</b>      <b>B</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வெறுமை  நீங்காமல்  துயரம் வந்ததே </samp>
<samp charset="UTF-8" class="lyricline">   -தந்தை</samp></div></div>   
        
     </div>