<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2271" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>                            <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">எந்த  நிலையில் நானிருந்தாலும்</samp>
<span class="chordline">                      <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னை  வெறுக்காதவர் </samp>
<span class="chordline">     <b>F#</b>            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு ஒருவரே</samp>
<span class="chordline">     <b>F#</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் ஒருவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                             </span>
<samp charset="UTF-8" class="lyricline">அனாதையாய்  நானிருந்தால்  </samp>
<span class="chordline"><b>F#</b>                  <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">பலர்  வெறுப்பார்கள்</samp>
<span class="chordline"><b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">அன்பு  வேண்டுமா என்று  </samp>
<span class="chordline"><b>F#7</b>                <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அலைய வைப்பார்கள்</samp>
<samp charset="UTF-8" class="lyricline">   -எந்த </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பட்டப்படிப்பு  இல்லாவிட்டால்  </samp>
<span class="chordline"><b>F#</b>                 <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">பலர் வெறுப்பார்கள்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் பட்டங்களை  சொல்லி சொல்லி  </samp>
<span class="chordline"><b>F#7</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பரிகசிப்பார்கள் </samp>
<samp charset="UTF-8" class="lyricline">   -எந்த </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நோயாளியாய்  நான் இருந்தால் </samp>
<span class="chordline"><b>F#</b>                 <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">பலர் வெறுப்பார்கள்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் நோய்களையே சொல்லி சொல்லி  </samp>
<span class="chordline"><b>F#7</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நோக வைப்பார்கள் </samp>
<samp charset="UTF-8" class="lyricline">   -எந்த </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கடனாளியாய்  நான் இருந்தால் </samp>
<span class="chordline"><b>F#</b>                 <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">பலர் வெறுப்பார்கள்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் கடன்களையே சொல்லி சொல்லி </samp>
<span class="chordline"><b>F#7</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கலங்க வைப்பார்கள் </samp>
<samp charset="UTF-8" class="lyricline">  -எந்த</samp></div></div>   
        
     </div>