<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2274" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நான் உமதண்டையில்</samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்னும் நெருங்கி</samp>
<span class="chordline"><b>E</b>              <b>Em</b>             <b>E5</b></span>
<samp charset="UTF-8" class="lyricline">சேர்வதே என் ஆவல்  பூமியில்</samp>
<span class="chordline"><b>E</b>           <b>G#m</b>   <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">மா  வலிய கோரமாக  </samp>
<span class="chordline"><b>G#m</b>       <b>A</b>    <b>B</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">வன் சிலுவை மீதினில்  நான்</samp>
<span class="chordline"><b>E5</b>                  <b>E7</b>         </span>
<samp charset="UTF-8" class="lyricline">கோவே  தொங்க  நேரிடினும் </samp>
<span class="chordline"><b>E</b>         <b>Am</b>   <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலாய் உம்மண்டை  சேர்வேன் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">யாக்கோபைப்  போல் போகும்  பாதையில்</samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பொழுது பட்டு</samp>
<span class="chordline"><b>E</b>                <b>Em</b>         <b>E5</b></span>
<samp charset="UTF-8" class="lyricline">இராவில் இருள்  வந்து  மூடிட</samp>
<span class="chordline"><b>E</b>                   <b>G#m</b>      <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">தூக்கத்தால் நான் கல்லில்  சாய்ந்து </samp>
<span class="chordline"><b>G#m</b>       <b>A</b>     <b>B</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தூங்கினாலும்  என் கனாவில்</samp>
<span class="chordline"><b>E5</b>                  <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கி உம்மைக்  கிட்டி சேர்வேன் </samp>
<span class="chordline"><b>E</b>         <b>Am</b>    <b>B</b>       <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">வாக்கடங்கா  நல்ல நாதா </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நான் உமதண்டையில்</samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்னும் நெருங்கி</samp>
<span class="chordline"><b>E</b>              <b>Em</b>             <b>E5</b></span>
<samp charset="UTF-8" class="lyricline">சேர்வதே என் ஆவல்  பூமியில்</samp>
<span class="chordline"><b>E</b>           <b>G#m</b>   <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">மா  வலிய கோரமாக  </samp>
<span class="chordline"><b>G#m</b>       <b>A</b>    <b>B</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">வன் சிலுவை மீதினில்  நான்</samp>
<span class="chordline"><b>E5</b>                  <b>E7</b>         </span>
<samp charset="UTF-8" class="lyricline">கோவே  தொங்க  நேரிடினும் </samp>
<span class="chordline"><b>E</b>         <b>Am</b>   <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலாய் உம்மண்டை  சேர்வேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரத்திற்கேறும்  படிகள் போலவே </samp>
<span class="chordline">     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் பாதை தோன்றப்</samp>
<span class="chordline"><b>E</b>              <b>Em</b>             <b>E5</b></span>
<samp charset="UTF-8" class="lyricline">பண்ணும் ஐயா எந்தன் தேவனே</samp>
<span class="chordline"><b>E</b>             <b>G#m</b>   <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">கிருபையாக நீர் எனக்கு </samp>
<span class="chordline"><b>G#m</b>    <b>A</b>         <b>B</b>       <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தருவதெல்லாம்  உமதண்டை </samp>
<span class="chordline"><b>E5</b>                     <b>E7</b>         </span>
<samp charset="UTF-8" class="lyricline">அருமையாய் என்னை அழைத்து</samp>
<span class="chordline"><b>E</b>         <b>Am</b>   <b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் தூதனாக  செய்யும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நான் உமதண்டையில்</samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்னும் நெருங்கி</samp>
<span class="chordline"><b>E</b>              <b>Em</b>             <b>E5</b></span>
<samp charset="UTF-8" class="lyricline">சேர்வதே என் ஆவல்  பூமியில்</samp>
<span class="chordline"><b>E</b>           <b>G#m</b>   <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">மா  வலிய கோரமாக  </samp>
<span class="chordline"><b>G#m</b>       <b>A</b>    <b>B</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">வன் சிலுவை மீதினில்  நான்</samp>
<span class="chordline"><b>E5</b>                  <b>E7</b>         </span>
<samp charset="UTF-8" class="lyricline">கோவே  தொங்க  நேரிடினும் </samp>
<span class="chordline"><b>E</b>         <b>Am</b>   <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலாய் உம்மண்டை  சேர்வேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நித்திரையினின்று விழித்து </samp>
<span class="chordline">   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காலை எழுந்து</samp>
<span class="chordline"><b>E</b>                  <b>Em</b>                 <b>E5</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாவே  நான்  உம்மைப்  போற்றுவேன்</samp>
<span class="chordline"><b>E</b>              <b>G#m</b>       <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">இத்தரையில்  உந்தன் வீடாய் </samp>
<span class="chordline"><b>G#m</b>        <b>A</b>    <b>B</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">என் துயர் கல் நாட்டுவேனே </samp>
<span class="chordline"><b>E5</b>                  <b>E7</b>        </span>
<samp charset="UTF-8" class="lyricline">எந்தன் துன்பத்தின் வழியாய்</samp>
<span class="chordline"><b>E</b>             <b>Am</b>      <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்னும் உம்மைக்  கிட்டிக் சேர்வேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நான் உமதண்டையில்</samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்னும் நெருங்கி</samp>
<span class="chordline"><b>E</b>              <b>Em</b>             <b>E5</b></span>
<samp charset="UTF-8" class="lyricline">சேர்வதே என் ஆவல்  பூமியில்</samp>
<span class="chordline"><b>E</b>           <b>G#m</b>   <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">மா  வலிய கோரமாக  </samp>
<span class="chordline"><b>G#m</b>       <b>A</b>    <b>B</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">வன் சிலுவை மீதினில்  நான்</samp>
<span class="chordline"><b>E5</b>                  <b>E7</b>         </span>
<samp charset="UTF-8" class="lyricline">கோவே  தொங்க  நேரிடினும் </samp>
<span class="chordline"><b>E</b>         <b>Am</b>   <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலாய் உம்மண்டை  சேர்வேன்</samp></div></div>   
        
     </div>