<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2275" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெறுமையான  பாத்திரம் நான்</samp>
<span class="chordline">            <b>G7</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வெறுத்துத் தள்ளாமலே</samp>
<span class="chordline"><b>Am</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிரம்பி வழியும் பாத்திரமாய்</samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விளங்க செய்யுமே</samp>
<span class="chordline">                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேதத்தில்  காணும் பாத்திரமெல்லாம்</samp>
<span class="chordline">                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவைப்  போற்றிடுமே</samp>
<span class="chordline">                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் அவ்வித பாத்திரமாய்</samp>
<span class="chordline">                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வனைந்து கொள்ளுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>     <b>Em</b>   <b>D</b>         <b>Am</b>          <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குயவனே குயவனே படைப்பின் காரணனே</samp>
<span class="chordline">         <b>Bm</b>     <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">களிமண்ணான என்னையுமே</samp>
<span class="chordline">                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணோக்கிப்  பார்த்திடுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">விலை போகாத பாத்திரம் நான்</samp>
<span class="chordline">            <b>G7</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">விரும்புவாரில்லையே</samp>
<span class="chordline"><b>Am</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விலையெல்லாம் உம் கிருபையால்</samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உகந்த தாக்கிடுமே</samp>
<span class="chordline">                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தடைகள் யாவும் நீக்கி என்னை</samp>
<span class="chordline">                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தம்மைப் போல் மாற்றிடுமே</samp>
<span class="chordline">                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உடைத்து என்னை உந்தனுக்கே</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உடைமை ஆக்கிடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ....குயவனே </samp></div></div>   
        
     </div>