<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2277" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வானம் பூமி படைத்த தேவன்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னோடேன்றும்  வாழும் தேவன்</samp>
<span class="chordline"><b>G</b>                                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல  தெய்வம் யாரும் இல்லையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீரே  பரிசுத்தர்.....ஒ</samp>
<span class="chordline"><b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீரே  வல்லவர் ....ஒ</samp>
<span class="chordline"><b>F</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீரே  உயர்ந்தவர்</samp>
<span class="chordline">         <b>E</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை போல யாருண்டு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையில் மரித்து உயிர்த்த தேவன்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னோடேன்றும்  வாழும் தேவன்</samp>
<span class="chordline"><b>G</b>                                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல தெய்வம் யாரும் இல்லையே</samp>
<samp charset="UTF-8" class="lyricline">    ...நீரே  பரிசுத்தர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தை வெறுக்கும் பரிசுத்தரே</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாவமாக மாறினீரே</samp>
<span class="chordline"><b>G</b>                           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாவி என்னையும் பரிசுத்தமாக்கினீர்</samp>
<samp charset="UTF-8" class="lyricline">    ...நீரே  பரிசுத்தர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">you alone are holy oh</samp>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">you alone are almighty oh</samp>
<span class="chordline"><b>F</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">you alone are worthy</samp>
<span class="chordline">         <b>E</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">there is no one like you</samp></div></div>   
        
     </div>