<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2280" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>         <b>Em</b>         <b>F#m</b> <b>D</b>             <b>A</b>  <b>E</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவனால் முடியாதது ஒன்றுமில்லை</samp>
<span class="chordline">    <b>Bm</b>       <b>Em</b>    <b>F#m</b> <b>D</b>   <b>A</b>             <b>G</b>   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தம் நாமத்தினால் கூடுமே எல்லாம் எல்லாம்-(2)</samp>
<span class="chordline"><b>Bm</b>                         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் சொன்னால் எல்லாம் ஆகும்</samp>
<span class="chordline"><b>Bm</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இல்லை வேறில்லை  நாமம்</samp>
<span class="chordline"><b>Bm</b>                    <b>F#m</b>   </span>
<samp charset="UTF-8" class="lyricline">வன்மதில் போலுள்ள துன்பமும்</samp>
<span class="chordline"><b>Bm</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வல் கரத்தால் நீங்கிடும்</samp>
<span class="chordline"><b>Em</b>                          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேர்மையின் வழியின் நடந்தால்</samp>
<span class="chordline"><b>Em</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் தினமும் தருவாரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையுள்ளவர்  நீதிமான்</samp>
<span class="chordline"><b>A</b>                <b>D</b>  <b>Em</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் மேலானவர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>Em</b>         <b>F#m</b> <b>D</b>             <b>A</b>  <b>E</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவின் நாமத்தால் குணமாகாததா</samp>
<span class="chordline">    <b>Bm</b>       <b>Em</b>    <b>F#m</b> <b>D</b>   <b>A</b>             <b>G</b>   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கொடும்  வியாதி ஏதுண்டு இல்லை இல்லை</samp>
<span class="chordline"><b>Bm</b>                         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">வசனம் விடுதலை தந்திடும்</samp>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணப்பம் கேட்பவரே</samp>
<span class="chordline"><b>Bm</b>                         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">புலம்பும் இதயத்தை காப்பவர்</samp>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">புதிய வழி காட்டுவார்</samp>
<span class="chordline"><b>Em</b>                          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வழுவாமல் என்றும் தாங்குவார்</samp>
<span class="chordline"><b>Em</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தன் வலுவான கரங்களால் அணைப்பார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                      <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">உண்மையுள்ளவர் நீதிமான்</samp>
<span class="chordline"><b>A</b>                <b>D</b>  <b>Em</b> <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சேனைகளின்  கர்த்தரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மால் கூடும் எல்லாம் கூடும்</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கூடாதது ஒன்றுமில்லையே - 2</samp>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மால் கூடும் எல்லாம் கூடும்</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கூடாதது ஒன்றுமில்லையே</samp>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மால் கூடும் எல்லாம் கூடும்</samp>
<span class="chordline"><b>A</b>                        <b>Bm</b> <b>G</b> <b>D</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கூடாதது ஒன்றுமில்லையே</samp>
<span class="chordline"><b>A</b>                                 <b>Bm</b> <b>G</b> <b>D</b> <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">உம்மால் கூடாதது ஒன்றுமில்லையே</samp>
<span class="chordline"><b>A</b>                        <b>Bm</b> <b>G</b> <b>D</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கூடாதது ஒன்றுமில்லையே</samp>
<span class="chordline"><b>A</b>                        <b>Bm</b> <b>G</b> <b>D</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கூடாதது ஒன்றுமில்லையே</samp>
<span class="chordline"><b>A</b>                        <b>G</b> <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">கூடாதது ஒன்றுமில்லையே</samp></div></div>   
        
     </div>