<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="2281" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீர் என் சொந்தம் நீர் என் பக்கம்</samp>
<span class="chordline"><b>Bm</b>                <b>D</b> <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">துன்ப வேளைகளில்</samp>
<span class="chordline"><b>G</b>    <b>G7</b>    <b>C</b>             </span>
<samp charset="UTF-8" class="lyricline">ஆழியின் ஆழங்களில்  </samp>
<span class="chordline"><b>G</b>         <b>D</b>        <b>G</b> <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தம் நீர் எனக்கு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                  <b>Bm</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சூரைச்  செடியின் கீழிலும்</samp>
<span class="chordline">     <b>Am</b>                 <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் சமூகம் என்னைத் தேற்றுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வறண்ட  பாலைவன வாழ்க்கையில்</samp>
<span class="chordline">                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தாகத்தால் என் நாவு வறண்டாலும்</samp>
<span class="chordline"><b>Am</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாரின் அழுகுரல் மாற்றினவர்</samp>
<span class="chordline"><b>C</b>           <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் தாகம் தீர்க்கும் வல்லவர்</samp>
<samp charset="UTF-8" class="lyricline">  ...நீர் என் சொந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நெ‌‌‌‌‍ரிந்த நாணலை ஒடியாதவர்</samp>
<span class="chordline">                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மங்கியெரியும் திரியை அணையார்</samp>
<span class="chordline"><b>Am</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புலம்பலை களிப்பாய் மாற்றுவார்</samp>
<span class="chordline"><b>C</b>               <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலையின் தேவன் இயேசுபரன்</samp>
<samp charset="UTF-8" class="lyricline">  ...நீர் என் சொந்தம்</samp></div></div>   
        
     </div>