<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3335" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>        <b>A</b>                      <b>B</b>     <b>E</b>        </span>
<samp charset="UTF-8" class="lyricline">ஆராதிப்பேன் நான் ஒரு பாடல் பாடி ஆட்டம் ஆடி</samp>
<span class="chordline">           <b>A</b>          <b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசப்பா புகழ் பாடி என்னை மறப்பேன் x 2</samp>
<span class="blankline"></span>
<span class="chordline">             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நான் நம்பும் நம்பிக்கையே</samp>
<span class="chordline"><b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவேன் அல்லேலூயா</samp>
<span class="chordline">          <b>A</b>               <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஒசன்னா என்று சொல்லி ஆராதிப்பேன் x 2</samp>
<span class="chordline"><b>E</b>                  <b>A</b>      </span>
<samp charset="UTF-8" class="lyricline">நீதியின் தேவனே வெற்றியின் தேவனே</samp>
<span class="chordline">     <b>E</b>                      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என் பட்சமாக யுத்தம் செய்தீரே</samp>
<span class="chordline">     <b>E</b>                        <b>A</b>      </span>
<samp charset="UTF-8" class="lyricline">நான் பாடிடும் தேவனே நான் தேடிடும் தேவனே</samp>
<span class="chordline">     <b>E</b>                      <b>B</b>    </span>
<samp charset="UTF-8" class="lyricline">என் பாடலுக்கு சொந்தக்காரரே</samp>
<span class="chordline"><b>A</b>     <b>E</b>         <b>A</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாடு அல்லேலு பாடு அல்லேலு</samp>
<span class="chordline"><b>A</b>     <b>E</b>         <b>A</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாடு அல்லேலு பாடு அல்லேலு</samp>
<span class="chordline"><b>E</b>     <b>A</b>         <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாடு அல்லேலு அல்லேலூயா x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>A</b>                <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">குப்பைக்குள் கிடந்தேன் நான் துசியாக இருந்தேன்</samp>
<span class="chordline">            <b>A</b>          <b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசப்பா கரம் நீட்டி தூக்கி விட்டிரே x 2    </samp>
<samp charset="UTF-8" class="lyricline">...நான் நம்பும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>A</b>                <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">துக்கத்தில் இருந்தபோது கலக்கத்தோடு நடந்த போது</samp>
<span class="chordline">            <b>A</b>                 <b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா உம் கைகள் என்னை தூக்கி வந்ததே x 2    </samp>
<samp charset="UTF-8" class="lyricline">...நான் நம்பும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>A</b>                <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காலங்கள் கடந்து சென்று நாட்களெல்லாம் மாறிட்டாலும்</samp>
<span class="chordline">            <b>A</b>                 <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீர் செய்த நன்மையை நான் என்றும் நினைப்பேன்    </samp>
<samp charset="UTF-8" class="lyricline">...நான் நம்பும் </samp></div></div>   
        
     </div>