<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3344" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>              <b>B</b>   <b>A</b>        <b>B</b>     <b>E</b>       </span>
<samp charset="UTF-8" class="lyricline">எல்லாம் நீர்தானே இயேசு இராஐனே x 2</samp>
<span class="chordline">      <b>B</b>          <b>A</b>   <b>F#m</b>   <b>B</b>      <b>E</b>       </span>
<samp charset="UTF-8" class="lyricline">எல்லாம் நீர்தானே இயேசு இராஐனே x 2</samp>
<span class="chordline"><b>E</b>             <b>A</b>   <b>B</b>              <b>E</b>           </span>
<samp charset="UTF-8" class="lyricline">தாகம் நீர்தானே தண்ணீர் நீர்தானே x 2</samp>
<span class="chordline"><b>E</b>                        <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">உம்மை தான் நான் பாடுவேன்</samp>
<span class="chordline"><b>E</b>                            <b>A</b>         </span>
<samp charset="UTF-8" class="lyricline">உம்மை தான் நான் போற்றுவேன்</samp>
<span class="chordline"><b>F#m</b>     <b>B</b>      <b>E</b>                          </span>
<samp charset="UTF-8" class="lyricline">இயேசு இராஐனே x 2                                 ...உம்மை தான்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பசியும் நீர்தானே உணவும் நீர்தானே x 2               ...உம்மை தான்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">உதவி நீர்தானே ஒத்தாசை நீர்தானே x 2               ...உம்மை தான்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">எதிர்காலம் நீர்தானே எதிர்பார்பு நீர்தானே x 2          ...உம்மை தான்</samp></div></div>   
        
     </div>