<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3346" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவைகளை நீர் பார்த்துக்கொள்வீர்</samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்தவர் நீரல்லவோ</samp>
<span class="chordline"><b>Dm</b>                                         </span>
<samp charset="UTF-8" class="lyricline">கலங்கிட மாட்டேன் பயந்திட மாட்டேன்</samp>
<span class="chordline">              <b>G</b>            <b>C</b>                </span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் தேவையில்லை</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                        <b>F</b>                </span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் தேவையில்லை</samp>
<span class="chordline">      <b>Am</b>       <b>Em</b>          <b>G</b>                 </span>
<samp charset="UTF-8" class="lyricline">மன பாரங்கள் தேவையில்லை x 2</samp>
<span class="chordline"><b>Dm</b>                                        </span>
<samp charset="UTF-8" class="lyricline">என் தேவையெல்லாம் ஒன்றே உந்தனின் பாதத்தை</samp>
<span class="chordline">              <b>G</b>         <b>C</b>                     </span>
<samp charset="UTF-8" class="lyricline">அனுதினம் நாடிடுவேன் x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                         <b>Am</b>        <b>G</b>                     </span>
<samp charset="UTF-8" class="lyricline">துவக்கத்தை கொடுத்தது நீரேன்று சென்னால்</samp>
<span class="chordline"><b>G</b>                                         <b>C</b>    <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">முடிவதை கொடுப்பது உம்மால் தான் ஆகும் x 2</samp>
<span class="chordline"><b>F</b>                                                  </span>
<samp charset="UTF-8" class="lyricline">கஷ்டங்கள் சூழ்ந்து கொண்டு குழப்பங்கள் வந்தாலும்</samp>
<span class="chordline"><b>G</b>                                         <b>C</b>   <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">முடிவதை கொடுப்பது உம்மால் தான் ஆகும் x 2       </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                        <b>F</b>                </span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் தேவையில்லை</samp>
<span class="chordline">      <b>Am</b>       <b>Em</b>          <b>G</b>                 </span>
<samp charset="UTF-8" class="lyricline">மன பாரங்கள் தேவையில்லை x 2</samp>
<span class="chordline"><b>Dm</b>                                        </span>
<samp charset="UTF-8" class="lyricline">என் தேவையெல்லாம் ஒன்றே உந்தனின் பாதத்தை</samp>
<span class="chordline">              <b>G</b>         <b>C</b>                     </span>
<samp charset="UTF-8" class="lyricline">அனுதினம் நாடிடுவேன் x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                         <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கலக்கங்கள் நெருக்கங்கள் என் வாழ்வில் வந்தாலும்</samp>
<span class="chordline"><b>G</b>                              <b>C</b>    <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">புது வழி திறந்து நீர் நடத்திடுவீரே x 2</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாக்குகள் நிறைவேற தாமதங்கள் வந்தாலும்</samp>
<span class="chordline"><b>G</b>                                  <b>C</b>   <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">தரமான நன்மைகளை அளித்திடுவீரே x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                        <b>F</b>                </span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் தேவையில்லை</samp>
<span class="chordline">      <b>Am</b>       <b>Em</b>          <b>G</b>                 </span>
<samp charset="UTF-8" class="lyricline">மன பாரங்கள் தேவையில்லை x 2</samp>
<span class="chordline"><b>Dm</b>                                        </span>
<samp charset="UTF-8" class="lyricline">என் தேவையெல்லாம் ஒன்றே உந்தனின் பாதத்தை</samp>
<span class="chordline">              <b>G</b>         <b>C</b>                     </span>
<samp charset="UTF-8" class="lyricline">அனுதினம் நாடிடுவேன் x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவைகளை நீர் பார்த்துக்கொள்வீர்</samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்தவர் நீரல்லவோ</samp>
<span class="chordline"><b>Dm</b>                                         </span>
<samp charset="UTF-8" class="lyricline">கலங்கிட மாட்டேன் பயந்திட மாட்டேன்</samp>
<span class="chordline">              <b>G</b>            <b>C</b>                </span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் தேவையில்லை</samp></div></div>   
        
     </div>