<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3347" class="song songcont"><div class="songpre"><span class="chordline"><b>B</b>             <b>F#</b>                    </span>
<samp charset="UTF-8" class="lyricline">உம்மை பார்க்க ஆசையே</samp>
<span class="chordline">          <b>B</b>             <b>F#</b>       </span>
<samp charset="UTF-8" class="lyricline">தொட்டு பார்க்க ஆசையே</samp>
<span class="blankline"></span>
<span class="chordline">        <b>B</b>            <b>F#</b>              </span>
<samp charset="UTF-8" class="lyricline">மகிமையே வாஞ்சையே  x 4</samp>
<span class="chordline">         <b>E</b>               <b>B</b>           </span>
<samp charset="UTF-8" class="lyricline">மகிமையே ... மகிமையே ...</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>                                          </span>
<samp charset="UTF-8" class="lyricline">அக்கினியாய் என்னை சூழ்ந்து கொள்ளும்</samp>
<span class="chordline"><b>B</b>                                          </span>
<samp charset="UTF-8" class="lyricline">அக்கினியின் பிளம்பாய் என்னை மாற்றும்</samp>
<span class="chordline"><b>Ebm</b>                        <b>E</b>                  </span>
<samp charset="UTF-8" class="lyricline">அனலின்றி வாழ்வதேன்ன வாழ்வு</samp>
<span class="chordline"><b>F#</b>                        <b>B</b>                  </span>
<samp charset="UTF-8" class="lyricline">அனலாக என்னை மாற்றுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">மலை மீது என்னைக் கொண்டு செல்லும்</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் மேகம் சூழ்ந்து கொள்ளும்</samp>
<span class="chordline"><b>Ebm</b>                             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">முக முகமாய் உம்மை பார்க்க வேண்டும்</samp>
<span class="chordline"><b>F#</b>                       <b>B</b>            </span>
<samp charset="UTF-8" class="lyricline">ரகசியம் பேச வேண்டுமே</samp></div></div>   
        
     </div>