<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3348" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>       <b>Am</b>                </span>
<samp charset="UTF-8" class="lyricline">நீர் நீரே பெரியவர்</samp>
<span class="chordline">                 <b>G</b>             </span>
<samp charset="UTF-8" class="lyricline">நீர் ஒருவர் நீரே பெரியவர்</samp>
<span class="chordline"><b>Em</b>                 <b>Am</b>              </span>
<samp charset="UTF-8" class="lyricline">மிகவும் மிகவும் பெரியவர்</samp>
<span class="chordline">    <b>B7</b>              <b>Em</b>            </span>
<samp charset="UTF-8" class="lyricline">நீர் மிகவும் பெரியவர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                           </span>
<samp charset="UTF-8" class="lyricline">வீசும் புயல் காற்றை படைத்தவரே</samp>
<span class="chordline">      <b>Am</b>                       </span>
<samp charset="UTF-8" class="lyricline">தூதர் துதிக்குள்ளே இருப்பவரே</samp>
<span class="chordline">         <b>D</b>                   </span>
<samp charset="UTF-8" class="lyricline">மொத்த உலகத்தை ஆள்பவரே</samp>
<span class="chordline">        <b>G</b>                   <b>B7</b>  </span>
<samp charset="UTF-8" class="lyricline">எங்கள் இதயத்தில் வாழ்பவரே x 2                      </samp>
<samp charset="UTF-8" class="lyricline">...நீர் நீரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                            </span>
<samp charset="UTF-8" class="lyricline">எல்ரோயி என்னைக் காண்பவரே</samp>
<span class="chordline"><b>D</b>                            </span>
<samp charset="UTF-8" class="lyricline">எல்ஷடாய் சர்வ வல்லவரே</samp>
<span class="chordline"><b>B</b>                             </span>
<samp charset="UTF-8" class="lyricline">ஏலோகிம் எங்கும் உள்ளவரே</samp>
<span class="chordline"><b>B</b>                        <b>B7</b>  <b>G</b>   <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">யெஷுவா ஆட்டுக் குட்டியானவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>Am</b>                      <b>Am</b>           </span>
<samp charset="UTF-8" class="lyricline">கரங்களை உயர்த்தி துதி பலி செலுத்தி</samp>
<span class="chordline">          <b>Am</b>      <b>B</b>                            </span>
<samp charset="UTF-8" class="lyricline">புது ஒலி எழுப்பி ஆராதிக்கின்றோம்</samp>
<span class="chordline">            <b>Am</b>                       </span>
<samp charset="UTF-8" class="lyricline">பாட்டுக்க்ள பாடி ஆட்டங்கள் ஆடி  </samp>
<span class="chordline">                          <b>B7</b>            <b>Em</b>     </span>
<samp charset="UTF-8" class="lyricline">கூட்டமாய் கூடி உம்மை ஆராதிக்கின்றோம்            </samp>
<samp charset="UTF-8" class="lyricline">...நீர் நீரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                            </span>
<samp charset="UTF-8" class="lyricline">மலைகளை பெயர்த்து தரையாக்குவீர்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பள்ளத்தை நிறைத்து சமமாக்குவீர்</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">கரடுகள் முரடுகள் நேராக்குவீர்</samp>
<span class="chordline"><b>B</b>                        <b>B7</b>  <b>G</b>   <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">செவ்வையான பாதையிலே நடத்திடுவிர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>Am</b>                      <b>Am</b>           </span>
<samp charset="UTF-8" class="lyricline">கரங்களை உயர்த்தி துதி பலி செலுத்தி</samp>
<span class="chordline">          <b>Am</b>      <b>B</b>                            </span>
<samp charset="UTF-8" class="lyricline">புது ஒலி எழுப்பி ஆராதிக்கின்றோம்</samp>
<span class="chordline">            <b>Am</b>                       </span>
<samp charset="UTF-8" class="lyricline">பாட்டுக்க்ள பாடி ஆட்டங்கள் ஆடி  </samp>
<span class="chordline">                          <b>B7</b>            <b>Em</b>     </span>
<samp charset="UTF-8" class="lyricline">கூட்டமாய் கூடி உம்மை ஆராதிக்கின்றோம்            </samp>
<samp charset="UTF-8" class="lyricline">...நீர் நீரே </samp></div></div>   
        
     </div>