<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3349" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீர் வாழ்கவே இயேசுவே</samp>
<span class="chordline">           <b>D</b>              <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">உம் வல்ல நாமம் வாழ்கவே x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                           </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா இயேசுவே</samp>
<span class="chordline"><b>D</b>                     <b>E</b>      </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா இயேசுவே x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீர் பரிசுத்தர் இயேசுவே</samp>
<span class="chordline">    <b>D</b>          <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமானவர் x 2</samp>
<samp charset="UTF-8" class="lyricline">... அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீர் அற்புதர் இயேசுவே</samp>
<span class="chordline">     <b>D</b>              <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">அற்புதங்கள் செய்பவர் x 2</samp>
<samp charset="UTF-8" class="lyricline">... அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மீட்டிரே இயேசுவே</samp>
<span class="chordline">            <b>D</b>              <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">உம் செந்த இரத்தம் சிந்தியே x 2</samp>
<samp charset="UTF-8" class="lyricline">... அல்லேலூயா</samp></div></div>   
        
     </div>