<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3350" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                                                     </span>
<samp charset="UTF-8" class="lyricline">அரியணையில் இராஐாவாக வாழ்பவரே யெஷுவா</samp>
<span class="chordline">                                         <b>Am</b>           </span>
<samp charset="UTF-8" class="lyricline">உலகை ஆளும் இராஐாவாக வாழ்பவரே யெஷுவா</samp>
<span class="chordline"><b>Am</b>                                                           </span>
<samp charset="UTF-8" class="lyricline">உம்மை போல் தெய்வம் இந்த உலகில் இல்லை யெஷுவா</samp>
<span class="chordline">                         <b>D</b>               <b>G</b>                        </span>
<samp charset="UTF-8" class="lyricline">இராஐாதி இராஐா மகாஇராஐா எங்கள் யெஷுவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>C</b>               <b>G</b>               </span>
<samp charset="UTF-8" class="lyricline">யெஷுவா யெஷுவா உயிர்த்தெழுந்த யெஷுவா</samp>
<span class="chordline">                               <b>C</b>                 <b>G</b>           </span>
<samp charset="UTF-8" class="lyricline">உம்மை போல் தெய்வம் இந்த உலகில் இல்லை யெஷுவா x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கடைசி அதாமாக சாத்தானுக்கு சவாலாக</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சுத்துருவை ஜெயிக்க வந்த யூதராஐ சிங்கமாக</samp>
<span class="chordline"><b>C</b>                            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையில் சாத்தனை நீர் மொத்தமாக அழித்துவிட்டர்</samp>
<span class="chordline"><b>C</b>                          <b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துரைத்தனம் அதிகாரங்கள் அனைத்தையும் உரிந்து போடீர் x 2     </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மலைகள் செம்மறி போல் துள்ளிபாய்ந்து துதிக்குதாமே</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நாங்களும் பாடுகிறோம் சந்தோஷமாய் ஆடுகிறோம்</samp>
<span class="chordline"><b>C</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பூமி மாத்திராம யெஷுவாவை போற்றிடுது</samp>
<span class="chordline"><b>C</b>                           <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சுற்றும் கோள்கள் எல்லாம் அப்பாவை தான் பாடிடுது x 2           </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>C</b>               <b>G</b>               </span>
<samp charset="UTF-8" class="lyricline">யெஷுவா யெஷுவா உயிர்த்தெழுந்த யெஷுவா</samp>
<span class="chordline">                               <b>C</b>                 <b>G</b>           </span>
<samp charset="UTF-8" class="lyricline">உம்மை போல் தெய்வம் இந்த உலகில் இல்லை யெஷுவா x 2</samp></div></div>   
        
     </div>