<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3351" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                       <b>D</b>                       </span>
<samp charset="UTF-8" class="lyricline">இயேசுவை போல் ஓரு தெய்வமில்லை</samp>
<span class="chordline">     <b>E</b>                           <b>A</b>              </span>
<samp charset="UTF-8" class="lyricline">இந்த உலகத்தில் உம்மை போல யாருமில்லை x 2</samp>
<span class="chordline"><b>Bm</b>                                              </span>
<samp charset="UTF-8" class="lyricline">மேலே உயரே உயரே இருந்தவரே</samp>
<span class="chordline">         <b>E</b>                  <b>A</b>                  </span>
<samp charset="UTF-8" class="lyricline">விழுந்த மனிதனை தூக்கிட வந்தவரே</samp>
<span class="chordline">       <b>Bm</b>           <b>A</b>          <b>Bm</b>          <b>A</b>            </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே இயேசுவே இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                     <b>D</b>                                                               </span>
<samp charset="UTF-8" class="lyricline">தண்ணீரை ரசமாக மாற்றீனிரே</samp>
<span class="chordline">         <b>E</b>                        <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">அதை கண்டவர் உம்மை கண்டு வியந்தனரே x 2</samp>
<span class="chordline"><b>Bm</b>                                              </span>
<samp charset="UTF-8" class="lyricline">கடும் காற்றையும் கடலையும் அதட்டினீரே</samp>
<span class="chordline">       <b>E</b>                       <b>A</b>                </span>
<samp charset="UTF-8" class="lyricline">கடும் காற்று உம்மை கண்டு அடங்கினதே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே இயேசுவே இயேசுவே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">லாசருவே நீ வா என்றதும்</samp>
<samp charset="UTF-8" class="lyricline">அன்று மரித்தவன் உயிர் பெற்று எழுந்தானே x 2</samp>
<samp charset="UTF-8" class="lyricline">உம் வார்த்தையில் உள்ளது வல்லமையே </samp>
<samp charset="UTF-8" class="lyricline">அது ஜீவனை தந்ததும் நிச்சயமே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே இயேசுவே இயேசுவே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">வாரால் அடித்து அறைந்தனரே</samp>
<samp charset="UTF-8" class="lyricline">உம்மை ஆணிகள் கடாவி சிலுவையிலே x 2</samp>
<samp charset="UTF-8" class="lyricline">ஆனால் மரித்த பின்பு மூன்றாம் நாள்</samp>
<samp charset="UTF-8" class="lyricline">நீர் உயிரோடு எழுந்தது சரித்திரமே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே இயேசுவே இயேசுவே</samp></div></div>   
        
     </div>