<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3352" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                                        <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">எனக்கு உம்மை விட்டா யாரும் இல்லப்பா</samp>
<span class="chordline">       <b>G</b>                                 <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">உங்க அன்பை விட்டா எதுவும் இல்லப்பா (2)</samp>
<span class="blankline"></span>
<span class="chordline">      <b>C</b>                     </span>
<samp charset="UTF-8" class="lyricline">என் ஆசை நீங்கப்பா</samp>
<span class="chordline">      <b>F</b>                </span>
<samp charset="UTF-8" class="lyricline">என் தேவை நீங்கப்பா</samp>
<span class="chordline">      <b>G</b>                  </span>
<samp charset="UTF-8" class="lyricline">என் சொந்தம் நீங்கப்பா</samp>
<span class="chordline">       <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">என் சொத்து நீங்கப்பா</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                                             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காண்கின்ற எல்லாம் ஓர் நாள் கரைந்து போகுமே</samp>
<span class="chordline"><b>G</b>                                                 <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">தொடுகின்ற எல்லாம் ஓர்நாள் தொலைந்து போகுமே (2)</samp>
<samp charset="UTF-8" class="lyricline">           - என் ஆசை</samp>
<span class="chordline"><b>C</b>                                               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உலகத்தின் செல்வம் எல்லாம் நிலையாய் நிற்குமோ</samp>
<span class="chordline"><b>G</b>                                      <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">அழியாத செல்வம் நீரே போதும் இயேசுவே (2) </samp>
<samp charset="UTF-8" class="lyricline">           - என் ஆசை</samp></div></div>   
        
     </div>