<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3353" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>             <b>G</b>     <b>D</b>                            </span>
<samp charset="UTF-8" class="lyricline">நீரே போதும் நீரே போதும்</samp>
<span class="chordline"><b>Am</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நீரே போதும் இயேசுவே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கழுகைப்போல என்னை எழும்பச் செய்வீர்</samp>
<span class="chordline"><b>D</b>                       <b>G</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உயரங்களில் என்னை பறக்கச் செய்வீர் (2)</samp>
<samp charset="UTF-8" class="lyricline">     - நீரே போதும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சிங்கத்தின் பிள்ளையாய் எனை மாற்றினீர்</samp>
<span class="chordline"><b>D</b>                          <b>G</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை ஜெயித்திடும் பெலன் அளித்தீர் (2)</samp>
<samp charset="UTF-8" class="lyricline">      -நீரே போதும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பனையைப்போல என்னை செழிக்கச் செய்வீர்</samp>
<span class="chordline"><b>D</b>             <b>G</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கேதுருபோல வளரச் செய்வீர் (2)</samp>
<samp charset="UTF-8" class="lyricline">      - நீரே போதும்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">இயேசு நீரே நீரே போதும்</samp>
<samp charset="UTF-8" class="lyricline">நீரே போதும் இயேசுவே (2)</samp>
<samp charset="UTF-8" class="lyricline">     - நீரே போதும்</samp></div></div>   
        
     </div>