<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3354" class="song songcont"><div class="songpre"><span class="chordline"><b>F#</b>       <b>B</b>                      </span>
<samp charset="UTF-8" class="lyricline">உந்தன் ஆவியை நீர் ஊற்றும்</samp>
<span class="chordline"><b>B</b>        <b>E</b>                   </span>
<samp charset="UTF-8" class="lyricline">உந்தன் விடுதலை நீர் தாரும்</samp>
<span class="chordline">         <b>Abm</b>                </span>
<samp charset="UTF-8" class="lyricline">உந்தன் ஆவியை நீர் ஊற்றும்</samp>
<span class="chordline">       <b>F#</b>     </span>
<samp charset="UTF-8" class="lyricline">ஊற்றுமே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Abm</b>                  </span>
<samp charset="UTF-8" class="lyricline">ஊற்றிட வேண்டுமே - என்னை </samp>
<span class="chordline"><b>E</b>                     </span>
<samp charset="UTF-8" class="lyricline">நிரப்பிட வேண்டுமே</samp>
<span class="chordline"><b>Dbm</b>                            <b>F#</b> </span>
<samp charset="UTF-8" class="lyricline">தந்திட வேண்டுமே உம் அக்கினி</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>                               </span>
<samp charset="UTF-8" class="lyricline">வானம் திறந்து ஊற்றும்</samp>
<span class="chordline">     <b>E</b>                          </span>
<samp charset="UTF-8" class="lyricline">உம் வல்லமை நீர் ஊற்றும்</samp>
<span class="chordline">     <b>Abm</b>                          </span>
<samp charset="UTF-8" class="lyricline">என் வாழ்க்கையை நீர் மாற்றும்</samp>
<span class="chordline">       <b>F#</b>   </span>
<samp charset="UTF-8" class="lyricline">ஊற்றுமே (2)                                     </samp>
<samp charset="UTF-8" class="lyricline">   ... ஊற்றிட</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>                               </span>
<samp charset="UTF-8" class="lyricline">உந்தன் அக்கினியை நீர் ஊற்றும்</samp>
<span class="chordline">          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அக்கினி பிளம்பாய் மாற்றும்</samp>
<span class="chordline">         <b>Abm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் அக்கினியை நீர் ஊற்றும்</samp>
<span class="chordline">      <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">ஊற்றுமே (2)                                    </samp>
<samp charset="UTF-8" class="lyricline">   - ஊற்றிட</samp>
<span class="blankline"></span>
<span class="chordline"><b>Abm</b>                  </span>
<samp charset="UTF-8" class="lyricline">ஊற்றிட வேண்டுமே </samp>
<span class="chordline">          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஏன்னை நிரப்பிட வேண்டுமே</samp>
<span class="chordline"><b>Dbm</b>                            <b>F#</b> </span>
<samp charset="UTF-8" class="lyricline">தந்திட வேண்டுமே உம் அக்கினி</samp></div></div>   
        
     </div>