<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3359" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>           <b>C</b>         <b>Am</b>           <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">பாடி புகழ்வேன் நான் ஆடி மகிழ்வேன்</samp>
<span class="chordline">      <b>D</b>                                 <b>B</b> / <b>Em</b>     </span>
<samp charset="UTF-8" class="lyricline">அவர் நன்மைகளை எங்கும் சொல்லுவேன்</samp>
<span class="chordline">        <b>Em</b>                      <b>Am</b>             </span>
<samp charset="UTF-8" class="lyricline">அப்பா சமூகத்தில் ஆடிப்பாடி மகிழ்ந்திருப்பேன்</samp>
<span class="chordline">         <b>D</b>             <b>B7</b>         <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் இஸ்ரவேலின் வல்லவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                          </span>
<samp charset="UTF-8" class="lyricline">பாடுவேன் அல்லேலுயா</samp>
<span class="chordline"><b>Am</b>                  <b>D</b>                        <b>B</b> / <b>Em</b>    </span>
<samp charset="UTF-8" class="lyricline">துதி அல்லேலுயா கிருபையை புகழ்ந்திடுவேன் - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                 <b>B</b>          <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">எளியவனை நீர் உயர்த்திடுவீர்</samp>
<span class="chordline"><b>B7</b>                          <b>Em</b>  / <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஆயிரமாக பெருகச் செய்வீர் (2)</samp>
<samp charset="UTF-8" class="lyricline">    - பாடுவேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>B</b>          <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">கூப்பிட்ட நேரத்தில் பதில் அளித்து</samp>
<span class="chordline"><b>B7</b>                          <b>Em</b>  / <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">குறைகள் தீர்த்திட வருபவரே - (2)</samp>
<samp charset="UTF-8" class="lyricline">    - பாடுவேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                       <b>B</b>          <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">பகைக்கும் ஜனங்களின் நடுவினிலே</samp>
<span class="chordline"><b>B7</b>                              <b>Em</b>  / <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">பந்தியைக் கொடுத்து உயர்த்திடுவீர் (2)</samp>
<samp charset="UTF-8" class="lyricline">    - பாடுவேன் </samp></div></div>   
        
     </div>