<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3360" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>           <b>F#m</b>  <b>A</b>              <b>D</b>     <b>A</b>                          </span>
<samp charset="UTF-8" class="lyricline">சேராபீன் தூதர்கள் போற்றிடும் பரிசுத்தர்</samp>
<span class="chordline"><b>A</b>             <b>D</b>        <b>A</b>               <b>D</b>        <b>A</b>           </span>
<samp charset="UTF-8" class="lyricline">மகிமையை உடையாக அணிந்துள்ள மகத்துவர் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>               <b>Bm</b>       <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">பாத்திரர் நீரே பரிசுத்தர் நீரே</samp>
<span class="chordline"><b>E</b>                               <b>D</b>  <b>A</b>    </span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரம் பாடியே புகழ்ந்திடுவேன் - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                      <b>D</b>                 </span>
<samp charset="UTF-8" class="lyricline">தழும்புள்ள கரங்களினாலே</samp>
<span class="chordline"><b>E</b>                      <b>A</b>    </span>
<samp charset="UTF-8" class="lyricline">காயங்கள் ஆற்றிடுவீரே (2)</samp>
<span class="chordline"><b>F#m</b>                         <b>E</b>    </span>
<samp charset="UTF-8" class="lyricline">கண்ணீரை துருத்தியில் வைத்து</samp>
<span class="chordline"><b>E</b>                     <b>D</b> / <b>A</b>    </span>
<samp charset="UTF-8" class="lyricline">பதில் தரும் நல்லவரே (2)</samp>
<samp charset="UTF-8" class="lyricline">    -பாத்திரர் நீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தர்கள் தொழுதிடும் நாமம்</samp>
<span class="chordline"><b>E</b>                      <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">பரலோக தகப்பனின் நாமம் (2)</samp>
<span class="chordline"><b>F#m</b>                         <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">ராஜ்ஜியம் வல்லமை கனமும்</samp>
<span class="chordline"><b>E</b>                  <b>D</b> / <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே சொந்தமாகும் (2)</samp>
<samp charset="UTF-8" class="lyricline">    -பாத்திரர் நீரே</samp></div></div>   
        
     </div>