<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3361" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                                         </span>
<samp charset="UTF-8" class="lyricline">ஆவி தாங்கப்பா அக்கினி தாங்கப்பா</samp>
<span class="chordline"><b>F</b>                                         </span>
<samp charset="UTF-8" class="lyricline">வல்லமை தாங்கப்பா வரங்கள் தாங்கப்பா</samp>
<span class="chordline"><b>C</b>                                         </span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தாங்கப்பா ஜெயத்தை தாங்கப்பா</samp>
<span class="chordline"><b>C</b>                                         </span>
<samp charset="UTF-8" class="lyricline">பெலனை தாங்கப்பா அக்கினி தாங்கப்பா</samp>
<span class="chordline"><b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">மேல் வீட்டறையில் வந்த ஆவியே</samp>
<span class="chordline"><b>Gm</b>                     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">மேலான அபிஷேகம் தந்த ஆவியே x 2</samp>
<span class="chordline"> <b>F</b>             <b>Bb</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே  </samp>
<span class="chordline"><b>Gm</b>  <b>C</b>          <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே x 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">ஆதி சீஷர் மேல் இறங்கிய அக்கினி</samp>
<span class="chordline"><b>Gm</b>                     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">எங்கள் மேல் இப்போ இறங்கியே வரட்டுமே x 2</samp>
<span class="chordline"> <b>F</b>             <b>Bb</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே  </samp>
<span class="chordline"><b>Gm</b>  <b>C</b>          <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">வல்லமையில் நிறைந்து அற்புதங்கள் செய்திட</samp>
<span class="chordline"><b>Gm</b>                     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">அபிஷேகத்தில் நிறைந்து அக்கினியாய் செயல்பட x 2         </samp>
<span class="chordline"> <b>F</b>             <b>Bb</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே  </samp>
<span class="chordline"><b>Gm</b>  <b>C</b>          <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே x 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">அக்கினி நாவு என்னை நிரப்பட்டும்</samp>
<span class="chordline"><b>Gm</b>                     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">எந்தன் நாவு உம்மை பேசட்டும் x 2                          </samp>
<span class="chordline"> <b>F</b>             <b>Bb</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே  </samp>
<span class="chordline"><b>Gm</b>  <b>C</b>          <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே x 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">மரித்தோரை எழுப்பும் பவுல்கள் எழும்பட்டும்</samp>
<span class="chordline"><b>Gm</b>                     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">வெளிப்பாடு பேசும் யோவான்கள் எழும்பட்டும் x 2           </samp>
<span class="chordline"> <b>F</b>             <b>Bb</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே  </samp>
<span class="chordline"><b>Gm</b>  <b>C</b>          <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">ஆவியே தூய ஆவியே x 2</samp></div></div>   
        
     </div>