<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3366" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                                 <b>D</b>         <b>Bm</b>                </span>
<samp charset="UTF-8" class="lyricline">With my hands lifted high உம்மை துதித்திடுவேன                 </samp>
<span class="chordline"><b>Bm</b>                                  <b>A</b>        </span>
<samp charset="UTF-8" class="lyricline">Volume raise பண்ணி உயர்த்திடுவேன்</samp>
<span class="chordline">                              <b>D</b>        <b>E</b>            </span>
<samp charset="UTF-8" class="lyricline">என் கை உயர்த்தி உம்மை துதித்திடுவேன்</samp>
<span class="chordline"><b>E</b>                          <b>D</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சத்தத்தை உயர்த்தி நான் உயர்த்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline">           <b>E</b>                    <b>A</b>              </span>
<samp charset="UTF-8" class="lyricline">துதித்திடுவேன் புகழ்ந்திடுவேன் -2</samp>
<span class="chordline">         <b>A</b>                                 </span>
<samp charset="UTF-8" class="lyricline">உம்மை துதித்திடுவேன்</samp>
<span class="chordline">         <b>D</b>                                 </span>
<samp charset="UTF-8" class="lyricline">உம்மை புகழ்ந்திடுவேன்</samp>
<span class="chordline">         <b>Bm</b>                                 </span>
<samp charset="UTF-8" class="lyricline">உம்மை உயர்த்திடுவேன்</samp>
<span class="chordline">            <b>E</b>        <b>A</b>                               </span>
<samp charset="UTF-8" class="lyricline">உமக்காய் ஓடிடுவேன் - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                                          </span>
<samp charset="UTF-8" class="lyricline">Jumping and dancing ஆட்டம் பாட்டம் கொண்டாட்டம்</samp>
<span class="chordline"><b>D</b>                        <b>A</b>                      <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">அப்பாவின் சமூகத்திலே எத்தனையோ சந்தோஷம் (2)</samp>
<samp charset="UTF-8" class="lyricline">   - துதித்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு வழியாய் வந்த சாத்தானின் கூட்டம்</samp>
<span class="chordline"><b>D</b>             <b>A</b>                      <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">ஏழு வழியாக பிடிக்குதைய்யா ஓட்டம் (2)</samp>
<samp charset="UTF-8" class="lyricline">   - துதித்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">சத்தமாய் துதிப்போம் துதியால் மதிலை இடிப்போம்</samp>
<span class="chordline"><b>D</b>                    <b>A</b>                         <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">எரிகோ தடைகளை நாம் தூள்தூளாய் தகர்ப்போம் (2)</samp>
<samp charset="UTF-8" class="lyricline">   - துதித்திடுவேன்</samp></div></div>   
        
     </div>