<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3378" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">துதியுங்கள் நம் தேவனை</samp>
<span class="chordline"><b>Gm</b>                <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போற்றுங்கள் நம் இராஜனை</samp>
<span class="chordline"><b>Am</b>                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்துங்கள் நம் கர்த்தரை</samp>
<span class="chordline"><b>A#</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">போற்றுவோம் வாழ்த்துவோம்</samp>
<span class="chordline"><b>F</b>        <b>C</b>             <b>F</b>/<b>F7</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றென்றுமாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">ஆ ஹா ஹா அல்லேலூயா</samp>
<span class="chordline">                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஓஹோ ஹோ ஓசன்னா</samp>
<span class="chordline">                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆ ஹா ஹா அல்லேலூயா</samp>
<span class="chordline">                <b>F</b>        <b>F7</b></span>
<samp charset="UTF-8" class="lyricline">ஓஹோ ஹோ ஓசன்னா</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்யும் தேவன் பெரியவர்</samp>
<span class="chordline">      <b>F</b>                    <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நாம் ஆராதிக்கும் இயேசு வல்லவர்</samp>
<span class="chordline"><b>A#</b></span>
<samp charset="UTF-8" class="lyricline">நமக்காய் யாவும் செய்து முடித்தார்</samp>
<span class="chordline"><b>Gm</b>            <b>C</b>           <b>F</b>/<b>F7</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியோடு ஆராதிப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நம் பாவம் போக்கும் ஜீவ தேவன் நல்லவர்</samp>
<span class="chordline">      <b>F</b>                            <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நாம் பாரம் நீக்கும் வல்ல தேவன் சிறந்தவர்</samp>
<span class="chordline"><b>A#</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் கவலை வியாதி யாவும் மாற்றுவார்</samp>
<span class="chordline"><b>Gm</b>                 <b>C7</b>           <b>F</b>/<b>F7</b></span>
<samp charset="UTF-8" class="lyricline">கரங்களைத் தட்டி ஆர்ப்பரிப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நமக்காய் இரத்தம் சிந்தி மரித்தார்</samp>
<span class="chordline"><b>F</b>                             <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">மூன்றாம் நாளில் உயிரோடு எழுந்தார்</samp>
<span class="chordline"><b>A#</b></span>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றும் மாறிடா நம் இயேசுவை</samp>
<span class="chordline"><b>Gm</b>                   <b>C7</b>           <b>F</b>/<b>F7</b></span>
<samp charset="UTF-8" class="lyricline">கரங்களை உயர்த்தி துதித்திடுவோம்</samp></div></div>   
        
     </div>