<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3381" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>            <b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">இயேசு நல்லவர் - நம்</samp>
<span class="chordline">               <b>F</b>       </span>
<samp charset="UTF-8" class="lyricline">இயேசு பெரியவர்</samp>
<span class="chordline"><b>Am</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு உன்னதர்</samp>
<span class="chordline">      <b>F</b>          <b>Am</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ லோகத்தின் ஆண்டவர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>        <b>C</b>         <b>Bb</b>    <b>C</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் பெரியவர் சர்வ வல்லவர்</samp>
<span class="chordline"><b>Bb</b>        <b>C</b>         <b>Bb</b>    <b>C</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் பெரியவர் சர்வ வல்லவர்</samp>
<span class="chordline"><b>Bb</b>        <b>C</b>         <b>Bb</b>    <b>A7</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் பெரியவர் சர்வ வல்லவர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நல்லவர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வியாதியால் வருந்திடும் உனக்கு</samp>
<span class="chordline"><b>C</b>                         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் தரும் தெய்வம் நம் இயேசு</samp>
<span class="chordline"><b>Bb</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாபங்கள் யாவையும் நீக்கி - உன்னை</samp>
<span class="chordline"><b>Am</b>                        <b>Dm</b>   </span>
<samp charset="UTF-8" class="lyricline">வாழ வைக்கும் தெய்வம் இயேசு</samp>
<samp charset="UTF-8" class="lyricline">   ...நல்லவர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மரண பயம் சூழ்ந்த உன்னை</samp>
<span class="chordline"><b>C</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விடுவிக்க வல்லவர் இயேசு</samp>
<span class="chordline"><b>Bb</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருண்டு போன உந்தன் வாழ்வில் - ஜீவ</samp>
<span class="chordline"><b>Am</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஒளியை ஏற்றுவார் இயேசு</samp>
<samp charset="UTF-8" class="lyricline">   ...நல்லவர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஏமாற்றம் நிறைந்த உன் வாழ்வில்</samp>
<span class="chordline"><b>C</b>                            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புது நம்பிக்கை கொடுப்பவர் இயேசு</samp>
<span class="chordline"><b>Bb</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தோல்வியை சந்தித்த உனக்கு</samp>
<span class="chordline"><b>Am</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயத்தைத் தருபவர் இயேசு</samp>
<samp charset="UTF-8" class="lyricline">   ...நல்லவர் </samp></div></div>   
        
     </div>