<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3383" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>              <b>Bb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சேனைகளின் கர்த்தர் நம்மோடிருக்கிறார்</samp>
<span class="chordline"><b>F</b>                             </span>
<samp charset="UTF-8" class="lyricline">யாக்கோபின் தேவன் நமக்கு </samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்த அடைக்கலம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பூமி நிலை மாறினாலும்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">மலைகள் பெயர்ந்து போனாலும்</samp>
<span class="chordline"><b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">பர்வதங்கள் அதிர்ந்தாலும்</samp>
<span class="chordline"><b>D</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நாம் பயப்படோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் பூமி அனைத்திற்கும் இராஜா</samp>
<span class="chordline"><b>F</b>                            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடனே போற்றி பாடுவோம்</samp>
<span class="chordline"><b>G</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யூத இராஜ சிங்கம் நம் கர்த்தர்</samp>
<span class="chordline"><b>Eb</b>               <b>D</b>                <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தாழ விழுந்து பணிந்து தொழுகுவோம்</samp>
<samp charset="UTF-8" class="lyricline">    ...பூமி நிலை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் மகா உன்னதமானவர்</samp>
<span class="chordline"><b>F</b>                           Bb                      </span>
<samp charset="UTF-8" class="lyricline">கெம்பீரமாக போற்றி பாடுவோம்</samp>
<span class="chordline"><b>G</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் மிகவும் துதிக்கப்படத் தக்கவர்</samp>
<span class="chordline">           <b>Eb</b>             <b>D</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">துதித்துப் பாடி அவரை மகிமைப்படுத்துவோம்</samp>
<samp charset="UTF-8" class="lyricline">    ...பூமி நிலை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் துதிகளில் பயப்படத்தக்கவர்</samp>
<span class="chordline"><b>F</b>                           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பயத்துடனே போற்றி பாடுவோம்</samp>
<span class="chordline"><b>G</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தமக்கு பயந்த பிள்ளைகளை காப்பவர்</samp>
<span class="chordline">         <b>Eb</b>             <b>D</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபையை நினைத்து போற்றி பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">    ...பூமி நிலை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் நமது இரட்சணயக் கன்மலை</samp>
<span class="chordline"><b>F</b>                           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரித்து போற்றி பாடுவோம்</samp>
<span class="chordline"><b>G</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் ஸ்தோத்தரிக்கப்படத் தக்கவர்</samp>
<span class="chordline"><b>Eb</b>                 <b>D</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாய் ஆர்ப்பரித்துப் பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">    ...பூமி நிலை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் சத்தியத்தோடு நியாயந் தீர்ப்பார்</samp>
<span class="chordline"><b>F</b>                              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பயத்துடனே அவரை சேவிப்போம்</samp>
<span class="chordline"><b>G</b>                                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவர் சீக்கிரமாய் நியாயந் தீர்க்க வருகிறார்</samp>
<span class="chordline">    <b>Eb</b>                  <b>D</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாய் அவரை கிட்டி சேருவோம்</samp>
<samp charset="UTF-8" class="lyricline">    ...பூமி நிலை </samp></div></div>   
        
     </div>