<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3389" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>D</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நிறைந்த இதயத்தோடு</samp>
<span class="chordline"><b>Am</b>                 <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாதன் இயேசுவை பாடிடுவேன்</samp>
<span class="chordline">       <b>C</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி பலிகள் செலுத்தியே நான்</samp>
<span class="chordline"><b>Am</b>            <b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ் நாளெல்லாம் உம்மை ஆராதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline">     <b>G</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு நல்லவர்</samp>
<span class="chordline">     <b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு வல்லவர்</samp>
<span class="chordline">     <b>Am</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு பெரியவர்</samp>
<span class="chordline">     <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு பரிசுத்தர்</samp>
<samp charset="UTF-8" class="lyricline"> --- நன்றி</samp>
<span class="blankline"></span>
<span class="chordline">      <b>G</b>      <b>Bm</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நான் நடந்து வந்த பாதைகள்</samp>
<span class="chordline"><b>Am</b>    <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கரடு முரடானவை</samp>
<span class="chordline">         <b>C</b>         <b>Bm</b>    <b>Am</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை தோளில் தூக்கி சுமந்தார்</samp>
<span class="chordline">       <b>Am</b>      <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் அன்பை மறப்பேனோ</samp>
<samp charset="UTF-8" class="lyricline"> --- என்</samp>
<span class="blankline"></span>
<span class="chordline">     <b>G</b>        <b>Bm</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் கரத்தை பிடித்த நாள் முதல்</samp>
<span class="chordline">         <b>Am</b>           <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை கைவிடவே இல்லை</samp>
<span class="chordline">          <b>C</b>     <b>Bm</b>    <b>Am</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் நேசம் எனது இன்பம்</samp>
<span class="chordline">      <b>Am</b>     <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நாமம் உயர்த்துவேன்</samp>
<samp charset="UTF-8" class="lyricline"> --- என்</samp>
<span class="blankline"></span>
<span class="chordline">      <b>G</b>          <b>Bm</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் போக்கிலும் எந்தன் வரத்திலும்</samp>
<span class="chordline">     <b>Am</b>         <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவே பாதுகாப்பு</samp>
<span class="chordline">     <b>C</b>        <b>Bm</b>         <b>Am</b>  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் கால்கள் சறுக்கிடும் நேரம்</samp>
<span class="chordline">      <b>Am</b>      <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை தாங்குமே</samp>
<samp charset="UTF-8" class="lyricline"> --- என்</samp></div></div>   
        
     </div>