<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3438" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>               <b>F#</b> <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">ஜெபம் கேட்டீரையா  </samp>
<span class="chordline">               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம் தந்தீரையா</samp>
<span class="chordline"><b>Bm</b>                     <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளாட விடவில்லையே</samp>
<span class="chordline"><b>A</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கியே நடத்தினீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">புகிழ்கின்றேன் பாட்டுப்பாடி</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">புயல் இன்று ஓயந்தது</samp>
<span class="chordline"><b>F#</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">புதுராகம் பிறந்தது</samp>
<span class="chordline">              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி அப்பா நல்லவரே</samp>
<span class="chordline"><b>G</b>                 <b>F#m</b>     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும் வல்லவரே - 2</samp>
<span class="chordline"><b>G</b>                 <b>A</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும் வல்லவரே - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                    <b>F#7</b>      </span>
<samp charset="UTF-8" class="lyricline">கண்ணீரைக் கண்டீரையா</samp>
<span class="chordline"><b>Em</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கரம் பிடித்தீரையா</samp>
<span class="chordline">                       <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணப்பம் கேட்டீரையா</samp>
<span class="chordline"><b>A</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை தந்தீரையா               </samp>
<samp charset="UTF-8" class="lyricline"> ...புகிழ்கின்றேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                 <b>F#7</b>    </span>
<samp charset="UTF-8" class="lyricline">எபிநேசர் நீர்தானையா</samp>
<span class="chordline"><b>Em</b>                <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இதுவரை உதவினீரே</samp>
<span class="chordline">                   <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ நீர்தானையா</samp>
<span class="chordline"><b>A</b>                    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் தந்தீரையா             </samp>
<samp charset="UTF-8" class="lyricline">  ...புகிழ்கின்றேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                          <b>F#7</b>                                  </span>
<samp charset="UTF-8" class="lyricline">உறுதியாய் பற்றிக் கொண்டேன்</samp>
<span class="chordline"><b>Em</b>                      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நம்பி உள்ளேன்</samp>
<span class="chordline">               <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">பூரண சமாதானரே</samp>
<span class="chordline"><b>A</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">போதுமே உம் சமுகமே             </samp>
<samp charset="UTF-8" class="lyricline">  ...புகிழ்கின்றேன் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>