<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3441" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேலின் ராஜாவே</samp>
<span class="chordline"><b>C</b>                     <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">என் தேவனாம் கர்த்தரே</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் உம்மை வாழ்த்துகிறேன்</samp>
<span class="chordline"><b>D</b>           <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் நினைக்கிறேன்                </samp>
<samp charset="UTF-8" class="lyricline"> ...இஸ்ரவேலின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>   <b>D</b>   <b>G</b>  <b>C</b>     <b>D</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே</samp>
<span class="chordline"><b>Em</b>    <b>D</b> <b>Bm</b> <b>C</b>     <b>D</b> <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>     <b>D</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி நன்றி நாதா</samp>
<span class="chordline"><b>C</b>            <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அளவில்லா அன்பிற்காக</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">திருக்கரம் என்னை தாங்கி</samp>
<span class="chordline">      <b>D</b>            <b>Bm</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன் கடும் பிரட்சனைகளிலும்</samp>
<span class="chordline"><b>Am</b>         <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">முன்னேறி செல்வதிற்கு</samp>
<span class="chordline">          <b>D</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பலத்தை நீர் தந்தற்காய்                 </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>       <b>G</b>            <b>C</b>                 </span>
<samp charset="UTF-8" class="lyricline">எதிற்கிறவர் முன்பிலும்</samp>
<span class="chordline"><b>D</b>        <b>Bm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளினவர் மத்தியில்</samp>
<span class="chordline"><b>Am</b>    <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பந்தி ஆயத்தப்படுத்தி</samp>
<span class="chordline">          <b>D</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அன்பாக கனம் பண்ணினீர்              </samp>
<samp charset="UTF-8" class="lyricline">    ...இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>           <b>G</b>             <b>C</b>                   </span>
<samp charset="UTF-8" class="lyricline">என்ன நான் செலுத்திடுவேன்</samp>
<span class="chordline"><b>D</b>        <b>Bm</b>        <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் பாடல்களோ</samp>
<span class="chordline"><b>Am</b>          <b>G</b>            <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">என் உயிர் காலம் முழுதும்</samp>
<span class="chordline">             <b>D</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பை உயர்த்திடுவேன்             </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே</samp>
<span class="blankline"></span></div></div>   
        
     </div>