<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3445" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>               <b>Am</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா யீரே தந்தையாம் தெய்வம்</samp>
<span class="chordline">    <b>F</b>            <b>Dm</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்ரம் போதும் எனக்கு</samp>
<span class="chordline"><b>C</b>           <b>C</b>          <b>Am</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா ராஃபா சுகம் தரும் தெய்வம்</samp>
<span class="chordline">     <b>F</b>       <b>Dm</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் தழும்புகளால் சுகமானோம்</samp>
<span class="chordline">            <b>Am</b>                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா ஷம்மா என் கூட இருப்பீர்</samp>
<span class="chordline">     <b>F</b>            <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவையெல்லாம் சந்திப்பீர்</samp>
<span class="blankline"></span>
<span class="chordline">    <b>Dm</b>            <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்ரம் போதும்</samp>
<span class="chordline">    <b>Em</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்ரம் போதும்</samp>
<span class="chordline">    <b>Dm</b>           <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்ரம் போதும் எனக்கு</samp>
<span class="blankline"></span>
<span class="chordline">            <b>C</b>                    </span>
<samp charset="UTF-8" class="lyricline">யெகோவா எலோஹிம் </samp>
<span class="chordline"><b>Am</b>              <b>Em</b>    </span>
<samp charset="UTF-8" class="lyricline">சிருஷ்டிப்பின் தேவனே</samp>
<span class="chordline">     <b>F</b>               <b>Dm</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் வார்த்தையால் உருவாக்கினீர்</samp>
<span class="chordline">            <b>C</b>        <b>Am</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா பரிசுத்தர்  உன்னதர் நீரே</samp>
<span class="chordline">         <b>F</b>            <b>Dm</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை போல் வேறு தேவன் இல்லை</samp>
<span class="chordline">            <b>Am</b>                  <b>Em</b>       </span>
<samp charset="UTF-8" class="lyricline">யெகோவா ஷாலோம் உம் சமாதானம்</samp>
<span class="chordline">       <b>F</b>   <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தந்தீர் என் உள்ளத்திலே</samp>
<samp charset="UTF-8" class="lyricline">   ...நீர் மாத்ரம்</samp>
<span class="blankline"></span>
<span class="chordline">           <b>C</b>        <b>Am</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயெசுவே நீரே என் ஆத்ம நேசர்</samp>
<span class="chordline">          <b>F</b>      <b>Dm</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னில் எவ்வளவன்பு கூர்ந்தீர்</samp>
<span class="chordline">            <b>C</b>    <b>Am</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னையே மீட்க உம்மையே தந்தீர்</samp>
<span class="chordline">     <b>F</b>          <b>Dm</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் அன்பிற்கு இணையில்லையே</samp>
<span class="chordline">               <b>Am</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் வாழ்நாள் முழுதும் உமக்காக வாழ்வேன்</samp>
<span class="chordline"><b>F</b>         <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என்றென்றும் போதும்</samp>
<samp charset="UTF-8" class="lyricline">   ...நீர் மாத்ரம்</samp></div></div>   
        
     </div>