<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3448" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">சின்னஞ் சிட்டுக் குருவியே  </samp>
<span class="chordline"><b>Bm</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சின்னஞ் சிட்டுக் குருவியே - உன்னை </samp>
<span class="chordline"><b>Bm</b>             <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">சந்தோஷமாய் படைச்சது யாரு</samp>
<span class="chordline"><b>A</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அங்குமிங்கும் பறந்துகிட்டு</samp>
<span class="chordline"><b>A</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாய் பாடுறீயே – உன்னை</samp>
<span class="chordline"><b>G</b>        <b>A</b>             <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">அழகாக படைச்சது யாரு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>D7</b>           <b>G</b>                           </span>
<samp charset="UTF-8" class="lyricline">ஐயோ ஐயோ இது தெரியாதா</samp>
<span class="chordline">      <b>C</b>                  <b>G</b>              <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">ஒரு ஆண்டவர் எனக்கு மேலே இருக்கிறார்</samp>
<span class="chordline"><b>E</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உண்ண உணவும் கொடுக்கிறார்</samp>
<span class="chordline"><b>G</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உறங்க இடமும் கொடுக்கிறார் இந்த</samp>
<span class="chordline"><b>G</b>              <b>A</b>                 <b>D</b>                </span>
<samp charset="UTF-8" class="lyricline">உலகத்தையே படைச்சும் இருக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">   ...சின்னஞ் சிட்டுக்                     </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சின்னஞ் சிட்டுக் குருவியே</samp>
<span class="chordline"><b>Bm</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சின்னஞ் சிட்டுக் குருவியே  – உன்</samp>
<span class="chordline"><b>Bm</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சிறகை எனக்கு தந்திடுவாயா</samp>
<span class="chordline"><b>A</b>                 <b>Em</b>                  </span>
<samp charset="UTF-8" class="lyricline">உன்னைப் போல பாடிக்கிட்டு</samp>
<span class="chordline"><b>A</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உல்லாசமாய்ப் பறப்பதற்கு ஒரு</samp>
<span class="chordline"><b>G</b>                <b>A</b>           <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">உதவி என்னக்கு செய்திடுவாயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>D7</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஐயோ இனிமே அப்படிக் கேட்காதே</samp>
<span class="chordline">       <b>C</b>                  <b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அந்த ஆண்டவர் கேட்டா கோபிச்சுக்குவாரு</samp>
<span class="chordline"><b>E</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எங்களைக் காக்கிற ஆண்டவர்</samp>
<span class="chordline"><b>G</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உங்களைக் காப்பது இல்லையா – அட</samp>
<span class="chordline"><b>G</b>                 <b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உங்களைத்தானே ரொம்பவும் நேசிக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஆமாம் சிட்டுக் குருவியே</samp>
<span class="chordline"><b>Bm</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆமாம் சிட்டுக் குருவியே </samp>
<span class="chordline"><b>Bm</b>                     <b>A</b>                          </span>
<samp charset="UTF-8" class="lyricline">இது மனுஷங்களுக்கு புரியவில்லையே</samp>
<span class="chordline"><b>A</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உங்களைக் காக்கிற ஆண்டவர்</samp>
<span class="chordline"><b>A</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எங்களைக் காக்க மாட்டாரோ</samp>
<span class="chordline">      <b>G</b>                    <b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இந்த உண்மையும் ஏனோ தெரியவில்லையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>      <b>D</b>    <b>G</b>  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ல…ல…ல…ல…ல…ல…</samp>
<span class="blankline"></span></div></div>   
        
     </div>