<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3451" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                 <b>Dbm</b></span>
<samp charset="UTF-8" class="lyricline">இதோ மனிதர்கள் மத்தியில்</samp>
<span class="chordline"><b>D</b>      <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வாசம் செய்பவரே</samp>
<span class="chordline">        <b>A</b>         <b>Dbm</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் நடுவிலே வசித்திட</samp>
<span class="chordline"><b>D</b>            <b>E</b>        <b>A</b>     </span>
<samp charset="UTF-8" class="lyricline">விரும்பிடும் தெய்வமே(தேவனே)</samp>
<span class="blankline"></span>
<span class="chordline">         <b>A</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு சிங்காசனம் அமைத்திட</samp>
<span class="chordline">          <b>E</b>                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் துதிக்கின்றோம் இயேசுவே</samp>
<span class="chordline">   <b>A</b>                <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த அலங்காரத்துடனே</samp>
<span class="chordline">          <b>E</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் தொழுகின்றோம் இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline">         <b>A</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் மத்தியில் உலாவிடும்...(2)</samp>
<span class="chordline">       <b>D</b>            <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எங்களோடென்றும் வாசம் செய்யும்        </samp>
<samp charset="UTF-8" class="lyricline">  ...இதோ மனிதர்கள்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>