<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3453" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜெபத்தை கேட்பவரே</samp>
<span class="chordline">     <b>F#m</b>        <b>G</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் கண்ணீரை காண்பவரே – 2</samp>
<span class="chordline"><b>D</b>        <b>A</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை நிறைந்தவரே</samp>
<span class="chordline"><b>F#m</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் தெய்வன் நீரே – 2              </samp>
<samp charset="UTF-8" class="lyricline">   ...என் ஜெபத்தை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                          </span>
<samp charset="UTF-8" class="lyricline">என் கண்ணீரை கரங்களில் </samp>
<span class="chordline"><b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">வைத்துள்ளீர்</samp>
<span class="chordline"><b>A</b>                <b>G</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நோய்களை நீரே சுகமாக்கினீர் – 2</samp>
<span class="chordline"><b>Bm</b>                               </span>
<samp charset="UTF-8" class="lyricline">என் வேதனைகள் சோதனைகள் </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அனைத்தையும்</samp>
<span class="chordline"><b>A</b>                     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம் மேலே சுமந்தீரையா – 2</samp>
<span class="chordline">        <b>D</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline">        <b>G</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை -2                 </samp>
<samp charset="UTF-8" class="lyricline">  ...என் ஜெபத்தை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>               <b>Em</b>          </span>
<samp charset="UTF-8" class="lyricline">எனக்காகவே நீர் அடிக்கப்பட்டீர்</samp>
<span class="chordline"><b>A</b>                <b>G</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காகவே நீர் நொறுக்கப்படீர் – 2</samp>
<span class="chordline"><b>Bm</b>                       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் பாவங்கள் கட்டுகள் அனைத்தையும்</samp>
<span class="chordline"><b>A</b>                     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம் மேலே சுமந்தீரையா – 2</samp>
<span class="chordline">        <b>D</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை</samp>
<span class="chordline">       <b>G</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை – 2                </samp>
<samp charset="UTF-8" class="lyricline">  ...என் ஜெபத்தை </samp>
<span class="blankline"></span></div></div>   
        
     </div>