<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3454" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                       </span>
<samp charset="UTF-8" class="lyricline">யேகோவா தேவனுக்கு </samp>
<span class="chordline"><b>A</b>        <b>E</b>       </span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் நாமங்கள்</samp>
<span class="chordline"><b>C#m</b>             <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எதை சொல்லி பாடிடுவேன்</samp>
<span class="chordline">     <b>E</b>         <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">என் கர்த்தாதி கர்த்தர் செய்த </samp>
<span class="chordline"><b>G#m</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் ஆயிரம்</samp>
<span class="chordline"><b>B</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கரம் தட்டி பாடிடுவேன் </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பல்லவி</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ஷாலோம்</samp>
<span class="chordline"><b>F#m</b>            </span>
<samp charset="UTF-8" class="lyricline">யேகோவா ஷம்மா </samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ரூவா </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ரவ்ப்பா                       </samp>
<samp charset="UTF-8" class="lyricline">  ...யேகோவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>             <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோரிக்கு அல்லேலூயா</samp>
<span class="chordline"><b>C#m</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நீரே கண்டீரையா</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஏக்கமெல்லாம் தீர்த்தீரையா</samp>
<span class="chordline"><b>F#m</b>               <b>A</b>  </span>
<samp charset="UTF-8" class="lyricline">நான் தாகத்தோடு வந்த போது </samp>
<span class="chordline"><b>A</b>             <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தண்ணீர் எனக்கு தந்து </samp>
<span class="chordline"><b>B</b>               <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">தாகமெல்லாம் தீர்த்தீரையா               </samp>
<samp charset="UTF-8" class="lyricline">  ...யேகோவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>             <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">எல்ஷடாயும் நீங்க தாங்க </samp>
<span class="chordline"><b>C#m</b>          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்ல தேவனாக </samp>
<span class="chordline"><b>E</b>                  </span>
<samp charset="UTF-8" class="lyricline">என்னை என்றும் நடத்துவீங்க</samp>
<span class="chordline"><b>F#m</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எபினேசரும் நீங்க தாங்க </samp>
<span class="chordline"><b>A</b>               <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">உதவி செய்யும் தேவனாக</samp>
<span class="chordline"><b>B</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை என்றும் தாங்குவீங்க             </samp>
<samp charset="UTF-8" class="lyricline">  ...யேகோவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோகியும் நீங்க தாங்க</samp>
<span class="chordline"><b>C#m</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் உள்ள தேவனாக </samp>
<span class="chordline"><b>E</b>                    </span>
<samp charset="UTF-8" class="lyricline">எந்த நாளும் பாடுவீங்க </samp>
<span class="chordline"><b>F#m</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இம்மானுவேல் நீங்க தாங்க </samp>
<span class="chordline"><b>A</b>                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணில் வந்த தேவன் நீங்க </samp>
<span class="chordline"><b>B</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும் பாடுவீங்க               </samp>
<samp charset="UTF-8" class="lyricline">  ...யேகோவா</samp>
<span class="blankline"></span></div></div>   
        
     </div>