<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3459" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>        <b>F#m</b>      <b>Bm</b>        <b>A</b>       </span>
<samp charset="UTF-8" class="lyricline">ஒரு தாய் தேற்றுவது போல் </samp>
<span class="chordline">     <b>G</b>    <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் தேற்றுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline">        <b>Em</b>     <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>F#m</b>           <b>G</b>                  </span>
<samp charset="UTF-8" class="lyricline">மார்போடு அணைப்பாரே </samp>
<span class="chordline">      <b>Em</b>     <b>A</b>       <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">மனக்கவலை தீர்ப்பரே                     </samp>
<samp charset="UTF-8" class="lyricline">  ...ஒரு தாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>           <b>F#m</b>         <b>G</b>                  </span>
<samp charset="UTF-8" class="lyricline">கரம் பிடித்து  நடத்துவார் </samp>
<span class="chordline">    <b>Em</b>         <b>A</b>          <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">கன்மலைமேல் நிறுத்த்வார்                </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>        <b>F#m</b>        <b>G</b>                </span>
<samp charset="UTF-8" class="lyricline">எனக்காக  மரித்தாரே </samp>
<span class="chordline">    <b>Em</b>    <b>A</b>        <b>D</b>      </span>
<samp charset="UTF-8" class="lyricline">என்பாவம் சுமந்தாரே                      </samp>
<samp charset="UTF-8" class="lyricline">  ...ஒரு தாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>F#m</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒருபோதும் கைவிடார் </samp>
<span class="chordline">    <b>Em</b>     <b>A</b>         <b>D</b>                  </span>
<samp charset="UTF-8" class="lyricline">ஒருநாளும் விலகிடார்                    </samp>
<samp charset="UTF-8" class="lyricline">  ...ஒரு தாய்</samp></div></div>   
        
     </div>