<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3461" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                     </span>
<samp charset="UTF-8" class="lyricline">என்னை உம் கையில்</samp>
<span class="chordline"><b>D</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">படைத்தேன் முழுவதுமாய்</samp>
<span class="chordline"><b>Am</b>          <b>C</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் பயன்படுத்தும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>A</b>               </span>
<samp charset="UTF-8" class="lyricline">குயவன் நீர்  களிமண் நான் </samp>
<span class="chordline"><b>Cm</b>                        <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் நிறைவேற்றுமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     </span>
<samp charset="UTF-8" class="lyricline">என்னை உம் கையில்</samp>
<span class="chordline"><b>D</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">படைத்தேன்  முழுவதுமாய்</samp>
<span class="chordline"><b>Am</b>          <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் பயன்படுத்தும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                                             </span>
<samp charset="UTF-8" class="lyricline">தவறிய பாத்திரம் நான்</samp>
<span class="chordline"><b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">தவறுகள் நீக்கி என்னை</samp>
<span class="chordline"><b>C</b>                    <b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">தகுதியாய் நிறுத்திடுமே                  </samp>
<samp charset="UTF-8" class="lyricline"> ...குயவன்   </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">குறைவுள்ள பாத்திரம் நான்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">குறைவுகள் நீக்கி உந்தன்</samp>
<span class="chordline"><b>C</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கருவியாய் பயன்படுத்தும்                </samp>
<samp charset="UTF-8" class="lyricline"> ...குயவன் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>