<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3462" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>             <b>B</b>          <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">பரத்திலுள்ள எங்கள் பிதாவே </samp>
<span class="chordline"><b>F#m</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம் ராஜ்யம் வருக </samp>
<span class="chordline"><b>G#m</b>          <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம் சித்தம் நிறைவேற   </samp>
<span class="blankline"></span>
<span class="chordline"><b>C#m</b>                  <b>A</b>        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நீல் இல்லா உலகம் வெறுமையதே </samp>
<span class="chordline"> <b>B</b>                      <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">அற்பமும் குப்பையுமதே </samp>
<span class="chordline"><b>C#m</b>                    <b>A</b>         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நீர் இல்லா வாழ்க்கை சுமையானதே </samp>
<span class="chordline"><b>B</b>          <b>E</b>         <b>A</b>    <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">வாரும் தேவா இந்த வேளை            </samp>
<samp charset="UTF-8" class="lyricline">    ...பரத்திலுள்ள </samp>
<span class="blankline"></span>
<span class="chordline"><b>C#m</b>                 <b>A</b>         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மன்னியும் எங்கள் மீறுதல்களை </samp>
<span class="chordline">     <b>E</b>           <b>A</b>             <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">நீக்கிடும் எங்கள் ஏக்கங்களை நீர் </samp>
<span class="chordline"><b>F#m</b>                   <b>B</b>   </span>
<samp charset="UTF-8" class="lyricline">பிறரின் குறைகள் பாராமல் நாங்கள் </samp>
<span class="chordline"><b>F#m</b>                   <b>A</b>            <b>B</b>  </span>
<samp charset="UTF-8" class="lyricline">கிருபையிலே என்றும் நிலைத்திடவே   </samp>
<samp charset="UTF-8" class="lyricline">   ...பரத்திலுள்ள </samp>
<span class="blankline"></span>
<span class="chordline">     <b>E</b>          <b>A</b>            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">காத்திடும் தீய சூழ்நிலையிலே </samp>
<span class="chordline">      <b>C#m</b>           <b>A</b>             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பிடும் உந்தன் ஆவியால் இன்றே </samp>
<span class="chordline"><b>F#m</b>                       <b>B</b>   </span>
<samp charset="UTF-8" class="lyricline">சாத்தானின் சூழ்ச்சிகள் உலகத்தின் நிந்தைகள் </samp>
<span class="chordline"><b>F#m</b>               <b>A</b>           <b>B</b>  </span>
<samp charset="UTF-8" class="lyricline">எல்லாவற்றையும் ஜெயித்திடவே        </samp>
<samp charset="UTF-8" class="lyricline">  ...பரத்திலுள்ள </samp></div></div>   
        
     </div>