<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3464" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                </span>
<samp charset="UTF-8" class="lyricline">அநாதி சிநேகத்தால்</samp>
<span class="chordline">         <b>F#m</b>           <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னை நேசித்தீரைய்யா</samp>
<span class="chordline"><b>E</b>            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">காருண்யத்தினால்</samp>
<span class="chordline">          <b>E</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னை இழுத்துக் கொண்டீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு பெரியது</samp>
<span class="chordline"><b>E</b>              <b>A</b>           </span>
<samp charset="UTF-8" class="lyricline">இரக்கம் பெரியது</samp>
<span class="chordline"><b>D</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை பெரியது</samp>
<span class="chordline"><b>E7</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தயவு பெரியது                         </samp>
<samp charset="UTF-8" class="lyricline">  ...அநாதி</samp>
<span class="blankline"></span>
<span class="chordline">   <b>A</b>                      </span>
<samp charset="UTF-8" class="lyricline">அனாதையாய் அலைந்த</samp>
<span class="chordline">         <b>F#m</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை தேடி வந்தீரே</samp>
<span class="chordline"><b>E</b>             <b>Bm</b>                      </span>
<samp charset="UTF-8" class="lyricline">அன்பு காட்டி அரவணைத்து</samp>
<span class="chordline"><b>E7</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">காத்துக் கொண்டீரே                   </samp>
<samp charset="UTF-8" class="lyricline">   ...அன்பு               </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>        </span>
<samp charset="UTF-8" class="lyricline">தாயின் கருவில் தொன்றுமுன்னே</samp>
<span class="chordline"><b>F#m</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தெரிந்துக் கொண்டீரே</samp>
<span class="chordline"><b>E</b>                <b>Bm</b>       </span>
<samp charset="UTF-8" class="lyricline">தாயைப் போல ஆற்றி தேற்றி</samp>
<span class="chordline"><b>E7</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நடத்தி வந்தீரே                        </samp>
<samp charset="UTF-8" class="lyricline">   ...அன்பு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நடத்தி வந்த பாதைகளை</samp>
<span class="chordline"><b>F#m</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நினைக்கும் போதெல்லாம்</samp>
<span class="chordline"><b>E</b>            <b>Bm</b>             </span>
<samp charset="UTF-8" class="lyricline">கண்ணீரோடு நன்றி சொல்லி</samp>
<span class="chordline"><b>E7</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்கின்றேனைய்யா                 </samp>
<samp charset="UTF-8" class="lyricline">   ...அன்பு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                     </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் செய்ய நினைத்தது</samp>
<span class="chordline"><b>F#m</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தடைபடவில்லை</samp>
<span class="chordline"><b>E</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சகலத்தையும் நன்மையாக</samp>
<span class="chordline"><b>E7</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">செய்து முடித்தீரே                       </samp>
<samp charset="UTF-8" class="lyricline"> ...அன்பு</samp>
<span class="blankline"></span></div></div>   
        
     </div>