<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3465" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் ஒன்றே வேண்டும் – இந்தப்</samp>
<span class="chordline"><b>G</b>                  <b>F</b>       <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் எனக்கு மற்றேதும் வேண்டாம் – உம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>             <b>F</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நாதனே துங்க மெய் – வேதனே பொங்குநற்</samp>
<span class="chordline">       <b>Am</b>           <b>G</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">காதலுடன் துய்ய – தூதர் தொழுஞ் செய்ய        </samp>
<samp charset="UTF-8" class="lyricline">   ...பாதம்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>          <b>F</b>       <b>Dm</b>   </span>
<samp charset="UTF-8" class="lyricline">சீறும் புயலினால் – வாரிதி பொங்கிடப்</samp>
<span class="chordline">         <b>Am</b>              <b>G</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் நடந்தாற்போல் – நீர்மேல் நடந்த உம்       </samp>
<samp charset="UTF-8" class="lyricline">  ...பாதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>C</b>              <b>F</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வீசும் கமல் கொண்ட வாசனைத் தைலத்தை</samp>
<span class="chordline">        <b>Am</b>           <b>G</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆசையுடன் – மரி – பூசிப் பணிந்த பொற்           </samp>
<samp charset="UTF-8" class="lyricline">  ...பாதம்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>          <b>F</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">போக்கிடமற்ற எம் ஆக்கினை யாவையும்</samp>
<span class="chordline">        <b>Am</b>        <b>G</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீக்கிடவே மரந் – தூக்கி நடந்த நற்                 </samp>
<samp charset="UTF-8" class="lyricline">  ...பாதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>           <b>F</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நானிலத்தோர் உயர் வான் நிலத் தேற வல்</samp>
<span class="chordline">          <b>Am</b>           <b>G</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆணி துளைத்திடத் – தானே கொடுத்த உம்      </samp>
<samp charset="UTF-8" class="lyricline">  ...பாதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>C</b>               <b>F</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் அடைந்தவர்க் – காதரவாய்ப் பிர</samp>
<span class="chordline">          <b>Am</b>          <b>G</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சாதம் அருள் யேசு – நாதனே என்றும் உன்        </samp>
<samp charset="UTF-8" class="lyricline">   ...பாதம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>