<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3468" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                    <b>F</b>      </span>
<samp charset="UTF-8" class="lyricline">உம்மை போல நல்ல தேவன் </samp>
<span class="chordline"> <b>Am</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">யாரும் இல்லையே</samp>
<span class="chordline">         <b>C</b>             <b>Bb</b>      </span>
<samp charset="UTF-8" class="lyricline">உம்மை போல வல்ல தேவன் </samp>
<span class="chordline"><b>A</b>      <b>F</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">யாரும் இல்லையே (2)</samp>
<span class="chordline">         <b>Dm</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை போல என்னை காத்திட </samp>
<span class="chordline">         <b>Dm</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை போல என்னை தாங்கிட</samp>
<span class="chordline">         <b>Dm</b>              <b>Bb</b>      </span>
<samp charset="UTF-8" class="lyricline">உம்மை போல என்னை தேற்றிட </samp>
<span class="chordline"><b>A</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யாரும் இல்லையே</samp>
<span class="chordline"><b>Bb</b>       <b>Dm</b>      <b>C</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஏசையா யாரும் இல்லையே</samp>
<span class="blankline"></span>
<span class="chordline">               <b>Bb</b>              <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் போற்றுகிறேன் போற்றுகிறேன்</samp>
<span class="chordline"><b>Dm</b>                           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">போற்றுகிறேன் - என் தெய்வமே</samp>
<span class="chordline">               <b>Bb</b>              <b>C</b>                  </span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் போற்றுகிறேன் வாழ்த்துகிறேன்</samp>
<span class="chordline"><b>Dm</b>                            <b>A</b>          <b>Dm</b>                </span>
<samp charset="UTF-8" class="lyricline">வணங்குகிறேன் என் தெய்வமே என் ஏசுவே</samp>
<span class="chordline">            <b>Gm</b>           <b>C</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என் தெய்வமே என் ஏசுவே என் தெய்வமே (2)</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>