<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3474" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>           <b>F#m</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் என்னுடையவர்</samp>
<span class="chordline">      <b>E</b>             <b>Bm</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்றென்றும் அவருடையவன் </samp>
<span class="chordline"><b>A</b>            <b>F#m</b>    <b>A</b>                <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">சாரோனின் ரோஜா பள்ளத்தாக்கின் லீலி</samp>
<span class="chordline"><b>F#m</b>          <b>D</b>                  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் கவர்ந்து கொண்டவரே</samp>
<span class="chordline">     <b>E</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தம் நேசத்தால் என்னையும்</samp>
<span class="chordline"><b>F#m</b>      <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கவர்ந்து கொண்டவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>              <b>F#m</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வாயின் முத்தங்களால்</samp>
<span class="chordline">         <b>E</b>             <b>Bm</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அனுதினமும் முத்திமிடுகிறார்               </samp>
<samp charset="UTF-8" class="lyricline">   ...சாரோனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                     <b>F#m</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திராட்சை ரசத்திலும் உங்க நேசமே</samp>
<span class="chordline">      <b>E</b>         <b>Bm</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அது இன்பமும் மதுரமானது                            </samp>
<samp charset="UTF-8" class="lyricline">   ...சாரோனின்                    </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>F#m</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர் முற்றிலும் அழகுள்ளவர்</samp>
<span class="chordline"><b>E</b>      <b>Bm</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இவரே என் சிநேகிதர்                                    </samp>
<samp charset="UTF-8" class="lyricline">  ...சாரோனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                                </span>
<samp charset="UTF-8" class="lyricline">விருந்துசாலைக்குள்ளே என்னை </samp>
<span class="chordline"><b>F#m</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்து செல்கிறார்</samp>
<span class="chordline">      <b>E</b>          <b>Bm</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்மேல் பறந்த கொடி நேசமே                         </samp>
<samp charset="UTF-8" class="lyricline">  ...சாரோனின்</samp>
<span class="blankline"></span></div></div>   
        
     </div>