<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3477" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                <b>Em</b>    <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபத்தைக் கேட்கும் எங்கள் தேவா</samp>
<span class="chordline">            <b>Am</b>   <b>Em</b>    <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபத்தின் வாஞ்சை தந்தருளும்</samp>
<span class="chordline"><b>C</b>               <b>F</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபத்திலே தரித்திருந்து   </samp>
<span class="chordline"><b>Am</b>          <b>Dm</b>   <b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபத்தின் மேன்மை காணச் செய்வீர்</samp>
<span class="blankline"></span>
<span class="chordline">         <b>Am</b>  <b>C</b>   <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபமே ஜீவன் ஜெபம் ஜெயம்</samp>
<span class="chordline">         <b>F</b>    <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவியத்திற்கிதுவே சட்டம்</samp>
<span class="chordline"><b>G</b>         <b>C</b>      <b>F</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபமே ஜீவன் ஜெபம் ஜெயம்</samp>
<span class="chordline"><b>Am</b>     <b>Dm</b>    <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவியத்திற்கிதுவே சட்டம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Em</b>  <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஊக்கத்துடனே ஓர் முகமாய்</samp>
<span class="chordline">       <b>Am</b>    <b>Em</b>   <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாக்குத்தத்தைப் பற்றிக் கொண்டு</samp>
<span class="chordline"><b>C</b>                        <b>F</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கத்தை எல்லாம் நேர்மையாக்கி</samp>
<span class="chordline"><b>Am</b>      <b>Dm</b>    <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கேட்கும்படி கிருபை செய்வீர்</samp>
<samp charset="UTF-8" class="lyricline">     ...ஜெபமே </samp>
<span class="blankline"></span>
<span class="chordline"> <b>C</b>          <b>Em</b>   <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாத நோக்கம் சிந்தனையை</samp>
<span class="chordline">     <b>Am</b>   <b>Em</b>      <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அகற்றும் எங்கள் நெஞ்சை விட்டு</samp>
<span class="chordline"><b>C</b>                 <b>F</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாகானதாக்கும் மனமெல்லாம்</samp>
<span class="chordline"><b>Am</b>         <b>Dm</b>       <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையோடே வேண்டிக்கொள்வோம்</samp>
<samp charset="UTF-8" class="lyricline">     ...ஜெபமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Em</b>    <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இடைவிடாமல் ஜெபம் செய்ய</samp>
<span class="chordline">        <b>Am</b>     <b>Em</b>  <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இடையூரெல்லாம் நீக்கிவிடும்</samp>
<span class="chordline"><b>C</b>                  <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சடைப்பில்லாமல் உந்தன் பாதம்</samp>
<span class="chordline"><b>Am</b>       <b>Dm</b>      <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கடைசி மட்டும் காத்திருப்போம்</samp>
<samp charset="UTF-8" class="lyricline">     ...ஜெபமே </samp></div></div>   
        
     </div>