<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3478" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>         <b>Bm</b>         <b>Em</b>        </span>
<samp charset="UTF-8" class="lyricline">கல்வாரி மா மாலையோரம்</samp>
<span class="chordline">         <b>G</b>     <b>Bm</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கொடுங்கோர காட்சி கண்டேன்</samp>
<span class="chordline">           <b>Am</b>     <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணில் நீர் வழிந்திடுதே</samp>
<span class="chordline">         <b>D</b>     <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் மீட்பர் இயேசு அதோ           </samp>
<span class="chordline">         <b>Am</b>    <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் மீட்பர் இயேசு அதோ             </samp>
<samp charset="UTF-8" class="lyricline">  ...கல்வாரி  </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Am</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எருசலேமின் வீதிகளில்</samp>
<span class="chordline">       <b>Am</b>         <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரத்த வெள்ளம் கோலமிட</samp>
<span class="chordline">     <b>C</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருக்கோலம் நிந்தனையால்</samp>
<span class="chordline">        <b>Am</b>      <b>Bm</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உருக்குலைந்து சென்றனரே               </samp>
<span class="chordline">      <b>C</b>         <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உருக்குலைந்து சென்றனரே              </samp>
<samp charset="UTF-8" class="lyricline">   ...கல்வாரி </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை தன் தோளதிலே</samp>
<span class="chordline">     <b>Am</b>      <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிதறும் தன் வேர்வையிலே</samp>
<span class="chordline">      <b>C</b>              <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">சிறுமை அடைந்தவராய்</samp>
<span class="chordline">       <b>Am</b>  <b>Bm</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தனை பல சகித்தார்               </samp>
<span class="chordline">        <b>C</b>  <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தனை பல சகித்தார்                   </samp>
<samp charset="UTF-8" class="lyricline">  ...கல்வாரி </samp></div></div>   
        
     </div>