<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3483" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                                 </span>
<samp charset="UTF-8" class="lyricline">எங்களுக்குள்ளே வாசம் செய்யும் </samp>
<span class="chordline"><b>G</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியானவரே</samp>
<span class="chordline"><b>Em</b>          <b>A</b>                 </span>
<samp charset="UTF-8" class="lyricline">இந்நாளில் உம்சித்தம் போல் </samp>
<span class="chordline"><b>D</b>                              </span>
<samp charset="UTF-8" class="lyricline">நடத்திச் செல்லுமையா</samp>
<span class="chordline"> <b>D</b>              <b>G</b>            <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">ஆவியானவரே…ஆவியானவரே </samp>
<span class="chordline"><b>A</b>                    <b>D</b>             </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியானவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நான் ஜெபிக்க வேண்டும்</samp>
<span class="chordline"><b>Bm</b>        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எதற்காக ஜெபிக்க வேண்டும்</samp>
<span class="chordline"><b>G</b>              <b>A7</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கற்றுத்தாரும் ஆவியானவரே(2)</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வேதவசனம் புரிந்துகொண்டு</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">விளக்கங்களை அறிந்திட</samp>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெளிச்சம் தாரும் ஆவியானவரே (2)     </samp>
<samp charset="UTF-8" class="lyricline">  ...ஆவியானவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கவலை கண்ணீர் மறக்கணும்..</samp>
<span class="chordline"><b>Bm</b>            <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரையே நோக்கணும்</samp>
<span class="chordline"><b>G</b>               <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கற்றுத் தாரும் ஆவியானவரே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">செய்த நன்மை நினைக்கணும்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியோடு துதிக்கணும்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லித் தாரும் ஆவியானவரே         </samp>
<samp charset="UTF-8" class="lyricline">  ...ஆவியானவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                        </span>
<samp charset="UTF-8" class="lyricline">எங்கு செல்ல வேண்டும் </samp>
<span class="chordline"><b>Bm</b>              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்ன சொல்ல வேண்டும்</samp>
<span class="chordline"><b>G</b>             <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வழிநடத்தும் ஆவியானவரே</samp>
<span class="chordline"><b>G</b>        </span>
<samp charset="UTF-8" class="lyricline">உம்விருப்பம் இல்லாத </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">இடங்களுக்கு செல்லாமல்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தடுத்து றிறுத்தும் ஆவியானவரே</samp>
<samp charset="UTF-8" class="lyricline">  ...ஆவியானவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">எதிரிகளின் சூழ்ச்சிகள்</samp>
<span class="chordline"><b>Bm</b>           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானின் சூழ்ச்சிகள்     </samp>
<span class="chordline"><b>G</b>              <b>A7</b>               <b>D</b>             </span>
<samp charset="UTF-8" class="lyricline">எதிர்த்து நிற்க பெலன் வேண்டுமே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உடல் சோர்வுகள் அசதிகள் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீனங்கள் நீங்கி</samp>
<span class="chordline"><b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உற்சாகத்தால் நிரம்ப வேண்டுமே         </samp>
<samp charset="UTF-8" class="lyricline">  ...ஆவியானவரே</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>