<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3484" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>          <b>C</b>           <b>G</b>      <b>Bm</b> </span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசுவின் நாமத்தில்</samp>
<span class="chordline"><b>Am</b>           <b>D</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதங்கள் நடக்குதே</samp>
<span class="chordline">                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேற்று அல்ல நாளை அல்ல</samp>
<span class="chordline"><b>Am</b>       <b>D7</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இன்றே நடக்குதே                      </samp>
<samp charset="UTF-8" class="lyricline">  ...இயேசுவின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>               <b>D</b>        </span>
<samp charset="UTF-8" class="lyricline">பாவம் செய்த பாவிகள் எல்லாம்</samp>
<span class="chordline"><b>Am</b>   <b>D</b>         <b>G</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமானாய் மாறுகின்றாரே</samp>
<span class="chordline">                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேற்று அல்ல நாளை அல்ல</samp>
<span class="chordline"><b>Am</b>       <b>D7</b>       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இன்றே நடக்குதே                       </samp>
<samp charset="UTF-8" class="lyricline">  ...இயேசுவின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">கான்சர் நோய்கள் மறைகின்றதே</samp>
<span class="chordline"><b>Am</b>     <b>D</b>         <b>G</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தீரா நோய்கள் நீங்குகின்றதே</samp>
<span class="chordline">                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேற்று அல்ல நாளை அல்ல</samp>
<span class="chordline"><b>Am</b>       <b>D7</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இன்றே நடக்குதே                      </samp>
<samp charset="UTF-8" class="lyricline">  ...இயேசுவின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">மரண ஆவிகள் ஓடுகின்றதே</samp>
<span class="chordline"><b>Am</b>        <b>D</b>         <b>G</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மதுவின் ஆவிகள் நீங்குகின்றதே</samp>
<span class="chordline">               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேற்று அல்ல நாளை அல்ல</samp>
<span class="chordline"><b>Am</b>      <b>D7</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இன்றே நடக்குதே                      </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவின்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>