<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3485" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                  <b>Em</b>                 <b>Bm</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">பரம அழைப்பின் பந்தய பொருளுக்காய்</samp>
<span class="chordline">       <b>G</b>                   <b>Bm7</b>    <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நான் இலக்கை நோக்கி ஓடுகிறேன்</samp>
<span class="chordline"><b>G</b>       <b>C</b>            <b>Am</b>     <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">ஓடுகிறேன் நான் ஓடுகிறேன்</samp>
<span class="chordline">      <b>G</b>           <b>D</b>     <b>C</b>      <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவுக்காய் நான் ஓடுகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>              <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline"> <b>Am</b>              <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>Em</b>             <b>Bm</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">இலாபமான அனைத்தையுமே....</samp>
<span class="chordline">       <b>G</b>                <b>Bm7</b>      <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நான் நஷ்டம் என்று கருதுகிறேன்</samp>
<span class="chordline"><b>G</b>               <b>C</b>         <b>Am</b>        <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜாவின் இந்த வேலைக்காக</samp>
<span class="chordline"> <b>G</b>          <b>D</b>     <b>C</b>      <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சியுடன் நான் ஓடுகிறேன்              </samp>
<samp charset="UTF-8" class="lyricline"> ...அல்லேலூயா </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Em</b>              <b>Bm</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">எத்தனைதான் இடர்கள் வந்தாலும்....</samp>
<span class="chordline">       <b>G</b>            <b>Bm7</b>          <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">விசுவாசத்திலே நிலைத்திருப்பேன்</samp>
<span class="chordline"><b>G</b>       <b>C</b>            <b>Am</b>     <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">எனக்காக அப்பா நியமித்த</samp>
<span class="chordline">       <b>G</b>         <b>D</b>    <b>C</b>      <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இந்த பாதையிலே நான் ஓடுகிறேன்          </samp>
<samp charset="UTF-8" class="lyricline">   ...அல்லேலூயா </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>Em</b>              <b>Bm</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">என் மணவாளன் என் இயேசு ராஜாவை.....</samp>
<span class="chordline">       <b>G</b>         <b>Bm7</b>         <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நான் காணவே வாஞ்சிக்கிறேன்</samp>
<span class="chordline"><b>G</b>                 <b>C</b>       <b>Am</b>         <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">என் அசை எல்லாம் என் இயேசுதானே</samp>
<span class="chordline">       <b>G</b>            <b>D</b>     <b>C</b>     <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் பொன்முகம் தான் நான் பார்க்கணுமே  </samp>
<samp charset="UTF-8" class="lyricline"> ...அல்லேலூயா </samp>
<span class="blankline"></span></div></div>   
        
     </div>