<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3489" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>        <b>D</b>      <b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உங்கள் துக்கம் சந்தோஷமாய் மாறும்</samp>
<span class="chordline">         <b>Am</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உங்கள் கவலைகள் கண்ணீர்</samp>
<span class="chordline"><b>Bm</b>        <b>C</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் மறைந்து விடும்</samp>
<span class="chordline"><b>Em</b>       <b>C</b>      <b>Em</b>    <b>C</b>        <b>D7</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே மகனே, கலங்காதே மகளே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>C</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கடந்ததை நினைத்து கலங்காதே</samp>
<span class="chordline"><b>D</b>          <b>Am</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நடந்ததை மறந்து விடு</samp>
<span class="chordline">        <b>G</b>        <b>C</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் புதியன செய்திடுவார்</samp>
<span class="chordline"><b>D</b>        <b>G</b>         <b>B</b>        </span>
<samp charset="UTF-8" class="lyricline">இன்றே நீ காண்பாய் </samp>
<span class="chordline"><b>Em</b>       <b>Bm</b>        <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">இன்றே நீ காண்பாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>Am</b>  <b>D</b>         <b>G</b>           <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கலங்கிடவே வேண்டாம் கலங்கிடவே வேண்டாம்</samp>
<span class="chordline">     <b>C</b>       <b>D</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு கைவிட மாட்டார்             </samp>
<samp charset="UTF-8" class="lyricline">  ...உங்கள் துக்கம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>              <b>C</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நொறுங்குண்ட இதயம் தேற்றுகிறார்</samp>
<span class="chordline"><b>D</b>            <b>Am</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உடைந்த உள்ளம் தாங்குகிறார்</samp>
<span class="chordline">              <b>G</b>             <b>C</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">காயங்கள் அனைத்தையும் கட்டுகிறார்</samp>
<span class="chordline"><b>D</b>           <b>G</b>            <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் துடைக்கின்றார்   </samp>
<span class="chordline"><b>Em</b>          <b>Bm</b>          <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் துடைக்கின்றார்                  </samp>
<samp charset="UTF-8" class="lyricline">   ...கலங்கிடவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>          <b>C</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நல்லதோர் போராட்டம் போராடுவோம்</samp>
<span class="chordline"><b>D</b>            <b>Am</b>        <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">விசுவாசம் காத்துக் கொள்வோம்</samp>
<span class="chordline">          <b>G</b>        <b>C</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் கிரீடம் நமக்கு உண்டு</samp>
<span class="chordline"><b>D</b>        <b>G</b>             <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">நேசர் வருகையில் தந்திடுவார் - நம்    </samp>
<span class="chordline"><b>Em</b>       <b>Bm</b>               <b>Em</b>      </span>
<samp charset="UTF-8" class="lyricline">நேசர் வருகையில் தந்திடுவார்             </samp>
<samp charset="UTF-8" class="lyricline">  ...கலங்கிடவே </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>