<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3490" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>         <b>C</b>  <b>D</b>    <b>G</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷமாயிருங்க எப்பொழுதும்</samp>
<span class="chordline"><b>G</b>        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷமாயிருங்க</samp>
<span class="chordline">             <b>Am</b>  <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வானாலும் தாழ்வானாலும்</samp>
<span class="chordline">            <b>C</b>       <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்ல தேவன் நம்மோடிருக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கத்தின் நேரத்திலும்</samp>
<span class="chordline"><b>Am</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரின் பாதையிலும்</samp>
<span class="chordline">            <b>C</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நம்மைக் காண்கின்ற தேவன்</samp>
<span class="chordline"><b>G</b>                 <b>D</b>         <b>Em</b> <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நமோடிருப்பதால் சந்தோஷமாயிருங்க    </samp>
<samp charset="UTF-8" class="lyricline"> ...சந்தோஷமாயிருங்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாச ஓட்டத்திலூம் </samp>
<span class="chordline"><b>Am</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஊழிய பாதையிலும்</samp>
<span class="chordline">          <b>C</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நம்மை வழிநடத்தும் தேவன்</samp>
<span class="chordline"><b>G</b>                   <b>D</b>        <b>Em</b>  <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நம்மோடிருப்பதால் சந்தோஷமாயிருங்க   </samp>
<samp charset="UTF-8" class="lyricline"> ...சந்தோஷமாயிருங்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் வந்தாலும்</samp>
<span class="chordline"><b>Am</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நஷ்டங்கள் வந்தாலும்</samp>
<span class="chordline">          <b>C</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நமக்கு ஜெயங்கொடுக்கும் தேவன்</samp>
<span class="chordline"><b>G</b>                 <b>D</b>         <b>Em</b>  <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நமோடிருப்பதால் சந்தோஷமாயிருங்க    </samp>
<samp charset="UTF-8" class="lyricline">  ...சந்தோஷமாயிருங்க</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னதான் நேர்ந்தாலும்</samp>
<span class="chordline"><b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்து போகாதீங்க</samp>
<span class="chordline">          <b>C</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நம்மை அழைத்த தேவன்</samp>
<span class="chordline"><b>G</b>                 <b>D</b>        <b>Em</b>  <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடமாட்டார் சந்தோஷமாயிருங்க    </samp>
<samp charset="UTF-8" class="lyricline">  ...சந்தோஷமாயிருங்க</samp>
<span class="blankline"></span></div></div>   
        
     </div>