<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3493" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>               <b>F#m</b>  <b>B</b>                 <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">புகழும் வேண்டாமே பெயரும்வேண்டாமே-2</samp>
<span class="chordline">      <b>F#m</b>      <b>G#m</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாக்களை தாருமே</samp>
<span class="chordline">      <b>F#m</b>       <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியாவை தாருமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>               <b>F#m</b>   <b>B</b>                <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">புகழும்வேண்டாமே பெயரும்வேண்டாமே -2</samp>
<span class="chordline">     <b>F#m</b>        <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இந்தியாவை தாருமே-2       </samp>
<samp charset="UTF-8" class="lyricline">   ...புகழும்</samp>
<span class="blankline"></span>
<span class="chordline">         <b>C#m</b>      <b>G#m</b>      <b>A</b>    <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வல்லமையை என்மேல் ஊற்றும்-2</samp>
<span class="chordline">          <b>B</b>       <b>F#m</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அபிகேத்தால் என்னை ஆட்கொள்ளும் -2        </samp>
<samp charset="UTF-8" class="lyricline">   ...புகழும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C#m</b>    <b>G#m</b>    <b>A</b>    <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கோடி கோடி மக்களுண்டு-2</samp>
<span class="chordline">          <b>B</b>     <b>F#m</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இந்த தேசம் இயேசுவை காணட்டும்-2            </samp>
<samp charset="UTF-8" class="lyricline">  ...புகழும்</samp>
<span class="blankline"></span></div></div>   
        
     </div>