<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3496" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>       <b>Dm</b>        <b>C</b>       <b>Am</b>  <b>Em</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளுமே துதிப்பாய் – என்னாத்துமாவே, நீ</samp>
<span class="chordline"><b>C</b>       <b>Dm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளுமே துதிப்பாய்!</samp>
<span class="chordline"><b>Em</b>         <b>Am</b>        <b>F</b>       <b>G</b>      <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">இந்நாள் வரையிலே உனை சேதப்படுத்தாமல்</samp>
<span class="chordline"><b>Em</b>            <b>F</b>   <b>C</b>   <b>D</b>    <b>Em</b>        <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">எண்ணில்லா நன்மைகள் யாவு மறவாது           </samp>
<samp charset="UTF-8" class="lyricline">   ...எந்நாளு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Dm</b>         <b>C</b>     <b>Am</b>     <b>Em</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் எத்தனையோ – நினையா திருந்தாருன்</samp>
<span class="chordline"><b>C</b>           <b>Dm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் எத்தனையோ</samp>
<span class="chordline"><b>Em</b>        <b>Am</b>      <b>F</b>            <b>G</b>      <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">பாழான நோயை அகற்றிக் குணமாக்கிப்</samp>
<span class="chordline"><b>Em</b>          <b>F</b>  <b>C</b>    <b>D</b>  <b>Em</b>        <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">பாரினில் வைத்த மகா தய வைஎண்ணி            </samp>
<samp charset="UTF-8" class="lyricline">   ...எந்நாளு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>Dm</b>        <b>C</b>    <b>Am</b>  <b>Em</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எத்தனையோ கிருபை – உன்னுயிர்க்குச் செய்தாரே</samp>
<span class="chordline"><b>C</b>           <b>Dm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எத்தனையோ கிருபை</samp>
<span class="chordline"><b>Em</b>      <b>Am</b>       <b>F</b>       <b>G</b>     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">நித்தமுனை முடிசூட்டினதுமன்றி</samp>
<span class="chordline"><b>Em</b>            <b>F</b> <b>C</b>   <b>D</b>  <b>Em</b>    <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">நித்தியமான ஜீவனை மீட்டதால்                    </samp>
<samp charset="UTF-8" class="lyricline">   ...எந்நாளு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Dm</b>        <b>C</b>     <b>Am</b>      <b>Em</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தந்தைதன் பிள்ளைகட்கு – தயவோடிரங்கானோ</samp>
<span class="chordline"><b>C</b>           <b>Dm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தந்தைதன் பிள்ளைகட்கு</samp>
<span class="chordline"><b>Em</b>       <b>Am</b>          <b>F</b>      <b>G</b>      <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">எந்த வேளையும் அவரோடு தங்கினால்</samp>
<span class="chordline"><b>Em</b>        <b>F</b>   <b>C</b>  <b>D</b>   <b>Em</b>        <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஏற்றிப் பாராட்டியே தூக்கிச் சுமப்பாரே                </samp>
<samp charset="UTF-8" class="lyricline">   ...எந்நாளு</samp>
<span class="blankline"></span></div></div>   
        
     </div>