<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3497" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் கருதுவார் என்னை போஷிப்பார்</samp>
<span class="chordline">         <b>G</b>                       <b>Em</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் தேவைகள் எல்லாம் சந்திப்பார்</samp>
<span class="chordline"> <b>C</b>      <b>G</b>    <b>C</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">துன்ப நாளில் கைவிடாமல் தம்</samp>
<span class="chordline">  <b>G</b>                 <b>Am</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சிறகின் நிழழில் மறைப்பார் -2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>     <b>C</b>        <b>Am</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நம்புவதற்கு என்னக்கென்றும்</samp>
<span class="chordline">  <b>G</b>      <b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சர்வவல்லர் கூடயிருப்பார்</samp>
<span class="chordline">    <b>C</b>               <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">தளராமல் வனாதிரத்தில்</samp>
<span class="chordline">              <b>Dm</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பிரயாணம் செய்வேன் நம்பிக்கையோடு -2             </samp>
<samp charset="UTF-8" class="lyricline">  ...நம்புவதற்கு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பொல்லாபுகள் நேரிடாது</samp>
<span class="chordline">         <b>G</b>                    <b>Em</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாதையோ உன்னை அனுகாது</samp>
<span class="chordline"> <b>C</b>     <b>G</b>    <b>C</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாதைகளில் தேவனுடைய</samp>
<span class="chordline">  <b>G</b>                      <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தூதர்கள் கரங்களில் தாங்குவார் -2                      </samp>
<samp charset="UTF-8" class="lyricline">  ...நம்புவதற்கு</samp>
<span class="blankline"></span>
<span class="chordline">   <b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரவினலே பயங்கரமும்</samp>
<span class="chordline">    <b>G</b>                       <b>Em</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பகலில் பறக்கும் அம்புகளுக்கும்</samp>
<span class="chordline"> <b>C</b>   <b>G</b>    <b>C</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இருளதிலே நடமாடும் </samp>
<span class="chordline">             <b>G</b>                         <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கொள்ளை நோய்களுக்கும் நான் பயப்படேன் -2       </samp>
<samp charset="UTF-8" class="lyricline"> ...நம்புவதற்கு</samp>
<span class="blankline"></span></div></div>   
        
     </div>