<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3500" class="song songcont"><div class="songpre"><span class="chordline"><b>Bb</b>                  <b>Eb</b>          <b>Bb</b>           </span>
<samp charset="UTF-8" class="lyricline">அழகாய் நிற்கும் யார் இவர்கள்?</samp>
<span class="chordline">    <b>Gm</b>              <b>F</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">திரளாய் நிற்கும் யார் இவர்கள்?</samp>
<span class="chordline"><b>Gm</b>         <b>Adim</b>             <b>Eb</b>          <b>Bb</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சேனைத் தலைவராம் இயேசுவின் பொற்றளத்தில்</samp>
<span class="chordline">     <b>Bb</b>              <b>F</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அழகாய் நிற்கும் யார் இவர்கள்?</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>           <b>D</b>      <b>Gm</b>              <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு தாலந்தோ, இரண்டு தாலந்தோ</samp>
<span class="chordline"><b>F</b>             <b>Cm</b>    <b>Gm</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஐந்து தாலந்தோ உபயோகித்தோர்</samp>
<span class="chordline">           <b>D7</b>     <b>Gm</b>         <b>Eb</b>    <b>F</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">சிறிதானதோ, பெரிதானதோ பெற்ற பணி</samp>
<span class="chordline"><b>Gm</b>              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">செய்து முடித்தோர்                          </samp>
<samp charset="UTF-8" class="lyricline">  ...அழகாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>           <b>D</b>    <b>Gm</b>          <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">தனிமையிலும் வறுமையிலும்</samp>
<span class="chordline"><b>F</b>             <b>Cm</b>    <b>Gm</b>       <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">லாசரு போன்று நின்றவர்கள்</samp>
<span class="chordline">           <b>D7</b>     <b>Gm</b>          <b>Eb</b>    <b>F</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">யாசித்தாலும், போஷித்தாலும் விசுவாசத்தை</samp>
<span class="chordline"><b>Gm</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">காத்தவர்கள்                                 </samp>
<samp charset="UTF-8" class="lyricline">  ...அழகாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>             <b>D</b>      <b>Gm</b>              <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா ஜாதியார் எல்லாக் கோத்திரம்</samp>
<span class="chordline"><b>F</b>               <b>Cm</b>    <b>Gm</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா மொழியும் பேசும் மக்களாம்</samp>
<span class="chordline">                <b>D7</b>   <b>Gm</b>                <b>Eb</b>    <b>F</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையின் கீழ் இயேசு இரத்தத்தால் சீர் போராட்டம் </samp>
<span class="chordline"><b>Gm</b>               <b>Bb</b>       </span>
<samp charset="UTF-8" class="lyricline">செய்து முடித்தோர்                          </samp>
<samp charset="UTF-8" class="lyricline"> ...அழகாய்</samp>
<span class="blankline"></span></div></div>   
        
     </div>