<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3504" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                  <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சியோடு துதிக்கிறோம் </samp>
<span class="chordline"><b>G</b>                  <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனம் மகிழ்ந்து துதிக்கிறோம் </samp>
<span class="chordline"><b>G</b>              <b>Em</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மன்னவனே இயேசு ராஜா </samp>
<span class="chordline"><b>G</b>                <b>Em</b>            <b>Am</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனதில் பூத்து மணம் வீசும் ரோஜா </samp>
<span class="chordline">         <b>D</b>  <b>G</b>           <b>Am</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜா சாரோன் ரோஜா  </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>Am</b>              </span>
<samp charset="UTF-8" class="lyricline">நாற்றமாக இருந்த என்னை </samp>
<span class="chordline"> <b>Em</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாசமாக மாற்றினீரே </samp>
<span class="chordline"><b>C</b>            <b>Am</b>             </span>
<samp charset="UTF-8" class="lyricline">பாவியாக இருந்த என்னை </samp>
<span class="chordline">    <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாய் மாற்றினீரே   </samp>
<span class="chordline"><b>G</b>            <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவரே  வல்லவரே </samp>
<span class="chordline">          <b>Am</b>           <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">எங்களை வாழவைக்கும் </samp>
<span class="chordline"><b>Am</b>    <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு தெய்வம் நீரே              </samp>
<samp charset="UTF-8" class="lyricline">  ...மகிழ்ச்சியோடு </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>Am</b>             </span>
<samp charset="UTF-8" class="lyricline">நெருக்கத்திலே இருந்த என்னை </samp>
<span class="chordline">    <b>Em</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விசாலத்தில் வைத்தீரே </samp>
<span class="chordline"><b>C</b>                <b>Am</b>                        </span>
<samp charset="UTF-8" class="lyricline">சேற்றிலிருந்து தூக்கி எடுத்து </samp>
<span class="chordline">     <b>D</b>               <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">கன்மலைமேல் நிறுத்தினீரே   </samp>
<span class="chordline"><b>G</b>            <b>C</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதரே அதிசயமே </samp>
<span class="chordline">          <b>Am</b>           <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">எங்களை வாழவைக்கும் </samp>
<span class="chordline"> <b>Am</b>    <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு தெய்வம் நீரே              </samp>
<samp charset="UTF-8" class="lyricline">    ...மகிழ்ச்சியோடு</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>