<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3508" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">காப்பார் உன்னைக் காப்பார்</samp>
<span class="chordline"><b>G#m</b>         <b>F#m</b>          <b>E</b>     </span>
<samp charset="UTF-8" class="lyricline">காத்தவர் காப்பார் , இன்னும் </samp>
<span class="chordline">  <b>C#m</b>       <b>F#m</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இனிமேல் காத்திடுவார்</samp>
<span class="chordline"><b>C#m</b>      <b>A</b>       <b>E</b>   <b>F#m</b>    <b>B</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே மனமே காத்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline">       <b>C#m</b>       <b>A</b>       <b>E</b>          </span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேலுக்கு வாக்குப்படி இன்பக் </samp>
<span class="chordline">   <b>B</b>                      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கானான் அளிக்கவில்லையோ</samp>
<span class="chordline"><b>G#m</b>      <b>G</b>          <b>C#m</b>       <b>E</b>              </span>
<samp charset="UTF-8" class="lyricline">இப்போதிவர்களை நிர்மூலம் செய்வதென்று </samp>
<span class="chordline"> <b>D</b>                         <b>B</b>   </span>
<samp charset="UTF-8" class="lyricline">பின்னும் இரங்கவில்லையோ</samp>
<span class="chordline">         <b>G#m</b>             <b>B</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இல்லையோ , இல்லையோ , இல்லையோ</samp>
<span class="chordline">       <b>B7</b>     <b>D</b>          <b>F#m</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மனஸ்தாபம் கொள்ளவில்லையோ                 </samp>
<samp charset="UTF-8" class="lyricline">   ...காப்பார்</samp>
<span class="blankline"></span>
<span class="chordline">            <b>C#m</b>             <b>A</b>      <b>E</b>   </span>
<samp charset="UTF-8" class="lyricline">வீழ்ச்சியில் விழித்துன்னை மீட்பவரும் </samp>
<span class="chordline">        <b>B</b>                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இகழ்ந்துவிடாது சேர்ப்பவரும்</samp>
<span class="chordline"><b>G#m</b>     <b>G</b>            <b>C#m</b>        <b>E</b>           </span>
<samp charset="UTF-8" class="lyricline">சிற்சில வேளையில் சிட்சையினாலுன்னைக் </samp>
<span class="chordline">   <b>D</b>              <b>B</b>   </span>
<samp charset="UTF-8" class="lyricline">கிட்டியிழுப்பவரும்</samp>
<span class="chordline">     <b>G#m</b>         <b>B</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமும் , கனமும் , சுகமும்</samp>
<span class="chordline">       <b>B7</b>        <b>D</b>       <b>F#m</b> <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கமா யுனக்களிப்பவரும்                       </samp>
<samp charset="UTF-8" class="lyricline">     ...காப்பார்</samp>
<span class="blankline"></span></div></div>   
        
     </div>