<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3515" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>      <b>C</b>         <b>F</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணிலடங்கா ஸ்தோத்திரம் -தேவா </samp>
<span class="chordline"><b>C</b>             <b>Bb</b>           <b>Dm</b>         </span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் நான் பாடுவேன் </samp>
<span class="chordline">             <b>F</b>  <b>Dm</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இந்நாள் வரை என் வாழ்விலே</samp>
<span class="chordline"><b>Bb</b>         <b>C</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் செய்த நன்மைக்கே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>        <b>F</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வானாதி வானங்கள் யாவும் </samp>
<span class="chordline">        <b>F</b>       <b>Dm</b>        <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">அதின் கீழுள்ள ஆகாயமும் </samp>
<span class="chordline"><b>G</b>                    <b>C</b>    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பூமியில் காண்கின்ற யாவும் </samp>
<span class="chordline"><b>A7</b>                        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தா உம்மைப் போற்றுமே                 ...எண்ணிடலங்கா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>          <b>F</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">காட்டினில் வாழ்கின்ற யாவும்  </samp>
<span class="chordline">      <b>F</b>        <b>Dm</b>          <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">கடும் காற்றும் பனி தூறலும் </samp>
<span class="chordline"><b>G</b>                      <b>C</b>    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நாட்டினில் வாழ்கின்ற யாவும் </samp>
<span class="chordline"><b>A7</b>                     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நாதா உம்மை போற்றுமே                    ...எண்ணிடலங்கா  </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>       <b>F</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வால வயதுள்ளானோரும் - மிகும் </samp>
<span class="chordline"><b>F</b>          <b>Dm</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வயதால் முதிர்ந்தோர்களும் </samp>
<span class="chordline"><b>G</b>                  <b>C</b>   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாலகர் தம் வாயினாலும் </samp>
<span class="chordline"><b>A7</b>                        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாடி உம்மைப் போற்றுவாரே                 ...எண்ணிடலங்கா </samp>
<span class="blankline"></span></div></div>   
        
     </div>