<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3519" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                             </span>
<samp charset="UTF-8" class="lyricline">உள்ளம் எல்லாம் உருகுதய்யா உந்தன் </samp>
<span class="chordline">         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பை நினைக்கையிலே   </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தன்னாலே கண்ணு கலங்குது </samp>
<span class="chordline"><b>F</b>          <b>C</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாவே உம்மை நினைக்குது   </samp>
<span class="blankline"></span>
<span class="chordline">      <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">இந்த தெள்ளுப் பூச்சிக்கும் </samp>
<span class="chordline"><b>C</b>                     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல வாழ்க்கையை தந்தீரே - என்னை </samp>
<span class="chordline"><b>F</b>              <b>C</b>            </span>
<samp charset="UTF-8" class="lyricline">நல்லவனாக்கி அல்லையில் </samp>
<span class="chordline">           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வைத்துக் கொண்டீரே   </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கருவினில் அநாதையானேன் </samp>
<span class="chordline"><b>F</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தெருவினில் நான் கிடந்தேன் </samp>
<span class="blankline"></span>
<span class="chordline">            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அருகினில் வந்து என்னை </samp>
<span class="chordline"><b>Am</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அணைத்த அன்பு தெய்வமே </samp>
<span class="chordline"><b>F</b>          <b>C</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமே அதிசயமே உம்மை </samp>
<span class="chordline">      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்றும் மறவேன்                    </samp>
<samp charset="UTF-8" class="lyricline">  ...இந்த தெள்ளுப்</samp>
<span class="blankline"></span>
<span class="chordline">          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றிட ஒருவரில்லை </samp>
<span class="chordline">         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றிட யாருமில்லை </samp>
<span class="chordline"> <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தூற்றிட பலருண்டு </samp>
<span class="chordline"><b>F</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சேற்றை வீசும் மனிதருண்டு </samp>
<span class="chordline"><b>A</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்றிடும் என் விளக்கை </samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றும் எந்தன் தெய்வமே </samp>
<span class="chordline"><b>F</b>         <b>C</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சற்பரனே பொற்பரனே உம்மை </samp>
<span class="chordline">              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்றும் துதிப்பேன்                   </samp>
<samp charset="UTF-8" class="lyricline">  ...இந்த தெள்ளுப்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஊரெல்லாம் சென்றிடுவேன் </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் பறை சாற்றிடுவேன் </samp>
<span class="chordline">                 <b>Dm</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தெருவெல்லாம் ஏசுவே என்று </samp>
<span class="chordline">           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் உயர்த்திடுவேன் </samp>
<span class="chordline"><b>A</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்யும் என்னை </samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் அன்பு தெய்வமே </samp>
<span class="chordline"><b>F</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையன்றி இவ்வுலகில் </samp>
<span class="chordline"><b>Am</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் எனக்கு யாருமில்லை </samp>
<samp charset="UTF-8" class="lyricline">  ...இந்த தெள்ளுப்</samp></div></div>   
        
     </div>