<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3527" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தாயினும் மேலாய் என்மேல்</samp>
<span class="chordline">       <b>C</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு வைத்தவர் நீரே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு தந்தையைப் போல</samp>
<span class="chordline"><b>Bm</b>                    <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் ஆற்றித் தேற்றிடிவீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>               <b>Em</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிரோடு கலந்தவரே</samp>
<span class="chordline">     <b>C</b>          <b>Em</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் உறவாலே மகிழ்ந்திடுவேன்</samp>
<span class="chordline"><b>C</b>         <b>Em</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன் மேல் அன்பு வைத்தேன் -நான்</samp>
<span class="chordline"><b>C</b>        <b>Em</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காக எதையும் செய்வேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடப்பட்ட நேரங்களெல்லாம்</samp>
<span class="chordline"><b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் கரம் பிடிப்பேன்</samp>
<span class="chordline">         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனைக் காக்கும் கரமதை</samp>
<span class="chordline"><b>Bm</b>              <b>C</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நழுவவிடாமல் முத்தம் செய்வேன்         </samp>
<samp charset="UTF-8" class="lyricline">  ...என் உயிரோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் கால்கள் இடறும் போது</samp>
<span class="chordline"><b>C</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விழுந்திட மாட்டேன் – உம்</samp>
<span class="chordline"><b>G</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தோளின் மீது ஏறிக்கொண்டு</samp>
<span class="chordline"><b>C</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பயணம் செய்வேன்                         </samp>
<samp charset="UTF-8" class="lyricline">  ...என் உயிரோடு</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>