<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3528" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                  <b>E</b>          </span>
<samp charset="UTF-8" class="lyricline">இதோ மனுஷரின் மத்தியில் </samp>
<span class="chordline"><b>D</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனே</samp>
<span class="chordline"><b>A</b>       <b>E</b>         <b>A</b>         </span>
<samp charset="UTF-8" class="lyricline">வாசஞ் செய்கிறாரே !</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>               <b>D</b>           <b>A</b>                         </span>
<samp charset="UTF-8" class="lyricline">தேவன் தாபரிக்கும் ஸ்தலமே</samp>
<span class="chordline">     <b>Bm</b>          <b>E</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தம் ஜனத்தாரின் மத்தியிலாம்</samp>
<span class="chordline">         <b>D</b>                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் தாம் அவர்கள் - தேவனாயிருந்தே</samp>
<span class="chordline">         <b>Bm</b>          <b>E</b>            <b>A</b>  </span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் யாவையும் துடைக்கிறாரே !          </samp>
<samp charset="UTF-8" class="lyricline"> ...இதோ</samp>
<span class="blankline"></span>
<span class="chordline">       <b>A</b>      <b>D</b>        <b>A</b>    </span>
<samp charset="UTF-8" class="lyricline">தேவ ஆலயமும் அவரே</samp>
<span class="chordline">      <b>Bm</b>          <b>E</b>       <b>A</b>      </span>
<samp charset="UTF-8" class="lyricline">தூய ஒளி விளக்கும் அவரே</samp>
<span class="chordline">     <b>D</b>                         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனாலே தம் ஜனங்களின் - </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்க்கும்</samp>
<span class="chordline">      <b>Bm</b>      <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சுத்த ஜீவ நதியும் அவரே !                    </samp>
<samp charset="UTF-8" class="lyricline">  ...இதோ</samp>
<span class="blankline"></span>
<span class="chordline">  <b>A</b>             <b>D</b>        <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">சீயோனே உன் வாசல்களை</samp>
<span class="chordline">     <b>Bm</b>        <b>E</b>         <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">ஜீவ தேவனே நேசிக்கிறார்</samp>
<span class="chordline">     <b>D</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சீர் மிகுந்திடு மிச் - சுவிசேஷந்தனை</samp>
<span class="chordline">     <b>Bm</b>           <b>E</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கூறி உயர்த்திடுவோம் உனையே !            </samp>
<samp charset="UTF-8" class="lyricline">  ...இதோ</samp>
<span class="blankline"></span></div></div>   
        
     </div>