<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3530" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                       <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">தேவா நான் எதினால் விசேஷித்தவன்</samp>
<span class="chordline"><b>F</b>                         <b>D7</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ராஜா நான் அதை தினம் யோசிப்பவன்</samp>
<span class="chordline"><b>Eb</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எதினால் இது எதினால் -2</samp>
<span class="chordline">    <b>Dm</b>         <b>F</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் என்னோடு வருவதினால் </samp>
<samp charset="UTF-8" class="lyricline">...தேவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                          <b>Bb</b>         <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">மேக ஸ்தம்பம் மேலிருந்து பாதுகாக்குது</samp>
<span class="chordline"><b>F</b>             <b>Cm</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பாதை காட்ட பகலெல்லாம் கூடச் செல்லுது</samp>
<span class="chordline"><b>Gm</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பான தேவன் என்னோடு வருவார்</samp>
<span class="chordline"><b>Eb</b>            <b>D7</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அது போதும் என் வாழ்விலே </samp>
<samp charset="UTF-8" class="lyricline">...தேவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                           <b>Bb</b>             <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">தாகம் கொண்ட தேவ ஜனம் வானம் பார்க்குது</samp>
<span class="chordline"><b>F</b>                <b>Cm</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவல் கொண்ட கன்மலையும் கூடச் செல்லுது</samp>
<span class="chordline"><b>Gm</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் ஏக்கமெல்லாம் என் தேவன் தீர்ப்பார்</samp>
<span class="chordline"><b>Eb</b>          <b>D7</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷம் நான் காணுவேன் </samp>
<samp charset="UTF-8" class="lyricline">...தேவா</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                         <b>Bb</b>           <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">வாழ்க்கையிலே கசப்புகள் கலந்திட்டாலும்</samp>
<span class="chordline"><b>F</b>          <b>Cm</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பாசமுள்ள ஒரு மரம் கூட வருது</samp>
<span class="chordline"><b>Gm</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மாராவின் நீரை தேனாக மாற்றும்</samp>
<span class="chordline"><b>Eb</b>         <b>D7</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் என்னோடுண்டு </samp>
<samp charset="UTF-8" class="lyricline">...தேவா</samp></div></div>   
        
     </div>