<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3535" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் என் சொந்தம் </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீர் என் பக்கம்</samp>
<span class="chordline"><b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துன்பவேளைகளில்</samp>
<span class="chordline"><b>G</b>      <b>Em</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆழியின்  ஆழங்களில்</samp>
<span class="chordline"><b>G</b>        <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமே எனக்கு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>       <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சூறைச்செடியின் கீழிலும்</samp>
<span class="chordline">     <b>C</b>               <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் சமுகம் என்னை தேற்றுமே      </samp>
<samp charset="UTF-8" class="lyricline">   ...நீர் என் சொந்தம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>C</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">வறண்ட பாலைவன வாழ்க்கையில்</samp>
<span class="chordline"><b>G</b>           <b>Bm</b>        <b>D</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தாகத்தால் என் நாவு வறண்டாலும்</samp>
<span class="chordline"><b>D</b>                              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாரின் அலுகுறல் மாற்றினவர்</samp>
<span class="chordline"><b>C</b>           <b>D</b>    <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">என் தாகம் தீர்க்க வல்லவர்           </samp>
<samp charset="UTF-8" class="lyricline">  ...நீர் என் சொந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நெரிந்த நாணலை ஒடியாதவர்</samp>
<span class="chordline"><b>G</b>       <b>Bm</b>           <b>D</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மங்கியெரியும் திரியை அனையார்</samp>
<span class="chordline"><b>D</b>                              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">புலம்பலை களிப்பாய் மாற்றுபவர்</samp>
<span class="chordline"><b>C</b>          <b>D</b>      <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">விடுதலை தேவன் யேசுபரன்         </samp>
<samp charset="UTF-8" class="lyricline">  ...நீர் என் சொந்தம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>