<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3536" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>      <b>F#m</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா ஆல்ஃபா ஒமெகா</samp>
<span class="chordline"><b>G</b>              <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே எப்போதும் – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>A</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தொடக்கமும் முடிவும் நீரே</samp>
<span class="chordline"><b>G</b>         <b>D</b>       </span>
<samp charset="UTF-8" class="lyricline">துதிக்குப் பாத்திரரே – 2</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>D</b>        <b>Bm</b>           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த வாழ்வு நான் வாழ</samp>
<span class="chordline"><b>Em</b>        <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பிரித்தீரே பிறக்கும் முன்னாலே – 2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே </samp>
<span class="chordline"><b>D</b>              <b>F#m</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தொடக்கமும் முடிவும் நீரே</samp>
<span class="chordline"><b>Em</b>        <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்குப் பாத்திரரே – 2</samp>
<samp charset="UTF-8" class="lyricline">  ...அப்பா ஆல்ஃபா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>Bm</b>           <b>F#m</b>       </span>
<samp charset="UTF-8" class="lyricline">மறுபடி பிறக்கச் செய்தீரே</samp>
<span class="chordline"><b>Em</b>            <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையால் இரட்சித்தீரே – 2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே </samp>
<span class="chordline"><b>D</b>              <b>F#m</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தொடக்கமும் முடிவும் நீரே</samp>
<span class="chordline"><b>Em</b>        <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்குப் பாத்திரரே – 2</samp>
<samp charset="UTF-8" class="lyricline">   ...அப்பா ஆல்ஃபா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>            <b>Bm</b>         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உம் அன்பை ஊற்றினீர் என்னில்</samp>
<span class="chordline"><b>Em</b>       <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத அபிஷேகத்தாலே – 2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே</samp>
<span class="chordline"><b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் உமக்கே </samp>
<span class="chordline"><b>D</b>              <b>F#m</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தொடக்கமும் முடிவும் நீரே</samp>
<span class="chordline"><b>Em</b>        <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்குப் பாத்திரரே – 2</samp>
<samp charset="UTF-8" class="lyricline">   ...அப்பா ஆல்ஃபா</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>