<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3539" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                  <b>D</b>      </span>
<samp charset="UTF-8" class="lyricline">நீரின்றி வாழ்வேது இறைவா</samp>
<span class="chordline">     <b>C</b>             </span>
<samp charset="UTF-8" class="lyricline">உம் நினைவின்றி </samp>
<span class="chordline"><b>Am</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வேது தேவா</samp>
<span class="chordline">            <b>G</b>          </span>
<samp charset="UTF-8" class="lyricline">உலகத்தில் நூறாண்டு </samp>
<span class="chordline"><b>D</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நான் வாழ்ந்த போதும்</samp>
<span class="chordline"><b>Am</b>             <b>D</b>         </span>
<samp charset="UTF-8" class="lyricline">உம் இல்லத்தில் வாழும் </samp>
<span class="chordline"> <b>C</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு நாளே போதும்       </samp>
<samp charset="UTF-8" class="lyricline">  ...நீரின்றி </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கல்லுக்குள் தேரையை வைத்தவர் நீர்</samp>
<span class="chordline"><b>D</b>             </span>
<samp charset="UTF-8" class="lyricline">அதற்குள்ளும் </samp>
<span class="chordline">         <b>Am</b>      <b>Em</b>      </span>
<samp charset="UTF-8" class="lyricline">ஜீவனை தந்தவர் நீர்</samp>
<span class="chordline">             <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">உமையன்றி அணுவேதும் </samp>
<span class="chordline"><b>D</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அசையாதையா</samp>
<span class="chordline">     <b>Am</b>            <b>D</b>           </span>
<samp charset="UTF-8" class="lyricline">உம் துணையின்றி உயிர்வாழ </samp>
<span class="chordline"><b>C</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">முடியாதையா         </samp>
<samp charset="UTF-8" class="lyricline"> ...நீரின்றி </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>        </span>
<samp charset="UTF-8" class="lyricline">பல கோடி வார்த்தைகள் </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">நான் கேட்ட போதும்</samp>
<span class="chordline"><b>D</b>                     </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே நீர் பேசும் </samp>
<span class="chordline"><b>Am</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஒருவார்த்தை போதும்</samp>
<span class="chordline">        <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">ஓராயிரம் ஜீவன் </samp>
<span class="chordline"><b>D</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்வாழுவேன்</samp>
<span class="chordline">     <b>Am</b>          <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">உம் வார்த்தையில் </samp>
<span class="chordline">        <b>C</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உண்டு அற்புதமே                 </samp>
<samp charset="UTF-8" class="lyricline"> ...நீரின்றி</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>