<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3546" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிங்காசனத்தில் வீற்றிருக்கும் </samp>
<span class="chordline"><b>D</b>           <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தரே பரிசுத்தரே -2</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>     <b>C</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>            <b>D7</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை -2</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>               <b>G7</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கேருபீன்கள் சேராபீன்கள் </samp>
<span class="chordline"> <b>Am</b>                  <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">போற்றிடும் எங்கள் பரிசுத்தரே</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>     <b>C</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>           <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline">     <b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏழு குத்துவிளக்கின் மத்தியிலே </samp>
<span class="chordline"><b>D</b>                   <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உலாவிடும் எங்கள் பரிசுத்தரே</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>     <b>C</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>           <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>               <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆதியும் அந்தமுமானவரே</samp>
<span class="chordline"><b>D</b>                   <b>D7</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்ஃபா ஒமெகாவுமானவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>     <b>C</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>           <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருபுறமும் கருக்குள்ள </samp>
<span class="chordline"><b>D</b>                       <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பட்டயத்தை கரங்களில் உடையவரே</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>     <b>C</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>           <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline">       <b>G</b>                             <b>C</b>                            </span>
<samp charset="UTF-8" class="lyricline">அக்னி ஜுவாலை போன்ற கண்களையும்</samp>
<span class="chordline"><b>D</b>                       <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெண்கல பாதங்களை உடையவரே</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>     <b>C</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>           <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை </samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமும் சத்தியமும் </samp>
<span class="chordline"><b>D</b>                        <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாவீதின் திறவுகோலை உடையவரே</samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>     <b>C</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>           <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை உமக்கு ஆராதனை </samp>
<span class="blankline"></span></div></div>   
        
     </div>