<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3550" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                   <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மோடு இருக்கணுமே ஐயா</samp>
<span class="chordline"><b>Gm</b>               <b>F</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல் மாறணுமே</samp>
<span class="chordline">         <b>Cm</b>        <b>Gm</b>          <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உலகின் ஒளியாய் மலைமேல் அமர்ந்து</samp>
<span class="chordline">            <b>Gm</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வெளிச்சம் கொடுக்கணுமே</samp>
<span class="chordline">                        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வெளிச்சம் கொடுக்கணுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>             <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">ஓடும் நதியின்  ஓரம் வளரும்</samp>
<span class="chordline"><b>Gm</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மரமாய் மாறணுமே</samp>
<span class="chordline"><b>Cm</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா நாளும் இலைகளோடு</samp>
<span class="chordline"><b>Dm</b>                   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கனிகள் கொடுக்கணுமே                  </samp>
<samp charset="UTF-8" class="lyricline">  ...உம்மோடு</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>              <b>Bb</b>   </span>
<samp charset="UTF-8" class="lyricline">உலகப் பெருமை இன்பமெல்லாம்</samp>
<span class="chordline"><b>Gm</b>                   <b>F</b>                   </span>
<samp charset="UTF-8" class="lyricline">குப்பையாய் மாறணுமே</samp>
<span class="chordline"><b>Cm</b>              <b>F</b>                          </span>
<samp charset="UTF-8" class="lyricline">உம்மையே என் கண்முன் வைத்து</samp>
<span class="chordline"><b>Dm</b>               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி ஜெயிக்கணுமே                     </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>         <b>Bb</b>   </span>
<samp charset="UTF-8" class="lyricline">ஆத்ம பார  உருக்கத்தோடு</samp>
<span class="chordline"><b>Gm</b>                 <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">அழுது புலம்பணுமே</samp>
<span class="chordline"><b>Cm</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரவும் பகலும் விழித்து ஜெபிக்கும்</samp>
<span class="chordline"><b>Dm</b>                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மேய்ப்பன் ஆகணுமே – நான்             </samp>
<samp charset="UTF-8" class="lyricline">  ...உம்மோடு</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>              <b>Bb</b>   </span>
<samp charset="UTF-8" class="lyricline">பேய்கள் ஓட்டும் வல்லமையோடு</samp>
<span class="chordline"><b>Gm</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பிரசங்கம் பண்ணணுமே</samp>
<span class="chordline"><b>Cm</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கடினமான பாறை இதயம்</samp>
<span class="chordline"><b>Dm</b>                     <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உடைந்து நொறுங்கணுமே – நான்       </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தை என்னும் வாளையேந்தி</samp>
<span class="chordline"><b>Gm</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் செய்யணுமே</samp>
<span class="chordline"><b>Cm</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசம் என்னும் கேடயத்தால்</samp>
<span class="chordline"><b>Dm</b>                  <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பிசாசை வெல்லணுமே – நான்           </samp>
<samp charset="UTF-8" class="lyricline">  ...உம்மோடு</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>