<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3557" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>      	       <b>D</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ கிருபை என்றுமுள்ளதே</samp>
<span class="chordline">       <b>Bm</b>      <b>Em</b>           <b>D</b>                     </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளதே</samp>
<span class="chordline">          <b>C</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரைப் போற்றி துதித்துப்பாடி</samp>
<span class="chordline">        <b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா என்றார்ப்பரிப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                               <b>Am</b>   </span>
<samp charset="UTF-8" class="lyricline">நெருக்கப்பட்டோம் மடிந்திடாமல்</samp>
<span class="chordline">                     <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர்தாம் நம்மைக் காத்ததாலே</samp>
<span class="chordline">      <b>G</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நல்லவர்</samp>
<span class="chordline">      <b>Bm</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வல்லவர்</samp>
<span class="chordline">       <b>G</b>       <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது               </samp>
<samp charset="UTF-8" class="lyricline"> ...தேவ கிருபை </samp>
<span class="blankline"></span>
<span class="chordline">               <b>G</b>                       <b>Am</b>           </span>
<samp charset="UTF-8" class="lyricline">சத்துரு சேனை தொடர்ந்து சூழ்கையில்</samp>
<span class="chordline">                   <b>D7</b>               <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">பக்தனாம் தாவீதின் தேவன் நமக்கு</samp>
<span class="chordline">     <b>G</b>        <b>D</b>  <b>Bm</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">முன்சென்றாரே அவர் நல்லவர்</samp>
<span class="chordline">      <b>G</b>        <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளதே               </samp>
<samp charset="UTF-8" class="lyricline"> ...தேவ கிருபை </samp>
<span class="blankline"></span>
<span class="chordline">                   <b>G</b>                <b>Am</b>   </span>
<samp charset="UTF-8" class="lyricline">அக்கினி சோதனை பட்சிக்க வந்தும்</samp>
<span class="chordline">                  <b>D7</b>                  <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">முட்செடி தன்னில் தோன்றிய தேவன்</samp>
<span class="chordline">     <b>G</b>      <b>D</b>        <b>Bm</b>     <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்தாரே அவர் நல்லவர்</samp>
<span class="chordline">      <b>G</b>        <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளதே             </samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ கிருபை </samp>
<span class="chordline">                 <b>G</b>                   <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">காரிருள் போன்ற கஷ்டங்கள் வந்தும்</samp>
<span class="chordline">                   <b>D7</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாரினில் அவர் என் பாதையில் ஒளியாய்</samp>
<span class="chordline">         <b>G</b>        <b>D</b>        <b>Bm</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நடத்தினார் அவர் நல்லவர்</samp>
<span class="chordline">       <b>G</b>       <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்று முள்ளதே</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ கிருபை </samp>
<span class="chordline">                       <b>G</b>                      <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">வெள்ளம் போல் நிந்தை மேற்கொள்ள வந்தும்</samp>
<span class="chordline">                 <b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வீரன் நெகேமியா ஆவியை அளித்தே</samp>
<span class="chordline">     <b>G</b>        <b>D</b>          <b>Bm</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திட நம்பிக்கை தைரியம் ஈந்தாரே</samp>
<span class="chordline">       <b>G</b>       <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளதே</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ கிருபை </samp></div></div>   
        
     </div>