<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3559" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>		  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நான் நேசிப்பேன்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நான் நேசிப்பேன் </samp>
<span class="chordline"><b>Dm</b>		  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நான் நேசிப்பேன் </samp>
<span class="chordline">      <b>A7</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நான் பின் திரும்பேனே!</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline">       <b>Dm</b>    	 <b>Gm</b>		   <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">உம் சந்நிதியில் முழங்காலில் நின்று</samp>
<span class="chordline">     <b>Dm</b>          <b>F</b>       <b>A</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதையில் நான் நடந்திட்டால்</samp>
<span class="chordline">          <b>Gm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இன்னல் துன்பமே வந்தாலும்</samp>
<span class="chordline">      <b>A7</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நான் பின் திரும்பேனே!</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>		  <b>C</b>                                   </span>
<samp charset="UTF-8" class="lyricline">உம்மையே நான் ஆராதிப்பேன் </samp>
<span class="chordline"><b>Dm</b>		                                     </span>
<samp charset="UTF-8" class="lyricline">உம்மையே நான் ஆராதிப்பேன் </samp>
<span class="chordline">      <b>A7</b>            <b>Dm</b>       </span>
<samp charset="UTF-8" class="lyricline">நான் பின் திரும்பேனே!                           ...உம் சந்நிதியில் </samp>
<span class="blankline"></span></div></div>   
        
     </div>