<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3562" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>Bm</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் ஜெபவேளை உமைத்தேடி வந்தேன்</samp>
<span class="chordline"><b>D7</b> 		   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவா பதில் தாருமே [2]</samp>
<span class="blankline"></span>
<span class="chordline">        <b>B</b>         <b>Em</b>       <b>C</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் கோட்டை எந்தன் தஞ்சம் நீரே</samp>
<span class="chordline">         <b>D</b>              <b>G</b>                  </span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் நாடி வந்தேன் -[2]                  </samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b> 	 <b>Bm</b>          <b>G</b>                     <b>C</b>                                    </span>
<samp charset="UTF-8" class="lyricline">சோராது ஜெபித்திட ஜெபஆவி வரம் தாருமே</samp>
<span class="chordline"><b>A</b>                       <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">தடை யாவும் அகற்றிடுமே</samp>
<span class="chordline">                <b>Am</b>		 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தயை வேண்டி உம்பாதம் வந்தேன்-[2]             </samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b> 	   <b>Bm</b>         <b>G</b>                       <b>C</b>                                          </span>
<samp charset="UTF-8" class="lyricline">உம்மோடு எந்நாளும் உறவாட அருள் செய்யுமே</samp>
<span class="chordline"><b>A</b>                          <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாவே உம் வார்த்தையை</samp>
<span class="chordline">         <b>Am</b>	       <b>G</b>          </span>
<samp charset="UTF-8" class="lyricline">கேட்டிட காத்திருப்பேனே -[2]                      </samp>
<samp charset="UTF-8" class="lyricline"> ...எந்தன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>