<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3563" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>             <b>Gm</b>        </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நல்லவர் அவர் </samp>
<span class="chordline"><b>Am</b>      <b>Bb</b>           <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">கிருபை என்றுமுள்ளதே</samp>
<span class="chordline">        <b>F</b>     <b>Gm</b>        </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நல்லவர் அவர் </samp>
<span class="chordline"><b>Am</b>      <b>Bb</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை என்றுமுள்ளதே</samp>
<span class="blankline"></span>
<span class="chordline">   <b>Dm</b>       <b>Bb</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் திறந்திடும் நேரம்</samp>
<span class="chordline">      <b>Dm</b>       <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ மகிமை இறங்கிடுதே               </samp>
<samp charset="UTF-8" class="lyricline">  ...கர்த்தர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>Bb</b>              <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை துதித்து ஸ்தோத்தரித்தால்</samp>
<span class="chordline">                     <b>Bb</b>           <b>C</b>           </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஸ்தலத்தில் நாம் கூடினால்</samp>
<span class="chordline"><b>Cm</b>                       <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகத்தால் நம்மை நிறப்பிடுவார்</samp>
<span class="chordline"><b>Cm</b>                      <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையினால் நம்மை மூடிடுவார்</samp>
<span class="blankline"></span>
<span class="chordline">  <b>Dm</b>        <b>Bb</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் திறந்திடும் நேரம்</samp>
<span class="chordline">      <b>Dm</b>       <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ மகிமை இறங்கிடுதே               </samp>
<samp charset="UTF-8" class="lyricline">  ...கர்த்தர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>Bb</b>       <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">அந்நியபாஷைகள் தந்திடுவார்</samp>
<span class="chordline"><b>F</b>                    <b>Bb</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி அபிஷேகம் ஊற்றிடுவார்</samp>
<span class="chordline"><b>Cm</b>                     <b>Bb</b>         <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">வரங்களினால் நம்மை நிறப்பிடுவார்</samp>
<span class="chordline"><b>Cm</b>                   <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆயுதமாய் நம்மை மாற்றிடுவார்</samp>
<span class="blankline"></span>
<span class="chordline">  <b>Dm</b>        <b>Bb</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகம் திறந்திடும் நேரம்</samp>
<span class="chordline">      <b>Dm</b>        <b>Bb</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ மகிமை இறங்கிடுதே              </samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>