<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3566" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                           <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அல்லாமல் எனக்கு யார் உண்டு</samp>
<span class="chordline"><b>Gm</b>                <b>C</b>          <b>Bb</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அல்லாமல் எனக்கு யார் உண்டு    </samp>
<span class="chordline"><b>Dm</b>               <b>C</b>            <b>Dm</b>     </span>
<samp charset="UTF-8" class="lyricline">என் இயேசையா  அல்லேலூயா </samp>
<span class="chordline">              <b>Bb</b> <b>C</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசையா  அல்லேலூயா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>              <b>Gm</b>  <b>C</b>               <b>F</b> <b>A</b>  </span>
<samp charset="UTF-8" class="lyricline">இன்பத்திலும் நீரே, துன்பத்திலும் நீரே </samp>
<span class="chordline"><b>Dm</b>              <b>Bb</b>    <b>C</b>             <b>F</b> <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">இன்பத்திலும் நீரே,  துன்பத்திலும் நீரே  </samp>
<span class="chordline"><b>F</b>	    <b>Bb</b>        <b>C</b>	     <b>Dm</b>                </span>
<samp charset="UTF-8" class="lyricline">எவ்வேளையும் ஐயா நீர் தானே -2       </samp>
<samp charset="UTF-8" class="lyricline">  ...உம்மை அல்லாமல் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                 <b>Gm</b>  <b>C</b>                <b>F</b> <b>A</b>                    </span>
<samp charset="UTF-8" class="lyricline">என் ஸ்நேகமும் நீரே, என் ஆசையும் நீரே</samp>
<span class="chordline"><b>Dm</b>                 <b>Bb</b>   <b>C</b>               <b>F</b> <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">என் ஸ்நேகமும் நீரே, என் ஆசையும் நீரே  </samp>
<span class="chordline"><b>F</b>	    <b>Bb</b>        <b>C</b>	     <b>Dm</b>      </span>
<samp charset="UTF-8" class="lyricline">என் எல்லாமே ஐயா நீர் தானே -2       </samp>
<samp charset="UTF-8" class="lyricline">  ...உம்மை அல்லாமல் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>               <b>Gm</b>  <b>C</b>                <b>F</b> <b>A</b>                </span>
<samp charset="UTF-8" class="lyricline">இம்மையிலும் நீரே, மறுமையிலும் நீரே</samp>
<span class="chordline"><b>Dm</b>               <b>Bb</b>  <b>C</b>                <b>F</b> <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இம்மையிலும் நீரே, மறுமையிலும் நீரே </samp>
<span class="chordline"><b>F</b>	 <b>Bb</b>       <b>C</b>	<b>Dm</b>           </span>
<samp charset="UTF-8" class="lyricline">எந்நாளுமே ஐயா நீர்தானே -2           </samp>
<samp charset="UTF-8" class="lyricline">  ...உம்மை அல்லாமல் </samp>
<span class="blankline"></span></div></div>   
        
     </div>