<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3567" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>               <b>Am</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விந்தை கிறிஸ்தேசு ராஜா!</samp>
<span class="chordline">                      <b>C</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தஞ் சிலுவை என் மேன்மை </samp>
<span class="chordline"><b>F</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தஞ் சிலுவை என் மேன்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>Am</b>      <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">சுந்தரம் மிகு இந்தப் பூவில்  </samp>
<span class="chordline">   <b>G</b>              <b>F</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்த மேன்மைகள் எனக்கிருப்பினும்          </samp>
<samp charset="UTF-8" class="lyricline">  ...விந்தை</samp>
<span class="blankline"></span>
<span class="chordline"> <b>C</b>       <b>F</b>                 <b>C</b>                            </span>
<samp charset="UTF-8" class="lyricline">திரண்ட ஆஸ்தி, உயர்ந்த கல்வி</samp>
<span class="chordline">                <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">செல்வாக்குகள் மிக விருப்பினும்</samp>
<span class="chordline"><b>G</b>                       <b>Am</b>       <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">குருசை நோக்கிப் பார்க்க எனக்கு </samp>
<span class="chordline">    <b>G</b>          <b>F</b>      <b>G</b>               </span>
<samp charset="UTF-8" class="lyricline">உரிய பெருமை யாவும் அற்பமே             </samp>
<samp charset="UTF-8" class="lyricline">  ...விந்தை</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>     <b>F</b>                    <b>C</b>      </span>
<samp charset="UTF-8" class="lyricline">இந்த விந்தை அன்புக் கீடாய்</samp>
<span class="chordline">                   <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்ன காணிக்கை ஈந்திடுவேன்</samp>
<span class="chordline"><b>G</b>                   <b>Am</b>        <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">எந்த அரும் பொருள் ஈடாகும் </samp>
<span class="chordline">       <b>G</b>            <b>F</b>      <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">என்னை முற்றிலும் உமக்களிக்கிறேன்       </samp>
<samp charset="UTF-8" class="lyricline">  ...விந்தை </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>    <b>F</b>                      <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">உம் குருசே ஆசிக் கெல்லாம்</samp>
<span class="chordline">                   <b>G</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஊற்றாம், வற்றா ஜீவ நதியாம்</samp>
<span class="chordline"><b>G</b>                    <b>Am</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துங்க இரத்த ஊற்றில் மூழ்கி </samp>
<span class="chordline">        <b>G</b>         <b>F</b>          <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">தூய்மையடைத்து மேன்மை ஆகினேன்      </samp>
<samp charset="UTF-8" class="lyricline">  ...விந்தை</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>F</b>                      <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">சென்னி, விலா, கை, கால் னின்று</samp>
<span class="chordline">             <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சிந்துதோ! துயரோடன்பு</samp>
<span class="chordline"><b>G</b>                        <b>Am</b>     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">மன்னா, இதைப் போன்ற காட்சி </samp>
<span class="chordline">     <b>G</b>        <b>F</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளிலுமே எங்கும் காணேன்            </samp>
<samp charset="UTF-8" class="lyricline">  ...விந்தை</samp>
<span class="blankline"></span></div></div>   
        
     </div>