<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3568" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>            <b>G</b>        </span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை </samp>
<span class="chordline"><b>D</b>                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவரே நல்லவரே </samp>
<span class="chordline"><b>Em</b>            <b>G</b>        </span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை </samp>
<span class="chordline"><b>D</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதரே அதிசயமே </samp>
<span class="chordline"><b>G</b>                <b>Em</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் உயர்த்தியே பாடிடுவேன் </samp>
<span class="chordline"><b>C</b>            <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள நாளெல்லாம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Em</b>          <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் எனக்காய் சுமந்தவரே </samp>
<span class="chordline"><b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஆராதனை </samp>
<span class="chordline"><b>Am</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாடுகள் எனக்காய் சகித்தவரே </samp>
<span class="chordline"><b>C</b>        <b>B</b>     <b>Em</b>    </span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஆராதனை                         </samp>
<samp charset="UTF-8" class="lyricline">    ...ஆராதனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Em</b>            <b>Bm</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியின் வரங்களைத் தந்தவரே </samp>
<span class="chordline"><b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஆராதனை </samp>
<span class="chordline"><b>Am</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் எனக்காய்த் தந்தவரே </samp>
<span class="chordline"><b>C</b>           <b>B</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஆராதனை                           </samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>Em</b>            <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை எனக்காய் ஜெயித்தவரே </samp>
<span class="chordline"><b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஆராதனை </samp>
<span class="chordline"><b>Am</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதாள வல்லமை தகர்த்தவரே </samp>
<span class="chordline"><b>C</b>           <b>B</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே ஆராதனை                         </samp>
<samp charset="UTF-8" class="lyricline">     ...ஆராதனை</samp>
<span class="blankline"></span></div></div>   
        
     </div>