<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3569" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                 <b>Bb</b>             </span>
<samp charset="UTF-8" class="lyricline">நான் ஆடிப்பாடி மகிழ்வேன்</samp>
<span class="chordline">       <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஆடிப்பாடி மகிழ்வேன்</samp>
<span class="chordline">       <b>Dm</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஆடிப்பாடி மகிழ்வேன்</samp>
<span class="chordline"><b>Bb</b>   <b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் பாவம் நீங்கிற்றே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Bb</b>    <b>F</b>      <b>Am</b>  <b>Bb</b>    <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">இயேசு இரத்தமே விடுதலையதே </samp>
<span class="blankline"></span>
<span class="chordline">     <b>F</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">என் பாவம் புரண்டோடி </samp>
<span class="chordline">     <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் பாவம் புரண்டோடி</samp>
<span class="chordline">     <b>Dm</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் பாவம் புரண்டோடி</samp>
<span class="chordline"><b>Bb</b>     <b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அது மறைந்து போனதே    </samp>
<samp charset="UTF-8" class="lyricline">    ...நான்</samp>
<span class="blankline"></span></div></div>   
        
     </div>