<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3570" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>                                     <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை அதிசயம் காணச் செய்வேன்</samp>
<span class="chordline">    <b>Bb</b>              <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நீ அற்புதம் கண்டிடுவாய் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இன்று வாக்களித்தார் தேவன்</samp>
<span class="chordline">              <b>Bb</b>        <b>Ab</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இன்று நிறைவேற்ற வந்து விட்டார்(2)             ...உன்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>               <b>Eb</b>         <b>Ab</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">வழிதிறக்கும் அதிசயம் நடந்திடுமே</samp>
<span class="chordline"><b>Gm</b>        <b>Bb</b>    <b>Gm</b>       <b>Ab</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">செங்கடலும் திறந்தே வழிவிடமே (2)</samp>
<span class="chordline">              <b>Eb</b>     <b>Ab</b>         <b>Bb</b>    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தடைகளெல்லாம் தகர்ந்தே போகுமே</samp>
<span class="chordline"><b>G7</b>                      <b>Eb</b>       <b>Ab</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இடைஞ்சலெல்லாம் இன்றே மறைந்திடுமே(2)      ...உன்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                   <b>Eb</b>              <b>Ab</b>      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">குறைகளெல்லாம் நிறைவாகும் அதிசயமே</samp>
<span class="chordline"><b>Gm</b>         <b>Bb</b>     <b>Gm</b>             <b>Ab</b>      <b>Cm</b>       </span>
<samp charset="UTF-8" class="lyricline">இறைமகனாம் இயெசுவால் நடந்திடுமே</samp>
<span class="chordline">              <b>Eb</b>     <b>Ab</b>          <b>Bb</b>    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வாதையெல்லாம் மறைந்தே போகுமே</samp>
<span class="chordline"><b>G7</b>                   <b>Eb</b>       <b>Ab</b>           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பாதையெல்லாம் நேயாய் பொழிந்திடுமே           ...உன்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>              <b>Eb</b>         <b>Ab</b>        <b>Bb</b>                        </span>
<samp charset="UTF-8" class="lyricline">வழிநடத்தும் அதிசயம் நடந்திடுமே</samp>
<span class="chordline"><b>Gm</b>        <b>Bb</b>    <b>Gm</b>       <b>Ab</b>     <b>Cm</b>       </span>
<samp charset="UTF-8" class="lyricline">காரிருளில் பேரொளி வீசிடுமே</samp>
<span class="chordline">            <b>Eb</b>  <b>Ab</b>         <b>Bb</b>    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வனாந்திரமே வழியாய் வந்தாலும்</samp>
<span class="chordline"><b>G7</b>            <b>Eb</b>      <b>Ab</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவரின் கரமே நடத்திடுமே                    ...உன்னை</samp>
<span class="blankline"></span></div></div>   
        
     </div>