<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3573" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே என் நண்பனே</samp>
<span class="chordline">      <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் மரித்தீரே (2)</samp>
<span class="chordline">     <b>B</b>            <b>E</b>          <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை நிழலில் நான் தினமும் </samp>
<span class="chordline">       <b>D</b>  <b>E</b>           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மறைந்து இளைப்பாருவேன் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>        <b>F#m</b>  <b>Db</b>       <b>C#m</b>  <b>D</b>    <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையின் மறைவினில் நேசரின் அருகில்</samp>
<span class="chordline"><b>A</b>        <b>F#m</b>   <b>Db</b>    <b>C#m</b>    <b>D</b>    <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையின் கரத்தினில் ஆறுதல் கண்டேன்</samp>
<span class="chordline"><b>A</b>         <b>F#m</b>          <b>Bm</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேனினும் இனிய என்நேசரின்</samp>
<span class="chordline">               <b>C#m</b>      <b>A</b>          <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">அன்பை நான் எப்படி சொல்லிடுவேன்</samp>
<span class="chordline"><b>F#m</b>           <b>A</b>           <b>Bm</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தீர்க்கும் என் இதயத்தின் ஆவலை</samp>
<span class="chordline"><b>E</b>           <b>A</b>    <b>E</b>     <b>F#m</b>   <b>A</b>     <b>D7</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இன்னல்கள் மறந்திடுவேன் என்றும் நான்             </samp>
<samp charset="UTF-8" class="lyricline">  ...தேவனே</samp>
<span class="blankline"></span>
<span class="chordline"> <b>A</b>         <b>F#m</b>    <b>Db</b>        <b>C#m</b>    <b>D</b>        <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கார்மேகம் போல் என்பாவங்கள் எல்லாம் மன்னித்தார்</samp>
<span class="chordline"><b>A</b>      <b>F#m</b>   <b>Db</b>    <b>C#m</b>   <b>D</b>      <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்நாவிலே புதுப்பாடல் தந்து தேற்றினார்</samp>
<span class="chordline"><b>A</b>          <b>F#m</b>           <b>Bm</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மூழ்கியே தள்ளும் கடல் ஆழத்தை</samp>
<span class="chordline">             <b>C#m</b>       <b>A</b>     <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">என் தேவன் அகன்றிட செய்தாரே</samp>
<span class="chordline"><b>F#m</b>           <b>A</b>           <b>Bm</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சொந்த தன் ஜீவனையும் பாராமல்</samp>
<span class="chordline"><b>E</b>          <b>A</b>        <b>E</b>   <b>F#m</b>   <b>A</b>   <b>D7</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் மாண்ட தேவனை பாடுவேன்               </samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>       <b>F#m</b>   <b>Db</b>      <b>C#m</b> <b>D</b>      <b>E</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரியில் ஜீவன் தந்த நேசர் இயேசுவே</samp>
<span class="chordline"><b>A</b>         <b>F#m</b>    <b>Db</b>     <b>C#m</b>  <b>D</b>         <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அன்னை தந்தை யாவரிலும் மேலாய் அன்பு கூர்ந்தார்</samp>
<span class="chordline"><b>A</b>        <b>F#m</b>                 <b>Bm</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அந்த இயேசுவின் அன்பைப் பாடவே</samp>
<span class="chordline">         <b>C#m</b>      <b>A</b>         <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் நாவுகள் போதாதையா</samp>
<span class="chordline"><b>F#m</b>        <b>A</b>                 <b>Bm</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றியே ஆற்றி என்னைத் தாங்குவார்</samp>
<span class="chordline"><b>E</b>        <b>A</b>        <b>E</b>     <b>F#m</b>   <b>A</b>   <b>D7</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் அன்பே போதுமே என்றென்றும்              </samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>