<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3574" class="song songcont"><div class="songpre"><span class="chordline"><b>Bb</b>   <b>Gm</b>      <b>Eb</b> <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline"><b>Bb</b>              <b>Dm</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தின் மடை திறந்து </samp>
<span class="chordline"><b>Bb</b>   <b>Gm</b>      <b>Eb</b> <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline">            <b>Gm</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகத்தால் என்னை நீர் </samp>
<span class="chordline"><b>Bb</b> <b>F</b> <b>Gm</b>    <b>Cm</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline"><b>Bb</b>        <b>Gm</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையால் என்னை நீர் </samp>
<span class="chordline"><b>Bb</b> <b>F</b>  <b>Gm</b>        <b>Eb</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் நிரப்பும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>    <b>Gm</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline"><b>Dm</b>        <b>Eb7</b>        <b>Bb</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் அபிஷேகத்தால் நிரப்பும் </samp>
<span class="chordline">      <b>Bb</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline"><b>Dm</b>       <b>Eb</b>         <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வல்லமையால் நிரப்பும் </samp>
<span class="chordline"><b>Bb</b>    <b>Gm</b>       <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline"> <b>Gm</b>            <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தின் மடை திறந்து </samp>
<span class="chordline"><b>Bb</b>   <b>F</b> <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் </samp>
<span class="blankline"></span>
<span class="chordline">    <b>Gm</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline"><b>Dm</b>         <b>Eb7</b>        <b>Bb</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் அபிஷேகத்தால் நிரப்பும் </samp>
<span class="chordline">      <b>Gm</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline">     <b>Dm</b>        <b>Eb</b>    <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வல்லமையால் நிரப்பும் </samp>
<span class="chordline"><b>Bb</b>   <b>Gm</b>   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>        <b>Gm</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline"><b>Dm</b>        <b>Eb7</b>         <b>Bb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் அபிஷேகத்தால் நிரப்பும் </samp>
<span class="chordline">    <b>Gm</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline">     <b>Dm</b>        <b>Eb</b>    <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வல்லமையால் நிரப்பும் </samp>
<span class="chordline">     <b>Gm</b>        <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பும் நிரப்பும் </samp>
<span class="chordline">     <b>Dm</b>        <b>Eb</b>    <b>Bb</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வல்லமையால் நிரப்பும் </samp>
<span class="blankline"></span></div></div>   
        
     </div>