<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3586" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>         <b>B7</b>       <b>C#m</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">காக்கும் கரங்கள் உண்டெனக்கு </samp>
<span class="chordline"><b>G#m</b>      <b>A</b>     <b>B</b>      <b>A7</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காத்திடுவார் கிருபையாலே </samp>
<span class="chordline"><b>E</b>             <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா பாடிப் பாடி </samp>
<span class="chordline"><b>G#m</b>      <b>A</b>         <b>B</b>      <b>A</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அலைகளை நான் தாண்டிடுவேன் </samp>
<span class="chordline">     <b>A</b>            <b>G#m</b>   </span>
<samp charset="UTF-8" class="lyricline">நம்புவேன் இயேசுவை </samp>
<span class="chordline">     <b>B7</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நம்புவேன் இயேசுவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>         <b>B7</b>   <b>C#m</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தனைகள் போராட்டம் வந்தும் </samp>
<span class="chordline"><b>G#m</b>      <b>A</b>       <b>B</b>      <b>A7</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் தேவன் தாங்கினாரே </samp>
<span class="chordline"><b>E</b>            <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நேசக்கொடி என்மேல் பறக்க </samp>
<span class="chordline"><b>G#m</b>  <b>A</b>        <b>B</b>    <b>A</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நேசருக்காய் ஜீவித்திடுவேன்                   </samp>
<samp charset="UTF-8" class="lyricline">   ...நம்புவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>          <b>B7</b>  <b>C#</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலைகள் பெயர்க்கும் படியாய் </samp>
<span class="chordline"><b>G#m</b>      <b>A</b>        <b>B</b>      <b>A7</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் உன்னை கரம் பிடித்தார் </samp>
<span class="chordline"><b>E</b>            <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">காத்திருந்து பெலன் அடைந்து </samp>
<span class="chordline"><b>G#m</b>    <b>A</b>     <b>B</b>       <b>A</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கழுகுபோல எழும்பிடுவாய்                   </samp>
<samp charset="UTF-8" class="lyricline">   ...நம்புவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>        <b>B7</b> <b>C#m</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அத்திமரம் துளிர்விடாமல் </samp>
<span class="chordline"><b>G#m</b>     <b>A</b>       <b>B</b>      <b>A7</b>   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டு மந்தை முதலற்றாலும் </samp>
<span class="chordline"><b>E</b>            <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கு காத்திருப்போர் </samp>
<span class="chordline"><b>G#m</b>     <b>A</b>       <b>B</b>     <b>A</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வெட்கப்பட்டுப் போவதில்லை                   </samp>
<samp charset="UTF-8" class="lyricline">   ...நம்புவேன்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>