<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3597" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>     <b>Bb</b>                 <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">நான் நிற்பதும் நிர்முலமாகாததும் </samp>
<span class="chordline">           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ கிருபையே </samp>
<span class="chordline">       <b>Cm</b>                   </span>
<samp charset="UTF-8" class="lyricline">நான் உயிருடன் வாழ்வதும் </samp>
<span class="chordline">    <b>Dm</b>                       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சுகமுடன் இருப்பதும் கிருபையே</samp>
<span class="chordline"><b>Gm</b>              <b>F</b>           </span>
<samp charset="UTF-8" class="lyricline">கிருபையே தேவகிருபையே </samp>
<span class="chordline">    <b>Eb</b>                      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தேவகிருபையே தேவகிருபையே - 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                    <b>F</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">காலையில் எழுவதும் கர்த்தரை துதிப்பதும் </samp>
<span class="chordline"><b>Gm</b>                 <b>Eb</b>          <b>Bb7</b>                <b>Gm</b>    </span>
<samp charset="UTF-8" class="lyricline">மாலையில் காப்புடன் இல்லம் வருவதும் கிருபையே </samp>
<span class="chordline">                   <b>Bb</b>    <b>Cm</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போக்கிலும் வரத்திலும் தொலைதூர பயணத்திலும் - 2 </samp>
<span class="chordline"><b>Gm</b>             <b>Bb</b>               <b>Gm</b>          <b>F</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் கல்லிலே இடறாமல் காப்பதும் கிருபையே - உன் - 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                       <b>F</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் கவலைகளில் கஷ்ட நஷ்டங்களில் </samp>
<span class="chordline"><b>Gm</b>               <b>Eb</b>           <b>Bb7</b>               <b>Gm</b>    </span>
<samp charset="UTF-8" class="lyricline">துஷ்டனின் கைக்கு விலக்கி காப்பதும் கிருபையே </samp>
<span class="chordline">                 <b>Bb</b>   <b>Cm</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆழியின் நடுவிலும் சீறிடும் புயலினிலும் - 2 </samp>
<span class="chordline"><b>Gm</b>               <b>Bb</b>             <b>Gm</b>         <b>F</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நீர்மேல் நடந்து வந்து என்னைக் காப்பதும் கிருபையே - 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                             <b>F</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி நடுவினிலே என்னை எரித்திட நேர்ந்தாலும் </samp>
<span class="chordline"><b>Gm</b>          <b>Eb</b>            <b>Bb7</b>                <b>Gm</b>    </span>
<samp charset="UTF-8" class="lyricline">தூதனாக நின்று என்னை காப்பதும் கிருபையே </samp>
<span class="chordline">                <b>Bb</b>   <b>Cm</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றித் தேற்றியே அரவணைத்திடும் - 2 </samp>
<span class="chordline"><b>Gm</b>                 <b>Bb</b>          <b>Gm</b>    <b>F</b>      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மாபெரும் கிருபையே எங்கள் தேவ கிருபையே - 2</samp>
<span class="blankline"></span></div></div>   
        
     </div>