<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3598" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>           <b>Am</b>     <b>G</b>      <b>Bm7</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னை மறவா இயேசுநாதா </samp>
<span class="chordline"><b>C</b>        <b>F</b>        <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் தயவால் என்னை நடத்தும் </samp>
<span class="chordline"><b>C</b>      <b>Am</b>   <b>F</b>         <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">வல்ல ஜீவ வாக்குத்தத்தங்கள் </samp>
<span class="chordline">           <b>F</b>        <b>G7</b>         <b>Em</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வரைந்தெனக்காய் தந்ததாலே ஸ்தோத்திரம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>       <b>Am</b>      <b>F</b>          <b>C</b>        </span>
<samp charset="UTF-8" class="lyricline">ஆபத்திலே அரும் துணையே </samp>
<span class="chordline"><b>Em</b>         <b>C</b>     <b>Dm</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாதைக்கு நல்ல தீபமதே                          </samp>
<samp charset="UTF-8" class="lyricline">   ...என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>        <b>Am</b>   <b>F</b>         <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">பயப்படாதே வலக்கரத்தாலே </samp>
<span class="chordline">     <b>F</b>          <b>G7</b>          <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாப்பேன் என்றதாலே ஸ்தோத்திரம் </samp>
<span class="chordline">           <b>Am</b>           <b>F</b>          <b>C</b>            </span>
<samp charset="UTF-8" class="lyricline">பாசம் என்மேல் நீர் வைத்ததினால் </samp>
<span class="chordline"><b>Em</b>        <b>C</b>      <b>Dm</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பறிக்க இயலாதெவருமென்னை                    </samp>
<samp charset="UTF-8" class="lyricline">  ...என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Am</b>     <b>F</b>            <b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">தாய் தன் சேயை மறந்து விட்டாலும் </samp>
<span class="chordline">          <b>F</b>         <b>G7</b>          <b>Em</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறவேன் உன்னை என்றதாலே ஸ்தோத்திரம் </samp>
<span class="chordline">                  <b>Am</b>    <b>F</b>          <b>C</b>             </span>
<samp charset="UTF-8" class="lyricline">உம் உள்ளங்கையில் வரைந்தீரன்றோ </samp>
<span class="chordline"><b>Em</b>            <b>C</b>   <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதா எந்தன் புகலிடமே                      </samp>
<samp charset="UTF-8" class="lyricline">   ...என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>Am</b>        <b>F</b>        <b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">என்னை முற்றும் ஒப்புவித்தேன் </samp>
<span class="chordline">        <b>F</b>        <b>G7</b>          <b>Em</b>        <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">ஏற்று என்றும் நடத்துவீரே ஸ்தோத்திரம் </samp>
<span class="chordline">       <b>Am</b>       <b>F</b>          <b>C</b>           </span>
<samp charset="UTF-8" class="lyricline">எப்படியும் உம் வருகையிலே </samp>
<span class="chordline"><b>Em</b>     <b>C</b>         <b>Dm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏழை என்னைச் சேர்த்திடும்.                       </samp>
<samp charset="UTF-8" class="lyricline">  ...என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Am</b>                <b>F</b>          <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">உன்னைத் தொடுவோன் என் கண்மணியைத் </samp>
<span class="chordline">         <b>F</b>      <b>G7</b>           <b>Em</b>        <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">தொடுவதாக உரைத்ததாலே ஸ்தோத்திரம் </samp>
<span class="chordline">         <b>Am</b>   <b>F</b>     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">அக்கினியின் மதிலாக </samp>
<span class="chordline"><b>Em</b>        <b>C</b>         <b>Dm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரே என்னைக் காத்திடுமே                     </samp>
<samp charset="UTF-8" class="lyricline">  ...என்னை</samp></div></div>   
        
     </div>