<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3599" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">என்ன என் ஆனந்தம் </samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்ன என் ஆனந்தம்</samp>
<span class="chordline"><b>D</b>         <b>Bm</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லக்கூடாதே</samp>
<span class="chordline">            <b>F#m</b>        </span>
<samp charset="UTF-8" class="lyricline">மன்னன் கிறிஸ்து என் </samp>
<span class="chordline"><b>Bm</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தை எல்லாம்</samp>
<span class="chordline"><b>A</b>           <b>F#m</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மன்னித்து விட்டாரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>           <b>F#m</b>        </span>
<samp charset="UTF-8" class="lyricline">கூடுவோம் ஆடுவோம் </samp>
<span class="chordline"><b>D</b>           <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">பாடுவோம் நன்றாய்</samp>
<span class="chordline"><b>Bm</b>             <b>D</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ் கொண்டாடுவோம்</samp>
<span class="chordline">          <b>F#m</b>      </span>
<samp charset="UTF-8" class="lyricline">நாடியே நம்மைத் </samp>
<span class="chordline"><b>Bm</b>        <b>E7</b> </span>
<samp charset="UTF-8" class="lyricline">தேடியே வந்த</samp>
<span class="chordline"><b>A</b>           <b>F#m</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நாதனைப் போற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...என்ன என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>           <b>F#m</b>       </span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் சாபங்கள் </samp>
<span class="chordline"><b>D</b>           <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">கோபங்கள் எல்லாம்</samp>
<span class="chordline"><b>Bm</b>    <b>D</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரிகரித்தாரே</samp>
<span class="chordline">          <b>F#m</b>        </span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் என் </samp>
<span class="chordline"> <b>Bm</b>             <b>E7</b> </span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் வந்து</samp>
<span class="chordline"><b>A</b>          <b>F#m</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றியே விட்டாரே</samp>
<samp charset="UTF-8" class="lyricline">   ...என்ன என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>         <b>F#m</b>        </span>
<samp charset="UTF-8" class="lyricline">அட்சயன் பட்சமாய் </samp>
<span class="chordline"><b>D</b>            <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பை எங்களுக்கு</samp>
<span class="chordline"><b>Bm</b>     <b>D</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அருளிதனாலே</samp>
<span class="chordline">          <b>F#m</b>          </span>
<samp charset="UTF-8" class="lyricline">நிச்சயம் சுவாமியைப் </samp>
<span class="chordline"><b>Bm</b>        <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">பற்றியே சாட்சி</samp>
<span class="chordline"><b>A</b>     <b>F#m</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பகரவேண்டியதே</samp>
<samp charset="UTF-8" class="lyricline">   ...என்ன என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>              <b>F#m</b>         </span>
<samp charset="UTF-8" class="lyricline">வெண்ணங்கி பொன்முடி </samp>
<span class="chordline"><b>D</b>          <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">வாத்தியம் மேல்வீட்டில்</samp>
<span class="chordline"><b>Bm</b>          <b>D</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெய கொடியுடனே</samp>
<span class="chordline">          <b>F#m</b>         </span>
<samp charset="UTF-8" class="lyricline">மண்ணுலகில் வந்து </samp>
<span class="chordline"><b>Bm</b>            <b>E7</b> </span>
<samp charset="UTF-8" class="lyricline">விண்ணுலகில் சென்ற</samp>
<span class="chordline"><b>A</b>             <b>F#m</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மன்னனைத் தோத்தரிப்போம்.</samp>
<samp charset="UTF-8" class="lyricline">   ...என்ன என்</samp></div></div>   
        
     </div>