<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3600" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>         <b>G</b>     <b>C</b>                        <b>G</b>      <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">லேசான காரியம் உமக்கு அது லேசான காரியம் [ 2 ]</samp>
<span class="chordline">               <b>Dm</b>   <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் அற்றவன்</samp>
<span class="chordline">                 <b>F</b>              <b>G</b>   <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் இல்லாதவன்</samp>
<span class="chordline"><b>C</b>    <b>Em</b>     <b>Am</b>        <b>F</b>           <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">யாராய் இருந்தாலும் உதவிகள் செய்வது</samp>
<span class="chordline"><b>G</b>        <b>Em</b>    <b>C</b>   <b>Am</b>           <b>G</b>        <b>Em</b>    <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">லேசான காரியம் உமக்கு அது லேசான காரியம்</samp>
<span class="blankline"></span>
<span class="chordline">                 <b>Am</b>       <b>G</b>              <b>F</b>         <b>Dm</b>    <b>G</b>      <b>C</b>               </span>
<samp charset="UTF-8" class="lyricline">மண்ணைப் பிசைந்து மனிதனைப் படைப்பது லேசான காரியம் [2 ]</samp>
<span class="chordline"><b>D</b>             <b>G</b>         <b>C</b>           <b>F</b>         <b>G</b>        <b>Em</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணான மனுவுக்கு மன்னாவை அழிப்பது லேசான காரியம் [2 ]</samp>
<span class="chordline"><b>Am</b>             <b>G</b>       <b>Em</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு அது லேசான காரியம்</samp>
<span class="chordline"> <b>C</b>              <b>Dm</b>   <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் அற்றவன்</samp>
<span class="chordline">                 <b>F</b>          <b>G</b>          <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் இல்லாதவன்</samp>
<span class="chordline"><b>C</b>    <b>Em</b>     <b>Am</b>            <b>F</b>           <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">யாராய் இருந்தாலும் உதவிகள் செய்வது</samp>
<span class="chordline"><b>G</b>          <b>Em</b>    <b>C</b>   <b>Am</b>             <b>G</b>     <b>Em</b>    <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">லேசான காரியம் உமக்கு அது லேசான காரியம்</samp>
<span class="blankline"></span>
<span class="chordline">               <b>Am</b>          <b>G</b>              <b>F</b>        <b>Dm</b>   <b>G</b>     <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">உயிர் அற்ற சடலத்தை உயிர் பெற செய்வது லேசான காரியம் [ 2 ]</samp>
<span class="chordline"><b>D</b>       <b>G</b>           <b>C</b>                <b>F</b>         <b>G</b>       <b>Em</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தீராத நோய்களை வார்த்தையால் தீர்ப்பதும் லேசான காரியம் [ 2 ]</samp>
<span class="chordline"><b>Am</b>              <b>G</b>         <b>Em</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு அது லேசான காரியம்</samp>
<span class="chordline"> <b>C</b>              <b>Dm</b>   <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் அற்றவன்</samp>
<span class="chordline">         <b>F</b>          <b>G</b>               <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் இல்லாதவன்</samp>
<span class="chordline"><b>C</b>    <b>Em</b>     <b>Am</b>        <b>F</b>           <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">யாராய் இருந்தாலும் உதவிகள் செய்வது</samp>
<span class="chordline"><b>G</b>          <b>Em</b>    <b>C</b>   <b>Am</b>         <b>G</b>         <b>Em</b>    <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">லேசான காரியம் உமக்கு அது லேசான காரியம்</samp>
<span class="blankline"></span>
<span class="chordline">          <b>Am</b>        <b>G</b>         <b>F</b>          <b>Dm</b>       <b>G</b>     <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">இடறிய மீனவனை சீசனாய் மாற்றுவது லேசான காரியம் [ 2 ]</samp>
<span class="chordline"><b>D</b>              <b>G</b>            <b>C</b>          <b>F</b>          <b>G</b>         <b>Em</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இடையனை கோமகனாய் அரியனை ஏற்றுவதும் லேசான காரியம் [ 2 ]</samp>
<span class="chordline"><b>Am</b>              <b>G</b>      <b>Em</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு அது லேசான காரியம்</samp>
<span class="chordline"> <b>C</b>             <b>Dm</b>    <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் அற்றவன்</samp>
<span class="chordline">                 <b>F</b>             <b>G</b>      <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">பெலன் உள்ளவன் பெலன் இல்லாதவன்</samp>
<span class="chordline"><b>C</b>    <b>Em</b>     <b>Am</b>        <b>F</b>          <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">யாராய் இருந்தாலும் உதவிகள் செய்வது</samp>
<span class="chordline"><b>G</b>         <b>Em</b>    <b>C</b>   <b>Am</b>          <b>G</b>        <b>Em</b>    <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">லேசான காரியம் உமக்கு அது லேசான காரியம்</samp>
<span class="chordline"><b>Am</b>           <b>G</b>         <b>Em</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்கு லேசான காரியம்</samp>
<span class="chordline"><b>Am</b>                <b>G</b>         <b>Em</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவுக்கு லேசான காரியம் [2]</samp>
<span class="blankline"></span></div></div>   
        
     </div>