<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3601" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>       <b>Eb</b>   <b>Ab</b>           <b>Fm</b>  </span>
<samp charset="UTF-8" class="lyricline">அதிகாலை ஸ்தோத்திர பலி</samp>
<span class="chordline"><b>G</b>           <b>Bb</b>   <b>Ab</b>            <b>Cm</b>       </span>
<samp charset="UTF-8" class="lyricline">அப்பா அப்பா உங்களுக்கு தான்</samp>
<span class="chordline"><b>Cm</b>       <b>Eb</b>   <b>Ab</b>           <b>Fm</b>  </span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஸ்தோத்திரபலி</samp>
<span class="chordline"><b>G</b>           <b>Bb</b>   <b>Ab</b>            <b>Cm</b>    </span>
<samp charset="UTF-8" class="lyricline">அப்பா அப்பா உங்களுக்குத்தான் (2)</samp>
<span class="blankline"></span>
<span class="chordline">            <b>Gm</b>         <b>Ab</b>          <b>Eb</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எபிநேசர் எபிநேசர் இதுவரை உதவி செய்தீர்</samp>
<span class="chordline">             <b>Eb</b>           <b>Ab</b>    <b>G</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இது வரை உதவி செய்தீர் எபிநேசர் எபிநேசர்   ...அதிகாலை </samp>
<span class="blankline"></span>
<span class="chordline">             <b>Gm</b>           <b>Ab</b>        <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எல்ஷடாய் எல்ஷடாய் எல்லாம் வல்லவரே</samp>
<span class="chordline">           <b>Eb</b>      <b>Ab</b>   <b>G</b>           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் வல்லவரே எல்ஷடாய் எல்ஷடாய்   ...அதிகாலை      </samp>
<span class="blankline"></span>
<span class="chordline">            <b>Gm</b>         <b>Ab</b>         <b>Eb</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எல்ரோயி எல்ரோயி என்னை காண்பவரே</samp>
<span class="chordline">             <b>Eb</b>        <b>Ab</b>   <b>G</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என்னைக் காண்பவரே எல்ரோயி எல்ரோயி    ...அதிகாலை </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">யோகோவா யீரே</samp>
<span class="chordline"><b>Ab</b>        <b>Eb</b>          <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் பார்த்துக் கொள்வீர் – 2</samp>
<span class="chordline">          <b>Eb</b>                 <b>Ab</b>   <b>G</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் பார்த்துக் கொள்வீர் யேகோவா யீரே    ...அதிகாலை </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>