<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3614" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷம் பொங்குதே (2)</samp>
<span class="chordline">                               <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">சந்தோஷம் என்னில் பொங்குதே </samp>
<span class="chordline">     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">   – அல்லேலூயா</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு என்னை இரட்சித்தார்</samp>
<span class="chordline"><b>Em</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">முற்றும் என்னை மாற்றினார்</samp>
<span class="chordline"><b>F</b>            <b>Dm</b>       <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷம் பொங்கி பொங்குதே</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Dm</b>          <b>Am</b>     </span>
<samp charset="UTF-8" class="lyricline">வழி தப்பி நான் திரிந்தேன் </samp>
<span class="chordline">      <b>Gm</b>        <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாவ பழியதை சுமந்தலைந்தேன்</samp>
<span class="chordline"><b>Dm</b>                <b>Gm</b>                                     </span>
<samp charset="UTF-8" class="lyricline">அவர் அன்புக்குரலே </samp>
<span class="chordline">       <b>C</b>             <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">அழைத்தது என்னையே</samp>
<span class="chordline"><b>Dm</b>           <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">அந்த இன்ப நாளில் </samp>
<span class="chordline">        <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் பாவம்நீங்கிற்றே             </samp>
<samp charset="UTF-8" class="lyricline">   ...சந்தோஷம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Dm</b>         <b>Am</b>                 </span>
<samp charset="UTF-8" class="lyricline">சத்துரு சோதித்திட தேவ </samp>
<span class="chordline"><b>Gm</b>     <b>C</b>          <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">உத்தரவுடன் வருவான்</samp>
<span class="chordline"><b>Dm</b>               <b>Gm</b>      </span>
<samp charset="UTF-8" class="lyricline">ஆனால் இயேசு கைவிடார் </samp>
<span class="chordline"><b>C</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தானாய் வந்து இரட்சிப்பார்</samp>
<span class="chordline">            <b>Gm</b>                </span>
<samp charset="UTF-8" class="lyricline">இந்த நல்ல இயேசு </samp>
<span class="chordline">   <b>C</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் சொந்தமானாரே</samp>
<samp charset="UTF-8" class="lyricline">   ...சந்தோஷம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Dm</b>    <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">பாவத்தில் ஜீவிப்பவர் </samp>
<span class="chordline">    <b>Gm</b>        <b>C</b>        <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">பாதாளத்தில் அழிந்திடுவார்</samp>
<span class="chordline"><b>Dm</b>            <b>Gm</b>        </span>
<samp charset="UTF-8" class="lyricline">நானோ பரலோகத்தில் </samp>
<span class="chordline"><b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நாளும் பாடல் பாடிடுவேன்      </samp>
<span class="chordline">                    <b>Gm</b>         </span>
<samp charset="UTF-8" class="lyricline">என்னில் வாழும் இயேசுவோடு </samp>
<span class="chordline">  <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் வாழுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...சந்தோஷம்</samp></div></div>   
        
     </div>