<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3615" class="song songcont"><div class="songpre"><span class="chordline"><b>F#</b>    <b>C#7</b>   <b>F#</b>           <b>Ebm</b> <b>F#</b>               </span>
<samp charset="UTF-8" class="lyricline">கீதம் கீதம் ஜெய ஜெய கீதம் </samp>
<span class="chordline">               <b>Ebm</b>     <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">கைகொட்டிப் பாடிடுவோம் - இயேசு</samp>
<span class="chordline"><b>B</b>       <b>Abm</b>             <b>F#</b>            <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">ராஜன் உயிர்த் தெழுந்தார் அல்லேலூயா</samp>
<span class="chordline"><b>Abm</b>            <b>Ebm</b>   <b>C#</b>   <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம் என்று ஆர்ப்பரிப்போம் – ஆ ஆ </samp>
<samp charset="UTF-8" class="lyricline"> ...கீதம் கீதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#</b>          <b>C#7</b>        <b>F#</b>     <b>Ebm</b>    <b>F#</b>  </span>
<samp charset="UTF-8" class="lyricline">பார் அதோ கல்லறை மீடின பெருங்கல்</samp>
<span class="chordline">             <b>Ebm</b>      <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">புரண்டுருண்டோடுதுபார் – அங்கு</samp>
<span class="chordline"><b>B</b>        <b>Abm</b>       <b>F#</b>            <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">போட்ட முத்திரை காவல் நிற்குமோ </samp>
<span class="chordline"><b>Abm</b>            <b>Ebm</b>  <b>C#</b>  <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">தேவ புத்திரர் சந்நிதி முன் – ஆ ஆ </samp>
<samp charset="UTF-8" class="lyricline"> ...கீதம் கீதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#</b>          <b>C#7</b>         <b>F#</b>       <b>Ebm</b>    <b>F#</b>  </span>
<samp charset="UTF-8" class="lyricline">வேண்டாம் வேண்டாம் அழுதிட வேண்டாம்</samp>
<span class="chordline">       <b>Ebm</b>        <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி உரைத்திடுங்கள் – தாம்</samp>
<span class="chordline"><b>B</b>       <b>Abm</b>       <b>F#</b>        <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">கூறின மாமறை விட்டனர் கல்லறை</samp>
<span class="chordline"><b>Abm</b>          <b>Ebm</b>   <b>C#</b>  <b>F#</b>    </span>
<samp charset="UTF-8" class="lyricline">போங்கள் கலிலேயாவுக்கு – ஆ ஆ </samp>
<samp charset="UTF-8" class="lyricline"> ...கீதம் கீதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#</b>       <b>C#7</b>         <b>F#</b>      <b>Ebm</b> <b>F#</b> </span>
<samp charset="UTF-8" class="lyricline">அன்னா காய்பா ஆசாரியர் சங்கம்</samp>
<span class="chordline">         <b>Ebm</b>          <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">அதிரடி கொள்ளுகின்றார் – இன்னா</samp>
<span class="chordline"><b>B</b>    <b>Abm</b>        <b>F#</b>        <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">பூத கணங்கள் இடி ஒலி கண்டு</samp>
<span class="chordline"><b>Abm</b>      <b>Ebm</b>   <b>C#</b>   <b>F#</b>   </span>
<samp charset="UTF-8" class="lyricline">பயந்து நடுங்குகின்றார் – ஆ ஆ </samp>
<samp charset="UTF-8" class="lyricline"> ...கீதம் கீதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#</b>      <b>C#7</b>          <b>F#</b>          <b>Ebm</b> <b>F#</b> </span>
<samp charset="UTF-8" class="lyricline">வாசல் நிலைகளை உயர்த்தி நடப்போம்</samp>
<span class="chordline">           <b>Ebm</b>     <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">வருகிறார் ஜெயவீரன் – நம்</samp>
<span class="chordline"><b>B</b>      <b>Abm</b>        <b>F#</b>           <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">மேள வாத்தியம் கை மணி பூரிகை</samp>
<span class="chordline"><b>Abm</b>        <b>Ebm</b>   <b>C#</b>   <b>F#</b>   </span>
<samp charset="UTF-8" class="lyricline">எடுத்து முழங்கிடுவோம் – ஆ ஆ </samp>
<samp charset="UTF-8" class="lyricline"> ...கீதம் கீதம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>