<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3618" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>               <b>G</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முட்செடியின் மத்தியிலே தோன்றிய மகிமை</samp>
<span class="chordline"><b>C</b>               <b>G</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரச்சகனாய் மோசேவை அழைத்த மகிமை</samp>
<span class="chordline"><b>C</b>        <b>Em</b>          <b>F</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மேகஸ்தம்பமாய் அக்கினிஸ்தம்பமாய்</samp>
<span class="chordline"><b>C</b>       <b>Em</b>         <b>G</b>                <b>C</b>                 </span>
<samp charset="UTF-8" class="lyricline">பாதைகாட்டின மகிமையே மகிமை            </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>       <b>G</b>     <b>F</b>          <b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிமைமேகத்தில் நான் ஏறிவருவேன்</samp>
<span class="chordline"><b>Bb</b>              <b>G</b>      <b>C</b>     <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை இராஜவை நான் தரிசிப்பேனே(2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மேகமாக சீனாய்மலையில் தங்கின மகிமை</samp>
<span class="chordline"><b>C</b>             <b>G</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாசனோடு முகமுகமாய் பேசின மகிமை</samp>
<span class="chordline"><b>C</b>       <b>Em</b>            <b>F</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அக்னிகரங்களால் தேவபிரமாணத்தை </samp>
<span class="chordline"><b>C</b>      <b>Em</b>          <b>G</b>                <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">எழுதிகொடுத்த மகிமையே மகிமை                         </samp>
<samp charset="UTF-8" class="lyricline">   ...மகிமைமேகத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆசரிப்புக்கூடாரத்தை மூடின மகிமை</samp>
<span class="chordline"><b>C</b>       <b>G</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கூடாரவாசலிலே பேசின மகிமை</samp>
<span class="chordline"><b>C</b>              <b>Em</b>         <b>F</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கிருபாசனம் மீதினில் கேருபீன்கள் நடுவில்</samp>
<span class="chordline"><b>C</b>             <b>Em</b>           <b>G</b>                <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">மோசேயோடு உறவாடின மகிமையே மகிமை            </samp>
<samp charset="UTF-8" class="lyricline">    ...மகிமைமேகத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>               <b>G</b>              <b>F</b>             </span>
<samp charset="UTF-8" class="lyricline">இரட்ச்சகரின் இரத்ததால் கழுவின மகிமை</samp>
<span class="chordline"><b>C</b>               <b>G</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆலயமாய் என்னையுமே மாற்றினமகிமை</samp>
<span class="chordline"><b>C</b>          <b>Em</b>           <b>F</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகதகப்பனும் பரிசுத்தகுமாரனும்</samp>
<span class="chordline"><b>C</b>             <b>Em</b>              <b>G</b>                <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">எனக்குள்ளே வாசம் செய்யும் மகிமையே மகிமை         </samp>
<samp charset="UTF-8" class="lyricline">   ...மகிமைமேகத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>              <b>Dm</b>           <b>Am</b>    <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தூதர்சேனையோடு என் ஜெபவேளையில் </samp>
<span class="chordline"><b>F</b>          <b>Am</b>            <b>Em</b>        <b>C</b>     <b>A7</b> </span>
<samp charset="UTF-8" class="lyricline">ஆவியில் களிகூர்ந்து மறுரூபமாகி நான்</samp>
<span class="chordline"><b>G</b>             <b>C</b>   <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிபனை த்தரிசிப்பேனே (2)                               </samp>
<samp charset="UTF-8" class="lyricline">   ...மகிமைமேகத்தில்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>