<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3625" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>             <b>Abm</b>      </span>
<samp charset="UTF-8" class="lyricline">விண்ணக காற்றே நீர் </samp>
<span class="chordline">     <b>C#m</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நோக்கி வீசிடும்</samp>
<span class="chordline"><b>B</b>             <b>F#m</b>        </span>
<samp charset="UTF-8" class="lyricline">வெண்புறாவைப் போல </samp>
<span class="chordline">   <b>B7</b>               <b>E</b>         </span>
<samp charset="UTF-8" class="lyricline">என்மேல் வந்தமர்ந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Abm</b>                <b>C#m</b>      </span>
<samp charset="UTF-8" class="lyricline">ஜலத்தின் மேல் அசைவாடிய</samp>
<span class="chordline"> <b>A</b>            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தூயதேவா ஆவியே</samp>
<span class="chordline"><b>C#m</b>                  <b>F#m</b>            </span>
<samp charset="UTF-8" class="lyricline">பெலத்தின் மேல் பெலனடைய</samp>
<span class="chordline"> <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்மேல் அசைவாடுமே                   </samp>
<samp charset="UTF-8" class="lyricline">   ...விண்ணக           </samp>
<span class="blankline"></span>
<span class="chordline"><b>Abm</b>             <b>C#m</b>    </span>
<samp charset="UTF-8" class="lyricline">முழங்காலை முடக்கியது</samp>
<span class="chordline"> <b>A</b>              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">முரங்கால் அளவு அல்ல</samp>
<span class="chordline"><b>C#m</b>             <b>F#m</b>       </span>
<samp charset="UTF-8" class="lyricline">நீச்சல் ஆழம் வேண்டுமே</samp>
<span class="chordline"> <b>B</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இழத்துச் செல்லும் என்னையே                  </samp>
<samp charset="UTF-8" class="lyricline">   ...விண்ணக          </samp>
<span class="blankline"></span>
<span class="chordline"><b>Abm</b>         <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">அக்கினி அபிஷேகம் </samp>
<span class="chordline"> <b>A</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இன்று வேண்டும் தெய்வமே</samp>
<span class="chordline"><b>C#m</b>           <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">எந்நாளுமே என் பாத்ரம்</samp>
<span class="chordline"> <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நிரம்பி வழிய வேண்டுமே                   </samp>
<samp charset="UTF-8" class="lyricline">   ...விண்ணக          </samp>
<span class="blankline"></span>
<span class="chordline"><b>Abm</b>        <b>C#m</b>   </span>
<samp charset="UTF-8" class="lyricline">அக்கினி ரதத்தின் மேல்</samp>
<span class="chordline"> <b>A</b>                       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என்னைக் கொண்டு செல்லுமே</samp>
<span class="chordline"><b>C#m</b>          <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">பரலோகத் தூதருடன்</samp>
<span class="chordline"> <b>B</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதிக்கச் செய்யுமே                   </samp>
<samp charset="UTF-8" class="lyricline">   ...விண்ணக          </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>