<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3626" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>          <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை நாயகர் நீரே </samp>
<span class="chordline"><b>Am</b>          <b>C</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை வேந்தனும் நீரே </samp>
<span class="chordline">    <b>F</b>   <b>Bb</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆயுள் முடியும் வரை </samp>
<span class="chordline"><b>Am</b>       <b>Bb</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை தொழுதிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>       <b>C</b>          <b>Dm</b>     </span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் பேர்களில் சிறந்தோர் </samp>
<span class="chordline"><b>Bb</b>         <b>C</b>         <b>F</b>/<b>A7</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசு நீரே </samp>
<span class="chordline"><b>Gm</b>          <b>Bb</b>           <b>Gm</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">விடிவெள்ளியே எந்தன் பிரியம் நீரே </samp>
<span class="chordline"><b>C</b>                 <b>Gm</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் தொழுதிடுவேன்     </samp>
<span class="chordline"><b>Gm</b>            <b>Bb</b>           <b>Gm</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">விடிவெள்ளியே எந்தன் பிரியம் நீரே </samp>
<span class="chordline"><b>Am</b>              <b>C</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் தொழுதிடுவேன்          </samp>
<samp charset="UTF-8" class="lyricline">    ...ஆராதனை     </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>            <b>C</b>             <b>Dm</b>     </span>
<samp charset="UTF-8" class="lyricline">மாந்தர்கள் போற்றிடும் தெய்வம் </samp>
<span class="chordline"><b>Bb</b>              <b>C</b>          <b>F</b>/<b>A7</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் தேவன் நீரே </samp>
<span class="chordline"><b>Gm</b>            <b>Bb</b>           <b>Gm</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">முழங்கால் யாவும் முடங்கிடவே </samp>
<span class="chordline"><b>C</b>              <b>Gm</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடன் துதித்திடுவேன்       </samp>
<span class="chordline"><b>Gm</b>            <b>Bb</b>           <b>Gm</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">முழங்கால் யாவும் முடங்கிடவே </samp>
<span class="chordline"><b>Am</b>            <b>C</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடன் துதித்திடுவேன்              </samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>            <b>C</b>             <b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">முடிவில்லா ராஜ்ஜியம் அருள </samp>
<span class="chordline"><b>Bb</b>            <b>C</b>              <b>F</b>/<b>A7</b>       </span>
<samp charset="UTF-8" class="lyricline">திரும்பவும் வருவேன் என்றீர் </samp>
<span class="chordline"><b>Gm</b>        <b>Bb</b>          <b>Gm</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாய் நான் சேர்ந்திடவே </samp>
<span class="chordline"><b>C</b>            <b>Gm</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் வணங்கிடுவேன்</samp>
<span class="chordline"><b>Gm</b>        <b>Bb</b>          <b>Gm</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாய் நான் சேர்ந்திடவே </samp>
<span class="chordline"><b>Am</b>            <b>C</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் வணங்கிடுவேன்             </samp>
<samp charset="UTF-8" class="lyricline">   ...ஆராதனை</samp>
<span class="blankline"></span></div></div>   
        
     </div>