<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3629" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   </span>
<samp charset="UTF-8" class="lyricline">உங்க கிருபைதான்</samp>
<span class="chordline">          <b>Em</b>           <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">என்னை தாங்குகின்றது </samp>
<span class="chordline">       <b>D</b>            </span>
<samp charset="UTF-8" class="lyricline">உங்க கிருபைதான் </samp>
<span class="chordline"><b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நடத்துகின்றது </samp>
<span class="chordline"><b>G</b>           <b>Am</b>          </span>
<samp charset="UTF-8" class="lyricline">கிருபையே கிருபையே </samp>
<span class="chordline"><b>Em</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாறாத நல்ல கிருபையே - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>D7</b>            <b>B</b>/<b>G</b></span>
<samp charset="UTF-8" class="lyricline">உடைக்கப்பட்ட நேரத்திலெல்லாம் </samp>
<span class="chordline">          <b>C</b>             <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை உருவாக்கின கிருபை இது </samp>
<span class="chordline"><b>G</b>           <b>Am</b>          <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கிருபையே கிருபையே மாறாத </samp>
<span class="chordline">       <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல கிருபையே - 2      </samp>
<samp charset="UTF-8" class="lyricline">  ...உங்க  </samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">சோர்ந்துபோன </samp>
<span class="chordline"><b>D7</b>              <b>B</b>/<b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேரத்திலெல்லாம் </samp>
<span class="chordline">          <b>C</b>               </span>
<samp charset="UTF-8" class="lyricline">என்னை சூழ்ந்துகொண்ட </samp>
<span class="chordline"><b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை இது </samp>
<span class="chordline"><b>G</b>           <b>Am</b>          <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கிருபையே கிருபையே மாறாத </samp>
<span class="chordline">       <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல கிருபையே - 2      </samp>
<samp charset="UTF-8" class="lyricline">  ...உங்க  </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>D7</b>           <b>B</b>/<b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றுமில்லா நேரத்திலெல்லாம் </samp>
<span class="chordline">         <b>C</b>             <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கு உதவி செய்த கிருபை இது </samp>
<span class="chordline"><b>G</b>           <b>Am</b>          <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கிருபையே கிருபையே மாறாத </samp>
<span class="chordline">       <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல கிருபையே - 2      </samp>
<samp charset="UTF-8" class="lyricline">  ...உங்க  </samp>
<span class="blankline"></span>
<span class="chordline"> <b>G</b>            <b>D7</b>              <b>B</b>/<b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியத்தின் பாதையிலெல்லாம் </samp>
<span class="chordline">          <b>C</b>              </span>
<samp charset="UTF-8" class="lyricline">என்னை உயர்த்திவைத்த </samp>
<span class="chordline"><b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை இது </samp>
<span class="chordline"><b>G</b>           <b>Am</b>          <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கிருபையே கிருபையே மாறாத </samp>
<span class="chordline">       <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல கிருபையே - 2      </samp>
<samp charset="UTF-8" class="lyricline">  ...உங்க  </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>