<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3630" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் குடும்பம் ஒன்று உண்டு</samp>
<span class="chordline"><b>Am</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு நிறைந்திடும் இடம் உண்டு (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வுமில்லை அங்கு தாழ்வுமில்லை</samp>
<span class="chordline"><b>Am</b>                   <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏழையில்லை பணக்காரன் இல்லை (2)</samp>
<span class="chordline"><b>Em</b>         <b>D7</b>   <b>C</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜா இயேசு</samp>
<span class="chordline"><b>D</b>              <b>C</b>    <b>D7</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் ஆண்டிடுவார் (2)             </samp>
<samp charset="UTF-8" class="lyricline">  ...இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவமில்லை அங்கு சாபமில்லை</samp>
<span class="chordline"><b>Am</b>                     <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வியாதியில்லை கடும் பசியுமில்லை (2)</samp>
<span class="chordline"><b>Em</b>          <b>D7</b>  <b>C</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜா இயேசு</samp>
<span class="chordline"><b>D</b>              <b>C</b>    <b>D7</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் காத்திடுவார் (2)              </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>C</b>           </span>
<samp charset="UTF-8" class="lyricline">இன்பமுண்டு சமதானமுண்டு</samp>
<span class="chordline"><b>Am</b>                    <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றியுண்டு துதிப் பாடலுண்டு (2)</samp>
<span class="chordline"><b>Em</b>          <b>D7</b>  <b>C</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜா இயேசு</samp>
<span class="chordline"><b>D</b>             <b>C</b>    <b>D7</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் ஈந்திடுவார் (2)                 </samp>
<samp charset="UTF-8" class="lyricline"> ...இயேசு</samp>
<span class="blankline"></span></div></div>   
        
     </div>