<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3634" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>            <b>F#</b>             <b>G#</b>     <b>E</b>       </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் தாமே நம் முன்னே போவார்</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் தாமே நம் பின் வந்து காப்பார் - (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	                    <b>G#m</b>	              <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நாம் அவர் உடைமை இனி இல்லையே தனிமை</samp>
<span class="chordline"><b>F#m</b>  	       <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் இனிமை நிதம் காண்போம் புதுமை - (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>C#m</b>                   <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">உதவிடும் கன்மலை இயேசுவை நோக்குவோம்</samp>
<span class="chordline"><b>G#7</b>                    <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">விலகிடார் கைவிடார் தாங்குவார் உறங்கிடார் - (2)</samp>
<span class="chordline"><b>A</b>	                    <b>G#m</b>	              <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நாம் அவர் உடைமை இனி இல்லையே தனிமை</samp>
<span class="chordline"><b>F#m</b>            <b>B</b>        <b>E</b>   </span>
<samp charset="UTF-8" class="lyricline">எங்கும் இனிமை நிதம் காண்போம் புதுமை - (2)</samp>
<samp charset="UTF-8" class="lyricline">... கர்த்தர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C#m</b>                   <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">உயிர் தரும் ஆயனே சுகம் தரும் நேயனே</samp>
<span class="chordline"><b>G#7</b>                    <b>C#m</b>                </span>
<samp charset="UTF-8" class="lyricline">கனிவுடன் நடத்துவார் பரிவுடன் தேற்றுவார் - (2)</samp>
<span class="chordline"><b>A</b>                           <b>G#m</b>              <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நாம் அவர் உடைமை இனி இல்லையே தனிமை</samp>
<span class="chordline"><b>F#m</b>            <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் இனிமை நிதம் காண்போம் புதுமை - (2)</samp>
<samp charset="UTF-8" class="lyricline"> --- கர்த்தர்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>C#m</b>                        <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">உலகுக்கு வெளிச்சம் நான் பூமிக்கு உப்பு நான் </samp>
<span class="chordline"><b>G#7</b>                   <b>C#m</b>                </span>
<samp charset="UTF-8" class="lyricline">மரிக்கும் வித்து நான் பரமனின் சொத்து நான் - (2)</samp>
<span class="chordline"><b>A</b>                           <b>G#m</b>              <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நாம் அவர் உடைமை இனி இல்லையே தனிமை</samp>
<span class="chordline"><b>F#m</b>            <b>B</b>        <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">எங்கும் இனிமை நிதம் காண்போம் புதுமை - (2)</samp>
<samp charset="UTF-8" class="lyricline"> --- கர்த்தர்</samp>
<span class="blankline"></span></div></div>   
        
     </div>