<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3636" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>           <b>A</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ராச ராச பிதா மைந்த தேகலாவுசதா நந்த</samp>
<span class="chordline"><b>E</b>             <b>A</b>            <b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">யேசு நாயகனார் சொந்த மேசியா நந்தனே!</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>G#m</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜெகதீசு ரேசுரன் சுக நேச மீசுரன் மக            </samp>
<samp charset="UTF-8" class="lyricline">    ...ராச</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">மாசிலா மணியே! மந்த்ர </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆசிலா அணியே! சுந்தர</samp>
<span class="chordline"><b>E</b> 	       <b>A</b>          </span>
<samp charset="UTF-8" class="lyricline">நேசமே பணியே, தந்திர </samp>
<span class="chordline"><b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மோசமே தணியே!</samp>
<span class="chordline"><b>E</b>                <b>G#m</b>    </span>
<samp charset="UTF-8" class="lyricline">நிறைவான காந்தனே! </samp>
<span class="chordline"><b>E</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இறையான சாந்தனே! மறை  </samp>
<samp charset="UTF-8" class="lyricline">  ...ராச</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>A</b>                            </span>
<samp charset="UTF-8" class="lyricline">ஆதியந்த மில்லான் அந்த </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">மாதினுந்தியிலே, முந்த</samp>
<span class="chordline"><b>E</b> 	       <b>A</b>          </span>
<samp charset="UTF-8" class="lyricline">வேத பந்தனமாய் வந்த </samp>
<span class="chordline"><b>B</b>              <b>E</b>         </span>
<samp charset="UTF-8" class="lyricline">பாதம் வந்தனமே, (2)</samp>
<span class="chordline"><b>E</b>             <b>G#m</b> </span>
<samp charset="UTF-8" class="lyricline">பத ஆமனாமனா! </samp>
<span class="chordline">   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சுதனாமனாமனா!  (2) சித            </samp>
<samp charset="UTF-8" class="lyricline">   ...ராச</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">மேன்மையா சனனே, நன்மை </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">மேவுபோசனனே தொன்மை</samp>
<span class="chordline"><b>E</b> 	         <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">பான்மை வாசனனே, புன்மை </samp>
<span class="chordline"><b>B</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாவ மோசனனே  (2)</samp>
<span class="chordline"><b>E</b>            <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">கிருபா கரா நரா! </samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சருவேசுரா, பரா  (2) ஸிரீ             </samp>
<samp charset="UTF-8" class="lyricline">   ...ராச</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>A</b>           </span>
<samp charset="UTF-8" class="lyricline">வீடு தேடவுமே, தந்தை </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நாடு கூடவுமே, மைந்தர்</samp>
<span class="chordline"><b>E</b> 	     <b>A</b>    </span>
<samp charset="UTF-8" class="lyricline">கேடு மூடவுமே, </samp>
<span class="chordline">         <b>B</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">விந்தையோடு பாடவுமே  (2)</samp>
<span class="chordline"><b>E</b>              <b>G#m</b>       </span>
<samp charset="UTF-8" class="lyricline">நரவேட மேவினான், </samp>
<span class="chordline">    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சுரராடு கோவினான், (2)  பர      </samp>
<samp charset="UTF-8" class="lyricline">   ...ராச</samp>
<span class="blankline"></span></div></div>   
        
     </div>