<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3637" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>     </span>
<samp charset="UTF-8" class="lyricline">சத்திய வேதம் பக்தரின் கீதம் </samp>
<span class="chordline"><b>Bm</b>		   <b>G</b>	       <b>Bm</b>                  </span>
<samp charset="UTF-8" class="lyricline">சுத்தர்கள் போகும் பாதையின் தீபம் </samp>
<span class="chordline"><b>Bm</b>      <b>D</b>      <b>A</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உத்தம மார்க்கம் காட்டும்</samp>
<samp charset="UTF-8" class="lyricline">   ...சத்திய </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>        <b>F#</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எத்தனை துன்பம் துயரம் வந்தும் </samp>
<span class="chordline"><b>G</b>	  <b>Bm</b>	  <b>F#</b>	    <b>Bm</b>                     </span>
<samp charset="UTF-8" class="lyricline">பக்தனை தேற்றிடும் ஒளஷதம் (2)           </samp>
<samp charset="UTF-8" class="lyricline">  ...சத்திய </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>            <b>A</b>                          </span>
<samp charset="UTF-8" class="lyricline">வேதப்பிரியர் தேவப் புதல்வர் </samp>
<span class="chordline"><b>G</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சேதமடையா நடத்திடுவார் (2) </samp>
<span class="chordline"><b>Bm</b>         <b>F#</b>	           <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">இலைகள் உதிரா மரங்கள் போல </samp>
<span class="chordline"><b>G</b>	  <b>Bm</b>	<b>F#</b>        <b>Bm</b>               </span>
<samp charset="UTF-8" class="lyricline">இவர்கள் நல்ல கனி தருவார் (2)           </samp>
<samp charset="UTF-8" class="lyricline">    ...சத்திய </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                 <b>A</b>           </span>
<samp charset="UTF-8" class="lyricline">உள்ளம் உதிக்கும் உறுதி அளிக்கும் (2) </samp>
<span class="chordline"><b>G</b>                <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கள்ளங் கபடெல்லாம் அகற்றும் </samp>
<span class="chordline"><b>Bm</b>      <b>F#</b>	             <b>G</b>                          </span>
<samp charset="UTF-8" class="lyricline">கடிந்து கொள்ளும் கறைகள் போக்கும் </samp>
<span class="chordline"><b>G</b>	 <b>Bm</b>  <b>F#</b>        <b>Bm</b>               </span>
<samp charset="UTF-8" class="lyricline">கனமடைய வழி நடத்தும் (2)             </samp>
<samp charset="UTF-8" class="lyricline">   ... சத்திய </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>               <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் வசனம் வல்ல சம்மட்டி </samp>
<span class="chordline"><b>G</b>                  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலையையும் நொறுக்கிடுமே (2)</samp>
<span class="chordline"><b>Bm</b>     <b>F#</b>	             <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">இதய நினைவை வகையாய் அறுக்கும்</samp>
<span class="chordline"><b>G</b>    <b>Bm</b>      <b>F#</b>        <b>Bm</b>   </span>
<samp charset="UTF-8" class="lyricline">இருபுறமும் கருக்குள்ளதே (2)              </samp>
<samp charset="UTF-8" class="lyricline">  ...சத்திய</samp>
<span class="blankline"></span></div></div>   
        
     </div>