<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3638" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>            <b>Am</b>      <b>C</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு ராஜா சாரோனின் ரோஜா </samp>
<span class="chordline"><b>G</b>                <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை தந்தாலே போதும் (2) </samp>
<span class="chordline"><b>C</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அலை மோதும் வாழ்வில் </samp>
<span class="chordline"><b>C</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அலையாமல் செல்ல </samp>
<span class="chordline"><b>F</b>             <b>Gsus4</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை முன் செல்ல அருளும் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>              <b>Am</b>                      <b>C</b>        </span>
<samp charset="UTF-8" class="lyricline">கடல் என்னும் வாழ்வில் கலங்கும் என் படகில் </samp>
<span class="chordline"><b>F</b>                 <b>Gsus4</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சுக்கான் பிடித்து நடத்தும் என் தேவா (2) </samp>
<span class="chordline"><b>Am</b>          <b>Gsus4</b>      <b>F</b>           <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">கடலினைக் கண்டித்த கர்த்தர் நீர் அல்லவோ </samp>
<span class="chordline"><b>G</b>        <b>Am</b>          <b>G</b>              <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">கடவாத எல்லையை என் வாழ்வில் தாரும் (2)     </samp>
<samp charset="UTF-8" class="lyricline">   ...என் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Am</b>                 <b>C</b>                      </span>
<samp charset="UTF-8" class="lyricline">பிளவுண்ட மலையே புகலிடம் நீரே </samp>
<span class="chordline"><b>F</b>                      <b>Gsus4</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புயல் வீசும் வாழ்வில் பாதுகாத்தருளும் (2) </samp>
<span class="chordline"><b>Am</b>         <b>Gsus4</b>    <b>F</b>          <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">பாரினில் காரிருள் சேதங்கள் அணுகாது </samp>
<span class="chordline"> <b>G</b>            <b>Am</b>    <b>G</b>        <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">பரமனே என் முன் தீபமாய் வாரும் (2)             </samp>
<samp charset="UTF-8" class="lyricline">   ...என் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>              <b>Am</b>          <b>C</b>                 </span>
<samp charset="UTF-8" class="lyricline">எதிர்க் காற்று வீச எதிர்ப்போரும் பேச </samp>
<span class="chordline"> <b>F</b>                  <b>Gsus4</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னோடிருப்பவர் பெரியவர் நீரே (2) </samp>
<span class="chordline"><b>Am</b>         <b>Gsus4</b>          <b>F</b>               <b>C</b>                          </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே யாத்திரையில் கரை சேர்க்கும் தேவன் </samp>
<span class="chordline"><b>G</b>         <b>Am</b>      <b>G</b>         <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">என் ஜீவ படகின் நங்கூரம் நீரே (2)                  </samp>
<samp charset="UTF-8" class="lyricline">   ...என் இயேசு</samp>
<span class="blankline"></span></div></div>   
        
     </div>