<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3643" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் இனிதான நாமம்</samp>
<span class="chordline"><b>Gm</b>              <b>A#</b>       C7th    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இணையில்லா நாமம் இன்ப நாமம் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Am</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தை போக்கும் பயமதை நீக்கும்</samp>
<span class="chordline"><b>F</b>                 <b>C</b>        <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">பரம சந்தோஷம் பக்தருக்களிக்கும்       </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Am</b>        <b>Gm</b>                             </span>
<samp charset="UTF-8" class="lyricline">பரிமள தைலமாம் இயேசுவின் நாமம்</samp>
<span class="chordline"><b>F</b>                       <b>C</b>        <b>F</b>                    </span>
<samp charset="UTF-8" class="lyricline">பார் எங்கும் வாசனை வீசிடும் நாமம்     </samp>
<samp charset="UTF-8" class="lyricline">  ...இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Am</b>        <b>Gm</b>                             </span>
<samp charset="UTF-8" class="lyricline">வானிலும் பூவிலும் மேலான நாமம்</samp>
<span class="chordline"><b>F</b>                   <b>C</b>           <b>F</b>     </span>
<samp charset="UTF-8" class="lyricline">வானாதி வானவர் இயேசுவின் நாமம்    </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Am</b>              <b>Gm</b>                            </span>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றும் என்றும் மாறிடா நாமம்</samp>
<span class="chordline"><b>F</b>                      <b>C</b>        <b>F</b>     </span>
<samp charset="UTF-8" class="lyricline">நம்பினோரை என்றும் கைவிடா நாமம்    </samp>
<samp charset="UTF-8" class="lyricline">  ...இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Am</b>        <b>Gm</b>             </span>
<samp charset="UTF-8" class="lyricline">முழங்கால் யாவும் முடங்கிடும் நாமம்</samp>
<span class="chordline"><b>F</b>                  <b>C</b>             <b>F</b>     </span>
<samp charset="UTF-8" class="lyricline">மூன்றில் ஒன்றாக ஜொலிப்பவர் நாமம்   </samp>
<samp charset="UTF-8" class="lyricline">  ...இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>Am</b>        <b>Gm</b>                           </span>
<samp charset="UTF-8" class="lyricline">சாத்தானின் சேனையை ஜெயித்திட்ட நாமம்</samp>
<span class="chordline"><b>F</b>                <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாபப் பிசாசை துரத்திடும் நாமம்         </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>