<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3645" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி சொல்லி உம்மை பாட வந்தோம்</samp>
<span class="chordline"><b>G</b>                                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் காருண்யத்தை எண்ணி போற்ற வந்தோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>          <b>C</b>         <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையினால் நீர் சொன்னதெல்லாம்</samp>
<span class="chordline"><b>Am</b>                     <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கரங்களினால் இன்று நிறைவேற்றினீர்</samp>
<span class="blankline"></span>
<span class="chordline">       <b>G</b>                      <b>F</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி -2 சொல்வோம் உயிர் உள்ளவரை</samp>
<span class="chordline">        <b>G</b>                        <b>F</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றும் குறையாமல் காத்திடும் நல்லவரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">காற்றுமில்ல மழையுமில்ல</samp>
<span class="chordline"><b>G</b>                        <b>G7</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆனாலும் வாய்க்காலை நிரப்பினீரே </samp>
<samp charset="UTF-8" class="lyricline">  ...வார்த்தையினால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உடன்படிக்கை செய்து நடத்தி வந்தீர்</samp>
<span class="chordline"><b>G</b>                     <b>G7</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாறாமல் எப்போதும் காத்துக் கொண்டீர் </samp>
<samp charset="UTF-8" class="lyricline">  ...வார்த்தையினால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடாமல் விட்டு விலகிடாமல்</samp>
<span class="chordline"><b>G</b>                        <b>G7</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நெருங்கின பாதையிலும் கூட வந்தீர் </samp>
<samp charset="UTF-8" class="lyricline">  ...வார்த்தையினால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வெட்கப்பட்ட தேசத்திலே</samp>
<span class="chordline"><b>G</b>                    <b>G7</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கீர்த்தியும் புகழ்ச்சியுமாக்கினீரே </samp>
<samp charset="UTF-8" class="lyricline">  ...வார்த்தையினால்</samp></div></div>   
        
     </div>