<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3647" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>    <b>Dm</b>      <b>G</b>        <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">அதி மங்கல காரணனே </samp>
<span class="chordline">    <b>Em</b>      <b>Am</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதி தங்கிய பூரணனே</samp>
<span class="chordline"><b>C</b>    <b>F</b>            </span>
<samp charset="UTF-8" class="lyricline">நரர் வாழ விண் </samp>
<span class="chordline">          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துறந்தோர் ஏழையாய்ப்</samp>
<span class="chordline">        <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">பிறந்த வண்மையே </samp>
<span class="chordline">        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாரணனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>    <b>Dm</b>      <b>G</b>          <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">மதி மங்கின எங்களுக்கும் </samp>
<span class="chordline">    <b>Em</b>        <b>Am</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">திதி சிங்கினர் தங்களுக்கும்</samp>
<span class="chordline"><b>C</b>       <b>F</b>                   </span>
<samp charset="UTF-8" class="lyricline">உனின் மாட்சியும் திவ்விய </samp>
<span class="chordline"><b>D</b>               </span>
<samp charset="UTF-8" class="lyricline">காட்சியும் தோன்ற</samp>
<span class="chordline"><b>G</b>                   <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">வையாய் துங்கவனே                                      </samp>
<samp charset="UTF-8" class="lyricline">   ...அதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>     <b>Dm</b>         <b>G</b>            <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">முடி மன்னர்கள் மேடையையும் </samp>
<span class="chordline">     <b>Em</b>       <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மிகு உன்னத வீடதையும்</samp>
<span class="chordline"><b>C</b>     <b>F</b>              </span>
<samp charset="UTF-8" class="lyricline">நீங்கி மாட்டிடையே </samp>
<span class="chordline">      <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">பிறந் தாட்டிடையர் தொழ</samp>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வந்தனையோ தரையில்                                   </samp>
<samp charset="UTF-8" class="lyricline">    ...அதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>    <b>Dm</b>          <b>G</b>       <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">தீய பேய்த்திரள் ஓடுதற்கும் </samp>
<span class="chordline">        <b>Em</b>          <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்பர் வாய்த்திரள் பாடுதற்கும்</samp>
<span class="chordline"><b>C</b>        <b>F</b>                        <b>D</b>                                   </span>
<samp charset="UTF-8" class="lyricline">உனைப் பின்பற்றுவோர் முற்றும் துன்பற்று</samp>
<span class="chordline">             <b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்தற்கும் பெற்ற நற்கோலம் இதோ.                     </samp>
<samp charset="UTF-8" class="lyricline">    ...அதி                     </samp>
<span class="blankline"></span></div></div>   
        
     </div>