<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3648" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                         </span>
<samp charset="UTF-8" class="lyricline">தெய்வன்பின் வெள்ளமே </samp>
<span class="chordline"><b>Bb</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">திருவருள் தோற்றமே</samp>
<span class="chordline"><b>F</b>             <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மெய்ம் மனதானந்தமே</samp>
<span class="chordline"><b>Am</b>      <b>Bb</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">செய்ய நின்செம்பாதம் சேவிக்க </samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இவ்வேளை</samp>
<span class="chordline"><b>C</b>            <b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அய்யா நின் அடி பணிந்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       </span>
<samp charset="UTF-8" class="lyricline">மூர்க்கக்குணம் கோபம் </samp>
<span class="chordline"><b>Bb</b>       <b>F</b>                   </span>
<samp charset="UTF-8" class="lyricline">லோகம் சிற்றின்பமும்</samp>
<span class="chordline"><b>F</b>          <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மோக ஏக்கமானதைத்</samp>
<span class="chordline"><b>Am</b>          <b>Bb</b>         </span>
<samp charset="UTF-8" class="lyricline">தாக்கியான் தடுமாறித் </samp>
<span class="chordline"><b>F</b>           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தயங்கிடும் வேளையில்</samp>
<span class="chordline"><b>C</b>        <b>C7</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தற்பரா தற்காத்தருள்வாய்                  </samp>
<samp charset="UTF-8" class="lyricline"> ...தெய்வன்பின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>F</b>             </span>
<samp charset="UTF-8" class="lyricline">சொந்தம் உனதல்லால் </samp>
<span class="chordline"><b>Bb</b>       <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">சோர வழி செல்ல</samp>
<span class="chordline"><b>F</b>            <b>C</b>         <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">எந்தாய் துணிவேனோ யான்</samp>
<span class="chordline"><b>Am</b>      <b>Bb</b>       <b>F</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">புந்திக்கமலமாம் பமாலை கோர்த்து நின்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>        <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">பொற்பதம் பிடித்துக்கொள்வேன்               </samp>
<samp charset="UTF-8" class="lyricline">  ...தெய்வன்பின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                   <b>Bb</b>       <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">பாவச்சேற்றில் பலவேளை பல மின்றப்</samp>
<span class="chordline"><b>F</b>            <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாதையைத் தவறிடினும்</samp>
<span class="chordline"><b>Am</b>       <b>Bb</b>        </span>
<samp charset="UTF-8" class="lyricline">கூவி விளித்தும் தம் </samp>
<span class="chordline"><b>F</b>           <b>Gm</b>                </span>
<samp charset="UTF-8" class="lyricline">மார்போடணைத்தன்பாய்</samp>
<span class="chordline"><b>C</b>           <b>C7</b>       <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">கோது பொருத்த நாதா                         </samp>
<samp charset="UTF-8" class="lyricline"> ...தெய்வன்பின்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>