<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3649" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                <b>G#m</b>       </span>
<samp charset="UTF-8" class="lyricline">சத்தாய் நிஷ்களமாய் ஒரு </samp>
<span class="chordline"><b>A</b>  		   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சாமிய மும் இலதாய் </samp>
<span class="chordline"><b>B</b>	  <b>A</b>           <b>E</b>                               </span>
<samp charset="UTF-8" class="lyricline">சித்தாய் ஆனந்தமாய்த் </samp>
<span class="chordline">      <b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">திகழ்கின்ற திரித்துவமே</samp>
<span class="chordline"><b>E</b>              <b>G#m</b>                    </span>
<samp charset="UTF-8" class="lyricline">எத்தால் நானடியேன் </samp>
<span class="chordline"><b>A</b>  			     <b>F#m</b>           </span>
<samp charset="UTF-8" class="lyricline">கடைத்தேறுவன் என் பாவந் தீர்ந்து </samp>
<span class="chordline"><b>B</b>        <b>A</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அத்தா, உன்னையல்லால் </samp>
<span class="chordline">      <b>B</b>             <b>G#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கார் துணை, யாருறவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>G#m</b>                   </span>
<samp charset="UTF-8" class="lyricline">திரைசேர் வெம்பவமாம் கடல் </samp>
<span class="chordline"><b>A</b>  		<b>F#m</b>   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மூழ்கிய தீயரெமைக் </samp>
<span class="chordline"><b>B</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கரைசேர்த் துய்க்கவென்றே</samp>
<span class="chordline">       <b>E</b>          <b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">புணையாயினை கண்ணிலியான்</samp>
<span class="chordline">         <b>E</b>       <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">பரசேன் பற்றுகிலேன் </samp>
<span class="chordline">           <b>A</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னைப் பற்றிய பற்றுவிடாய் </samp>
<span class="chordline"><b>B</b>	<b>A</b>            <b>E</b>                                                          </span>
<samp charset="UTF-8" class="lyricline">அரசே உன்னையல்லால் </samp>
<span class="chordline">       <b>B</b>          <b>G#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கார்துணை யாருறவே                        </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>G#m</b>      </span>
<samp charset="UTF-8" class="lyricline">தாயே ​​தந்தை தமர் குரு </samp>
<span class="chordline"><b>A</b>         <b>F#m</b>  </span>
<samp charset="UTF-8" class="lyricline">சம்பத்து நட்பெவையும் </samp>
<span class="chordline"><b>B</b>     <b>A</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீயே எம்பெருமான் </samp>
<span class="chordline">     <b>B</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கதி வேறிலை நிண்ணயங்கான் </samp>
<span class="chordline"><b>B</b>            <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">ஏயே என்றிகழும் </samp>
<span class="chordline">      <b>A</b>                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உலகோடெனக் கென்னுரிமை </samp>
<span class="chordline"><b>B</b>	<b>A</b>            <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">ஆயே உன்னையல்லால் </samp>
<span class="chordline">      <b>B</b>            <b>G#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கார் துணை யாருறவே                       </samp>
<samp charset="UTF-8" class="lyricline">   ...சத்தாய்</samp>
<span class="blankline"></span></div></div>   
        
     </div>