<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3658" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரிப்போம் ஆர்ப்பரிப்போம்</samp>
<span class="chordline">                         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அலங்கம் இடியும் வரை ஆர்ப்பரிப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>              </span>
<samp charset="UTF-8" class="lyricline">எக்காளம் ஊதி </samp>
<span class="chordline"><b>C</b>             <b>Dm</b>   </span>
<samp charset="UTF-8" class="lyricline">எரிகோவைப் பிடிப்போம்</samp>
<span class="chordline"><b>Dm</b>        <b>C</b>           </span>
<samp charset="UTF-8" class="lyricline">ஆரவாரத் துதியோடு </samp>
<span class="chordline">               <b>Dm</b>   </span>
<samp charset="UTF-8" class="lyricline">கானானுக்குள் நுழைவோம்</samp>
<span class="chordline"><b>Dm</b>		     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எழுப்புதலின் நேரமல்லோ இது</samp>
<span class="chordline"><b>A#</b>	       <b>C</b>         <b>Dm</b>            </span>
<samp charset="UTF-8" class="lyricline">யோசுவாவின் காலமல்லோ                         </samp>
<samp charset="UTF-8" class="lyricline">  ...ஆர்ப்பரிப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>   	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நாமம் சொல்ல சொல்ல</samp>
<span class="chordline"><b>A#</b>   	   <b>C</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தடைகள் விலகிடுமே</samp>
<span class="chordline"><b>G</b>          <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாராவின் தண்ணீர்கள் மதுரமாகுமே</samp>
<span class="chordline"><b>G</b>	      <b>C</b>		       </span>
<samp charset="UTF-8" class="lyricline">யோர்தானின் தடையெல்லாம் </samp>
<span class="chordline"><b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">விலகி போகுமே          </samp>
<samp charset="UTF-8" class="lyricline">  ...எழுப்புதலின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>   	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்கும் நமக்கோ தோல்வி இல்ல</samp>
<span class="chordline"><b>A#</b>   	<b>C</b>      <b>Dm</b>              </span>
<samp charset="UTF-8" class="lyricline">வெற்றி நிச்சயமே</samp>
<span class="chordline"><b>G</b>              <b>C</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பலங்கொண்டு திடமனதாயிருப்போமே</samp>
<span class="chordline">      <b>G</b>	         <b>C</b>	     <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">இந்த தேசத்தை சுற்றி சுற்றி சுதந்தரிப்போம்             </samp>
<samp charset="UTF-8" class="lyricline">   ...எழுப்புதலின்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>