<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3662" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                       </span>
<samp charset="UTF-8" class="lyricline">நடக்க சொல்லி தாரும் </samp>
<span class="chordline"><b>Bb</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நடக்க சொல்லி தாரும் </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இயேசுவே(2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>Bb</b>             </span>
<samp charset="UTF-8" class="lyricline">தனித்து செல்ல முடியவில்லை </samp>
<span class="chordline"><b>C</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தவித்து நிற்கும் பாவி நான்(2)</samp>
<samp charset="UTF-8" class="lyricline">   ... நடக்க சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இருள் நிறைந்த உலகமிது</samp>
<span class="chordline"><b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துன்பம் என்னை நெருக்குதே(2)</samp>
<samp charset="UTF-8" class="lyricline">   ... நடக்க சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>               <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">அருள் ததும்பும் வழியாகி </samp>
<span class="chordline">            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு தந்த தெய்வமே</samp>
<samp charset="UTF-8" class="lyricline">   ... நடக்க சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>               <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">அருள் ததும்பும் வழியாகி </samp>
<span class="chordline"><b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு தந்த தெய்வமே              </samp>
<samp charset="UTF-8" class="lyricline">   ... நடக்க சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>             <b>Dm</b>  </span>
<samp charset="UTF-8" class="lyricline">அடம்பிடித்து விலகிடுவேன்</samp>
<span class="chordline"><b>C</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கருணையோடு மன்னியும்(2)</samp>
<samp charset="UTF-8" class="lyricline">   ... நடக்க சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>           <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">கரம்பிடித்து உம்முடனே அழைத்து </samp>
<span class="chordline">          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">செல்லும் இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">   ... நடக்க சொல்லி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>          <b>F</b>            <b>C</b>      </span>
<samp charset="UTF-8" class="lyricline">கரம்பிடித்து உம்முடனே அழைத்து </samp>
<span class="chordline">          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">செல்லும் இயேசுவே..   </samp>
<samp charset="UTF-8" class="lyricline">   ... நடக்க சொல்லி</samp>
<span class="blankline"></span></div></div>   
        
     </div>