<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3663" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">போற்றும் போற்றும் புண்ணிய </samp>
<span class="chordline">         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாதரைப் போற்றும்!</samp>
<span class="chordline">                 <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வானோர் கூடிப் பாடவும் இன்பமாய்,</samp>
<span class="chordline"><b>G</b>           <b>Am</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாரிலேயும் நாம சங்கீர்த்தனம் செய்ய</samp>
<span class="chordline"><b>G</b>       <b>Em</b>      <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாந்தர் யாரும் வாரும், ஆனந்தமாய்;</samp>
<span class="chordline"><b>D</b>               <b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேச மேய்ப்பன் கரத்தில் ஏந்துமாறு</samp>
<span class="chordline"><b>G</b>     <b>Em</b>    <b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">யேசு நாதர் நம்மையும் தாங்குவார்.</samp>
<span class="chordline"><b>G</b>                      </span>
<samp charset="UTF-8" class="lyricline">போற்றும், போற்றும்!</samp>
<span class="chordline"><b>C</b>               <b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">தேவகுமரனைப் போற்றும் !</samp>
<span class="chordline">     <b>C</b>      <b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்து நித்தமும் போஷிப்பார்.</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      </span>
<samp charset="UTF-8" class="lyricline">போற்றும், போற்றும்! </samp>
<span class="chordline"><b>C</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புண்ணிய நாதரைப் போற்றும்!  </samp>
<span class="chordline">               <b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்க பாரினில் ஜென்மித்தார்;  </samp>
<span class="chordline"><b>G</b>            <b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாடு பட்டு ப்ராணத்தியாகமுமாகி</samp>
<span class="chordline"><b>G</b>      <b>Em</b>     <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வான லோக வாசலைத் திறந்தார்;</samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மா கர்த்தாவே, ஸ்தோத்திரம் </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">என்றும் என்றும்!</samp>
<span class="chordline"><b>G</b>      <b>Em</b>      <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க வாழ்க ஜெகத்து ரட்சகா!</samp>
<span class="chordline"><b>G</b>              <b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அருள் நாதா, மாசணுகா பரஞ்சோதி!</samp>
<span class="chordline">        <b>C</b>       <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்ல தேவா, கருணை நாயகா!</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">போற்றும்! போற்றும்! </samp>
<span class="chordline"><b>C</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புண்ணிய நாதரப் போற்றும்!  </samp>
<span class="chordline">                       <b>A</b>             <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">விண்ணும் மண்ணும் இசைந்து பாடவும்,  </samp>
<span class="chordline"><b>G</b>                      <b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">போற்றும், போற்றும், மீட்பர் மகத்துவமாக</samp>
<span class="chordline"><b>G</b>      <b>Em</b>        <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்சி செய்வார் நித்திய காலமும்;</samp>
<span class="chordline"><b>D</b>         <b>G</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஏக ராஜா மாட்சிமையோடே வந்து</samp>
<span class="chordline"><b>G</b>     <b>Em</b>        <b>A</b>             <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">யேசு ஸ்வாமி பூமியில் ஆளுமேன்;</samp>
<span class="chordline"><b>G</b>                <b>C</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">லோகம் எங்கும் நீதியின் செங்கோலை ஓச்சி</samp>
<span class="chordline">        <b>C</b>     <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜொதியாகப் பாலனம் பண்ணுமேன்.</samp>
<span class="blankline"></span></div></div>   
        
     </div>