<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3664" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>           <b>Am</b>           <b>Dm</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எக்காள சத்தம் வானில் தொனித்திடவே</samp>
<span class="chordline">    <b>Gm</b>             <b>A#</b>       <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எம் இயேசு மா இராஜனே வந்திடுவார் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Am</b>     <b>A#</b>  <b>Gm</b>      </span>
<samp charset="UTF-8" class="lyricline">அந்த நாள் மிக சமீபமே</samp>
<span class="chordline"><b>C</b>         <b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தர்கள் யாவரும் சேர்ந்திடவே (2)</samp>
<span class="chordline"><b>F</b>           <b>A#</b>            <b>F</b>         </span>
<samp charset="UTF-8" class="lyricline">தேவ எக்காளம் வானில் முழங்க</samp>
<span class="chordline"><b>F</b>         <b>A#</b>         <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனைச் சந்திப்போமே (2)   </samp>
<samp charset="UTF-8" class="lyricline">   ... எக்காள சத்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>Am</b>       <b>A#</b>      <b>Gm</b>     </span>
<samp charset="UTF-8" class="lyricline">வானமும் பூமியும் மாறிடினும்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் வாக்கு தான் மாறிடாதே (2)</samp>
<span class="chordline"><b>F</b>      <b>A#</b>          <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">தேவதூதர் பாடல் தொனிக்கத்</samp>
<span class="chordline"><b>F</b>        <b>A#</b>          <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் அவரையே தரிசிப்போமே (2)         </samp>
<samp charset="UTF-8" class="lyricline">   ... எக்காள சத்தம்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline">  <b>F</b>         <b>Am</b>         <b>A#</b>   <b>Gm</b>                       </span>
<samp charset="UTF-8" class="lyricline">கண்ணிமை நேரத்தில் மாறிடுவோம்</samp>
<span class="chordline"> <b>C</b>           <b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணிலே யாவரும் சேர்ந்திடுவோம் (2)</samp>
<span class="chordline"> <b>F</b>        <b>A#</b>              <b>F</b>                     </span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் கவலை அங்கே இல்லை</samp>
<span class="chordline"> <b>F</b>         <b>A#</b>        <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் தாமே வெளிச்சம் ஆவார் (2)         </samp>
<samp charset="UTF-8" class="lyricline">  ...எக்காள சத்தம்</samp>
<span class="blankline"></span>
<span class="chordline"> <b>F</b>         <b>Am</b>           <b>A#</b>       <b>Gm</b>                       </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் வேளையை நாம் அறியோம்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் சித்தமே செய்திடுவோம் (2)</samp>
<span class="chordline"><b>F</b>         <b>A#</b>                    <b>F</b>                                </span>
<samp charset="UTF-8" class="lyricline">பலன்கள் யாவையும் அவரே அளிப்பார்</samp>
<span class="chordline"><b>F</b>         <b>A#</b>        <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரமனோடென்றும் வாழ்ந்திடுவோம் (2)     </samp>
<samp charset="UTF-8" class="lyricline">  ... எக்காள சத்தம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>