<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3665" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>              <b>Dm</b>        </span>
<samp charset="UTF-8" class="lyricline">மங்கல நாண் பூண்டிடும் வேளையில்</samp>
<span class="chordline"><b>G</b>                                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மங்கலனே உம்மை அழைக்கின்றோம்</samp>
<span class="chordline"><b>C</b>                      <b>Dm</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இம்மண வேளையில் எம்மணவாளனே</samp>
<span class="chordline"><b>C</b>               <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வந்திங்கு ஆசீர் பொழிந்திடுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>Em</b>         <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">உம்முன் நிலையில் தொடங்கும் இப்பந்தம்</samp>
<span class="chordline"><b>Dm</b>                           <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நிலை பெற்று என்றென்றும் ஓங்கிடவே</samp>
<span class="chordline"><b>G</b>                <b>Am</b>                       </span>
<samp charset="UTF-8" class="lyricline">முப்புரி நூலாய் குடும்பத்தின் தலையாய்</samp>
<span class="chordline"><b>F</b>                      <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இவர்களை நிதம் வழி நடத்திடுமே            </samp>
<samp charset="UTF-8" class="lyricline">   ...மங்கல</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>       <b>Em</b>            <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">சத்திய தேவன் முன் கொடுத்திட்ட வாக்கினை</samp>
<span class="chordline"><b>Dm</b>                <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பத்திரமாய் இவர் காத்திடவே</samp>
<span class="chordline"><b>G</b>               <b>Am</b>     </span>
<samp charset="UTF-8" class="lyricline">நித்திய அன்பும் மகிழ்ச்சியும் பெருக</samp>
<span class="chordline"><b>F</b>                      <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் கிருபையை ஈந்திடுமே               </samp>
<samp charset="UTF-8" class="lyricline"> ...மங்கல</samp>
<span class="blankline"></span></div></div>   
        
     </div>