<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3670" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                                <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னில் என்ன கண்டீர் என்னை நேசிக்க</samp>
<span class="chordline">      <b>E</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இப் பாவிக்கு தகுதி இல்லையே</samp>
<span class="chordline"><b>E</b>                                <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னில் என்ன கண்டீர் என்னை நேசிக்க</samp>
<span class="chordline">      <b>E</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இவ் ஏழைக்கு தகுதி இல்லையே</samp>
<span class="blankline"></span>
<span class="chordline">              <b>E</b>                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என் பெலவீனமறிந்தும் நீர் நேசித்தீர்</samp>
<span class="chordline">               <b>E</b>                   <b>B</b>           </span>
<samp charset="UTF-8" class="lyricline">என் குறைகள் தெரிந்தும் நீர் நேசித்தீர்                  </samp>
<samp charset="UTF-8" class="lyricline">  ...என்னில் </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை விட்டு விலகும் செயல் </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">செய்த நாள் உண்டு</samp>
<span class="chordline"><b>E</b>                          </span>
<samp charset="UTF-8" class="lyricline">உம்மை காயபடுத்தும் வார்த்தை </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">சொன்ன நாள் உண்டு</samp>
<span class="chordline"><b>D</b>                  <b>A</b>          </span>
<samp charset="UTF-8" class="lyricline">பாவம் செய்ய காலம் கேட்ட </samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">துரோகி நான்             </samp>
<samp charset="UTF-8" class="lyricline">   ...என்னில் </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாவ சேற்றில் கிடந்த ஓர் </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பாவி நான் ஐயா</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் அன்பின் கயிற்றால் </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">என்னை இழுத்திரே</samp>
<span class="chordline"><b>D</b>                  <b>A</b>              </span>
<samp charset="UTF-8" class="lyricline">உம் நேசம் போல் ஒன்றும் இங்கு </samp>
<span class="chordline"> <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இல்லையே           </samp>
<samp charset="UTF-8" class="lyricline">  ...என்னில் </samp>
<span class="blankline"></span></div></div>   
        
     </div>