<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3709" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                            <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெந்தெகொஸ்தே அனுபவம் தாருமே</samp>
<span class="chordline"><b>C</b>         <b>Em</b>        <b>Gsus4</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பின்மாரி ஆவியை ஊற்றுமே  -- 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                   <b>Em</b>        <b>Am7</b></span>
<samp charset="UTF-8" class="lyricline">மேலான வல்லமை மேலான தரிசனம்</samp>
<span class="chordline"><b>Dm</b>                     <b>G</b>    <b>Abdim</b></span>
<samp charset="UTF-8" class="lyricline">மேலான வரங்களைத் தாருமே    </samp>
<span class="chordline"><b>Am</b>        <b>C</b>         <b>Em</b>       <b>Am7</b></span>
<samp charset="UTF-8" class="lyricline">மேலான வல்லமை மேலான தரிசனம்</samp>
<span class="chordline"><b>Dm7</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேலான வரங்களைத் தாருமே  </samp>
<span class="blankline"></span>
<span class="chordline">         <b>C</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நிரப்புமே என்னை நிரப்புமே</samp>
<span class="chordline">         <b>Dm</b>                 <b>Am</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நிரப்பியே அனுப்புமே</samp>
<span class="chordline">     <b>C</b>                 <b>Dm</b>/<b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் பாத்திரம் நிரம்பி வழிந்திட</samp>
<span class="chordline">     <b>Dm</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் ஆவியை ஊற்றுமே  -- 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>Em</b>       <b>F</b>    <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">அனலான ஊழியம் தாருமே</samp>
<span class="chordline"><b>C</b>                        <b>Gsus4</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி ஜீவாலையாய் மாற்றுமே  - 2  </samp>
<samp charset="UTF-8" class="lyricline">   ... மேலான</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>Em</b>             <b>F</b>    <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">நிழல்பட்டு மரித்தோர்கள் எழும்பிட</samp>
<span class="chordline"><b>C</b>                         <b>Gsus4</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதத்தின் அபிஷேகம் தாருமே  - 2 </samp>
<samp charset="UTF-8" class="lyricline">   ... மேலான</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>Em</b>       <b>F</b>    <b>Gsus4</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி நாவுகள் தாருமே எனக்கு</samp>
<span class="chordline"><b>C</b>                  <b>Gsus4</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதிகார நாவுகள் தாருமே  - 2 </samp>
<samp charset="UTF-8" class="lyricline">   ... மேலான</samp>
<span class="blankline"></span></div></div>   
        
     </div>