<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3711" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒருவரும் சேரா ஒளியினில்</samp>
<span class="chordline">        <b>C</b>          <b>G</b>/<b>B</b>     <b>Em</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாசம் செய்திடும் எங்கள் தேவனே</samp>
<span class="chordline"><b>G</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மனிதருள் யாரும் கண்டிரா</samp>
<span class="chordline">         <b>C</b>          <b>G</b>/<b>B</b>      <b>Em</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை உடையவர் எங்கள் தேவனே</samp>
<span class="blankline"></span>
<span class="chordline">  <b>Am</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீரே உன்னதர்</samp>
<span class="chordline">  <b>Am</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீரே பரிசுத்தர்</samp>
<span class="chordline">  <b>Am</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீரே மகத்துவர்</samp>
<span class="chordline">         <b>D</b>         <b>D</b>/<b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிப்பேன்  - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>C</b> <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">ஏல் ஒலான் நீரே</samp>
<span class="chordline">         <b>G</b>        <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு ஆரம்பம் இல்லையே</samp>
<span class="chordline"><b>G</b>           <b>C</b>  <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">ஏல் ஒலான் நீரே</samp>
<span class="chordline">         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு முடிவொன்றும் இல்லையே  - 2</samp>
<span class="blankline"></span>
<span class="chordline">         <b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை அறிந்தவர் இல்லையே</samp>
<span class="chordline">         <b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை புரிந்தவர் இல்லையே</samp>
<span class="chordline">         <b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை கண்டவர் இல்லையே</samp>
<span class="chordline">         <b>G</b>                    <b>G</b>  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு உருவங்கள் இல்லையே    </samp>
<samp charset="UTF-8" class="lyricline">   -- நீரே உன்னதர்</samp></div></div>   
        
     </div>