<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3715" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>              <b>G</b>          <b>A</b>            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேலின் துதிகளில் வாசம் செய்யும்</samp>
<span class="chordline">        <b>G</b>           <b>A</b>       <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">எங்கள் தேவன் நீர் பரிசுத்தரே  -- 2</samp>
<span class="blankline"></span>
<span class="chordline">    <b>G</b>                   <b>F#m</b>           <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">ஒ வாக்குகள் பல தந்து அழைத்து வந்தீர்</samp>
<span class="chordline">     <b>G</b>                      <b>F#m</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு தந்தை போல எம்மை தூக்கிசுமந்தீர்  -- 2  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>A</b>  <b>Bm</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இனி நீர் மாத்ரமே நீர் மாத்ரமே</samp>
<span class="chordline"><b>G</b>         <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மாத்ரமே என்று சொந்தமானீர்</samp>
<span class="chordline">                  <b>A</b>     <b>Bm</b>        <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிப்போம் ஆர்ப்பரிப்போம்</samp>
<span class="chordline">     <b>G</b>        <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமத்தினால் என்றும் ஜெயமெடுப்போம்                                                 </samp>
<samp charset="UTF-8" class="lyricline">    -- இஸ்ரவேலின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                       <b>G</b>           <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">எதிர்காலம் இல்லாமல் ஏங்கி நின்றோம்</samp>
<span class="chordline"><b>D</b>                       <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காலத்தை படைத்தவர் தேடி வந்தீர்  -- 2</samp>
<span class="chordline"><b>G</b>           <b>Bm</b>  <b>G</b>         <b>Bm</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிறையிருப்பை மாற்றி தந்தீர்  சிறுமையின்</samp>
<span class="chordline"><b>Bm</b>             <b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜனம் எம்மை உயர்த்தி வைத்தீர்  -- 2     </samp>
<samp charset="UTF-8" class="lyricline">   -- இனி நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>G</b>             <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">செங்கடலை கண்டு சோர்ந்து போனோம்</samp>
<span class="chordline"><b>D</b>                          <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">யோர்தானின் நிலைகண்டு அஞ்சி நின்றோம்  -- 2</samp>
<span class="chordline"><b>G</b>        <b>Bm</b>  <b>G</b>            <b>Bm</b>    <b>G</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பயப்படாதே முன் செல்கிறேன் என்றுரைத்து</samp>
<span class="chordline">        <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எம்மை நடத்தி வந்தீர்  -- 2 </samp>
<samp charset="UTF-8" class="lyricline">  -- இனி நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                        <b>G</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எதிரியின் படை எம்மை சூழும்போது</samp>
<span class="chordline"><b>D</b>                       <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஓங்கிய புயம் கொண்டு யுத்தம் செய்தீர்  -- 2</samp>
<span class="chordline"><b>G</b>          <b>Bm</b>  <b>G</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பாடச் செய்தீர் துதிக்கச் செய்தீர்</samp>
<span class="chordline"><b>G</b>            <b>Bm</b>          <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எரிகோவின் மதில்களை இடிக்கச் செய்தீர்  -- 2</samp>
<samp charset="UTF-8" class="lyricline">    -- இனி நீர்</samp></div></div>   
        
     </div>