<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3718" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாமே முடிந்ததென்று</samp>
<span class="chordline"><b>Am</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னைப்பார்த்து இகழ்ந்தனர்</samp>
<span class="chordline"><b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இனியென்றும் எழும்புவதில்லை</samp>
<span class="chordline"><b>Am</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்று சொல்லி நகைத்தனர்  -- 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆனாலும் நீங்க என்னை</samp>
<span class="chordline"><b>Em</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்டவிதம் பெரியது</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் உயர்வின் பெருமையெல்லாம்</samp>
<span class="chordline"><b>Em</b>                <b>D</b>       </span>
<samp charset="UTF-8" class="lyricline">உம் ஒருவருக்கு உரியதே  -- 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>D</b>           </span>
<samp charset="UTF-8" class="lyricline">நீர் மட்டும் பெருகணும் </samp>
<span class="chordline"><b>C</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மட்டும் பெருகணும்</samp>
<span class="chordline"><b>Am</b>          <b>D</b>           </span>
<samp charset="UTF-8" class="lyricline">நீர் மட்டும் பெருகணும் </samp>
<span class="chordline"><b>Bm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீர் மட்டும் இயேசுவே  -- 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உடைக்கப்பட்ட பாத்திரமானேன்</samp>
<span class="chordline"><b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உபயோக மற்று இருந்தேன்</samp>
<span class="chordline"><b>G</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றுக்கும் உதவுவதில்லை</samp>
<span class="chordline"><b>Am</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்று சொல்லி ஒதுக்கப்பட்டேன்  -- 2</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">குயவனே உந்தன் கரம்</samp>
<span class="chordline"><b>Em</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மீண்டும் எனை வனைந்தது</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">விழுந்து போன இடங்களில் எல்லாம்</samp>
<span class="chordline"><b>Em</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் தலையை உயர்த்தியதே  -- 2</samp>
<samp charset="UTF-8" class="lyricline">  -- நீர்</samp></div></div>   
        
     </div>