<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3719" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                          </span>
<samp charset="UTF-8" class="lyricline">என்னை வல்லடிக்கு நீக்கி </samp>
<span class="chordline">     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம் கரங்களால் தூக்கி</samp>
<span class="chordline"><b>Bb</b>             <b>F</b>          </span>
<samp charset="UTF-8" class="lyricline">உன்னதத்தில் வைத்ததை </samp>
<span class="chordline"> <b>Gm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறப்பேனோ  -- 2</samp>
<span class="chordline">    <b>Am</b>         <b>Dm</b>         </span>
<samp charset="UTF-8" class="lyricline">நீர் சொன்னதினால் நான் </samp>
<span class="chordline"><b>C</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பிழைத்துக்கொண்டேன்</samp>
<span class="chordline">    <b>Am</b>      <b>Dm</b>          </span>
<samp charset="UTF-8" class="lyricline">நீர் கண்டதினால் நான் </samp>
<span class="chordline"><b>Bb</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் பெற்றேன்   -- 2 </samp>
<span class="blankline"></span>
<span class="chordline">        <b>Bb</b>     <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">எந்தன் ஆதரவே </samp>
<span class="chordline">        <b>Bb</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் அடைக்கலமே</samp>
<span class="chordline">        <b>Am</b>        <b>Gm</b>  </span>
<samp charset="UTF-8" class="lyricline">எந்தன் மறைவிடமே </samp>
<span class="chordline">        <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை ஆராதிப்பேன்  -- 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                          <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆழத்தில் இருத்தென்னை தூக்கிவிட்டீர்</samp>
<span class="chordline"><b>F</b>                       <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வான தளங்களில் நிறுத்தி வைத்தீர்</samp>
<span class="chordline"><b>F</b>                          <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆழத்தில் இருத்தென்னை தூக்கிவிட்டீர்</samp>
<span class="chordline"><b>Dm</b>         <b>Gm</b>           <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வான தளங்களில் நிறுத்தி வைத்தீர்  </samp>
<span class="chordline"><b>Gm</b>                  <b>Dm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எதிரான யோசனை அதமாக்கினீர்</samp>
<span class="chordline"><b>Gm</b>                    <b>Bb</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் யோசனை நிறைவேற்றினீர்  </samp>
<span class="chordline"><b>Gm</b>                  <b>Dm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எதிரான யோசனை அதமாக்கினீர்</samp>
<span class="chordline"><b>Gm</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் யோசனை நிறைவேற்றினீர்        </samp>
<samp charset="UTF-8" class="lyricline">  -- எந்தன்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                   <b>C</b>         <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் என்னோடு போரிட்டாலும்</samp>
<span class="chordline"><b>F</b>                                   <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மேற்கொள்ளும் அதிகாரம் பெறவில்லையே </samp>
<span class="chordline"><b>F</b>                   <b>C</b>         <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் என்னோடு போரிட்டாலும்</samp>
<span class="chordline">         <b>Dm</b>                         <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மேற்கொள்ளும் அதிகாரம் பெறவில்லையே </samp>
<span class="chordline"><b>Gm</b>                        <b>Dm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையினால் என்னை மூடிக்கொண்டீர் - 2</samp>
<span class="chordline"><b>Gm</b>                            <b>Bb</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் தள்ளுண்ட இடங்களில் உயர்த்தி வைத்தீர்</samp>
<span class="chordline"><b>Gm</b>                        <b>Dm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையினால் என்னை மூடிக்கொண்டீர் - 2</samp>
<span class="chordline"><b>Gm</b>                            <b>Bb</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் தள்ளுண்ட இடங்களில் உயர்த்தி வைத்தீர்                                                           </samp>
<samp charset="UTF-8" class="lyricline">   -- எந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                   <b>C</b>            <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">கரடான பாதையில் தூக்கிச் சென்றீர்</samp>
<span class="chordline"><b>F</b>                        <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முள்ளுள்ள இடங்களில் சுமந்து கொண்டீர் </samp>
<span class="chordline"><b>F</b>                   <b>C</b>            <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">கரடான பாதையில் தூக்கிச் சென்றீர்</samp>
<span class="chordline"><b>Dm</b>                       <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முள்ளுள்ள இடங்களில் சுமந்து கொண்டீர் </samp>
<span class="chordline"><b>Gm</b>                    <b>Dm</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காக குறித்ததை எனக்கு தந்தீர்</samp>
<span class="chordline"><b>Gm</b>                <b>Bb</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீர்தந்த தரிசனம் நிறைவேற்றினீர்   </samp>
<span class="chordline"><b>Gm</b>                    <b>Dm</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காக குறித்ததை எனக்கு தந்தீர்                       </samp>
<span class="chordline"><b>Gm</b>                <b>Bb</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீர்தந்த தரிசனம் நிறைவேற்றினீர்                                 </samp>
<samp charset="UTF-8" class="lyricline">   --- என்னை </samp>
<span class="blankline"></span></div></div>   
        
     </div>