<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3721" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே என்னைத் தருகிறேன்</samp>
<span class="chordline">     <b>F</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதத்தில் என்னை படைக்கின்றேன்</samp>
<span class="chordline"><b>C</b>               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">யாவையும் நீர் தந்ததால்</samp>
<span class="chordline"><b>F</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மிடம் திரும்ப தருகிறேன்  -- 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>Am</b>     <b>Em</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் வாழ்வின் மேன்மையெல்லாம்</samp>
<span class="chordline"><b>Em</b>     <b>Am</b>    <b>F</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனுக்கே தருகிறேன்  -- 2</samp>
<span class="blankline"></span>
<span class="chordline">        <b>G</b>       <b>Em</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் ஆராதனை  உமக்கே</samp>
<span class="chordline">        <b>G</b>            <b>Em</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் வாழ்நாளெல்லாம் உமக்கே  -- 2 </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>            <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">ஊழியம் நீர் தந்தது </samp>
<span class="chordline"><b>F</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வுகள் நீர் தந்தது</samp>
<span class="chordline"><b>C</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மேன்மைகள் நீர் தந்தது</samp>
<span class="chordline"><b>F</b>               <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">செல்வமும் நீர் தந்தது </samp>
<samp charset="UTF-8" class="lyricline"> --  எந்தன் வாழ்வின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தரிசனம் நீர் தந்தது</samp>
<span class="chordline"><b>F</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாகமும் நீர் தந்தது</samp>
<span class="chordline"><b>C</b>               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கிருபைகள் நீர் தந்தது</samp>
<span class="chordline"><b>F</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் நீர் தந்தது </samp>
<samp charset="UTF-8" class="lyricline"> --  எந்தன் வாழ்வின்</samp></div></div>   
        
     </div>