<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3722" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                                  c           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஆராதிக்கும் இயேசு இன்றும் ஜீவிக்கிறாரே</samp>
<span class="chordline">                                  <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் தேவனாயினும் என்னோடு பேசுகிறாரே  </samp>
<span class="chordline">      <b>Am</b>           <b>Dm</b>              <b>C</b>          <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">நான் ஆராதிக்கும் இயேசு இன்றும் ஜீவிக்கிறாரே</samp>
<span class="chordline">      <b>Bb</b>                          <b>C</b>         <b>F</b>                        </span>
<samp charset="UTF-8" class="lyricline">அவர் தேவனாயினும் என்னோடு பேசுகிறாரே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>Gm</b>  <b>C</b>            <b>F</b>         </span>
<samp charset="UTF-8" class="lyricline">அவர் சிந்தின இரத்தம் மீட்பை தந்தது</samp>
<span class="chordline">                       <b>Gm</b>      <b>C</b>             <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் கொண்ட காயங்கள் சுக வாழ்வை தந்தது  -- 2 </samp>
<span class="blankline"></span>
<span class="chordline">       <b>C7</b>                                           </span>
<samp charset="UTF-8" class="lyricline">அவர் என்னோடு இருந்தால் ஒரு </samp>
<span class="chordline"><b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சேனைக்குள் பாய்வேன்</samp>
<span class="chordline">       <b>C7</b>                         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அவர் என்னோடு இருந்தால் ஒரு மதிலை தாண்டுவேன்</samp>
<span class="chordline">        <b>C7</b>                                       </span>
<samp charset="UTF-8" class="lyricline">இயேசு என்னோடு இருந்தால் ஒரு </samp>
<span class="chordline"><b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சேனைக்குள் பாய்வேன்</samp>
<span class="chordline">       <b>C7</b>                         <b>Bb</b>              <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">அவர் என்னோடு இருந்தால் ஒரு மதிலை தாண்டுவேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                              <b>Gm</b>                  </span>
<samp charset="UTF-8" class="lyricline">உடைந்துபோன என் வாழ்வை சீரமைச்சாரே</samp>
<span class="chordline"><b>Am</b>                        <b>Bb</b>              <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">அரணான பட்டணம்போல் மாற்றி விட்டாரே  -- 2</samp>
<span class="chordline">     <b>Bb</b>                      <b>C</b>            <b>F</b>                 </span>
<samp charset="UTF-8" class="lyricline">என் சத்துருக்கள் பின்னிட்டு ஒடச் செய்தாரே</samp>
<span class="chordline">     <b>Bb</b>                  <b>C</b>                 <b>F</b>                         </span>
<samp charset="UTF-8" class="lyricline">என் எல்லையெங்கிலும் சமாதானம் தந்தாரே  </samp>
<span class="chordline">     <b>Bb</b>                      <b>C</b>             <b>F</b>                                </span>
<samp charset="UTF-8" class="lyricline">என் சத்துருக்கள் பின்னிட்டு ஒடச் செய்தாரே</samp>
<span class="chordline">     <b>Bb</b>                  <b>C</b>                 <b>F</b>                                              </span>
<samp charset="UTF-8" class="lyricline">என் எல்லையெங்கிலும் சமாதானம் தந்தாரே  </samp>
<span class="chordline">                     <b>Gm</b>       <b>C</b>              <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் செய்த நன்மைய நான் சொல்லி துதிப்பேன்  </samp>
<span class="chordline">                     <b>Gm</b>       <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் செய்த நன்மைய நான் சொல்லி துதிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">    -- அவர் என்னோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                        <b>Gm</b>           </span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின் வஸ்திரத்த உடுத்துவித்தாரே</samp>
<span class="chordline"><b>Am</b>                          <b>Bb</b>            <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">நீதியென்னும் மார்க்கவசம் எனக்கு தந்தாரே  -- 2</samp>
<span class="chordline"><b>Bb</b>                      <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கிருபைய தந்து என்ன உயர்த்தி வச்சாரே </samp>
<span class="chordline">     <b>Bb</b>              <b>C</b>                <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">என் நாவின் மேலே அதிகாரம் வச்சாரே  -- 2 </samp>
<span class="chordline">                     <b>Gm</b>       <b>C</b>              <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் செய்த நன்மைய நான் சொல்லி துதிப்பேன்  </samp>
<span class="chordline">                     <b>Gm</b>       <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் செய்த நன்மைய நான் சொல்லி துதிப்பேன்  </samp>
<samp charset="UTF-8" class="lyricline">   -- அவர் என்னோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                            <b>Gm</b>            </span>
<samp charset="UTF-8" class="lyricline">உலர்ந்துபோன என் கோலை துளிர்க்கச் செய்தாரே</samp>
<span class="chordline"><b>Am</b>                        <b>Bb</b>           <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">ஜீவனற்ற என் வாழ்வில் ஜீவன் தந்தாரே  -- 2</samp>
<span class="chordline"><b>Bb</b>                                <b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு சேனையைப்போல என்னை எழும்பச் செய்தாரே</samp>
<span class="chordline">     <b>Bb</b>                      <b>C</b>                 <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">என் தேசத்தை சுதந்தரிக்கும் பெலனைத் தந்தாரே  -- 2</samp>
<span class="chordline">                     <b>Gm</b>       <b>C</b>              <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் செய்த நன்மைய நான் சொல்லி துதிப்பேன்  </samp>
<span class="chordline">                     <b>Gm</b>       <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் செய்த நன்மைய நான் சொல்லி துதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">    -- அவர் என்னோடு</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>