<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3723" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவரே என் இயேசுவே</samp>
<span class="chordline">             <b>Em</b>       <b>D</b>        <b>A</b>         </span>
<samp charset="UTF-8" class="lyricline">நான் பாடும் பாடலின்  காரணரே  -- 2</samp>
<span class="chordline">            <b>Bm</b>          <b>E</b>         <b>A</b>                    </span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் எதிர்பார்த்து உதவாதவர்</samp>
<span class="chordline">            <b>Bm</b>                <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஏழையாம் என்னையென்றும் மறவாதவர்  </samp>
<span class="chordline">            <b>Bm</b>          <b>E</b>          <b>A</b>                    </span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் எதிர்பார்த்து  உதவாதவர்</samp>
<span class="chordline">            <b>Bm</b>               <b>E</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஏழையாம் என்னையென்றும்  மறவாதவர்  </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>A</b>              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">துதி உமக்கே     கனம் உமக்கே</samp>
<span class="chordline"><b>D</b>                    <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">புகழும் மேன்மையும்  ஒருவருக்கே  </samp>
<span class="chordline"><b>A</b>              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">துதி உமக்கே       கனம் உமக்கே</samp>
<span class="chordline"><b>D</b>                    <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">புகழும் மேன்மையும்  ஒருவருக்கே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b> </span>
<samp charset="UTF-8" class="lyricline">எத்தனை மனிதர்கள் பார்த்தேனையா</samp>
<span class="chordline">           <b>Em</b>              <b>D</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஒருவரும் உம்மைப்போல இல்லையையா  -- 2  </samp>
<span class="chordline">         <b>Bm</b>                <b>E</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீரின்றி வாழ்வே இல்லை   உணர்ந்தேனையா</samp>
<span class="chordline">           <b>Bm</b>             <b>E</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் மாறா அன்பை  மறவேனையா   2</samp>
<samp charset="UTF-8" class="lyricline"> -- துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b> </span>
<samp charset="UTF-8" class="lyricline">என் மனம் ஆழம் என்ன நீர் அறிவீர்</samp>
<span class="chordline">          <b>Em</b>            <b>D</b>               <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">என் மன விருப்பங்கள் பார்த்துக் கொள்வீர்  -- 2</samp>
<span class="chordline">        <b>Bm</b>          <b>E</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஊழிய பாதைகளில்  உடன் வருவீர்</samp>
<span class="chordline">             <b>Bm</b>         <b>E</b>             <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திட்ட நேரங்களில் பெலன் தருவீர்  -- 2 </samp>
<samp charset="UTF-8" class="lyricline"> -- துதி</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>