<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3724" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                 <b>Eb</b>        <b>D</b>               </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தரே எங்கள் இயேசுதேவா</samp>
<span class="chordline"><b>Gm</b>               <b>Eb</b>         <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">நானிலத்தில் நீர் என்றும் ராஜா  -- 2</samp>
<span class="chordline">          <b>Cm</b>     <b>Gm</b>            <b>Cm</b>            <b>Gm</b>     </span>
<samp charset="UTF-8" class="lyricline">உம்மைப் பாடுவதால் என்னில் தோல்வியில்லை</samp>
<span class="chordline">          <b>Cm</b>       <b>Gm</b>              <b>D</b>            <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத் துதிப்பதினால் என்னில் குறைவேயில்லை -- (2) </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline"><b>D7</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>       <b>Cm</b>        <b>F</b>           <b>Eb</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை உயர்த்துவதே எங்கள் நோக்கமையா</samp>
<span class="chordline"><b>Gm</b>       <b>Cm</b>     <b>F</b>          <b>Eb</b>           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை பாடுவதே எங்கள் மேன்மையையா  -- 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நான் கொண்ட திட்டங்கள் சிறிதாயினும் ஐயா</samp>
<span class="chordline"><b>Cm</b>                          <b>F</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய் உம் திட்டங்கள் பெரிதல்லவோ  -- 2</samp>
<span class="chordline"><b>G</b>                       <b>Cm</b>   </span>
<samp charset="UTF-8" class="lyricline">புழுதியிலிருந்தென்னை உயர்த்தினீரே</samp>
<span class="chordline"><b>F</b>               <b>Bb</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாக்களோடு அமர்த்தினீரே  -- 2 </samp>
<span class="chordline">        <b>Cm</b>        <b>F</b>            <b>Eb</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் கிருபைகளை எண்ணி நான் பாடுவேன்</samp>
<span class="chordline">        <b>Cm</b>        <b>F</b>          <b>D7</b>          <b>Gm</b>    </span>
<samp charset="UTF-8" class="lyricline">உந்தன் மகிமைதனை தினம் நான் ருசிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஊழிய எல்லைகள் பெரிதாக்கினீர்</samp>
<span class="chordline">       <b>Cm</b>                       <b>F</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அதில் இராஜாக்கள் உதிக்கவும் உதவிசெய்தீர்  -- 2</samp>
<span class="chordline"><b>G</b>                  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அறியாத ஜாதியை வரவழைத்தீர்</samp>
<span class="chordline"><b>F</b>                    <b>Bb</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீர் தந்த வாக்கினை நிறைவேற்றினீர்  -- 2</samp>
<span class="chordline">        <b>Cm</b>        <b>F</b>            <b>Eb</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் கிருபைகளை எண்ணி நான் பாடுவேன்</samp>
<span class="chordline">        <b>Cm</b>        <b>F</b>          <b>D7</b>          <b>Gm</b>    </span>
<samp charset="UTF-8" class="lyricline">உந்தன் மகிமைதனை தினம் நான் ருசிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>  </span>
<samp charset="UTF-8" class="lyricline">வருத்தங்கள் பசிதாகம் ஏற்ப்பட்டாலும</samp>
<span class="chordline">        <b>Cm</b>                <b>F</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் விசுவாச கேடகம் வீழ்ந்திடாதே  -- 2</samp>
<span class="chordline"><b>G</b>                       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நம்பினோர் நட்டாத்தில் கைவிட்டாலும்</samp>
<span class="chordline">         <b>F</b>                    <b>Bb</b>          <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னை காப்பற்ற நீர் உண்டு பயமில்லையே  -- 2</samp>
<span class="chordline">        <b>Cm</b>        <b>F</b>            <b>Eb</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் கிருபைகளை எண்ணி நான் பாடுவேன்</samp>
<span class="chordline">        <b>Cm</b>        <b>F</b>          <b>D7</b>          <b>Gm</b>    </span>
<samp charset="UTF-8" class="lyricline">உந்தன் மகிமைதனை தினம் நான் ருசிப்பேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...அல்லேலூயா</samp>
<span class="blankline"></span></div></div>   
        
     </div>