<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3765" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் உயர்ந்த நாமம்</samp>
<span class="chordline"><b>D</b>               <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத நாமம் மேலான நாமம் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தின் வல்லமைகள் தெறிபட்டு ஓடுதே</samp>
<span class="chordline"><b>Em</b>                  <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் சொல்லயிலே</samp>
<span class="chordline"><b>Em</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதாள சங்கிலிகள் அறுபட்டு போகுதே</samp>
<span class="chordline"><b>Em</b>                  <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் சொல்லயிலே (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் உயர்ந்த நாமம்</samp>
<span class="chordline"><b>D</b>               <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத நாமம் மேலான நாமம் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>B7</b>                     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையில் (இயேசு) வெற்றி பெற்றார்</samp>
<span class="chordline"><b>B7</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை (அவர்) ஜெயித்திட்டார் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தின் வல்லமைகள் உடைப்பட்டுப் போகுதே</samp>
<span class="chordline"><b>D</b>                   <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் சொல்லயிலே</samp>
<span class="chordline"><b>Em</b>                          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வியாதியின் வல்லமைகள் விலகியே ஓடுதே</samp>
<span class="chordline"><b>D</b>                   <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் சொல்லயிலே (சநிநயவ)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் உயர்ந்த நாமம்</samp>
<span class="chordline"><b>D</b>               <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத நாமம் மேலான நாமம் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>B7</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையில் (இயேசு) வெற்றி பெற்றார்</samp>
<span class="chordline"><b>B7</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை (அவர்) ஜெயித்திட்டார் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தடைசெய்த மதில்கள் தகர்ந்து போய் விழுகுதே</samp>
<span class="chordline"><b>D</b>                   <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் சொல்லயிலே </samp>
<span class="chordline"><b>Em</b>                          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எரிகோவின் வல்லமைகள் பயந்து போய் ஓடுதே</samp>
<span class="chordline"><b>D</b>                   <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் சொல்லயிலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் உயர்ந்த நாமம்</samp>
<span class="chordline"><b>D</b>               <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத நாமம் மேலான நாமம் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>B7</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையில் (இயேசு) வெற்றி பெற்றார்</samp>
<span class="chordline"><b>B7</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை (அவர்) ஜெயித்திட்டார் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் உயர்ந்த நாமம்</samp>
<span class="chordline"><b>D</b>               <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத நாமம் மேலான நாமம் (2)</samp>
<span class="blankline"></span></div></div>   
        
     </div>