<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3766" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உங்க ஆவிய அனுப்புங்க</samp>
<span class="chordline">          <b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை உயிரடைய செய்யுங்க</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உலர்ந்த எலும்புகள் இந்த நாளில்</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>Em</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="blankline"></span>
<span class="chordline">     <b>Am</b>             <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் உயிர்தெழுந்த வல்லமை வேண்டுமே</samp>
<span class="chordline">        <b>Am</b>             <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் உயிர்தெழுந்த வல்லமை வேண்டுமே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">Verse 1</samp>
<span class="chordline"><b>G</b>                <b>Em</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதாள கட்டுகள் உடையட்டுமே</samp>
<span class="chordline"><b>Am</b>                        <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பார்வோனின் வல்லமை அழியட்டுமே (2)</samp>
<span class="chordline"><b>G</b>                  <b>Am</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காக நாங்கள் ஓடிட</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>Em</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="blankline"></span>
<span class="chordline">     <b>Am</b>             <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் உயிர்தெழுந்த வல்லமை வேண்டுமே</samp>
<span class="chordline">        <b>Am</b>             <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் உயிர்தெழுந்த வல்லமை வேண்டுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>Em</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கவலையின் கட்டுகள் உடையட்டுமே</samp>
<span class="chordline"><b>Am</b>                <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷத்தாலே நிரப்பிடுமே (2)</samp>
<span class="chordline"><b>G</b>                      <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் இரவுகளெல்லாம் துதி நேரமாய்</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>Em</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிரடைய வேண்டுமே</samp>
<span class="blankline"></span>
<span class="chordline">     <b>Am</b>             <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் உயிர்தெழுந்த வல்லமை வேண்டுமே</samp>
<span class="chordline">        <b>Am</b>             <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் உயிர்தெழுந்த வல்லமை வேண்டுமே </samp>
<samp charset="UTF-8" class="lyricline">  --- உங்க ஆவிய </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>