<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3767" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>Bm</b>            <b>Am</b>           </span>
<samp charset="UTF-8" class="lyricline">தூக்கி சுமப்பீரே வாழ்நாளெல்லாம்</samp>
<span class="chordline">       <b>D</b>                      <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">தூக்கி சுமப்பீரே வாழ்நாளெல்லாம் </samp>
<span class="chordline">        <b>G</b>            <b>E7</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் தோள்களில் நான் கிடப்பேன்</samp>
<span class="chordline"><b>D</b>          <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பயமின்றி வாழ்ந்திடுவேன் (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>Am</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் என்னை குழப்பும்போது</samp>
<span class="chordline"><b>D</b>                      <b>Em</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">குழந்தை போல நான் உம் முன் வருவேன் </samp>
<span class="chordline"><b>Bm</b>                                 </span>
<samp charset="UTF-8" class="lyricline">போராட்டங்கள் என்னை நோக்கி </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">கெர்ஜிக்கும் போது</samp>
<span class="chordline"><b>Am</b>       <b>D</b>            <b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">யூதராஜ சிங்கத்திடம் அடைக்கலம் புகுவேன் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Bm</b>            <b>Am</b>           </span>
<samp charset="UTF-8" class="lyricline">தூக்கி சுமப்பீரே வாழ்நாளெல்லாம்</samp>
<span class="chordline">       <b>D</b>                      <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">தூக்கி சுமப்பீரே வாழ்நாளெல்லாம் </samp>
<span class="chordline">        <b>G</b>            <b>E7</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் தோள்களில் நான் கிடப்பேன்</samp>
<span class="chordline"><b>D</b>          <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பயமின்றி வாழ்ந்திடுவேன் (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>Am</b>         <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">பாரங்கள் என்னை அழுத்தும்போது</samp>
<span class="chordline"><b>D</b>                    <b>Em</b>             <b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">உம் பாதத்தை நான் பிடித்துக்கொள்வேன்</samp>
<span class="chordline"><b>Bm</b>                <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">யாருமின்றி நான் கலங்கும்போது</samp>
<span class="chordline">     <b>Am</b>         <b>D</b>             <b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் நண்பனாக நீரே என்னை நடத்திச் செல்வீர் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Bm</b>            <b>Am</b>           </span>
<samp charset="UTF-8" class="lyricline">தூக்கி சுமப்பீரே வாழ்நாளெல்லாம்</samp>
<span class="chordline">       <b>D</b>                      <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">தூக்கி சுமப்பீரே வாழ்நாளெல்லாம் </samp>
<span class="chordline">        <b>G</b>            <b>E7</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் தோள்களில் நான் கிடப்பேன்</samp>
<span class="chordline"><b>D</b>          <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பயமின்றி வாழ்ந்திடுவேன் (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Am</b>     <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லே லூயா அல்லே லூயா </samp>
<span class="chordline"><b>G</b>           <b>Am</b>     <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லே லூயா அல்லே லூயா </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>