<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3768" class="song songcont"><div class="songpre"><span class="chordline"><b>B</b>          <b>D#m</b>         <b>G#m</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆழமான ஆழியிலும் ஆழமான அன்பு</samp>
<span class="chordline"><b>C#m</b>      <b>E</b>              <b>F#</b>         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்த மலைகளிலும் உயரமான அன்பு</samp>
<span class="chordline"><b>B</b>                         <b>G#m</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அளந்து பார்க்க முடியாத அளவில்லாத அன்பு</samp>
<span class="chordline"><b>C#m</b>        <b>E</b>        <b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">விவரிக்க முடியாத அற்புத அன்பு (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>            <b>C#m</b>        <b>F#</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் அன்பு இது ஒப்பில்லாத அன்பு </samp>
<span class="chordline"><b>G#m</b>      <b>C#m</b>      <b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">புறம்பே தள்ளாத பூரண அன்பு (2) </samp>
<span class="chordline"><b>B</b>                 <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">இது ஒப்பில்லாத அன்பு</samp>
<span class="chordline"><b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பூரண அன்பு (2)</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>B</b>                       <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">குழியில் விழுந்தோரை குனிந்து தூக்கும் அன்பு</samp>
<span class="chordline"><b>C#m</b>                       <b>F#</b>                <b>B</b></span>
<samp charset="UTF-8" class="lyricline">குப்பையில் இருப்போரை எடுத்து நிறுத்தும் அன்பு (2)</samp>
<span class="chordline"><b>B</b>        <b>D#m</b>        <b>E</b>            <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">ஒடுக்கப்பட்டோரை உயர்த்திடும் அன்பு</samp>
<span class="chordline"><b>F#</b>                           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எந்தக் காலத்திலும் மாறாத அன்பு (2)</samp>
<span class="chordline"><b>B</b>                 <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">இது ஒப்பில்லாத அன்பு</samp>
<span class="chordline"><b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பூரண அன்பு (2</samp>
<span class="chordline"><b>B</b>            <b>C#m</b>        <b>F#</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் அன்பு இது ஒப்பில்லாத அன்பு </samp>
<span class="chordline"><b>G#m</b>      <b>C#m</b>      <b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">புறம்பே தள்ளாத பூரண அன்பு (2) </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>B</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மனிதர்கள் மாறினாலும் மாறிடாத அன்பு</samp>
<span class="chordline"><b>C#m</b>                       <b>F#</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மகனாய் ஏற்றுக்கொண்ட மகா பெரிய அன்பு (2)</samp>
<span class="chordline"><b>B</b>        <b>D#m</b>           <b>E</b>            <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மீட்பதற்காய் உலகத்திலே வந்து</samp>
<span class="chordline"><b>F#</b>                                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தன்னையே தந்துவிட்ட தகப்பனின் அன்பு (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>            <b>C#m</b>        <b>F#</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் அன்பு இது ஒப்பில்லாத அன்பு </samp>
<span class="chordline"><b>G#m</b>      <b>C#m</b>      <b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">புறம்பே தள்ளாத பூரண அன்பு (2) </samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>          <b>D#m</b>         <b>G#m</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆழமான ஆழியிலும் ஆழமான அன்பு</samp>
<span class="chordline"><b>C#m</b>      <b>E</b>              <b>F#</b>         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்த மலைகளிலும் உயரமான அன்பு</samp>
<span class="chordline"><b>B</b>                         <b>G#m</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அளந்து பார்க்க முடியாத அளவில்லாத அன்பு</samp>
<span class="chordline"><b>C#m</b>        <b>E</b>        <b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">விவரிக்க முடியாத அற்புத அன்பு (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>            <b>C#m</b>        <b>F#</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் அன்பு இது ஒப்பில்லாத அன்பு </samp>
<span class="chordline"><b>G#m</b>      <b>C#m</b>      <b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">புறம்பே தள்ளாத பூரண அன்பு (2) </samp>
<span class="chordline"><b>B</b>                 <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">இது ஒப்பில்லாத அன்பு</samp>
<span class="chordline"><b>F#</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பூரண அன்பு (2)</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>