<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3769" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே</samp>
<span class="chordline">     <b>Em</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே (2)</samp>
<span class="chordline"><b>Am</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தாருமே</samp>
<span class="chordline"><b>G</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயத்தைத் தாருமே (2)</samp>
<span class="chordline"><b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">அக்கினி ஊற்றுமே</samp>
<span class="chordline">          <b>F</b>               <b>Am</b>         </span>
<samp charset="UTF-8" class="lyricline">என்னை அனலாய் மாற்றுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே</samp>
<span class="chordline">     <b>Em</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே (2)</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">Verse 1</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வறண்டுபோன நிலத்தைப் போல</samp>
<span class="chordline">     <b>C</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் ஏங்குதே</samp>
<span class="chordline"><b>Dm</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூய ஆவி தேவ ஆவி</samp>
<span class="chordline"><b>G</b>                   <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">மழை போல் வாருமே (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே</samp>
<span class="chordline">     <b>Em</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வியாதியோடு கஷ்டப்படுவோர்</samp>
<span class="chordline">     <b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் சுகத்தைப் பெறணுமே</samp>
<span class="chordline"><b>Dm</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுகமாக்கும் தேவ ஆவி</samp>
<span class="chordline"><b>G</b>                     <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">இப்போ இறங்கி வாருமே (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே</samp>
<span class="chordline">     <b>Em</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தாருமே</samp>
<span class="chordline"><b>G</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயத்தைத் தாருமே (2)</samp>
<span class="chordline"><b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">அக்கினி ஊற்றுமே</samp>
<span class="chordline">          <b>F</b>               <b>Am</b>         </span>
<samp charset="UTF-8" class="lyricline">என்னை அனலாய் மாற்றுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே</samp>
<span class="chordline">     <b>Em</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியே வாருமே (2)</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>