<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3770" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சின்ன மனுஷனுக்குள்ள</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய ஆண்டவர் வந்தா</samp>
<span class="chordline">                            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய பெரிய அற்புதங்கள் நடக்கும்</samp>
<span class="chordline">     <b>C</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்துக்குள்ள தேவ வல்லமை வந்தா</samp>
<span class="chordline"><b>Bb</b>                     <b>A</b>             <b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">உன்னைக் கொண்டும் எல்லாம் நடக்கும் (repeat)</samp>
<span class="chordline"><b>Dm</b>                                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னைக் கொண்டு அற்புதங்கள் நடக்கும்</samp>
<span class="chordline"><b>Gm</b>                           <b>F</b>      <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">உலகமே உன்னைப் பார்த்து வியக்கும் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சின்ன மனுஷனுக்குள்ள</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பெரிய ஆண்டவர் வந்தா</samp>
<span class="chordline">                           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய பெரிய அற்புதங்கள் நடக்கும்</samp>
<span class="chordline">     <b>C</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்துக்குள்ள தேவ வல்லமை வந்தா</samp>
<span class="chordline"><b>Bb</b>                     <b>A</b>              <b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">உன்னைக் கொண்டும் எல்லாம் நடக்கும் (repeat)</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">Verse 1</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தெருவில் பேதுருவைத் தேடி</samp>
<span class="chordline"><b>Gm</b>                <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஒடி வந்ததே ஓர் கூட்டம் (2)</samp>
<span class="chordline"><b>Dm</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நிழலைத் தொட்டவுடன் வியாதி </samp>
<span class="chordline"><b>Gm</b>                        <b>F</b> <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லாம போனதையா ஓ டி (2)</samp>
<span class="chordline">     <b>Gm</b>           <b>F</b>              <b>A7</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்துல கர்த்தர் வந்தா எல்லாமே மாறும்   </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சின்ன மனுஷனுக்குள்ள</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பெரிய ஆண்டவர் வந்தா</samp>
<span class="chordline">                           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய பெரிய அற்புதங்கள் நடக்கும்</samp>
<span class="chordline">     <b>C</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்துக்குள்ள தேவ வல்லமை வந்தா</samp>
<span class="chordline"><b>Bb</b>                     <b>A</b>              <b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">உன்னைக் கொண்டும் எல்லாம் நடக்கும் (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய ராட்சதன பார்த்து</samp>
<span class="chordline"><b>Gm</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஓடி ஒளிந்ததையா யசஅல</samp>
<span class="chordline"><b>Dm</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உழழடஆ வந்தாரய்யா தாவீது</samp>
<span class="chordline"><b>Gm</b>                    <b>F</b>        <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">கூழாங் கல்ல விட்டு ஜெயித்தாரு (2)</samp>
<span class="chordline">     <b>Gm</b>           <b>F</b>              <b>A7</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்துல கர்த்தர் வந்தா எல்லாமே மாறும்  </samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சின்ன மனுஷனுக்குள்ள</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பெரிய ஆண்டவர் வந்தா</samp>
<span class="chordline">                           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய பெரிய அற்புதங்கள் நடக்கும்</samp>
<span class="chordline">     <b>C</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்துக்குள்ள தேவ வல்லமை வந்தா</samp>
<span class="chordline"><b>Bb</b>                     <b>A</b>              <b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">உன்னைக் கொண்டும் எல்லாம் நடக்கும் (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னைக் கொண்டு அற்புதங்கள் நடக்கும்</samp>
<span class="chordline"><b>Gm</b>                           <b>F</b>      <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">உலகமே உன்னைப் பார்த்து வியக்கும் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சின்ன மனுஷனுக்குள்ள</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">பெரிய ஆண்டவர் வந்தா</samp>
<span class="chordline">                           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய பெரிய அற்புதங்கள் நடக்கும்</samp>
<span class="chordline">     <b>C</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன் உள்ளத்துக்குள்ள தேவ வல்லமை வந்தா</samp>
<span class="chordline"><b>Bb</b>                     <b>A</b>              <b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">உன்னைக் கொண்டும் எல்லாம் நடக்கும் (repeat)</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>