<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3771" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                   <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிப்பேன் நேசிப்பேன் </samp>
<span class="chordline"> <b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசிப்பேன் இயேசுவே (2)</samp>
<span class="chordline"><b>Em</b>      <b>Am</b>  <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை (2)</samp>
<span class="chordline"><b>Em</b>                   <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிப்பேன் நேசிப்பேன் </samp>
<span class="chordline"><b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசிப்பேன் இயேசுவே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மாறாதவர் நீர் மாறாதவர்</samp>
<span class="chordline"><b>D</b>               <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு நீர் மாறாதவர் (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிப்பேன் நேசிப்பேன் </samp>
<span class="chordline"><b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசிப்பேன் இயேசுவே (2))</samp>
<span class="chordline"><b>Em</b>      <b>Am</b>  <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆராதனை ஆராதனை (2)</samp>
<span class="chordline"><b>Em</b>                   <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிப்பேன் நேசிப்பேன் </samp>
<span class="chordline"><b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசிப்பேன் இயேசுவே (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிப்பேன் நேசிப்பேன் </samp>
<span class="chordline"><b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசிப்பேன் இயேசுவே (2)</samp>
<span class="chordline"><b>Em</b>                   <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிப்பேன் நேசிப்பேன் </samp>
<span class="chordline"><b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசிப்பேன் இயேசுவே (2)</samp>
<span class="chordline"><b>Em</b>                   <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிப்பேன் நேசிப்பேன்</samp>
<span class="chordline"><b>D</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசிப்பேன் இயேசுவே (2)</samp>
<span class="blankline"></span></div></div>   
        
     </div>