<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3772" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாமே மாறப் போகுது</samp>
<span class="chordline">     <b>Cm</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் எல்லாமே மாறப் போகுது</samp>
<span class="chordline">     <b>Cm</b>                              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் வாழ்;க்க குரடடஆ மாறப் போகுது</samp>
<span class="chordline">      <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஜெபிச்சதெல்லாம் நடக்க போகுது (repeat)</samp>
<span class="chordline"><b>Bb</b>                         <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">மாறப் போகுது எல்லாமே மாறப் போகுது</samp>
<span class="chordline"><b>Cm</b>                           <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் வல்லமையால் மாறப் போகுது (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                      </span>
<samp charset="UTF-8" class="lyricline">என் நெருக்கமெல்லாம் மாறப் போகுது</samp>
<span class="chordline">     <b>Cm</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அது விசாலமா மாறப் போகுது (2)</samp>
<span class="chordline">     <b>Cm</b>                              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் நெருக்கமெல்லாம் மாறப் போகுது</samp>
<span class="chordline">     <b>D7</b>               </span>
<samp charset="UTF-8" class="lyricline">அது விசாலமா மாறப் போகுது (2)</samp>
<span class="chordline"><b>Bb</b>                         <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">மாறப் போகுது எல்லாமே மாறப் போகுது</samp>
<span class="chordline"><b>Cm</b>           <b>Eb</b>              <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் வல்லமையால் மாறப் போகுது (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜெப நேரம் அதிகமாகுது</samp>
<span class="chordline">     <b>Cm</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் துதி நேரம் அதிகமாகுது (2)</samp>
<span class="chordline">     <b>Cm</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜெப நேரம் அதிகமாகுது </samp>
<span class="chordline">     <b>D7</b>                  </span>
<samp charset="UTF-8" class="lyricline">என் துதி நேரம் அதிகமாகுது </samp>
<span class="chordline"><b>Cm</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியா மாறப் போகுது</samp>
<span class="chordline">        <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்க வல்லமையா மாறப் போகுது</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                         <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">மாறப் போகுது எல்லாமே மாறப் போகுது</samp>
<span class="chordline"><b>Cm</b>           <b>Eb</b>              <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் வல்லமையால் மாறப் போகுது (2)</samp>
<samp charset="UTF-8" class="lyricline">ஓ... ஓ... ஓ... ஓ...</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                         <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">மாறப் போகுது எல்லாமே மாறப் போகுது</samp>
<span class="chordline"><b>Cm</b>           <b>Eb</b>              <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் வல்லமையால் மாறப் போகுது (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் கவலையெல்லாம் மாறப் போகுது</samp>
<span class="chordline">     <b>Cm</b>                            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் கண்ணீரெல்லாம் நீங்கப் போகுது</samp>
<span class="chordline">     <b>Cm</b>                              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் அழுகையெல்லாம் மாறப் போகுது</samp>
<span class="chordline">      <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">அது ஆனந்தமா மாறப் போகுது (repeat)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                         <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">மாறப் போகுது எல்லாமே மாறப் போகுது</samp>
<span class="chordline"><b>Cm</b>           <b>Eb</b>              <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் வல்லமையால் மாறப் போகுது (2)</samp>
<samp charset="UTF-8" class="lyricline">ஓ... ஓ... ஓ... ஓ...</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bb</b>                         <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">மாறப் போகுது எல்லாமே மாறப் போகுது</samp>
<span class="chordline"><b>Cm</b>           <b>Eb</b>              <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் வல்லமையால் மாறப் போகுது (2)</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>