<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3810" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>         <b>Am</b>    <b>Dm</b>        <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">கால்வாரியின் கருனணயிதே </samp>
<span class="chordline">        <b>C7</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">காயங்களில் காணுதே</samp>
<span class="chordline"><b>Bb</b>               <b>Am</b>   </span>
<samp charset="UTF-8" class="lyricline">கர்த்தன் இயேசு பார் </samp>
<span class="chordline">      <b>Dm</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உனக்காய் கஷ்டங்கள்</samp>
<span class="chordline"><b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சகித்தாரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                    <b>F7</b>      <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">விலையேறப் பெற்றதிருர்த்தமே </samp>
<span class="chordline">       <b>C</b>         <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் விலா வின்றுபாயுதே</samp>
<span class="chordline"><b>Bb</b>            <b>Am</b>             </span>
<samp charset="UTF-8" class="lyricline">விலையேறப் பெற்றோனாய் </samp>
<span class="chordline"><b>Dm</b>    </span>
<samp charset="UTF-8" class="lyricline">உன்னன மாற்ற</samp>
<span class="chordline"><b>Gm</b>          <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விலையாக ஈந்தனடரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                 <b>Am</b>    </span>
<samp charset="UTF-8" class="lyricline">பொன் வெலள்ளியோ  </samp>
<span class="chordline"><b>Dm</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணின் வாழ்வோ</samp>
<span class="chordline"><b>F</b>           <b>C7</b>          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இவ்வன்புக் கினணயாகுமோ</samp>
<span class="chordline"><b>Bb</b>               <b>Am</b>          <b>Dm</b> </span>
<samp charset="UTF-8" class="lyricline">அன்னனயிலும் அன்பு வைத்தே</samp>
<span class="chordline"><b>C</b>        <b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தம் ஜீவனன ஈந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">    -விலையேற</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>Am</b>  <b>Dm</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தையிலே பாரங்களும்</samp>
<span class="chordline"><b>F</b>             <b>C7</b>     <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தனைகள் ஏற்றவராய்</samp>
<span class="chordline"><b>Bb</b>             <b>Am</b>       <b>Dm</b> </span>
<samp charset="UTF-8" class="lyricline">தொங்குகிறார் பாதக்ன் போல்</samp>
<span class="chordline"><b>C</b>            <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மங்கா வாழ்வளிக்கவே</samp>
<samp charset="UTF-8" class="lyricline">   -விலையேற</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Am</b>   <b>Dm</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எந்தனுக்காய் க்ல்வாரியில்</samp>
<span class="chordline"><b>F</b>         <b>C</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இந்தப் பாடுக்ள் பட்டீர்</samp>
<span class="chordline"><b>Bb</b>              <b>Am</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையே உம் அன்பிதையே</samp>
<span class="chordline"><b>C</b>          <b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தித்தே சேவை செய்வேன்</samp>
<samp charset="UTF-8" class="lyricline">   -விலையேற</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Am</b>      <b>Dm</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மனுஷனை நீர் நினைக்கவும்</samp>
<span class="chordline"><b>F</b>         <b>C</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அவனை விசாரிக்கவும்</samp>
<span class="chordline"><b>Bb</b>             <b>Am</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணிலவன் எம்மாத்திரம்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மன்னவா உம் தயவே</samp>
<samp charset="UTF-8" class="lyricline">   -விலையேற</samp>
<span class="blankline"></span></div></div>   
        
     </div>