<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3811" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                        </span>
<samp charset="UTF-8" class="lyricline">மகிழ்வோம் மகிழ்வோம் </samp>
<span class="chordline">       <b>F#m</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தினம் அக மகிழ்வோம்</samp>
<span class="chordline">        <b>G</b>          </span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜன் நம் </samp>
<span class="chordline"><b>Em</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சொந்தமாயினார்</samp>
<span class="chordline"><b>D</b>               <b>D7</b>    </span>
<samp charset="UTF-8" class="lyricline">இந்தப் பார்தல்த்தின் </samp>
<span class="chordline">        <b>G</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சொந்தக்காரர் அவர் எந்தன்</samp>
<span class="chordline"><b>Bm</b>           <b>A7</b>        <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தின் சொந்தமானார் </samp>
<span class="chordline">                        <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">ஆ----ஆ----- ஆனந்தனமே</samp>
<span class="chordline">   <b>G</b>        <b>D</b>       <b>Bm</b>         <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரமானந்தமே இது மாபெரும் பாக்கியமே</samp>
<span class="chordline"><b>D</b>               <b>D7</b>            <b>G</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இந்தப் பார்தல்த்தின் சொந்தக்காரர் அவர் </samp>
<span class="chordline">        <b>Bm</b>          <b>A7</b>         <b>D</b>                                                         </span>
<samp charset="UTF-8" class="lyricline">எந்தன் உள்ளத்தின் சொந்தமானார்</samp>
<samp charset="UTF-8" class="lyricline">1</samp>
<span class="chordline"><b>D</b>                               <b>F#m</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சின்ன சிறு வயதில் என்னைக் குறித்து விட்டார்</samp>
<span class="chordline">       <b>G</b>          <b>Em</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தூரம் போயினும் கண்டு கொண்டார்</samp>
<span class="chordline"><b>D</b>          <b>D7</b>         <b>G</b>         <b>D</b>                </span>
<samp charset="UTF-8" class="lyricline">தமது ஜீவனை எனகிகும் அளித்து</samp>
<span class="chordline">         <b>Bm</b>              <b>A7</b>         <b>D</b>                                                         </span>
<samp charset="UTF-8" class="lyricline">"ஜீவன் பெறிறுகிகொள்" என்றுரைத்தார்</samp>
<samp charset="UTF-8" class="lyricline">   ...  ஆ---ஆ---ஆனந்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                           <b>F#m</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தச் சூழ்நிலையும் அவர் அன்பினின்று</samp>
<span class="chordline">          <b>G</b>          <b>Em</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னைப் பிரிக்காது காத்துக் கொள்வார்</samp>
<span class="chordline"><b>D</b>                 <b>D7</b>       <b>G</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நம்பி அவர் தந்த பொறுப்பதனை</samp>
<span class="chordline">       <b>Bm</b>           <b>A7</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வரும் வரை காத்துக் கொள்வேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...  ஆ---ஆ---ஆனந்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                                <b>F#m</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வரும் நளினில் என்னைக் கரம் அசைத்து</samp>
<span class="chordline">          <b>G</b>         <b>Em</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அன்பாய் கூப்பிட்டு சேர்த்துக் கொள்வார்</samp>
<span class="chordline">      <b>D</b>      <b>D7</b>           <b>G</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எவர் சமூகமதில் அங்கே அவருடனே</samp>
<span class="chordline">      <b>Bm</b>      <b>A7</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆடிப்பாடியே மகிழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...  ஆ---ஆ---ஆனந்</samp>
<span class="blankline"></span></div></div>   
        
     </div>