<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3812" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>         <b>G</b>      <b>Am</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதித்துப் பாடிட பாத்திரமே</samp>
<span class="chordline"><b>F</b>          <b>Em</b>          <b>Dm</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துங்கவன் இயேசுவின் நாமமதே துதிகளின்</samp>
<span class="chordline"><b>F</b>          <b>G</b>                <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மத்தியில் வாசம் செய்யும் தூயனை நேயமாய்</samp>
<span class="chordline"><b>G</b>                 <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்தரிப்போமே </samp>
<span class="blankline"></span>
<span class="chordline">           <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆ! அற்புதமே அவர் நடத்துதலே</samp>
<span class="chordline"><b>Dm</b>       <b>G</b>     <b>C</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமே பரமானந்தமே நன்றியால் </samp>
<span class="chordline">      <b>G</b>        <b>F</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமே மிகப்பொங்கிடுதே நாம்</samp>
<span class="chordline"><b>F</b>          <b>G</b>       <b>Dm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயாதுதி சாற்றிடுவோம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>      <b>G</b>          <b>Am</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கடந்த நாட்களில் கண்மணிபோல்</samp>
<span class="chordline"><b>F</b>      <b>Em</b>               <b>Dm</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன்  நம்மைக்  காத்தாரே</samp>
<span class="chordline"><b>C</b>         <b>F</b>         <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரையே நம்பி ஜீவித்திட</samp>
<span class="chordline"><b>C</b>            <b>F</b>          <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையும்  ஈத்ததால் ஸ்தோத்தரிப்போமே              </samp>
<samp charset="UTF-8" class="lyricline">  -ஆ!அற்புதம</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>G</b>        <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி  ஊடாய்  நடந்தாலும்</samp>
<span class="chordline"><b>F</b>         <b>Em</b>           <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆழியில் தண்ணீரைக் கடந்தாலும்</samp>
<span class="chordline"><b>C</b>           <b>F</b>         <b>G</b>          <b>C</b>                              </span>
<samp charset="UTF-8" class="lyricline">சோதமனையோ மிகப்பெருகினாலும்</samp>
<span class="chordline"><b>C</b>            <b>F</b>        <b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம் நமக்கீந்ததால் ஸ்தோத்தரிப்போமே         </samp>
<samp charset="UTF-8" class="lyricline">  -ஆ!அற்புதமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>G</b>      <b>Am</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இந்த வானந்திர யாத்திரையில்</samp>
<span class="chordline"><b>F</b>          <b>Em</b>         <b>Dm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இன்பராம் இயேசு நம்மோடிருப்பார்</samp>
<span class="chordline"><b>C</b>          <b>F</b>        <b>G</b>         <b>C</b>                              </span>
<samp charset="UTF-8" class="lyricline">போகையிலும் நம் வருகையிலும்</samp>
<span class="chordline"><b>C</b>         <b>F</b>         <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புகலிடம் ஆனதால் ஸ்தோத்தரிப்போமே                      </samp>
<samp charset="UTF-8" class="lyricline">   -ஆ!அற்புமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>            <b>G</b>         <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வா சைகள்  தீர்திதிட வந்திடுவார்</samp>
<span class="chordline"><b>F</b>           <b>Em</b>       <b>Dm</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாரும் என்றே நாம் அழைத்திடுவோம்</samp>
<span class="chordline"><b>C</b>         <b>F</b>          <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானத்திலே ஒன்று சேர்த்திடும் நள்</samp>
<span class="chordline"><b>C</b>             <b>F</b>        <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">விரைந்து நெருங்கிட ஸ்தோத்தர்ப்போமே                  </samp>
<samp charset="UTF-8" class="lyricline">   -ஆ!அறிபுதமே</samp>
<span class="blankline"></span></div></div>   
        
     </div>