<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3813" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாய் நாமே ஆர்ப்பிரிபோமே</samp>
<span class="chordline"><b>G</b>              <b>Bm</b>     <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அருமையாய் இயேசு நமக்களித்த அளவில்லாக்</samp>
<span class="chordline"><b>Bm</b>       <b>Am</b>         <b>D</b>    <b>D7</b>               <b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">கிருபை பெரிதல்லவோ அனுதின ஜீவியத்தில் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>C</b>        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவே என் முமுள்ளமே  </samp>
<span class="chordline"><b>G</b>            <b>Am</b>            <b>D</b>        <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">உன் அற்புத தேவனையே ஸ்தோத்தரி </samp>
<span class="chordline"><b>G</b>        <b>Bm</b>        <b>C</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பொங்கிடுதே என் உள்ளத்திலே</samp>
<span class="chordline"><b>D</b>           <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பேரன்பின் பெருவெள்ளமே</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">1</samp>
<span class="chordline"><b>G</b>                          <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கருனணயாய் இதுவரைக் கைவிடாமலே</samp>
<span class="chordline"><b>G</b>         <b>Bm</b>              <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணிபோல் எம்மைக் கர்த்தரே</samp>
<span class="chordline"><b>G</b>           <b>Bm</b>       <b>C</b>               <b>Am</b>  </span>
<samp charset="UTF-8" class="lyricline">கவலைகள் போக்கி கண்ணீர் துடைத்தார்</samp>
<span class="chordline"><b>D</b>           <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன் பாடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   -ஆத்துமாவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">படகிலே படுத்து உறங்கினாகலும்</samp>
<span class="chordline"><b>G</b>          <b>Bm</b>        <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">க்டும்புயல் அடித்துக் கவிழ்ந்தாலும்</samp>
<span class="chordline"><b>G</b>           <b>Bm</b>            <b>C</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கடலையும் காற்றையும் அமர்த்தி அம்மைக்</samp>
<span class="chordline"><b>D</b>          <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காத்தாரே அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">    -ஆத்துமாவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                           <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">யோர்தானைக் காடந்டோம் அவர் பெலத்தால்</samp>
<span class="chordline"><b>G</b>             <b>Bm</b>           <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எரிகோவைத் தகர்த்தோம் அவர் துதியால்</samp>
<span class="chordline"><b>G</b>       <b>Bm</b>         <b>C</b>            <b>Am</b>  </span>
<samp charset="UTF-8" class="lyricline">ஏசுவிம் நாமத்தில் ஜெயம் எடுத்தே</samp>
<span class="chordline"><b>D</b>          <b>D7</b>           <b>G</b>        </span>
<samp charset="UTF-8" class="lyricline">எம்றென்றுமாய் வாமுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   -ஆத்துமாவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தவான்களின் பாடுகளெல்லாம்</samp>
<span class="chordline"><b>G</b>         <b>Bm</b>      <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதி சீக்கிரத்தில் முடிகிறதே</samp>
<span class="chordline"><b>G</b>            <b>Bm</b>   <b>C</b>            <b>Am</b>  </span>
<samp charset="UTF-8" class="lyricline">விழிபபுடன் கூடி தரித்த் இருப்போம்</samp>
<span class="chordline"><b>D</b>            <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விரைந்தவர் வந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   -ஆத்துமாவே</samp>
<span class="blankline"></span></div></div>   
        
     </div>