<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3814" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                   <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நம்பியே ஜீவிப்போம்</samp>
<span class="chordline"><b>C7</b>       <b>Gm</b>            <b>Bb</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கவலை கஷ்ட்டங்கள் தீர்ந்திடும் </samp>
<span class="chordline"><b>F</b>           <b>F7</b>        <b>Bb</b>  <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடாக் காத்திடும் பரமனின்</samp>
<span class="chordline"><b>Am</b>    <b>Dm</b>         <b>C</b>             <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">சுரங்களை நாம் பற்றிக்கொள்வோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Bb</b>         </span>
<samp charset="UTF-8" class="lyricline">ஜீவதேவன் பின்செல்லுவோம்</samp>
<span class="chordline"><b>Bb</b>   <b>Am</b>        <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவஒளிதனை கண்டடைவோம்</samp>
<span class="chordline"><b>Am</b>        <b>Dm</b>       <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மானதின் காரிருள் நீங்கிடவே</samp>
<span class="chordline"><b>Bb</b>     <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மாசமாதானம் தங்கும்</samp>
<samp charset="UTF-8" class="lyricline">  -கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>Bb</b>         </span>
<samp charset="UTF-8" class="lyricline">உண்மை வழி நடந்திடும்</samp>
<span class="chordline"><b>Bb</b>     <b>Am</b>            <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமனுக்கென்றும் கர்த்தர் துனை</samp>
<span class="chordline"><b>Am</b>          <b>Dm</b>       <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கண்கள் அவன் மீது வைத்திடுவர்</samp>
<span class="chordline"><b>Bb</b>         <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கருத்தாய் காதிதிடுவார்                  </samp>
<samp charset="UTF-8" class="lyricline">  -கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>            <b>Bb</b>         </span>
<samp charset="UTF-8" class="lyricline">உள்ளமதின் பரங்களை</samp>
<span class="chordline"><b>Bb</b>        <b>Am</b>      <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஊக்கமய் கர்த்திரிடம் சொல்லுவோம்</samp>
<span class="chordline"><b>Am</b>        <b>Dm</b>        <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இக்கட்டு நேரத்தில் கூப்பிடுவோம்</samp>
<span class="chordline"><b>Bb</b>          <b>C7</b>      </span>
<samp charset="UTF-8" class="lyricline">இயேசு வந்தாதரிப்பார்                  </samp>
<samp charset="UTF-8" class="lyricline">   -கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அன்புமிகும் அண்ணலிவர்</samp>
<span class="chordline"><b>Bb</b>       <b>Am</b>          <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அருமை இயேசுவை நெருங்குவோம்</samp>
<span class="chordline"><b>Am</b>           <b>Dm</b>            <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தம்மண்டை வந்தோரைத் தள்ளிடாரே</samp>
<span class="chordline"><b>Bb</b>        <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கி அனணந்திடுவார்                  </samp>
<samp charset="UTF-8" class="lyricline">  -கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமானின் சிரசின் மேல்</samp>
<span class="chordline"><b>Bb</b>      <b>Am</b>        <b>C</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ஆசீர் வந்திற்குமே</samp>
<span class="chordline"><b>Am</b>       <b>Dm</b>         <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை நன்மைகள் தொடருமே</samp>
<span class="chordline"><b>Bb</b>       <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கேட்பது கிடைக்குமே                   </samp>
<samp charset="UTF-8" class="lyricline">  -கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இம்மைக்கேற்ற இன்பங்களை</samp>
<span class="chordline"><b>Bb</b>          <b>Am</b>            <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நம்மை விட்டே முற்றும் அகற்றுவோம்</samp>
<span class="chordline"><b>Am</b>      <b>Dm</b>           <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாறாத சந்தோஷம் தேடிடுவோம்</samp>
<span class="chordline"><b>Bb</b>       <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மறுமை இராஜ்ஜியத்தில்                 </samp>
<samp charset="UTF-8" class="lyricline">  -கர்த்தரை</samp>
<span class="blankline"></span></div></div>   
        
     </div>