<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3821" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>   <b>A</b>         <b>Bm</b>    <b>Em</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜகதலத்தின் இரட்சகா நமோ</samp>
<span class="chordline"><b>D</b>              <b>Em</b>       <b>A</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகத்தவத்தின் வித்தகா நமோ...</samp>
<span class="chordline"><b>A</b>            <b>G</b>            <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">இகபரத்தின் சத்துவா நமோ</samp>
<span class="chordline"><b>F#m</b>              <b>Em</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்கரித்தோம் பாதம் சரணமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>         <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">மாரநாதா அல்லோலூயா </samp>
<span class="chordline"><b>Bm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாரநாதா அல்லோலூயா</samp>
<span class="chordline"><b>Bm7</b>               <b>Em</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்காரித்தோம் பாதம் சரணமே</samp>
<span class="chordline"><b>Em</b>         <b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">மாரநாதா அல்லோலூயா </samp>
<span class="chordline"><b>Em</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாரநாதா அல்லோலூயா</samp>
<span class="chordline"><b>A</b>                  <b>G</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்காரித்தோம் பாதம் சரணமே</samp>
<span class="chordline"><b>Bm</b>         <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">மாரநாதா அல்லோலூயா </samp>
<span class="chordline"><b>Bm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாரநாதா அல்லோலூயா</samp>
<span class="chordline"><b>Bm7</b>               <b>Em</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்காரித்தோம் பாதம் சரணமே</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நித்திந சத்திய சுத்த மகத்துவ</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">அத்தனாம் வித்தக தேவனாம் இரட்சகா</samp>
<span class="chordline"><b>D</b>               <b>G</b>      <b>A</b>      <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">நாதன் உந்தன் பாதம் சரணமே                 </samp>
<samp charset="UTF-8" class="lyricline">   -மாரநாதா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>A</b>     <b>Bm</b>   <b>Em</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சத்ய வேத சீலனே நமோ</samp>
<span class="chordline"><b>D</b>          <b>Em</b>        <b>A</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்ய ஜீவ தேவனே நமோ</samp>
<span class="chordline"><b>A</b>            <b>G</b>            <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">தத்வ ஞான கோலனே நமோ</samp>
<span class="chordline"><b>F#m</b>              <b>Em</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்கரித்தோம் பாதம் சரணமே                </samp>
<samp charset="UTF-8" class="lyricline">  -மாரநாதா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>A</b>        <b>Bm</b>    <b>Em</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாவி என்னை மீட்டவர் நமோ</samp>
<span class="chordline"><b>D</b>              <b>Em</b>          <b>A</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி தன்னை அளிப்பவர் நமோ</samp>
<span class="chordline"><b>A</b>               <b>G</b>                <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">மேவி என்னை அணைப்பவர் நமோ</samp>
<span class="chordline"><b>F#m</b>              <b>Em</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்கரித்தோம் பாதம் சரணமே               </samp>
<samp charset="UTF-8" class="lyricline">   -மாரநாதா</samp>
<span class="blankline"></span></div></div>   
        
     </div>