<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3822" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>             <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆர்ப்பரி</samp>
<span class="chordline">                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஸ்தோத்தாரி </samp>
<span class="chordline">              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா கெம்பிரீ</samp>
<span class="chordline">              <b>Em</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா என்று கூறி</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆர்ப்பரி</samp>
<span class="chordline">                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஸ்தோத்தாரி</samp>
<span class="chordline">              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா கெம்பிரீ</samp>
<span class="chordline">              <b>Em</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா என்று கூறி</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">வீணைகளுடனும் யாழ்குழலுடனும்</samp>
<span class="chordline"><b>Am</b>                <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">எக்காள தம்புரோடும்</samp>
<span class="chordline"><b>D7</b>                        </span>
<samp charset="UTF-8" class="lyricline">சுரமண்டலங்களுடன் </samp>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஓசையுள்ள தாளத்துடன்</samp>
<span class="chordline"><b>D</b>         <b>C</b>            <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">நடனங்களோடு ஆர்ப்பரி</samp>
<span class="chordline">              <b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கின்னரங்களோடு ஸ்தோத்தரி</samp>
<span class="chordline">             <b>C</b>            <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">கீர்த்தனங்களோடு கெம்பிரி              </samp>
<samp charset="UTF-8" class="lyricline">  -அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாய விரிவை ஆ ஆ  ஆ</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அண்ணாந்து பார்த்து ஆ ஆ ஆ</samp>
<span class="chordline"><b>G</b>         <b>Am</b>      <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">அவரை ஸ்தோத்தரி</samp>
<span class="chordline"><b>C</b> </span>
<samp charset="UTF-8" class="lyricline">வல்லமையுள்ள ஆ ஆ ஆ</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கிரியைகளுக்காக ஆ ஆ ஆ</samp>
<span class="chordline"><b>C</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரை ஸ்தோத்தரி</samp>
<span class="chordline"><b>Am</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுவாசமுள்ள யாவும்</samp>
<span class="chordline"><b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாட்சிமை பொருந்திய</samp>
<span class="chordline"><b>D</b>           <b>Em</b>   <b>D7</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">தேவனைப் போற்றுமே                  </samp>
<samp charset="UTF-8" class="lyricline"> -அல்லேலூயா</samp>
<span class="blankline"></span></div></div>   
        
     </div>