<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3828" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு அழைக்கிறார்</samp>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு அழைக்கிறார</samp>
<span class="chordline"><b>D</b>           <b>Em</b>            </span>
<samp charset="UTF-8" class="lyricline">ஆவலாய்  உன்னைத் </samp>
<span class="chordline">    <b>G</b>              <b>A</b>     </span>
<samp charset="UTF-8" class="lyricline">தம் கரங்கள்  நீட்டியே</samp>
<span class="chordline"><b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு அழைக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எத்துன்ப நேரத்திலும்</samp>
<span class="chordline"><b>G</b>        <b>F#m</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் உனக்களிப்பார்</samp>
<span class="chordline"><b>A</b>                    </span>
<samp charset="UTF-8" class="lyricline">என்றுணர்ந்து நீயும் </samp>
<span class="chordline"><b>Em</b>         <b>Bm</b>   </span>
<samp charset="UTF-8" class="lyricline">இயேசுவை நோக்கினால்</samp>
<span class="chordline"><b>A</b>           <b>Bm</b>             <b>A</b>       <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">எல்லையில்லா  இன்பம் பெற்றிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline"> -இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>           <b>A</b>            <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">கண்ணீரெல்லாம் துடைப்பார், </samp>
<span class="chordline"><b>G</b>         <b>F#m</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கண்மனி போல்  காப்பார்</samp>
<span class="chordline"><b>A</b>                    </span>
<samp charset="UTF-8" class="lyricline">கார்மேகம் போன்ற்  </samp>
<span class="chordline"><b>Em</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கஷ்டங்க்ள்  வந்தாலும்</samp>
<span class="chordline"><b>A</b>            <b>Bm</b>         <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன் உன்னைக்  காத்திடவே                       </samp>
<samp charset="UTF-8" class="lyricline"> -இயேசு</samp>
<span class="blankline"></span></div></div>   
        
     </div>