<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3830" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                         </span>
<samp charset="UTF-8" class="lyricline">எந்தக் காலத்திலும் எந்த </samp>
<span class="chordline"><b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேரத்திலும் நன்றியால்</samp>
<span class="chordline">         <b>D</b>          <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">உம்மை நான் துதிப்பேன்  </samp>
<span class="chordline">    <b>Bm</b>           <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">ஏசுவே  உம்மை நான் </samp>
<span class="chordline">       <b>G</b>            <b>Am</b>     </span>
<samp charset="UTF-8" class="lyricline">துதிப்பேன்  துதிப்பேன்  </samp>
<span class="chordline">      <b>C</b>        <b>D</b>           <b>G</b>          </span>
<samp charset="UTF-8" class="lyricline">எந்த வேளையிலும் துதிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Bm</b>  <b>C</b>          <b>Am</b>    </span>
<samp charset="UTF-8" class="lyricline">ஆதியும் நீரே அந்தமும் நீரே   </samp>
<span class="chordline"><b>G</b>             </span>
<samp charset="UTF-8" class="lyricline">ஜோதியும் நீரே என் </samp>
<span class="chordline"><b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சொந்தமும் நீரே </samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Bm</b>    <b>C</b>         <b>Am</b>                 </span>
<samp charset="UTF-8" class="lyricline">தாய் தந்தை நீரே - தாதியும் நீரே</samp>
<span class="chordline"><b>G</b>                   <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாபரம் நீரே - என் தாரகம் நீரே   </samp>
<samp charset="UTF-8" class="lyricline"> ...எந்தக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Bm</b>       <b>C</b>           <b>Am</b>                 </span>
<samp charset="UTF-8" class="lyricline">வாழ்விலும் நீரே -   தாழ்விலும் நீரே</samp>
<span class="chordline"><b>G</b>                       <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாதையில் நீரே - என் பாதையில் நீரே </samp>
<samp charset="UTF-8" class="lyricline"> ...எந்தக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Bm</b>    <b>C</b>          <b>Am</b>                 </span>
<samp charset="UTF-8" class="lyricline">வானிலும் நீரே - பூவிலும் நீரே</samp>
<span class="chordline"><b>G</b>                     <b>D</b>           <b>G</b>          </span>
<samp charset="UTF-8" class="lyricline">ஆழியில் நீரே - என் ஆபத்தில் நீரே</samp>
<samp charset="UTF-8" class="lyricline"> ...எந்தக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Bm</b>      <b>C</b>           <b>Am</b>                 </span>
<samp charset="UTF-8" class="lyricline">துன்ப நேரத்தில் - இன்பமும் நீரே</samp>
<span class="chordline"><b>G</b>                       <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்னல் வேளையில் - மாறாதவர் நீரே</samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Bm</b>    <b>C</b>              <b>Am</b>                  </span>
<samp charset="UTF-8" class="lyricline">தேவனும் நீரே - என் ஜீவனும் நீரே</samp>
<span class="chordline"><b>G</b>                      <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ராஜ ராஜனும் - என்  சர்வமும் நீரே</samp>
<samp charset="UTF-8" class="lyricline"> ...எந்தக்</samp></div></div>   
        
     </div>