<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3831" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>       <b>Bm</b>     <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயமான  ஒளி மய  நாடாம்</samp>
<span class="chordline"><b>D</b>             <b>D7</b>                  </span>
<samp charset="UTF-8" class="lyricline">இயேசுவின்  நாடாம் நான் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாசிக்கும் நாடாம் என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>             <b>D7</b>            <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">இயேசுவின்  நாடாம் நான் வாஞ்சிக்கும் நாடாம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>D</b>       <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவம்  இல்லாத  நாடு  ஒரு சாபாமும்</samp>
<span class="chordline">         <b>G</b>   <b>Bm</b>       <b>Em</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">காணாநாடு  நித்திய  மகிழ்ச்சி  ஒயாத</samp>
<span class="chordline"><b>G</b>                <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கீதம்  உன்னதத்தில்  ஒசன்னா அல்லேலூயா</samp>
<samp charset="UTF-8" class="lyricline">  ... அதிசய</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>D</b>             <b>G</b>      </span>
<samp charset="UTF-8" class="lyricline">சந்திர சூரியன் இல்லை - ஆனால்</samp>
<span class="chordline"><b>C</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இருள் ஏதும் காணவில்லை (2)</samp>
<span class="chordline"><b>Bm</b>      <b>Em</b>     <b>Am</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ குமாரன் ஜோதியில் ஜோதி</samp>
<span class="chordline"><b>G</b>        <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய  வெளிச்சமவர்  என்றும் பகல் </samp>
<samp charset="UTF-8" class="lyricline">  ... அதிசய</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>D</b>               <b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">விதவித கொள்கை இல்லை - பல</samp>
<span class="chordline"><b>C</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பிரிவுள்ள பலகை இல்லை (2)</samp>
<span class="chordline"><b>Bm</b>         <b>Em</b>        <b>Am</b>        <b>G</b>                                   </span>
<samp charset="UTF-8" class="lyricline">ஒரே ஒரு குடும்பம் ஒரே ஒரு தலைவர்</samp>
<span class="chordline"><b>G</b>         <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எங்குமே அன்பு மயம் - அன்புள்ளோர் செல்லு </samp>
<samp charset="UTF-8" class="lyricline">  ... அதிசய</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>D</b>         <b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">பிரச்சனன ஏதும் இல்லை –வீண்</samp>
<span class="chordline"><b>C</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குழப்பங்கள் ஒன்றும் இல்லை (2)</samp>
<span class="chordline"><b>Bm</b>            <b>Em</b>      <b>Am</b>           <b>G</b>                                    </span>
<samp charset="UTF-8" class="lyricline">மொழி நிறம் ஜாதி   பற்று உடையோர்</samp>
<span class="chordline"><b>G</b>          <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எவருமே அங்கு இல்லை - அன்பே மொழி  </samp>
<samp charset="UTF-8" class="lyricline">  ... அதிசய</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>D</b>         <b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் இரத்தத்தினால் – பாவம்</samp>
<span class="chordline"><b>C</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கமுவினல் செல்லலாமே (2)</samp>
<span class="chordline"><b>Bm</b>         <b>Em</b>     <b>Am</b>                  <b>G</b>                      </span>
<samp charset="UTF-8" class="lyricline">இத்தனை பெரிய சிலாக்கியம் இழப்போர்</samp>
<span class="chordline">    <b>G</b>        <b>D7</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இப்பூமியில் எவரும் வேண்டாம் - இன்றே வாரீர் </samp>
<samp charset="UTF-8" class="lyricline">  ... அதிசய</samp>
<span class="blankline"></span></div></div>   
        
     </div>