<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3833" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>          <b>F#m</b>      <b>G</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கலமே  உமதடிமை நானே</samp>
<span class="chordline"><b>A7</b>         <b>F#7</b>   <b>Bm</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரிபேனே  அகமகிழ்ந்தே  </samp>
<span class="chordline"><b>D</b>           <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நீர் செய்த நன்மைகலையே</samp>
<span class="chordline"><b>A</b>          <b>Em</b>          <b>A</b>          <b>D</b>          </span>
<samp charset="UTF-8" class="lyricline">நித்தம் நித்தம்  நான் நினைப்பேனே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>A</b>            <b>G</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அளவற்ற அன்பினால் அனணப்பவரே </samp>
<span class="chordline"><b>A</b>            <b>G</b>            <b>A7</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணற்ற  நன்மையால் நிறைப்பவரே</samp>
<span class="chordline"><b>Em</b>            <b>G</b>       <b>A</b>             <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">மாசில்லாத  நேசரே  மகிமை பிரதாபா</samp>
<span class="chordline"><b>D</b>            <b>Em</b>         <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாசத்தால்  உம்பாதம் பற்றிடுவேனே</samp>
<samp charset="UTF-8" class="lyricline">   ...அடைக்கலமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>A</b>           <b>G</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்திதரே  உம் செய்கைகள் பெரியவைகளே</samp>
<span class="chordline"><b>A</b>             <b>G</b>            <b>A7</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தரே உம்  செயல்கள் மகத்துவமானதே</samp>
<span class="chordline"><b>Em</b>          <b>G</b>                <b>A</b>            <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">நித்தியரே  உம் நியாங்கள்  என்றும் நிற்குமே</samp>
<span class="chordline"><b>D</b>           <b>Em</b>        <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பக்தரின்   பேரின்ப  பாக்கியம் நீரே  </samp>
<samp charset="UTF-8" class="lyricline">   ...அடைக்கலமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                    <b>A</b>          <b>G</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை  என்றும்  போதித்து   நடத்துபவரே</samp>
<span class="chordline"><b>A</b>                   <b>G</b>            <b>A7</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்னை வைத்து  ஆலோசனை சொல்லுபவரே</samp>
<span class="chordline"><b>Em</b>        <b>G</b>             <b>A</b>        <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">நடக்கும்  வழிதனைக்  காட்டுபவரே</samp>
<span class="chordline"><b>D</b>         <b>Em</b>               <b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி வந்தோரை கிருபை சூழ்ந்து கொள்ளுதே </samp>
<samp charset="UTF-8" class="lyricline">   ...அடைக்கலமே </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">4</samp>
<span class="chordline"><b>D</b>           <b>A</b>           <b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கரம் பற்றி  நடத்தும்   கர்த்தர் நீரல்லோ</samp>
<span class="chordline"><b>A</b>           <b>G</b>             <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கூப்பிட்ட  என்னைக் குணமக்கினீரல்லோ</samp>
<span class="chordline"><b>Em</b>           <b>G</b>        <b>A</b>             <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">குழியில் விழாத படி காத்துக் கொண்டீரே</samp>
<span class="chordline"><b>D</b>              <b>Em</b>         <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அமுகையை  களிப்பாக  மாற்றி விட்டிரே </samp>
<samp charset="UTF-8" class="lyricline">   ...அடைக்கலமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>A</b>               <b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கனை  பாராதென்னை  பற்றிக்கொண்டிரே</samp>
<span class="chordline"><b>A</b>             <b>G</b>           <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாபங்கனை  நீக்கி சுத்த  உள்ளம் தந்தீரே</samp>
<span class="chordline"><b>Em</b>                 <b>G</b>                <b>A</b>            <b>Em</b>   </span>
<samp charset="UTF-8" class="lyricline">இரட்சண்யத்தின்  சந்தோஷத்தை  திரும்பத் தந்தீரே</samp>
<span class="chordline"><b>D</b>        <b>Em</b>               <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உற்சாக ஆவி என்னைத் தாங்கச் செய்தீரே  </samp>
<samp charset="UTF-8" class="lyricline">   ...அடைக்கலமே </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>