<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3835" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>      <b>Em</b>       <b>Am</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏசு என்ற திரு நாமத்திற்கு</samp>
<span class="chordline"><b>C</b>        <b>Am</b>         <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்போதுமே  மிக  ஸ்தோத்திரம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>       <b>Am</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானிலும் பூவிலும் மேலான  நாமம் </samp>
<span class="chordline"><b>G</b>          <b>F</b>       <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையுள்ள   நாமமது </samp>
<span class="chordline">        <b>Gm</b>         <b>C</b>            <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தூயர்  சொல்லித் துதித்திடும்  நாமமது  </samp>
<span class="chordline">       <b>Gm</b>         <b>C</b>            <b>F</b>     <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">தூயர் சொல்லித் துதித்திடும்  நாமமது </samp>
<samp charset="UTF-8" class="lyricline">   ....ஏசு என்ற</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>          <b>Am</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வேதாளம், பாதாளம்  யாவையும்  ஜெயித்த</samp>
<span class="chordline"><b>G</b>       <b>F</b>        <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வீரமுள்ள  திரு நாமமது</samp>
<span class="chordline">        <b>Gm</b>         <b>C</b>           <b>F</b>      <b>C</b>                 </span>
<samp charset="UTF-8" class="lyricline">நாமும் வென்றிடுவோமிந்த   நாமத்திலே - 2</samp>
<samp charset="UTF-8" class="lyricline">   ....ஏசு என்ற</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>        <b>G</b>           <b>Am</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்திலே மாளும் பாவியை மீட்க</samp>
<span class="chordline"><b>G</b>         <b>F</b>           <b>G</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாரினில் வந்த மெய் நாமமது</samp>
<span class="chordline">   <b>Gm</b>          <b>C</b>          <b>F</b>     <b>C</b>         </span>
<samp charset="UTF-8" class="lyricline">பரலோகத்தில் சேர்க்கும்  நாமமது  - 2</samp>
<samp charset="UTF-8" class="lyricline">   ....ஏசு என்ற</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>       <b>G</b>          <b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உத்தம பக்தர்கள்  போற்றித் துதித்திடும்</samp>
<span class="chordline"><b>G</b>         <b>F</b>           <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத  தேவனின்  நாமமது</samp>
<span class="chordline">    <b>Gm</b>              <b>C</b>         <b>F</b>      <b>C</b>        </span>
<samp charset="UTF-8" class="lyricline">உலகெங்கும்  ஜொலித்திடும்  நாமமது</samp>
<samp charset="UTF-8" class="lyricline">   ....ஏசு என்ற</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>G</b>          <b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ச சலம்  வருத்தம்  சோதனன  நேரத்தில் </samp>
<span class="chordline"><b>G</b>        <b>F</b>          <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கி  நடத்திடும்  நாமமது</samp>
<span class="chordline">       <b>Gm</b>      <b>C</b>         <b>F</b>     <b>C</b>        </span>
<samp charset="UTF-8" class="lyricline">தடை முற்றுமகற்றிடும்  நாமமது</samp>
<samp charset="UTF-8" class="lyricline">   ....ஏசு என்ற</samp>
<span class="blankline"></span></div></div>   
        
     </div>