<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3836" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>          <b>Bm</b>                <b>G</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு  கிறிஸ்துவின்  நல் சீடராகுவோம்</samp>
<span class="chordline"><b>G</b>               <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசத்தில் முன்  நடப்போம்</samp>
<span class="chordline">       <b>C</b>                     <b>B</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இனி  எல்லோருமே  அவர்  பணிக்கெனவே </samp>
<span class="chordline">           <b>G</b>           <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றாய்  எந்நாளும்  உழைத்திடுவோம்</samp>
<span class="chordline">     <b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நம்  இயேசு  ராஜாவே  இதோ வேகம்வாறாரே </samp>
<span class="chordline">     <b>G</b>          <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிவேகமாய்  செயல் படுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Bm</b>           <b>G</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மனிதர்   யாரிடமும்  பாசம் காட்டுவோம்</samp>
<span class="chordline"><b>G</b>                     <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு மந்தைக்குள் அழைத்திடுவோம்</samp>
<span class="chordline">      <b>C</b>                   <b>B</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அதி  உற்சாகமாய்  அதி சீக்கிரமாய்</samp>
<span class="chordline">        <b>G</b>             <b>Am</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இராஜ  பாதையை   செம்மையாக்குவோம் </samp>
<samp charset="UTF-8" class="lyricline">  --- நம்  இயேசு  </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Bm</b>          <b>G</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானின்   சதிகளைத்  தகர்த்திடுவோம்</samp>
<span class="chordline"><b>G</b>                    <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இனி யேசுவுக்காய்  வாழ்ந்திடுவோம்</samp>
<span class="chordline">       <b>C</b>                        <b>B</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இந்தப் பார் முமுவதும் இயேசு நாமத்தையே</samp>
<span class="chordline">         <b>G</b>         <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா  ஊரிலும்  எடுத்துரைப்போம்</samp>
<samp charset="UTF-8" class="lyricline">   ---  நம்  இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Bm</b>             <b>G</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி ஆத்துமா தேகம்  அவர் பணிக்கே</samp>
<span class="chordline">      <b>G</b>              <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இனி நான்  அல்ல அவரே  எல்லாம்</samp>
<span class="chordline">      <b>C</b>                          <b>B</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என  முடிவு செய்தோம் அதில்  நிலைத்திருப்போம்</samp>
<span class="chordline">       <b>G</b>           <b>Am</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர்  நாளினில்  மகிழ்ந்திடுவோம் </samp>
<samp charset="UTF-8" class="lyricline">  ---நம்  இயேசு    </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>