<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3839" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>          <b>Bb</b>           </span>
<samp charset="UTF-8" class="lyricline">உறக்கம்  தெளிவோம்  </samp>
<span class="chordline"><b>F</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">உற்சாகம்  கொள்வோம்</samp>
<span class="chordline"><b>C</b>             <b>Bb</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உலகத்தின்  இறுதிவரை </samp>
<span class="chordline"><b>Gm</b>         <b>C</b>            </span>
<samp charset="UTF-8" class="lyricline">கல்வாரி  தொனிதான்  </samp>
<span class="chordline"><b>Gm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மழைமாரி  பொழியும்</samp>
<span class="chordline"><b>Dm</b>          <b>C</b>            <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">நாள்வரை  உழைத்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Bb</b>           </span>
<samp charset="UTF-8" class="lyricline">அசுத்தம் களைவோம் </samp>
<span class="chordline"><b>F</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அன்பை  அழைப்போம் </samp>
<span class="chordline"><b>C</b>           <b>Bb</b>              <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஆவியில்  அனலுங்கொள்வோம்</samp>
<span class="chordline"><b>Gm</b>          <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">அவர்படை ஜெயிக்க  </samp>
<span class="chordline"><b>Gm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நம்மிடை   கருத்து </samp>
<span class="chordline"><b>Dm</b>          <b>C</b>              <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">வேற்றுமையின்றி வாழ்வோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Bb</b>           </span>
<samp charset="UTF-8" class="lyricline">அச்சம்  தவிர்ப்போம் </samp>
<span class="chordline"><b>F</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">தைரியம் கொவோம்</samp>
<span class="chordline"><b>C</b>           <b>Bb</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சருத்திரம்  சாட்சி கூறும் </samp>
<span class="chordline"><b>Gm</b>       <b>C</b>        </span>
<samp charset="UTF-8" class="lyricline">இரத்த  சாட்சிகள் </samp>
<span class="chordline"><b>Gm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நம்மிடை தோன்றி </samp>
<span class="chordline"><b>Dm</b>       <b>C</b>          <b>F</b>        </span>
<samp charset="UTF-8" class="lyricline">நாதனுக்காய்  மடீவோம்      </samp>
<samp charset="UTF-8" class="lyricline"> -உறக்கம்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>F</b>        <b>Bb</b>      </span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவுக்கய் </samp>
<span class="chordline"><b>F</b>          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இழந்தவர்  எவரும் </samp>
<span class="chordline"><b>C</b>          <b>Bb</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தரித்திரர் ஆனதில்லை </samp>
<span class="chordline"><b>Gm</b>       <b>C</b>                </span>
<samp charset="UTF-8" class="lyricline">ராஜிய  மேன்மைக்காய்  </samp>
<span class="chordline"><b>Gm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கஷ்டம்   அடைந்தோர்</samp>
<span class="chordline"><b>Dm</b>      <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நஷ்டப்பட்டதில்லை         </samp>
<samp charset="UTF-8" class="lyricline">  -உறக்கம்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Bb</b>        </span>
<samp charset="UTF-8" class="lyricline">உயிர்  பெறுவீர்  </samp>
<span class="chordline"><b>F</b>       <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்று  கூடுவீர்</samp>
<span class="chordline"><b>C</b>         <b>Bb</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உலர்ந்த எலும்புகளே</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>      </span>
<samp charset="UTF-8" class="lyricline">நீங்கள்  அறியா </samp>
<span class="chordline"><b>Gm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒருவர்  உங்கள்</samp>
<span class="chordline"><b>Dm</b>         <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நடுவில்  வந்துவிட்டார்        </samp>
<samp charset="UTF-8" class="lyricline"> -உறக்கம்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>