<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3840" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                <b>Am</b>          </span>
<samp charset="UTF-8" class="lyricline">உம்மைப்போல்  யாருண்டு  </samp>
<span class="chordline"><b>C</b>             <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன்  இயேசு நாதா இந்தப்</samp>
<span class="chordline"><b>Dm</b>         <b>F</b>            <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பார்தலத்தில்  உம்மைப்போல் யாருண்டு?</samp>
<span class="chordline"><b>C</b>        <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவப் பிடியினில் சிக்கி  நான்  உழன்றேன் </samp>
<span class="chordline"><b>C</b>            <b>F</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவா  தம் அன்பினால்  மன்னித்தீர் </samp>
<span class="chordline"><b>C</b>        <b>F</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவப் பிடியினில்  சிக்கி  நான்  உழன்றேன் </samp>
<span class="chordline"><b>C</b>             <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவா  தம்  அன்பினால்  மன்னித்தீர் </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>C</b>        <b>Am</b>        <b>C</b>          <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">உலகம் மாமிசம்பி சாசுக்கடியில் </samp>
<span class="chordline"><b>C</b>       <b>Dm</b>        <b>F</b>            <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அடிமையாகவே  பாவி  நான் ஜீவித்தேன்</samp>
<span class="chordline"><b>C</b>        <b>Am</b>            <b>C</b>                  <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">நிம்மதி  இழந்தேன்   தூய்மையை  மறந்தேன் </samp>
<span class="chordline"><b>C</b>             <b>Em</b>          <b>F</b>         <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மனம்போல்  நடந்தேன்  ஏமாற்றம் அடைந்தேன்</samp>
<span class="chordline"><b>C</b>             <b>Am</b>             </span>
<samp charset="UTF-8" class="lyricline">என்னை யா தேடினீர் ஜயா, </samp>
<span class="chordline"><b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">இயேசு நாதா  உம்மை</samp>
<span class="chordline"><b>C</b>        <b>F</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மறந்த  ஒர்துரோகி  நான்       </samp>
<span class="chordline"><b>C</b>              <b>F</b>              <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">என்னை யா  தேடினீர் ஜயா, இயேசு நாதா  </samp>
<span class="chordline"><b>C</b>         <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அடிமை  உமக்கே  இனி நான்</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைப்போல்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>              <b>Am</b>              <b>C</b>          <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">இன்றைக்கு   நான் செய்யும்  இந்தத்  தீர்மானத்தை</samp>
<span class="chordline"><b>C</b>              <b>Dm</b>        <b>F</b>           <b>G</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றைக்கும்  காத்திட  ஆவியால்  நிரப்பும் </samp>
<span class="chordline"><b>C</b>             <b>Am</b>           <b>C</b>          <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">நொறுக்கும்,  உருக்கும் , உடையும்  வனையும்</samp>
<span class="chordline"><b>C</b>          <b>Dm</b>      <b>F</b>       <b>G</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கே   உகந்த  தூய   சரீரமாய்</samp>
<span class="chordline"><b>C</b>            <b>Am</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜம்பொறிகளையும்  உமக்குள்  அடக்கும்</samp>
<span class="chordline"><b>C</b>           <b>F</b>          <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ஆவியால் நிரப்பும்</samp>
<span class="chordline"><b>C</b>               <b>F</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி வாழ்க்கையுள்ள  மகளாய்  திகழ</samp>
<span class="chordline"><b>C</b>          <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி  என்னுள்ளம்  இறங்கும்                   </samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைப்போல் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>