<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3843" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>       <b>C</b>      <b>F</b>         </span>
<samp charset="UTF-8" class="lyricline">உன்னதமானவரின் உயர் </samp>
<span class="chordline"><b>Gm</b>          <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மறைவிலிருக்கிறவன்</samp>
<span class="chordline"><b>F</b>          <b>Am</b>      <b>Gm</b>         <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">சர்வல்லவரின் நிழலில்தங்குவான் </samp>
<span class="chordline">      <b>Dm</b>    <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இது பரமசிலாக்கியமே</samp>
<span class="chordline"><b>F</b>            <b>A</b>        <b>Dm</b>        <b>Bb</b>   </span>
<samp charset="UTF-8" class="lyricline">சர்வவல்லவரின் நிழலில்தங்குவான் </samp>
<span class="chordline">     <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இது பரமசிலாக்கியமே</samp>
<span class="blankline"></span>
<span class="chordline">        <b>F</b>           <b>Bb</b>  </span>
<samp charset="UTF-8" class="lyricline">அவர் செட்டையின் கீழ் </samp>
<span class="chordline">        <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்க்லம்புகவே தம்</samp>
<span class="chordline"><b>F</b>       <b>A</b>         <b>Gm</b>   </span>
<samp charset="UTF-8" class="lyricline">சிறகுகளால் மூடுவார் </samp>
<span class="chordline">       <b>F</b>                       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் செட்டையின் கீழ் அடைக்கலம்</samp>
<span class="chordline">    <b>Bb</b>            <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புகவேதம் சிறகுகளால் மூடுவார்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>F</b>             <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் என் அடைக்கலமே</samp>
<span class="chordline">     <b>C</b>            <b>Gm</b>       <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">என் கோட்டையும் அரணுமவர்</samp>
<span class="chordline"><b>F</b>               <b>Bb</b>         <b>Gm</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் சத்தியம் பரிசையும் கேடகமாம்</samp>
<span class="chordline">     <b>C</b>         <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் நம்பிக்கையும் அவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...அவர் செட்டையின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>C</b>          <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரவின் பயங்கரத்திற்கும் பகலில்</samp>
<span class="chordline">     <b>Gm</b>         <b>F</b>                 <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பறக்கும் அம்புக்கும் இருளில் நடமாடும்</samp>
<span class="chordline">       <b>Gm</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கொள்ளை நோய்க்கும்</samp>
<span class="chordline">      <b>C</b>       <b>C7</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நான் பயப்படவே மாட்டேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...அவர் செட்டையின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>             <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் உன் அடைக்கலமே</samp>
<span class="chordline">      <b>C</b>             <b>Gm</b>               <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">ஒரு பொல்லாப்பும் உன்னைச் சேருமோ</samp>
<span class="chordline">      <b>F</b>          <b>Bb</b>      <b>Gm</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு வாதையும் உன் கூடாரத்தையே</samp>
<span class="chordline">      <b>C</b>        <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அணுகாமலே காத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...அவர் செட்டையின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உன் வழிகளிலெல்லாம் உன்னைத் </samp>
<span class="chordline"><b>C</b>         <b>Gm</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூதர்கள் காத்திடுவார் உன்</samp>
<span class="chordline"><b>F</b>          <b>Bb</b>       <b>Gm</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் கல்லில் இடறாதபடி</samp>
<span class="chordline">        <b>C</b>          <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தங்கள் கரங்களில் ஏந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...அவர் செட்டையின்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>