<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3844" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                <b>A</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னை  நேசிக்கின்றாயா</samp>
<span class="chordline">          <b>G</b>      <b>A</b>     <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">என்னை  நேசிக்கின்றாயா </samp>
<span class="chordline">     <b>D</b>      <b>G</b>            <b>Em</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரிக்  காட்சியைக் கண்டபின்னும் </samp>
<span class="chordline">     <b>Em</b>      <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேசியாமல் இருப்பாயா </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>            <b>F#m</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானம் பூமி படைத்திருந்தும்</samp>
<span class="chordline">     <b>Em</b>               <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாடினேன் உன்னை இழந்ததினால்</samp>
<span class="chordline">      <b>D</b>         <b>G</b>               <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேடி இரட்சிக்க பிதா என்னை அனுப்பிடவே</samp>
<span class="chordline">     <b>Em</b>        <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒடி வந்தேன் மானிடனாய்</samp>
<samp charset="UTF-8" class="lyricline"> -என்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>F#m</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தின் கொடூரத்தைப் பார்</samp>
<span class="chordline">      <b>Em</b>     <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதத்தின் முடிவினைப் பார்</samp>
<span class="chordline">   <b>D</b>     <b>G</b>          <b>D</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரிகாச சின்னமாம் சிலுவையிலே</samp>
<span class="chordline">     <b>Em</b>       <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பலியானேன் பாவி உனக்காய்   </samp>
<samp charset="UTF-8" class="lyricline"> -என்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>            <b>F#m</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் பாரா பரிசுத்தர் நான் </samp>
<span class="chordline">       <b>Em</b>       <b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாசம் பொங்க அழைக்கின்றேன் பார்</samp>
<span class="chordline">      <b>D</b>     <b>G</b>       <b>D</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாவ பாரம் யாவும் சுமப்பேனென்றேன்</samp>
<span class="chordline">       <b>Em</b>        <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் தன்னில் இளைப்பாறவா</samp>
<samp charset="UTF-8" class="lyricline"> -என்னை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>A</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிக்கின்றேன் நான்</samp>
<span class="chordline">         <b>G</b>     <b>A</b>         <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நேசிக்கின்றேன் நான் </samp>
<span class="chordline">     <b>D</b>    <b>G</b>           <b>Em</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி காட்சியைக் கண்ட பின்னும்</samp>
<span class="chordline">     <b>Em</b>       <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேசியாமால் இருப்பேனோ? </samp>
<samp charset="UTF-8" class="lyricline"> -என்னை</samp></div></div>   
        
     </div>