<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3845" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>          <b>Bm</b>   <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் கை குறுகவில்லை</samp>
<span class="chordline"><b>D</b>          <b>Am</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் வாக்கு மாறிடாதே</samp>
<span class="chordline"><b>G</b>       <b>C</b>    <b>G</b>          <b>Em</b>         <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தர்களாய் மாறிடவே சுதனருள் புரிந்தனரே – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b>     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசியே நீ பதறாதே </samp>
<span class="chordline"><b>D</b>               <b>B</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசியே நீ கலங்காதே </samp>
<span class="chordline"><b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசத்தால்நீ திமான்</samp>
<span class="chordline"><b>C</b>         <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும் பிழைப்பான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>    <b>Am</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியானவரே</samp>
<span class="chordline"><b>G</b>        <b>C</b>          <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த பாதையில் நடத்திடுவார்</samp>
<span class="chordline"><b>G</b>         <b>C</b>    <b>Am</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையிலே வளர்ந்திடுவோம்</samp>
<span class="chordline"><b>D</b>           <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வரங்களை நாடிடுவோம்                   </samp>
<samp charset="UTF-8" class="lyricline"> - விசுவாசியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>C</b>   <b>Am</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருச்சபையே கிரியை செய்வாய்</samp>
<span class="chordline"><b>G</b>         <b>C</b>        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தில்விய அன்பில் பெருகிடுவாய்</samp>
<span class="chordline"><b>G</b>             <b>C</b>    <b>Am</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தலைமுறையாய் தலைமுறையாய்</samp>
<span class="chordline"><b>D</b>           <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தழைத்திட அருள் புரிவார் </samp>
<samp charset="UTF-8" class="lyricline"> - விசுவாசியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>C</b>   <b>Am</b>       <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">நெஞ்சமே நீ  அஞ்சிடாதே</samp>
<span class="chordline"><b>G</b>       <b>C</b>       <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தஞ்சம் இயேசு உன் அரணே</samp>
<span class="chordline"><b>G</b>          <b>C</b>   <b>Am</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தம் ஜனத்தை சீக்கிரமாய்</samp>
<span class="chordline"><b>D</b>          <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தம்முடன் சேர்த்துக் கொள்வா</samp>
<samp charset="UTF-8" class="lyricline"> - விசுவாசியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>       <b>C</b>        <b>Am</b>          <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">மேகம் போன்று வாக்குத்தத்தம்</samp>
<span class="chordline"><b>G</b>    <b>C</b>        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கூழ நின்றே காத்திருக்க</samp>
<span class="chordline"><b>G</b>          <b>C</b>    <b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசத்தால் உரிமை கொள்வாய்</samp>
<span class="chordline"><b>D</b>               <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விரைந்து முன் கூகிடுவாய் </samp>
<samp charset="UTF-8" class="lyricline"> - விசுவாசியே</samp>
<span class="blankline"></span></div></div>   
        
     </div>