<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3846" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                <b>F#m</b>       <b>Bm</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">காக்கும் கரங்கள்  உண்டெனக்கு காத்திடுவார்</samp>
<span class="chordline"><b>D</b>       <b>A</b>      <b>D</b>              <b>G</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையாலே  அல்லேலூயா பாடிப்பாடி</samp>
<span class="chordline">        <b>Em</b>        <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அலைகளை நான் தாண்டிடுவேன் </samp>
<span class="chordline"><b>D</b>    <b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்புவேன்  இயேசுவை! </samp>
<span class="chordline">      <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்புவேன் இயேசுவை!</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>F#m</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தனைள்  போராட்டம் வந்தும்</samp>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் தேவன்  தாங்கினாரே</samp>
<span class="chordline"><b>D</b>           <b>F#m</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நேசக் கொடி   என்மேல் பறக்க</samp>
<span class="chordline">      <b>Em</b>          <b>A</b>        <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">நேசர் உமக்காய்   ஜீவித்திடுவேன்                 </samp>
<samp charset="UTF-8" class="lyricline"> -நம்புவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>            <b>F#m</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலைகள்  பெயர்க்கும் படியாய்க் </samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என்னைக்  கரம் பிடித்தார்</samp>
<span class="chordline"><b>D</b>           <b>F#m</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">காத்திருந்து  பெலன் அடைந்து</samp>
<span class="chordline">      <b>Em</b>    <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கழகு போல எமும்பிடுவேன்                    </samp>
<samp charset="UTF-8" class="lyricline">  -நம்புவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>F#m</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அத்தி மரம் துளிர் விடாமல்</samp>
<span class="chordline"><b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டு மந்தை முதல் அற்றாலும்</samp>
<span class="chordline"><b>D</b>         <b>F#m</b>     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கத்தருக்கு  காத்திருப்போர்</samp>
<span class="chordline">        <b>Em</b>     <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெட்கப்பட்டுப்  போவதில்லை                    </samp>
<samp charset="UTF-8" class="lyricline"> -நம்புவேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>