<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3847" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>            <b>C#m</b>         <b>F#m</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வனாந்திரம் வயல்வெளியாகும் நேரமே</samp>
<span class="chordline"><b>B</b>               <b>E</b>        <b>G#m</b>         <b>E</b>   </span>
<samp charset="UTF-8" class="lyricline">வெட்டாந்தரை நீர்த்தடாகமாக மாறுமே</samp>
<span class="chordline">             <b>C#m</b>     <b>E</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வயல்வெளி காடாக எண்ணப்படுமே</samp>
<span class="chordline">             <b>E</b>  <b>F#m</b>        <b>B</b>             <b>E</b>   </span>
<samp charset="UTF-8" class="lyricline">பின்மாரிக்யில் ஆறுகளும் பாய்ந்தோடுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>C#m</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வறண்ட நிலமும் மகிழ்ந்து பாடும்</samp>
<span class="chordline">            <b>G#m</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">காடுவெளி களித்து செழிக்கும்</samp>
<span class="chordline"><b>F#m</b>           <b>A</b>             <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">லீபனோனின் மகிமை வருமே</samp>
<span class="chordline"><b>E</b>                  <b>A</b>      <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்மேல் சாரோன் அழகு பெறுமே            </samp>
<samp charset="UTF-8" class="lyricline"> -வனாந்திரம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>C#m</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தளர்ந்த கைகளை திடப்படுத்தி</samp>
<span class="chordline">                       <b>G#m</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளாடும் கால்களை பெலப்படுத்தி</samp>
<span class="chordline"><b>F#m</b>                       <b>A</b>               <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">திடன் கொள்ளுங்கள் என்று சொல்லுவோம் </samp>
<span class="chordline"><b>E</b>                 <b>A</b>       <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பதில் அளிக்க தேவன் வருவார்             </samp>
<samp charset="UTF-8" class="lyricline">  -வனாந்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>             <b>C#m</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">குருடர்களின் கண்கள்  காணுமே</samp>
<span class="chordline">               <b>G#m</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">செவிடர்களின் செவிகள் கேட்குமே</samp>
<span class="chordline"><b>F#m</b>                <b>A</b>              <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">முடவன் மானைப் போல துள்ளுவான்</samp>
<span class="chordline"><b>E</b>           <b>A</b>       <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஊமையன் நாவும் பாடுமே                  </samp>
<samp charset="UTF-8" class="lyricline">  -வனாந்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>C#m</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கப்பட்டவர் பாடல் கேட்குமே</samp>
<span class="chordline">                  <b>G#m</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய மகிழ்ச்சி தலைமேல் தங்குமே</samp>
<span class="chordline"><b>F#m</b>                <b>A</b>           <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">சஞ்சலம் தவிப்பும் ஓடிப்போகுமே</samp>
<span class="chordline"><b>E</b>          <b>A</b>      <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆசீர்வாத மழை பொழியுமே                 </samp>
<samp charset="UTF-8" class="lyricline"> -வனாந்திரம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>