<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3848" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>       <b>Am</b>        <b>F</b>        <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நல்லவர் துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>Gm</b>         <b>Bb</b>                </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>                 <b>Bb</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline">            <b>Am</b>       <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>     <b>F</b>    <b>Bb</b>                           </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>          <b>Bb</b>          <b>Gm</b>       <b>F</b>                      </span>
<samp charset="UTF-8" class="lyricline">அற்ப்புதம் செய்பவரை துதியுங்கள்</samp>
<span class="chordline"><b>C</b>              <b>F</b>      <b>C</b>     <b>F</b>                    </span>
<samp charset="UTF-8" class="lyricline">அவா கிருபை என்றுமுள்ளது</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>Bb</b>  <b>F</b> <b>Gm</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து பாடு அல்லேலூயா</samp>
<span class="chordline"><b>F</b>         <b>Bb</b> <b>F</b>  <b>Gm</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்து பாடு அல்லேலூயா</samp>
<span class="chordline"><b>F</b>        <b>Bb</b> <b>F</b>  <b>Gm</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சேர்ந்து பாடு அல்லேலூயா</samp>
<span class="chordline"><b>F</b>         <b>Bb</b> <b>F</b>  <b>Gm</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போற்றிப் பாடு அல்லேலூயா</samp>
<span class="chordline"><b>C</b>          <b>F</b>  <b>Bb</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென்</samp>
<span class="chordline"><b>C</b>         <b>F</b> <b>Bb</b>  <b>C</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">துதித்துப் பாடு அல்லேலூயா</samp>
<span class="chordline"><b>C</b>         <b>F</b> <b>Bb</b>  <b>C</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">களித்துப் பாடு அல்லேலூயா</samp>
<span class="chordline"><b>F</b>          <b>Bb</b> <b>C</b>     <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>             <b>Am</b>            <b>F</b>       <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">வானங்களை விரித்தவரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>Gm</b>         <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>                        <b>Bb</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பூமியைப் படைத்தவரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline">             <b>Am</b>              <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சூரியனைப் படைத்தவரைத் துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>     <b>F</b>    <b>Bb</b>  </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>           <b>Bb</b>               <b>Gm</b>      <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">சந்திரனைப் படைத்தவரைத் துதியுங்கள்</samp>
<span class="chordline"><b>C</b>              <b>F</b>     <b>C</b>     <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது              </samp>
<samp charset="UTF-8" class="lyricline"> -மகிழ்ந்து பாடு  </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>Am</b>           <b>F</b>       <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">செங்கடலைக் பிளந்தவரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>Gm</b>        <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>                         <b>Bb</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அரசர்களை அழித்தவரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline">                <b>Am</b>             <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சேனைகளைக் கவிழ்த்தவரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>     <b>F</b>    <b>Bb</b>  </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>          <b>Bb</b>         <b>Gm</b>      <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">தேசத்தைத் தந்தவரை துதியுங்கள்</samp>
<span class="chordline"><b>C</b>              <b>F</b>     <b>C</b>     <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது             </samp>
<samp charset="UTF-8" class="lyricline">  -மகிழ்ந்து பாடு   </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>Am</b>               <b>F</b>        <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">தாழ்வில் நினைத்தவரைத் துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>Gm</b>         <b>Bb</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>                    <b>Bb</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை தந்தவரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline">         <b>Am</b>          <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாரம் தருபவரை துதியுங்கள்</samp>
<span class="chordline"><b>F</b>              <b>C</b>     <b>F</b>     <b>Bb</b>  </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது</samp>
<span class="chordline"><b>Gm</b>        <b>Bb</b>         <b>Gm</b>      <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">பரத்தின் தேவனைத் துதியுங்கள்</samp>
<span class="chordline"><b>C</b>              <b>F</b>     <b>C</b>     <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபை என்றுமுள்ளது              </samp>
<samp charset="UTF-8" class="lyricline"> -மகிழ்ந்து பாடு </samp></div></div>   
        
     </div>