<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3849" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>           <b>F#m</b>          <b>Bm</b>          <b>C</b>          </span>
<samp charset="UTF-8" class="lyricline">காலையும் மாலை, எவ்வேளையும் கர்த்தரைக் </samp>
<span class="chordline"><b>C7</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன்  பாடிடுவேன் </samp>
<span class="chordline"><b>D</b>         <b>G</b>        <b>Bm</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் பரிசுத்தர் பரிசுத்தர் எந்தூதர்</samp>
<span class="chordline"><b>Em</b>       <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாடிடும் தொனிகேட்குதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் வெளிச்சம் ஜீவனின் பெலனும் </samp>
<span class="chordline"><b>A</b>             <b>Em</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையாய் இரட்சிப்பு மானார் </samp>
<span class="chordline"><b>D</b>             <b>G</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அஞ்சிடாமல் கலங்காம்ல் பயமின்றி</samp>
<span class="chordline"><b>A</b>           <b>Em</b>          <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திகிலின்றி அனுதினம் வாழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...காலையும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கெதிராய் ஒர் பாளையமின்றி</samp>
<span class="chordline"><b>A</b>              <b>Em</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் மேல் ஒர் யுத்தம் வந்தாலும்</samp>
<span class="chordline"><b>D</b>           <b>G</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பயப்ப்டேன் எதிராளி நிமித்தமாய் </samp>
<span class="chordline"><b>A</b>              <b>Em</b>          <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செவ்வையான பாதையில் நடத்திடுவார்     </samp>
<samp charset="UTF-8" class="lyricline">   ...காலையும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்றை நான் கேட்டேன் அதையே நாடுவேன்</samp>
<span class="chordline"><b>A</b>            <b>Em</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் தம் மகிமையைக் காண</samp>
<span class="chordline"><b>D</b>           <b>G</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள நாளெல்லாம் தம் ஆலயத்தில் </samp>
<span class="chordline"><b>A</b>            <b>Em</b>         <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தங்குவதை வாஞ்சித்து நாடிடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...காலையும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தீங்கு நாளில் தம் கூடார மறைவில்</samp>
<span class="chordline"><b>A</b>            <b>Em</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேடிச் சேர்த்தென்னை மறைப்பார்</samp>
<span class="chordline"><b>D</b>              <b>G</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதத்தில் மறைவாக ஒளித்தென்னைப் </samp>
<span class="chordline"><b>A</b>           <b>Em</b>            <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்து உயர்த்துவார் கன்மலைமேல்</samp>
<samp charset="UTF-8" class="lyricline">   ...காலையும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் முகத்தை தேடுங்கள் என்று</samp>
<span class="chordline"><b>A</b>            <b>Em</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் கர்த்தர் சொன்னதினாலே</samp>
<span class="chordline"><b>D</b>              <b>G</b>            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தம் முகத்தை தேடுவேனே கூப்பிடும்</samp>
<span class="chordline">     <b>A</b>              <b>Em</b>        <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் சத்தம் கேட்டு தயவாகப் பதிலளிப்பார்  </samp>
<samp charset="UTF-8" class="lyricline">  ...காலையும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பனும் தாயும் கைவிட்டாலும் என்</samp>
<span class="chordline"><b>A</b>           <b>Em</b>             <b>A</b>     </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என்னை சேர்த்துக் கொள்வார்</samp>
<span class="chordline"><b>D</b>                <b>G</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் உள்ளம் ஸ்திரமாக திடமாக </samp>
<span class="chordline"><b>A</b>             <b>Em</b>            <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கே என்றெனறும் காத்திருக்கும்</samp>
<samp charset="UTF-8" class="lyricline">   ...காலையும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காக யாவும் செய்து முடிப்பார்</samp>
<span class="chordline"><b>A</b>            <b>Em</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் கர்த்தர் வாக்கு மாறிடார்</samp>
<span class="chordline"><b>D</b>              <b>G</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தமக்கென்றும் பயந்திடும் பக்தர் யாவர் </samp>
<span class="chordline"><b>A</b>            <b>Em</b>         <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விருப்பமும் தவறாமல் நிறைவேற்றுவார் </samp>
<samp charset="UTF-8" class="lyricline">   ...காலையும் </samp></div></div>   
        
     </div>