<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3869" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>     <b>Em</b>    <b>Am</b>     <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">தேவ சாயல் ஆக மாறி </samp>
<span class="chordline">     <b>G</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவனோடிருப்பேன்</samp>
<span class="chordline">       <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நானும் தேவனோடிருப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அந்த நாளும் நெருங்கிதே </samp>
<span class="chordline">           <b>Dm</b>   <b>F</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிவிரைவாய் நிறைவேறுதே </samp>
<span class="chordline"><b>C</b>           <b>G</b>        <b>Am</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணின் சாயலை நான் களைந்தேதம் </samp>
<span class="chordline"><b>C</b>        <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணவர் சாயல் அடைவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் கூடாராம் என்றும்</samp>
<span class="chordline">         <b>Dm</b>   <b>F</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீனமே அழித்திடுமே</samp>
<span class="chordline"><b>C</b>        <b>G</b>         <b>Am</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கைவேலை யல்லாத பொன் வீடு</samp>
<span class="chordline"><b>C</b>       <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கண்டடைந்து வாழ்ந்திடுவேன்               </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சோரும் உள்ளான மனிதன்</samp>
<span class="chordline">           <b>Dm</b>   <b>F</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சோதனையில் பெலமடைய</samp>
<span class="chordline"><b>C</b>       <b>G</b>          <b>Am</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றி தேற்றிடும் தேற்றரவாளன்</samp>
<span class="chordline"><b>C</b>       <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் என்னோடிருப்பார்                 </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியின் அச்சார மீந்தார்</samp>
<span class="chordline">        <b>Dm</b>    <b>F</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாய் சேர்ந்திடவே</samp>
<span class="chordline"><b>C</b>    <b>G</b>      <b>Am</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனே எனது கிறிஸ்தேசு</samp>
<span class="chordline"><b>C</b>     <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாவு எந்தன் ஆதாயமே                     </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ</samp></div></div>   
        
     </div>