<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3870" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                <b>Em</b>      <b>Am</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தொல்லைக் க‌ஷ்டங்கள் சூழ்ந்திடும்</samp>
<span class="chordline"><b>Dm</b>          <b>G</b>      <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">துன்பம் துக்கம் வரும்</samp>
<span class="chordline"><b>C</b>           <b>Em</b>      <b>Am</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இன்பத்தில் துன்பம் நேர்ந்திடும் </samp>
<span class="chordline"><b>Dm</b>         <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருளாய் தோன்றும் எங்கும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>C7</b>      <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சோதனை வரும் வேளையில்</samp>
<span class="chordline"><b>C</b>               <b>C7</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சொற்கேட்கும் செவியிலே</samp>
<span class="chordline"><b>C</b>      <b>Em</b>      <b>Am</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரத்திலிருந்து ஜெயம் வரும்</samp>
<span class="chordline"><b>Dm</b>               <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரன் என்னைக் காக்க வல்லோர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>            <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">காக்கும் வல்ல மீட்பர் </samp>
<span class="chordline"><b>F</b>           <b>G</b>  <b>F</b>           <b>C</b> <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உண்டெனக்கு உண்டெனக்கு உண்டெனக்கு</samp>
<span class="chordline"><b>C</b>            <b>C7</b>        <b>F</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காக்கும் வல்ல மீட்பர் உண்டெனக்கு</samp>
<span class="chordline"><b>F</b>          <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காத்திடு வார் என்றுமே</samp>
<span class="chordline"><b>F</b>        <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காத்திடுவார் என்றுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>     <b>Em</b>         <b>Am</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜயமிருந்ததோர் காலத்தில்</samp>
<span class="chordline"><b>Dm</b>        <b>G</b>     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஆவிக்குறைவத்தால் </samp>
<span class="chordline"><b>C</b>        <b>Em</b>  <b>Am</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மீட்பர் உதிர பெலத்தால்</samp>
<span class="chordline"><b>Dm</b>       <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சத்துருவை வென்றேன்</samp>
<span class="chordline"><b>C</b>          <b>C7</b>      <b>F</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் பயம் யாவும் நீக்கிற்றே</samp>
<span class="chordline"><b>C</b>            <b>C7</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கை தூக்கினார்</samp>
<span class="chordline"><b>C</b>             <b>Em</b>      <b>Am</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முற்றும் என் உள்ளம் மாறிற்று</samp>
<span class="chordline"><b>Dm</b>                <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசென்னைக் காக்க வல்லோர்</samp>
<samp charset="UTF-8" class="lyricline">   ...காக்கும் வல்ல</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>Em</b>      <b>Am</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்ன வந்தாலும் நம்புவேன்</samp>
<span class="chordline"><b>Dm</b>        <b>G</b>     <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">என் நேச மீட்பரை</samp>
<span class="chordline"><b>C</b>            <b>Em</b>      <b>Am</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">யார் கைவிட்டாலும் பின் செல்வேன்</samp>
<span class="chordline"><b>Dm</b>     <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனது இயேசுவை</samp>
<span class="chordline"><b>C</b>      <b>C7</b>   <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அகல ஆழ உயரமாய்</samp>
<span class="chordline"><b>C</b>       <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எவ்வள்வன்பு கூர்ந்தார்</samp>
<span class="chordline"><b>C</b>          <b>Em</b>      <b>Am</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்ன துன்பங்கள் வந்தாலும்</samp>
<span class="chordline">       <b>Dm</b>            <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவர் என்னைக் கைவிடமாட்டார்</samp>
<samp charset="UTF-8" class="lyricline">   ...காக்கும் வல்ல</samp>
<span class="blankline"></span></div></div>   
        
     </div>