<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3871" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>        <b>Em</b>              <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">போற்றி துதிப்போம் எம் தேவ தேவனை </samp>
<span class="chordline"><b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புதிய இதயமுடனே </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றும் என்றும்</samp>
<span class="chordline"><b>C</b>      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மாறா இயேசுவை நாம் </samp>
<span class="chordline"><b>Dm</b>       <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் பாடித்துதிப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                <b>F</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு என்னும் நாமமே என்</samp>
<span class="chordline"><b>F</b>                  <b>C</b>       <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவின் கீதமே என் நேசரேசுவை </samp>
<span class="chordline">               <b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்றும் போற்றி மகிழ்ந்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>      <b>Em</b>     <b>Am</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கோர பயங்கரமான புயலில்</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கொடிய அலையின் மத்தியில்</samp>
<span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காக்கும் கரம் கொண்டு மார்பில் சேர்த்தணைத்த</samp>
<span class="chordline"><b>Dm</b>        <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அன்பை என்றும் பாடுவேன்                       </samp>
<samp charset="UTF-8" class="lyricline">  -இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>Em</b>            <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யோர்தான் நதி போன்ற சோதனையிலும்</samp>
<span class="chordline"><b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்தமிழிந்து மாளாதே</samp>
<span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பின் ஜெய தொனியோடே</samp>
<span class="chordline">            <b>Dm</b>       <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்த அன்பை என்றும் பாடுவேன்             </samp>
<samp charset="UTF-8" class="lyricline">  -இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>Em</b>        <b>Am</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாய் தன் பாலகனையே மறப்பினும்</samp>
<span class="chordline"><b>G</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் மறவேன் என்று சொன்னதால்</samp>
<span class="chordline"><b>F</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்த்தி என்னை யவர் கையில் தந்து</samp>
<span class="chordline">     <b>Dm</b>      <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ பாதை என்றும் ஒடுவேன்                    </samp>
<samp charset="UTF-8" class="lyricline">   -இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>   <b>Em</b>         <b>Am</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பூமியகிலமும் சாட்சியாகவே</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">போங்களென்ற கட்டளையதால்</samp>
<span class="chordline"><b>F</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி,ஆத்துமாவும் தேகம் யாவுமின்று</samp>
<span class="chordline"><b>Dm</b>    <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஈந்து தொண்டு செய்குவேன்                      </samp>
<samp charset="UTF-8" class="lyricline">   -இயேசுவே</samp></div></div>   
        
     </div>