<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3872" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>         <b>Am</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் கூட்டம் நடுவில் </samp>
<span class="chordline">         <b>Gm</b>    <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜொலித்திடும் சுத்த ஜோதியே</samp>
<span class="chordline"><b>F</b>      <b>F7</b>      <b>Bb</b>      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அரூபியே இவ்வேளையில் </samp>
<span class="chordline">  <b>C</b>       <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அடியார் நெஞ்சம்வாரீரோ </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>Am</b>           <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தம் விரும்பும் சுத்தஜோதியே</samp>
<span class="chordline">       <b>Gm</b>   <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">விரும்பா அசுத்தம் யாவும் நீக்குமே</samp>
<span class="chordline"><b>F</b>         <b>Am</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பாவி நீச பாவி நான் ஜயா</samp>
<span class="chordline">       <b>C</b>        <b>C7</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவாஇரக்கம் செய்ய மாட்டீரோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>Am</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">மீன் கேட்டால் பாம்பை அருள்வார் உண்டோ</samp>
<span class="chordline">     <b>Gm</b>      <b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கல் தின்ன கொடுக்கும் பெற்றோர் உண்டோ</samp>
<span class="chordline"><b>F</b>               <b>Am</b>         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பொல்லாதோர் கூட செய்திடார்</samp>
<span class="chordline">    <b>C</b>    <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நற்பிதா நலம் அருள்வார்                               </samp>
<samp charset="UTF-8" class="lyricline"> -பரிசுத்தர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>          <b>Am</b>             <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பாரும் தந்தையே எந்தன் உள்ளத்தை</samp>
<span class="chordline">        <b>Gm</b>      <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">யாரும் காணா உள் அலங்கோலத்தை</samp>
<span class="chordline"><b>F</b>              <b>Am</b>       <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">மனம் நொந்து மருளுகிறேன்</samp>
<span class="chordline">   <b>C</b>       <b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தம் கெஞ்சுகின்றேன்                             </samp>
<samp charset="UTF-8" class="lyricline">  -பரிசுத்தர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>Am</b>        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">துணை வேண்டும் தகப்பனே உலகிலே</samp>
<span class="chordline">         <b>Gm</b>         <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை எதிர்க்கும் சக்திகள் பல உண்டு</samp>
<span class="chordline"><b>F</b>           <b>Am</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜீவன் எல்லை எங்கிலும்</samp>
<span class="chordline">   <b>C</b>       <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தம் என எமுதும்                                </samp>
<samp charset="UTF-8" class="lyricline">  -பரிசுத்தர் </samp></div></div>   
        
     </div>