<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3875" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                 <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறார் அழைக்கிறார் இதோ</samp>
<span class="chordline"><b>F</b>                 <b>C</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறார் அழைக்கிறார் இதோ</samp>
<span class="chordline"><b>F</b>          <b>C</b>          <b>F</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீயும்வா! உந்தன் நேசர் ஆவலாய்</samp>
<span class="chordline">                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறார் இதோ </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>Gm</b>    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தையேற்றவர் பலியாய்மாண்டவர் -- 2 </samp>
<span class="chordline"><b>F</b>             <b>C</b>           <b>Bb</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரியின் மேட்டினில் கண்கொள்ளாத காட்சியே</samp>
<span class="chordline"><b>Gm</b>          <b>F</b>             <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கண்டிடாய் வேண்டிடாய் பாவபாரம் நீங்கிடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>Gm</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நோயைய ஏற்றவர்; பேயையும் வென்றவர்</samp>
<span class="chordline"><b>F</b>        <b>C</b>              <b>Bb</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீதிபரன் உன் நோயை; நிச்சயமாய்த் தீர்த்தாரே</samp>
<span class="chordline"><b>Gm</b>        <b>F</b>             <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நோயுற்ற உன்னையே, நேயமாய் அழைக்கிறார்                   </samp>
<samp charset="UTF-8" class="lyricline">  -அழைக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>Gm</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துன்பம் சகித்தவர்; துயரடைந்தவர்</samp>
<span class="chordline"><b>F</b>            <b>C</b>              <b>Bb</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இன்னலுற்ற உன்னையே, அண்ணல் ஏசழைக்கிறார்</samp>
<span class="chordline"><b>Gm</b>         <b>F</b>           <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துன்புறும் நெஞ்சமே; துரிதமாந் நீ வாராயோ                      </samp>
<samp charset="UTF-8" class="lyricline">  -அழை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>Gm</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அந்தக் கேடடைந்தார்; அழகற்றுத் தோன்றினார்</samp>
<span class="chordline"><b>F</b>             <b>C</b>          <b>Bb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சொந்தமாகச் சேர்ந்திட; இந்தப் பாடடைந்ட்தாரே</samp>
<span class="chordline"><b>Gm</b>         <b>F</b>              <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிந்திக்கும் உன்னையும்; சந்திப்பார் நீ வாராயோ </samp>
<samp charset="UTF-8" class="lyricline">  -அழைக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>Gm</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கல்லறை திறக்க; காவலர் நடுங்க</samp>
<span class="chordline"><b>F</b>          <b>C</b>          <b>Bb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கஸ்திகளடைந்தாரே; கட்டுகளறுத்தாரே</samp>
<span class="chordline"><b>Gm</b>          <b>F</b>            <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்த்தார் ஜெயித்தார்; உண்டு மீட்புனக்குமே </samp>
<samp charset="UTF-8" class="lyricline">  -அழைக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>Gm</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாந்த சொரூபனே; சத்திய வாசனே</samp>
<span class="chordline"><b>F</b>           <b>C</b>          <b>Bb</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வஞ்சமற்ற வாயனே, வந்தணைக்கும் நேயனே</samp>
<span class="chordline"><b>Gm</b>        <b>F</b>            <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தஞ்சமே தன்னையே; தந்துன்னை அழைக்கிறார்</samp>
<samp charset="UTF-8" class="lyricline">  -அழைக்கிறார்</samp></div></div>   
        
     </div>