<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3878" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>            <b>B</b>  <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">அன்பே அன்பே அன்பே </samp>
<span class="chordline">         <b>B</b>  </span>
<samp charset="UTF-8" class="lyricline">ஆருயிர் உறவே</samp>
<span class="chordline"><b>E</b>          <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தம் ஆனந்தமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                     <b>A</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு நாள் உம் தயை கண்டேனையா</samp>
<span class="chordline">       <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அந்நாளெனை வெறுத்தேனையா!</samp>
<span class="chordline"><b>C#m</b>        <b>E</b>       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உம்தயை பெரிதையா</samp>
<span class="chordline"><b>E</b>         <b>F#m</b>        <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்மேல் உம்தயை பெரிதையா</samp>
<samp charset="UTF-8" class="lyricline">   ...அன்பே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>               <b>A</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகத்தின் அருமைப் பொருளே!</samp>
<span class="chordline">        <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நரலோகத்தின் அன்பேன் ஜயா!</samp>
<span class="chordline"><b>C#m</b>     <b>E</b>       <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆழம் அறிவேனோ - அன்பின்</samp>
<span class="chordline"><b>F#m</b>     <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆழம் அறிவேனோ ?</samp>
<samp charset="UTF-8" class="lyricline">   ...அன்பே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                      <b>A</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அலைந்தேன் பலநாள் உமையும் அறியா</samp>
<span class="chordline">         <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மறந்தே திரிந்த துரோகியை </samp>
<span class="chordline"><b>C#m</b>          <b>E</b>       <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அணைத்தீர் அன்பாலே; - எனையும்</samp>
<span class="chordline"><b>F#m</b>          <b>B</b>       <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">அணைத்தீர் அன்பாலே!</samp>
<samp charset="UTF-8" class="lyricline">   ...அன்பே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>A</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பூலோகத்தின் பொருளின் மகிமை</samp>
<span class="chordline">         <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அழியும் புல்லின் பூவைப்போல் </samp>
<span class="chordline"><b>C#m</b>    <b>E</b>    <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாடாதே ஜயா! - அன்பு</samp>
<span class="chordline"><b>F#m</b>    <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாடாதே ஜயா!</samp>
<samp charset="UTF-8" class="lyricline">   ...அன்பே</samp>
<span class="blankline"></span></div></div>   
        
     </div>