<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3882" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>       <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்த்கெமுந்தாரே அன்லேலூயா!</samp>
<span class="chordline"><b>F</b>       <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயித்தெமுந்தாரே</samp>
<span class="chordline"><b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயிருன் எமுந்த  மீட்பர் இயேசென்</samp>
<span class="chordline"><b>Dm</b>       <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சொந்த மானாரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கல்லறைத் திறந்திடவே</samp>
<span class="chordline">       <b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கடும் சேவகர் பயந்திடவே</samp>
<span class="chordline"><b>C</b>          <b>G</b>      <b>Am</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் இயேசு உயிர்த்த்தெமுந்தாரே</samp>
<span class="chordline"><b>Dm</b>        <b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வல்ல்ப் பிதாவின் செயலிதுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரித்தவர் மத்தியிலே</samp>
<span class="chordline">     <b>Am</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தேவனைத் தேடுவாரோ?</samp>
<span class="chordline"><b>C</b>        <b>G</b>       <b>Am</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் அதிபதி உயிர்த்தெமுந்தாரே </samp>
<span class="chordline"><b>Dm</b>      <b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய நம்பிக்கை பெருகிடுதே                  </samp>
<samp charset="UTF-8" class="lyricline">  -உயிர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எம்மா ஊர் சீஷர்களின்</samp>
<span class="chordline">        <b>Am</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா மன இருள் நீக்கினாரே</samp>
<span class="chordline"><b>C</b>         <b>G</b>           <b>Am</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எம்மனக் கலக்கங்கள் நீக்கினதாலே</samp>
<span class="chordline"><b>Dm</b>            <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லையில்லாப் பரமானந்தமே                   </samp>
<samp charset="UTF-8" class="lyricline">  -உயிர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரணமுன் கூர் எங்கே?</samp>
<span class="chordline">   <b>Am</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாதாள முன் ஜெயமெங்கே?</samp>
<span class="chordline"><b>C</b>           <b>G</b>           <b>Am</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாவையும் நோயையும் பேயையும் ஜெயித்தார்</samp>
<span class="chordline"><b>Dm</b>        <b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சபையோரே துதி சாற்றிடுவோம்                   </samp>
<samp charset="UTF-8" class="lyricline">  -உயிர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியால் இன்றும் என்றும்</samp>
<span class="chordline">    <b>Am</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆ!எம்மையும் உயிர்ப்பிக்கவே</samp>
<span class="chordline"><b>C</b>           <b>G</b>        <b>Am</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியின் அச்சாரம் எமக்களித்தாரே</samp>
<span class="chordline"><b>Dm</b>         <b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா துதி சாற்றிடுவோம்                   </samp>
<samp charset="UTF-8" class="lyricline"> -உயிர்</samp>
<span class="blankline"></span></div></div>   
        
     </div>