<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3887" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>           <b>Am</b>     <b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">எனக் கொத்தாசை வரும் </samp>
<span class="chordline">    <b>G</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பர்வதம் நேராய் என்</samp>
<span class="chordline"><b>G</b>          <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">கண்களை ஏறெடுப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானம்  பூமி யா   படைத்த </samp>
<span class="chordline">       <b>G</b>          <b>F</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லதேவனிடம் இருந்தே</samp>
<span class="chordline"><b>C</b>           <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானம்  பூமி யா   படைத்த </samp>
<span class="chordline">           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணுங்கடங்கா</samp>
<span class="chordline"><b>G</b>            <b>F</b>                  </span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் வருமே என்கண்கள் </samp>
<span class="chordline"><b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏறெடுப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>             <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மலைகள் பெயர்ந்தகன்றிடினும்</samp>
<span class="chordline">       <b>G</b>                <b>F</b>   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிலைமாறிப் புவி அகன்றிடினும்</samp>
<span class="chordline"><b>C</b>             <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மலைகள் பெயர்ந்தகன்றிடினும்</samp>
<span class="chordline">        <b>Am</b>         </span>
<samp charset="UTF-8" class="lyricline">மாறிடுமோ அவர்</samp>
<span class="chordline"><b>G</b>          <b>F</b>                <b>G</b>       <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">கிருபை எந்நாளும்ஆறுதல் எனக்கவரே                           </samp>
<samp charset="UTF-8" class="lyricline">  -எனக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>             <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் காலைத் தள்ளாட வொட்டார்</samp>
<span class="chordline">           <b>G</b>                <b>F</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னைக் காக்கும் தேவன் உறங்கார்</samp>
<span class="chordline"><b>C</b>             <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் காலைத் தள்ளாட வொட்டார்</samp>
<span class="chordline">       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேலைக் காக்கும் </samp>
<span class="chordline">     <b>G</b>       <b>F</b>          <b>G</b>       <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">நல் தேவன் இராப்பகல் உறக்காரே                         </samp>
<samp charset="UTF-8" class="lyricline">   -எனக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>           <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வலப்பக்கத்தில் நிழல் அவரே</samp>
<span class="chordline">      <b>G</b>               <b>F</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வமுவாமல் காப்பவர் அவரே</samp>
<span class="chordline"><b>C</b>           <b>G</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வலப்பக்கத்தில் நிழல் அவரே</samp>
<span class="chordline">         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சூரியன் பகலில், </samp>
<span class="chordline"><b>G</b>        <b>F</b>              <b>G</b>       <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">சந்திரன் இரவில் சேதப்படுத்தாதே                           </samp>
<samp charset="UTF-8" class="lyricline"> -எனக்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எத்தீங்கும் என்னை அணுகாமல்</samp>
<span class="chordline">       <b>G</b>                     <b>F</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவைக் காக்கும் என் தேவன்</samp>
<span class="chordline"><b>C</b>          <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எத்தீங்கும் என்னை அணுகாமல்</samp>
<span class="chordline">              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">போக்கையும் வரத்தையும் </samp>
<span class="chordline">      <b>G</b>      <b>F</b>         <b>G</b>         <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">பத்திரமாகக் காப்பாரே இது முதலாய்                                  </samp>
<samp charset="UTF-8" class="lyricline">  -எனக்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>