<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3888" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                  <b>Bm</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னை உண்டாக்கிய </samp>
<span class="chordline">     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவாதி தேவன்</samp>
<span class="chordline">       <b>G</b>          <b>Am</b>       </span>
<samp charset="UTF-8" class="lyricline">அவர் தூங்குவது மில்லை </samp>
<span class="chordline">  <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உறங்குவதுமில்லை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                <b>Em</b>                </span>
<samp charset="UTF-8" class="lyricline">என்மேல் அவர் கண்ணைவைத்து </samp>
<span class="chordline"><b>D</b>            <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">ஆலோசனை சொல்லுவார்</samp>
<span class="chordline"><b>G</b>             <b>Em</b>         </span>
<samp charset="UTF-8" class="lyricline">சத்தியத்தின் பாதையிலே </samp>
<span class="chordline"><b>D</b>           <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">நித்தமும் நடத்துவார்</samp>
<span class="chordline"><b>C</b>        <b>Am</b>               </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியால் </samp>
<span class="chordline"><b>C</b>     </span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தை நிரப்புவார் </samp>
<span class="chordline"><b>G</b>         <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் பரிசுத்தர் அவர்பெயரே</samp>
<samp charset="UTF-8" class="lyricline">   - என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Em</b>            </span>
<samp charset="UTF-8" class="lyricline">பெல்வீன நாட்களிலே </samp>
<span class="chordline"><b>D</b>             <b>G</b>        </span>
<samp charset="UTF-8" class="lyricline">பெலன் தந்து தாங்குவார்</samp>
<span class="chordline"><b>G</b>         <b>Em</b>                    </span>
<samp charset="UTF-8" class="lyricline">பலவித சோதனையில் </samp>
<span class="chordline"><b>D</b>            <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஜெயம் நமக்கப்பார்</samp>
<span class="chordline"><b>C</b>         <b>Am</b>              </span>
<samp charset="UTF-8" class="lyricline">ஆபத்துக் காலத்தில் </samp>
<span class="chordline"><b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">அரணான கோட்டையும்</samp>
<span class="chordline"><b>G</b>           <b>D</b>        </span>
<samp charset="UTF-8" class="lyricline">கேடகமும் துருகமும் </samp>
<span class="chordline">  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் அவரே                         </samp>
<samp charset="UTF-8" class="lyricline">  -என்னை </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Em</b>           </span>
<samp charset="UTF-8" class="lyricline">ஆவியான தேவனிவார் </samp>
<span class="chordline"><b>D</b>              <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">ஆவியில் தொமுகுவோம்</samp>
<span class="chordline"><b>G</b>              <b>Em</b>                 </span>
<samp charset="UTF-8" class="lyricline">ஆவியோடும் உண்மையோடும் </samp>
<span class="chordline"><b>D</b>             <b>G</b>       </span>
<samp charset="UTF-8" class="lyricline">பணிந்து தொமுகுவோம்</samp>
<span class="chordline"><b>C</b>                <b>Am</b>            </span>
<samp charset="UTF-8" class="lyricline">வாஞ்சையுள்ள ஆத்துமாவின் </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருதயம் தன்னிலே</samp>
<span class="chordline"><b>G</b>                 <b>D</b>          </span>
<samp charset="UTF-8" class="lyricline">வார்த்தையினால் பேசுகின்ற </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இவர்                   </samp>
<samp charset="UTF-8" class="lyricline">  -என்னை </samp>
<span class="blankline"></span></div></div>   
        
     </div>