<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3894" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>          <b>Bm</b>         <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் வருகின்றார் வேகம் இறங்கி</samp>
<span class="chordline"><b>Am</b>                   <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ  பர்வதம் தம் பாதம்  நிறுத்தி</samp>
<span class="chordline"><b>G</b>      <b>D</b>            <b>Em</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பூமிதனை நியாயம் தீர்திடுவார்</samp>
<span class="chordline"><b>D</b>	 <b>Am</b>	     <b>D</b>	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூலோக  மக்களும் கண்டிடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>G7</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு கிறிஸ்து வருகின்றார்</samp>
<span class="chordline"><b>D</b>             <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இந்த் கடைசி காலத்திலே</samp>
<span class="chordline"><b>Am</b>          <b>D</b>       <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரைக் குத்தின கண்கள்  யாவும் </samp>
<span class="chordline"><b>C</b>        <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்டு புலம்பிடுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Bm</b>         <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏழாம் தலைமுறை ஏனோர்க் குரைத்த</samp>
<span class="chordline"><b>Am</b>                      <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் நிறைவேறும் காலம் நெருங்க</samp>
<span class="chordline"><b>G</b>     <b>D</b>            <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏசு கிறிஸ்துவின் சத்தியத்தை</samp>
<span class="chordline"><b>D</b>	<b>Am</b>	 <b>D</b>	 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்க மறுத்தவர் நடுங்குவார்                             </samp>
<samp charset="UTF-8" class="lyricline">   -இயேசு</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Bm</b>       <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தம்மை விரோதித்த அவபக்தரை</samp>
<span class="chordline"><b>Am</b>                   <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">செம்மை வழிகளில் செல்லாதவரை</samp>
<span class="chordline"><b>G</b>           <b>D</b>       <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் ஆயிரம் பக்தரோடே</samp>
<span class="chordline"><b>D</b>	 <b>Am</b>	      <b>D</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அந்நாளிலே நியாயந் தீர்த்திடுவார்                         </samp>
<samp charset="UTF-8" class="lyricline">  -இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Bm</b>          <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எதை விதைத்தாயோ அதை அறுப்பாய்</samp>
<span class="chordline"><b>Am</b>                  <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா அநீதிக்கும் கூலி பெறுவாய்</samp>
<span class="chordline"><b>G</b>         <b>D</b>        <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி சிலுவை அண்டிடுவாய்</samp>
<span class="chordline"><b>D</b>	  <b>Am</b>	    <b>D</b>	   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நம்பியே தப்பிடுவாய்                           </samp>
<samp charset="UTF-8" class="lyricline">   -இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>Bm</b>         <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அந்தி கிறிஸ்தன்று அழிந்து மாள</samp>
<span class="chordline"><b>Am</b>                    <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பராம் இயேசுவே ஜெயம் சிறக்க</samp>
<span class="chordline"><b>G</b>          <b>D</b>       <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாயில் இருபுறம் கருக்குள்ள</samp>
<span class="chordline"><b>D</b>	    <b>Am</b>	     <b>D</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாளால் நெருப்பாக யுத்தம் செய்வார்                     </samp>
<samp charset="UTF-8" class="lyricline">   -இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>Bm</b>       <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கையால் பெயர்க்காத கல் ஒன்று பாயும் </samp>
<span class="chordline"><b>Am</b>                 <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலையாகி இப்பூமி நிரப்பும் </samp>
<span class="chordline"><b>G</b>          <b>D</b>          <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிரீடங்கள் பாகைகள் கவிழ்ந்திடும் </samp>
<span class="chordline"><b>Am</b>	              <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்தேசு உரிமை பெற்றிடுவார்                         </samp>
<samp charset="UTF-8" class="lyricline">   -இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Bm</b>          <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் துடங்குமுன் மத்திய வானம் </samp>
<span class="chordline"><b>Am</b>                 <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தரை அழைக்க கர்த்தரே வாரும் </samp>
<span class="chordline"><b>G</b>        <b>D</b>          <b>Em</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி மணவாட்டி 'வாரும்' என்றே</samp>
<span class="chordline"><b>D</b>	   <b>Am</b>	    <b>D</b>	         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் ஏசுவை அழைக்கின்றோம்                       </samp>
<samp charset="UTF-8" class="lyricline">   -இயேசு</samp>
<span class="blankline"></span></div></div>   
        
     </div>