<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3897" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>             <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்போம்  அல்லேலூயா  பாடி</samp>
<span class="chordline"><b>G</b>            <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வோம் மகிபனைப் போற்றி</samp>
<span class="chordline"><b>G</b>              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை தேவ மகிமை </samp>
<span class="chordline">       <b>Em</b>       <b>A</b>        <b>D</b>    <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தேவனுக்கே  மகிமை  அல்லேலூயா – (2)  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                             <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">தேவன் நம்மை வந்தடையச் செய்தார்</samp>
<span class="chordline"><b>A</b>                  	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தம்மை என்றும் அதற்காகத்  தந்தார்</samp>
<span class="chordline"><b>G</b>   		         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதங்கள்  செய்யும்  சர்வ வல்ல தேவன் </samp>
<span class="chordline"><b>Em</b>             <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கலம்  கொடுத்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                        <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">அஞ்சிடேனே இருளிலே என்றும் </samp>
<span class="chordline"><b>A</b>                  	         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நடமாடும் கொள்ளை நோயைக் கண்டும்</samp>
<span class="chordline"><b>G</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பயங்கரத்திற்கும்  பறக்கும் அம்பிற்கும்</samp>
<span class="chordline"><b>Em</b>             <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பயந்திடேன்   ஜெயித்திடுவேன்                        </samp>
<samp charset="UTF-8" class="lyricline">  -துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                          <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">தேவன் எந்தன் அடைக்கலமாமே</samp>
<span class="chordline"><b>A</b>                  	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒருபோதும் பொல்லாப்பு  வராதே</samp>
<span class="chordline"><b>G</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்ல தேவன் தாபரமாய் நின்றே</samp>
<span class="chordline"><b>Em</b>            <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விடுவித்துக்  காத்திடுவார்                           </samp>
<samp charset="UTF-8" class="lyricline">   -துதி               </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                         <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">கூப்பிடும் வேளைகளிலே என்னை </samp>
<span class="chordline"><b>A</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தப்புவிக்க ஆத்திரமாய் வந்தார்</samp>
<span class="chordline"><b>G</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சிங்கத்தின் மேலே நடந்திடுவேனே</samp>
<span class="chordline"><b>Em</b>             <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சர்ப்பங்களை  மிதித்திடுவேன்                         </samp>
<samp charset="UTF-8" class="lyricline">  -துதி</samp>
<span class="blankline"></span></div></div>   
        
     </div>