<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3898" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்பதே என் தகுதியல்லோ</samp>
<span class="chordline">           <b>C</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துதித்திடுவேன் என் இயேசுவை</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வேதம் நிறைந்த இதயம் தந்தார் </samp>
<span class="chordline"><b>Gm</b>              <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபம் நிறைந்த நேரம் தந்தார் </samp>
<span class="chordline">         <b>Am</b>                <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் நிறைந்த கண்கள் தந்தார் </samp>
<span class="chordline">          <b>F</b>       <b>G7</b>         <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">கருணை நிறைந்த  கரங்கள் தந்தார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வியாதி நேரத்தில் வல்லமை தந்தார்</samp>
<span class="chordline"><b>Gm</b>                  <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சோதனை நேரத்தில்  ஜெயம் தந்தார்</samp>
<span class="chordline">           <b>Am</b>               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கைவிட்ட நேரத்தில் ஜீவன் தந்தார் </samp>
<span class="chordline">             <b>F</b>        <b>G7</b>        <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">ஆரோக்கிய நேரத்தில் அடக்கம் தந்தார்                </samp>
<samp charset="UTF-8" class="lyricline">  -துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மனதில் நிறைந்த மகிழ்ச்சி தந்தார்</samp>
<span class="chordline"><b>Gm</b>                <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூய்மை நிறைந்த பார்வை தந்தார்</samp>
<span class="chordline">          <b>Am</b>                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தனை நிறைந்த ஊழியம் தந்தார்</samp>
<span class="chordline">        <b>F</b>       <b>G7</b>            <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">செயல் நிறைந்த  திட்டங்கள் தந்தார்                  </samp>
<samp charset="UTF-8" class="lyricline">   -துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆபத்தி நேரத்தில் அடைக்கலம் தந்தார்</samp>
<span class="chordline"><b>Gm</b>                  <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பெலவீன நேரத்தில்  பெலன் தந்தார்</samp>
<span class="chordline">        <b>Am</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">செய்தி நேரத்தில் தூது தந்தார்</samp>
<span class="chordline">        <b>F</b>        <b>G7</b>          <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">பாடிய நேரத்தில்   பரவசம்  தந்தார்                      </samp>
<samp charset="UTF-8" class="lyricline">  -துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வளம் நிறைந்த வாழ்வு தந்தார்</samp>
<span class="chordline"><b>Gm</b>               <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை நிறைந்த  தாழ்மை தந்தார்</samp>
<span class="chordline">       <b>Am</b>                <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு நிறைந்த ஆட்கள் தந்தார்</samp>
<span class="chordline">      <b>F</b>        <b>G7</b>       <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">ஆவி நிறைந்த  அறிவு தந்தார்                         </samp>
<samp charset="UTF-8" class="lyricline">  -துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சி நிறைந்த ஜீவியம் தந்தார் </samp>
<span class="chordline"><b>Gm</b>                 <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியம் நிறைந்த  சபை தந்தார்</samp>
<span class="chordline">             <b>Am</b>               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவில் நிறைந்த ஞானம் தந்தார்</samp>
<span class="chordline">        <b>F</b>     <b>G7</b>       <b>C7</b>  </span>
<samp charset="UTF-8" class="lyricline">ஒளி நிறைந்த  வழி திறந்தார்                          </samp>
<samp charset="UTF-8" class="lyricline">  -துதி</samp>
<span class="blankline"></span></div></div>   
        
     </div>