<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3899" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>             <b>D</b>      <b>B</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மந்தையில்  சேரா  ஆடுகளே </samp>
<span class="chordline"><b>G</b>	    <b>C</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எங்கிலும்  கோடி  கோடி உண்டோ</samp>
<span class="chordline"><b>C</b> 	            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தையில் ஆன்ம பாரம் கொண்டே</samp>
<span class="chordline"><b>Am</b>                   <b>D</b> 	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேடுவோம்  வாரீர் திருச்சபையே</samp>
<span class="chordline"><b>G</b>             <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மந்தையில்  சேரா  ஆடுகளே</samp>
<span class="chordline"><b>G</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறார்  இயேசு  அவரிடம்  பேசு </samp>
<span class="chordline"><b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நடத்திடுவார் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காடுகளில்  பலநாடுகளில்</samp>
<span class="chordline">            <b>Am</b>	       <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜனம் சிதறண்டு சாகுவதா</samp>
<span class="chordline"><b>G</b>       <b>Bm</b>           <b>Em</b>    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாடுபட்டேன்  அதற்காகவுமே</samp>
<span class="chordline"><b>D</b>                     <b>Am</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேடுவோர் யார் என் ஆடுகளை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லப்பட்டிராத  இடங்ள்  உண்டு</samp>
<span class="chordline">             <b>Am</b>	              <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அங்கு   சொல்ல   ஆட்கள்  உண்டு </samp>
<span class="chordline"><b>G</b>                  <b>Bm</b>              <b>Em</b>      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அழைப்புப்   பெற்றோர்   யாரும்  புறப்படுவீர்</samp>
<span class="chordline">     <b>D</b>                      <b>Am</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இது ஆண்டவர்  கட்டளை  கீழ்ப்படிவீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காய்ப்  பேசிட  நாவு  வேண்டும்</samp>
<span class="chordline">                  <b>Am</b>	        <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னைப் போல் அலைந்திடக்  கால்கள்  வேண்டும்</samp>
<span class="chordline"><b>G</b>              <b>Bm</b>         <b>Em</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்னைப்  அன்பு  கூர   ஆட்கள்  வேண்டும்</samp>
<span class="chordline">       <b>D</b>                        <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இதை உன்னிடம்  கேட்கிறேன் தர வேண்டும்</samp>
<span class="blankline"></span></div></div>   
        
     </div>