<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3901" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாறிடார்  எம்மா   நேசரே--- ஆ</samp>
<span class="chordline"><b>F#m</b>          <b>D</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மாறாதவர்  அன்பெந்நாளுமே</samp>
<span class="chordline"><b>A7</b>	                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி  சிலுவை  மீதிலே</samp>
<span class="chordline"><b>D</b>	      <b>A</b>         <b>D</b>	 </span>
<samp charset="UTF-8" class="lyricline">காணுதே இம்மா அன்பிதே </samp>
<span class="chordline">      <b>G</b>                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆ!  இயேசுவின்  மகா  அன்பிதே</samp>
<span class="chordline">        <b>G</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதின்  ஆழம்  அறியலாகுமோ</samp>
<span class="chordline">       <b>D</b>             <b>A</b>          <b>D</b>                 </span>
<samp charset="UTF-8" class="lyricline">இதற் கிணையேதும் வேறில்லையே</samp>
<span class="chordline">   <b>A</b>	                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">--கிணையேதும்  வேறில்லையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவியாக இருக்கையிலே அன்பாய்</samp>
<span class="chordline"><b>F#m</b>              <b>D</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் உன்னை தேடி வந்தாரே</samp>
<span class="chordline"><b>A7</b>	                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீசன் என்றுனைத் தள்ளாமலே</samp>
<span class="chordline"><b>D</b>	    <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேசனாக   மாற்றிடவே                         </samp>
<samp charset="UTF-8" class="lyricline"> -ஆ!இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தால் அவரைத் தள்ளினும் தம்</samp>
<span class="chordline"><b>F#m</b>              <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம்  போல் நேசித்ததினால்</samp>
<span class="chordline"><b>A7</b>	                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லல் யாவும் அகற்றிடவே</samp>
<span class="chordline"><b>D</b>	       <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆதி தேவன்  பலியானாரே                    </samp>
<samp charset="UTF-8" class="lyricline">  -ஆ!இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியால் அன்பைப் பகர்ந்திட தூய</samp>
<span class="chordline"><b>F#m</b>               <b>D</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் விண் சாயல் அணிய</samp>
<span class="chordline"><b>A7</b>	                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியாலே  அன்பைச்  சொரிந்தார்</samp>
<span class="chordline"><b>D</b>	      <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலாய்  அவரைச் சந்திக்க                    </samp>
<samp charset="UTF-8" class="lyricline">  -ஆ!இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நியாய விதி தினமதிலே நீயும்</samp>
<span class="chordline"><b>F#m</b>            <b>D</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நிலையாகும்  தைரியம் பெறவே</samp>
<span class="chordline"><b>A7</b>	                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூரணமாய்  அன்பு  பெருக</samp>
<span class="chordline"><b>D</b>	        <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புண்ணியரின்  அன்பு வல்லதே                   </samp>
<samp charset="UTF-8" class="lyricline">  -ஆ!இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பயமதை நீக்கிடுமே – யாவும்</samp>
<span class="chordline"><b>F#m</b>         <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாரினிலே  சகித்திடுமே</samp>
<span class="chordline"><b>A7</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசம்  நாடிடுமே</samp>
<span class="chordline"><b>D</b>	       <b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு   ஒருக்காலும்  ஒழியாதே                   </samp>
<samp charset="UTF-8" class="lyricline">  -ஆ!இயேசு </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>