<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3903" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாய்  இன்பக்  கானான் </samp>
<span class="chordline"><b>D</b>      <b>Bm</b>   <b>D</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஏகிடுவேன் தூய பிதாவின்</samp>
<span class="chordline"><b>A</b>       <b>A7</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முகம்  தரிசிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேற்றினின் றென்னைத்  தூக்கியெடுத்து</samp>
<span class="chordline"><b>D</b>            <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாற்றி  உள்ளம்  புதிதாக்கினாரே</samp>
<span class="chordline"><b>D</b> 	   <b>Bm</b>    <b>D</b>             </span>
<samp charset="UTF-8" class="lyricline">நாளுக்கு  நாள்  அற்புதமாய்  </samp>
<span class="chordline">                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னைத்  தாங்கிடும்</samp>
<span class="chordline"><b>D</b>                     <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நாதன்  இயேசு  என்னோடிருப்பார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாலிப நாளில் இயேசுவைக் கண்டேன்</samp>
<span class="chordline"><b>D</b>          <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாஞ்சையுடன்  என்னை தேடி வந்தார்</samp>
<span class="chordline"><b>D</b>      <b>Bm</b>    <b>D</b>                               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எதற்குமே   உதவா என்னையும் கண்டெடுத்தார்</samp>
<span class="chordline"><b>D</b>                             <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின்  அன்பை  நான்  என்  சொல்லுவேன்               </samp>
<samp charset="UTF-8" class="lyricline">  -ஆனந்தமாய் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் சித்தம் செய்திட  நித்தம்</samp>
<span class="chordline"><b>D</b>            <b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தத்தம் செய்தே  என்னை   அர்ப்பணித்தேன்</samp>
<span class="chordline"><b>D</b>           <b>Bm</b>      <b>D</b>                             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு அல்லால்  ஆசை  இப்பூவில் வேறே இல்லை</samp>
<span class="chordline"><b>D</b>                     <b>A</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும்  எனக்கவர்  ஆதரவே                                </samp>
<samp charset="UTF-8" class="lyricline">  -ஆனந்தமாய் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் பின் சென்று  ஊழியம்  செய்து</samp>
<span class="chordline"><b>D</b>             <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதம்   சேர்த்திட  வாஞ்சிக்கிறேன்</samp>
<span class="chordline"><b>D</b>          <b>Bm</b>    <b>D</b>                            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தாரும் தேவா   ஏழைக்கும் மாறாத உம் கிருபை</samp>
<span class="chordline"><b>D</b>                           <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்பாரும்  என்றும்  நான் உம் அடிமை                       </samp>
<samp charset="UTF-8" class="lyricline"> -ஆனந்தமாய் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றிடுதே உம் வாக்குகள்  என்னை</samp>
<span class="chordline"><b>D</b>        <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றிடுதே  உந்தன் சமூகமே</samp>
<span class="chordline"><b>D</b>           <b>Bm</b>      <b>D</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பெலத்தின் மேல்  பெலனடைந்து நான் பேருவேன் </samp>
<span class="chordline"><b>D</b>                      <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பேரின்ப  சீயோனில்  வாழ்ந்திடவே                             </samp>
<samp charset="UTF-8" class="lyricline">  -ஆனந்தமாய்</samp>
<span class="blankline"></span></div></div>   
        
     </div>