<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3904" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                     <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன்  உள்ளம்  தங்கும் </samp>
<span class="chordline"><b>F</b>             <b>G7</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா </samp>
<span class="chordline"><b>F</b>                 <b>Bb</b>             </span>
<samp charset="UTF-8" class="lyricline">உந்தன்  வீடாய்  கொள்ளும்</samp>
<span class="chordline"><b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாயகா</samp>
<span class="chordline"><b>F</b>         <b>Bb</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு   நாயகா  </samp>
<span class="chordline"><b>F</b>         <b>Bb</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு   நாயகா  </samp>
<span class="chordline"><b>F</b>                 <b>Bb</b>             </span>
<samp charset="UTF-8" class="lyricline">உந்தன்  வீடாய்  கொள்ளும்</samp>
<span class="chordline"><b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாயகா</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">1</samp>
<span class="chordline"><b>F</b>                <b>Bb</b>	    </span>
<samp charset="UTF-8" class="lyricline">மாம்ச கிரியை  போக்கும்  </samp>
<span class="chordline"><b>F</b>            <b>G7</b>  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா</samp>
<span class="chordline"><b>F</b>                 <b>Bb</b>           </span>
<samp charset="UTF-8" class="lyricline">குழந்தை உள்ளம் ஆக்கும்  </samp>
<span class="chordline"><b>C</b>             <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா</samp>
<span class="chordline"><b>F</b>          <b>Bb</b>   <b>F</b>     </span>
<samp charset="UTF-8" class="lyricline">குழந்தை  நாயகா   </samp>
<span class="chordline">        <b>Bb</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா</samp>
<span class="chordline"><b>F</b>                    <b>Bb</b>        </span>
<samp charset="UTF-8" class="lyricline">குழந்தை  உள்ளம்  ஆக்கும்  </samp>
<span class="chordline"><b>C</b>           <b>F</b>       </span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>Bb</b>	   </span>
<samp charset="UTF-8" class="lyricline">என்னை உமக்கு தந்தேன்  </samp>
<span class="chordline"><b>F</b>            <b>G7</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாயகா</samp>
<span class="chordline"><b>F</b>                 <b>Bb</b>      </span>
<samp charset="UTF-8" class="lyricline">இனி நான் அல்ல நீரே,  </samp>
<span class="chordline"><b>C</b>            <b>F</b>      </span>
<samp charset="UTF-8" class="lyricline">இயேசு நாயகா</samp>
<span class="chordline"><b>F</b>        <b>Bb</b>   <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா  </samp>
<span class="chordline">         <b>Bb</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா</samp>
<span class="chordline"><b>F</b>                 <b>Bb</b>    </span>
<samp charset="UTF-8" class="lyricline">இனி நான் அல்ல் நீரே, </samp>
<span class="chordline"> <b>C</b>            <b>F</b>       </span>
<samp charset="UTF-8" class="lyricline">இயேசு  நாயகா</samp>
<span class="blankline"></span></div></div>   
        
     </div>