<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3906" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    </span>
<samp charset="UTF-8" class="lyricline">கிருபையிதே  தேவ </samp>
<span class="chordline"><b>D</b>          <b>G</b>   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையிதே  தாங்கி</samp>
<span class="chordline"><b>Am</b>	 <b>D</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நடத்தியதே  இயேசுவிலே  பொன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>    	    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நேசரிலே  அகமகிழ்ந்தே  நாம்</samp>
<span class="chordline"><b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்திப்போம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆருயிர்  அன்பராய்  எங்களுடனே </samp>
<span class="chordline"><b>C</b>	           <b>D</b> 	         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவியப்  பாதையிலே  இயேசு பரன் </samp>
<span class="chordline"><b>B</b>         <b>Em</b>    <b>Am</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினமும்  வழிநடத்தே </samp>
<span class="chordline">         <b>C</b>             <b>D</b>      <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">அவரது  நாமத்திலே  காத்தனரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் அகலமும்  நீளம்  உயரமும்</samp>
<span class="chordline"><b>C</b>	           <b>D</b> 	           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆழமும் அறிந்துரை – அனுக்ரகித்தார்</samp>
<span class="chordline"><b>B</b>          <b>Em</b>      <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவிலே    ஒரு  மனையாய்</samp>
<span class="chordline">	      <b>C</b>            <b>D</b>         <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">சிருஷ்டித்தே நிறுத்தினார் அவர்  சுதராய்          </samp>
<samp charset="UTF-8" class="lyricline"> -கிருபையிதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல போராட்டம்  போராடி ஜெயித்தே</samp>
<span class="chordline"><b>C</b>	          <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ஜீவனை நாம் பற்றிடவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>         <b>Em</b>     <b>Am</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசத்தில்   நிலைத்திடுவோம்</samp>
<span class="chordline">	    <b>C</b>         	    </span>
<samp charset="UTF-8" class="lyricline">அசையாது அழைப்பினைக் </samp>
<span class="chordline"><b>D</b>               <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">காத்துக் கொள்வோம்  </samp>
<samp charset="UTF-8" class="lyricline"> -கிருபையிதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியும் மணவாட்டியும் ஆவலுடன்</samp>
<span class="chordline"><b>C</b>	                 <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாருமென்றழைக்கின்றாரே – வைத்தியராய்</samp>
<span class="chordline"><b>B</b>          <b>Em</b>   <b>Am</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சீயோனே நீ    பார் உனக்காய்</samp>
<span class="chordline">          <b>C</b>         	  <b>D</b>         <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">நாயகன்  இயேசு  தாம்  வெளிப்படுவார்           </samp>
<samp charset="UTF-8" class="lyricline">   -கிருபையிதே</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                         <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையினால் அவர்  தீர்த்தார்  எந்தன் </samp>
<span class="chordline"><b>C</b>	              <b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வியாதியும் வேதனையும் – வைத்தியராய்</samp>
<span class="chordline"><b>B</b>            <b>Em</b>   <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு வல்லால் சார்ந்திடவோ</samp>
<span class="chordline">            <b>C</b>          <b>D</b>         <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">இகமதில்  வேறெமக்  காருமில்லை              </samp>
<samp charset="UTF-8" class="lyricline">  -கிருபையிதே</samp>
<span class="blankline"></span></div></div>   
        
     </div>