<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3907" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                       <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரம்  பாடியே போற்றிடுவேன்</samp>
<span class="chordline"><b>D</b>	             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனை  இயேசுமா இராஜனை</samp>
<span class="chordline"><b>A</b>	             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்தி வணங்கிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமான  அன்பே  என்னில்</samp>
<span class="chordline"><b>G</b>           <b>Em</b>          <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பொற்பரன் பாராட்டும்  தூய  அன்பே </samp>
<span class="chordline"><b>Bm</b>           <b>A</b>	             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும்  மாறா தேவ  அன்பே</samp>
<span class="chordline"><b>A</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னுள்ளம்  தங்கும்  அன்பே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>            <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜோதியாய்  வந்த  அன்பே – பூவில்</samp>
<span class="chordline"><b>G</b>         <b>Em</b>            <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தந்து  என்னை  மீட்ட அன்பே</samp>
<span class="chordline"><b>Bm</b>       <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தியாகமான  தேவ அன்பே</samp>
<span class="chordline"><b>A</b>	            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திவ்ய  மதுர  அன்பே                               </samp>
<samp charset="UTF-8" class="lyricline">  -ஸ்தோத்திரம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாய உலக   அன்பை – நம்பி</samp>
<span class="chordline"><b>G</b>             <b>Em</b>           <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாண்ட என்னைக்  கண்டழைத்த  அன்பே</samp>
<span class="chordline"><b>Bm</b>              <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை  வென்ற தேவ அன்பே</samp>
<span class="chordline"><b>A</b>	                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னில் பொங்கும் பேரன்பே                      </samp>
<samp charset="UTF-8" class="lyricline">   -ஸ்தோத்திரம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆதரவான அன்பை – நித்தம்</samp>
<span class="chordline"><b>G</b>               <b>Em</b>           <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்னைபோல் என்னையும் தாங்கும்  அன்பே</samp>
<span class="chordline"><b>Bm</b>       <b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதமான  தேவ  அன்பே</samp>
<span class="chordline"><b>A</b>	                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம்  கவரும்  அன்பே                            </samp>
<samp charset="UTF-8" class="lyricline">  -ஸ்தோத்திரம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கு மாறாத அன்பே – திரு</samp>
<span class="chordline"><b>G</b>           <b>Em</b>              <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையுரைத் தென்னை தேற்றும் அன்பே</samp>
<span class="chordline"><b>Bm</b>        <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்ல  தேவ அன்பே</samp>
<span class="chordline"><b>A</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சந்ததம் ஒங்கும் அன்பே                            </samp>
<samp charset="UTF-8" class="lyricline">  -ஸ்தோத்திரம்    </samp>
<span class="blankline"></span></div></div>   
        
     </div>