<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3908" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>       <b>Bb</b>             <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவிக்கிறார்  இயேசு  ஜீவிக்கிறார் </samp>
<span class="chordline"><b>F</b>           <b>Gm</b>           <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னுள்ளத்தில்  அவர்  ஜீவிக்கிறார் </samp>
<span class="chordline"><b>F</b>                       <b>Am</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">துன்பத்தில்  என்  நல்  துணை   அவரே</samp>
<span class="chordline"><b>C</b>	       <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும்  ஜீவிக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                            </span>
<samp charset="UTF-8" class="lyricline">செங்கடல்  அவர்  சொல்ல  </samp>
<span class="chordline">                  <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">இரண்டாய்  நின்றது</samp>
<span class="chordline"><b>C</b>                              </span>
<samp charset="UTF-8" class="lyricline">பெருங்கோட்டை ஒன்று </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">தரைமட்டமானது</samp>
<span class="chordline"><b>F</b>                            </span>
<samp charset="UTF-8" class="lyricline">அவர்  சொல்ல  குருடரின்  </samp>
<span class="chordline">            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கண்  திறந்தது</samp>
<span class="chordline"><b>C</b>                <b>Gm</b>           </span>
<samp charset="UTF-8" class="lyricline">அவர்  தொடக்  குஷ்டரோகி  </samp>
<span class="chordline"><b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சொஸ்தமாயினான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Bb</b>             <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவிக்கிறார்  இயேசு  ஜீவிக்கிறார் </samp>
<span class="chordline"><b>F</b>           <b>Gm</b>           <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னுள்ளத்தில்  அவர்  ஜீவிக்கிறார் </samp>
<span class="chordline"><b>F</b>                       <b>Am</b>            <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">துன்பத்தில்  என்  நல்  துணை   அவரே</samp>
<span class="chordline"><b>C</b>	       <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும்  ஜீவிக்கிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	                    </span>
<samp charset="UTF-8" class="lyricline">உம்மை என்றும்  விடாமல் </samp>
<span class="chordline">              <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நான்  தொடரவே</samp>
<span class="chordline"><b>C</b>                               </span>
<samp charset="UTF-8" class="lyricline">என்னை  என்றும்   விடாமல்  </samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீர்  பிடிக்கவே</samp>
<span class="chordline"><b>F</b>                             </span>
<samp charset="UTF-8" class="lyricline">நான்   மரிக்கும்  நேரத்தில்  </samp>
<span class="chordline">          <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகத்தில் </samp>
<span class="chordline"><b>C</b>                <b>Gm</b>        </span>
<samp charset="UTF-8" class="lyricline">உம்  வீட்டைக்  காட்டும்  </samp>
<span class="chordline"><b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல  மேய்ப்பரே               </samp>
<samp charset="UTF-8" class="lyricline">  -ஜீவி</samp>
<span class="blankline"></span></div></div>   
        
     </div>