<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3909" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள தேவனே வாரும்</samp>
<span class="chordline"><b>C</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ பாதையிலே நடத்தும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>G7</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தண்ணிர்  ஊறும் ஊற்றிலே</samp>
<span class="chordline"><b>D</b>              <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன்  பெற  என்னை நடத்தும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நீர்  பெரியவர் பெரியவர்</samp>
<span class="chordline"><b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நீர்  பரிசுத்தர் பரிசுத்தர்</samp>
<span class="chordline"><b>G</b>             <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">தேவனே நீர்  நல்லவர் நல்லவர் </samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நீர்   வல்லவர் வல்லவர்</samp>
<samp charset="UTF-8" class="lyricline">.... ஜீவ தண்ணிர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவிகள்  துரோகிகள்  ஜயா</samp>
<span class="chordline"><b>C</b>	                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவ  ஆகஅம்  மக்க்ளே  தூயா</samp>
<span class="chordline"><b>G</b>            <b>G7</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாதகர் எம்  பாவம் போக்கவே</samp>
<span class="chordline"><b>D</b>                 <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாதகன் போல்  தொங்கினீரல்லோ</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜந்து கண்ட மக்களுக்காக</samp>
<span class="chordline"><b>C</b>	                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜந்து  காயமேற்ற  நேசரே</samp>
<span class="chordline"><b>G</b>            <b>G7</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நொந்துருகி  வந்த மக்கள் மேல்</samp>
<span class="chordline"><b>D</b>           <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேச ஆவி  வீசச் செய்குவீர் - இன்று</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கு தத்தம் செய்த  கர்த்தரே</samp>
<span class="chordline"><b>C</b> 	                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கு மாறா உண்மை நாதனே</samp>
<span class="chordline"><b>G</b>               <b>G7</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கை வந்து நம்பி நிற்கிறோம்</samp>
<span class="chordline"><b>D</b>            <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்ல ஆவி மாரி ஊற்றுவீர் - உந்தன்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நியாயந் தீர்ப்பின் நாள் நெருங்குதே</samp>
<span class="chordline"><b>C</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேசர் வர காலமாகுதே</samp>
<span class="chordline"><b>G</b>              <b>G7</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாயலோகம்  நம்பி  மாண்டிடும்</samp>
<span class="chordline"><b>D</b>            <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மானிடரை  மீட்க  மாட்டிரோ – இந்த</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவனே நீர்</samp>
<span class="blankline"></span></div></div>   
        
     </div>