<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3911" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போற்றுவோமே போற்றுவோமே  எம் </samp>
<span class="chordline">        <b>C</b>	 <b>Dm</b>	  <b>C</b>        <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவரீரை  இவ்வேளையிலே  நன்றியுடனே       </samp>
<samp charset="UTF-8" class="lyricline">  ...போற்றுவோமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	  <b>G</b> 	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துங்கன்  ஏசுவே  தூயா  உமக்கே</samp>
<span class="chordline">           <b>F</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிகள்   சாற்றிடுவேன்</samp>
<span class="chordline"><b>C</b>        <b>Am</b>	            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மங்கா  புகமும் மகிழ்ந்து  போற்றி</samp>
<span class="chordline"><b>G</b>	            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும்  துதித்திடுவேன்</samp>
<span class="chordline">    <b>C</b>       <b>G</b>	   <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கங்குல்  அற  எங்குமே  ஒளி</samp>
<span class="chordline">    <b>F</b>      <b>Am</b>	   <b>G</b>	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மங்கிடாமலே  தங்கிட  வேண்டும்</samp>
<samp charset="UTF-8" class="lyricline">  ...போற்றுவோமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>G</b>	                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆழ்ந்த   சேற்றினில் அமிழ்ந்த எம்மையே</samp>
<span class="chordline">          <b>F</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கி    எடுத்தோனே</samp>
<span class="chordline"><b>C</b>     <b>Am</b>	          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆழி தன்னிலெம்  பாவ  மெறிந்த</samp>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அன்பன்   உத்தமனே</samp>
<span class="chordline">     <b>C</b>         <b>G</b>	<b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அன்றும்  இன்றும்  என்றும்  துதிப்பேன்</samp>
<span class="chordline"><b>F</b>            <b>Am</b>	        <b>G</b>	<b>C</b></span>
<samp charset="UTF-8" class="lyricline">மன்னவனையே   மண்ணதினிலே</samp>
<samp charset="UTF-8" class="lyricline">  ...போற்றுவோமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>        <b>G</b>	           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவம்  போக்கியே சாபம்  மாற்றியே</samp>
<span class="chordline">          <b>F</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ரோகம்  தொலைத்தோனே</samp>
<span class="chordline"><b>C</b>         <b>Am</b>	            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துரோகி  என்னையே  சித்திகரித்த</samp>
<span class="chordline"><b>G</b>	     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தூய  வேந்தனே</samp>
<span class="chordline">  <b>C</b>       <b>G</b>      <b>Am</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தூய  நேயா  காய  மாற்றியே</samp>
<span class="chordline"><b>F</b>          <b>Am</b>     <b>G</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கருணாநிதியே  பரிகாரியே</samp>
<samp charset="UTF-8" class="lyricline">  ...போற்றுவோமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>    <b>G</b>	                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாரி லென்னையே பிர்த் தெடுத்தோனே</samp>
<span class="chordline">        <b>F</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாவி  வந்தோனே</samp>
<span class="chordline"><b>C</b>     <b>Am</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அகமதினிலே  ஆவி ஈர்த்திட</samp>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அருள்  நிறைந்தவனே</samp>
<span class="chordline">  <b>C</b>  <b>G</b>       <b>Am</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தரிசனம்  தந்த தேவனே</samp>
<span class="chordline"><b>F</b>       <b>Am</b>     <b>G</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாய்  பாரில்  ஜீவிக்க</samp>
<samp charset="UTF-8" class="lyricline">  ...போற்றுவோமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>        <b>G</b>	           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பூர்ணர் ஆகவே  பூவில்  வாழ்ந்திட</samp>
<span class="chordline">          <b>F</b> 	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை  அளித்தோனே</samp>
<span class="chordline"><b>C</b>        <b>Am</b>                        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புகழை  விரும்பேன்  மகிழ்வேன்  தினமே</samp>
<span class="chordline">           <b>F</b>   	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை  செலுத்திடுவேன் </samp>
<span class="chordline">     <b>C</b>        <b>G</b>        <b>Am</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கோனே  தேனே   கோதில்லாதோனே</samp>
<span class="chordline"><b>F</b>            <b>Am</b>     <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கானம்  பாடியே  துதித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...போற்றுவோமே</samp>
<span class="blankline"></span></div></div>   
        
     </div>