<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3912" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தம் பெற வந்துவிட்டிர்களா?</samp>
<span class="chordline">        <b>Em</b>         <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒப்பில்லாத் திரு ஸ்நானத்தினால் </samp>
<span class="chordline">       <b>G</b>        <b>Bm</b>	     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவ தோஷம்  நீங்க  நம்பினீர்களா?</samp>
<span class="chordline">         <b>G</b>	     <b>D</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டுக் குட்டியின்  இரத்தத்தினால்?</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாசில்லா – சுத்தமா</samp>
<span class="chordline">     <b>G</b>	         <b>A</b>	   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருப்புண்ணிய  தீர்த்தத்தினால் </samp>
<span class="chordline">         <b>G</b>    <b>Bm</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">குற்றம்  நீங்கிட  குணம்   மாறிற்றா</samp>
<span class="chordline">         <b>G</b>	    <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டுக் குட்டியின் இரத்தத்தினால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரலோக சிந்தை அணிந்தீர்களா</samp>
<span class="chordline">       <b>Em</b>       <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்ல மீட்பர் தயாளத்தினால்?</samp>
<span class="chordline">     <b>G</b>	       <b>Bm</b>	      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறு ஜென்மக் குணம் அடைந்தீர்களா</samp>
<span class="chordline">         <b>G</b>	    <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டுக் குட்டியின் இரத்தத்தினால்?</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மணவாளன் வரக் களிப்பீர்களா?</samp>
<span class="chordline">     <b>Em</b>        <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூய நதியின் ஸ்நானத்தினால்?</samp>
<span class="chordline">          <b>G</b>	<b>Bm</b>	   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மோட்சக் கரை ஏறிச் சுகிப்பீர்களா ?</samp>
<span class="chordline">         <b>G</b>	    <b>D</b>	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டுக் குட்டியின் இரத்தத்தினால் ?</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாசுகறை நீங்கும்! நீசப் பாவியே!</samp>
<span class="chordline">      <b>Em</b>          <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுத்த இரத்தத்தின் சக்தியினால்;</samp>
<span class="chordline">         <b>G</b>	<b>Bm</b>	      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">முக்திப் பேறுண்டாகும்,குற்றவாளியே!</samp>
<span class="chordline">         <b>G</b>	    <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்டுக் குட்டியின் இரத்தத்தினால்</samp>
<span class="blankline"></span></div></div>   
        
     </div>