<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3913" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                   <b>Bb</b>      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மான்கள்  நீரோடை வாஞ்சித்து</samp>
<span class="chordline"><b>Gm</b>                	<b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுதறும்  போல்  தேவனே</samp>
<span class="chordline"><b>D</b>        <b>D7</b>                 <b>Cm</b>     </span>
<samp charset="UTF-8" class="lyricline">எந்தன்  ஆத்துமா  உம்மையே</samp>
<span class="chordline"><b>Gm</b>	    <b>F</b>	   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வாஞ்சித்து   கதறுதே</samp>
<span class="chordline">          <b>F</b>                  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">தஞ்சமே நீர்  அடைக்கலம்  நீர்</samp>
<span class="chordline">	       <b>D</b>	       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கோட்டையும் நீர்  என்றும் காப்பீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவன்  மேல்  ஆத்துமாவே</samp>
<span class="chordline">        <b>D</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தாகமாயிருக்கிறதே</samp>
<span class="chordline"><b>G</b>	           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின்  சந்நிதியில் நின்றிட</samp>
<span class="chordline"><b>D7</b>                   <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா வாஞ்சிக்குதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா கலங்குவதேன்</samp>
<span class="chordline"><b>D</b>                   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நேசரை நினைத்திடுவாய்</samp>
<span class="chordline"><b>G</b>	           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் இரட்சிப்பினால் தினமும்</samp>
<span class="chordline"><b>D7</b>                 <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">துதித்து போற்றிடுவோம்                 </samp>
<samp charset="UTF-8" class="lyricline">  -மான்கள்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">யோர்தான் தேசத்திலும் </samp>
<span class="chordline"><b>D</b>                   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எர்மோன் மலைகளிலும்</samp>
<span class="chordline"><b>G</b>	           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">சுறுமலைகளிலிருந்தும் உம்மை</samp>
<span class="chordline"><b>D7</b>                    <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">தினமும் நினைக்கின்றேன் </samp>
<samp charset="UTF-8" class="lyricline">  -மான்கள்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவரீர் பகற்காலத்தில் </samp>
<span class="chordline"><b>D7</b>                  <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">கிருபையை த்ருகின்றீர்</samp>
<span class="chordline"><b>G</b>	             <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இரவினில் பாடும் பாடு எந்தன்</samp>
<span class="chordline"><b>D7</b>               <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">வாயினிலிருக்கிறது</samp>
<samp charset="UTF-8" class="lyricline">  -மான்கள்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலையாம்  தேவன் </samp>
<span class="chordline"><b>D</b>                     <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் என்னை ஏன் மறந்தீர்</samp>
<span class="chordline"><b>G</b>	          <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எதிரிகளால் ஒடுங்கி அடியேன்</samp>
<span class="chordline"><b>D7</b>                   <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">துக்கத்தால் திளீவதேனோ?</samp>
<samp charset="UTF-8" class="lyricline">  -மான்கள்</samp></div></div>   
        
     </div>