<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3914" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>           <b>Am</b>       <b>Dm</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நானும் என் வீட்டாருமோ வென்றால்</samp>
<span class="chordline"><b>F</b>                     <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரையே  சேவிப்போம் </samp>
<span class="chordline"><b>Gm</b>      <b>C</b>        <b>F</b> <b>Bb</b>  </span>
<samp charset="UTF-8" class="lyricline">நீயும்  சேவிப்பாயா?</samp>
<span class="chordline"><b>C</b>       <b>C7</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீயும்  சேவிப்பாயா?</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                     <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரையே  சேவிப்பது </samp>
<span class="chordline"><b>Gm</b>     <b>C</b>	    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாத்தெனறு கண்டால் </samp>
<span class="chordline"><b>Dm</b>	           <b>Bb</b>      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">யாரை நீ சேவிப்பாயென்பதை</samp>
<span class="chordline"><b>C</b>	                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இன்றே தீர்மானம் செய்வாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                        <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">அடிமையான நம்ம இயுமே</samp>
<span class="chordline"><b>Gm</b>       <b>C</b>	     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் மீட்டார்</samp>
<span class="chordline"><b>Dm</b>	                <b>Bb</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மாபெரும் அடையாளங்கள் செய்திட்ட</samp>
<span class="chordline"><b>C</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை  சேவிப்பாயா                               </samp>
<samp charset="UTF-8" class="lyricline">  -நானும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                         <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நம் பாதையில் காப்பாற்றியே</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>	  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நடத்தினாரே</samp>
<span class="chordline"><b>Dm</b>	            <b>Bb</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் தந்த ஆசீர் யாவும் கண்டு</samp>
<span class="chordline"><b>C</b>	             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியாய் சேவிப்பாயா                              </samp>
<samp charset="UTF-8" class="lyricline">  -நானும்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                   <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நம்மையான ஈவுகளை</samp>
<span class="chordline"><b>Gm</b>       <b>C</b>	     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் தந்தார்</samp>
<span class="chordline"><b>Dm</b>	            <b>Bb</b>          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கீழ்ப்படித்தே அவர் சத்தம்  கேட்டு</samp>
<span class="chordline"><b>C</b>	              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியாய்  ஜீவிப்பாயா                             </samp>
<samp charset="UTF-8" class="lyricline">   -நானும்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>