<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3916" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                  <b>Am</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தொழுகிறோம் எங்கள் பிதாவே</samp>
<span class="chordline"><b>C</b>           <b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பொழுதெல்லாம் ஆவி உண்மையுடனே</samp>
<span class="chordline"><b>C</b>               <b>Am</b>   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தா அலங்காரத்துடனே</samp>
<span class="chordline"><b>G</b>      <b>Am</b>      <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தரிசிப்பதினால் சரணம்  சரணம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                <b>Am</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெண்மையும் சிவப்புமானவர்</samp>
<span class="chordline"><b>C</b>        <b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையே உருவாய்க் கொண்டவர்</samp>
<span class="chordline"><b>C</b>               <b>Am</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னையே மீட்டுக் கொண்டவர்</samp>
<span class="chordline"><b>G</b>        <b>Am</b>         <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அன்னையே இதோ சரணம் சரணம்</samp>
<samp charset="UTF-8" class="lyricline">  ...தொழுகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>            <b>Am</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தலைதங்க மயமானவர்</samp>
<span class="chordline"><b>C</b>       <b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தலைமயிர் சுருள் சுருளானவர்</samp>
<span class="chordline"><b>C</b>             <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பதினாயிரும் பேரில் சிறந்தவர்</samp>
<span class="chordline"><b>G</b>      <b>Am</b>       <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பதினாயிரமாம் சரணம் சரணம்</samp>
<samp charset="UTF-8" class="lyricline">  ...தொழுகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>              <b>Am</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்கள் புறாக் கண்கள் போல</samp>
<span class="chordline"><b>C</b>       <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கன்னங்கள் பாத்திகள் போல</samp>
<span class="chordline"><b>C</b>              <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சின்னங்களும் சிறந்ததாலே</samp>
<span class="chordline"><b>G</b>       <b>Am</b>       <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணிலடங்கா சரணம் சரணம்</samp>
<samp charset="UTF-8" class="lyricline">  ...தொழுகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                   <b>Am</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கரங்கள் பொன் வளையங்கள் போல</samp>
<span class="chordline"><b>C</b>         <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நிறங்கள் தந்தத்தைப் போல</samp>
<span class="chordline"><b>C</b>                <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கால்களும் கல் தூண்கள் போல</samp>
<span class="chordline"><b>G</b>      <b>Am</b>     <b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காண்பதாலே சரணம் சரணம்</samp>
<samp charset="UTF-8" class="lyricline">  ...தொழுகிறோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>Am</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சமஸ்த சபையின் சிரசே</samp>
<span class="chordline"><b>C</b>        <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நமஸ்காரம் எங்கள் அரசே</samp>
<span class="chordline"><b>C</b>            <b>Am</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பிரதான எம் மூலைக்கல்லே</samp>
<span class="chordline"><b>G</b>   <b>Am</b>     <b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏராளமாம் சரணம் சரணம்</samp>
<samp charset="UTF-8" class="lyricline">  ...தொழுகிறோம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>