<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3917" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>            <b>A</b>          <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">வாருவாய்  தருணமிதுவே  </samp>
<span class="chordline"> <b>Bm</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறாரே</samp>
<span class="chordline">        <b>A</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்ல ஆண்டவர்  இயேசுவண்டை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                                  <b>A</b>                   </span>
<samp charset="UTF-8" class="lyricline">வாழ்  நாளை யெல்லாம்  வீண்நாளாய்</samp>
<span class="chordline">         <b>Em</b>        <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வருத்தத்தோடே கழிப்பது  ஏன் </samp>
<span class="chordline"><b>D</b>               <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வந்தவர் பாதம் சரணடைந்தால் </samp>
<span class="chordline">	     <b>D</b>	        <b>A</b>	         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வித்து  உன்னை  சேர்த்துக்  கொள்வார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                           <b>A</b>                   </span>
<samp charset="UTF-8" class="lyricline">கட்டின வீடும் நிலம் பொருளும்</samp>
<span class="chordline">           <b>Em</b>         <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்டிடும் உற்றார்   உறவினரும்</samp>
<span class="chordline"><b>D</b>                  <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கூடு விட்டு உன்  ஆவி போனால்</samp>
<span class="chordline">             <b>D</b>    <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன்னோடு  கூட வருவதில்லை                       </samp>
<samp charset="UTF-8" class="lyricline">  -வாருவாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                            <b>A</b>                   </span>
<samp charset="UTF-8" class="lyricline">அழகும் மாயை நிலைத்திடாதே</samp>
<span class="chordline">           <b>Em</b>     <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதை  நம்பாமே மயக்கிடுமே</samp>
<span class="chordline"><b>D</b>                 <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மரணம் ஒர் நாள் சந்திக்குமே </samp>
<span class="chordline">           <b>D</b>     <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மறவதே  உன்  ஆண்டவரை</samp>
<samp charset="UTF-8" class="lyricline">  -வாருவாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                          <b>A</b>                   </span>
<samp charset="UTF-8" class="lyricline">வானத்தின் கீழே  பூமி மேலே</samp>
<span class="chordline">          <b>Em</b>      <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வானவர் இயேசு  நாமம் அல்லால்</samp>
<span class="chordline"><b>D</b>                 <b>D7</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்படைய  வழியில்லையே</samp>
<span class="chordline">            <b>D</b>      <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சகர்  இயேசு வழியவரே </samp>
<samp charset="UTF-8" class="lyricline">  -வாருவாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                         <b>A</b>                   </span>
<samp charset="UTF-8" class="lyricline">தீராத பாவம் வியாதியையும் </samp>
<span class="chordline">         <b>Em</b>        <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாறாத  உந்தன்  பெலவீனமும்</samp>
<span class="chordline"><b>D</b>                <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கோரக் குருசில் சுமந்து  தீர்த்தார்</samp>
<span class="chordline">         <b>D</b>        <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காயங்களால் நீ  குணமடைய</samp>
<samp charset="UTF-8" class="lyricline">  -வாருவாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                            <b>A</b>                   </span>
<samp charset="UTF-8" class="lyricline">சத்திய  வாக்கை  நம்பியே வா</samp>
<span class="chordline">        <b>Em</b>      <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ஜீவன்  உனக்களிப்பார்</samp>
<span class="chordline"><b>D</b>                <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன் பேரை ஜீவ புஸ்தகத்தில்</samp>
<span class="chordline">         <b>D</b>             <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையாய் இன்றே எமுதிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">  -வாருவாய்</samp>
<span class="blankline"></span></div></div>   
        
     </div>