<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3919" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேனையதிபன்  நம் கர்த்தருக்கே</samp>
<span class="chordline"><b>G</b>	           <b>C</b>	    <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">செல்லுத்துவோம் கனமும் மகிமையுமே</samp>
<span class="chordline"><b>G</b>      <b>C</b>        <b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமே தம் அன்பெமக்கு – அதை</samp>
<span class="chordline"><b>D7</b>         <b>Am</b>  	    <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">அறிந்தே  அகமகிழ்வோம் - அதை</samp>
<span class="chordline"><b>G</b>          <b>D</b> 	    <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">அறிந்தே  அகமகிழ்வோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 	   	 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜெய கிறிஸ்து  முன்  செல்லுகிறார்</samp>
<span class="chordline">      <b>Am</b>     <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமாக   நடத்திடுவார்</samp>
<span class="chordline">          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயக்   கீதங்கள்  நாம்  பாடியே</samp>
<span class="chordline">         <b>C</b>           <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயக்  கொடியும்   ஏற்றிடுவோம் </samp>
<span class="chordline">          <b>G</b>	    <b>D</b>	        <b>D7</b>	  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம்  அல்லேலூயா  அவர்  நாமத்திற்கே</samp>
<span class="chordline">          <b>G</b>	    <b>D</b>	      <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம்  அல்லேலூயா அவர்  நாமத்திற்கே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	             <b>D</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாய்  மறந்தாலும்  நான் மறவேன்</samp>
<span class="chordline"><b>G</b>      <b>C</b>         <b>D</b>	   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திக்கற்றோராய் விட்டு விடேன் </samp>
<span class="chordline"><b>G</b>           <b>C</b>          <b>Am</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றுரைத் தெம்மை தேற்றுகிறார்</samp>
<span class="chordline">         <b>D7</b>      <b>Am</b>  	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் வாக்கு  மாறிடாரே                     </samp>
<span class="chordline">         <b>G</b>        <b>D</b> 	 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் வாக்கு  மாறிடாரே  </samp>
<samp charset="UTF-8" class="lyricline">  -ஜெய                      </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேய்ப்பனில்லாத ஆடுகட்கே</samp>
<span class="chordline"><b>G</b>	<b>C</b>	<b>D</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நானே  நல்ல  மேய்ப்பன் என்றார்</samp>
<span class="chordline"><b>G</b>         <b>C</b>         <b>Am</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இன்ப சத்தம் பின் சென்றிடுவோம்</samp>
<span class="chordline">         <b>D7</b>     <b>Am</b>  	 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இன்பப் பாதை  காட்டிடுவார்</samp>
<span class="chordline">        <b>G</b>        <b>D</b> 	 <b>G</b>              </span>
<samp charset="UTF-8" class="lyricline">இன்பப் பாதை  காட்டிடுவார்                   </samp>
<samp charset="UTF-8" class="lyricline"> -ஜெய </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சத்துருவின் கோட்டைத் தகர்ந்தொழிய</samp>
<span class="chordline"><b>G</b>	  <b>C</b>	    <b>D</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியம் நித்தியம் நிலைத்தோங்க</samp>
<span class="chordline"><b>G</b>            <b>C</b>       <b>Am</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானின் சேனை நடுங்கிடவே –துதி</samp>
<span class="chordline"><b>D7</b>       <b>Am</b>  	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாற்றி   ஆர்ப்பரிப்போம்</samp>
<span class="chordline"><b>G</b>         <b>D</b> 	    <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">சாற்றி   ஆர்ப்பரிப்போம்                          </samp>
<samp charset="UTF-8" class="lyricline">  -ஜெய </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கறை, திரை முற்றும் நீங்கிடவே</samp>
<span class="chordline"><b>G</b>	<b>C</b>	<b>D</b>	  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நம்மை கமுவிடுவார்</samp>
<span class="chordline"><b>G</b>             <b>C</b>      <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வருகையில் எம்மை சேர்க்கும்வரை</samp>
<span class="chordline">      <b>D7</b>     <b>Am</b>  	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வமுவாமல் காத்துக் கொள்வார்</samp>
<span class="chordline">      <b>G</b>      <b>D</b> 	            <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">வமுவாமல் காத்துக் கொள்வார்                  </samp>
<samp charset="UTF-8" class="lyricline">  -ஜெய</samp>
<span class="blankline"></span></div></div>   
        
     </div>