<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3922" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>         <b>C</b>                   <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">கதிரவன் தோன்றும் காலையிதே</samp>
<span class="chordline"><b>F</b>       <b>Dm</b>     <b>Bb</b>	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புதிய கிருபை பொழிந்திடுதே –நல்</samp>
<span class="chordline"><b>C7</b>	                          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துதி செலுத்திடுவோம் இயேசுவுக்கே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>      <b>Bb</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வான் சுடர்கள் கானக ஜீவன்</samp>
<span class="chordline"><b>C</b>                              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்திடவே பரன் மாட்சிமையே</samp>
<span class="chordline"><b>Am</b>       <b>Dm</b>	 <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காற்று, பறவே, ஊற்று நீரோடை</samp>
<span class="chordline"><b>Gm</b>        <b>Bb</b>       <b>C</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கே கவி பாடிடுதே</samp>
<samp charset="UTF-8" class="lyricline">  -கதிரவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>Bb</b>	       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காட்டில் கதறி கானக ஒடை</samp>
<span class="chordline"><b>C</b>                                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கண்டடையும் வெளி மான்களைப் போல்</samp>
<span class="chordline"><b>Am</b>     <b>Dm</b>	<b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்க்கும் ஜீவத் தண்ணீராம்</samp>
<span class="chordline"><b>Gm</b>       <b>Bb</b>            <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தற்பரன் இயேசுவைத் தேடிடுவொம்                      </samp>
<samp charset="UTF-8" class="lyricline">  -கதிரவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Bb</b>		 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் கிருபை என்றும் ஒங்க</samp>
<span class="chordline"><b>C</b>                              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே நல்லவர் என்றுரைப்போம்</samp>
<span class="chordline"><b>Am</b>    <b>Dm</b>      <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கேரூபீன்கள் மத்தியில் வாழும்</samp>
<span class="chordline"><b>Gm</b>       <b>Bb</b>             <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இக்காலையில் எழுந்தருள்வார்                    </samp>
<samp charset="UTF-8" class="lyricline"> -கதிரவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Bb</b>		    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் உதடும் உந்தனைப் போற்றும்</samp>
<span class="chordline"><b>C</b>                              <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">என் கரங்கள் குவித்தே வணங்கும்</samp>
<span class="chordline"><b>Am</b>    <b>Dm</b>	<b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாக்கியம் நான் கண்டடைந்தேனே</samp>
<span class="chordline"><b>Gm</b>            <b>Bb</b>       <b>C</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">யாக்கோபின் தேவனே என் துனையே                    </samp>
<samp charset="UTF-8" class="lyricline">  -கதிரவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Bb</b>		     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காலை விழிப்பே கர்த்தரின் சாயல்</samp>
<span class="chordline"><b>C</b>                              <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">கண்களும் செவியும் காத்திருக்கும்</samp>
<span class="chordline"><b>Am</b>     <b>Dm</b>	 <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் அமர்ந்து வேதமே ருசித்து </samp>
<span class="chordline"><b>Gm</b>       <b>Bb</b>       <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கீதங்கள் பாடியே மகிழ்ந்திடுவேன்                       </samp>
<samp charset="UTF-8" class="lyricline">  -கதிரவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>       <b>Bb</b>		    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வானம் பூமி யாவும் படைத்தீர்</samp>
<span class="chordline"><b>C</b>                           <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">வானம் திற்ந்தே தோன்றிடுவீர்</samp>
<span class="chordline"><b>Am</b>      <b>Dm</b>	<b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவல் அடங்க என்னையும் அழைக்க</samp>
<span class="chordline"><b>Gm</b>       <b>Bb</b>      <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்தும் நேசரே வந்திடுவீர்                              </samp>
<samp charset="UTF-8" class="lyricline">  -கதிரவன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>