<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3923" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">குதூகலம்  நிறைந்த  நன்னாள்</samp>
<span class="chordline"><b>F</b>                      <b>Bb</b></span>
<samp charset="UTF-8" class="lyricline">நடுவானில்  மின்னிடுமே</samp>
<span class="chordline">           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இதுவரை இருந்த  துன்பமில்லை</samp>
<span class="chordline">       <b>F</b>          <b>C</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இனி  என்றுமே  ஆனந்தம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தளகர்த்தனாம் இயேசு நின்று</samp>
<span class="chordline">        <b>Bb</b>       <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் செய்திடுவார்  நன்று</samp>
<span class="chordline">       <b>Bb</b>                <b>A</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் ஆவியினால் புது பெலனடைந்து</samp>
<span class="chordline">       <b>Gm</b>        <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜெய கீதங்கள்  பாடிடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புவி  மீதினில்  சரீர  மீட்பு</samp>
<span class="chordline">       <b>Bb</b>         <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்று காண்போம் என ஏங்கும்</samp>
<span class="chordline">       <b>Bb</b>                   <b>A</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மனம் மகிழ்ந்திடவே அவர் வந்திடுவார்</samp>
<span class="chordline">     <b>Gm</b>           <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மணவாட்டியைச் சேர்த்திடவே                 </samp>
<samp charset="UTF-8" class="lyricline">   -குதூகலம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜெப விழிப்புடன் வஞ்சையாக</samp>
<span class="chordline">       <b>Bb</b>           <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வருகஇயை எதிர்நோக்கி</samp>
<span class="chordline">     <b>Bb</b>                 <b>A</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நவ எருசலேமாய் தூய நகரமதாய்</samp>
<span class="blankline"></span>
<span class="chordline">      <b>Gm</b>     <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நாம் ஆயத்தமாகிடுவோம்                     </samp>
<samp charset="UTF-8" class="lyricline">   -குதூகலம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ ஒளி வீசும் கற்களாக</samp>
<span class="chordline">   <b>Bb</b>         <b>C</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சீயோன் நகர் தனிலே சேர்க்க</samp>
<span class="chordline">        <b>Bb</b>                   <b>A</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அருள் சுரந்திருந்தார் நாமம் வரைந்திருந்தார்</samp>
<span class="chordline">       <b>Gm</b>          <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் மகிமையில்ஆர்ப்பரிப்போம்               </samp>
<samp charset="UTF-8" class="lyricline">  -குதூகலம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தூதர்கள் கானமுடன்</samp>
<span class="chordline">     <b>Bb</b>       <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆரவார தொனி கேட்கும்</samp>
<span class="chordline">       <b>Bb</b>                <b>A</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருபையினால் மறு ரூபமாக</samp>
<span class="chordline">        <b>Gm</b>          <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நம்மை இனிதுடன் சேர்த்திடுவார்                </samp>
<samp charset="UTF-8" class="lyricline">  -குதூகலம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>