<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3924" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>Bm</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நமது  இயேசு  கிறிஸ்துவின்   நாமம்</samp>
<span class="chordline">         <b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நானில மெங்கும்  ஒங்கிடவே</samp>
<span class="chordline"><b>G</b>     <b>B</b>     <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புனிதமான பரிசுத்த  வாழ்வை</samp>
<span class="chordline">      <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனிதராம்  எமக்களித்தார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>D</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேவ கிருபை  எங்கும்  பெருக</samp>
<span class="chordline"><b>G</b>           <b>Em</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனை  ஸ்தோத்தரிப்போம்</samp>
<span class="chordline"><b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவ இருள் அகல</samp>
<span class="chordline"><b>C</b>       <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ  ஒளி  அடைந்தோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>Bm</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவரை நோக்கிக் கூப்பிடும் வேளை</samp>
<span class="chordline">        <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அறிவிப்பாரே அற்புதங்கள்</samp>
<span class="chordline"><b>G</b>         <b>B</b>    <b>Em</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கெட்டாத அறிந்திடலாகா</samp>
<span class="chordline">          <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எத்தனையோ பதில்ளித்தார்                        </samp>
<samp charset="UTF-8" class="lyricline"> -தேவ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Bm</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பதறிப் போன பாவிகளாக</samp>
<span class="chordline">       <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிதறி எங்குமே அலைந்தோம்</samp>
<span class="chordline"><b>G</b>       <b>B</b>       <b>Em</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவரை நாம் தெரிந்தறியோமே</samp>
<span class="chordline">       <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நம்மை தெரிந்தெடுத்தார்                    </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Bm</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பலத்த ஜாதி ஆயிரமாக</samp>
<span class="chordline">         <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">படர்ந்து ஒங்கி நாம் வளர</samp>
<span class="chordline"><b>G</b>        <b>B</b>    <b>Em</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எளிமையும் சிறுமையும் ஆன</samp>
<span class="chordline">       <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எமக்கவர் அருள் புரிவார்                         </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Bm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நமது கால்கள் மான்களைப் போல</samp>
<span class="chordline">        <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நடந்து ஒடிப் பாய்ந்திடவே</samp>
<span class="chordline"><b>G</b>          <b>B</b>       <b>Em</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உயர் ஸ்தலத்தில் ஏற்றுகின்றாரே</samp>
<span class="chordline">        <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதமான ஊழியத்தில்                         </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Bm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரமனேசு வந்திடும் போது</samp>
<span class="chordline">       <b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பறந்து நாமும் சென்றிடுவோம்</samp>
<span class="chordline"><b>G</b>     <b>B</b>     <b>Em</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரமனோடு நீடுழி வாழும்</samp>
<span class="chordline">      <b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரம பாக்கியம் பெறுவோம்                        </samp>
<samp charset="UTF-8" class="lyricline">  -தேவ</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>