<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3925" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>            <b>C</b>                </span>
<samp charset="UTF-8" class="lyricline">மேகமீதில்  இயேசு  ராஜன்  </samp>
<span class="chordline"><b>F</b>       <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வேகம்  வாறாரே</samp>
<span class="chordline"><b>F</b>                     <b>Am</b>         </span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமுள்ளோரை  ஆகாயம்  </samp>
<span class="chordline">         <b>F</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சேர்க்க  அவரே  வாராரே</samp>
<span class="chordline"><b>F</b>            <b>C</b>                </span>
<samp charset="UTF-8" class="lyricline">மேகமீதில்  இயேசு  ராஜன்  </samp>
<span class="chordline"><b>F</b>       <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வேகம்  வாறாரே - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>C</b>                </span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் தாமே ஆர்ப்பரிப்போடே  </samp>
<span class="chordline"><b>F</b>            <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவனியில்  வாறாரே</samp>
<span class="chordline"><b>F</b>             <b>Am</b>                  </span>
<samp charset="UTF-8" class="lyricline">மீண்டவரோ மேலோகமே செல்ல </samp>
<span class="chordline"> <b>F</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மேதினியை விடுவார்                      </samp>
<samp charset="UTF-8" class="lyricline"> -மேகமீதில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                    <b>C</b>                  </span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவுக்குள்ளே மரித்தோரெல்லாம் </samp>
<span class="chordline"><b>F</b>           <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கிளம்பியே எழும்பிடுவார்</samp>
<span class="chordline"><b>F</b>                 <b>Am</b>                </span>
<samp charset="UTF-8" class="lyricline">மரிக்காதிருக்கும் பரிசுத்தரெல்லாம் </samp>
<span class="chordline"><b>F</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறைந்தே போவாரே </samp>
<samp charset="UTF-8" class="lyricline"> -மேகமீதில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>C</b>              </span>
<samp charset="UTF-8" class="lyricline">பாடுபட்டோர்க்குப் பலனளிப்பாரே </samp>
<span class="chordline"><b>F</b>      <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாடுபட்டவர்தாமே</samp>
<span class="chordline"><b>F</b>                <b>Am</b>                     </span>
<samp charset="UTF-8" class="lyricline">கூடும் நமக்கோ குறைவில்லா பலனை </samp>
<span class="chordline"> <b>F</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கூவியே கொடுத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline"> -மேகமீதில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                          <b>C</b>           </span>
<samp charset="UTF-8" class="lyricline">அவருரைத்த அடையாளங்களெல்லாம் </samp>
<span class="chordline"> <b>F</b>         <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தவறாமல் நடக்கின்றதே</samp>
<span class="chordline"><b>F</b>             <b>Am</b>                   </span>
<samp charset="UTF-8" class="lyricline">அவர் வரும் வேளையை எவருமே </samp>
<span class="chordline">  <b>F</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அறியார் ஆண்டவரே அறிவார்</samp>
<samp charset="UTF-8" class="lyricline"> -மேகமீதில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>C</b>                   </span>
<samp charset="UTF-8" class="lyricline">ஆயிரமாயிரம் அவரது வசனங்கள் </samp>
<span class="chordline">  <b>F</b>         <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அதை அறிவிக்கின்றதே</samp>
<span class="chordline"><b>F</b>               <b>Am</b>                     </span>
<samp charset="UTF-8" class="lyricline">அப்போஸ்தலர் தீர்க்கதரிசிகளெல்லாம் </samp>
<span class="chordline"> <b>F</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதையே அறிவிக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline"> -மேகமீதில்</samp>
<span class="blankline"></span></div></div>   
        
     </div>