<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3926" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>        <b>F#m</b>    <b>D</b>    <b>D7</b>	              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒ இயேசு உமதன்பு   எத்தனை  பெரியது</samp>
<span class="chordline"><b>G</b>          <b>F#m</b>   <b>Em</b>         <b>D</b>         </span>
<samp charset="UTF-8" class="lyricline">ஆகாயம்  பூமி  மலை  ஆழிக்களுக் </samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கெல்லாம்  பெரியது</samp>
<span class="chordline">    <b>D</b>      <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒ யேசு   உமதன்பு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>A</b>       <b>Bm</b>   <b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சங்கட சமயங்களில் மங்கியே வாடுகிறேன்</samp>
<span class="chordline"><b>D</b>         <b>A</b>         <b>Bm</b>  <b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துங்கனே இரங்குமென ஏங்கியே நாடுகிறேன்</samp>
<span class="chordline"><b>G</b>                <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">பங்கமில்லாமல் பதில்ளிப்பேன் </samp>
<span class="chordline"><b>Em</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றதால்  பாடுகிறேன்</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றதால் பாடுகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஒ இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>             <b>A</b>       <b>Bm</b>   <b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இருளாம் பள்ளத்தாக்கில்  மருவியே நடந்தாலும்</samp>
<span class="chordline"><b>D</b>        <b>A</b>            <b>Bm</b>   <b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அருமெந்தன் மேய்ப்பராய் அருகிலிருப்பதாலும்</samp>
<span class="chordline"><b>G</b>                        <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">கருணையா யென்னைக் கரம் பிடித்தே </samp>
<span class="chordline"><b>Em</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே காப்பதாலும்</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே காப்பதாலும்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஒ இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>A</b>         <b>Bm</b>   <b>G</b>               <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">குறைவுள்ளோனானாலும் கூடவே இருக்கிறீர்</samp>
<span class="chordline"><b>D</b>              <b>A</b>       <b>Bm</b>   <b>G</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நிறைவாம்புல் தரைகளில்  மெதுவாய் நடத்துகிறீர்</samp>
<span class="chordline"><b>G</b>                   <b>D</b>                 </span>
<samp charset="UTF-8" class="lyricline">இறைவனாம் யேசு எல்லாவற்றாலும் </samp>
<span class="chordline"><b>Em</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தியாக்குகிறீர் </samp>
<span class="chordline"><b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தியாக்குகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஒ இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>A</b>         <b>Bm</b>   <b>G</b>               <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">தேவனுடைய வீட்டில்   சித்தப்படி துதிப்பேன்</samp>
<span class="chordline"><b>D</b>     <b>A</b>        <b>Bm</b>    <b>G</b>                 <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஏக இருதயத்துடன்  என்றுமதை மதிப்பேன்</samp>
<span class="chordline"><b>G</b>              <b>D</b>             </span>
<samp charset="UTF-8" class="lyricline">ஆராதிக்க அருகாராம் இயேசு  </samp>
<span class="chordline"><b>Em</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென்</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஒ இயேசு</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>