<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3927" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>          <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரம் துதி  பாத்திரா – உம்மை</samp>
<span class="chordline"><b>Am</b>       <b>Em</b>        <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும்  துதித்திடுவேன்</samp>
<span class="chordline"><b>C</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காத்தீரே  என்னைக்  கருத்தாக </samp>
<span class="chordline"><b>C</b>        <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வழுவாமல் என்னை  உமக்காக </samp>
<span class="chordline"><b>C</b>         <b>G</b>            <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எடுத்தீர்  என்னையும்  உமக்காக </samp>
<span class="chordline"><b>C</b>        <b>G</b>            <b>F</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எடுத்தீர் என்னையும் உமக்காக</samp>
<span class="chordline"><b>F</b>                         <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கொடுத்தீர்  உம்மையும்  எனக்காக</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>       <b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வல்ல வான ஞான விநோதா</samp>
<span class="chordline"><b>Am</b>      <b>Em</b>       <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதியே துதியே துதித்திடுவேன்</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லா குறையும் தீர்த்தீரே</samp>
<span class="chordline"><b>C</b>              <b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தொல்லைகள் யாவும் தொலைத்தீரே</samp>
<span class="chordline"><b>C</b>            <b>G</b>       <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லல்கள் யாவும் அறுத்தீரே</samp>
<span class="chordline"><b>C</b>            <b>G</b>       <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லல்கள் யாவும் அறுத்தீரே</samp>
<span class="chordline"><b>F</b>                     <b>G</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அலையும் எனையும் மீட்டீரே </samp>
<samp charset="UTF-8" class="lyricline">   -ஸ்தோத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>      <b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நம்பினோரைக் காக்கும் தேவா</samp>
<span class="chordline"><b>Am</b>      <b>Em</b>       <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதியே துதியே துதித்திடுவேன்</samp>
<span class="chordline"><b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்புவி யாவும் படைத்தீரே</samp>
<span class="chordline"><b>C</b>        <b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அம்பரா உந்தன் வாக்காலே</samp>
<span class="chordline"><b>C</b>       <b>G</b>         <b>F</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எம்பரா எல்லாம் ஈந்தீரே</samp>
<span class="chordline"><b>C</b>       <b>G</b>         <b>F</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எம்பரா எல்லாம் ஈந்தீரே</samp>
<span class="chordline"><b>F</b>                    <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நம்பினோர்க்குந்தன் தயவாலே </samp>
<samp charset="UTF-8" class="lyricline">   -ஸ்தோத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>          <b>G</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணின் மணிபோல் காத்தீரே எம்மைத்</samp>
<span class="chordline"><b>Am</b>      <b>Em</b>       <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதியே துதியே துதித்திடுவேன் </samp>
<span class="chordline"><b>C</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அண்ணலே உந்தன் அருளாலே</samp>
<span class="chordline"><b>C</b>        <b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அடியாரைக் கண் பார்த்தீரே</samp>
<span class="chordline"><b>C</b>       <b>G</b>         <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மன்னா எமக்கும் நீர்தானே</samp>
<span class="chordline"><b>C</b>       <b>G</b>         <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மன்னா எமக்கும் நீர்தானே</samp>
<span class="chordline"><b>F</b>                  <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் எங்கள் துணை நீரே</samp>
<samp charset="UTF-8" class="lyricline">   -ஸ்தோத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>         <b>G</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தீயோன் அம்புகள் தாக்காதே எம்மை</samp>
<span class="chordline"><b>Am</b>      <b>Em</b>       <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதியே துதியே துதித்திடுவேன்</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவே நீர் உந்தன் சிறகாலே</samp>
<span class="chordline"><b>C</b>         <b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் மூடிக் காத்தீரே</samp>
<span class="chordline"><b>C</b>      <b>G</b>      <b>F</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தீதணுகாதும் மறைவினிலே</samp>
<span class="chordline"><b>C</b>      <b>G</b>      <b>F</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தீதணுகாதும் மறைவினிலே</samp>
<span class="chordline"><b>F</b>            <b>G</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேடியுமதடி தங்கிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   -ஸ்தோத்திரம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>