<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3928" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை தேவை தேவா</samp>
<span class="chordline"><b>A</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை தாரும் தேவா</samp>
<span class="chordline"><b>D7</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்றே தேவை தேவா </samp>
<span class="chordline"><b>A7</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இப்போ தாரும் தேவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பொழிந்திடும் வல்லமை</samp>
<span class="chordline"><b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதத்தின் வல்லமை</samp>
<span class="chordline"><b>D</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியின் வல்லமை </samp>
<span class="chordline"><b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியின் வல்லமை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாம்சமான யாவர் மீதும்</samp>
<span class="chordline"><b>Em</b>         <b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியை ஊற்றுவேன் என்றீர்</samp>
<span class="chordline"><b>D</b>                    <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">மூப்பர்வாலிபர் யாவரும் </samp>
<span class="chordline"><b>Em</b>        <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தீர்க்கதரி சனம்சொல்வாரே</samp>
<samp charset="UTF-8" class="lyricline">  -பொழிந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பெந்தேகோஸ்தே நாளின் போல</samp>
<span class="chordline"><b>Em</b>         <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெரிதான முழக்கத்தோடு</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையாக இறங்கி</samp>
<span class="chordline"><b>Em</b>        <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வரங்களினாலே நிரப்பும்                   </samp>
<samp charset="UTF-8" class="lyricline">  -பொழிந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கப்படும் நாளுக்கென்று</samp>
<span class="chordline"><b>Em</b>              <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முத்திரையாக ஆவியைத் தாரும்</samp>
<span class="chordline"><b>D</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பிதாவே என்று அழைக்க</samp>
<span class="chordline"><b>Em</b>          <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புத்திர சுவிகாரம் ஈந்திடும்                  </samp>
<samp charset="UTF-8" class="lyricline">  -பொழிந்திடும்</samp>
<span class="blankline"></span></div></div>   
        
     </div>