<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3932" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியால் பாடிடுவோம் </samp>
<span class="chordline"><b>F</b>	           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியால் பாடிடுவோம் </samp>
<span class="chordline"><b>Bb</b>               <b>F</b>	           </span>
<samp charset="UTF-8" class="lyricline">நல்லவர் இயேசு  நல்கிய எல்லா  </samp>
<span class="chordline"><b>Gm</b>        <b>C</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகளை  நினைத்தே</samp>
<samp charset="UTF-8" class="lyricline">   -நன்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Am</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">செங்கடல்  தனன நடுவாய்ப் பிரித்த</samp>
<span class="chordline">         <b>Eb</b>    <b>Bb</b>	 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள்  தேவனின்  கரமே</samp>
<span class="chordline"><b>Bb</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கியதே இந்தாள் வரையும் </samp>
<span class="chordline">           <b>Gm</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தயவாய்  மாதயவாய் </samp>
<span class="chordline"><b>Gm</b>         <b>C7</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தயவாய்  மாதயவாய் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>              <b>Am</b>            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்ப்பித்தே உயர்த்தினார் உன்னதம்  வரை</samp>
<span class="chordline">       <b>Eb</b>    <b>Bb</b>	        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உடன் சுதந்தராய் இருக்க</samp>
<span class="chordline"><b>Bb</b>	                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையின் மகா தானமது வருங்</samp>
<span class="chordline">       <b>Gm</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காலங்களில் விளங்க.....ஆ...             </samp>
<span class="chordline"><b>Gm</b>      <b>C7</b>          <b>F</b>            </span>
<samp charset="UTF-8" class="lyricline">காலங்களில் விளங்க.....ஆ...                        </samp>
<samp charset="UTF-8" class="lyricline">   -நன்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Am</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனைத் தியாகமாய் வைத்த பலர் கடும் </samp>
<span class="chordline"><b>Eb</b>      <b>Bb</b>	  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சேவையில் மரித்தார்</samp>
<span class="chordline"><b>Bb</b>	               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சேர்ந்து வந்து சேவை புரிந்து</samp>
<span class="chordline">      <b>Gm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடாது நிற்போம்..... ஆ...... </samp>
<span class="chordline"><b>Gm</b>     <b>C7</b>          <b>F</b>                              </span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடாது நிற்போம்..... ஆ......                     </samp>
<samp charset="UTF-8" class="lyricline">  -நன்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>            <b>Am</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மித்த்துருக்களான பலர் நன்றியிழந்தே</samp>
<span class="chordline"><b>Eb</b>        <b>Bb</b>	    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்துருக்களாயினாரே</samp>
<span class="chordline"><b>Bb</b>	               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியத்தைச் சார்ந்து தேவ</samp>
<span class="chordline">        <b>Gm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சித்தம் செய்திடுவோம்...... ஆ</samp>
<span class="chordline"><b>Gm</b>      <b>C7</b>       <b>F</b>            </span>
<samp charset="UTF-8" class="lyricline">சித்தம் செய்திடுவோம்...... ஆ...                     </samp>
<samp charset="UTF-8" class="lyricline">    -நன்றி</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>