<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3933" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>     <b>Em</b>     <b>G</b>      <b>D</b>        <b>Am</b>     <b>G</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமெல்லாம்   உருகுதையா    உத்தமனை</samp>
<span class="chordline"><b>D7</b>            <b>G</b>             <b>Em</b>    <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">நினைக்கையிலே   உம்மையல்லால் வேறே</samp>
<span class="chordline"><b>D</b>     <b>Am</b>   <b>B</b>        <b>Em</b>   <b>D7</b>           <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">தெய்வம்  உண்மையாய் இங்கில்லையே </samp>
<span class="chordline"><b>B</b>     <b>Em</b>    <b>G</b>   <b>E</b>     <b>Am</b>  <b>D</b>   <b>B</b>      <b>Em</b>    <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">கள்ளனென்று   தள்ளிடாமல் அள்ளி என்னை</samp>
<span class="chordline"><b>A7</b>         <b>D</b>     <b>G</b>           <b>Em</b>   <b>G</b>     <b>D</b>   <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">அனைத்தவா    சொல்லடங்கா   நேசத்தாலே</samp>
<span class="chordline"><b>B</b>            <b>Em</b>    <b>C</b>   <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்சொந்த  மாக்கிக்  கொண்டீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>    <b>Em</b>  <b>G</b>  <b>D</b>         <b>Am</b>     </span>
<samp charset="UTF-8" class="lyricline">மேகமீதில் இயேசு ராஜன்</samp>
<span class="chordline"><b>G</b>        <b>Em</b>        <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வேகம் தோன்றும் நாளன்றோ</samp>
<span class="chordline"><b>Em</b>      <b>G</b>    <b>D</b>          <b>Am</b>    </span>
<samp charset="UTF-8" class="lyricline">லோகமீதில் காத்திருப்போர்</samp>
<span class="chordline"><b>B</b>          <b>Em</b>   <b>D7</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏக்கமெல்லாம் தீர்த்திட</samp>
<span class="chordline"><b>B</b>     <b>Em</b>  <b>G</b>    <b>E</b>   <b>Am</b>  <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">தியாக ராஜன் ஏசுவை நான்</samp>
<span class="chordline"><b>B</b>      <b>Em</b> <b>C</b>    <b>A7</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முகமுகமாய்  தரிசிக்க</samp>
<span class="chordline"><b>G</b>     <b>Em</b>  <b>G</b>         <b>D</b>  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலோடு ஏங்கும் தாசன்</samp>
<span class="chordline"><b>B</b>       <b>Em</b>  <b>C</b>    <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சோகம் நீங்கும் நாள் எனறோ?</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>