<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3962" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் </samp>
<span class="chordline"><b>G</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் சச்சிதானநந்தா</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் </samp>
<span class="chordline"><b>D7</b>                          <b>G</b>               </span>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் நித்தியானந்தா</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">சத்திய வழவினை தந்திட</samp>
<span class="chordline">      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வந்த நிர்மல ஆனந்தா</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">சத்திய வழிவினை தந்திட</samp>
<span class="chordline">      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வந்த நிர்மல ஆனந்தா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஓசன்னா   ...2</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஓசன்னா</samp>
<span class="chordline"><b>Am</b>            <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஓசன்னா</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஓசன்னா ஓசன்னா</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஓசன்னா ஓசன்னா  ..2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தருணம் தருணம் தருணம் தருணம்</samp>
<span class="chordline"><b>G</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தற்பரனே தருணம்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையின் அன்பை தந்திட்ட எங்கள்</samp>
<span class="chordline">               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சற்குருவே சரணம்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">விந்தை மனிதரை ஒளிதனில் நடத்திட</samp>
<span class="chordline"><b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">உதவிடுவாய் சரணம்</samp>
<span class="chordline"><b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">தருணம் இதுவே மீட்பினைப் பெற்றிட</samp>
<span class="chordline"><b>D7</b>	           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">செய்திட்டோம் சரணம் - அல்லேலூயா </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் சரணம் சரணம் </samp>
<span class="chordline">           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சச்சிதானந்தா</samp>
<span class="chordline"><b>D7</b>	                         </span>
<samp charset="UTF-8" class="lyricline">சரணம் சரணம் சரணம் சரணம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ஆனந்தா</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">முத்தி முதலாய் இருந்த எங்கள்</samp>
<span class="chordline"><b>G</b> 	</span>
<samp charset="UTF-8" class="lyricline">முன்னவனே சரணம்	</samp>
<span class="chordline"><b>D</b>             </span>
<samp charset="UTF-8" class="lyricline">சித்தி பெற்றிட சித்தம் செய்திட</samp>
<span class="chordline"><b>D7</b>	            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பணிந்திட்டோம் சரணம் – அல்லேலூயா</samp>
<span class="blankline"></span></div></div>   
        
     </div>