<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3963" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் கிறிஸ்துவுக்கு பைத்தியக்காரன்</samp>
<span class="chordline">         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீ யாருக்கு</samp>
<span class="chordline">                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வீண் பெருமை புகழ் ஆஸ்தி</samp>
<span class="chordline">        <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குப்பை என்று தள்ளிடு</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ துடைத்துப் போடும் அழுக்கைபோல</samp>
<span class="chordline">             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காணப்பட்டாலும்</samp>
<span class="chordline">                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">விண் வாழ்வுக்காக உலகை</samp>
<span class="chordline">           <b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெறுத்து ஒதுக்கி தள்ளிவிடு </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பலவான்களை வெட்கப்படுத்தவே</samp>
<span class="chordline"><b>D7</b>                                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பலவீனரை தேவன் தெரிந்துக்கொண்டாரே</samp>
<span class="chordline"><b>G</b>                 <b>G7</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஞானவான்களை பைத்தியமாக்கவே</samp>
<span class="chordline"><b>C</b>           <b>G</b>           <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பைத்தியகளை தேவன் தெரிந்துக் கொண்டாரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       </span>
<samp charset="UTF-8" class="lyricline">நகைகயிலே பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">புகையிலே பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	                </span>
<samp charset="UTF-8" class="lyricline">உடையிலே பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கு நீ பைத்தியம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணாசை பைத்தியம்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">பொண்ணாசை பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	                   </span>
<samp charset="UTF-8" class="lyricline">மயக்க மருந்து பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ எதற்குத பைத்தியம் </samp>
<span class="chordline"><b>G</b>	          </span>
<samp charset="UTF-8" class="lyricline">சாராய பைத்திம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பீர் ஜின் பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	                </span>
<samp charset="UTF-8" class="lyricline">ரம் விஸ்கி பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கு நீ பைத்தியம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">காபி டீ பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பதவி ஆசை பைத்தியம்</samp>
<span class="chordline"><b>D7</b>                    </span>
<samp charset="UTF-8" class="lyricline">ஆளுக்காக பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ எதற்கு பைத்தியம்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் முன்னிலே உலகம் செல்வம் அழியுமே</samp>
<span class="chordline"><b>D7</b>                                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்த ஆடைகள் பொட்டரித்துப் போகுமே</samp>
<span class="chordline"><b>G</b>                <b>G7</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உலக ஞானமே தேவன் பார்வையிலே</samp>
<span class="chordline"><b>C</b>              <b>G</b>   <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உதவா பைத்தியம் என்று ஆகுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                  </span>
<samp charset="UTF-8" class="lyricline">சினிமாவிலே பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சூதாட்ட பைத்தியம்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">பணத்திலே பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கு நீ பைத்தியம்	</samp>
<span class="chordline"><b>G</b>                        </span>
<samp charset="UTF-8" class="lyricline">கட்சியிலே பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வீண் பேச்சு பைத்தியம்</samp>
<span class="chordline"><b>D7</b> </span>
<samp charset="UTF-8" class="lyricline">குதிரை பந்தய பைத்தியம்  </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ எதற்கு பைத்தியம்</samp>
<span class="chordline"><b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஆனந்த விகடன் பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ரானி புக்கு பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	                 </span>
<samp charset="UTF-8" class="lyricline">பேசும் படம் பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கு நீ பைத்தியம்</samp>
<span class="chordline"><b>G</b>	                    </span>
<samp charset="UTF-8" class="lyricline">சாவி குங்குமம் பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">குமுதம் கல்கி பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	                        </span>
<samp charset="UTF-8" class="lyricline">சினிமா எக்ஸ்பிரஸ் பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ எதற்கு பைத்தியம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கடவுள் பைத்தியம் என்று சொல்லுவது</samp>
<span class="chordline"><b>D7</b>                                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உலக ஞானத்திலும் மிகவும் அதிகமே</samp>
<span class="chordline"><b>G</b>                   <b>G7</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை உபதேசம் பைத்தியம் எனப்படும்</samp>
<span class="chordline"><b>C</b>             <b>G</b>         <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கப்பட்டவர்க்கு அது தேவ பெலனாகும்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெத்தலை பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">புகையில பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	                 </span>
<samp charset="UTF-8" class="lyricline">தூக்கத்திலே பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கு நீ பைத்தியம்</samp>
<span class="chordline"><b>G</b>	                 </span>
<samp charset="UTF-8" class="lyricline">உணவிலே பைத்தியம் </samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">ஊர் சுற்றும் பைத்தியம்</samp>
<span class="chordline"><b>D</b>	              </span>
<samp charset="UTF-8" class="lyricline">சிற்றன்ப பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ எதற்கு பைத்தியம்</samp>
<span class="chordline"><b>G</b>	               </span>
<samp charset="UTF-8" class="lyricline">லிப்ஸ்டிக் பைத்தியம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">குயுட்டக்ஸ் பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	              </span>
<samp charset="UTF-8" class="lyricline">ஜடெக்ஸ் பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கு நீ பைத்தியம்</samp>
<span class="chordline"><b>G</b>	                 </span>
<samp charset="UTF-8" class="lyricline">ப்பிக்கட்டு பைத்தியம்  </samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">கிரிக்கட்டு பைத்தியம்</samp>
<span class="chordline"><b>D7</b>	                 </span>
<samp charset="UTF-8" class="lyricline">மேல் நாட்டு பைத்தியம் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ எதற்கு பைத்தியம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்வும் உயர்வுமே இயேசுவுக்காகவே</samp>
<span class="chordline"><b>D7</b>                                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்ந்து நானுமே இரத்த சாட்சியாகவே</samp>
<span class="chordline"><b>G</b>                    <b>G7</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏழ்மை வந்திடினும் எதிர்ப்பு நோடினும்</samp>
<span class="chordline"><b>C</b>                    <b>G</b>       <b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வும் இயேசுவுக்கே என் சாவும் இயேசுவுக்கே </samp>
<samp charset="UTF-8" class="lyricline"> - நான்</samp>
<span class="blankline"></span></div></div>   
        
     </div>