<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3964" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">சாராயத்தை நாடி குடிப்பவனே ஜயோ!</samp>
<span class="chordline"><b>A</b>	                                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தான் மட்டும் வாழ வேண்டி சேர்ப்பவனே ஜயோ!</samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">நன்மையை தீமையென்று சொல்பவனே ஜயோ!</samp>
<span class="chordline"><b>E</b>	                       <b>B</b>	    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கப்பர் நகூமே பெத்சாயிதாவே கோரோசீனே ஜயோ!</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஜயையோ உனக்கு ஜயையோ</samp>
<span class="chordline"><b>B</b>	             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜயையோ உனக்கு ஜயையோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">லஞ்சம் வாங்கி அநியாயம் செய்பவனே ஜயோ!</samp>
<span class="chordline"><b>A</b>	                                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தனக்குத் தானே ஞாயென்று சொல்பவனே ஜயோ!</samp>
<span class="chordline"><b>B7</b> </span>
<samp charset="UTF-8" class="lyricline">மந்தையை மேய்க்காத மேய்ப்பனுக்கு ஜயோ!</samp>
<span class="chordline"><b>E</b>	                    <b>B</b>	        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பெய் சொல்லும் மதிகட்ட தீர்க்கனுக்கு ஜயோ!  </samp>
<samp charset="UTF-8" class="lyricline">   ...ஜயையோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">அநியாய தீரப்புச் சொல்லும் அற்பனுக்கு ஜயோ!</samp>
<span class="chordline"><b>A</b>	                                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அநீதியாய் வீட்டைக்கட்டும் திருடனுக்கு ஜயோ!</samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவரை மறந்து விட்டு  அலைபவனே ஜயோ!</samp>
<span class="chordline"><b>E</b>	                <b>B</b>	         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அவரோடு வழக்காடும் மண்ணோட்டுக்கு ஜயோ! </samp>
<samp charset="UTF-8" class="lyricline">   ...ஜயையோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஏழையை ஒடுக்குகின்ற எத்தனுக்கு ஜயோ!</samp>
<span class="chordline"><b>A</b>                                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பார்வோனை நம்புகின்ற பாதகர்க்கு ஜயோ! </samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">கல்லையும் மண்னையும் வணங்கும் கண்மூடிக்கு ஜயோ!</samp>
<span class="chordline"><b>E</b>	                     <b>B</b>	           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சிறியோர் இடற காரணமாய் இருப்பவனே ஜயோ!</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜயையோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">குருடனுக்கு வழி காட்டும் குருடனுக்கு ஜயோ!</samp>
<span class="chordline"><b>A</b>                                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நீண்டஜெபம் செய்யும் நிர்விசாரிகயே ஜயோ!</samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகத்தை பூட்டுகின்ற போதகரே ஜயோ!</samp>
<span class="chordline"><b>E</b>                                  <b>B</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சுவிசேஷத்தை சொல்லாவிட்டால் உனக்கும் எனக்கும் ஜயோ!</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜயையோ</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>