<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3966" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வானாதி வானமே போற்று</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதங்களில் அவரைப் போற்று</samp>
<span class="chordline"><b>G</b>	                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தின் சேனையேப் போற்று</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சூரிய சந்திரனே போற்று</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தின் விண்மீனேப் போற்று</samp>
<span class="chordline">	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேகத்தின் மேலுள்ள தண்ணீரே போற்று</samp>
<span class="blankline"></span>
<span class="chordline">         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">போற்று அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline">         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">போற்று அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline">         <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">போற்று அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline">         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">போற்று அல்லேலூயா அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">ஆழ்கடலின் மச்சமே போற்று</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆழத்தின் ஆழமே போற்று</samp>
<span class="chordline"><b>G</b>	               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியே கல்மழை போற்று</samp>
<span class="chordline"><b>G</b> </span>
<samp charset="UTF-8" class="lyricline">பெரும் காற்றே மழையே போற்று</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">கனிதரும் மரமே போற்று</samp>
<span class="chordline">          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உறைந்த மழையே பனியே போற்று   </samp>
<samp charset="UTF-8" class="lyricline"> ---- போற்று </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மிருகங்களின் கூட்டமே போற்று</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஊரும் பிராணிகளின் கூட்டமே போற்று</samp>
<span class="chordline"><b>G</b>	                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பறவைகளின் கூட்டமே போற்று</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஜனமே போற்று</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் குடியே போற்று</samp>
<span class="chordline">       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இளம் வாலிபனே கன்னிகையே போற்று </samp>
<samp charset="UTF-8" class="lyricline">  ---- போற்று </samp>
<span class="blankline"></span></div></div>   
        
     </div>