<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3967" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>                                        <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">ஆதி அந்தம் அனைத்துமான உலக ஜோதியே!</samp>
<span class="chordline"><b>E7</b>                                     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்ம பாவம் போக்க வந்த ஜீவ ஜோதியே!</samp>
<span class="chordline"><b>Am</b>                                      <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">ஆதி சக்தி நாயகனாய் அமைந்த ஜோதியே!</samp>
<span class="chordline"><b>E7</b>                                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாதம் சரண் பற்றி நினம் பரம் ஜோதியே!</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>          <b>G</b>              <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">வந்தருள்வீரே காத்தருள்வீரே</samp>
<span class="chordline"><b>F</b>              <b>E7</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தூய்மை பெறவே அருள் ஈந்திடுவீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                                         <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் யாவும் படைத்து அளித்த ஆதி நாயகா</samp>
<span class="chordline"><b>E7</b>                                           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் மக்கள் வாழ்வை காக்கும் யோக நாயகா</samp>
<span class="chordline"><b>Am</b>                                           <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">பக்தர் போற்றிப் பாடிப் புகழும் கருணை நாயகா</samp>
<span class="chordline"><b>E7</b>                                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்து வழி நடத்தும் பரம நாயகா (வந்த)</samp>
<samp charset="UTF-8" class="lyricline">   ...வந்தருள்வீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                                        <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் வாழ்வை மாற்ற வந்த ஞான குருபரா</samp>
<span class="chordline"><b>E7</b>                                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் மனித பிறவி கொண்ட தெய்வ குரபரா</samp>
<span class="chordline"><b>Am</b>                                      <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">பாடுபட்டு தன்னை ஈந்த கருணை குருபரா</samp>
<span class="chordline"><b>E7</b>                                        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்கி என்னை மீட்ட தேவ குருபரா (வந்த)</samp>
<samp charset="UTF-8" class="lyricline">   ...வந்தருள்வீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                                  <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">நற்கனிகள் தந்து காக்கும் தூய நாயகா</samp>
<span class="chordline"><b>E7</b>                                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்றவரம் பகிர்ந்தளிக்கும் சக்தி நாயகா</samp>
<span class="chordline"><b>Am</b>                                          <b>E7</b></span>
<samp charset="UTF-8" class="lyricline">ஆறவாழியில் நடக்கச் செய்யும் அருள் நாயகா</samp>
<span class="chordline"><b>E7</b>                                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பரலோக நெறி நடத்தும் முக்தி நாயகா (வந்த)</samp>
<samp charset="UTF-8" class="lyricline">   ...வந்தருள்வீரே</samp></div></div>   
        
     </div>