<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3968" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறர் இயேசு உன்னை</samp>
<span class="chordline">                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் செய்ய அழைக்கிறர் </samp>
<span class="chordline">          <b>D</b>  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அழைக்கிறர் மீட்பர் உன்னை</samp>
<span class="chordline"><b>D7</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தம் சிந்த அழைக்கிறர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மரணமோ ஜீவனோ நாசமோ மோசமோ</samp>
<span class="chordline"><b>Am</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பட்டயமோ பட்டினியோ ஓன்றுஞ்செய்யாதே</samp>
<span class="chordline"><b>C</b>	                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துன்பமோ தொல்லையோ ஆளுகையோ வல்லமையோ</samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நடப்பதோ வருவதோ அன்பை மாற்றதோ  </samp>
<samp charset="UTF-8" class="lyricline"> - அழைக்கிறர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தலை முடிக்கு கணக்கு வைக்கும் தேவன் அவர்</samp>
<span class="chordline"><b>G</b>	                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணி போல் கருத்துடனே காத்திடுவார்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தசாட்சி ஸ்தேவான் போல் உன்னையவர்</samp>
<span class="chordline"><b>D7</b>                                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">முற்றும் மாற்ற இன்று உன்னை அழைக்கின்றர்         </samp>
<samp charset="UTF-8" class="lyricline"> - மரணமோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">திறப்பின் வாயில் நிற்க்கத்தக்க மனிதன் யாயே</samp>
<span class="chordline"><b>G</b>	                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்று தேடும் தேவனை நீ சந்திப்பாயா</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் காரியம் நிறைவேற செல்பவன் யார்</samp>
<span class="chordline"><b>D7</b>	                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்று கேட்கும் தேவன் உன்னை அழைக்கின்றர்         </samp>
<samp charset="UTF-8" class="lyricline">  - மரணமோ                                </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல போர் சேவகனாய் தீங்கடைய</samp>
<span class="chordline"><b>G</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல ஓர் போராட்டம் நடத்தியே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஓட்டம் முடித்து நற்பரிசாம் நித்திய</samp>
<span class="chordline"><b>D7</b>	                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ கிரீடம் பெற்றிடவே அழைக்கின்றர்</samp>
<samp charset="UTF-8" class="lyricline">  - மரணமோ</samp>
<span class="blankline"></span></div></div>   
        
     </div>