<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3971" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">திரித்துவ தேவா   மகிமைப் பிரதாபா</samp>
<span class="chordline"><b>D7</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திருப்பாதம் பணிந்து நின்றேம்</samp>
<span class="chordline"><b>Em</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமான  பரமனே உம்மை</samp>
<span class="chordline"><b>A7</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாடியே தொழுதிடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இத்தரை தன்னிலே சத்தியன் நாமத்தை</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்தமும் பாடிடுவோம்</samp>
<span class="chordline"><b>Em</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நித்தியனாம் எங்கள்  நிமலனின் பாதத்தை</samp>
<span class="chordline"><b>A7</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நித்தமும் தொழுதிடுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வித்தகனே உந்தன் வியத்தகு செயல்களை</samp>
<span class="chordline"><b>G</b>	           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விளக்கியே கூறிடுவோம்</samp>
<span class="chordline"><b>Em</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தாதி கர்த்தனே கருணைப்பிரவாகனே</samp>
<span class="chordline"><b>A7</b>	           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">களிப்புடன் பாடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...திரித்துவ </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சுரமண்டல கீத சத்தங்களாலும்</samp>
<span class="chordline"><b>D7</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தனை தொழுதிடுவோம்</samp>
<span class="chordline"><b>Em</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரமண்டலத் தந்தை பரம சழூகத்தில்</samp>
<span class="chordline"><b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாடல்கள் பாடிடுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிறை கடல் போலவே நின்றெம்மைக் காக்கும்</samp>
<span class="chordline"><b>G</b>	                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நித்தனே உமைத் தொழுவோம்</samp>
<span class="chordline"><b>Em</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வருவாய் பரனே வல்லமெய் தேவா</samp>
<span class="chordline"><b>A7</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வந்தனை புரிந்து நின்றேம்</samp>
<samp charset="UTF-8" class="lyricline">   ...திரித்துவ </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் நிறைந்திட்ட  இணையற்ற தேவா</samp>
<span class="chordline"><b>D7</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எங்கட்கு வரம் அருள்வாய்</samp>
<span class="chordline"><b>Em</b>                      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பொங்கும் பேரின்பத்தில்  புதுப்பெலனடைய</samp>
<span class="chordline"><b>A7</b>	                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியைப் பொழிந்திடுவாய்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமெய் தேவா வந்தெம்மைத் காவாய்</samp>
<span class="chordline"><b>G</b>	            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை தந்திடுவாய்</samp>
<span class="chordline"><b>Em</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல உம் நாமத்தை  நானிலத்தில் கூற </samp>
<span class="chordline"><b>A7</b>	              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நாவினில் நிறைத்திடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...திரித்துவ </samp>
<span class="blankline"></span></div></div>   
        
     </div>