<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3972" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                             </span>
<samp charset="UTF-8" class="lyricline">என் நேசர் வெள்ளைப் போளச் செண்டு</samp>
<span class="chordline"><b>Am</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பர் மரிக் கொழுந்து புங்கொத்து</samp>
<span class="chordline"><b>Am</b>	                           <b>D</b>	        </span>
<samp charset="UTF-8" class="lyricline">நான் அவர்க்கு மலர்ந்து மணக்கும் ரோஜாவே</samp>
<span class="chordline"><b>G</b>                <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பள்ளத்தாக்கின் லீலி புஷ்பமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அருமையானவார் எந்தன் நேசர்</samp>
<span class="chordline"><b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமானவர் ஆத்ம நேசர்</samp>
<span class="chordline"><b>C</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மதுரமானவர் எந்தன் நேசர்</samp>
<span class="chordline"><b>D7</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பிரியமானவர் ஆத்ம நேசர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">காட்டு மரங்களுக்குள்ளே</samp>
<span class="chordline"><b>G7</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிச்சிலி மரம் போலானவர் அவர்</samp>
<span class="chordline"><b>Am</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலைக் குன்றின் வெடிப்பிலே</samp>
<span class="chordline"><b>A</b>                        <b>D7</b>         </span>
<samp charset="UTF-8" class="lyricline">ஓடி வரும் மானுக்குச் சமானமாவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெண்மையும் சிவப்புமானவர்</samp>
<span class="chordline"><b>G7</b>                             <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">புறுவின் கண்கள் கொண்டவர் அவர்</samp>
<span class="chordline"><b>Am</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கேதுரு மரம் போலானவர்</samp>
<span class="chordline"><b>A</b>                         <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">பதினாயிரம் போல் சிறந்தவராவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் என்னுடையவர்</samp>
<span class="chordline"><b>G7</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் மேல் அவர் பிரியமானவர்</samp>
<span class="chordline"><b>Am</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பர் நேசம் எனக்கு இன்பமே</samp>
<span class="chordline"><b>A</b>                           <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">அது தேனிலும் அதிக இன்பமானதுவே</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசர்</samp></div></div>   
        
     </div>