<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3973" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                                 </span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்க தன்னை பலியாய் </samp>
<span class="chordline"><b>F</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஈந்த இயேசுவை நாடு</samp>
<span class="chordline"><b>G7</b>                           </span>
<samp charset="UTF-8" class="lyricline">பாவ வழியை விடவே மீட்பர் </samp>
<span class="chordline">	               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு வழியை நாடு</samp>
<span class="chordline"><b>C</b>	                          </span>
<samp charset="UTF-8" class="lyricline">பாரில் பாடுகள் சகித்து சிலுவை </samp>
<span class="chordline">                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுமந்த இயேசுவை நாடு </samp>
<span class="chordline"><b>G7</b>	                          </span>
<samp charset="UTF-8" class="lyricline">பாசத்துடனே மோட்சம் சேர்க்கும் </samp>
<span class="chordline">                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரமன் அருளை நாடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நாடு - நாடு - நாடு - நாடு – நாடு</samp>
<span class="chordline"><b>C</b>           <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை நாடு</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாடு - நாடு - நாடு - நாடு </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு வழியில் நாடு </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                                     </span>
<samp charset="UTF-8" class="lyricline">கண்ணை இமைகள் காப்பது போல </samp>
<span class="chordline"><b>F</b>                     <b>G</b>	  </span>
<samp charset="UTF-8" class="lyricline">காத்திடும் கர்த்தனை பாடு</samp>
<span class="chordline"><b>G7</b>                           	</span>
<samp charset="UTF-8" class="lyricline">உண்னம மீப்பு தரவே இயேசு </samp>
<span class="chordline">                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்த்தெழுந்தாரே பாடு</samp>
<span class="chordline"><b>C</b>	                              </span>
<samp charset="UTF-8" class="lyricline">எண்ணமெல்லாம் நிறைந்த கர்த்தன் </samp>
<span class="chordline">                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உன்னிடம் வருவார் பாடு</samp>
<span class="chordline"><b>G7</b>	                        </span>
<samp charset="UTF-8" class="lyricline">எண்ணில்லாத நன்றி செலுத்தி </samp>
<span class="chordline">                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இறைவன் புகழைக் பாடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                                            </span>
<samp charset="UTF-8" class="lyricline">உன்னை பெலத்தால் நிரப்பும் இறைவன் </samp>
<span class="chordline"><b>F</b>                     <b>G</b>	  </span>
<samp charset="UTF-8" class="lyricline">பாடியே தாளம் போடு</samp>
<span class="chordline"><b>G7</b>                           	          </span>
<samp charset="UTF-8" class="lyricline">தன் அருள் தந்திடும் பரமனைப் போற்றி </samp>
<span class="chordline">                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருக்கைத் தாளம் போடு</samp>
<span class="chordline"><b>C</b>	                                    </span>
<samp charset="UTF-8" class="lyricline">இன்னல்கள் அகற்றிய இயேசுவை நாடியே </samp>
<span class="chordline">                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புகழ் மாலைகள் போடு</samp>
<span class="chordline"><b>G7</b>	                                  </span>
<samp charset="UTF-8" class="lyricline">இன்னிசை முழங்க கரங்களை உயர்த்தி </samp>
<span class="chordline">             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா போடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">போடு - போடு - போடு - போடு –</samp>
<span class="chordline"><b>C</b>             <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">போடு தாள்ம் போடு </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">போடு - போடு - போடு - போடு –</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருக்கை தாளம் போடு</samp>
<span class="blankline"></span></div></div>   
        
     </div>