<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3974" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஒளிவடிவ மெய்ப்பொருளே</samp>
<span class="chordline"><b>E7</b>                           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஒலி அமைத்த மெய்ப்பொருளே</samp>
<span class="chordline"><b>Am</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பலி தீர்த்த மெய்ப்பொருளே</samp>
<span class="chordline"><b>E7</b>                           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இன்பம் நல்கும் இறைவன் நீயே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு காட்டும் தந்தையும் நீரே</samp>
<span class="chordline"><b>G</b>                           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அருள் தரும் மைந்தனும் நீரே</samp>
<span class="chordline"><b>F</b>                            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தூய்மை நல்கும் தூயவன் நீரே</samp>
<span class="chordline"><b>E7</b>                          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உய்யும் வழி காணச் செய்வீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வழியாகும் மெய்ப்பொருளே</samp>
<span class="chordline"><b>E7</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியமாகும் மெய்ப்பொருளே</samp>
<span class="chordline"><b>Am</b>                           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தரும் மெய்பொபொருளே</samp>
<span class="chordline"><b>E7</b>                          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்றன் இன்ப இறைவன் நீயே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ ஊற்றும் மெய்ப்பொருளே</samp>
<span class="chordline"><b>E7</b>                        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ அப்பம் மெய்ப்பொருளே</samp>
<span class="chordline">       <b>Am</b>                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">(நல்) மேய்ப்பனான மெய்ப்பொருளே</samp>
<span class="chordline"><b>E7</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">போற்றும் இறைவன் நீயே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வருவேன் என்ற மெய்ப்பொருளே</samp>
<span class="chordline"><b>E7</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கு மாறு மெய்ப்பொருளே</samp>
<span class="chordline"><b>Am</b>                               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">விரைந்து வாரும் மெய்ப்பொருளே</samp>
<span class="chordline"><b>E7</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வந்து மீட்கும் இறைவன் நீயே</samp>
<span class="blankline"></span></div></div>   
        
     </div>