<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3975" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நான் இயேசுவின் படையில் யுத்த வீரன்</samp>
<span class="chordline"><b>G7</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யாருக்கும் அஞ்சமாட்டேன்</samp>
<span class="chordline">     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இவ்வுலகமே எதிர்ப்பினும் சற்றும் பயமின்றி</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">துணிந்தே செயல்படுவேன்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் நிறைந்த உன்னதர் இயேசுவை</samp>
<span class="chordline"><b>G7</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒயாமல் பாடிடுவேன்</samp>
<span class="chordline"><b>G</b>                    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கும் ஞானமும் வல்லவர் தருவதால்</samp>
<span class="chordline"><b>D7</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்ப்போரை வென்றிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கு பெலன்தரும் கிறிஸ்துவினாலே</samp>
<span class="chordline"><b>G7</b>	            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் செய்திடுவேன் – என்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தேவனால் கூடாத காரியமில்லை</samp>
<span class="chordline"><b>D</b>	              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமர் துணை அவரே</samp>
<span class="blankline"></span>
<span class="chordline">            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இக்கல்லில் மோதுபவன்</samp>
<span class="chordline"><b>C</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவன் நொறுங்கி போய் விடுவான்</samp>
<span class="chordline">                   <b>Am</b>               </span>
<samp charset="UTF-8" class="lyricline">இது எவன் மேல் விழுந்திடுமேர்</samp>
<span class="chordline"><b>D7</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவன் நசுங்கி அழிந்திடுவான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் தரும் பெலத்தால் சேனைக்குள் பாய்வேன்</samp>
<span class="chordline"><b>G7</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதனை முறியடிப்பேத்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தேவனால் பெரிய மதிலைத் தாண்டுவேன்</samp>
<span class="chordline"><b>D7</b>                       <b>G</b>                </span>
<samp charset="UTF-8" class="lyricline">தீங்கென்னைத் தொடராதே                      </samp>
<samp charset="UTF-8" class="lyricline">  -இக்கல்லில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மான் கால்களாக என் கால்கள் மாற்றுவார்</samp>
<span class="chordline"><b>G7</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்த ஸ்தலமளிப்பார்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் செய்ய என் கைகள் பழக்குவார்</samp>
<span class="chordline"><b>D7</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி எனதல்லவோ                         </samp>
<samp charset="UTF-8" class="lyricline">   -இக்கல்லில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு இரட்சகர் என் பக்கம் இருக்க</samp>
<span class="chordline"><b>G7</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னை எதிர்ப்பவன் யார்?</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்து என் ஜீவன் சாவு ஆதாயம்</samp>
<span class="chordline"><b>D7</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றே கூறிடுவேன்                            </samp>
<samp charset="UTF-8" class="lyricline">  -இக்கல்லில்</samp>
<span class="blankline"></span></div></div>   
        
     </div>