<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3977" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>	<b>Am</b>            <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">முதல் இரத்த சாட்சி யார்</samp>
<span class="chordline">      <b>G</b>                          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சபை சரித்திரம் சான்று பகரும் பார்</samp>
<span class="chordline"><b>F</b>                          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இச்சந்ததியின் ஸ்தேவான் யார்?</samp>
<span class="chordline"><b>G</b>                          <b>C</b>    <b>E</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இக்கிருபை யாருக்கென்று பார் பார் பார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு யோசுவா வேண்டும் வழி நடத்திட</samp>
<span class="chordline">      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு காலேப் வேண்டும் தோள் கொடுத்திட</samp>
<span class="chordline">      <b>Dm</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு கிதியோன் வேண்டும் போர் தொத்திட</samp>
<span class="chordline">     <b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒரு ஸ்தேவான் வேண்டும் ஜீவன் ஈந்திட</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">கால் படும் தேசத்தை தருவாரே</samp>
<span class="chordline"><b>Am</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஓருவரும் எதிர்ப்பது இல்லையே</samp>
<span class="chordline"><b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேசம் நமக்கு சொத்தமே</samp>
<span class="chordline"><b>G7</b>                <b>C</b>                            </span>
<samp charset="UTF-8" class="lyricline">தருவார் இயேசு திண்ணமே                 </samp>
<span class="chordline"><b>C</b>      <b>E</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வா ...வா......வா.....</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">காலேபிற்கு பெலன் தந்தவர்</samp>
<span class="chordline"><b>Am</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமனுக்கு துணையாவார்</samp>
<span class="chordline"><b>D</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எபிரோனை தெரிந்து கொள்ளுவோம்</samp>
<span class="chordline"><b>G7</b>      <b>C</b>                                    </span>
<samp charset="UTF-8" class="lyricline">சத்தா நொறுக்குவோம்</samp>
<span class="chordline"><b>C</b>       <b>E</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வா ...வா......வா.....   </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>