<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3980" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனது கர்த்தரின் வருகை</samp>
<span class="chordline">          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சமீபவே சமீபவே </samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மனது அவரை காணவே</samp>
<span class="chordline"><b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏங்குதே ஏங்குதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மிகுந்த மகிமை நிறைந்தோராய்</samp>
<span class="chordline"><b>C</b>               <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">மேகத்தின் மீது காணப்பட்டுத்</samp>
<span class="chordline"><b>C</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வலுவாய் எக்காளம் தொனிய்த்திட</samp>
<span class="chordline"><b>D7</b>           <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">வந்திடுவார் வந்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மணவாளன் வரும் நாழிகையும்</samp>
<span class="chordline"><b>C</b>                   <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">நாளையும் அறியா மானிடனே</samp>
<span class="chordline"><b>C</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீயும் அவரை சந்திக்கவே</samp>
<span class="chordline"><b>D7</b>          <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமா ஆயத்தமா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காலையிலோ, மாலையிலோ</samp>
<span class="chordline"><b>C</b>                 <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">சேவல் கூவிடும் நேரத்திலோ</samp>
<span class="chordline"><b>C</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நினையா நேரத்தில் வந்திடுவார்</samp>
<span class="chordline"><b>D7</b>          <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">விழித்திரு விழித்திரு</samp>
<span class="blankline"></span></div></div>   
        
     </div>