<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3981" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>               <b>F#m</b>              </span>
<samp charset="UTF-8" class="lyricline">திரும்பு திரும்பு மனந்திரும்பு</samp>
<span class="chordline"><b>A</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">விரும்பு விரும்பு இரட்சிப்பை விரும்பு</samp>
<span class="chordline"><b>B</b>                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">விரும்பினால் உள்ளத்தில் உவகை அரும்பும்</samp>
<span class="chordline"><b>B</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்திடும் மனதில் மகிழ்வு நிறைந்திடும்</samp>
<span class="chordline"><b>C#</b>	             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வந்திடும் வாழ்வில் அமைதி வந்திடும்</samp>
<span class="chordline"><b>E</b>	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீயும் பெற்றிடவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">வாலிபனே காலமதை வீணில் கழித்து</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">அலையாதே</samp>
<span class="chordline"><b>Bm</b>	                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கன்னிகையே அழகென்று அரை</samp>
<span class="chordline">              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">குறை ஆடை அணியாதே</samp>
<span class="chordline"><b>A</b>	        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நாகரீக்மென்று பெண்களைப் போன்று</samp>
<span class="chordline"><b>A</b>	           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">முடியை வளர்க்காதே</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">பெண்மையை மறந்து ஆணுடை</samp>
<span class="chordline"><b>E7</b>                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தரித்து அலைந்து திரியாதே</samp>
<samp charset="UTF-8" class="lyricline">   ...திரும்பு திரும்பு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இளைஞரே புகைப்பதனால் அற்ப</samp>
<span class="chordline">	  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆயுளில் மடிவீரே</samp>
<span class="chordline"><b>Bm</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">போதையில் மதிமங்கிய வாழ்வை</samp>
<span class="chordline">	   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கெடுத்துக் கொள்ளாதே</samp>
<span class="chordline"><b>A</b>                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தறிகெட்டு நீயும் திரைப்படம் பார்த்து</samp>
<span class="chordline"><b>A</b>	             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நெறிகெட்டுப் போகாதே</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சரீரம் தேவனின் ஆலயம்</samp>
<span class="chordline"><b>E7</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அதனை  கெடுக்காதே</samp>
<samp charset="UTF-8" class="lyricline">   ...திரும்பு திரும்பு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மங்கையரே வீண் பேச்சில் சிரித்து</samp>
<span class="chordline">        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காலம் கழிக்காதே</samp>
<span class="chordline"><b>Bm</b>                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆணோடு சமமென்று வழுக்கி</samp>
<span class="chordline">	  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">விழுந்து போகாதீர்</samp>
<span class="chordline"><b>A</b>                    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சாயத்தை முகத்தில் பூசியே</samp>
<span class="chordline">           <b>A</b>	             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயற்கை அழகை கெடுக்காதே</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">பொன் நகை தேடி புன்னகை</samp>
<span class="chordline"><b>E7</b>	                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இழந்து புலம்பி தவிக்காதே</samp>
<samp charset="UTF-8" class="lyricline">   ...திரும்பு திரும்பு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தீமையை நாவினால் பேசி அகமதை</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கெடுக்காதே</samp>
<span class="chordline"><b>Bm</b>	           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பண்பற்ற தீர்ப்பின் சிந்தய</samp>
<span class="chordline">	   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கெடுத்துக் கொள்ளாதே</samp>
<span class="chordline"><b>A</b>                     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அநியாயத்தால் வந்த செல்வம் என்றும்</samp>
<span class="chordline"><b>A</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஓன்றுக்கும் உதவாதே</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">பணத்தின் ஆசை தீமைக்கு வேராம்</samp>
<span class="chordline"><b>E7</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அதனை விரும்பாதே</samp>
<samp charset="UTF-8" class="lyricline">   ...திரும்பு திரும்பு</samp></div></div>   
        
     </div>