<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3982" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் மீட்பர் ரத்தம் சிந்தினார்</samp>
<span class="chordline"><b>C</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மா நீதியும் சம்பாதித்தார்</samp>
<span class="chordline"><b>G</b>                        <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">என் சொந்த நீதி வெறுத்தேன்</samp>
<span class="chordline"><b>C</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம் நம்புவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Bm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நான் நிற்கும் பாறை கிறிஸ்து தான்</samp>
<span class="chordline"><b>C</b>                       <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">வேறஸ்திபாரம் மணல்தான் ----2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வேறஸ்திபாரம் மணல்தான் ----2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கார்மேகம் அவர் முகத்தை</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மறைக்கும் காலம் அவரை</samp>
<span class="chordline"><b>G</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எப்போதும் போல நம்புவேன்</samp>
<span class="chordline"><b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாறதவர் என்றறிவேன்</samp>
<samp charset="UTF-8" class="lyricline">    ...நான் நிற்கும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மரணவெள்ளம் பொங்கிடினும்</samp>
<span class="chordline"><b>C</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் மாம்சம் சோர்ந்து போயினும்</samp>
<span class="chordline"><b>G</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் வாக்குத்தத்தம் ஆணையும்</samp>
<span class="chordline"><b>C</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் நெஞ்சை ஆற்றித் தேற்றிடும்</samp>
<samp charset="UTF-8" class="lyricline">    ...நான் நிற்கும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நியாயத் தீர்ப்புக் காலத்தில்</samp>
<span class="chordline"><b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எக்காள சத்தம் கேட்கையில்</samp>
<span class="chordline"><b>G</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அஞ்சேன் என் மீட்பர் நீதியே</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆநீதன் என்னை மூடுமே </samp>
<samp charset="UTF-8" class="lyricline">    ...நான் நிற்கும்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>