<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3983" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சாரோனில் மலரும் ரோஜாப்பூ</samp>
<span class="chordline"><b>D</b>                      <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் உள்ளத்தில் மகிழும் பூ</samp>
<span class="chordline"><b>A7</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">களிப்பினால் எனக்குள் வரும் அன்பு</samp>
<span class="chordline">       <b>D</b>      <b>C</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் பள்ளத்தாக்கின்   லில்லிப் பூ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பொங்கும் உள்ளம் புனிதர் நினைவால்</samp>
<span class="chordline"><b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">துள்ளும் நெஞ்சம் தூயர் அன்பால்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் இன்பம் இறைவன் அருளால்</samp>
<span class="chordline"><b>E</b>                 	 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் பாடி மகிழ்வேன்</samp>
<span class="chordline"><b>D7</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமர் உதடுகள்  முத்தமிடுமே</samp>
<span class="chordline"><b>D</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நித்ய உள்ளம்    நேசம் தருமே</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் கரங்கள் கானதிடுமே</samp>
<span class="chordline"><b>A7</b>	               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நித்தமும் அவருடன் வாழ்ந்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்ம நேசரே உம்மைத் தேடினேன்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">ஆன்ம தாகத்தால் அலைந்து வாடினேன்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">ஆருயிர் தலைவா அன்பை நாடினேன்</samp>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் கண்டேனே</samp>
<span class="chordline"><b>G</b>           </span>
<samp charset="UTF-8" class="lyricline">உமது நேசம் திராட்சை ரசமே</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமது நாமம் வாசனை தைலமே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமது உருவம் கிச்சிலி மரமே</samp>
<span class="chordline"><b>E</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அதன் கனி மதுரமே</samp>
<span class="chordline"><b>D</b>	          <b>F#</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் மேல் பறந்த அவரது கொடியும் அவரது நேசம்</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தைப் போன்று வல்லமையுள்ளதாம்</samp>
<span class="chordline"><b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவரது நேசம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>