<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3984" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா என் ஆத்துமா</samp>
<span class="chordline"><b>G7</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரைத் துதிக்கிறது</samp>
<span class="chordline"><b>C</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா என் ஆவியும்</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரால் களிக்கிறது</samp>
<span class="chordline"><b>G</b>	       <b>F</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline"><b>G</b>	                     <b>F</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா அல்லேலூயா  -- 2</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா அல்லேலூயா </samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா அல்லேலூயா  --</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா  அல்லேலூயா </samp>
<span class="chordline"><b>D</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா  அல்லேலூயா --</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒளியோடு வானத்தை திரைபோல் விரித்தே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேல் வீடுகளையே தண்ணீரால் பரவி</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">மேகங்களை உமது ரதமாக மாற்றி</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">காற்றினும்டைய செட்டை மேல்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">செல்லுவீர் செல்லுவீர்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமது தூதரை காற்றுகளாகவும்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியக்காரரை அக்கினியாய் மாற்றி</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">பூமி ஒரு போதும் அசையாதபடிக்கு</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ஆதாரங்கள் மேல் அதை</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தாபித்தீர் ஸ்தாபித்தீர்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானத்திலிருந்து தண்ணீர் இரைத்து</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன்களுக் கெல்லாம் தாகத்தை தீரித்து</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நதிகளின் கரைகளில் மரங்கள் வளாத்து</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">பறவைகள் அதன் மேல் பாடச்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">செய்கிறீர் செய்கிறீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனிதர்களுக்கு பயிர்கள் முளைக்க</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மிருகங்களுக்கு புல்லும் வளர</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">வனங்களில் கேதுரு மரங்கள் உயர</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">குருவிகளுக்கு கூடுகள்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">அமைத்திட்டீர் அமைத்திட்டீர்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்த பர்வதம் வரையாடுகளுக்கும்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலைக் குழிகள குழிமுயல்களுக்கும்</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">தேவதாரு மரங்கள் கொக்குகளுக்கும்</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கலமாக அமைத்துக் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">காத்திட்டீர் காத்திட்டீர்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>