<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3985" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">செய்துக்கோ செய்துக்கோ</samp>
<span class="chordline"><b>Em</b>	       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அநியாயத்தை செய்துக்கோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நடந்துக்கோ நடந்துக்கோ</samp>
<span class="chordline"><b>D7</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அசுத்தமாகவே நடந்துக்கோ(2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வந்திடுவார் வந்திடுவார்</samp>
<span class="chordline"><b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜா வந்திடுவார்</samp>
<span class="chordline"><b>D</b>	       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சென்றிடுவார் சென்றின்டுவார்---(2)</samp>
<span class="chordline"><b>D7</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கப்பட்டோர் சென்றிடுவார்</samp>
<span class="chordline"><b>G</b>               <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">சேர்ந்திக்டுவார் சேர்ந்திக்டுவார்</samp>
<span class="chordline"><b>C</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் அணைப்பில் சேர்ந்திடுவார்</samp>
<span class="chordline"><b>D</b>               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்ந்திடுவார் வாழ்ந்திடுவார்</samp>
<span class="chordline"><b>D7</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீத்திய காலமாய் வாழ்ந்திடுவார் ---(2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜயோ உந்தன் பாவம் உன்னை ஆக்கிடுமே சாபம்</samp>
<span class="chordline">            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அந்தோ பரிதாபம் உனக்கு என் அனுதாபம்</samp>
<span class="chordline"><b>G</b>         <b>Bm</b>      <b>Em</b>	       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கவேப்பட்டால்   பரலோகம் செல்வார்</samp>
<span class="chordline">          <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடப்பட்டால்  பாதாளம் சேர்வார்     </samp>
<samp charset="UTF-8" class="lyricline">   ---  செய்துக்கோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பொல்லாதே பொல்லாதே</samp>
<span class="chordline"><b>G</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உலக ஆசை பொல்லாதே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நில்லாதே நில்லாதே</samp>
<span class="chordline"><b>D7</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவ வழியில் நில்லாதே---(2)</samp>
<span class="chordline"><b>G</b>           <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">செல்லாதே செல்லாதே</samp>
<span class="chordline"><b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காலம் இனியும் செல்லாதே</samp>
<span class="chordline"><b>D</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லாதே  சொல்லாதே</samp>
<span class="chordline"><b>D7</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாக்கு போக்கு சொல்லாதே ----(2)</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">666 நிச்சயம் வந்திடும் பாரு</samp>
<span class="chordline">                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அதற்கு முன்னால் நீரு பரலோகம் போய் சேரு</samp>
<span class="chordline"><b>G</b>        <b>Bm</b>      <b>Em</b>	       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கவேப்பட்டால்  பரலோகம் செல்வார்</samp>
<span class="chordline">          <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடப்பட்டால்  பாதாளம் சேர்வார்     </samp>
<samp charset="UTF-8" class="lyricline">   ---  செய்துக்கோ</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>