<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3988" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">காலம்  இனி  செல்லாது  </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">ஒரு காசு  கூட வராது</samp>
<span class="chordline">         <b>A</b>                          </span>
<samp charset="UTF-8" class="lyricline">வெறும் பட்டம்  அங்கே செல்லாது  </samp>
<span class="chordline">       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உன் சட்டம்  அங்கே நில்லாது</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">வெளி வேஷம் அங்கே  செல்லாது</samp>
<span class="chordline"><b>D</b>             <b>A</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வெல்லாது  செல்லாது  செல்லாது</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                            </span>
<samp charset="UTF-8" class="lyricline">மாடி  மேலே  மாடி கட்டும் </samp>
<span class="chordline">           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மைடியர்  மிஸ்டர்</samp>
<span class="chordline"><b>F#m</b>	                      </span>
<samp charset="UTF-8" class="lyricline">மறுமையிலே  வீடு  உண்டா </samp>
<span class="chordline"><b>A</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லுங்க  மிஸ்டர்</samp>
<span class="chordline"><b>A</b>                              </span>
<samp charset="UTF-8" class="lyricline">ஒடி ஒடி  சொத்து  சேர்க்கும்  </samp>
<span class="chordline">            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மைடியர்   மிஸ்டர்</samp>
<span class="chordline"><b>B7</b>                               </span>
<samp charset="UTF-8" class="lyricline">சொத்து  உண்டா பரலோத்தில்  </samp>
<span class="chordline">              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லுங்க  மிஸ்டர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">புரிஞ்சுக்கோ  நல்லா  தெரிஞ்சுடகோ</samp>
<span class="chordline"><b>B</b>	                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">திருந்திக்கோ  இயேசுவை  அறிஞ்சுக்கோ</samp>
<span class="chordline"><b>E7</b>	               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">புரிஞ்சுக்கோ  நல்லா  தெரிஞ்சுகோ</samp>
<span class="chordline"><b>B7</b>	                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">திருந்திக்கோ  இயேசுவை  அறிஞ்சுக்கோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                              </span>
<samp charset="UTF-8" class="lyricline">நகையின்  மேலே  நகையை  </samp>
<span class="chordline">                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பூட்ட விரும்பிடும்  சிஸ்டர்</samp>
<span class="chordline"><b>F#m</b>	                         </span>
<samp charset="UTF-8" class="lyricline">நாளை  நகை   உடன்  வராது </samp>
<span class="chordline"><b>A</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தெரியுமா  சிஸ்டர்</samp>
<span class="chordline"><b>A</b>                                    </span>
<samp charset="UTF-8" class="lyricline">மினு மினுக்காய்  உடலை போற்றும் </samp>
<span class="chordline">            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மைடியர்  மிஸ்டர்</samp>
<span class="chordline">      <b>B7</b>                                </span>
<samp charset="UTF-8" class="lyricline">அது  மண்ணுக்குள்ளே  மங்கிப்போகும் </samp>
<span class="chordline">               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தெரிஞ்சுக்கோ சிஸ்டர்</samp>
<samp charset="UTF-8" class="lyricline"> -- புரிஞ்சுக்கோ  </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                            </span>
<samp charset="UTF-8" class="lyricline">வாங்கி  விற்று  பணத்தை  </samp>
<span class="chordline">                      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சேர்க்கும்  மைடியர்  மிஸ்டர்</samp>
<span class="chordline"><b>F#m</b>	     <b>A</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">666 வரும்  தெரியுமா  மிஸ்டர்</samp>
<span class="chordline"><b>A</b>                               </span>
<samp charset="UTF-8" class="lyricline">பணத்தை  பேங்கில்  சேர்த்து  </samp>
<span class="chordline">                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வைக்கும் மைடியர்  மிஸ்டர்  - அதை</samp>
<span class="chordline"><b>B7</b>                                       </span>
<samp charset="UTF-8" class="lyricline">அந்திக் கிறிஸ்து  அள்ளிக் கொள்வான்  </samp>
<span class="chordline">                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தெரிஞ்சுக்கோ  மிஸ்டர்</samp>
<samp charset="UTF-8" class="lyricline">--- புரிஞ்சுக்கோ  </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>