<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3989" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                         <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">இயற்கையின்  அழகில்  இதயம் நிறைந்த</samp>
<span class="chordline"><b>E</b>                   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை  நான்  கண்டேன்</samp>
<span class="chordline"><b>B</b>                              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயற்கை   உலகின்  இனிய  வண்ணத்தில்</samp>
<span class="chordline"><b>B</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேவை  நான்  கண்டடேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>          <b>A</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம்  படைத்த  மன்னவா </samp>
<span class="chordline"><b>F#</b>                <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும்  நிறைந்த  விண்ணவா</samp>
<span class="chordline"><b>B7</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் மலரடி  பணிகின்றேன்</samp>
<span class="chordline"><b>B7</b>	            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன்  பொன்னடி   போற்றுகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">சூரியன் சந்திரன் எழில் மிகு ஒளியில்</samp>
<span class="chordline">          <b>A</b>                                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உலகின்  ஒளியாய் இயேசுவை  நான் கண்டேன்</samp>
<span class="chordline"><b>A</b>                 <b>F#m</b>                                       </span>
<samp charset="UTF-8" class="lyricline">பாடும் பறவைகள்   இனிய  ஒலியில் </samp>
<span class="chordline"><b>B7</b>	                                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாசமாய் அழைக்கும் இயேசுவை நான் கண்டேன்</samp>
<span class="chordline"><b>A</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மாலைப் பொழுதின்  செந்நிற ஒளியில்</samp>
<span class="chordline"><b>B</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">குருதியின் காட்சி கண்டேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">வேகமாய் புரளும் கடலலை ஒசையில்</samp>
<span class="chordline">           <b>A</b>	                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உறங்காது காக்கும் இயேசுவை நான் கண்டேன்</samp>
<span class="chordline"><b>A</b>	        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">வான வில்லின்    வண்ண  நிறங்களில்</samp>
<span class="chordline"><b>B</b>                                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாக்குமாற இயேசுவை நான் கண்டேன்</samp>
<span class="chordline"><b>A</b>	           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இனிய தென்றலில்  இன்னல்கள் நீக்கும்</samp>
<span class="chordline"><b>B</b>	                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை  நான்  கண்டேன்</samp>
<span class="chordline"><b>A</b>                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மழையின் பொழிவில்   அருள்மாரி பொழியும்</samp>
<span class="chordline"><b>B</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை  நான்  கண்டேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>