<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3990" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு  உன்னை  அழைத்தார்</samp>
<span class="chordline"><b>A</b>	                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இன்று உன்னைத்தான் அழைத்தார்</samp>
<span class="chordline"><b>Em</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேசம்  அழியாது காத்திடவே</samp>
<span class="chordline"><b>A7</b>	                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திறப்பில்  நிற்க  ஒடி  நீ  வா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">அறுப்பு  மிகுதி  ஆட்கள்  கொஞசம்</samp>
<span class="chordline"><b>F#</b></span>
<samp charset="UTF-8" class="lyricline">வயல்  வெளிகளும்  ஆயத்தம்</samp>
<span class="chordline"><b>Bm</b>	                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காலம் வீணாகும் முன் நீ வா</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அழைப்பை ஏற்ற்ய் அடிபணிந்து</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தலைவனுக்காய் உழைத்திடவே</samp>
<span class="chordline"><b>C</b>	                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வீரனாக  ஆர்த்தெழுந்து  வா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரோடு விதைத்திடுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கெம்பீரமாய் அறுத்திடுவோம்</samp>
<span class="chordline"><b>E</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்ற காலம் காத்திருக்க வா</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கலக்கமென்ன  தயக்கமென்ன</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">கலப்பை  மேல் கைவைத்த பின்னே</samp>
<span class="chordline"><b>A7</b>	                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திரும்பி நீயும் பார்ப்பதென்ன வா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சமாதான நாட்களிலே</samp>
<span class="chordline"><b>F#</b></span>
<samp charset="UTF-8" class="lyricline">சாந்து நீயும் விழுந்து விட்டால்</samp>
<span class="chordline"><b>Bm</b>	                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">யோர்தானை சந்திப்பதெப்படி வா</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">காலாட்களோடோட்டத்திலே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இணைந்து நீயும் தோற்றுவிட்டால்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">குதிரையோடு ஓடுதிரையோடு</samp>
<span class="chordline">	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஓடுவதெப்படி வா</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சீக்கிரத்தில் நீங்கிப்போகும்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இலேசான உபத்திரவம் </samp>
<span class="chordline"><b>E</b>                               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய கனமகிமை அளிக்கும் வா</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்ந்திடுவோம் இயேசுவுக்காய்</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">உழைத்திடுவோம் இயேசுவுக்காய்</samp>
<span class="chordline"><b>A</b>                                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இரத்த சாட்சி தொகை முடிப்போம் வா</samp>
<span class="blankline"></span></div></div>   
        
     </div>