<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3991" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	                   <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">சாம்பலுக்கு சிங்காரத்தை  தந்தார்</samp>
<span class="chordline"><b>D</b>	                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துயரத்திற்கு ஆனந்தத்தைத் தந்தார்</samp>
<span class="chordline"><b>G</b>	                                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதியின் உடையை முறிந்த ஆவிக்குத் தந்தார்</samp>
<span class="chordline"><b>C</b>	               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் விருட்சமாய் நித்திய காலமாய்</samp>
<span class="chordline"><b>D7</b>	           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ராஜரீகக் கூட்டமானேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">வெட்கமா நற்பலனும்  நாடிவரும்</samp>
<span class="chordline"><b>G</b> 	  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">துன்பமா சந்தோஷம் தேடிவரும்</samp>
<span class="chordline"><b>D7</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அடிமையா  சந்தோஷம் கூடிவரும்</samp>
<span class="chordline"><b>D7</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கமா  விடுதலையும் ஒடிவரும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்திரின் ஆசிபெறும்  ஆனந்த</samp>
<span class="chordline">	 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜாதியானேன் ---- ஆஆஆ</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                                                    </span>
<samp charset="UTF-8" class="lyricline">கர்த்ருக்குள்  பூரிப்பாய்  மகிழும்  என் இருதயம்</samp>
<span class="chordline"><b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின்  வஸ்திரம்  அணிந்த்து  நிச்சயம்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் சால்வையை தரித்தது அற்புதம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா களிகூறும்  ---- ஆஆஆ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அழுகுரல்  களிப்பாக  மாறிவிடும்</samp>
<span class="chordline"><b>G</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நீதியோ   துளிர்போல முளைத்திடும்</samp>
<span class="chordline"><b>D7</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாழ்நிலம்  புதிதாக  எழும்பிடும்</samp>
<span class="chordline"><b>D7</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">செல்வமோ   குறைவின்றி  சேர்ந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்திரின் ஆசிபெறும்  ஆனந்த</samp>
<span class="chordline">	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜாதியானேன்  ---- ஆஆஆ</samp>
<span class="blankline"></span></div></div>   
        
     </div>