<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="3992" class="song songcont"><div class="songpre"><span class="chordline"><b>B</b>	          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன்  துக்கம்  சந்தோஷமாகும்</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தில் வெற்றி (2)</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் துக்கம் சந்தோஷமாகும்</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தில்  வெற்றி  மேல்  வெற்றி</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தில் வெற்றி </samp>
<span class="chordline"><b>A</b>                       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தில் வெற்றி</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">ஆஆஆஆ</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">தேவனால் கூடாத காரியம் ஒன்றில்லை</samp>
<span class="chordline">                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேடிடு அவரால் வெற்றி</samp>
<span class="chordline"><b>F#</b></span>
<samp charset="UTF-8" class="lyricline">உன்னாலும் ஆகாத காரியமில்லை</samp>
<span class="chordline">                      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உணர்ந்திடு அவரால் வெற்றி(2)</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">இதயத்தில் விசுவாசம் உண்டாகுமாயின்</samp>
<span class="chordline">	               <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">இடம் பெயரும் மலை வெற்றி </samp>
<span class="chordline"><b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">உனக்குள் இருப்பவர் உயர்ந்தவர் என்ற</samp>
<span class="chordline"><b>F#7</b>                        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையை உணர்ந்தால் வெற்றி(2)</samp>
<samp charset="UTF-8" class="lyricline">   ---உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் விசுவாசம் உலகத்தை வெல்லும்</samp>
<span class="chordline">	                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உணர்ந்து போராடினால் வெற்றி</samp>
<span class="chordline"><b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">தந்திட்டார் பரத்தின் திறவுகோல் உன்னிடம்</samp>
<span class="chordline">	             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">திறந்திடு  நிச்சயம்  வெற்றி(2)</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">மைந்தனின் நாமத்தில் கேட்பவை யாவும் </samp>
<span class="chordline">	              <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணுலகில் வரும் வெற்றி</samp>
<span class="chordline"><b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத் மைந்தன் இயேசு என்று நம்பும்  </samp>
<span class="chordline"><b>F#7</b>	                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உன்னையன்றி யாருக்கு  வெற்றி (2)</samp>
<samp charset="UTF-8" class="lyricline">   ---உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">புவியில் கட்டிடும் யாவும் பரத்தில்</samp>
<span class="chordline">	          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கட்டப்படுவதால்  வெற்றி</samp>
<span class="chordline"><b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">அவருடன் நம்மை அமர்ந்திட செய்தார்</samp>
<span class="chordline">	                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அடைந்தோம் அதனால்  வெற்றி(2)</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">சத்துருவை நீ எதிர்த்து நின்றுல்</samp>
<span class="chordline">	            <b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">சடுதியாய் ஓடுவான் வெற்றி</samp>
<span class="chordline"><b>F#7</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் கையில் நீ ராஜமுடியும்</samp>
<span class="chordline"><b>F#7</b>	          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கிரீடமுமாவாய்  வெற்றி(2)</samp>
<samp charset="UTF-8" class="lyricline">   ---உந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி உனக்குத்தான் வெற்றி</samp>
<span class="chordline"><b>E</b> 	           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி  நிச்சயம் வெற்றி </samp>
<span class="chordline"><b>B</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி உனக்குத்தான் வெற்றி</samp>
<span class="chordline"><b>E</b> 	            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி  நிச்சயம்  வெற்றி</samp>
<span class="blankline"></span></div></div>   
        
     </div>