<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4001" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                          </span>
<samp charset="UTF-8" class="lyricline">துன்ப  அலை  வந்தாலும் </samp>
<span class="chordline"><b>C#m</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">போராட்ட  புயல் வந்தாலும்</samp>
<span class="chordline"><b>A</b>                            </span>
<samp charset="UTF-8" class="lyricline">இயேசு சாமி  எங்களையே  </samp>
<span class="chordline"><b>E</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணி போல்  காத்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்ப்புண்டு  எல்லா பக்கம்  </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">சாத்தான் சேனை  எதிர்க்கும் பக்கம்</samp>
<span class="chordline"><b>B</b>                               <b>B7</b></span>
<samp charset="UTF-8" class="lyricline"> தூதர் சேனை எதிர்க்கும் பக்கம்  </samp>
<span class="chordline">	        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு சாமி  எங்க பக்கம்  (நம்பி பக்கம்)</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	   <b>A</b>	       <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா,  ஜலேசா </samp>
<span class="chordline"><b>E</b>	   <b>B</b>  	       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா,  ஜலேசா</samp>
<span class="chordline"> <b>E</b>	   <b>A</b>	      <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா,  ஜலேசா </samp>
<span class="chordline"><b>E</b>	   <b>B</b>	      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா,  ஜலேசா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">எங்க  இராஜா  இயேசு  இராஜா</samp>
<span class="chordline">               <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எங்க  கொடி  சிலுவை  கொடி</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">எங்கள் ராஜயம் பரலோகராஜயம்</samp>
<span class="chordline">                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் கோஷம் அல்லேலூயா</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">எங்க வேலை மனுஷரையே</samp>
<span class="chordline">	   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பிடிக்கும் பெரிய வேலை</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">எங்கள்  நோக்கமெல்லாம்</samp>
<span class="chordline"><b>A</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்தும ஆதாயமே </samp>
<samp charset="UTF-8" class="lyricline">   ...எதிர்ப்புண்டு</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">எப்பக்கம்  நெருக்கினாலும்</samp>
<span class="chordline">               <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நாம்  ஓடுங்கி போவதில்லை</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">கலக்கமடைந்தாலும்</samp>
<span class="chordline">            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மனமுறிவடை வதில்லை</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">துன்பமடைந்தாலும்  </samp>
<span class="chordline">          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடப்படுவதில்லை</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">கீழே விழுந்தாலும்</samp>
<span class="chordline"><b>A</b>	    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மடிந்து நாம்போவதில்லை </samp>
<samp charset="UTF-8" class="lyricline">   ...எதிர்ப்புண்டு</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">உற்றுர்  பெற்றுர் விடுவோம்</samp>
<span class="chordline">	    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மனைவி   பிள்ளை மறப்போம்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">வீடு நிலம் துறந்திடுவோம்</samp>
<span class="chordline">	      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நூறத்தனை பெற்றிடுவோம்</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தை அடி சகித்திடுவோம்</samp>
<span class="chordline">	      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கட்டு காவல் பாத்திடுவோம்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் கூட ஈந்திடுவோம்</samp>
<span class="chordline"><b>A</b>	       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ கிரீடம்  பெற்றிடுவோம்  </samp>
<samp charset="UTF-8" class="lyricline">   ...எதிர்ப்புண்டு</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>