<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4002" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவா -  தேவா  – சரணம்</samp>
<span class="chordline">	  <b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை  பணிந்தேன்  நானும்  சரணம்</samp>
<span class="chordline"><b>F</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவா  தேவா   சரணம</samp>
<span class="chordline">    <b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இச்சணமே  அருள்வாய்  சரணம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நடத்தும் இறைவா</samp>
<span class="chordline">      <b>F</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்  முன்னே  செல்லும்  மேய்ப்பர்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை  அறிந்து  வாழும்</samp>
<span class="chordline">      <b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல்  உணர்வு  தருவாய்  சரணம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வழியும் வளமும்  நலமும்   அருளும்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">எங்கள் தேவா</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அழியும் உலகின்  இருளை  அகற்றும்</samp>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒளி நிறை தேவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வழிக்கு  நீயே  ஒளியாம்</samp>
<span class="chordline">      <b>F</b>	              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்  வழிக்கு  நீயே  வழியாம்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வழியில்  என்றும்  நடத்தி</samp>
<span class="chordline">     <b>G</b>	                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல் வாழ்வு அருள்வாய்  சரணம் </samp>
<samp charset="UTF-8" class="lyricline">   ---- வழியும்  வளமும்   </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்த்தெழுந்த இறனவா</samp>
<span class="chordline">       <b>F</b>	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இந்த  உலகை ஜெயித்த தேவா</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வல்ல மகிமை</samp>
<span class="chordline">        <b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனில் விளங்கச் செய்வாய்  சரணம் </samp>
<samp charset="UTF-8" class="lyricline">   ---- வழியும்  வளமும்   </samp>
<span class="blankline"></span></div></div>   
        
     </div>