<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4003" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி இறக்கும் தேவா</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியை பொழியும் இறைவா</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அருள்மார ஊற்றும் தேவா</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">வரங்கள் அருளும் இறைவா</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை பொழிந்திடுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் தாரும் சாட்சியாக பெலப்படுத்தும்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரணம் மட்டும் சாட்சியாக வழி நடத்தும்</samp>
<span class="chordline"><b>B7</b>	                                </span>
<samp charset="UTF-8" class="lyricline">எரிந்து பிரகாரிக்கும் விளக்காய் திகழ </samp>
<span class="chordline">                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எங்களை உருவாக்கும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எலியாவின் வல்லமை எங்கே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">எலிசாவின் வல்லமை எங்கே</samp>
<span class="chordline"><b>D</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உம் சீடர் கிரியை எங்கே</samp>
<span class="chordline"><b>B7</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இரட்டிப்பாய் வரம் தாருமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உடலுண்டு உமக்காய் உழைக்க உடலுண்டு</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">துணிவுண்டு துன்பம் சகிக்க துணிவுண்டு</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உறுதியுண்டு உமது அழைப்பில் உறுதியுண்டு</samp>
<span class="chordline"><b>B7</b>	                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பிடுங்கவும், இடிக்கவும், அழிக்கவும்</samp>
<span class="chordline">              <b>B7</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கவிழ்க்கவும் கட்டவும் பயன்படுத்தும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எழுப்புதல் தாமதம் ஏன்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் எதிர்ப்புகள் ஏன்</samp>
<span class="chordline"><b>D</b>	            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இறங்கியே கிரியை செய்யும்</samp>
<span class="chordline"><b>B7</b>                     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றியின் கொடி ஏற்றும்</samp>
<samp charset="UTF-8" class="lyricline">   ---- உடலுண்டு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நான் தேவனின் மனுஷனென்றுல்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தின் அக்கினி இறக்கும்</samp>
<span class="chordline"><b>D</b>	                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தெய்வம் என்று</samp>
<span class="chordline"><b>B7</b>	             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேசமும் ஏற்க செய்யும் </samp>
<samp charset="UTF-8" class="lyricline">   ---- உடலுண்டு</samp>
<span class="blankline"></span></div></div>   
        
     </div>