<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4004" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமே  உம்மை  பாடும் – என்</samp>
<span class="chordline"><b>G</b> </span>
<samp charset="UTF-8" class="lyricline">இதயமே  உம்மை  நாடும் – என்</samp>
<span class="chordline"><b>C</b>            <b>C7</b>     </span>
<samp charset="UTF-8" class="lyricline">வீணையும்  விழித்திருக்கும் – என்</samp>
<span class="chordline"><b>C</b>             <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையும்   உம்மை பாடும்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை என்றும் பாடிடுவேன்</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கீர்த்தனம் நானும் பண்ணிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமது  கிருபையும்  வான  மண்டலம்</samp>
<span class="chordline"><b>G7</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மேலாய்  உயர்ந்திடுமே</samp>
<span class="chordline"><b>Am</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமது  சத்தியம் மேக மண்டலம்</samp>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கடந்து சென்றிடுமே</samp>
<span class="chordline"><b>E</b>	    <b>D</b>	      <b>C</b>	             <b>F</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானங்கள் மேலாக  உயர்ந்திடுமே  தேவனே</samp>
<span class="chordline"><b>E</b>	  <b>D</b>	     <b>C</b>            <b>F</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூவிலும் உந்தனின்  மாட்சிமை  விளங்குமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உள்ளமே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நமது வேண்டுதல் தேவன் கேட்டிட்டார்</samp>
<span class="chordline"><b>G7</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவரில்  மகிழ்ந்திடுவேன்</samp>
<span class="chordline"><b>Am</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவரே  பரிசுத்தம் நிறைந்து விளம்பினார்</samp>
<span class="chordline"><b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதனால் களி  கூறுவேன்</samp>
<span class="chordline"><b>E</b>	     <b>D</b>	        <b>C</b>	      <b>F</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேனையில் கர்த்தரால்  பராக்கிரமம்  நடத்துவேன் </samp>
<span class="chordline"><b>E</b>	    <b>D</b>	         <b>C</b>	      <b>F</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர்  பலத்தினால்  யுத்தத்தை  வெல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...உள்ளமே  </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>