<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4015" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	                     <b>D</b>                   </span>
<samp charset="UTF-8" class="lyricline">ஜாதியிலே ஜாதி    நாங்க  பரிசுத்த  ஜாதி</samp>
<span class="chordline"><b>D7</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காஸ்டிலே காஸ்டு  நாங்க @@@லி  காஸ்டு</samp>
<span class="chordline"><b>G</b>                           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">காஸ்டிலே காஸ்டு  நீங்க  என்ன காஸ்டு</samp>
<span class="chordline"><b>D7</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காஸ்டிலே காஸ்டு  நாங்க பென்டிகாஸ்டு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">யூதனென்றும் இல்லை</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிரேக்கனென்றும் இல்லை</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வென்றும் இல்லை  </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">தாழ்வென்றும் இல்லை</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவின் சமூகத்திலே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆணென்றும் இல்லை</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">பெண்னென்றும் இல்லை</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கற்றவனும் இல்லை கல்லாதவனும் இல்லை</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அனைவரும் சரிசமமே</samp>
<span class="chordline"><b>G</b>                                               c                                                                       </span>
<samp charset="UTF-8" class="lyricline">டெளரி வாங்கும் கிறிஸ்தவனுக்கு நீதி இல்லையே</samp>
<span class="chordline"><b>D7</b>                                                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜாதி பார்க்கும் கிறிஸ்தவனுக்கு ஞானம் இல்லையே</samp>
<span class="chordline"><b>G</b>                                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தாளி கயுறு கட்டுகிற வேலை யில்லையே</samp>
<span class="chordline"><b>D7</b>                                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேரம் காலம் பார்க்கிறது நமக்கு இல்லையே</samp>
<span class="chordline"><b>G</b>                                             <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஜாதி டெளரி  ஓழித்து கட்டி புரட்சி செய்வோமே</samp>
<span class="chordline"><b>D7</b>                                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பழமை நீக்கி புதுமை புகுத்தி வாழ்ந்திடுவோமே</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>