<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4016" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவின் சேனைக்கு ஆள் தேவை</samp>
<span class="chordline"><b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">முற்றும் நின்று போராட ஆள் தேவை</samp>
<span class="chordline"><b>Bm</b>	                   <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">பற்று நீங்கி வெற்றி தேட ஆள் தேவை</samp>
<span class="chordline"><b>Bm</b>	                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சற்றும் அஞ்சா அன்புமிக்க ஆள் தேவை</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை கொடி நீ பிடித்து வா</samp>
<span class="chordline"><b>D</b>	                           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு உனக்கு முன் செல்லுவார் வா</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்துவிக்கு சாட்சியாக வா</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி உனதே நம்பி நீயும் வா</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சர்வாயுதம் அணிந்து கொண்டு வா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தலைவன் ஆணை கீழ்ப்படிந்து வா</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">உனக்குள்ளது ஒரு வாழ்க்கை வா</samp>
<span class="chordline"><b>A7</b>                               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்காய் அதை கொடுக்க வா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உறக்கம் நீங்கி விழித்தெழுந்து வா</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உறவு நீங்கி பழி சுமக்க வா</samp>
<span class="chordline"><b>D7</b>                             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புரட்சி செய்து புதுமைக் காண வா</samp>
<span class="chordline"><b>A</b>                               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உலகை கல்க்கி வெற்றி காண வா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">(நாம்) வாழ்ந்தால் இயேசுவுக்கு</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்கு இயேசுவுக்கு</samp>
<span class="chordline">	    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்ந்தால் இயேசுவுக்கு</samp>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்கு இயேசுவுக்கு</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">உழைத்தால் இயேசுவுக்கு</samp>
<span class="chordline"><b>A7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுக்கு இயேசுவுக்கு</samp>
<span class="chordline"><b>A</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மரித்தால் நம் ஜீவன் கிறிஸ்துவுக்கு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எத்திசையும் எதிர்ப்பு உண்டு வா</samp>
<span class="chordline"><b>A</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்ப்பவரை அன்பால் வெல்ல வா</samp>
<span class="chordline"><b>D7</b>                               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தோல்வி கண்டு துவண்டிடாதே வா</samp>
<span class="chordline"><b>A</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இறுதி வெற்றி உனதே நம்பி வா</samp>
<samp charset="UTF-8" class="lyricline">   --(நாம்) வாழ்ந்தால்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>