<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4017" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>	          <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன்  நெஞ்சம் எந்தன்  நெஞ்சம்</samp>
<span class="chordline">         <b>E</b>                          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் வாஞ்சை  கொண்டு  வாடுதே</samp>
<span class="chordline">         <b>B7</b>	            <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன்  உள்ளம்   எந்தன்  உள்ளம்</samp>
<span class="chordline">         <b>A</b>              <b>B7</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் தாகம்  கொண்டு  பாடுதே</samp>
<span class="chordline">         <b>A</b>	              <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன்  கண்கள்  உம்மைக்  காணும்</samp>
<span class="chordline">       <b>B7</b>	 </span>
<samp charset="UTF-8" class="lyricline">அந்த  நாளை   எண்ணி  ஏங்குதே</samp>
<span class="chordline">        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் நாவும் உம்மை போற்றும்</samp>
<span class="chordline">       <b>B</b>	            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல பாடல் பாட சொல்லுதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	    <b>G#</b>        <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜீவன் பெரிதல்லவே</samp>
<span class="chordline"><b>E</b>	   <b>E7</b>	         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நாதா உம் கிருபை விளங்க</samp>
<span class="chordline"><b>A</b>                      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் எந்தன் உதட்டில்</samp>
<span class="chordline"><b>B7</b>	             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் பிறந்திடுமே(2)</samp>
<span class="chordline"><b>G#</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் திரு சித்தமே</samp>
<span class="chordline"><b>C#m</b>	                      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வெல்லாம்  நினைவானதே</samp>
<span class="chordline"><b>F#</b>	                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நித்தமும்  திரு வார்த்தையால்</samp>
<span class="chordline"><b>B7</b>	              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா ஆனந்திக்குமே</samp>
<samp charset="UTF-8" class="lyricline">   --- எந்தன்  கண்கள்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	       <b>G#</b>       <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடும்  நேரத்திலுமே</samp>
<span class="chordline"><b>E</b>	      <b>E7</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திர  கரம்  எடுப்பேன்</samp>
<span class="chordline"><b>A</b>                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நடு நிசி  நேரம் ஆனாலும்</samp>
<span class="chordline"><b>B7</b>	                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நாதா உம் பாதம் பணிவேன்</samp>
<span class="chordline"><b>G#</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்றும்  துணையானீரே</samp>
<span class="chordline"><b>C#m</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ராப்பகல்  உம்  நினைவே</samp>
<span class="chordline"><b>F#</b>	                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அடிமையை  உம்  பாதையில்</samp>
<span class="chordline"><b>B7</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம்  நடந்திடுமே!</samp>
<samp charset="UTF-8" class="lyricline">   --- எந்தன்  கண்கள்  </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>