<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4018" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>	           <b>Am</b>	</span>
<samp charset="UTF-8" class="lyricline">இயேசுவே  வழி  சத்தியம் ஜீவன்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே  ஒளி  நித்தியம்  தேவன்</samp>
<span class="chordline"><b>F</b>	            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே  வழி   சத்தியம்  ஜீவன்</samp>
<span class="chordline"><b>G7</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ஒளி  நித்தியம்  தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">புது வாழ்வு எனக்கு தந்தார்</samp>
<span class="chordline">     <b>C7</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சமாதானம் நிறைவாய் அளித்தார்</samp>
<span class="chordline">   <b>F</b>                       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் யாவும் மன்னித்தார்</samp>
<span class="chordline">   <b>G</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாபங்கள் யாவும் தொலைத்தார்</samp>
<span class="chordline">    <b>C</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி மீதில் எனக்காய்</samp>
<span class="chordline">     <b>G</b>	                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தம் உதிரம்  சிந்தி  மரித்தார்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">மூன்றும் நாளில் உயிர்த்தார்</samp>
<span class="chordline"><b>G</b>		     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதத்தில் அமர்ந்தார்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல் மேய்ப்பனாகக் காத்தார்</samp>
<span class="chordline">        <b>C7</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எனை தமையனாகக் கொண்டார்</samp>
<span class="chordline">      <b>F</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என்  நண்பனாக வந்தார்</samp>
<span class="chordline">      <b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்  தலைவனாக  நின்றுர்</samp>
<span class="chordline">   <b>C</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மேகங்கள் மிதில் ஒர் நாள்</samp>
<span class="chordline">      <b>G</b>	               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மணவாளனாக   வருவார்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அணைத்துக் கொள்வார்</samp>
<span class="chordline"><b>G</b>		        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானில் கொண்டு செல்வார்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவே </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>