<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4024" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                                        </span>
<samp charset="UTF-8" class="lyricline">உலகத்தை வென்று இயேசு உயிர்த்தார்  </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரி</samp>
<span class="chordline"><b>Bm</b>                                      </span>
<samp charset="UTF-8" class="lyricline">காலத்தை வென்று வெற்றி சிறந்தார்  </samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரி</samp>
<span class="chordline"><b>A</b>                                      </span>
<samp charset="UTF-8" class="lyricline">அலகினை வென்று அகிலம் சிறந்தார் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரி</samp>
<span class="chordline"><b>E7</b>	                             </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தேவன் என்று முழங்கி  </samp>
<span class="chordline"><b>A</b>        <b>G</b>	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆர்ப்பரி ஆர்ப்பரி ஆர்ப்பரி</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவாநிசி  அல்லேலூயா</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா சபயோத் ஓசன்னனா(3)</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவாநிசி  அல்லேலூயா</samp>
<span class="chordline"><b>D</b>	     <b>G</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா  சபயோத்  ஓசன்னனா(3)</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவாநிசி  அல்லேலூயா</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா சபயோத் ஓசன்னனா</samp>
<span class="chordline"><b>D</b>	        <b>A</b>	     </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா  ஓசன்னனா  </samp>
<span class="chordline"><b>E</b>	             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா   ஓசன்னனா </samp>
<span class="chordline"><b>D</b>	        <b>A</b>	     </span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா  ஓசன்னனா  </samp>
<span class="chordline"><b>E</b>	             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா   ஓசன்னனா</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	                 <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">வழி என்று சொன்னவர்  வழியாக</samp>
<span class="chordline">	    <b>A7</b>	           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வந்தவர்   இயேசு  ஒருவரே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமாக அவனியில் வந்தவர்</samp>
<span class="chordline">	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒருவரே -2</samp>
<span class="chordline"><b>A</b>                </span>
<samp charset="UTF-8" class="lyricline">பாவமே  இல்லா  பரிசுத்தரானவர்</samp>
<span class="chordline"><b>F#m</b>	       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு  ஒருவரே</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">அதிசய அற்புத நன்மைகள் செய்தவர்</samp>
<span class="chordline">	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒருவரே - 2 </samp>
<samp charset="UTF-8" class="lyricline">   ...ஜெகோவாநிசி</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	              <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தனி புகழ் பெற்றவர்  தனித்தன்மை</samp>
<span class="chordline">	     <b>A7</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாய்ந்தவர் இயேசு ஒருவரே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">அழிந்திடா உன்னத வார்த்தைகள்</samp>
<span class="chordline">	                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சொன்னவர் இயேசு ஒருவரே - 2</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீடித்த பெயரும் நிலையாகப் பெற்றவர்</samp>
<span class="chordline"><b>F#m</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒருவரே</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்மீக தாகம் தீர்த்திட வல்லவர்</samp>
<span class="chordline">	<b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒருவரே - 2</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜெகோவாநிசி</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	                <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">வசனங்கள் நிறைவேற சரித்திரம்</samp>
<span class="chordline">	      <b>A7</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">படைத்தவர்  இயேசு  ஒருவரே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை வென்று ஜெயமாக நின்றவர்</samp>
<span class="chordline">               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒருவரே - 2</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">சீக்கிரம் மீண்டும் வருவேன் என்றவர்</samp>
<span class="chordline"><b>F#m</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒருவரே</samp>
<span class="chordline"><b>E7</b></span>
<samp charset="UTF-8" class="lyricline">இதயங்கள் மாற்றி புதுவாழ்வு தருபவர்</samp>
<span class="chordline">	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒருவரே - 2 – ஜெகோவாநிசி</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜெகோவாநிசி</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>