<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4025" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">வழியுண்டு ஒரேயொரு வழியுண்டு</samp>
<span class="chordline"><b>C</b>		    <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">சத்யமாம் ஜீவனாம் மீட்பராம்</samp>
<span class="chordline">                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவென்ற நண்பருண்டு</samp>
<span class="chordline"><b>G7</b>	                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நேசருண்டு  உனக்கொரு நேசருண்டு</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">கண்மணி போலவே காக்கவும்</samp>
<span class="chordline">	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கவும் இயேசுவுன்டு</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவம்  போக்க  வந்த நாமம்  </samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">சாபம்  நீங்க செய்த நாமம்</samp>
<span class="chordline"><b>Am</b>	                                   </span>
<samp charset="UTF-8" class="lyricline">நோயை நீக்கும் வல்ல நாமம் </samp>
<span class="chordline"><b>C</b> </span>
<samp charset="UTF-8" class="lyricline">போயை  விரட்ட வல்ல நாமம்   </samp>
<span class="chordline"><b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">விண்ணோரும்  மண்னோரும்</samp>
<span class="chordline"><b>F</b>	               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் துதிபாடும்  உன்னத நாமம்</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி தர வல்ல நாமம் ஆளச் செய்ய வந்த நாமம்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">செல்வம் தரும் வல்ல  அற்புதம் நல்கும் நாமம்</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">வானோர் பூதலத்தோர் கீழானோர் கால்முடங்கும்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதிசய நாமம் - அதிசய நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                                    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாடு அல்லோலூயா போடு தாளமய்யா</samp>
<span class="chordline"><b>F</b>                  <b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆடு நடனமய்யா ஆவியில்  நிறைந்து ஜயா</samp>
<span class="chordline"><b>C</b>                                    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாடு அல்லோலூயா போடு தாளமய்யா</samp>
<span class="chordline"><b>F</b>                   <b>G</b>               <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">ஆடு நடமைய்யா ,ஓடும் துன்பமய்யா</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">மீட்பு தர வந்த நாமம்  சாவை வெல்ல வல்ல நாமம்</samp>
<span class="chordline"><b>Am</b>                           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமானை மாற்றும் நாமம்  பரிசுத்தமாக்கும் நாமம்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">விண்னோரும் மண்னோரும்</samp>
<span class="chordline"><b>F</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் துதிபாடும்  உன்னத நாம்ம - உன்னத நாம்ம</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">வரங்கள் அருளும் வல்ல நாம்ம ஜெபங்கள் சொல்ல வந்த நாமம்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">துதிகள் பாட ஏற்ற நாமம் எல்லாம் செய்ய வந்த நாமம் </samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">வானோர் பூதலத்தோர் கீழானோர்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதிசய நாமம் - அதிசய நாமம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பாடு அல்லோலூயா</samp>
<span class="blankline"></span></div></div>   
        
     </div>