<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4026" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                  <b>C</b>             <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">இயேசு ஒரு நாள் எனக்குள் வந்தார்</samp>
<span class="chordline"><b>G</b>               <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உலகமளிக்காத மகிழ்வு தந்தார்</samp>
<span class="chordline"><b>C</b>          <b>B</b>        <b>Am</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வில் உன்னத நோக்கம் தந்தார்</samp>
<span class="chordline"><b>G</b>         <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அவருக்கு தந்து விட்டேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தில் வாழ்ந்தேன்  நிம்மதி இல்லை</samp>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாபத்தில் வாழ்ந்தேன்  சுகமே இல்லை</samp>
<span class="chordline"><b>Am</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்மீக தாகம் தணியவல்லை</samp>
<span class="chordline"><b>Am</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வினில் நிம்மதி காணவில்லை</samp>
<span class="chordline"><b>D7</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜயையோ நான் தொலைந்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">இயேசு வந்தார் வசனம் தந்தார்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இதயம் தந்தார் வாழ்வு தந்தார்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்பம் இன்பம் இன்பம் இன்பம்</samp>
<span class="chordline"><b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">இன்பம் பேரின்பம்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">எனைத்தொட்டார் வல்லமை தந்தார்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பெலனீந்தார் சுகம் அளித்தார்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">இனிமை இனிமை இனிமை இனிமை</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அது இனிமை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சோதனை வந்தது  சோர்ந்து போனேன்</samp>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துன்பம் வந்தது  பயந்து போனேன்  </samp>
<span class="chordline"><b>Am</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தோல்விகள் சூழ  துவண்டு வீழ்ந்தேன்</samp>
<span class="chordline"><b>Am</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தனிமை துயரம்  வாடிப்போனேன்</samp>
<span class="chordline"><b>D7</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண் கலங்கி நான் நின்றேன் </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு வந்தார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு வந்தார் என்னை அணைத்தார்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் துடைத்தார் கரம் த்தார் </samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை கிருபை கிருபை கிருபை </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">புது கிருபை</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">ஒளி தந்தார் வழி சொன்னார்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">துணை நின்றுர் அருளீந்தார்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி வெற்றி வெற்றி வெற்றி</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இனி வெற்றி </samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசு வந்தார்</samp>
<span class="blankline"></span></div></div>   
        
     </div>