<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4027" class="song songcont"><div class="songpre"><span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் குடிளே புதுப்பாட்டினைப் பாடுங்கள்</samp>
<span class="chordline"><b>C7</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் நாமத்தைக் கருத்துடன் பாடுங்கள்</samp>
<span class="chordline"><b>G</b>            <b>D</b>           </span>
<samp charset="UTF-8" class="lyricline">இரட்சிப்பின் செய்தியை </samp>
<span class="chordline">                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாளுக்கு நாளும் சொல்லுங்கள்</samp>
<span class="chordline"><b>G</b>          <b>D</b>           </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் மகிமையை </samp>
<span class="chordline">                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜாதிகளுக்குச்  சொல்லுங்கள்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>G7</b>                         </span>
<samp charset="UTF-8" class="lyricline">பெரியவரே நம் கர்த்தரே</samp>
<span class="chordline"><b>G</b>                     <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்தரிக்கப் படத்தக்கவர்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பயப்படத் தக்கவரே அவர்</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானாதி வானத்தை படைத்தவர் - 2</samp>
<samp charset="UTF-8" class="lyricline">  ...பூமியின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையும் கனமும் அவருக்கே</samp>
<span class="chordline"><b>G</b>                      <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை மகத்துவம் அவரதே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">காணிக்கையோடு மகிமையை</samp>
<span class="chordline"><b>D7</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவருக்கு என்றும் செலுத்துங்கள்(2)                   </samp>
<span class="chordline"><b>G</b>                <b>G7</b>   </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த அலங்காரத்துடன்</samp>
<span class="chordline"><b>G</b>                    <b>G7</b>        </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரைத் தொழுது கொள்ளுங்கள்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் குடிகளே யாவரும்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் முன்பாக நடுங்குங்கள்(2)</samp>
<span class="chordline"><b>G</b>                   <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">வானமும் பூமியும் எழும்படும்</samp>
<span class="chordline"><b>G</b>                      <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">சமுத்திர அலைகளும் முழங்கட்டும்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">விருட்சங்களெல்லாம் பாடட்டும்</samp>
<span class="chordline"><b>D7</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாடும் களி கூர்ந்து மகிழட்டும்(2)</samp>
<samp charset="UTF-8" class="lyricline">  ...பூமியின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>G7</b>    </span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் சீக்கிரம் வருகிறுர்</samp>
<span class="chordline"><b>G</b>                        <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">பூமியை நியாய்ந் தீர்க்க வருகிறுர்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த வான்களும் ஆயத்தம்</samp>
<span class="chordline"><b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இராஜாதி இராஜா வருகிறார்(2)</samp>
<samp charset="UTF-8" class="lyricline">  ...பூமியின்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>