<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4028" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா என் ஆத்துமாவே</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரைத் துதித்திடு</samp>
<span class="chordline"><b>Em</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சமெல்லாம் கொள்ளை கொண்ட</samp>
<span class="chordline"><b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மன்னைன பாடிடு</samp>
<span class="chordline"><b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள காலமெல்லாம்</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை துதித்துடு </samp>
<span class="chordline"><b>Em</b>               <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">உள்ளமெல்லாம் உள்ளவரை </samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கீர்த்தனம் பண்ணிடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                     <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தை பூமியைப்  படைத்தவர்</samp>
<span class="chordline"><b>D</b>                    <b>C</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவரை நம்பினவன்  பாக்கியவான்</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையைய் காப்பார் நியாயம் செய்வார்</samp>
<span class="chordline"><b>A</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தலைமுறை தலைமுறை ஆளுவார்</samp>
<samp charset="UTF-8" class="lyricline">  -அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                     <b>C</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">குருடரின் கண்களைத்  திறக்கின்றுர்</samp>
<span class="chordline"><b>D</b>                  <b>C</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுண்டவர்களை   விடுவிப்பார்</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாரம் தருவார் ஆதரித்து காப்பார்</samp>
<span class="chordline"><b>A</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தலைமுறை தலைமுறை ஆளுவார்</samp>
<samp charset="UTF-8" class="lyricline">  -அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>              <b>C</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமான்களை  சிநேகிப்பார்</samp>
<span class="chordline"><b>D</b>                 <b>C</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஏழைகளை அவர்  தாங்குவார்</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">கைப்பிடித்து காப்பார் ராஜரீகம் செய்வார்</samp>
<span class="chordline"><b>A</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தலைமுறை தலைமுறை ஆளுவார்</samp>
<samp charset="UTF-8" class="lyricline">   -அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>