<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4029" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உனக்குள் இருப்பவர் உயர்ந்தவர் என்றர்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையை உணாந்து கொள்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆளப்பிறந்திட்ட ராஜா நீ தான்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்பதை உணாந்து கொள் -2</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவருடன் உன்னை எழும்பச் செய்ததால்</samp>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதங்களிலே அமரச் செய்ததால்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆதிகாரம் உனக்கு அருளப்பட்டதால்</samp>
<span class="chordline"><b>D7</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் களித்திடுவாய் -2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">காட்டுப் புஷ்பத்தை உடுத்தியவர் அவர்</samp>
<span class="chordline"><b>Em</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்பதை மறந்திடாதே</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன்னையும் உடுத்துவார்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">உன்னதர் அவரே</samp>
<span class="chordline">               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்பது நிச்சயமே - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பிரச்சனை ஒன்று சொல்லிடும்</samp>
<span class="chordline"><b>Bm</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வேதம் இன்னொன்று மொழிந்திடும்</samp>
<span class="chordline"><b>C</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் விசுவாசம் வென்றிடும்</samp>
<span class="chordline"><b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் அறிக்கை நடந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">கவலைப் படாதே - கலங்கி நில்லாதே</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">பயந்து விடாதே - திகைத்து நில்லாதே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தளர்ந்து விடாதே - உயர்ந்தவர்</samp>
<span class="chordline">          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை காப்பார்</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">சத்துரு வருவான் - விழுங்கிட வருவான்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தந்திரம் புரிவான் - சோதனை தருவான்</samp>
<span class="chordline"><b>D</b>                                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்த்து நின்றுல் - ஒடியே போவான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னத்தை புசிப்போம் என்னத்தை குடிப்போம்</samp>
<span class="chordline"><b>Em</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்றே புலம்பிடாதே</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் ராஜ்யம் நீதியைத் தேடினால்</samp>
<span class="chordline">                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் கூட வரும்                        </samp>
<samp charset="UTF-8" class="lyricline">  -பிரச்சனை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானத்துப் பறைவைகள் விதைப்பதும் அறுப்பதும்</samp>
<span class="chordline"><b>Em</b>                  <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சேர்ப்பதும் இல்லையே</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பட்சியை போஷிக்கும் தேவன் நிச்சயம்</samp>
<span class="chordline">                        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னையும் போஷிப்பாரே                  </samp>
<samp charset="UTF-8" class="lyricline">   -பிரச்சனை</samp></div></div>   
        
     </div>