<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4032" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் நெஞ்சம் தேவ ஆவியால்</samp>
<span class="chordline">          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்து வழிந்தோடும்</samp>
<span class="chordline">             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் தேவ அன்பால்</samp>
<span class="chordline">            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்துப் பொங்கிடும்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் நெஞ்சம் தேவ ஆவியால்</samp>
<span class="chordline">          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்து வழிந்தோடும்</samp>
<span class="chordline"><b>D7</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ நதிகள் என்னிலிருந்து</samp>
<span class="chordline">             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாய்ந்தோடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>G7</b>         <b>Am</b>         </span>
<samp charset="UTF-8" class="lyricline">பயங்கள்  அணுகிடாது</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துயரங்கள் சேர்ந்திடாது</samp>
<span class="chordline"><b>G</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சோதனை வென்றிடாது</samp>
<span class="chordline"><b>D7</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வேதனை தொடர்ந்திடாது</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">வென்றிடுவேன் வெற்றி</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிறந்திடுவேன்</samp>
<span class="chordline">        <b>Am</b>              </span>
<samp charset="UTF-8" class="lyricline">சிறந்து விளங்கிடுவேன்  </samp>
<span class="chordline"><b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமத்தால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>G7</b>          <b>Am</b>  </span>
<samp charset="UTF-8" class="lyricline">தரிசனம்   நீர்   தந்தது</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அழைப்புமே மாறுதது</samp>
<span class="chordline"><b>G</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனும் நீர் தருவது</samp>
<span class="chordline"><b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை நீர் தருவது</samp>
<samp charset="UTF-8" class="lyricline">   ---வென்றிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>G7</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சத்துரு எதிர் வந்தால் </samp>
<span class="chordline"><b>D</b>                             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெள்ளம் போல் கொடி பிடிப்பார்</samp>
<span class="chordline"><b>G</b>                     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">முடிவுகள் நான் செய்தால்</samp>
<span class="chordline"><b>D7</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">முடிப்பது அவர் செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">   ---வென்றிடுவேன்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>