<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4033" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>            <b>Bm</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்ம நேசரே எந்தன் பிரியமே</samp>
<span class="chordline"><b>Em</b>                   <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை தேடினேன் வந்திடுவீர்</samp>
<span class="chordline"><b>D</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமே எந்தன் சொந்தமே</samp>
<span class="chordline"><b>D</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நானுமே உந்தன் சொந்தமே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரே எந்தன் மீட்பரே</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">வீரமே எந்தன் வெற்றியே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாருமே உம்மை பாடுவேன் - 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தலை முடியும் தங்க நிறமே</samp>
<span class="chordline">                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அலை போன்ற கருள் முடியே </samp>
<span class="chordline"><b>D7</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கண்கள் புறு கண்கள் போன்றதே</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கன்னம் சுகந்த வர்க்கமாகும்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உதடு லீலி புஷ்பமாகும்</samp>
<span class="chordline"><b>A</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பர் நேசம் எனக்கு இன்பமே </samp>
<span class="chordline"><b>G</b>            <b>F#m</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பதினாயிரம் பேர்களிலும் எந்தன் நேசர்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செளந்தர்யமானவரே - 2</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆத்ம நேசரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கை படிகைப்பச்சை பொன் வளையல்</samp>
<span class="chordline">                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அங்கம் ரத்தினம் பதித்த தந்தம்</samp>
<span class="chordline"><b>D7</b>                                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கால்கள் பசும் பொன்னைப் போன்றதே</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ரூபம் லீபனோன் போன்றதே</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாய் மிகவும் மதுரமானதே</samp>
<span class="chordline"><b>A</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நேசம் எனக்கு இன்பமே</samp>
<span class="chordline"><b>G</b>            <b>F#m</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பதினாயிரம் பேர்களிலும் எந்தன் நேசர்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செளந்தர்யமானவரே - 2</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆத்ம நேசரே</samp></div></div>   
        
     </div>