<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4034" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                 <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வழி சொன்னவர் வழியுமானவர்</samp>
<span class="chordline"><b>D</b>                               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வழி சத்தியம் ஜீவனுமாய் வந்தவர்</samp>
<span class="chordline"><b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">வார்த்தை என்றவர் வார்த்தையானவர்</samp>
<span class="chordline"><b>D7</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உலகினிலே ஒளியாக உதித்தவர்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">மண்னோர் போற்றும் மன்னாதி மன்னன்</samp>
<span class="chordline"><b>G</b>                       <b>B</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணோர் போற்றும் தேவாதி தேவன்</samp>
<span class="chordline"><b>Am</b>                   <b>D7</b> </span>
<samp charset="UTF-8" class="lyricline">சான்றேர் போற்றும் தூயாதி தூயன்</samp>
<span class="chordline"><b>C</b>       <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாதி ராஜனிவர் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தெய்வம் ஒரே ஒரு தெய்வம்</samp>
<span class="chordline"><b>G</b>                   <b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தேவன் மெய்யான தேவன்</samp>
<span class="chordline"><b>Am</b>                               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தெய்வம் தேடி வந்த தெய்வம்</samp>
<span class="chordline"><b>Am</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தேவன் மீட்க வந்த தேவன்</samp>
<span class="chordline"><b>G</b>                <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ராஜா ராஜாதி ராஜா</samp>
<samp charset="UTF-8" class="lyricline">   ...வழி சொன்னவர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே இரட்சகர் உயிர் ஈந்த இரட்சகர்</samp>
<span class="chordline"><b>G</b>                      <b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ஆண்டவர் உயிர்த்தெழுந்த ஆண்டவர்</samp>
<span class="chordline"><b>Am</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே கர்த்தராம் கர்த்தாதி கர்த்தராம்</samp>
<span class="chordline"><b>Am</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ராஜனாம் ராஜாதி ராஜனாம்</samp>
<span class="chordline"><b>G</b>                 <b>C</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே ராஜா ராஜாதி ராஜா</samp>
<samp charset="UTF-8" class="lyricline">   ...வழி சொன்னவர்</samp></div></div>   
        
     </div>