<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4035" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் பாடும் நேரமிது</samp>
<span class="chordline">     <b>G</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன் நெஞ்சம் மகிழும் நாளுமிது</samp>
<span class="chordline"><b>D</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதரை போற்றும் நேரமிது</samp>
<span class="chordline">      <b>D7</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன் அற்புதம் நிகழும் நாளுமிது -2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீதியுண்டு பாவமில்லை</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சுகமுண்டு வியாதியில்லை-2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்லதொன்று எனக்கொன்று</samp>
<span class="chordline"><b>G7</b></span>
<samp charset="UTF-8" class="lyricline">அன்றென்றும் என்றென்றும்</samp>
<span class="chordline"><b>G</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளதென்று பாடு இராஜா</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் உண்டு தோல்லியில்லை</samp>
<span class="chordline"><b>G</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவைகள உண்டு  குறைவுமில்லை</samp>
<span class="chordline"><b>Am</b>                </span>
<samp charset="UTF-8" class="lyricline">துன்பங்களுண்டு அசைவதில்லை</samp>
<span class="chordline"><b>G</b>                        <b>G7</b> </span>
<samp charset="UTF-8" class="lyricline">நல்லதொன்று எனக்குண்டு </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">செல்வமுண்டு வறுமையில்லை</samp>
<span class="chordline"><b>D</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமுண்டு துக்கமில்லை -2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்லதொன்று எனக்கொன்று</samp>
<span class="chordline">                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளதென்று பாடு இராஜா</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தம் உண்டு தோல்லியில்லை</samp>
<span class="chordline"><b>G</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவைகள உண்டு  குறைவுமில்லை</samp>
<span class="chordline"><b>Am</b>                </span>
<samp charset="UTF-8" class="lyricline">துன்பங்களுண்டு அசைவதில்லை</samp>
<span class="chordline"><b>D</b>                        <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">நல்லதொன்று எனக்குண்டு </samp>
<samp charset="UTF-8" class="lyricline">   ...உள்ளம் பாடும்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>