<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4036" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் ஆத்ம நேசரே</samp>
<span class="chordline"><b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ராத்திரி நேரத்தில்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாசல் கதவைத் தட்டி</samp>
<span class="chordline"><b>Am</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்தீரே</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மலர் முகம் காண்பித்தீர்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையால் அணைத்திட்டீர்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">திராட்சை ரசத்தால் என்னைத்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றினீர் ஆ...ஆ...ஆ...ஆ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமது நேசம் திராட்சை ரசமும் போல -2</samp>
<span class="chordline"><b>C</b>                     <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">உமது நாமம் பரிமள தைலம் போல -2</samp>
<span class="chordline"><b>A</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமது ரூபம் கேதுரு மரத்தை போல -2</samp>
<span class="chordline"><b>C</b>                     </span>
<samp charset="UTF-8" class="lyricline">நீர் எந்தன் கேடகமே </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் அடைக்கலமே</samp>
<span class="chordline">              <b>Am</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் சேரும் கன்மலையே -  நான்</samp>
<span class="chordline">         <b>G</b>             </span>
<samp charset="UTF-8" class="lyricline">என்றும் உம் வாசமே</samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன் ஆத்ம</samp></div></div>   
        
     </div>