<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4037" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எங்கேதி திராட்சைத் தோட்டந்தான்</samp>
<span class="chordline"><b>D</b>                         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மருதோன்றி பூங்கொத்துப் போலத்தான்</samp>
<span class="chordline"><b>G</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இதயத்தில் நிறைந்த நேசர் தான்</samp>
<span class="chordline"><b>A</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தில் வருகின்ற காலம் தான்</samp>
<span class="chordline"><b>D</b>          <b>Em</b>          <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் இனிமேலே இன்பம் தான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   </span>
<samp charset="UTF-8" class="lyricline">இராக்கால மஞ்சத்தில் நெஞ்சத்தில்</samp>
<span class="chordline">                     <b>Em</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசரைத் காணாமல் நான் அலைந்தேன்</samp>
<span class="chordline"><b>A7</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்தும நேசரை நான் தேட அவரில்லை</samp>
<span class="chordline"><b>A7</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேசத்தால் சோகமடைந்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெள்ளைப் போள  வாசம் வீச</samp>
<span class="chordline"><b>A</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தூபஸ்தம்பம் போல ஜொலிக்க</samp>
<span class="chordline"><b>B</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வனாந்திரத்தில் வருவார்</samp>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மேகமீதில் அணைப்பார்</samp>
<samp charset="UTF-8" class="lyricline">   ...எங்கே திராட்சைத்</samp>
<span class="blankline"></span></div></div>   
        
     </div>