<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4038" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் வரக் காலமாச்சுதோ</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் அன்பர் எனை அணைக்கலாகுமோ</samp>
<span class="chordline">    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நடுவானில் எக்காளம் முழங்குமோ</samp>
<span class="chordline"><b>D</b>          <b>G</b>            <b>Bm</b>     </span>
<samp charset="UTF-8" class="lyricline">பின் மாரி இடிமுழங்கி மழை பொழியும்</samp>
<span class="chordline"><b>Am</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாள் வந்ததோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தை பனிபோல இறங்குதே</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி மழை போல பொழிதே</samp>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மலைகள் கெம்பீரிக்குமே</samp>
<span class="chordline"><b>D7</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மரங்கள் ஆடிப்பாடுமே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றிகள் நம்மை சூழும்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேசமும் நமதாகும் </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">இலட்சங்கள் நாம் காணும்</samp>
<span class="chordline">          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாளல்லவோ</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் கீர்த்தியாகும்</samp>
<span class="chordline"><b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதம் நிறைவேறும்</samp>
<span class="chordline"><b>D7</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிசய நாளல்லவோ</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசர்</samp></div></div>   
        
     </div>