<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4040" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் இதயத்துயரம் அதிகமோ</samp>
<span class="chordline"><b>G</b>                           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உனக்கும் உண்டு சமாதானமே</samp>
<span class="chordline"><b>Am</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இயேசு கவலைகள் தீர்ப்பார்</samp>
<span class="chordline"><b>D7</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சமாதானம் தந்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரை நீயும் நம்பி வாழ்ந்தால்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நித்திரை இன்பமாகும்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் முடிவு சமாதானம்</samp>
<span class="chordline"><b>D7</b>		               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மன நிம்மதி உனக்கு கிடைக்குமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரை நம்பி வாமும் உன்னையே</samp>
<span class="chordline"><b>G</b>                               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அவர் கிருயை சூழ்ந்து கொள்ளுதே</samp>
<span class="chordline"><b>D</b>                           <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">அவரே உந்தன் கேடகம் ஆவார்</samp>
<span class="chordline"><b>D7</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீ அசைக்கப் படுவதில்லையே</samp>
<samp charset="UTF-8" class="lyricline">   ...அவரை நீயும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">துன்பம் உன்னை சூழும் போதும்</samp>
<span class="chordline"><b>D</b>                                </span>
<samp charset="UTF-8" class="lyricline">யுத்தம் உன்னை நெருங்கும் போதும்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தோல்வி உன்னை தொடரும் போதும்</samp>
<span class="chordline"><b>D7</b>                           <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">கவலையுற்று வாழ்ந்திருப்பாயே</samp>
<samp charset="UTF-8" class="lyricline">   ...அவரை நீயும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளாடும் கால்கள் உனக்கு இல்லையே</samp>
<span class="chordline"><b>G</b>                                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பயமும் திகிலும் உன்னை நெருங்காதே</samp>
<span class="chordline"><b>D</b>                       <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">மீட்பர் இயேசு கேடகமாவார்</samp>
<span class="chordline"><b>D7</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்ந்து நீயும் செழித்திருப்பாயே</samp>
<samp charset="UTF-8" class="lyricline">   ...அவரை நீயும்</samp>
<span class="blankline"></span></div></div>   
        
     </div>