<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4042" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நியாயத் தீர்ப்பின் நாளான </samp>
<span class="chordline"><b>A</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அந்த நாள் மகா பெரிய நாள்</samp>
<span class="chordline">        <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">இந்தப் புவில் உள்ளோர்</samp>
<span class="chordline"><b>B</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அனைவரும் நடுங்கும் நாள்(2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீதியும் அநீதியும் பிரிக்கப்படுமே</samp>
<span class="chordline">         <b>F#m</b>                       </span>
<samp charset="UTF-8" class="lyricline">அவரவர் ஜீவனும் ஆக்கினையும்  </samp>
<span class="chordline"><b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அடைந்திடவே</samp>
<samp charset="UTF-8" class="lyricline">   ...நியாயத் தீர்ப்பின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                         </span>
<samp charset="UTF-8" class="lyricline">சிறியவரும் பெரியவரும் </samp>
<span class="chordline">             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஏகமாய் நிற்பார்</samp>
<span class="chordline">        <b>F#m</b>            </span>
<samp charset="UTF-8" class="lyricline">அங்கு தங்கள் தங்கள் </samp>
<span class="chordline">              <b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கிரியைகளின் பங்கைப் பெற்றிட</samp>
<samp charset="UTF-8" class="lyricline">   ...நியாயத் தீர்ப்பின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	                          </span>
<samp charset="UTF-8" class="lyricline">வலது புறத்தில் நிற்போரெல்லாம் </samp>
<span class="chordline">           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆசீர் பெற்றிட அன்று</samp>
<span class="chordline"><b>F#m</b>                       </span>
<samp charset="UTF-8" class="lyricline">இடது புற்த்தில் நிற்போர் </samp>
<span class="chordline">         <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் சபிக்கவேப்பட</samp>
<samp charset="UTF-8" class="lyricline">   ...நியாயத் தீர்ப்பின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	                      </span>
<samp charset="UTF-8" class="lyricline">இம்மையிலே இயேசுவுக்காய் </samp>
<span class="chordline">            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவிப்பாயானால் திட்டம்</samp>
<span class="chordline"><b>F#m</b>                      </span>
<samp charset="UTF-8" class="lyricline">நன்மையாலே உன்னை </samp>
<span class="chordline">       <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நிரப்பிடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...நியாயத் தீர்ப்பின்</samp>
<span class="blankline"></span></div></div>   
        
     </div>