<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4043" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்த்தெழுதலின் நாள்தனில் கூடிவந்தோம்</samp>
<span class="chordline"><b>G</b>                  <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புது புது பாடல்கள் பாடிவந்தோம்</samp>
<span class="chordline"><b>G</b>                  <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புது புது அதிசயம் காண வந்தோம்</samp>
<span class="chordline"><b>D</b>                              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்த்தெழுதலின் நாள்தனில் கூடிவந்தோம்</samp>
<span class="chordline"><b>G</b>                     <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புது  புது அபிஷேகம் நாடி வந்தோம்</samp>
<span class="chordline"><b>G</b>                     <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புது  புது கிருபைகள் தேடி வந்தோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் சத்தமே  என்றும்</samp>
<span class="chordline">       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">செவி கொடுப்பேன் </samp>
<span class="chordline"><b>A</b>                                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேதத்தின்வார்த்தையே என்றும் கீழ்ப்படிவேன்</samp>
<span class="chordline"><b>D</b>                         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தின் மேய்ப்பனாய்  என்றும்</samp>
<span class="chordline">           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்ந்திடுவேன்</samp>
<span class="chordline"><b>A</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் ஆசியே சூழ மகிழ்ந்திடுவேன்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பட்டணத்தில் என்றென்றும் ஆசீர்வாதம்</samp>
<span class="chordline"><b>Bm</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வீடுகளில் என்றென்றும் ஆசீர்வாதம் </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நிலங்களில் என்றென்றும் ஆசிர்வாதம்</samp>
<samp charset="UTF-8" class="lyricline"> ---புது  புது</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                     <b>Bm</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேசத்தில் காலத்தில் மழை நிச்சயம் உண்டு</samp>
<span class="chordline"><b>A</b>                                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்விலும் உயர்வுமே என்றென்று மெனக்குண்டு</samp>
<span class="chordline"><b>D</b>                       <b>Bm</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கையிடும் வேலையில் வெற்றி நிச்சயமுண்டு</samp>
<span class="chordline"><b>A</b>                                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">யுத்தங்களின் ஜெயமே என்றென்று மெனக்குண்டு</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பொக்கிஷமும் என்றென்றும் திறந்திடும்</samp>
<span class="chordline"><b>Bm</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">களஞ்சியங்கள் என்றென்றும் நிறைந்திடும்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கனிகளும் என்றென்றும் பலுகிடும்</samp>
<samp charset="UTF-8" class="lyricline"> ---புது  புது</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>