<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4058" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>            <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">பலியிடு துதி பலியிடு</samp>
<span class="chordline"><b>A7</b>                   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வலி விலகும் வாழ வழி பிறக்கும்</samp>
<span class="chordline"><b>Dm</b>             <b>Gm</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">துதி பலி அது சுகந்த வாசனை</samp>
<span class="chordline"><b>F</b>               <b>C</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி பலி அது உகந்த காணிக்கை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நோவாவின் பலிதனை நுகர்ந்தார் நம் கர்த்தர்</samp>
<span class="chordline"><b>Am</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சுகந்த வாசனையாய்</samp>
<span class="chordline"><b>A#</b>      <b>C</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பலுகிப் பெருகச் செய்தார் – அன்று</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் கர்த்தர் என்று எல்லாரும் துதிக்கையில்</samp>
<span class="chordline"><b>Am</b>                       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆலயத்தை மேகம் மூடியது</samp>
<span class="chordline"><b>A#</b>           <b>C</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கண்டார்கள் கர்த்தர் மகிமையை</samp>
<samp charset="UTF-8" class="lyricline">   ...பலியிடு துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சீலாவும் பவுலும் சிறையிலே துதித்ததால்</samp>
<span class="chordline"><b>Am</b>                       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுக்கள் கழன்று போயின</samp>
<span class="chordline"><b>A#</b>        <b>C</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயிலர் இரட்சிக்கப்பட்டான்</samp>
<samp charset="UTF-8" class="lyricline">   ...பலியிடு துதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதி செய்யத் தொடங்கினதும்</samp>
<span class="chordline"><b>Am</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">எதிரிகள் தங்களுக்குள்</samp>
<span class="chordline"><b>A#</b>           <b>C</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வெட்டுண்டு மடிந்து போயினர்</samp>
<samp charset="UTF-8" class="lyricline">   ...பலியிடு துதி</samp>
<span class="blankline"></span></div></div>   
        
     </div>