<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4059" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள திருப்பலியாய்</samp>
<span class="chordline"><b>C</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உடலைப் படைக்கின்றேன்</samp>
<span class="chordline"><b>Am</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் தந்து விட்டேன்</samp>
<span class="chordline"><b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பனே  தந்து விட்டேன்</samp>
<span class="chordline"><b>D</b>            <b>Bm</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தங்கிவிடும் நிரந்தரமாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உலகப்போக்கில் நடப்பதில்லை</samp>
<span class="chordline"><b>Am</b>               <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒத்த வேஷம் தரிப்பதில்லை</samp>
<span class="chordline"><b>D</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் மனம் புதிதாக வேண்டும்</samp>
<span class="chordline"><b>D7</b>                               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திருச்சித்தம் புரிந்து வாழ வேண்டும் – தகப்பனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தின் நினைவுகள் உமக்கு</samp>
<span class="chordline"><b>Am</b>             <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உகந்தனவாய் இருப்பதாக</samp>
<span class="chordline"><b>D</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நாவின் சொற்கள் எல்லாம்</samp>
<span class="chordline"><b>D7</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்றனவாய் இருப்பதாக</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணங்கள் ஏக்கங்கள் உமதாகணும்</samp>
<span class="chordline"><b>Am</b>                   <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்னும் அதிகமாய் நேசிக்கணும்</samp>
<span class="chordline"><b>D</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதர் பணி செய்ய வேண்டும்</samp>
<span class="chordline"><b>D7</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிர் இருக்கும் வரை</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>