<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4060" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேங்க் யூ (Thank you) சொல்லுவேன்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் சொல்லுவேன்</samp>
<span class="chordline"><b>G7</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேங்க் யூ தேங்க் யூ பாதர்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">(Thank you Thank you Father)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாதர் தேங்க் யூ (Father Thank you)</samp>
<span class="chordline"><b>Dm</b>     <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">ஜீசஸ் தேங்க் யூ - ஹெவன்லி </samp>
<span class="chordline"><b>Em</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பாதர் தேங்க் யூ (Father Thank you)</samp>
<span class="chordline"><b>Dm</b>     <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">ஜீசஸ் தேங்க் யூ - ஹெவன்லி </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">(Jesus Thank you - Heavenly)</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி சொல்லுவேன்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் சொல்லுவேன்</samp>
<span class="chordline"><b>G7</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி இயேசு ராஜா</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>Em</b>          <b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்ரோயீ  எல்ரோயீ என்னையும் கண்டீரையா – 2</samp>
<span class="chordline"><b>Am</b>           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் கண்டீரையா</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நான் நன்றி சொல்வேன்</samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி </samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி - நன்றி சொல்லு</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Em</b>       <b>G</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யோகோவா  யீரே  எல்லாமே பார்த்துக் கொள்வீர் – (2)</samp>
<span class="chordline"><b>Am</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாமே பார்த்துக் கொள்வீர்</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நான் நன்றி சொல்வேன்</samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி </samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி - நன்றி சொல்லு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Em</b>       <b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யோகோவா  ரஃப்பா இதுவரை சுகம் தந்தீரே (2)</samp>
<span class="chordline"><b>Am</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இதுவரை சுகம் தந்தீரே</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நான் நன்றி சொல்வேன்</samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி </samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி - நன்றி சொல்லு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Em</b>           <b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யோகோவா  ரூவா என் மேய்ப்பர் நீர்தானையா (2)</samp>
<span class="chordline"><b>Am</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் மேய்ப்பர் நீர்தானையா</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நான் நன்றி சொல்வேன்</samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி </samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி - நன்றி சொல்லு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>           <b>Em</b>           <b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யோகோவா ஷாலோம் சமாதானம் தந்தீரையா(2) – </samp>
<span class="chordline"><b>Am</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சமாதானம் தந்தீரையா  (2) – அப்பா</samp>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்படி நான் நன்றி சொல்வேன்</samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி </samp>
<span class="chordline"><b>Em</b>     <b>F</b>      <b>Dm</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா நன்றி அன்பே நன்றி - நன்றி சொல்லு</samp></div></div>   
        
     </div>