<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4062" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதித்திடுவேன் முழு இதயத்தோடு</samp>
<span class="chordline"><b>Bm</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்திடுவேன் முழு உள்ளத்தோடு</samp>
<span class="chordline"><b>Em</b>      <b>D</b>   <b>Bm</b>             <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">உன்னதரே உம்மில் மகிழ்ந்து</samp>
<span class="chordline"><b>Am</b>                     <b>B</b>    </span>
<samp charset="UTF-8" class="lyricline">களிகூர்கின்றேன் தினமும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                  <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">முழு இதயத்தோடு துதித்திடுவேன்</samp>
<span class="chordline"><b>Am</b>                  <b>Bm</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">முழு உள்ளத்தோடு புகழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline"> – முழு இதயத்தோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஒடுக்கப்படுவோர்க்கு அடைக்கலமே </samp>
<span class="chordline"><b>Am</b>                      <b>Bm</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கடி வேளையில் புகலிடமே</samp>
<span class="chordline"><b>Am</b>          <b>G</b>   <b>D</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கலமே புகலிடமே</samp>
<samp charset="UTF-8" class="lyricline"> – முழு இதயத்தோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நாடித் தேடி வரும் மனிதர்களை</samp>
<span class="chordline"><b>Am</b>                       <b>Bm</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">டாடி (Daddy) கைவிடுவதேயில்லை</samp>
<span class="chordline"><b>Am</b>        <b>G</b>   <b>D</b>           <b>Em</b>      </span>
<samp charset="UTF-8" class="lyricline">ஒரு போதும் கைவிடமாட்டீர் – முழு</samp>
<samp charset="UTF-8" class="lyricline"> – துதித்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வறியவர்கள் மறக்கப்படுவதில்லை</samp>
<span class="chordline"><b>Am</b>                    <b>Bm</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எளியோர் நம்பிக்கை வீண்போவதில்லை</samp>
<span class="chordline"><b>Am</b>         <b>G</b>          <b>D</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எளியோர் நம்பிக்கை வீண்போவதில்லை – முழு</samp>
<samp charset="UTF-8" class="lyricline"> – முழு இதயத்தோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமது திருநாமம் அறிந்தவர்கள்</samp>
<span class="chordline"><b>Am</b>                    <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நம்பி தினம் துதிப்பார்கள்</samp>
<span class="chordline"><b>Am</b>       <b>G</b>  <b>D</b>         <b>Em</b>     </span>
<samp charset="UTF-8" class="lyricline">களிகூர்ந்து மகிழ்வார்கள் – தினம்</samp>
<samp charset="UTF-8" class="lyricline"> – முழு இதயத்தோடு</samp>
<span class="blankline"></span></div></div>   
        
     </div>