<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4063" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>           <b>G</b>      <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா உம் பாதம் அமர்ந்துவிட்டேன்</samp>
<span class="chordline"><b>Bm</b>        <b>G</b>       <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் தகப்பன் நீர்தானைய்யா</samp>
<span class="chordline"><b>D</b>       <b>G</b>         <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செய்த பாவங்கள் கண்முன்னே</samp>
<span class="chordline"><b>Bm</b>        <b>G</b>           <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வருந்துகிறேன் நான் கண்ணீரோடு</samp>
<span class="chordline"><b>D</b>          <b>C</b>                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னைக் கழுவி கழுவி தூய்மையாக்கும்</samp>
<span class="chordline"><b>G</b>         <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி இரத்தத்தாலே </samp>
<span class="chordline"><b>D</b>     <b>C</b>                              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நான் பனியைப் போல வெண்மையாவேன்</samp>
<span class="chordline"><b>G</b>           <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முற்றிலும் வெண்மையாவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா  (4)</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">துணிகரமாய் நான் தவறு செய்தேன்</samp>
<span class="chordline"><b>G</b>                      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துணிந்து பாவம் செய்தேன்</samp>
<span class="chordline"><b>G</b>                <b>F#m</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கிப் பார்க்க பெலன் இல்லையே</samp>
<span class="chordline"><b>A</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கி நிறுத்தும் என் தெய்வமே – என்னைக்</samp>
<samp charset="UTF-8" class="lyricline">இயேசையா  (4)</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிழக்கு மேற்கு உள்ள தூரம்</samp>
<span class="chordline"><b>G</b>                            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் இரக்கம் உயர்ந்ததையா</samp>
<span class="chordline"><b>G</b>                    <b>F#m</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இல்லையே எல்லை உம் அன்பிற்கு</samp>
<span class="chordline"><b>A</b>                                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கத்தின் செல்வந்தர் நீர்தானைய்யா</samp>
<samp charset="UTF-8" class="lyricline">இயேசையா  (4)</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் குற்றங்கள் நீர் நினைவு கூர்ந்தால்</samp>
<span class="chordline"><b>G</b>                              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உம்முன்னே நிற்க முடியாதையா</samp>
<span class="chordline"><b>G</b>                <b>F#m</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பன் மகனை மன்னிப்பதுபோல</samp>
<span class="chordline"><b>A</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மன்னிக்கும் தெய்வம் நீர்தானையா</samp>
<samp charset="UTF-8" class="lyricline">இயேசையா  (4)</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">முள்முடி கிரீடம் பார்க்கின்றேன் </samp>
<span class="chordline"><b>G</b>                                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">முகமெல்லாம் இரத்தம் காண்கின்றேன்</samp>
<span class="chordline"><b>G</b>                  <b>F#m</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தந்தல்லோ மீட்டீரையா</samp>
<span class="chordline"><b>A</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நான் என்ன சொல்வேன்</samp>
<samp charset="UTF-8" class="lyricline">இயேசையா  (4)</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>