<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4064" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உயிரினும் மேலானது</samp>
<span class="chordline"><b>Am</b>       <b>F</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் பேரன்பு</samp>
<span class="chordline"><b>C</b>       <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எனவே பாடுகிறேன்</samp>
<span class="chordline"><b>C</b>           <b>F</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் உயிர் இருக்கும் வரை</samp>
<span class="chordline"><b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத்தானே உறுதியுடன்</samp>
<span class="chordline"><b>F</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் பற்றிக் கொண்டேன்</samp>
<span class="chordline">     <b>Am</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் நிழலில் தானே களிகூர்ந்து</samp>
<span class="chordline"><b>Dm</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் பாடுகிறேன்</samp>
<span class="chordline"><b>F</b>                     <b>G</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் மனதுருக்கம் தினமும் தாங்குதய்யா</samp>
<span class="chordline"><b>F</b>                <b>Dm</b>   <b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் மனதுருக்கம் தினமும் தாங்குதய்யா</samp>
<span class="chordline"><b>C</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போற்றி போற்றி புகழ்கின்றேன்</samp>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்தி வாழ்த்தி வணங்குகின்றேன் – உயிரி</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">பகலெல்லாம் பாடுகின்றேன்</samp>
<span class="chordline"><b>Am</b>             <b>F</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரவெல்லாம் தியானிக்கின்றேன்</samp>
<span class="chordline"><b>Am</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏங்குதய்யா என் இதயம்</samp>
<span class="chordline"><b>F</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திருமுகம் காண வேண்டும்</samp>
<span class="chordline"><b>Am</b>        <b>F</b>            <b>Dm</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எப்போது வருவீரையா எதிர் நோக்கி ஓடுகிறேன்</samp>
<span class="chordline">     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் நினைவால் சோகமானேன்</samp>
<span class="chordline"><b>G</b>         <b>Em</b>        <b>Am</b>                </span>
<samp charset="UTF-8" class="lyricline">எப்போது வருவீரையா </samp>
<span class="chordline">     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் நினைவால் சோகமானேன்</samp>
<span class="chordline"><b>G</b>         <b>F</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்போது வருவீரையா – போற்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் தேவன் </samp>
<span class="chordline"><b>Am</b>          <b>F</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலை தேடுகிறேன்</samp>
<span class="chordline"><b>Am</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் சமூகம் ஓடி வந்தேன்</samp>
<span class="chordline"><b>F</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இதுதானே என் விருந்து</samp>
<span class="chordline"><b>Am</b>                <b>F</b>          <b>Dm</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் திருவசனம் தியானிக்கிறேன் அதுதானே என் மருந்து</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">மறுரூபமாகணுமே</samp>
<span class="chordline"><b>G</b>            <b>Em</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையில் மூழ்கணுமே</samp>
<span class="blankline"></span></div></div>   
        
     </div>