<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4065" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல போர்ச்சேவகனாய் – வரும் </samp>
<span class="chordline"><b>F#m</b>        <b>B</b>            <b>E</b>          </span>
<samp charset="UTF-8" class="lyricline">பாடுகளில் பங்கு பெறுவோம்</samp>
<span class="chordline"><b>C#m</b>                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் தரும் பெலத்தால் வரும்</samp>
<span class="chordline"><b>A</b>            <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தீமைகளை தாங்கிடுவோம் – நல்ல</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பக்தியோடு வாழ விரும்பும்</samp>
<span class="chordline"><b>B</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பக்தர்கள் யாவருக்கும்</samp>
<span class="chordline"><b>A</b>                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பாடுகள் வரும் என்று</samp>
<span class="chordline"><b>C#m</b>            <b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பவுல் அன்று சொல்லிவைத்தாரே – தேவன்</samp>
<samp charset="UTF-8" class="lyricline">   ..நல்ல </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வேதனைகள் வழியாகத்தான்</samp>
<span class="chordline"><b>B</b>                              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இறையாட்சியில் நுழைய முடியும்</samp>
<span class="chordline"><b>A</b>                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை சுமந்தால்தான் </samp>
<span class="chordline"><b>C#m</b>       <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சீடனாக வாழ முடியும்</samp>
<samp charset="UTF-8" class="lyricline">   ..நல்ல </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துன்பங்களை சுமக்கும் போதெல்லாம்</samp>
<span class="chordline"><b>B</b>                              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வெளிப்படுமே கிறிஸ்துவின் ஜீவன்</samp>
<span class="chordline"><b>A</b>                          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வாக்குத்தத்தம் பண்ணப்பட்ட </samp>
<span class="chordline"><b>C#m</b>         <b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவகிரீடம் பெற்றுக் கொள்வோம்</samp>
<samp charset="UTF-8" class="lyricline">   ..நல்ல </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தினிமித்தம்</samp>
<span class="chordline"><b>B</b>                               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோராலும் பகைக்கப்படுவீர்கள்</samp>
<span class="chordline"><b>A</b>                                <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என்று இயேசு சொல்லி வைத்தாரே</samp>
<span class="chordline"><b>C#m</b>         <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அதுதானே நடக்கிறது</samp>
<samp charset="UTF-8" class="lyricline">   ..நல்ல </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>