<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4070" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                       <b>Am</b>          <b>D</b>            </span>
<samp charset="UTF-8" class="lyricline">கொண்டாடுவோம் நாம் கொண்டாடுவோம்</samp>
<span class="chordline"><b>Bm</b>                  <b>C</b>           <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">பண்டிகைகள் நாம் கொண்டாடுவோம்</samp>
<span class="chordline"><b>Em</b>             <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">எக்காளம் ஊதி  ஏழு நாட்களும்</samp>
<span class="chordline"><b>B7</b>                      <b>C</b>            <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">யேகோவா தேவனைக் கொண்டாடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பலிகள் செலுத்தி  பரிசுத்தர் சமூகத்தில்</samp>
<span class="chordline"><b>Am</b>                  <b>G</b>           </span>
<samp charset="UTF-8" class="lyricline">பாடிக் கொண்டாடுவோம்</samp>
<span class="chordline"><b>Am</b>	 <b>C</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தீயவன் நடுவில் வருவதில்லை</samp>
<span class="chordline"><b>C</b>         <b>D</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரோ ஜெயம் எடுத்தார் – நம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                        <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">அகமகிழ்வோம் அக்களிப்போம்</samp>
<span class="chordline"><b>Am</b>               <b>B7</b>             	</span>
<samp charset="UTF-8" class="lyricline">ஆனந்த சத்தமிடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் கர்த்தர்  கிருபையுள்ளவர்</samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்று நாம் உயர்த்திடுவோம்</samp>
<span class="chordline"><b>Am</b>                  <b>C</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் மகிமை மேகம் போல</samp>
<span class="chordline"><b>C</b>             <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இறங்கட்டும் இந்நாளிலே</samp>
<samp charset="UTF-8" class="lyricline">   ... அகமகிழ்வோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அசைக்க முடியா  கூடாரமாவோம்</samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அமைதியின் இல்லமாவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>               <b>C</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நோயாளி என்று சொல்வதில்லை</samp>
<span class="chordline"><b>C</b>          <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">குற்றங்கள் நீங்கியதே</samp>
<samp charset="UTF-8" class="lyricline">   ... அகமகிழ்வோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இஸ்ரவேல் ஜனத்துக்கு தேவன் தந்த</samp>
<span class="chordline"><b>Am</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பிரமாணம் இதுதானே</samp>
<span class="chordline"><b>Am</b>                    <b>C</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எகிப்து தேசம் விட்டு புறப்படும்போது</samp>
<span class="chordline"><b>C</b>              <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கட்டளையாய் கொடுத்தார்</samp>
<samp charset="UTF-8" class="lyricline">   ... அகமகிழ்வோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பழைய புளித்த  மாவை அகற்றி</samp>
<span class="chordline"><b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கி எறிந்திடுவோம்</samp>
<span class="chordline"><b>Am</b>                       <b>C</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">துர்க்குணம் பொல்லாப்பு தவிர்த்திடுவோம்</samp>
<span class="chordline"><b>C</b>         <b>D</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அசுத்தம் அகற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ... அகமகிழ்வோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் முடிந்த்து  என்று இரட்சகர்</samp>
<span class="chordline"><b>Am</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">முழங்கினார் சிலுவையிலே</samp>
<span class="chordline"><b>Am</b>                <b>C</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சாவுக்கு அதிபதி சாத்தானை</samp>
<span class="chordline"><b>C</b>          <b>D</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சாவாலே வென்றுவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline">   ... அகமகிழ்வோம்</samp></div></div>   
        
     </div>