<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4072" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">நம்பத்தக்க தகப்பனே</samp>
<span class="chordline"><b>F#m</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத்தானே நம்பியுள்ளேன்</samp>
<span class="chordline"><b>A</b>                          <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத்தானே நம்பியுள்ளேன்</samp>
<span class="chordline"><b>B</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நம்பத்தக்க தகப்பனே</samp>
<span class="chordline"><b>E</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வே வழியே</samp>
<span class="chordline"><b>A</b>                        <b>F#m</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்துகிறேன் உம்மை வணங்குகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உம் சமூகம் குடியிருந்து</samp>
<span class="chordline"><b>B</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியத்தை உணவாக்கினேன்</samp>
<span class="chordline"><b>G#m</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வசனம் தியானம் செய்து (உம்)</samp>
<span class="chordline"><b>B</b>                         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையால் வாழ்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline"> – வாழ்வே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இதய விருப்பமெல்லாம்</samp>
<span class="chordline"><b>B</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எப்படியும் நிறைவேற்றுவீர் – என்</samp>
<span class="chordline"><b>G#m</b>                         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஒப்படைத்தேன் வழிகளெல்லாம்</samp>
<span class="chordline"><b>B</b>                           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே சார்ந்து கொண்டேன்</samp>
<samp charset="UTF-8" class="lyricline"> – வாழ்வே</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நீதி நேர்மையெல்லாம்</samp>
<span class="chordline"><b>B</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பட்டப்பகல் போலாகும் – என்</samp>
<span class="chordline"><b>G#m</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீர் எனக்குள் இருப்பதனால்</samp>
<span class="chordline"><b>B</b>                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் செய்து முடிப்பீர்</samp>
<samp charset="UTF-8" class="lyricline"> – வாழ்வே</samp>
<span class="blankline"></span></div></div>   
        
     </div>