<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4073" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>	        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உதறித் தள்ளு தூக்கி எறிந்திடு</samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">அழுத்தும் சுமைகளை (தினம்)</samp>
<span class="chordline"><b>A</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பற்றும் பாரங்களை – உன்னை</samp>
<span class="chordline"><b>A</b>                <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">பொறுமையுடன் நீ ஓடு (என்)</samp>
<span class="chordline"><b>F#</b>             <b>B</b>      <b>A</b>            <b>E</b>		</span>
<samp charset="UTF-8" class="lyricline">நேசரின் மேல்  கண் வைத்து ஓடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மேகம் போன்ற திரள் கூட்டம்</samp>
<span class="chordline"><b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பரிசு பெற்று நிற்கின்றனர்</samp>
<span class="chordline"><b>C#m</b>                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">முகம் மலர்ந்து கை அசைத்து</samp>
<span class="chordline"><b>B</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வா வா வ என்கின்றனர்</samp>
<span class="chordline"><b>B</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">(ஓடி வா என்கின்றனர்)</samp>
<samp charset="UTF-8" class="lyricline">    – பொறுமையுடன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அவமானத்தை எண்ணாமல்</samp>
<span class="chordline"><b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சுமந்தாரே சிலுவைதனை</samp>
<span class="chordline"><b>C#m</b>                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அமர்ந்து விட்டார் அரியணையில்</samp>
<span class="chordline"><b>B</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அதிபதியாய் அரசனாய்</samp>
<samp charset="UTF-8" class="lyricline">   – பொறுமையுடன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>             <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தமக்கு வந்த எதிர்ப்பெல்லாம்</samp>
<span class="chordline"><b>B</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கிக் கொண்ட இரட்சகரை</samp>
<span class="chordline"><b>C#m</b>               <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தையில் நாம் நிறுத்தினால்</samp>
<span class="chordline"><b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்து நாம் போவதில்லை</samp>
<samp charset="UTF-8" class="lyricline">   – பொறுமையுடன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>