<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4074" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">குற்றம் நீங்கக் கழுவினீரே</samp>
<span class="chordline"><b>Em</b>         <b>F</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சுற்றி வருவேன் உம்மையே</samp>
<span class="chordline"><b>Dm</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பற்றிக் கொண்டேன் உம் வசனம்</samp>
<span class="chordline"><b>Dm</b>             <b>G7</b>             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி மேல் வெற்றி காண்பேன்</samp>
<span class="chordline"><b>C</b>      <b>G</b>   <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர்தானே நீர்தானே</samp>
<span class="chordline"><b>Em</b>      <b>Am</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா ராஃபா</samp>
<span class="chordline"><b>Am</b>       <b>G</b>    <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சுகமானேன் சுகமானேன்</samp>
<span class="chordline"><b>G7</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி காயங்களால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கம் கண்முன்னே</samp>
<span class="chordline">     <b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் வாக்கு என் நாவில் – உம்</samp>
<span class="chordline"><b>F</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஏன் கலங்கணும்</samp>
<span class="chordline"><b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றி கூறுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை மேகத்திற்குள்</samp>
<span class="chordline"><b>G</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறைந்து நான் வாழ்கின்றேன் – உம்</samp>
<span class="chordline"><b>F</b>                <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சகர் இயேசுதான்</samp>
<span class="chordline"><b>G</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்போதும் என் முன்னே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நம்பியுள்ளேன்</samp>
<span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மோடுதான் நடப்பேன்</samp>
<span class="chordline"><b>F</b>                     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தடுமாற்றம் எனக்கில்லை</samp>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளாடுவதுமில்லை</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமது ஜனத்தின் மேல்</samp>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பிரியம் வைக்கின்றீர்</samp>
<span class="chordline"><b>F</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீடிய ஆயுளால்</samp>
<span class="chordline"><b>G</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தியாக்குவீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உருமாற்றம் அடைகிறேன்</samp>
<span class="chordline"><b>G</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் மேக நிழலிலே</samp>
<span class="chordline"><b>F</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மனம் புதிதாகின்றது</samp>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறுரூபம் ஆகின்றேன்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>