<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4075" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">ஏன் மகனே (மகளே) இன்னும்</samp>
<span class="chordline"><b>F#m</b>	</span>
<samp charset="UTF-8" class="lyricline">இன்னும் பயம் உனக்கு	</samp>
<span class="chordline"><b>Am</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஏன் நம்பிக்கை இல்லை?</samp>
<span class="chordline"><b>B</b>           <b>G#m</b>	</span>
<samp charset="UTF-8" class="lyricline">உன்னோடு நான் இருக்க</samp>
<span class="chordline"><b>B</b>           <b>Am</b>          <b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">உன் படகு மூழ்கிடுமோ?</samp>
<span class="chordline"><b>E</b>		        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கரை சேர்ந்திடுவாய் ! (நீ) </samp>
<span class="chordline">         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே  – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நற்கிரியை தொடங்கியவர்</samp>
<span class="chordline"><b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நிச்சயமாய் முடித்திடுவார் – உன்னில்</samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">திகிலூட்டும் காரியங்கள்</samp>
<span class="chordline"><b>B7</b>            <b>A</b>              </span>
<samp charset="UTF-8" class="lyricline">செய்திடுவார் உன் வழியாய்</samp>
<samp charset="UTF-8" class="lyricline"> – கரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நீதியினால் ஸ்திரப்படுவாய்</samp>
<span class="chordline"><b>B</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கொடுமைக்கு நீ தூரமாவாய்</samp>
<span class="chordline"><b>B7</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">திகில் உன்னை அண்காது</samp>
<span class="chordline"><b>B7</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பயமில்லா வாழ்வு உண்டு</samp>
<samp charset="UTF-8" class="lyricline"> – கரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>             <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">படைத்தவரே உனக்குள்ளே</samp>
<span class="chordline"><b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">செயலாற்றி மகிழ்கின்றார் உன்னைப்</samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">விருப்பத்தையும் ஆற்றலையும்</samp>
<span class="chordline"><b>B7</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தருகின்றார் அவர் சித்தம் செய்ய</samp>
<samp charset="UTF-8" class="lyricline"> – கரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">வழுவாமல் காத்திடுவார்</samp>
<span class="chordline"><b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமானாய் நிறுத்திடுவார்</samp>
<span class="chordline"><b>B7</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையுள்ள அவர் சமூகத்திலே</samp>
<span class="chordline"><b>B7</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வோடு நிற்கச் செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">  – கரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">வழி தவறி சாய்ந்தாலும் </samp>
<span class="chordline"><b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இதுதான் வழி குரல் கேட்கும்</samp>
<span class="chordline"><b>B7</b> </span>
<samp charset="UTF-8" class="lyricline">கூப்பிடுதல் சத்தம் கேட்பார்</samp>
<span class="chordline"><b>B7</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மனம் இரங்கி பதிலளிப்பார்</samp>
<samp charset="UTF-8" class="lyricline"> – கரை</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>