<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4076" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                   <b>G#</b>	</span>
<samp charset="UTF-8" class="lyricline">நம்பி வந்த மனிதர்க்கெல்லாம்</samp>
<span class="chordline"><b>F#</b>              <b>Fm</b>	</span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் ஏராளம்</samp>
<span class="chordline"><b>G#</b>           <b>F#</b>          <b>Fm</b>		</span>
<samp charset="UTF-8" class="lyricline">நம்புகிறேன் நம்புகிறேன்</samp>
<span class="chordline"><b>G#</b>          <b>F#</b>        <b>Fm</b>		</span>
<samp charset="UTF-8" class="lyricline">நம்பத்தக்க தகப்பனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">மனிதரின் சூழ்ச்சியினின்று</samp>
<span class="chordline"><b>F#</b>                         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">மறைத்துக் காத்துக் கொள்வீர்</samp>
<span class="chordline"><b>A#m</b></span>
<samp charset="UTF-8" class="lyricline">நாவுகளின் சண்டைகள் அவதூறு பேச்சுக்கள்</samp>
<span class="chordline"><b>D#</b>                     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அணுகாமல் காப்பாற்றுவீர்</samp>
<samp charset="UTF-8" class="lyricline"> - நம்புகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">என் பெலன் நீர்தானே</samp>
<span class="chordline"><b>F#</b>               <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கேடகமும் நீர்தானே</samp>
<span class="chordline"><b>A#m</b></span>
<samp charset="UTF-8" class="lyricline">சகாயம் பெற்றேன் உதவி பெற்றேன்</samp>
<span class="chordline"><b>D#</b>                          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பாட்டினால் உம்மைத் துதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline"> – நம்புகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">கானானியப் பெண் ஒருத்தி</samp>
<span class="chordline"><b>F#</b>                             <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கத்திக் கொண்டே பின்தொடர்ந்தாள்</samp>
<span class="chordline"><b>A#m</b></span>
<samp charset="UTF-8" class="lyricline">அம்மா உன் நம்பிக்கை பெரியது என்று</samp>
<span class="chordline"><b>D#</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பாராட்டிப் புதுமை செய்தீர்</samp>
<samp charset="UTF-8" class="lyricline"> – நம்புகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை சூழ்ந்து கொள்ளும்</samp>
<span class="chordline"><b>F#</b>                       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உம் பேரன்பு பின் தொடரும்</samp>
<span class="chordline"><b>A#m</b> </span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்குள் இதயம் களிகூர்ந்து தினமும்</samp>
<span class="chordline"><b>D#</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் புகழ் பாடும்</samp>
<samp charset="UTF-8" class="lyricline"> – நம்புகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">குருடன் பர்த்திமேயு</samp>
<span class="chordline"><b>F#</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கூப்பிட்டான் நம்பிக்கையோடு</samp>
<span class="chordline"><b>A#</b>         </span>
<samp charset="UTF-8" class="lyricline">தாவீதின் மகனே எனக்கு இரங்கும் என்று</samp>
<span class="chordline"><b>D#</b>                      <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபித்து பார்வை பெற்றான்</samp>
<samp charset="UTF-8" class="lyricline"> – நம்புகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி வந்த குஷ்டரோகியை</samp>
<span class="chordline"><b>F#</b>                   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நலமாக்கி அனுப்பினீரே</samp>
<span class="chordline"><b>A#m</b></span>
<samp charset="UTF-8" class="lyricline">மரித்த மகளையே உயிர்பெறச் செய்தீர்</samp>
<span class="chordline"><b>D#</b>                     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">யவீர் உம்மை நம்பினதால்</samp>
<samp charset="UTF-8" class="lyricline"> – நம்புகிறேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G#</b></span>
<samp charset="UTF-8" class="lyricline">இக்கட்டு துன்ப வேளையில்</samp>
<span class="chordline"><b>F#</b></span>
<samp charset="UTF-8" class="lyricline">காக்கும் அரணானீர்</samp>
<span class="chordline"><b>A#m</b></span>
<samp charset="UTF-8" class="lyricline">பூரண சகாதானம் பூரண அமைதி</samp>
<span class="chordline"><b>D#</b>                   <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தினம் தினம் நிரப்புகிறீர்</samp>
<samp charset="UTF-8" class="lyricline"> – நம்புகிறேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>