<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4077" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தாயின் மடியில் குழந்தை போல</samp>
<span class="chordline"><b>F</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தியாய் உள்ளேன்</samp>
<span class="chordline"><b>G</b>                      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கலக்கம் எனக்கில்லையே</samp>
<span class="chordline"><b>G</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கவலை எனக்கில்லையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                   <b>F</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா தேவன் தகப்பனானார்</samp>
<span class="chordline"><b>C</b>                 <b>F</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும் பெலன் ஆனார்</samp>
<span class="chordline"><b>Am</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பால் அருந்தும் குழந்தை போல</samp>
<span class="chordline"><b>Am</b>         <b>F</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பேரமைதியாய் உள்ளேன்</samp>
<span class="chordline"><b>Dm</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கலக்கம் எனக்கில்லையே</samp>
<span class="chordline"><b>Dm</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கவலை எனக்கில்லையே</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நற்செயல்கள் செய்ய</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவையானதெல்லாம்</samp>
<span class="chordline"><b>Dm</b>            <b>G</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மிகுதியாய்த் தந்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                  <b>F</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்த நிலையிலும் எப்போதும்</samp>
<span class="chordline"><b>C</b>                  <b>F</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவையானதெல்லாம் தருவார்</samp>
<span class="chordline"><b>Am</b>               <b>F</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியம் செய்ய போதுமான</samp>
<span class="chordline"><b>Am</b>              <b>F</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">செல்வம் தந்து நட்த்திடுவார் – கலக்கம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>            <b>F</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கீழ்மையாக விடமாட்டார்</samp>
<span class="chordline"><b>C</b>                  <b>F</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேன்மையாகவே இருக்கச் செய்வார்</samp>
<span class="chordline"><b>Am</b>                 <b>F</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கடன் வாங்காமல் வாழச் செய்வார்</samp>
<span class="chordline"><b>Am</b>                     <b>F</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கொடுத்துக் கொடுத்து பெருகச் செய்வார்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>