<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4078" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சங்கரிப்பேன் சங்கரிப்பேன்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானின் கிரியைகளை</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நாமத்தினால்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி இரத்தத்தினால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                <b>G</b>  <b>A</b>          <b>D</b>		</span>
<samp charset="UTF-8" class="lyricline">ஜெயமெடுப்பேன்  தோற்கடிப்பேன்</samp>
<span class="chordline"><b>D</b>           <b>G</b>  <b>A</b>                    <b>D</b>		</span>
<samp charset="UTF-8" class="lyricline">திருவசனம்   அறிக்கை செய்வேன்</samp>
<span class="chordline"><b>A</b>                  <b>G</b>               <b>D</b>		</span>
<samp charset="UTF-8" class="lyricline">ஜெயமெடுப்பேன்  தோற்கடிப்பேன்</samp>
<span class="chordline"><b>A</b>            <b>D</b>                    		</span>
<samp charset="UTF-8" class="lyricline">திருவசனம் அறிக்கை செய்வேன்</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேதனையில் கூப்பிட்டேன்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பதில் தந்து விடுவித்தார்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் பக்கம் இருக்கின்றார்</samp>
<span class="chordline"><b>Em</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எதற்கும் பயமில்லையே – ஜெயமெடுப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுற்றி வரும் சோதனைகள்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">முற்றிலும் எரிகின்றன</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எரியும் முட்செடி போல்</samp>
<span class="chordline"><b>Em</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாம்பலாய்ப் போகின்றன</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் வலது கரம் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பராக்கிரமம் செய்கின்றது</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மிகவும் உயர்ந்துள்ளது</samp>
<span class="chordline"><b>Em</b>                                <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">மிராக்கிள் (Miracle) நடக்கின்றது</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாகாமல் பிழைத்திருப்பேன்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சரித்திரம் படைத்திடுவேன்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் செய்தவற்றை</samp>
<span class="chordline"><b>Em</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் அறிவிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் கர்த்தர் என்று</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோரும் துதித்திடுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் அவர் கிருபை</samp>
<span class="chordline"><b>Em</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்மேலே இருக்கின்றது</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் பெலனானார்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் பாடும் பாடலானார்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்லோரின் குடும்பங்களில்</samp>
<span class="chordline"><b>Em</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நாளெல்லாம் கொண்டாட்டமே</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கி எறிந்தார்கள்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வீழ்த்த முயன்றார்கள்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரோ உதவி செய்தார்</samp>
<span class="chordline"><b>Em</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூணாக துணை நின்றார்</samp>
<samp charset="UTF-8" class="lyricline">  ... சங்கரிப்பேன் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>