<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4079" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பயமில்லை பயமில்லையே</samp>
<span class="chordline"><b>G</b>           <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம் ஜெயம் தானே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபத்திற்கு பதில் உண்டு</samp>
<span class="chordline">        <b>A</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமத்தில் ஜெயம் உண்டு – என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அபிரகாமின் தேவன்</samp>
<span class="chordline"><b>A</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னோடே இருக்கின்றார்</samp>
<span class="chordline"><b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆசீர்வதிக்கின்றார்</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெருகச் செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">    ... ஜெயம் எடுப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>F#</b>            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம் எடுப்பேன் இயேசு நாமத்தில் (2)</samp>
<span class="chordline"><b>Em</b>        <b>A</b>             <b>D</b>                 </span>
<samp charset="UTF-8" class="lyricline">தோல்வி எனக்கில்லையே – நான்</samp>
<span class="chordline"><b>Em</b>         <b>A</b>             <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">தோற்றுப் போவதில்லையே</samp>
<span class="chordline"><b>D</b>         <b>F#m</b>  <b>Bm</b>  <b>A</b>         <b>G</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமுண்டு        இயேசு நாமத்திலே (2)</samp>
<samp charset="UTF-8" class="lyricline"> – பயமில்லை</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                      <b>A</b>       <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">ஜெயமுண்டு  இயேசு நாமத்திலே</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இதயம் விரும்புவதை</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குத் தந்திடுவார்</samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் ஏக்கம் எல்லாம் </samp>
<span class="chordline"><b>A</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எப்படியும் நிறைவேற்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">    ... ஜெயம் எடுப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதிராய் செயல்படுவோர்</samp>
<span class="chordline"><b>A</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் பக்கம் வருவார்கள்</samp>
<span class="chordline"><b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் இரட்சகர் எனக்குள்ளே</samp>
<span class="chordline"><b>A</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இதை இவ்வுலகம் அறியும்</samp>
<samp charset="UTF-8" class="lyricline">    ... ஜெயம் எடுப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வேண்டுதல் விண்ணப்பங்கள்</samp>
<span class="chordline"><b>A</b>                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பிரியமாய் ஏற்றுக் கொண்டார்</samp>
<span class="chordline"><b>D</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாம் செலுத்தும் துதிபலியை</samp>
<span class="chordline"><b>A</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மறவாமல் நினைக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">    ... ஜெயம் எடுப்பேன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அரண்களை தகர்த்தெரியும்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றல் எனக்குள்ளே</samp>
<span class="chordline"><b>D</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மலைகளை நொறுக்கிடுவேன்</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பதராக்கிப் பறக்கச் செய்வேன்</samp>
<samp charset="UTF-8" class="lyricline">    ... ஜெயம் எடுப்பேன் </samp></div></div>   
        
     </div>