<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4080" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எப்போதும் என் முன்னே</samp>
<span class="chordline"><b>G</b>              <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத்தான் நிறுத்தியுள்ளேன்</samp>
<span class="chordline"><b>C</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் மேய்ப்பர் நீர்தானையா</samp>
<span class="chordline"><b>D</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குறை ஒன்றும் எனக்கில்லையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசரே என் மேய்ப்பரே</samp>
<span class="chordline"><b>D</b>           <b>G</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எப்போதும் நீர்தானையா</samp>
<span class="chordline"><b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் முன்னே நீர்தானையா</samp>
<samp charset="UTF-8" class="lyricline">   ...எப்போதும் என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம் இல்லம் ஆனந்தம்</samp>
<span class="chordline"><b>C</b>     <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிபூரண ஆனந்தம் </samp>
<span class="chordline"><b>Em</b>         <b>C</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பேரின்பம் நீர்தானையா</samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிரந்தர பேரின்பமே – என் நேசரே</samp>
<samp charset="UTF-8" class="lyricline">   ...எப்போதும் என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>            <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என் இதயம் மகிழ்கின்றது</samp>
<span class="chordline"><b>C</b>               <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உடலும் இளைப்பாறுது</samp>
<span class="chordline"><b>Em</b>           <b>C</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எனைக் காக்கும் தகப்பன் நீரே</samp>
<span class="chordline"><b>D</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரம்பரைச் சொத்தும் நீரே</samp>
<samp charset="UTF-8" class="lyricline">   ...எப்போதும் என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என் செல்வம் என் தாகம்</samp>
<span class="chordline"><b>C</b>           <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாமே நீர்தானையா</samp>
<span class="chordline"><b>Em</b>            <b>C</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குள்ளே வாழ்கின்றீர்</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அசையுற விடமாட்டீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...எப்போதும் என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி எனக்காக</samp>
<span class="chordline"><b>C</b>          <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காயங்கள் எனக்காக</samp>
<span class="chordline"><b>Em</b>            <b>C</b>       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">திரு இரத்தம் எனக்காக</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தியே ஜீவன் தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...எப்போதும் என்</samp>
<span class="blankline"></span></div></div>   
        
     </div>