<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4082" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் என் தலைமேலே</samp>
<span class="chordline"><b>C</b>              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியானவர் எனக்குள்ளே</samp>
<span class="chordline"><b>Dm</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முழங்கிடுவேன் சுவிசேஷம்</samp>
<span class="chordline"><b>Gm</b>             <b>A#</b>         </span>
<samp charset="UTF-8" class="lyricline">சிறுமைப்பட்ட அனைவருக்கும் </samp>
<span class="chordline"><b>Dm</b>      <b>F</b>    <b>A#</b>      <b>A</b>           </span>
<samp charset="UTF-8" class="lyricline">அபிஷேகம் என் மேலே</samp>
<span class="chordline"><b>F</b>              <b>Gm</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியானவர் எனக்குள்ளே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இதயங்கள் நொறுக்கப்பட்டோர்</samp>
<span class="chordline"><b>Gm</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஏராளம் ஏராளம்</samp>
<span class="chordline"><b>F</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காயம் கட்டுவேன் தேசமெங்கும்</samp>
<span class="chordline"><b>Gm</b>                   <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமத்தினால்</samp>
<samp charset="UTF-8" class="lyricline">   ...அபிஷேகம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சிறையிலுள்ளோர் ஆயிரங்கள்</samp>
<span class="chordline"><b>Gm</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை பெறணுமே</samp>
<span class="chordline"><b>F</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கட்டவிழ்க்கணும் கட்டவிழ்க்கணும்</samp>
<span class="chordline"><b>Gm</b>                     <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுக்களை உடைக்கணும்</samp>
<samp charset="UTF-8" class="lyricline">   ...அபிஷேகம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதியின் உடை போர்த்தணுமே</samp>
<span class="chordline"><b>Gm</b>                  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஒடுங்கின ஜனத்திற்கு</samp>
<span class="chordline"><b>F</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துயரத்திற்குப் பதிலாக</samp>
<span class="chordline"><b>Gm</b>                        <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">ஆன்ந்த தைலம் வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...அபிஷேகம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையின் காலம் இதுவன்றோ</samp>
<span class="chordline"><b>Gm</b>                      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அறிவிக்கணும் மிகவேகமாய்</samp>
<span class="chordline"><b>F</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சகர் இயேசு வரப்போகிறார்</samp>
<span class="chordline"><b>Gm</b>              <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாகணுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...அபிஷேகம் </samp>
<span class="blankline"></span></div></div>   
        
     </div>