<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4083" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த மகிழ்ச்சி   அப்பா சமூகத்தில்</samp>
<span class="chordline"><b>G</b>                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எப்போதும் இருக்கையிலே</samp>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சே நீ ஏன் கலங்குகிறாய்</samp>
<span class="chordline"><b>A7</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஏன் ஏன் நீ புலம்புகிறாய்</samp>
<span class="chordline"><b>Bm</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நெஞ்சே நீ ஏன் கலங்குகிறாய்</samp>
<span class="chordline"><b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஏன் ஏன் நீ புலம்புகிறாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நம்பும்   ஒருவன் மேலும்</samp>
<span class="chordline"><b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">குற்றம் சுமராது</samp>
<span class="chordline"><b>G</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காத்திடுவார்  உயர்த்திடுவார்</samp>
<span class="chordline"><b>G</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">காத்து நடத்திடுவார்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">காத்து நடத்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தெரிந்து கொண்டாரே   தாசன் நீ தான்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிநேகிதனும் நீ தான்</samp>
<span class="chordline"><b>G</b>                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்த தெய்வம் ஆகாதவன் என்று</samp>
<span class="chordline"><b>G</b>                <b>A</b>     </span>
<samp charset="UTF-8" class="lyricline">தள்ளி விட மாட்டார்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளி விட மாட்டார்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆனந்த மகிழ்ச்சி</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>           <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கைகள் நீட்டு  கோலை உயர்த்து</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கடலைப் பிரித்து விடு – உன்</samp>
<span class="chordline"><b>G</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காய்ந்த தரையில் நடந்து போவாய்</samp>
<span class="chordline"><b>G</b>                          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எதிரி (வியாதி) காணமாட்டாய்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">எதிரி (வியாதி) காணமாட்டாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆனந்த மகிழ்ச்சி</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உனக்கு முன்னே   அவர் சமூகம் செல்லும்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கோணல்கள் நேராகும்</samp>
<span class="chordline"><b>G</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வெண்கல இரும்பு கதவுகள் உடையும்</samp>
<span class="chordline"><b>G</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">புதையல் உனதாகும் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">புதையல் உனதாகும்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆனந்த மகிழ்ச்சி</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அஞ்சவே மாட்டேன்  கர்த்தர் என் சகாயர்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்று நீ அறிக்கையிடு</samp>
<span class="chordline"><b>G</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மனிதர் எனக்கு   என்ன செய்ய முடியும்</samp>
<span class="chordline"><b>G</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்று தினம் கூறு</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்று தினம் கூறு</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆனந்த மகிழ்ச்சி</samp>
<span class="blankline"></span></div></div>   
        
     </div>