<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4084" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் தகப்பன் நீர்தானே</samp>
<span class="chordline"><b>D</b>                         <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">எல்லாம் பார்த்துக் கொள்வீர்</samp>
<span class="chordline"><b>D</b>           <b>Em</b>		</span>
<samp charset="UTF-8" class="lyricline">எப்போதும் எவ்வேளையும் – உம்</samp>
<span class="chordline"><b>Bm</b>       <b>D</b>                <b>G</b>      		</span>
<samp charset="UTF-8" class="lyricline">கிருபை என்னைத் தொடரும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">மாண்புமிக்கவர் நீர்தானே</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மிகவும் பெரியவர் நீர்தானே</samp>
<span class="chordline"><b>Bm</b>                        <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">உம்மையே புகழ்வேன் – ஓய்வின்றி</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைத்தான் பாடுவேன் – பெலத்தோடு</samp>
<span class="chordline"><b>Em</b>       <b>D</b>          <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள நாளெல்லாம் (2) - என் தகப்பன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்ற வேளையில் அனைவருக்கும்</samp>
<span class="chordline"><b>C</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாரம் நீர் தருகின்றீர்</samp>
<span class="chordline"><b>Bm</b>                        <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">உம்மையே புகழ்வேன் – ஓய்வின்றி</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைத்தான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சகல உயிர்களின் விருப்பங்களை</samp>
<span class="chordline"><b>C</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தியாக்கி நீர் நட்த்துகிறீர்</samp>
<span class="chordline"><b>Bm</b>                        <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">உம்மையே புகழ்வேன் – ஓய்வின்றி</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைத்தான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கிக் கூப்பிடும் யாவருக்கும்</samp>
<span class="chordline"><b>C</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பன் அருகில் இருக்கின்றீர்</samp>
<span class="chordline"><b>Bm</b>                        <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">உம்மையே புகழ்வேன் – ஓய்வின்றி</samp>
<samp charset="UTF-8" class="lyricline">   ...உம்மைத்தான்</samp>
<span class="blankline"></span></div></div>   
        
     </div>