<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4085" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">செடியே திராட்சைச் செடியே</samp>
<span class="chordline"><b>G</b>                           <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">கொடியாக இணைந்து விட்டேன்</samp>
<span class="chordline"><b>A</b>                             <b>D</b>		</span>
<samp charset="UTF-8" class="lyricline">உம் (தகப்பன்) மடிதான் என் வாழ்வு</samp>
<span class="chordline"><b>Em</b>                      <b>G</b>		</span>
<samp charset="UTF-8" class="lyricline">உம் மகிழ்ச்சிதான் என் உயர்வு</samp>
<span class="chordline"><b>D</b>                    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">செடியே திராட்சைச் செடியே</samp>
<span class="chordline"><b>G</b>                           <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">கொடியாக இணைந்து விட்டேன்</samp>
<span class="chordline"><b>A</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கொடியாக இணைந்து விட்டேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">கத்திரித்தீரே தயவாய்</samp>
<span class="chordline"><b>C</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கனிகள் கொடுக்கும் கிளையாய்</samp>
<span class="chordline"><b>G</b>                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தம் செய்தீரே இரத்தத்தால்</samp>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுகந்த வாசனையானேன் – உம் மடிதான்</samp>
<samp charset="UTF-8" class="lyricline">   ...செடியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பிதாவின் மகிமை ஒன்றே</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பிள்ளை எனது ஏக்கம்</samp>
<span class="chordline"><b>G</b>                        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மிகுந்த கனிகள் கொடுப்பேன்</samp>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உகந்த சீடனாவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...செடியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">ஆயன் சத்தம் கேட்டு</samp>
<span class="chordline"><b>C</b>                             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் அன்பில் நிலைத்து வாழ்வேன்</samp>
<span class="chordline"><b>G</b>                                 <b>Em</b>                       </span>
<samp charset="UTF-8" class="lyricline">பிரிக்க இயலாதையா உம்மை விட்டு</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பறிக்க முடியாதையா – 2 </samp>
<samp charset="UTF-8" class="lyricline">   ...செடியே</samp>
<span class="blankline"></span></div></div>   
        
     </div>