<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4090" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என் மீட்பர் என் நேசர் சந்நிதியில் </samp>
<span class="chordline"><b>G</b>               <b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">எப்போது நான் நிற்கப் போகிறேன்</samp>
<span class="chordline"><b>B7</b>            <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">ஏங்குகிறேன்  உம்மைக் காண</samp>
<span class="chordline"><b>B7</b>             <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">எப்போது உம் முகம் காண்பேன்</samp>
<span class="chordline"><b>Am</b>        <b>Bm</b>        <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">தாகமாய்   இருக்கிறேன்</samp>
<span class="chordline"><b>Am</b>	    <b>Bm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அதிகமாய்த்  துதிக்கிறேன் – நான்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>C</b>         <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">மானானது நீரோடையை</samp>
<span class="chordline"><b>B7</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேடி தவிப்பது போல்</samp>
<span class="chordline"><b>D</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் நெஞ்சம் உம்மைக்காண</samp>
<span class="chordline"><b>D</b>               <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">ஏங்கித் தவிக்கிறது – தாகமாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>C</b>       <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">பகற்காலத்தில்  உம் பேரன்பை</samp>
<span class="chordline"><b>B7</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கட்டளையிடுகிறீர்</samp>
<span class="chordline"><b>D</b>                     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இராக்காலத்தில் உம் திருப்பாடல்</samp>
<span class="chordline"><b>D</b>                     <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">என் நாவில் ஒலிக்கிறது - தாகமாய்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவே நீ கலங்குவதேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>