<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4091" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்ன நடந்தாலும் யார் கைவிட்டாலும்</samp>
<span class="chordline"><b>Em</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உமக்கு நன்றி சொல்வேன்</samp>
<span class="chordline"><b>F</b>                <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உமது புகழ் பாடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>             <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">தேடி வந்தீரே   தெரிந்து கொண்டீரே</samp>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூய மகனாக்கினீர்</samp>
<span class="chordline"><b>F</b>         <b>Dm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">துதிக்கும் மகளாக்கினீர் – இராஜா</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">இதயம் நிறைந்த நன்றி சொல்லுவேன்</samp>
<span class="chordline"><b>F</b>               <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">இரவும் பகலும் புகழ் பாடுவேன் – என்ன</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>             <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">ஆவியினாலே அன்பை(யே) ஊற்றி</samp>
<span class="chordline"><b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் நீக்கினீரே</samp>
<span class="chordline"><b>F</b>         <b>Dm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சுபாவங்கள் மாற்றினீரே – இராஜா</samp>
<samp charset="UTF-8" class="lyricline">   ...இதயம் நிறைந்த</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                      <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">இராஜாவின் திருமுகம்   காண்கின்ற நாளை</samp>
<span class="chordline"><b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்நோக்கி ஓடுகிறேன் – இயேசு</samp>
<span class="chordline"><b>F</b>           <b>Dm</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நினைத்துப் பாடுகிறேன் – இராஜா</samp>
<samp charset="UTF-8" class="lyricline">   ...இதயம் நிறைந்த</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தினாலே  ஒப்புரவாக்கி</samp>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உறவாடச் செய்தீரையா</samp>
<span class="chordline"><b>F</b>           <b>Dm</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மோடு இணைத்தீரையா</samp>
<samp charset="UTF-8" class="lyricline">   ...இதயம் நிறைந்த</samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தை அழித்து  அழியா ஜீவனை</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அறிமுகப்படுத்தினீரே</samp>
<span class="chordline"><b>F</b>          <b>Dm</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அறிவிக்க அழைத்தீரே – இதை</samp>
<samp charset="UTF-8" class="lyricline">   ...இதயம் நிறைந்த</samp>
<span class="blankline"></span></div></div>   
        
     </div>