<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4099" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                        </span>
<samp charset="UTF-8" class="lyricline">இறைவனை (இயேசுவை)  </samp>
<span class="chordline"><b>G#m</b>      <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">நம்பியிருக்கிறேன்</samp>
<span class="chordline"><b>B</b>	</span>
<samp charset="UTF-8" class="lyricline">எதற்கும் பயப்படேன்</samp>
<span class="chordline"><b>E</b>        <b>A</b>   <b>C#m</b>       <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">இவ்வுலகம் எனக்கெதிராய்</samp>
<span class="chordline"><b>A</b>                  <b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">என்ன செய்ய முடியும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>G#m</b>	</span>
<samp charset="UTF-8" class="lyricline">பயம் என்னை ஆட்கொண்டால்</samp>
<span class="chordline"><b>B</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவேன் அதிகமாய்</samp>
<span class="chordline"><b>F#m</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருவசனம் தியானம் செய்து</samp>
<span class="chordline"><b>B7</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமெடுப்பேன் நிச்சியமாய்</samp>
<samp charset="UTF-8" class="lyricline">   ... இறைவனை </samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">அச்சம் மேற்கொள்ளாது</samp>
<span class="chordline">       <b>F#m</b>                    <b>B</b>	</span>
<samp charset="UTF-8" class="lyricline">இறை அமைதி என்னை காக்கும்</samp>
<span class="chordline"><b>E</b>        <b>A</b>   <b>C#m</b>       <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">இவ்வுலகம் எனக்கெதிராய்</samp>
<span class="chordline"><b>A</b>	           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்ன செய்ய முடியும்</samp>
<samp charset="UTF-8" class="lyricline">   ... இறைவனை </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>G#m</b>	</span>
<samp charset="UTF-8" class="lyricline">என் சார்பில் இருக்கின்றீர்</samp>
<span class="chordline"><b>B</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்பதை நான் அறிந்து கொண்டேன்</samp>
<span class="chordline"><b>F#m</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எதிராக செயல்படுவோர்</samp>
<span class="chordline"><b>B7</b>                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">திரும்புவார்கள் பின்னிட்டு – அச்சம்</samp>
<samp charset="UTF-8" class="lyricline">   ... இறைவனை </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>G#m</b>	</span>
<samp charset="UTF-8" class="lyricline">சாவினின்று என் உயிரை</samp>
<span class="chordline"><b>B</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மீட்டீரே கிருபையினால்</samp>
<span class="chordline"><b>F#m</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மோடு நடந்திடுவேன்</samp>
<span class="chordline"><b>B7</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உயிர்வாழும் நாட்களெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">   ... இறைவனை </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>             <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">துயரங்களின் எண்ணிக்கையை</samp>
<span class="chordline"><b>B</b>                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கணக்கெடுக்கும் தகப்பன் நீர்-என்</samp>
<span class="chordline"><b>F#m</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரைத் தோற்பையில்</samp>
<span class="chordline"><b>B7</b>                           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சேர்த்து வைத்துப் பதில் தருவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ... இறைவனை </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>