<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4100" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>         <b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதினதின் காலத்தில் ஒவ்வொன்றையும்</samp>
<span class="chordline"><b>Am</b>                          <b>C</b>       <b>Dm</b>	</span>
<samp charset="UTF-8" class="lyricline">நேர்த்தியாய் செம்மையாய் செய்பவரே</samp>
<span class="chordline"><b>Dm</b>        <b>C</b>             <b>A#</b>	</span>
<samp charset="UTF-8" class="lyricline">இயேசையா   இயேசையா  </samp>
<span class="chordline">	   <b>A</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என் தெய்வம் நீர்தானைய்யா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                    <b>A#</b>                            	</span>
<samp charset="UTF-8" class="lyricline">நம்பிக்கை வீண்போகாது</samp>
<span class="chordline"><b>C</b>            <b>A7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிச்சயமாய் முடிவு உண்டு-என்</samp>
<span class="chordline"><b>F</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நற்செயல்கள் தொடங்கினீரே</samp>
<span class="chordline"><b>Gm</b>         <b>C</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எப்படியும் செய்து முடிப்பீர்</samp>
<span class="chordline"><b>F</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உறுதியாய் நம்புகிறேன்</samp>
<span class="chordline"><b>Gm</b>                         </span>
<samp charset="UTF-8" class="lyricline">எப்படியும் (என் வழியாய்) </samp>
<span class="chordline"><b>Am</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">செய்து முடிப்பீர் – இயேசையா</samp>
<samp charset="UTF-8" class="lyricline">   ...அதினதின் காலத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                            <b>A#</b> 	</span>
<samp charset="UTF-8" class="lyricline">திகிலூட்டும் செயல்கள் செய்வேன்</samp>
<span class="chordline"><b>C</b>           <b>A7</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உன்னோடு இருப்பேன் என்றீர்</samp>
<span class="chordline"><b>F</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜன்ங்கள் மத்தியிலே</samp>
<span class="chordline"><b>Gm</b>           <b>C</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நீர் மேன்மைப்படுத்துவீர்</samp>
<span class="chordline"><b>F</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உறுதியாய் நம்புகிறேன்</samp>
<span class="chordline"><b>Gm</b>           <b>Am</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நீர் மேன்மைப்படுத்துவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...அதினதின் காலத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                       <b>A#</b> </span>
<samp charset="UTF-8" class="lyricline">இந்நாளில் இருப்பதை விட</samp>
<span class="chordline"><b>C</b>           <b>A7</b>             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரமாய் பெருகச் செய்வீர்</samp>
<span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானத்து விண்மீன் போல</samp>
<span class="chordline"><b>Gm</b>            <b>C</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உலகெங்கும் ஒளி வீசுவேன்</samp>
<span class="chordline"><b>F</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உறுதியாய் நம்புகிறேன்</samp>
<span class="chordline"><b>Gm</b>              <b>Am</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உலகமெங்கும் ஒளி வீசுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...அதினதின் காலத்தில்</samp>
<span class="blankline"></span></div></div>   
        
     </div>