<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4101" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">பரலோக கார்மேகமே</samp>
<span class="chordline"><b>G#m</b>               <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த மெய் தீபமே</samp>
<span class="chordline"><b>B</b>                   <b>F#m</b>	</span>
<samp charset="UTF-8" class="lyricline">உயிராய் வந்தீரைய்யா</samp>
<span class="chordline"><b>B7</b>                     <b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">உணர்வே நீர்தானைய்யா – என்</samp>
<span class="chordline"><b>E</b>           <b>F#m</b>      		</span>
<samp charset="UTF-8" class="lyricline">ஆவியானவரே என் </samp>
<span class="chordline"><b>B</b>    <b>G#7</b>    <b>C#m</b>     </span>
<samp charset="UTF-8" class="lyricline">ஆற்றலானவரே – பரலோக</samp>
<span class="chordline"><b>E</b>            <b>B</b>       </span>
<samp charset="UTF-8" class="lyricline">ஆவியானவரே என் </samp>
<span class="chordline"><b>F#m</b>   <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றலானவரே – பரலோக</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                <b>G#m</b>	</span>
<samp charset="UTF-8" class="lyricline">அறிவு புகட்டுகின்ற</samp>
<span class="chordline">     <b>F#m</b>        <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நல் ஆவியாய் வந்தீரே</samp>
<span class="chordline"><b>D</b>        <b>A</b>   <b>B</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இறுதிவரை என்றென்றைக்கும்</samp>
<span class="chordline"><b>F#m</b>           <b>B</b>       <b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">எனக்குள்ளே வாழ்பவரே – ஆவியானவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோக</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                         <b>G#m</b>	</span>
<samp charset="UTF-8" class="lyricline">மேன்மையாய் உயர்த்தினீரே</samp>
<span class="chordline"><b>F#m</b>         <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமாய் பாடுகிறேன்</samp>
<span class="chordline"><b>D</b>          <b>A</b>  <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இறைவாக்கு என் நாவிலே</samp>
<span class="chordline"><b>F#m</b>        <b>B</b>         <b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">என் வழியாய் பேசுகிறீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோக</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>G#m</b>		</span>
<samp charset="UTF-8" class="lyricline">மறுரூப மலை நீரே</samp>
<span class="chordline"><b>F#m</b>           <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் சிகரம் நீரே</samp>
<span class="chordline"><b>D</b>        <b>A</b>    <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உருமாற்றம் அடைகின்றேன்</samp>
<span class="chordline"><b>F#m</b>       <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மேக நிழல்தனிலே</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோக</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                    <b>G#m</b>	</span>
<samp charset="UTF-8" class="lyricline">விண்ணக பனித்துளியாய்</samp>
<span class="chordline"><b>F#m</b>         <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணகம் வந்தீரே</samp>
<span class="chordline"><b>D</b>        <b>A</b>  <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">புதிதாக்கும் பரிசுத்தரே</samp>
<span class="chordline"><b>F#m</b>       <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உருவாக்கும் உன்னதரே</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோக</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                      <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பனே அறிந்துகொள்ள</samp>
<span class="chordline"><b>F#m</b>          <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வெளிப்பாடு தருகின்றீர்</samp>
<span class="chordline"><b>D</b>            <b>A</b>   <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அவர் விருப்பம் நிறைவேற்ற</samp>
<span class="chordline"><b>F#m</b>           <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஞானம் தந்து நடத்துகின்றீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோக</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                  <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி ஸ்தம்பமாக</samp>
<span class="chordline"><b>F#m</b>   <b>B</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மேக நிழலாக</samp>
<span class="chordline"><b>D</b>      <b>A</b>   <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தவறாமல் நடத்துகிறீர்</samp>
<span class="chordline"><b>F#m</b>          <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">விலகாமல் முன் செல்கிறீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோக</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                  <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">அப்பா பிதாவே என்று</samp>
<span class="chordline"><b>F#m</b>       <b>B</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கூப்பிடச் செய்தீரே</samp>
<span class="chordline"><b>D</b>           <b>A</b>          <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பிள்ளையானேன் உம் பிரசன்னத்தால்</samp>
<span class="chordline"><b>F#m</b>                <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பெலனடைந்தேன் உம் வரவால்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோக</samp>
<span class="blankline"></span></div></div>   
        
     </div>