<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4102" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>                                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் பெலன் எனக்குள்ளே பாய்ந்து செல்லுதே</samp>
<span class="chordline"><b>Am</b>                  <b>A#</b>         <b>Dm</b>	</span>
<samp charset="UTF-8" class="lyricline">வல்லமை நதியாய் பரவி பாயுதே</samp>
<span class="chordline"><b>Dm</b>             <b>C</b>   <b>Dm</b>             <b>C</b>	</span>
<samp charset="UTF-8" class="lyricline">இரத்தக்குழாய்கள் கண்கள் செவி வாய்</samp>
<span class="chordline"><b>Gm</b>              <b>C</b>        <b>A7</b>	</span>
<samp charset="UTF-8" class="lyricline">தமனி எங்கும் பாய்கின்றதே</samp>
<span class="chordline">       <b>A#</b>              <b>C</b>     <b>Dm</b>   </span>
<samp charset="UTF-8" class="lyricline">உங்க வல்லமையால் சுகமானேன்</samp>
<span class="chordline">       <b>A#</b>             <b>Am</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உங்க வார்த்தையால் சுகமானேன்</samp>
<span class="chordline">       <b>A#</b>            <b>C</b>      <b>Dm</b> </span>
<samp charset="UTF-8" class="lyricline">உங்க தழும்புகளால் சுகமானேன்</samp>
<span class="chordline">       <b>A#</b>          <b>Am</b>    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உங்க தயவினால் சுகமானேன்</samp>
<span class="chordline"><b>Dm</b>           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா இரட்சகரே</samp>
<span class="chordline"><b>C</b>                       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சுகம் தரும் என் தெய்வமே – உம் பெலன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                      <b>C</b>             <b>Gm</b>	</span>
<samp charset="UTF-8" class="lyricline">முதுகுத்தண்டு இதயம் மூளை நரம்பு இரத்தம்</samp>
<span class="chordline"><b>A#</b>         <b>Gm</b>         <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை பாய்கின்றதே</samp>
<span class="chordline"><b>Gm</b>                       <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">குடல் தோல் கணையம் இரைப்பை வயிறு</samp>
<span class="chordline"><b>C</b>             <b>Am</b>         <b>Dm</b>        </span>
<samp charset="UTF-8" class="lyricline">சதை எங்கும் பாய்கின்றதே</samp>
<samp charset="UTF-8" class="lyricline"> – இயேசையா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>                   <b>C</b>        <b>Gm</b>		</span>
<samp charset="UTF-8" class="lyricline">முட்டு ஈரல் மூட்டு கைகால் திசுக்கள்</samp>
<span class="chordline"><b>A#</b>         <b>Gm</b>         <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை பாய்கின்றதே</samp>
<span class="chordline"><b>Gm</b>                <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எலும்பு நரம்புகள் சிறுநீரகங்கள்</samp>
<span class="chordline"><b>C</b>               <b>Am</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தலையெங்கும் பாய்கின்றதே</samp>
<samp charset="UTF-8" class="lyricline"> – இயேசையா</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>               <b>C</b>          <b>Gm</b>	</span>
<samp charset="UTF-8" class="lyricline">கர்ப்பப்பை கட்டி காயங்கள் புண்கள்</samp>
<span class="chordline"><b>A#</b>         <b>Gm</b>         <b>A7</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை பாய்கின்றதே</samp>
<span class="chordline"><b>Gm</b>                 <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">முடக்குவாதங்கள் நுரையீரல்கள்</samp>
<span class="chordline"><b>C</b>                <b>Am</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சுவாசம் எங்கும் பாய்கின்றதே</samp>
<samp charset="UTF-8" class="lyricline"> – இயேசையா</samp>
<span class="blankline"></span></div></div>   
        
     </div>