<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4103" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>         <b>Bm</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வழியைக் கர்த்தருக்குக் கொடுத்துவிடு</samp>
<span class="chordline"><b>Bm</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அவரையே நம்பியிரு – உன்</samp>
<span class="chordline"><b>Em</b>          <b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காரியத்தை வாய்க்கச் செய்வார்</samp>
<span class="chordline"><b>B</b>                         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உன் சார்பில் செயலாற்றுவார்</samp>
<span class="chordline"><b>Em</b>       		</span>
<samp charset="UTF-8" class="lyricline">காத்திரு பொறுத்திரு</samp>
<span class="chordline"><b>C</b>            <b>Em</b>		</span>
<samp charset="UTF-8" class="lyricline">கர்த்தரையே நம்பியிரு</samp>
<span class="chordline"><b>A</b>            <b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காரியத்தை வாய்க்கச் செய்வார்</samp>
<span class="chordline"><b>C</b>             <b>Am</b>          <b>B</b>    <b>Em</b>		</span>
<samp charset="UTF-8" class="lyricline">உன் சார்பில் செயலாற்றுவார் – வழியை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தீயவன் செயல் குறித்து</samp>
<span class="chordline"><b>Am</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனம் பதறாதே</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">புல்லைப் போல உலர்ந்து</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூவைப் போல உதிர்ந்து</samp>
<span class="chordline"><b>C</b>      <b>B7</b>            <b>Em</b>              </span>
<samp charset="UTF-8" class="lyricline">இல்லாமல் போய்விடும் – காத்திரு</samp>
<samp charset="UTF-8" class="lyricline">    ...வழியை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து களிகூரு</samp>
<span class="chordline"><b>Am</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து துதிபாடு</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன் இதயத்தின் வாஞ்சை</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">விருப்பங்கள் எல்லாம்</samp>
<span class="chordline"><b>C</b>           <b>B7</b>          <b>Em</b>              </span>
<samp charset="UTF-8" class="lyricline">விரைவில் நிறைவேற்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">    ...வழியை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமான் அனைவருக்கும்</samp>
<span class="chordline"><b>Am</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி உண்டு வெகு விரைவில்</samp>
<span class="chordline"><b>Am</b>                       </span>
<samp charset="UTF-8" class="lyricline">துணைநின்று கர்த்தரோ </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நடத்திச் செல்வார்</samp>
<span class="chordline"><b>C</b>          <b>B7</b>          <b>Em</b>              </span>
<samp charset="UTF-8" class="lyricline">துரிதமாய் ஜெயம் தருவார்</samp>
<samp charset="UTF-8" class="lyricline">    ...வழியை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உனது நேர்மையெல்லாம்</samp>
<span class="chordline"><b>Am</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலை வெளிச்சமாகும்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நண்பகல் போலாகும்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன் நீதி நியாயம்</samp>
<span class="chordline"><b>C</b>        <b>B7</b>      <b>Em</b>              </span>
<samp charset="UTF-8" class="lyricline">நண்பா  கலங்காதே</samp>
<samp charset="UTF-8" class="lyricline">    ...வழியை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கோபத்தை விட்டுவிடு</samp>
<span class="chordline"><b>Am</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சினம் நீ கொள்ளாதே</samp>
<span class="chordline"><b>Am</b>                    </span>
<samp charset="UTF-8" class="lyricline">பொறாமை எரிச்சல் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஒருபோதும் வேண்டாம்</samp>
<span class="chordline">     <b>C</b>         <b>B7</b>       <b>Em</b>              </span>
<samp charset="UTF-8" class="lyricline">அது தீமைக்கு வழிநடத்தும்</samp>
<samp charset="UTF-8" class="lyricline">    ...வழியை</samp>
<span class="blankline"></span></div></div>   
        
     </div>