<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4104" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                <b>Dm</b>          </span>
<samp charset="UTF-8" class="lyricline">எப்போழுது உம் சந்நிதியில் </samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">வந்து நிற்பேன</samp>
<span class="chordline"><b>Gm</b>      <b>A#</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாகமாயிருக்கின்றேன்</samp>
<span class="chordline"><b>F</b>       <b>Gm</b>  <b>Am</b>         <b>A#</b>  </span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள தேவன்மேலே </samp>
<span class="chordline"><b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாகமாயிருக்கின்றேன் </samp>
<span class="chordline"><b>A#</b>         <b>A#m</b>          <b>F</b>    <b>A#</b> </span>
<samp charset="UTF-8" class="lyricline">அதிகமாய்    துதிக்கின்றேன்   </samp>
<span class="chordline">       <b>A#m</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாகமாயிருக்கின்றேன் – எப்பொ</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>Am</b>          </span>
<samp charset="UTF-8" class="lyricline">தண்ணீருக்காய் மானானது </samp>
<span class="chordline"><b>F7</b>               <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் கொள்வதுபோல்</samp>
<span class="chordline"><b>Gm</b>            <b>Eb</b>	      </span>
<samp charset="UTF-8" class="lyricline">என் ஆன்மா உம்மைத்தானே </samp>
<span class="chordline"><b>C</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேடித் தவிக்கிறது</samp>
<span class="blankline"></span>
<span class="chordline"><b>A#</b>                         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சகரே உம் வருகையிலே</samp>
<span class="chordline"><b>Gm</b>                            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிச்சயமாய் உம் முகம் காண்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A#</b>       <b>A#m</b>           <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">தாகமாய்    இருக்கின்றேன்</samp>
<span class="chordline"><b>A#</b>        <b>A#m</b>            <b>F</b> </span>
<samp charset="UTF-8" class="lyricline">அதிகமாய்    துதிக்கின்றேன் – எப்பொ</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>Am</b>   </span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவே நீ கலங்குவதேன்</samp>
<span class="chordline"><b>F7</b>                  <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்து போவது  ஏன்</samp>
<span class="chordline"><b>Gm</b>            <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரையே நம்பியிரு</samp>
<span class="chordline">       <b>C</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவர் செயல்கள் நினைத்துத் துதி</samp>
<samp charset="UTF-8" class="lyricline"> – இரட்சகரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                    <b>Am</b>   </span>
<samp charset="UTF-8" class="lyricline">காலைதோறும் உம் பேரன்பைக்</samp>
<span class="chordline"><b>F7</b>             <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">கட்டளையிடுகிறீர்</samp>
<span class="chordline"><b>Gm</b>              <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இரவுபகல் உம் துதிப்பாடல்</samp>
<span class="chordline">     <b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் நாவில் ஒலிக்கிறது</samp>
<samp charset="UTF-8" class="lyricline"> – இரட்சகரே</samp>
<span class="blankline"></span></div></div>   
        
     </div>