<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4105" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>              <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">என் பாத்திரம் நிரம்பி </samp>
<span class="chordline"><b>Bm</b>      <b>G</b>        <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">நிரம்பி வழிகின்றது</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வழிந்து ஓடுகின்றது</samp>
<span class="chordline"><b>D</b>             <b>Em</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குள்ளே ஜீவ ஊற்று</samp>
<span class="chordline">      <b>Em</b>               <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">அது வற்றாது ஒரு நாளும் – என் பாத்திரம்</samp>
<span class="chordline"><b>D</b>             <b>Em</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனக்குள்ளே ஜீவ ஊற்று</samp>
<span class="chordline">      <b>G</b>        <b>A</b>       <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">அது வற்றாது ஒரு நாளும் – என் பாத்திரம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேக நதி நானே</samp>
<span class="chordline"><b>Em</b>              <b>A</b>       <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">அகிலமெங்கும் பரவிடுவேன்</samp>
<span class="chordline"><b>D</b>                   </span>
<samp charset="UTF-8" class="lyricline">ஏராளமான மீன்கள் </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">திரளான உயிரினங்கள்</samp>
<span class="chordline">     <b>G</b>      <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நதி பாயும் இடமெல்லாம்</samp>
<span class="chordline">      <b>Bm</b>       <b>A</b>        <b>G</b>                </span>
<samp charset="UTF-8" class="lyricline">நான் போகும் இடமெல்லாம்  - எனக்கு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த தைலம் நானே</samp>
<span class="chordline"><b>Em</b>            <b>A</b>      <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">புலம்பலுக்கு எதிரானேன்</samp>
<span class="chordline"><b>D</b>                           </span>
<samp charset="UTF-8" class="lyricline">துதிஉடை போர்த்திடுவேன் </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சாம்பல் நீக்கிடுவேன்</samp>
<span class="chordline"><b>G</b>         <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அலங்காரமாக்கிடுவேன் – சபையை</samp>
<span class="chordline"><b>Bm</b>        <b>A</b>        <b>G</b>                       </span>
<samp charset="UTF-8" class="lyricline">அலங்காரமாக்கிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கனி கொடுக்கும் மரம் நானே</samp>
<span class="chordline"><b>Em</b>                   <b>A</b>            <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">நாள்தோறும் (புதுக்)கனி கொடுப்பேன்</samp>
<span class="chordline"><b>D</b>                          </span>
<samp charset="UTF-8" class="lyricline">இலைகள் உதிர்வதில்லை </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கனிகள் கெடுவதில்லை-என்</samp>
<span class="chordline"><b>G</b>          <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விருந்தும் மருந்தும் நானே-சபைக்கு</samp>
<span class="chordline"><b>Bm</b>         <b>A</b>            <b>G</b>                      </span>
<samp charset="UTF-8" class="lyricline">விருந்தும் மருந்தும் நானே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                              <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">முழங்கிடுவேன் தினம் சுவிசேஷம்</samp>
<span class="chordline"><b>Em</b>                  <b>A</b>          <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஒடுக்கப்பட்ட இந்த உலகத்திற்கு</samp>
<span class="chordline"><b>D</b>                         </span>
<samp charset="UTF-8" class="lyricline">காயங்கள் ஆற்றிடுவேன் </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுக்கள் அவிழ்த்திடுவேன்</samp>
<span class="chordline"><b>G</b>           <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை பறைசாற்றுவேன்</samp>
<span class="chordline"><b>Bm</b>          <b>A</b>           <b>G</b>                                     </span>
<samp charset="UTF-8" class="lyricline">விடுதலை பறைசாற்றுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அயல்மொழிகள் தினம் பேசிடுவேன்</samp>
<span class="chordline"><b>Em</b>            <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இறைவாக்கு உரைத்திடுவேன்</samp>
<span class="chordline"><b>D</b>                          </span>
<samp charset="UTF-8" class="lyricline">சாத்தானை துரத்திடுவேன் </samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கரம் நீட்டி சுகம் கூறுவேன்</samp>
<span class="chordline"><b>G</b>         <b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் தினம் காண்பேன்</samp>
<span class="chordline"><b>Bm</b>         <b>A</b>           <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">அதிசயம் தினம் காண்பேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>