<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4106" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆபிரகாமின் தேவன் ஈசாக்கின் தேவன் </samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">யாக்கோபின் தேவன் உன்னை ஆசீர்வதிப்பார்</samp>
<span class="chordline"><b>Dm</b>                                 </span>
<samp charset="UTF-8" class="lyricline">தகதிமி தகஜனு தகதிமி தகஜனு</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தகதிமி தகஜனு தகதிமி தகஜனு ஆ ..... ஆ – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்கு பயந்து</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வழிகளில் நடக்கின்ற நீ</samp>
<span class="chordline"><b>Gm</b>           <b>Am</b>         <b>Dm</b> </span>
<samp charset="UTF-8" class="lyricline">பாக்கியவான்   பாக்கியவான் </samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உழைப்பின் பயனை நீ</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உண்பது நிச்சயமே நிச்சயமே</samp>
<samp charset="UTF-8" class="lyricline"> – ஆபிரகாமின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நன்மையும் பாக்கியமும்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன் வாழ்வில் நீ காண்பாய்</samp>
<span class="chordline"><b>Gm</b>                     </span>
<samp charset="UTF-8" class="lyricline">செல்வமும் ஆஸ்தியும்  </samp>
<span class="chordline"><b>Am</b>             <b>Dm</b> </span>
<samp charset="UTF-8" class="lyricline">தேடி வரும் தினமும்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள நாட்களெல்லாம்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">செழிப்பை நீ காண்பாய் நீ காண்பாய்</samp>
<samp charset="UTF-8" class="lyricline"> – ஆபிரகாமின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இல்லத்தில் என் மனைவி</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கனிதரும் திராட்சைச் செடி</samp>
<span class="chordline"><b>Gm</b>                      </span>
<samp charset="UTF-8" class="lyricline">பிள்ளைகள் ஒலிவமரக்   </samp>
<span class="chordline"><b>Am</b>                <b>Dm</b> </span>
<samp charset="UTF-8" class="lyricline">கன்றுகள்போல் வளர்வார்கள்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பிள்ளைகளின் பிள்ளைகளை காண்பது</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நிச்சயமே நிச்சயமே .....</samp>
<samp charset="UTF-8" class="lyricline"> – ஆபிரகாமின்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>