<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4108" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் பெலனானார்</samp>
<span class="chordline"><b>B7</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அவரே என் கீதமானார்</samp>
<span class="chordline"><b>E</b>           <b>F#m</b>  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சிக்குரல் வெற்றியின் தொனி</samp>
<span class="chordline"><b>A</b>      <b>B</b>       <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">எனது கூடாரத்தில்</samp>
<span class="chordline"><b>A</b>      <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நமது  கூடாரத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>           <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா </samp>
<span class="chordline"><b>A</b>           <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா</samp>
<span class="chordline"><b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா</samp>
<span class="chordline"><b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா தோல்வி இல்லை</samp>
<span class="chordline"><b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா வெற்றி உண்டு – கர்த்தர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் பட்சத்தில்</samp>
<span class="chordline"><b>A</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இருப்பதால் பயப்படேன்</samp>
<span class="chordline"><b>F#m</b>                  <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">மனிதன் எனக்கு எதிராய்</samp>
<span class="chordline"><b>B</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்ன செய்ய முடியும்</samp>
<samp charset="UTF-8" class="lyricline"> – மகிழ்ச்சிக்குரல்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இந்த நாள் நல்ல நாள்</samp>
<span class="chordline"><b>A</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">யேகோவா தந்த நாள்</samp>
<span class="chordline"><b>F#m</b>                <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">களிகூர்ந்து மகிழ்ந்திடு</samp>
<span class="chordline"><b>B</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காரியம் வாய்க்கச் செய்வார் – நீ</samp>
<samp charset="UTF-8" class="lyricline"> – மகிழ்ச்சிக்குரல்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஈக்கள் (தேனீக்கள்) போல் பாடுகள்</samp>
<span class="chordline"><b>A</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எனை சூழ்ந்து வந்தாலும்</samp>
<span class="chordline"><b>F#m</b>                    <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">நெருப்பிலிட்ட முட்கள் போல்</samp>
<span class="chordline"><b>B</b>                      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சாம்பலாய் போகின்றன</samp>
<samp charset="UTF-8" class="lyricline"> – மகிழ்ச்சிக்குரல்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் வலக்கரம்</samp>
<span class="chordline"><b>A</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மிகவும் உயர்ந்துள்ளது</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>                 <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">பராக்கிரமம் செய்கின்றார்</samp>
<span class="chordline"><b>B</b>                  <b>E</b>   </span>
<samp charset="UTF-8" class="lyricline">வெற்றி தருகின்றார்</samp>
<samp charset="UTF-8" class="lyricline"> – மகிழ்ச்சிக்குரல்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">விழும்படி தள்ளினார்கள்</samp>
<span class="chordline"><b>A</b>                          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை வீழ்த்த முயன்றார்கள்</samp>
<span class="chordline"><b>F#m</b>             <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரோ தாங்கினார்</samp>
<span class="chordline"><b>B</b>                    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கரம் நீட்டி உதவினார் </samp>
<samp charset="UTF-8" class="lyricline"> – மகிழ்ச்சிக்குரல்</samp>
<span class="blankline"></span></div></div>   
        
     </div>