<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4109" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாக்களித்த அனைத்தையும் (விரைவில்)</samp>
<span class="chordline"><b>A</b>                            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் வாழ்வில் நிறைவேற்றுவீர் – தகப்பன்</samp>
<span class="chordline"><b>E</b>                 <b>F#m</b>  <b>B</b>         <b>G#m</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவையெல்லாம் நீர்தானையா</samp>
<span class="chordline"><b>C#m</b>     <b>F#m</b>   <b>B</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள   நாட்களெல்லாம்</samp>
<span class="chordline"><b>Bm</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசையா இயேசையா</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்கால ஏக்கமெல்லாம்</samp>
<span class="chordline"><b>A</b>          <b>B</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மிடம் ஒப்படைத்தேன் நான் – என்</samp>
<span class="chordline"><b>F#m</b>                        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">என் சார்பில் செயலாற்றுகிறீர்</samp>
<span class="chordline"><b>F#m</b>       <b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் செய்து முடிப்பீர்  - என் தேவை</samp>
<samp charset="UTF-8" class="lyricline">  ...வாக்களித்த </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பட்டப்பகல் போல</samp>
<span class="chordline">     <b>A</b>       <b>B</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் நீதியை விளங்கச் செய்வீர்</samp>
<span class="chordline"><b>F#m</b>                  <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கி அமர்ந்திருப்பேன்</samp>
<span class="chordline"><b>F#m</b>        <b>B</b>	     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் காத்திருப்பேன் – உம்மை</samp>
<samp charset="UTF-8" class="lyricline">  ...வாக்களித்த </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பாதத்தில் வைத்துவிட்டேன்</samp>
<span class="chordline">     <b>A</b>         <b>B</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் பாரங்கள் கவலைகள் – உம்</samp>
<span class="chordline"><b>F#m</b>               <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தள்ளாட் விடமாட்டீர்</samp>
<span class="chordline"><b>F#m</b>        <b>B</b>	        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கியே நடத்தி செல்வீர் – என்னை</samp>
<samp charset="UTF-8" class="lyricline">  ...வாக்களித்த </samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கோபங்கள் எரிச்சல்கள்</samp>
<span class="chordline"><b>A</b>        <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அகற்றி எரிந்து விட்டேன்</samp>
<span class="chordline"><b>F#m</b>                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நம்பியுள்ளேன் உம்மையே</samp>
<span class="chordline"><b>F#m</b>         <b>B</b>	      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் செய்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...வாக்களித்த </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>