<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4111" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் மேய்ப்பர் நீர்தானையா</samp>
<span class="chordline"><b>B7</b>              <b>A</b>            <b>Em</b>                      </span>
<samp charset="UTF-8" class="lyricline">எனக்கென்றும் குறையேயில்லை</samp>
<span class="chordline">           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஏன் கலங்கணும்</samp>
<span class="chordline"><b>B7</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் ஆயன் இருக்கையிலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் பாதையில்  நடத்திச் செல்கின்றீர்</samp>
<span class="chordline">     <b>Am</b>      <b>D</b>         <b>B7</b>               </span>
<samp charset="UTF-8" class="lyricline">உம் மகிமை விளங்கும்படி- நான் ஏன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா தேற்றுகிறீர்   ஆவி பொழிகின்றீர்</samp>
<span class="chordline"><b>Am</b>         <b>D</b>       <b>B7</b>               </span>
<samp charset="UTF-8" class="lyricline">புது உயிர் தருகின்றீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எதிரிகள் கண்முன்னே   வெற்றி தருகின்றீர்</samp>
<span class="chordline"><b>Am</b>        <b>D</b>          <b>B7</b>               </span>
<samp charset="UTF-8" class="lyricline">விருந்து  படைக்கின்றீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிச்சயமாகவே   வாழ்நாள் முழுவதும்</samp>
<span class="chordline">     <b>Am</b>        <b>D</b>          <b>B7</b>               </span>
<samp charset="UTF-8" class="lyricline">உம் கிருபை  பின் தொடரும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தலையை எண்ணெயால்  அபிஷேகம் செய்கின்றீர்</samp>
<span class="chordline"><b>Am</b>        <b>D</b>                <b>B7</b>              </span>
<samp charset="UTF-8" class="lyricline">பாத்திரம் நிரம்பி வழிகின்றது</samp>
<span class="blankline"></span></div></div>   
        
     </div>