<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4112" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தத்தினாலே கழுவப்பட்டேன்</samp>
<span class="chordline"><b>Am</b>       <b>B</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாக்கப்பட்டேன்</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மீட்கப்பட்டேன் திரு இரத்தத்தால்</samp>
<span class="chordline"><b>B7</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அலகையின் பிடியினின்று-நான்</samp>
<span class="chordline"><b>Em</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தம் ஜெயம். இரத்தம் ஜெயம்</samp>
<span class="chordline"><b>Am</b>                    <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுகிறிஸ்துவின் இரத்தம் ஜெயம்</samp>
<span class="chordline"><b>Em</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தம் ஜெயம். இரத்தம் ஜெயம்</samp>
<span class="chordline"><b>Am</b>                    <b>D</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுகிறிஸ்துவின் இரத்தம் ஜெயம்-2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">படைத்தவரே என்னை ஏற்றுக் கொண்டார்</samp>
<span class="chordline"><b>Am</b>                       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தப்பட்ட திரு இரத்தத்தால்-2 </samp>
<span class="chordline"><b>Am</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் செய்யாத ஒரு மகனைப்போல</samp>
<span class="chordline"><b>Am</b>            <b>C</b>     <b>B7</b> </span>
<samp charset="UTF-8" class="lyricline">பார்க்கின்றார் பரமபிதா-இரத்தம் ஜெயம்</samp>
<samp charset="UTF-8" class="lyricline">  ...இரத்தத்தினாலே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் சார்பில் தேவனை நோக்கி</samp>
<span class="chordline"><b>Am</b>                         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து கூப்பிடும் இரத்தம்</samp>
<span class="chordline"><b>Am</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அருள் நிறைந்த இறை அரியணையை</samp>
<span class="chordline"><b>Am</b>           <b>C</b>              <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">துணிவுடன் அணுகிச் செல்வோம்-இரத்தம் ஜெயம்</samp>
<samp charset="UTF-8" class="lyricline">  ...இரத்தத்தினாலே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">போர்க்கவசம் என் தலைக்கவசம்</samp>
<span class="chordline"><b>Am</b>                       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் திரு இரத்தமே</samp>
<span class="chordline"><b>Am</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தீய ஆவி(யும்) அணுகாது</samp>
<span class="chordline"><b>Am</b>            <b>C</b>     <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">தீங்கிழைக்க முடியாது (எந்த)-இரத்தம் ஜெயம்</samp>
<samp charset="UTF-8" class="lyricline">  ...இரத்தத்தினாலே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சுத்திகரிக்கும் தூய்மையாக்கும்</samp>
<span class="chordline"><b>Am</b>                      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்நாளெல்லாம் தினமும்</samp>
<span class="chordline"><b>Am</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்மையான காரியங்கள்</samp>
<span class="chordline"><b>Am</b>        <b>C</b>          <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">நமக்காய் பரிந்து பேசும்-இரத்தம்-ஜெயம்</samp>
<samp charset="UTF-8" class="lyricline">  ...இரத்தத்தினாலே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சாவுக்கேதுவான கிரியை நீக்கி</samp>
<span class="chordline"><b>Am</b>                    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாக்கும் இரத்தம்</samp>
<span class="chordline"><b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனுள்ள தேவனுக்கு</samp>
<span class="chordline"><b>Am</b>       <b>C</b>         <b>B</b> </span>
<samp charset="UTF-8" class="lyricline">ஊழியம் செய்வதற்கு-இரத்தம் ஜெயம்</samp>
<samp charset="UTF-8" class="lyricline">  ...இரத்தத்தினாலே  </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>