<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4113" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நான் மன்னிப்படைய நீர் தண்டிக்கப்பட்டீர்</samp>
<span class="chordline"><b>Em</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மீட்படைய நொறுக்கப்பட்டீர்-2</samp>
<span class="chordline"><b>Em</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமானாக்க பலியானீர்</samp>
<span class="chordline"><b>G</b>        <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ஜீவன் தந்தீர்</samp>
<span class="chordline"><b>D</b>        <b>G</b>    <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பே,   பேரன்பே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">காயப்பட்டீர் நான் சுகமாக</samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் நோய்கள் நீங்கியதே</samp>
<span class="chordline"><b>G</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சுமந்து கொண்டீர் என் பாடுகள்</samp>
<span class="chordline"><b>A</b>            <b>Gm</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுகமானேன்  தழும்புகளால்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">இம்மானுவேல் இயேசு ராஜா</samp>
<span class="chordline"><b>Em</b>              <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இவ்வளவாய்  அன்புகூர்ந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">  - அன்பே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சாபமானீர் என் சாபம் நீங்க</samp>
<span class="chordline"><b>Am</b>                   <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">மீட்டீரே சாபத்தினின்று</samp>
<span class="chordline"><b>G</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆபிரகாமின் ஆசீர்வாதங்கள்</samp>
<span class="chordline"><b>A</b>                     <b>Gm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பெற்றுக்கொண்டேன் சிலுவையினால்</samp>
<samp charset="UTF-8" class="lyricline">-இம்மானுவேல்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">ஏழ்மையானீர்  சிலுவையிலே</samp>
<span class="chordline"><b>Am</b>                       <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">செல்வந்தனாய் நான் வாழ</samp>
<span class="chordline"><b>G</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பிதா என்னை  ஏற்றுக்கொள்ள</samp>
<span class="chordline"><b>A</b>            <b>Gm</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புறக்கணிக்கப்பட்டீரையா</samp>
<samp charset="UTF-8" class="lyricline">- இம்மானுவேல்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையிலே நான் பங்கு பெற</samp>
<span class="chordline"><b>Am</b>                       <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">அவமானம் அடைந்தீரையா</samp>
<span class="chordline"><b>G</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் பெற சாவை ஏற்றீர்</samp>
<span class="chordline"><b>A</b>            <b>Gm</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முடிவில்லா வாழ்வு தந்தீர்</samp>
<samp charset="UTF-8" class="lyricline">- இம்மானுவேல்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>