<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4114" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">எப்பொழுதும் எவ்வேளையும் </samp>
<span class="chordline"><b>F</b>                        <b>C</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நான் ஸ்தோத்தரிப்பேன் ஸ்தோத்தரிப்பேன்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">இரவு பகல் எந்நேரமும்</samp>
<span class="chordline"><b>F</b>               <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம் திருநாம்ம் உயர்த்திடுவேன்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் புகழ்வேன் பெலத்தோடு</samp>
<span class="chordline"><b>A#</b> </span>
<samp charset="UTF-8" class="lyricline">உம்மைப் பாடுவேன் சுகத்தோடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">தடுக்கி விழுந்த யாவரையும்</samp>
<span class="chordline"><b>Gm</b>               <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கி நடத்தும் தகப்பன் நீரே</samp>
<span class="chordline"><b>Am</b>             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்த்தப்பட்ட அனைவரையும்</samp>
<span class="chordline"><b>C7</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கி நிறுத்தும் துணையாளரே</samp>
<samp charset="UTF-8" class="lyricline">  -உம்மைப்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                    <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கிக் கூப்பிடும்  அனைவருக்கும்</samp>
<span class="chordline"><b>Gm</b>                <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தகப்பன் அருகில் இருக்கின்றீர்</samp>
<span class="chordline"><b>Am</b>                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அஞ்சி நடப்போர்  விருப்பங்களை</samp>
<span class="chordline"><b>C</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பூர்த்தி செய்யும் பரிசுத்தரே </samp>
<samp charset="UTF-8" class="lyricline"> -உம்மைப்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>               <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">உணவுக்காக    உயிரின்ங்கள</samp>
<span class="chordline"><b>Gm</b>              <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நோக்கிப் பார்க்கின்றன</samp>
<span class="chordline"><b>Am</b>                  <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்ற வேளையில்  உணவளித்து</samp>
<span class="chordline"><b>C</b>               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஏக்கமெல்லாம் நிறைவேற்றுவீர்</samp>
<samp charset="UTF-8" class="lyricline">   -உம்மைப்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கம் கிருபை  உடையவரே</samp>
<span class="chordline"><b>Gm</b>               <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கருணை அன்பு  நிறைந்தவரே</samp>
<span class="chordline"><b>Am</b>                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நன்மை செய்யும்  நாயகனே</samp>
<span class="chordline"><b>C</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நாவு அனைத்தும் உம்மைப் பாடுமே</samp>
<samp charset="UTF-8" class="lyricline">  -உம்மைப்</samp>
<span class="blankline"></span></div></div>   
        
     </div>