<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4115" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>          <b>D</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆவலாய் இருக்கின்றார் கருணை காட்ட</samp>
<span class="chordline"><b>C#m</b>    <b>D</b>              <b>Bm</b>           <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">அன்பு கரம் அசைத்து ஓடி வருகின்றார்</samp>
<span class="chordline"><b>E</b>          <b>D</b>   <b>A</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீதி செய்பவர் இரக்கம் உள்ளவர் (உன்மேல்)</samp>
<span class="chordline"><b>E</b>           <b>D</b>   <b>A</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மனதுருகும்படி காத்திருப்பவர்-நீதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>        <b>Bm</b>       <b>A</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சீயோன் மக்களே எருசலேம் குடிகளே</samp>
<span class="chordline"><b>E</b>         <b>Bm</b>       <b>A</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இனி ஒருபோதும் அழமாட்டீர்கள்</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">கூப்பிடும் குரலுக்கு செவிசாய்க்கின்றார்</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கேட்ட உடனேயே பதில் தருகின்றார்</samp>
<samp charset="UTF-8" class="lyricline">   -நீதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>            <b>Bm</b>           <b>A</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இன்னல்கள் துன்பங்கள்  மிகுந்த உலகிலே</samp>
<span class="chordline"><b>E</b>         <b>Bm</b>           <b>A</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதர் வாக்களித்த வார்த்தை உண்டு</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணி முடியாத அதிசயங்கள்</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">கண்களால் காண்பீர்கள் அதிசீக்கிரத்தில்</samp>
<samp charset="UTF-8" class="lyricline">   -நீதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>          <b>Bm</b>         <b>A</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வலப்புறம் இடப்புறம் சாய்ந்து போனாலும்</samp>
<span class="chordline"><b>E</b>       <b>Bm</b>       <b>A</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வழிதவறி நாம்  நடந்து சென்றாலும்</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">இதுதான் வழி இதிலே நடந்து செல்லுங்கள்</samp>
<span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்ற சப்தம் நம் இதயத்தில் ஒலிக்கும்</samp>
<samp charset="UTF-8" class="lyricline">   -நீதி</samp>
<span class="blankline"></span></div></div>   
        
     </div>