<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4121" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த களிப்புள்ள உதடுகளால்</samp>
<span class="chordline"><b>Em</b>        <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">போற்றிப்   புகழ்கின்றேன்-2</samp>
<span class="chordline"><b>Em</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அறுசுவை உணவு உண்பது போல்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தி அடைகின்றேன்-2</samp>
<span class="chordline"><b>A7</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் துதிக்கின்றேன்- ஆனந்த</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மேலானது உம் பேரன்பு</samp>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உயிரினும் மேலானது-2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உதடுகள் துதிக்கட்டும்</samp>
<span class="chordline"><b>F#m</b>                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள நாளெல்லாம்</samp>
<span class="chordline"><b>Em</b>       <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உயிருள்ள நாளெல்லாம்</samp>
<samp charset="UTF-8" class="lyricline">- ஆனந்த</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நீர் என் தேவன்</samp>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேடுவேன் ஆர்வமுடன்-2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை வாஞ்சிக்கின்றேன்</samp>
<span class="chordline"><b>F#m</b>                       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம் வல்லமை காண்கின்றேன்-2</samp>
<span class="chordline"><b>Em</b>         <b>A</b>           <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">வல்லமை  காண்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">- ஆனந்த</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நீர்தானே என் துணையானீர்</samp>
<span class="chordline"><b>A</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் நிழலில் களிகூறுவேன்-2</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உறுதியாய் பற்றிக் கொண்டேன்</samp>
<span class="chordline"><b>F#m</b>                      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம் வலக்கரம் தாங்குதையா-2</samp>
<span class="chordline"><b>Em</b>         <b>A</b>           <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">வலக்கரம்  தாங்குதையா</samp>
<samp charset="UTF-8" class="lyricline">- ஆனந்த</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கைகளை நான் உயர்த்துகிறேன்</samp>
<span class="chordline"><b>A</b>                               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் திருநாமம் சொல்லி சொல்லி-என்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">படுக்கையிலும் நினைக்கின்றேன்</samp>
<span class="chordline"><b>F#m</b>                        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இரவினிலும் தியானிக்கின்றேன்</samp>
<span class="chordline"><b>Em</b>            <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இரவினிலும்   துதிக்கின்றேன்</samp>
<samp charset="UTF-8" class="lyricline">- ஆனந்த</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>