<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4122" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஒருநாளும் வீணாகாது</samp>
<span class="chordline"><b>B</b>                 <b>C#m</b>              </span>
<samp charset="UTF-8" class="lyricline">நீ ஓடும் ஓட்டம் நீ செய்யும் ஊழியம்</samp>
<span class="chordline"><b>G#m</b>          <b>A</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஒருநாளும் வீணாகாது</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே உனக்குள்ளே</samp>
<span class="chordline"><b>F#m</b>          <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">செயலாற்றி மகிழ்கின்றார்</samp>
<span class="chordline"><b>A</b>                        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அவர் விருப்பம் நீ செய்திட</samp>
<span class="chordline"><b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆற்றல் தருகின்றார்</samp>
<span class="chordline"><b>E</b>                <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து ஓடு விட்டுவிடாதே</samp>
<span class="chordline"><b>B</b>                              <b>E</b>	</span>
<samp charset="UTF-8" class="lyricline">பணி செய்வதை நீ நிறுத்விடாதே – ஒருநாளும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                       <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">பிடித்துக் கொள் ஜீவவசனம்</samp>
<span class="chordline"><b>F#m</b>      <b>B</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பிரகாசி கிறிஸ்து இயேசுவுக்காய்</samp>
<span class="chordline"><b>A</b>                      <b>F#m</b> </span>
<samp charset="UTF-8" class="lyricline">நெறி கெட்ட சமுதாயத்தில்</samp>
<span class="chordline"><b>B7</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நீதானே நட்சத்திரம்</samp>
<samp charset="UTF-8" class="lyricline"> – தொடர்ந்து</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                       <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">அவமானம் நிந்தை எல்லாம்</samp>
<span class="chordline"><b>F#m</b>       <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அனுதின உணவு போல</samp>
<span class="chordline"><b>A</b>                       <b>F#m</b> </span>
<samp charset="UTF-8" class="lyricline">பழிச்சொல் எதிர்ப்பு எல்லாம்</samp>
<span class="chordline"><b>B7</b>                       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் தரும் ஊட்டச்சத்து</samp>
<samp charset="UTF-8" class="lyricline"> – தொடர்ந்து</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                 <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">கண்கள் பதித்துவிடு</samp>
<span class="chordline"><b>F#m</b>        <b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தராம் இயேசுவின் மேல்</samp>
<span class="chordline"><b>A</b>                 <b>F#m</b> </span>
<samp charset="UTF-8" class="lyricline">சிலுவை சுமந்ததனால்</samp>
<span class="chordline"><b>B7</b>                        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சிங்காசனம் அமர்ந்துவிட்டார்</samp>
<samp charset="UTF-8" class="lyricline"> – தொடர்ந்து</samp>
<span class="blankline"></span></div></div>   
        
     </div>