<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4125" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இயேசுவை</samp>
<span class="chordline"><b>G</b>             <b>D</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் நம்புவேன்</samp>
<span class="chordline"><b>D</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தமது கரத்தால் நடத்தி என்னை</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் தாங்குவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் ஆத்ம நேசரே</samp>
<span class="chordline"><b>D</b>               <b>G</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை தேற்றுவார்- அமர்ந்து</samp>
<span class="chordline"><b>Am</b>        <b>G</b>	    <b>D7</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தண்ணீர்களண்டை என்னை நடத்துவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் இயேசுவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ ஒளியாய் திகழ்ந்திட</samp>
<span class="chordline"><b>D</b>                <b>G</b>      <b>E</b>    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அழைத்தாரே- ஜீவ காலம்</samp>
<span class="chordline"><b>G</b>         <b>D7</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாம் சாட்சியாய் ஜீவிப்பேன் நான்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் இயேசுவை</samp>
<span class="blankline"></span></div></div>   
        
     </div>