<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4126" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>C</b>  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் உம்மை உறுதியாக</samp>
<span class="chordline"><b>D7</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் பற்றிடுவேன்</samp>
<span class="chordline">  <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சமாதானம் பூரணமாய்</samp>
<span class="chordline"><b>D7</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அளித்து என்றும் நடத்துவீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>D</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் ஆத்துமாவின் வாஞ்சை நீர்</samp>
<span class="chordline">     <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என் ஆவி உம்மைத் தேடும்</samp>
<span class="chordline"><b>G</b>    <b>C</b>	   <b>G</b>      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் பாதையில்</samp>
<span class="chordline"><b>C</b>              <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">செம்மையாய் நடத்துவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நான் உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>D</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நல் வாசல்கள் திறந்திட</samp>
<span class="chordline">     <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் தாசர் உள்ளே செல்வார் </samp>
<span class="chordline"><b>G</b>    <b>C</b>    <b>G</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியம் காத்திட</samp>
<span class="chordline"><b>C</b>          <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தனே அருள் செய்வீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நான் உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>D</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் நியாயங்கள் நிறைவேற</samp>
<span class="chordline">     <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் வேளைக்காக வந்தோம்</samp>
<span class="chordline"><b>G</b>    <b>C</b>    <b>G</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே ராஜனே</samp>
<span class="chordline"><b>C</b>           <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமதை தந்திடுவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நான் உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                 <b>D</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என் கிரியைகள் அனைத்துமே</samp>
<span class="chordline">    <b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீர் ஏற்று என்றும் காப்பீர்</samp>
<span class="chordline"><b>G</b>      <b>C</b>    <b>G</b>     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நடத்தியே தாங்குவீர்</samp>
<span class="chordline"><b>C</b>            <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சமாதானம் அருள்வீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நான் உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>D</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உம் கைகள் எமக்காய் ஓங்கிட</samp>
<span class="chordline">     <b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் வல்லமை விளங்கும்</samp>
<span class="chordline"><b>G</b>       <b>C</b>    <b>G</b>     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே சார்ந்துமே</samp>
<span class="chordline"><b>C</b>          <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் புகழ் சாற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...நான் உம்மை</samp>
<span class="blankline"></span></div></div>   
        
     </div>