<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4127" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கிருபையே கிருபையே நித்தமும்</samp>
<span class="chordline"><b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தான் உந்தன் கிருபையே – 2</samp>
<span class="chordline"><b>G</b>         <b>Am</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியம் ஜீவன் வழியுமான </samp>
<span class="chordline"><b>C</b>           <b>G</b>      <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தெய்வக் குமாரன் கிருபையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வரண்ட ஆத்துமாவின் </samp>
<span class="chordline"><b>G</b>       <b>C</b>  <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் தீர செய்யவல்ல</samp>
<span class="chordline"><b>G</b>        <b>D</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத ஆவியால் </samp>
<span class="chordline"><b>D</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நிரப்பும் கிருபையே</samp>
<samp charset="UTF-8" class="lyricline"> – கிருபையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">புதிய கிருபையே </samp>
<span class="chordline"><b>G</b>      <b>C</b>        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காலைதோறும் சூழ்ந்திடுதே</samp>
<span class="chordline"><b>G</b>           <b>D</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">யேதானை கடக்கையில்</samp>
<span class="chordline"><b>D</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கூட செல்லும் கிருபையே</samp>
<samp charset="UTF-8" class="lyricline"> – கிருபையே</samp>
<span class="blankline"></span></div></div>   
        
     </div>