<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4128" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                   <b>G</b>        <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">மாமலை மீதினில் போதகம் கூறும்</samp>
<span class="chordline"><b>C7</b>                                 <b>F</b>                                                     </span>
<samp charset="UTF-8" class="lyricline">மாமேதை இயேசுவின் கனிமொழி கேட்பாய்</samp>
<span class="chordline"><b>F</b>        <b>A#</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சிந்திய முத்துக்கள் சிந்தனை செய்வாய்</samp>
<span class="chordline"><b>C7</b>                                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">புண்ணியர் போதனை உள்ளத்தில் ஏற்பாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                             <b>C</b>                                                                                                  </span>
<samp charset="UTF-8" class="lyricline">ஆவியில் எளியவன் பாக்கியவான்</samp>
<span class="chordline"><b>C7</b>	               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் ராஜ்ஜியம் அடைந்திடுவார்</samp>
<span class="chordline"><b>F</b>       <b>A#</b>       <b>G</b>       <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">துயரப்படுவோர் பாக்கியவான்</samp>
<span class="chordline"><b>C7</b>                  <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">தேவனின் ஆறுதல் அடைத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...மாமலை மீதினில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                                 <b>C</b>                                                                                                  </span>
<samp charset="UTF-8" class="lyricline">பொறுத்திடும் மாந்தர்கள் பாக்கியவான்</samp>
<span class="chordline"><b>C7</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பூமியை என்றும் சுதந்தரிப்பார்</samp>
<span class="chordline"><b>F</b>        <b>A#</b>       <b>G</b>        <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">நீதியை காப்பவர் பாக்கியவான்</samp>
<span class="chordline"><b>C7</b>                     <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் திருப்தியை அடைந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...மாமலை மீதினில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                           <b>C</b>                                                                                                  </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் நிந்தனை ஏற்பவர்கள்</samp>
<span class="chordline"><b>C7</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் மகிழ்ச்சி அடைந்திடுவார்</samp>
<span class="chordline"><b>F</b>         <b>A#</b>      <b>G</b>       <b>C</b>       </span>
<samp charset="UTF-8" class="lyricline">பலன்கள் மிகுதி பெற்றிடுவான்</samp>
<span class="chordline"><b>C7</b>                    <b>F</b>  </span>
<samp charset="UTF-8" class="lyricline">பரமனின் ராஜ்ஜியம் அடைந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...மாமலை மீதினில்</samp>
<span class="blankline"></span></div></div>   
        
     </div>