<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4130" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வழியில் என்றென்றுமாய்</samp>
<span class="chordline"><b>D</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னையே நடத்தி தினம் போதித்தருளும்</samp>
<span class="chordline"><b>G</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சத்தியம் என்றென்றுமாய்</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காத்திட கிருபையருளும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">திருக்கரத்தாலே தாங்கி நடத்தி</samp>
<span class="chordline"><b>C</b>                 <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமது ஜனத்தை விடுவியும்</samp>
<span class="chordline"><b>G</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">குற்றம் குறைகள் மன்னித்து யாவும்</samp>
<span class="chordline"><b>D7</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் மகிழச் செய்யுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன் வழியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தனின் கண்கள் உம்மையே நோக்கி</samp>
<span class="chordline"><b>C</b>                   <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் உதவியை நாடிடுமே</samp>
<span class="chordline"><b>G</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் கால்கள் வலைக்கு நீங்க</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் ஜீவியம் காருமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன் வழியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் பயமே எந்தனின் வாஞ்சை</samp>
<span class="chordline"><b>C</b>               <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமது ரகசியம் அறிந்திடவே</samp>
<span class="chordline"><b>G</b>                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உமது கிருபை எத்தனை பெரிது</samp>
<span class="chordline"><b>D7</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவைகள் என்றும் மாறிடா</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன் வழியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உம்மை நம்பி வந்தேன்</samp>
<span class="chordline"><b>C</b>               <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உடன்படிக்கை நினைத்தருளும்</samp>
<span class="chordline"><b>G</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாந்த குணமும் நேர்மையும் காக்க</samp>
<span class="chordline"><b>D7</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினமும் என்னைத் தாங்கிடும்</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன் வழியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தனின் ஆத்ம நன்மையைக் காண</samp>
<span class="chordline"><b>C</b>                      <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளத்தில் உண்மை தந்தருளும்</samp>
<span class="chordline"><b>G</b>                          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உத்தம தேவனே நல்லவர் நீரே</samp>
<span class="chordline"><b>D7</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே சார்ந்து ஜீவிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...உந்தன் வழியில்</samp></div></div>   
        
     </div>