<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4131" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நாம் எக்காலத்திலும் </samp>
<span class="chordline"><b>D</b>                                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன் துதித்து ஸ்தோத்தரிபோம்</samp>
<span class="chordline"><b>C</b>                 <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் ஆன்மா மகிழ்ந்திடுதே</samp>
<span class="chordline"><b>D</b>                                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நாமத்தை நாம் உயர்த்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை தேடி நீ செவி கொடுத்தால்</samp>
<span class="chordline"><b>C</b>           <b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நின் பயம்  யாவும் நீக்கிவிட்டார்(2)</samp>
<span class="chordline"><b>G</b>           <b>D</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவரையே நோக்கி பார்த்தவர்கள்</samp>
<span class="chordline"><b>D</b>      <b>C</b>         <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெட்கமடையா செய்திடுவார்(2)</samp>
<samp charset="UTF-8" class="lyricline">  - கர்த்தரை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே நல்லவர் ருசித்திடுவோம்</samp>
<span class="chordline"><b>C</b>            <b>Am</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் மேல் நம்பிக்கை வைத்திடுவோம்(2)</samp>
<span class="chordline"><b>G</b>          <b>D</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாக்கியம் பெற்று விளங்கிடுவோம்</samp>
<span class="chordline"><b>D</b>         <b>C</b>          <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் அவருக்கு பயந்திடுவோம்(2)</samp>
<samp charset="UTF-8" class="lyricline"> – கர்த்தரை</samp>
<span class="blankline"></span></div></div>   
        
     </div>