<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4132" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	 <b>A</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு அன்புடனே ஆதரிப்பார் உன்னை</samp>
<span class="chordline"><b>Em</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிடுவாய் வாக்குகளை </samp>
<span class="chordline"><b>G</b>                   <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் யாவும் நீக்கிடுவார்(2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே என்றும் திகையாதே</samp>
<span class="chordline"><b>Em</b>	            <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி சிலுவை நோக்கிடுவாய்(2)</samp>
<span class="chordline"><b>G</b>          <b>D</b>       <b>A</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காயங்கள் யாவும் உனக்காக</samp>
<span class="chordline"><b>G</b>                   <b>A7</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பணிவுடனே அவர் ஏற்றனரே(2)</samp>
<samp charset="UTF-8" class="lyricline"> - இயேசு அன்புடனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நம்பு நீ சோர்ந்திடாதே</samp>
<span class="chordline"><b>Em</b>	              <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கருத்தாய் அவரை நீ தேடிடுவாய்(2)</samp>
<span class="chordline"><b>G</b>        <b>D</b>     <b>A</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வஞ்சக தூபம் ஏருடுப்பாய்</samp>
<span class="chordline"><b>G</b>                     <b>A7</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவர் இயேசுவை நோக்கியே பார்(2) </samp>
<samp charset="UTF-8" class="lyricline"> - இயேசு அன்புடனே</samp>
<span class="blankline"></span></div></div>   
        
     </div>