<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4133" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உலகின் ஒளியே இயேசுவே</samp>
<span class="chordline">         <b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அகிலம் போற்றும் தெய்வமாய்</samp>
<span class="chordline"><b>G</b>         <b>D</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் தெய்வம் வேறு இல்லை</samp>
<span class="chordline"><b>D7</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரை அண்டியே சேர்ந்திடுவாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b>  <b>G</b>         <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நல்லவரே   இயேசு வல்லவரே</samp>
<span class="chordline"><b>G</b>                 <b>C</b>      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மனதின் இருளை நீக்கிடுவார்</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் திறந்தே ஏற்பாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகின் ஒளியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்க வந்தவர்</samp>
<span class="chordline">       <b>Am</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாபம் யாவும் நீக்குவார்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இவரை அல்லால் வழியும் இல்லை</samp>
<span class="chordline"><b>D7</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அகத்தில் இவரை ஏற்றிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகின் ஒளியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பயங்கள் யாவும் அகற்றிடவே</samp>
<span class="chordline">         <b>Am</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிவாய் வந்தார் உலகினிலே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாவை ஜெயித்தார் ரோகம் தொலைத்தார்</samp>
<span class="chordline"><b>D7</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாயகனாம் இவரை</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகின் ஒளியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ மைந்தனாய் வந்தவர்</samp>
<span class="chordline">        <b>Am</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாளும் மாந்தரை மீட்கவே</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கருணை தேவன் அன்பின் தெய்வம்</samp>
<span class="chordline"><b>D7</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் நாயகனாம் இவரே</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகின் ஒளியே</samp>
<span class="blankline"></span></div></div>   
        
     </div>