<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4134" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தந்தேன் என் இயேசுவே</samp>
<span class="chordline"><b>Gm</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் சித்தம் செய்ய</samp>
<span class="chordline"><b>F</b>                       <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">எந்தனின் வாஞ்சைகள் வேண்டேன்</samp>
<span class="chordline"><b>D7</b>                    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என்தனை அர்ப்பணித்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காரிருள் சூழ்ந்திடும் நேரம்</samp>
<span class="chordline"><b>F</b>               <b>Gm</b>           </span>
<samp charset="UTF-8" class="lyricline">கானக பாதையிலும்</samp>
<span class="chordline"><b>G</b>                   <b>Cm</b>                                       </span>
<samp charset="UTF-8" class="lyricline">காருண்ய கரத்தால் எம்மை</samp>
<span class="chordline"><b>D7</b>                   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கனிவுடன் வழி நடத்தும்</samp>
<samp charset="UTF-8" class="lyricline"> - தந்தேன் என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீரன்றி பாரினில் ஏதும்</samp>
<span class="chordline"><b>F</b>                    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">செய்திட இயலேனய்யா</samp>
<span class="chordline"><b>G</b>                       <b>Cm</b>                                       </span>
<samp charset="UTF-8" class="lyricline">அடியேனை திருசித்தம் போல</samp>
<span class="chordline"><b>D7</b>               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டு நடத்திடுமே</samp>
<samp charset="UTF-8" class="lyricline"> - தந்தேன் என்</samp>
<span class="blankline"></span></div></div>   
        
     </div>