<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4136" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசமே நம் ஜெயமே</samp>
<span class="chordline"><b>D</b>          <b>C</b>         <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விலைமதியாத நல் பொக்கிஷமே</samp>
<span class="chordline"><b>G</b>         <b>C</b>    <b>A</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசமாம் ஏடாகத் தாங்கி</samp>
<span class="chordline"><b>Am</b>                     <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசப் பாதையில் முன்னேறுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மலைப் போன்ற துன்பங்கள் நெருங்கினும்</samp>
<span class="chordline"><b>A</b>         <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பனியாக யாவும் அகன்றீடுமே</samp>
<span class="chordline"><b>G</b>         <b>C</b>        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வியாதி வருத்தம் பாரட்டம் உந்தன்</samp>
<span class="chordline"><b>Am</b>                      <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசத்தால் நாமும் ஜெயமடைவோம்</samp>
<samp charset="UTF-8" class="lyricline"> - விசுவாசமே நம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எரிகுவின் மதில்கள் தகர்த்திடவே</samp>
<span class="chordline"><b>A</b>        <b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏகிசன் தான் பக்தன் யோசுவாவும் </samp>
<span class="chordline"><b>G</b>          <b>C</b>      <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசத்தாலே முன்னேறியே நாம்</samp>
<span class="chordline"><b>Am</b>                     <b>D7</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் பெலத்தால் வென்றீடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> - விசுவாசமே நம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>