<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4137" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                 <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத தேவன் இயேசுவிலே</samp>
<span class="chordline"><b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பூரணராய் வளர்ந்திடுவோம்</samp>
<span class="chordline"><b>A#</b>      <b>Gm</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினாலே பெலன் அடைந்து</samp>
<span class="chordline"><b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மறுரூபம் அடைந்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நம் இயேசுவை ஆவியினால்</samp>
<span class="chordline"><b>Gm</b>         <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிரப்பியே நிறைத்தனரே</samp>
<span class="chordline"><b>F</b>                <b>C</b>       <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">அளவில்லாமல் ஆவியினால்</samp>
<span class="chordline"><b>A#</b>           <b>C7</b>             <b>F</b>                                                 </span>
<samp charset="UTF-8" class="lyricline">நிறைந்துமே பெலன் அடைவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...உன்னத தேவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானம் திறந்து தேவனுமே</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியும் அளித்தனரே</samp>
<span class="chordline"><b>F</b>                    <b>C</b>       <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவைப் போல் ஆவியினால்</samp>
<span class="chordline"><b>A#</b>         <b>C7</b>           <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">சாட்சியை அடைந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...உன்னத தேவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினாலே இயேசு பரன்</samp>
<span class="chordline"><b>Gm</b>          <b>C</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றுமாய் வழி நடந்தார்</samp>
<span class="chordline"><b>F</b>             <b>C</b>       <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினால் நடத்தப்பட</samp>
<span class="chordline"><b>A#</b>          <b>C7</b>          <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">நம்மையே படைத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...உன்னத தேவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் சித்தம் செய்திடவே</samp>
<span class="chordline"><b>Gm</b>          <b>C</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே அடிப் பணிந்தார்</samp>
<span class="chordline"><b>F</b>             <b>C</b>       <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சித்தம் செய்திடவே</samp>
<span class="chordline"><b>A#</b>         <b>C7</b>         <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரில் அடங்கிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...உன்னத தேவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத ஆவியின் பெலனடைந்து</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவியம் செய்திடுவோம்</samp>
<span class="chordline"><b>F</b>               <b>C</b>       <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">பயமில்லாமல் தைரியமாய்</samp>
<span class="chordline"><b>A#</b>            <b>C7</b>            <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">துணிந்துமே முன் செல்லுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...உன்னத தேவன் </samp>
<span class="blankline"></span></div></div>   
        
     </div>