<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4139" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>               <b>F#m</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன்  அளித்திடும் வெகுமதி</samp>
<span class="chordline"><b>Bm</b>                  <b>E</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பிள்ளையின் சுதந்திரமே</samp>
<span class="chordline">          <b>D</b>                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அவரவர் பிரியத்தின் ஏற்ற பலனை</samp>
<span class="chordline"><b>E7</b>                           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசு அளித்திடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                                <b>E</b>           </span>
<samp charset="UTF-8" class="lyricline">மரணம் பரியந்தம் உண்மையை காத்து</samp>
<span class="chordline"><b>E7</b>                             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">முடிவு வரையும் நிலைத்திருந்தால்</samp>
<span class="chordline">	      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அழிவில்லா பெக்கிஷம் ஆனந்தமாய்</samp>
<span class="chordline"><b>Bm</b>	             <b>E</b>	    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனின் கிரீடத்தை சூடிடுவாய் </samp>
<samp charset="UTF-8" class="lyricline">  - தேவாதி தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                             <b>E</b>   </span>
<samp charset="UTF-8" class="lyricline">பந்தயம் பொருளை அடையும்படி</samp>
<span class="chordline"><b>E7</b>                        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இச்சை அடக்கம் அவசியமே</samp>
<span class="chordline">         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஓட்டம் ஜெயமுடன் முடிப்பவரே</samp>
<span class="chordline"><b>Bm</b>	             <b>E</b>	    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அழிவில்லா கிரீடம் சூடிடுவார்</samp>
<samp charset="UTF-8" class="lyricline"> - தேவாதி தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                            <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">லேவிய சுதந்திரம் தேவ நாவால்</samp>
<span class="chordline"><b>E7</b>                             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் பலனை அடைந்திடுவார்</samp>
<span class="chordline">             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மந்தையை மேய்க்கும் மேய்ப்பருக்கே</samp>
<span class="chordline"><b>Bm</b>	             <b>E</b>	        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் கிரீடம் அளித்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline"> - தேவாதி தேவன்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>