<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4140" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பேரின்பம் பொங்கிட நேசரின் அன்பதை</samp>
<span class="chordline"><b>C</b>         <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">போற்றிப் பாடிடுவேன்</samp>
<span class="chordline"><b>G</b>                   <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் அன்பு இணையற்றதே</samp>
<span class="chordline"><b>G</b>           <b>C</b>   <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா! அல்லேலூயா!</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையும் தாயும் கைவிடினும்</samp>
<span class="chordline"><b>G</b>                      <b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">தள்ளிடாமல் என்னை அரவணைப்பீர்                                             </samp>
<span class="chordline"><b>G</b>                  <b>Em</b>            <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் அன்பு என் உள்ளம் பொங்கும்</samp>
<span class="chordline"><b>C</b>      <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்ன பாக்கியம்!</samp>
<samp charset="UTF-8" class="lyricline">  ...பேரின்பம் பொங்கிட </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தின் மாண்டோர் ஜீவன் பெற</samp>
<span class="chordline"><b>G</b>                   <b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">பாரினில் பலியாய் ஜீவனீந்தார்</samp>
<span class="chordline"><b>G</b>               <b>Em</b>        <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">தேவ குமாரன் தியாகத்தினாலே</samp>
<span class="chordline"><b>C</b>         <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவன்பு வெளிப்பட்டதே</samp>
<samp charset="UTF-8" class="lyricline">  ...பேரின்பம் பொங்கிட </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியால் இருதயத்தில்</samp>
<span class="chordline"><b>G</b>                     <b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">பரமனின் அன்பினை ஊற்றினாரே</samp>
<span class="chordline"><b>G</b>               <b>Em</b>    <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">ஜீவனானாலும் மரணமானாலும்</samp>
<span class="chordline"><b>C</b>          <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனில் நிலைத்திருப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...பேரின்பம் பொங்கிட </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சோதனை வியாதி வந்திடினும்</samp>
<span class="chordline"><b>G</b>                  <b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">வேதனை யாவும் நீக்கிடுவார்</samp>
<span class="chordline"><b>G</b>                    <b>Em</b>           <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">என்னென்ன துன்பம் இனியும் வந்தாலும்</samp>
<span class="chordline"><b>C</b>          <b>D</b>               <b>G</b>                       </span>
<samp charset="UTF-8" class="lyricline">அன்பரால் ஜெயங்கொள்ளுவேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...பேரின்பம் பொங்கிட </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                         <b>C</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பென்னும் கட்டினால் இணைந்திடுவோம்</samp>
<span class="chordline"><b>G</b>                       <b>D</b>                    </span>
<samp charset="UTF-8" class="lyricline">ஆவியின் ஒருமையை காத்திடுவோம்</samp>
<span class="chordline"><b>G</b>             <b>Em</b>     <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">அவர் வரும் வேளையில்</samp>
<span class="chordline"><b>C</b>                      <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரைப் போலிருக்க ஆயத்தமாகிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  ...பேரின்பம் பொங்கிட </samp>
<span class="blankline"></span></div></div>   
        
     </div>