<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4141" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவை மீதே தொங்கிய இயேசு</samp>
<span class="chordline">          <b>B</b>          <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னில் அன்பு கூர்ந்தார்</samp>
<span class="chordline"><b>Em</b>        <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேசரின் அன்பு எந்தன் உள்ளத்தில்</samp>
<span class="chordline"><b>C</b>         <b>D</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கி ஏவிடுதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுகந்த வாசனை   பலியாய் தம்மை</samp>
<span class="chordline"><b>C</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உவந்து ஜீவன் தந்தார்</samp>
<span class="chordline"><b>Am</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னில் அன்பு   கூர்ந்ததாலே</samp>
<span class="chordline"><b>C</b>                    <b>B7</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அவருக்கே அர்ப்பணித்தேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...சிலுவை மீதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எம்மில் அன்பு   கூர்ந்ததாலே</samp>
<span class="chordline"><b>C</b>                     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தம்மை தியாகம் செய்தார்</samp>
<span class="chordline"><b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவருடன் நான்  அறையுண்டேனே</samp>
<span class="chordline"><b>C</b>                 <b>B7</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அவரே என்னில் ஜீவிக்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">  ...சிலுவை மீதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">முடிவு வரையும்  அன்பு கூர்ந்தார்</samp>
<span class="chordline"><b>C</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அடிமை வாழ்வடைய</samp>
<span class="chordline"><b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் வருகை  நாளில் நானும்</samp>
<span class="chordline"><b>C</b>                <b>B7</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அவரைப் போல மாறிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...சிலுவை மீதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்து இயேசு  அன்பிலிருந்து</samp>
<span class="chordline"><b>C</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பிரிக்க யாரால் கூடும்</samp>
<span class="chordline"><b>Am</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வோ தாழ்வோ  துன்பம் பசியோ</samp>
<span class="chordline"><b>C</b>                      <b>B7</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">முற்றும் ஜெயம் நான் பெற்றிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...சிலுவை மீதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அறிவுக்கெட்டா   நேசர் அன்பில்</samp>
<span class="chordline"><b>C</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அகலம் ஆழமுண்டோ</samp>
<span class="chordline"><b>Am</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பகையாய் நின்ற  பாவம் தகர்த்தார்</samp>
<span class="chordline"><b>C</b>                  <b>B7</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சபையில் மகிமை செலுத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  ...சிலுவை மீதே</samp>
<span class="blankline"></span></div></div>   
        
     </div>