<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4142" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>           <b>E</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அந்த நாள் நெருங்கிடுதே</samp>
<span class="chordline"><b>A</b>                <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாகியே பறந்திடுவோம்</samp>
<span class="chordline"><b>A</b>                <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இந்த வனாந்திர யாத்திரை முடித்து</samp>
<span class="chordline"><b>D</b>                   <b>E</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவுடன் நிதம் வாழ்ந்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>D</b>     <b>E</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் வருகின்றார் வேகமாய் வருகின்றார்</samp>
<span class="chordline"><b>A</b>                      <b>E</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் வேளையை நாம் அறியோம்</samp>
<span class="chordline"><b>G</b>          <b>E</b>                     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பக்தரிகள் யாவரும் விழித்திருப்போம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திருடனை போல் அவர் வருகை</samp>
<span class="chordline"><b>A</b>               <b>E</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தீவிரமாய் மிக நெருங்கிடுதே</samp>
<span class="chordline"><b>A</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமில்லா அவனியில் உள்ளோர்</samp>
<span class="chordline"><b>D</b>               <b>E</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அழுது புலம்பி கதறுவாரே</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வருகின்றார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இருள் சூழும் வேளை நெருங்கிடுதே</samp>
<span class="chordline"><b>A</b>                     <b>E</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இனிவரும் காலமோ நமக்கு இல்லை</samp>
<span class="chordline"><b>A</b>          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பூரணராக கடந்திடுவோம் நாம்</samp>
<span class="chordline"><b>D</b>                    <b>E</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரனோடு நித்தியம் வாழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வருகின்றார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மணவாளன் தட்டும் குரல்கேட்டு</samp>
<span class="chordline"><b>A</b>                     <b>E</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையில் நாமும் சேர்ந்திடுவோம்</samp>
<span class="chordline"><b>A</b>                  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த ஆவியின் நிறைவுடன் வாழ்ந்து </samp>
<span class="chordline"><b>D</b>                    <b>E</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பரமனின் ராஜ்ஜியம் சேர்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வருகின்றார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நினையா வேளையில் வந்திடுவார்</samp>
<span class="chordline"><b>A</b>                  <b>E</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நித்திரை மயக்கம் களைந்திடுவோம்</samp>
<span class="chordline"><b>A</b>                  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நீதியில் ராஜனை முகமுகமாய் நாம் </samp>
<span class="chordline"><b>D</b>            <b>E</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நித்தியமாக தரிசிப்போமே</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வருகின்றார்</samp>
<span class="blankline"></span></div></div>   
        
     </div>