<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4143" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>                 <b>C</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பிரசன்னம் தாரும் தேவனே</samp>
<span class="chordline"><b>Em</b>               <b>C</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சமுகம் தாருமே</samp>
<span class="chordline"><b>D</b>                        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உந்தன் நாமத்தில்</samp>
<span class="chordline"><b>D</b>                  <b>B</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இந்நேரம் நாங்கள் கூடி வந்தோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>B</b></span>
<samp charset="UTF-8" class="lyricline">பக்தர்கள் போற்றும் நாதா</samp>
<span class="chordline"><b>D</b>                 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த தேவன் நீரே</samp>
<span class="chordline"><b>Em</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கேருபீன் சேராபீன் துதி பாடிடும்</samp>
<span class="chordline"><b>D</b>                  <b>B7</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரனே நின் பாதம் பணிகின்றோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நீரல்லால் இந்தப் பாரில் </samp>
<span class="chordline"><b>D</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தஞ்சம் வேறாருமில்லை</samp>
<span class="chordline"><b>Em</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் சமூகத்தால் இளைப்பாறிட</samp>
<span class="chordline"><b>D</b>                    <b>B7</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சந்த்தம் உம் அருள் ஈந்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...பிரசன்னம் தாரும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நல் மேய்ப்பர் இயேசு தேவா</samp>
<span class="chordline"><b>D</b>                  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் நீக்கிடுமே</samp>
<span class="chordline"><b>Em</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆதி அன்பு என்னில் குன்றிடாமல்</samp>
<span class="chordline"><b>D</b>                     <b>B7</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நிலைக்க நல் அருள் தந்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...பிரசன்னம் தாரும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>               <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தேவா உந்தன் சமூகம்</samp>
<span class="chordline"><b>D</b>                       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">முன் செல்ல வேண்டுகிறேன்</samp>
<span class="chordline"><b>Em</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பேரின்பம் எந்நாளும் பொங்கிடவே</samp>
<span class="chordline"><b>D</b>                        <b>B7</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் மகிழ்ந்து நான் ஆனந்திப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...பிரசன்னம் தாரும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தில் தோன்றும் நாளில்</samp>
<span class="chordline"><b>D</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப்போல் மாறிடவே</samp>
<span class="chordline"><b>Em</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி ஆத்மா தேகம் மாசற்றதாய்</samp>
<span class="chordline"><b>D</b>                  <b>B7</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காத்திட கர்த்தரே கெஞ்சுகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பிரசன்னம் தாரும்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>