<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4144" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நல் மேய்ப்பன் இவரே</samp>
<span class="chordline"><b>D</b>       <b>C</b>               <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நல் மேய்ப்பன் இவரே</samp>
<span class="chordline"><b>G</b>              <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சொல்லொண்ணா அன்பினால்</samp>
<span class="chordline"><b>G</b>          <b>C</b>     <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தன்னுயிர் ஈந்த நல் மேய்ப்பன் இவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆடுகள் பெயரினை ஆயனே அறிவார்</samp>
<span class="chordline"><b>Am</b>                 <b>D</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அழியாமை ஜீவன்   அளித்திட வந்தார்</samp>
<span class="chordline"><b>G</b>        <b>C</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆடுகள் முன்னே செல்லுகின்றார்</samp>
<span class="chordline">         <b>F</b>        <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் பின்னே சென்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...நல் மேய்ப்பன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கள்வர் மந்தையை சாடிடும் போதும்</samp>
<span class="chordline"><b>Am</b>                <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கயவரின் வஞ்சக   வலை வீசும் போதும்</samp>
<span class="chordline"><b>G</b>              <b>C</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பிள்ளையைப் போல தோள்களிலே</samp>
<span class="chordline">          <b>F</b>           <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கள்ளமில்லா துயில் கொண்டிடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...நல் மேய்ப்பன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மேய்ப்பனின் குரலை அறிந்திடும் மந்தை</samp>
<span class="chordline"><b>Am</b>                   <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேய்ப்பனின் சித்தம்   செய்திடும் ஆடுகள்</samp>
<span class="chordline"><b>G</b>           <b>C</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">குரலொலி கேட்டு தேடிடுமே</samp>
<span class="chordline">             <b>F</b>        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">குயவனின் கையில் அடங்கிடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...நல் மேய்ப்பன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே வாசல் இயேசுவே வழியாய்</samp>
<span class="chordline"><b>Am</b>                    <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வழி சென்றால்  மேய்ச்சலை காண்பாய்</samp>
<span class="chordline"><b>G</b>            <b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர்  இணைத்த மந்தையிலே</samp>
<span class="chordline">            <b>F</b>      <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் நீயும் செயல்படுவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...நல் மேய்ப்பன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பெரிய மேய்ப்பர் வெளிப்படும் போது</samp>
<span class="chordline"><b>Am</b>                <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெகுமதி யாவும்  அளித்திடுவாரே</samp>
<span class="chordline"><b>G</b>       <b>C</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதியும் பரிசுத்தம் காத்திடுவோம்</samp>
<span class="chordline">           <b>F</b>          <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புனிதரின் ராஜ்ஜியம் சேர்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...நல் மேய்ப்பன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>