<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4145" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>               <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் உன்னதரே </samp>
<span class="chordline"><b>A#</b>          <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையில் சிறந்தவரே</samp>
<span class="chordline"><b>F</b>	              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் தேவன் செயல்களை</samp>
<span class="chordline"><b>F</b>	                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நினைத்து எதனை செலுத்திடுவாய்</samp>
<span class="chordline"><b>F</b>	 <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எதனை செலுத்திடுவாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவை காத்தனரே</samp>
<span class="chordline"><b>A#</b>	  <b>C</b>	  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதம் செய்தனரே</samp>
<span class="chordline"><b>Gm</b>	   <b>F</b>	      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மறவாது என்றென்றுமாய்</samp>
<span class="chordline"><b>C7</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு கூர்ந்திடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் உன்னதரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை உன்னைல் வெளிப்படவே</samp>
<span class="chordline"><b>A#</b>	     <b>C</b>	   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தம்மையே தந்தனரே</samp>
<span class="chordline"><b>Gm</b>	       <b>F</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினமும் அவர் நாமமதை</samp>
<span class="chordline"><b>C7</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சேவித்து வழி நடப்பாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் உன்னதரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனுக்காய் தேவகரம்</samp>
<span class="chordline"><b>A#</b>	     <b>C</b>	       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">யாவையும் முடித்ததுவே</samp>
<span class="chordline"><b>Gm</b>	          <b>F</b>	        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவரது செய்கை அனைத்தையுமே</samp>
<span class="chordline"><b>C7</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பூவினில் சாற்றிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் உன்னதரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் நல் வாசல்களை</samp>
<span class="chordline"><b>A#</b>	   <b>C</b>	      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">திறந்துமே நடத்தினாரே</samp>
<span class="chordline"><b>Gm</b>	      <b>F</b>	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">துதிகளுடன் அவர் நாமத்தை</samp>
<span class="chordline"><b>C7</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றுமே தொழுதிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் உன்னதரே</samp>
<span class="blankline"></span></div></div>   
        
     </div>