<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4146" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவே நான் என்றும்</samp>
<span class="chordline">              <b>A#</b>    <b>F</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சொந்தம் – என் ராஜனே</samp>
<span class="chordline"><b>C7</b>                       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினமும் வழி நடத்தும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">உளையான சேற்றினின்று</samp>
<span class="chordline"><b>C</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கியே நிறுத்தினீரே</samp>
<span class="chordline"><b>Gm</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனை நான் மறவேன்</samp>
<span class="chordline"><b>A#</b>          <b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனைப் போற்றிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                       <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">அலைந்தோடும் கடலதனை</samp>
<span class="chordline"><b>C</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அடக்கியே அமர்த்தினீரே</samp>
<span class="chordline"><b>Gm</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையின் வல்லமையை</samp>
<span class="chordline"><b>A#</b>        <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றுமே காண செய்யும்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                      <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">தாயினும் அன்பு வைத்தே</samp>
<span class="chordline"><b>C</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கியே அமர்த்தினீரே</samp>
<span class="chordline"><b>Gm</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவிய காலமெல்லாம்</samp>
<span class="chordline"><b>A#</b>         <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனை பின் செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                 <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி சூளையிலே</samp>
<span class="chordline"><b>C</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நின்ற எம் மெய் தேவனே</samp>
<span class="chordline"><b>Gm</b>                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">விசுவாசம் திடமனதும்</samp>
<span class="chordline"><b>A#</b>            <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் தந்தருளும்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் இயேசுவே </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                 <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">ஆகாரின் அழுகுரலை</samp>
<span class="chordline"><b>C</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அன்று நீர் கேட்டீரல்லோ</samp>
<span class="chordline"><b>Gm</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன் ஜெபித்துமே நான்</samp>
<span class="chordline"><b>A#</b>          <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனைத் தேடுகிறேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் இயேசுவே </samp>
<span class="blankline"></span></div></div>   
        
     </div>