<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4147" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>                      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி வந்தேன் இயேசுவே</samp>
<span class="chordline">            <b>G</b>       <b>D</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் ஜெபம் கேட்டு இரங்குவீர்</samp>
<span class="chordline"><b>A</b>           <b>E</b>              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணப்பமும் வேண்டுதலை</samp>
<span class="chordline"><b>E</b>       <b>F#m</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கேட்டு பதில் செய்வீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                     <b>F#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் சத்தம் கேட்கும் வல்லவரே</samp>
<span class="chordline"><b>Bm</b>           <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உருக்கமாக இரங்குவீர்</samp>
<span class="chordline"><b>A</b>       <b>D</b>         <b>A</b>       <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையல்லால் யாருண்டு</samp>
<span class="chordline"><b>E</b>                     <b>E7</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் பாதத்தை அண்டினேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...நம்பி வந்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>               <b>F#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இடைவிடாமல் ஜெபித்திட</samp>
<span class="chordline"><b>Bm</b>                <b>E</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தடைகள் யாவும் நீக்குவீர்</samp>
<span class="chordline"><b>A</b>       <b>D</b>       <b>A</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடாமல் ஜெபித்திட</samp>
<span class="chordline"><b>E</b>                     <b>E7</b>   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபத்தின் ஆவியை நல்குவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நம்பி வந்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                  <b>F#m</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஊக்கமாய் நானும் ஜெபித்திட</samp>
<span class="chordline"><b>Bm</b>             <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத ஆவி தந்திடுமே</samp>
<span class="chordline"><b>A</b>       <b>D</b>         <b>A</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் வாக்கை நம்பினேன்</samp>
<span class="chordline"><b>E</b>                 <b>E7</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமே அடைய செய்குவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நம்பி வந்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                 <b>F#m</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உந்தன் சமுகத்தில்</samp>
<span class="chordline"><b>Bm</b>                <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுகள் யாவும் அறுந்திடும்</samp>
<span class="chordline"><b>A</b>    <b>D</b>      <b>A</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஏக சிந்தை நல்கியே</samp>
<span class="chordline"><b>E</b>                  <b>E7</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதம் கண்டிட செய்குவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நம்பி வந்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>F#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அழியும் மாந்தர் யாவருமே</samp>
<span class="chordline"><b>Bm</b>                  <b>E</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம்மை கண்டிட</samp>
<span class="chordline"><b>A</b>      <b>D</b>      <b>A</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்ம பாரம் நிறைந்துமே</samp>
<span class="chordline"><b>E</b>                 <b>E7</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெபிக்க கிருபை செய்குவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...நம்பி வந்தேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>