<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4149" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">உலகத்தில் இருப்பவனிலும்</samp>
<span class="chordline"><b>A</b>          <b>D</b>	      <b>E</b>	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உங்களில்  இருப்பவர்  பெரியவர் – 2</samp>
<span class="chordline"><b>A</b>	       <b>D</b>	<b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் பெரியவர் நல்லவர்</samp>
<span class="chordline">       <b>E</b>	 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் என்றுமே – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	                 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தண்ணீரைக் கடந்திடும் போதும்</samp>
<span class="chordline"><b>A</b>	              <b>E</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன் மேல் அவைகள்   புரளுவதில்லை</samp>
<span class="chordline"><b>A</b>	     <b>D</b>	         <b>A</b>	             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினியின்  சோதனை   ஒன்றும் செய்யாதே</samp>
<span class="chordline"><b>A</b>	     <b>E7</b>	               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அவைகளை மிதித்து ஜெயமே அடைவாய் - 2</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகத்தில் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	             <b>E</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன் பக்கம் ஆயிரம் பேரூம் உன் மேல்</samp>
<span class="chordline">          <b>E</b>             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">விழுந்தும்  தீங்கொன்றுமில்லை</samp>
<span class="chordline"><b>A</b>	      <b>D</b>	           	             </span>
<samp charset="UTF-8" class="lyricline">கண்களினால்  காணுவாய்</samp>
<span class="chordline"><b>A</b>                      <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">தேவன் துணை உனக்கே</samp>
<span class="chordline"><b>A</b>	     <b>E7</b>	               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெய தொனியோடே முன்னே செல்வாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகத்தில் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	                <b>E</b>       </span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் கர்த்தரின் நாமம்</samp>
<span class="chordline"><b>A</b>                 <b>E</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துணையே என்று  அறிந்துணர்வாயே</samp>
<span class="chordline"><b>A</b>	       <b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">உனக்கெதிராய்  எழும்பிடும்</samp>
<span class="chordline"><b>A</b>                  <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">ஒன்றும் வாய்க்காதே</samp>
<span class="chordline"><b>A</b>	     <b>E7</b>	               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சேனையின் தேவன் ஜெயமே அளிப்பார்</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகத்தில் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் இயேசுவை நம்பு</samp>
<span class="chordline"><b>A</b>	           <b>E</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">குறைவேயில்லை  ஜீவியமதிலே</samp>
<span class="chordline"><b>A</b>	    <b>D</b>	      <b>A</b>	              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பசுமையின்  ஜீவியம்  உந்தன் பங்காகும்</samp>
<span class="chordline"><b>A</b>	   <b>E7</b>	           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் ஆசீர் உனக்கே சொந்தம்</samp>
<samp charset="UTF-8" class="lyricline">   ...உலகத்தில் </samp>
<span class="blankline"></span></div></div>   
        
     </div>