<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4151" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எக்காலத்தும் கர்த்தர் இயேசுவை</samp>
<span class="chordline">        <b>D</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் துணையாய் ஏற்றிடுவேன்</samp>
<span class="chordline"><b>G</b>          <b>Em</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உயர்வோ தாழ்வோ எந்நிலையோ</samp>
<span class="chordline"><b>D7</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் தஞ்சம் இயேசுவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணின் வாழ்வும் மாயையாகும்</samp>
<span class="chordline"><b>C</b>                  <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனிதன் காண்பது   பொய்யாகும்</samp>
<span class="chordline"><b>G</b>        <b>C</b>     <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாறிடா நேசர்  இயேசுவே(2)</samp>
<span class="chordline"><b>G</b>              <b>D7</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாறாத அன்பு என்றும் போதுமே </samp>
<samp charset="UTF-8" class="lyricline">   ...எக்காலத்தும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அலைகள் மோதி எதிர் வந்தாலும்</samp>
<span class="chordline"><b>C</b>              <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கலங்கிடேனே  வாழ்க்கையிலே</samp>
<span class="chordline"><b>G</b>         <b>C</b>     <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அசையா எந்தன்  நம்பிக்கை</samp>
<span class="chordline"><b>G</b>                 <b>D7</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நங்கூரம் எந்தன் இயேசு போதுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...எக்காலத்தும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவரை நோக்கி ஜெபிக்கும் போது</samp>
<span class="chordline"><b>C</b>               <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அருகில் வந்து உதவி செய்வார்</samp>
<span class="chordline"><b>G</b>      <b>C</b>     <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கைவிடாமல்  கருத்துடன்</samp>
<span class="chordline"><b>G</b>              <b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காத்தென்னை என்றும் நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...எக்காலத்தும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பயமே ஜீவ் ஊற்று</samp>
<span class="chordline"><b>C</b>                  <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மரண கண்ணிக்கு விலக்கிடுமே</samp>
<span class="chordline"><b>G</b>     <b>C</b>           <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பாதையில்   நடந்திட</samp>
<span class="chordline"><b>G</b>                  <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவாவியானவர் உதவி செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">   ...எக்காலத்தும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">முன்னறிந்து அழைத்த தேவன்</samp>
<span class="chordline"><b>C</b>                 <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">முடிவு வரையும் நடத்திடுவார்</samp>
<span class="chordline"><b>G</b>      <b>C</b>        <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சாயலாய்  மாறியே</samp>
<span class="chordline"><b>G</b>                   <b>D7</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனை தரிசிப்போமே</samp>
<samp charset="UTF-8" class="lyricline">   ...எக்காலத்தும் </samp>
<span class="blankline"></span></div></div>   
        
     </div>