<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4154" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>           <b>E</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் இரட்சகா என் இயேசுவே</samp>
<span class="chordline"><b>F#m</b>       <b>E</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னை அழைத்த நல் மீட்பரே</samp>
<span class="chordline"><b>A</b>            <b>D</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளத்தில் சந்தோஷத்தை</samp>
<span class="chordline"><b>D</b>    <b>Bm</b>           <b>E</b>             <b>A</b>                 </span>
<samp charset="UTF-8" class="lyricline">தந்தவா உம்மை ஸ்தோத்திரிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>E</b>        <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">தூரமாய் நானும்  சென்ற போது</samp>
<span class="chordline"><b>A</b>         <b>D</b>       <b>F#m</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அன்பாய் என்னை  அழைத்தீரே</samp>
<span class="chordline"><b>E</b>                    <b>F#m</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் நான்   உந்தன் ஒளியில்</samp>
<span class="chordline"><b>D</b>                   <b>E7</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் நிலைத்து வாழ்ந்து சுகிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பாக்கிய நாள்  பாக்கிய நாள்</samp>
<span class="chordline"><b>F#m</b>     <b>D</b>           <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு என் பாவம் தீர்த்த நாள்...</samp>
<samp charset="UTF-8" class="lyricline">   ....என் இரட்சகா</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>E</b>         <b>F#m</b>  </span>
<samp charset="UTF-8" class="lyricline">சத்தியம் ஜீவன்   வழியும் நீரே</samp>
<span class="chordline"><b>A</b>        <b>D</b>       <b>F#m</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை கூர்ந்து     தெரிந்தீரே</samp>
<span class="chordline"><b>E</b>                 <b>F#m</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உம்மில்   இணைந்து இருக்க</samp>
<span class="chordline"><b>D</b>                 <b>E7</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றும் அருள் செய்வீரே</samp>
<samp charset="UTF-8" class="lyricline">   ...பாக்கிய நாள் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>             <b>E</b>        <b>F#m</b>  </span>
<samp charset="UTF-8" class="lyricline">இருளினின்று  ஒளியினிடமாய்</samp>
<span class="chordline"><b>A</b>         <b>D</b>         <b>F#m</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்த தேவனை   போற்றுவேன்</samp>
<span class="chordline"><b>E</b>                    <b>F#m</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் புண்ணியம்  யாவும் சொல்லி</samp>
<span class="chordline"><b>D</b>           <b>E7</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியாக  பூவில் திகழ்வேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...பாக்கிய நாள் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>               <b>E</b>         <b>F#m</b> </span>
<samp charset="UTF-8" class="lyricline">எந்தன் கால்கள்  தளரும் போது</samp>
<span class="chordline"><b>A</b>        <b>D</b>       <b>F#m</b>      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கி  என்னை    மீட்டவா</samp>
<span class="chordline"><b>E</b>                 <b>F#m</b>           <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் வாக்கு   வெளிச்சம் தந்து</samp>
<span class="chordline"><b>D</b>               <b>E7</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">காத்து என்றும் நடத்துவீரே</samp>
<samp charset="UTF-8" class="lyricline">   ...பாக்கிய நாள் </samp>
<span class="blankline"></span></div></div>   
        
     </div>