<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4156" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாக்கியமே பெரும் சிலாக்கியமே</samp>
<span class="chordline"><b>G</b>            <b>Em</b>      <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் சேவை பாக்கியமே</samp>
<span class="chordline"><b>Em</b>                                 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எண்ணில்லா மாந்தர் இயேசுவைக் காண</samp>
<span class="chordline"><b>D</b>                  <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் நற்செய்தி சாற்றிடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                           <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எட்டுத் திக்கும் இயேசுவை அறித்திடவே</samp>
<span class="chordline"><b>C</b>                   <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எழும்பியே சேவை புரிந்திடுவோம்</samp>
<span class="chordline"><b>A</b>                              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்த்து நிற்கும் சேனை வென்று</samp>
<span class="chordline"><b>G</b>            <b>C</b>         <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவால் ஜெயமே ஏகிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பாக்கியமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்தும தரிசனம் கண்டிடுவீர்</samp>
<span class="chordline"><b>C</b>                         <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் வார்த்தையை உணர்ந்திடுவீர்</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திறந்த வாசல் அடைபடுதே</samp>
<span class="chordline"><b>G</b>      <b>C</b>       <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிக வேகம் சேவை செய்வோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பாக்கியமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அழுகையும் புலம்பலும் தொனிக்கின்றதே</samp>
<span class="chordline"><b>C</b>                 <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரே தீவிரம் வருகின்றாரே</samp>
<span class="chordline"><b>A</b>                             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேதம் நிறைவேறும் காலமிதே</samp>
<span class="chordline"><b>G</b>       <b>C</b>        <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேவை புரிந்தே ஏகிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பாக்கியமே </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சபைதனில் ஒரு மனம் காத்திடுவோம்</samp>
<span class="chordline"><b>C</b>                       <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பலமுள்ள தூண்களாய் விளங்கிடுவோம்</samp>
<span class="chordline"><b>A</b>                                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அழிந்திடும் மாந்தரின் சேவைக்கென்றே</samp>
<span class="chordline"><b>G</b>          <b>C</b>     <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரின் பாதம் படைத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...பாக்கியமே </samp>
<span class="blankline"></span></div></div>   
        
     </div>