<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4157" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ஜனமே பாடித்துதிப்போம்</samp>
<span class="chordline"><b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தேவனை போற்றுவோம்</samp>
<span class="chordline"><b>G</b>        <b>D</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">துதிகள் என்றும் ஏற்றியே</samp>
<span class="chordline"><b>C</b>         <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரைப் பணிந்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சென்ற நாளில் கண்ணின் மணிபோல</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காத்த தேவனை துதித்திடுவோம்</samp>
<span class="chordline"><b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நீதி தயவு  கிருபை நல்கும்</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தேவனைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ ஜனமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானம் பூமி ஆளும் தேவன்</samp>
<span class="chordline"><b>D7</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கை என்றுமே காத்திடுவார்</samp>
<span class="chordline"><b>C</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் உண்மை  என்றும் நிலைக்கும்</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை தேவனைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ ஜனமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நாமம் ஓங்கிப் படர</samp>
<span class="chordline"><b>D7</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ மகிமை விளங்கிடவே</samp>
<span class="chordline"><b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சுதராய் சேவை செய்து</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ராஜனை வாழ்த்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ ஜனமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தம்மை நோக்கி வேண்டும் போது</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கி என்றுமே ஆதரிப்பார்</samp>
<span class="chordline"><b>C</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மறந்திடாமல்  உறங்கிடாமல்</samp>
<span class="chordline"><b>D7</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நினைத்த தேவனை துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ ஜனமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">நமது போரை தாமே முடித்து</samp>
<span class="chordline"><b>D7</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமே என்றும் அளித்திடுவார்</samp>
<span class="chordline"><b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சேனை அதிபன்  நமது தேவன்</samp>
<span class="chordline"><b>D7</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரை என்றும் போற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவ ஜனமே</samp>
<span class="blankline"></span></div></div>   
        
     </div>