<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4160" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                <b>Eb</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசு வல்லவர் (நல்லவர்)</samp>
<span class="chordline"><b>Gm</b>        <b>F</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் நடத்துவார்   </samp>
<span class="chordline"><b>Gm</b>           <b>F</b>           <b>Cm</b>         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆ! பேரின்பம் அவர் என் தஞ்சமே</samp>
<span class="chordline">         <b>F</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் அன்பருடன்</samp>
<span class="chordline"><b>Gm</b>            <b>F</b>         <b>Gm</b> </span>
<samp charset="UTF-8" class="lyricline">இணைந்து செல்லுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>             <b>Eb</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமாம் அவர் அன்பு</samp>
<span class="chordline"> <b>Eb</b>             <b>Gm7</b>        <b>Cm</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அண்டினோர் காக்கும் தூய அன்பு</samp>
<span class="chordline">          <b>Bb</b>              <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இப்பூவினில் இவரைப்போல்</samp>
<span class="chordline"><b>F</b>        <b>Cm</b>       <b>Gm</b>          <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">அன்பர் எவருண்டு-மாறாதவர்</samp>
<span class="chordline">         <b>Gm</b>       <b>Cm</b>        <b>F</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இயேசு என்றும் பற்றிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline"> … எந்தன் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>            <b>Eb</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சர்வ வல்ல தேவனிவர்</samp>
<span class="chordline"><b>Eb</b>           <b>Gm7</b>        <b>Cm</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சாந்தமும் தாழ்மை உள்ளவராம்</samp>
<span class="chordline">          <b>Bb</b>             <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளுமே எந்தனையே</samp>
<span class="chordline"><b>F</b>             <b>Cm</b>      <b>Gm</b>              <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">தாங்கிடும் வல்லவராம் – நம்பிடுவேன்</samp>
<span class="chordline">              <b>Gm</b>    <b>Cm</b>        <b>F</b>       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றுமாய் எந்தன் இயேசுவை</samp>
<samp charset="UTF-8" class="lyricline"> … எந்தன் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>                <b>Eb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் எந்தன் மேய்ப்பராவார்</samp>
<span class="chordline"><b>Eb</b>      <b>Gm7</b>      <b>Cm</b>        <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சீரான பாதை நடத்திடுவார்- </samp>
<span class="chordline">          <b>Bb</b>               <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் வழி செம்மையாக்கி </samp>
<span class="chordline"><b>F</b>      <b>Cm</b>       <b>Gm</b>                <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">ஏற்று நிறுத்துவார் - காத்திடுவார் </samp>
<span class="chordline">            <b>Gm</b>   <b>Cm</b>        <b>F</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் நேசர் என்றும் பின் செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline"> … எந்தன் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>              <b>Eb</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">குற்றங்களை மன்னித்தவர்</samp>
<span class="chordline"><b>Eb</b>             <b>Gm7</b>        <b>Cm</b>               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தம்மண்டை என்னை சேர்த்து கொண்டார்</samp>
<span class="chordline">            <b>Bb</b>            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் நேசர் ஒப்பற்றவர்</samp>
<span class="chordline"><b>F</b>             <b>Cm</b>       <b>Gm</b>              <b>F</b>   </span>
<samp charset="UTF-8" class="lyricline">பொறுமை நிறைந்தவர்-சார்ந்திடுவேன்</samp>
<span class="chordline">          <b>Gm</b>   <b>Cm</b>       <b>F</b>      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இந்நிலத்தே எந்தன் தஞ்சமிவர்</samp>
<samp charset="UTF-8" class="lyricline"> … எந்தன் இயேசு</samp>
<span class="blankline"></span></div></div>   
        
     </div>