<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4161" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>         <b>C</b>   <b>D</b>     <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">துதி கீதமே பாடியே</samp>
<span class="chordline"><b>Em</b>         <b>Am</b>           <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">வாழ்த்தி வணங்கிடுவோம்</samp>
<span class="chordline"><b>G</b>       <b>C</b>     <b>Am</b>   <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">ஜோதியின் தேவனாம்</samp>
<span class="chordline"><b>D7</b>              <b>Am</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவைப் பணிந்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தந்தைப் போல் நம்மைத் தாங்கியே</samp>
<span class="chordline"><b>Am</b>         <b>C</b>     <b>Em</b>        <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">தோளில் ஏந்தி சுமந்தனரே</samp>
<span class="chordline">          <b>C</b>     <b>D</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சேதம் ஏதும் அணுகிடாமல்</samp>
<span class="chordline"><b>Am</b>       <b>G</b>           <b>D</b>          <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">காத்த தேவனைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … துதி கீதமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காரிருள் போன்ற வேளையில்</samp>
<span class="chordline"><b>Am</b>       <b>C</b>          <b>Em</b>         <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">பாரில் நம்மைத் தேற்றினாரே</samp>
<span class="chordline">          <b>C</b>        <b>D</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நம்பினோரைத் தாங்கும் தேவன்</samp>
<span class="chordline"><b>Am</b>         <b>G</b>            <b>D</b>          <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றுமாய் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … துதி கீதமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பஞ்சைப் போல் வெண்மை ஆகிட</samp>
<span class="chordline"><b>Am</b>       <b>C</b>       <b>Em</b>        <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">பாவம் யாவும் நீக்கினாரே</samp>
<span class="chordline">          <b>C</b>         <b>D</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சொந்த இரத்தம் சிந்தி நம்மை</samp>
<span class="chordline"><b>Am</b>      <b>G</b>           <b>D</b>          <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">மீட்ட தேவனைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … துதி கீதமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கட்டுகள் யாவும் அறுத்துமே</samp>
<span class="chordline"><b>Am</b>          <b>C</b>         <b>Em</b>          <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் கவலை அகற்றினாரே</samp>
<span class="chordline">            <b>C</b>       <b>D</b>      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">துதியின் ஆடை அருளி செய்த</samp>
<span class="chordline"><b>Am</b>     <b>G</b>            <b>D</b>          <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">தேவ தேவனைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … துதி கீதமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">வானத்தில் இயேசு தோன்றிடுவார்</samp>
<span class="chordline"><b>Am</b>       <b>C</b>      <b>Em</b>     <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாகி ஏகிடுவோம்</samp>
<span class="chordline">          <b>C</b>        <b>D</b>       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பர் இயேசு சாயல் அடைந்து</samp>
<span class="chordline"><b>Am</b>        <b>G</b>            <b>D</b>          <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">என்றும் மகிழ்ந்தே வாழ்த்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … துதி கீதமே</samp>
<span class="blankline"></span></div></div>   
        
     </div>