<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4162" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>        <b>Em</b>       <b>D</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">போற்றுவோம் தேவனை</samp>
<span class="chordline"><b>Em</b>         <b>D7</b>    <b>G</b>         </span>
<samp charset="UTF-8" class="lyricline">இன்றும் என்றுமாய்</samp>
<span class="chordline"><b>G</b>       <b>C</b>    <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியுடன் உண்மையுடன்</samp>
<span class="chordline"><b>G</b>         <b>C</b>       <b>Em</b> <b>D</b>  <b>Bm</b>  <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">ஆராதிப்போம் இயேசுவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>Em</b>          <b>Am</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சென்ற நாளினில் சுகமுடன்</samp>
<span class="chordline"><b>Am</b>      <b>D</b>             <b>Em</b>     <b>D</b> <b>Bm</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காத்த தேவனை ஸ்தோத்திரிப்போம்</samp>
<span class="chordline">    <b>Em</b>          <b>C</b>         <b>Am</b>    <b>Em</b>   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தந்தேன் எந்தனை வந்தேன் பாதமே</samp>
<span class="chordline">     <b>G</b>    <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் சொந்தமாய்</samp>
<samp charset="UTF-8" class="lyricline">   … போற்றுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>Em</b>          <b>Am</b>      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ஜனத்தின் ஆகாரமாம்</samp>
<span class="chordline"><b>Am</b>        <b>D</b>       <b>Em</b> <b>D</b>   <b>Bm</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மன்னா புசித்து ஜீவித்தாரே</samp>
<span class="chordline">     <b>Em</b>         <b>C</b>         <b>Am</b>   <b>Em</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் ஜீவித்திட கர்த்தர் இயேசுவில்</samp>
<span class="chordline">     <b>G</b>    <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் வளருவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … போற்றுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>Em</b>        <b>Am</b>      <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">தேவ கிருபை தங்கிடவே</samp>
<span class="chordline"><b>Am</b>     <b>D</b>          <b>Em</b> <b>D</b>  <b>Bm</b>  <b>G</b>           <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">தேவ தேவனை ஆராதிப்போம்-உள்ளம்</samp>
<span class="chordline">            <b>C</b>          <b>Am</b>    <b>Em</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நொறுங்கியே உண்மை மனதுடன்</samp>
<span class="chordline">     <b>G</b>    <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் தொழுகுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … போற்றுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>Em</b>        <b>Am</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ஆலயம் மகிமையால்</samp>
<span class="chordline"><b>Am</b>      <b>D</b>         <b>Em</b> <b>D</b>  <b>Bm</b>  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிரம்பி தங்கிட ஆராதிப்போம்</samp>
<span class="chordline">  <b>Em</b>        <b>C</b>         <b>Am</b>    <b>Em</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதி பலியுடன் போற்றி புகழ்ந்துமே</samp>
<span class="chordline">     <b>G</b>    <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாற்றி ஆராதிப்போம்</samp>
<samp charset="UTF-8" class="lyricline">   … போற்றுவோம்</samp>
<span class="blankline"></span></div></div>   
        
     </div>