<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4163" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>        <b>F#m</b>         <b>Bm</b>             <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">அற்புத தேவனின் செய்கைகள் யாவும்</samp>
<span class="chordline">         <b>D</b>             <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமே என்றும் அற்புதமே</samp>
<span class="chordline"><b>A</b>            <b>D</b>         <b>E</b>           <b>F#m</b>    </span>
<samp charset="UTF-8" class="lyricline">தேவனின் அற்புதம் உந்தனில் மலர   </samp>
<span class="chordline"><b>A</b>            <b>E</b>       <b>F#m</b>       <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">தேவனின் பாதம் சரணடைவாய் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                 <b>F#m</b>       <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">சிவந்த கடலும் வழிவிடுமே </samp>
<span class="chordline"><b>F#m</b>          <b>D</b>       <b>Bm</b>          <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">தடையாம் எரிகே அகன்றிடுமே</samp>
<span class="chordline"><b>A</b>            <b>D</b>                <b>Bm</b>         <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் வார்த்தையின் வல்லமையாலே</samp>
<span class="chordline"><b>D</b>          <b>E</b>         <b>A</b>       <b>F#m</b>  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதம் உந்தன் வெளிப்படுமே</samp>
<samp charset="UTF-8" class="lyricline">   - அற்புத தேவனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                 <b>F#m</b>         <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">சீரும் கடலை அமர்த்தினாரே</samp>
<span class="chordline"><b>F#m</b>       <b>D</b>          <b>Bm</b>          <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">தீடரின் பயத்தை அகற்றினாரே</samp>
<span class="chordline"><b>A</b>            <b>D</b>          <b>Bm</b>           <b>E</b> </span>
<samp charset="UTF-8" class="lyricline">உந்தனின் பயங்கள் யாவையும் நீக்கி</samp>
<span class="chordline"><b>D</b>         <b>E</b>          <b>A</b>     <b>F#m</b>  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அற்புத ஜெயமாய் நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline"> - அற்புத தேவனின்</samp>
<span class="blankline"></span></div></div>   
        
     </div>