<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4164" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>        <b>C#m</b>           <b>A</b>     <b>B</b>    <b>E</b>     </span>
<samp charset="UTF-8" class="lyricline">இயேசு தேவனைத் துதித்திடுவோம்</samp>
<span class="chordline"><b>B</b>        <b>F#m</b>        <b>B7</b>          <b>Abm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜனை வாழ்த்திடுவோம்</samp>
<span class="chordline"><b>C#m</b>                 <b>Abm</b>    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இதயம் பொங்க நன்றியுடனே</samp>
<span class="chordline"><b>Abm</b>       <b>A</b>       <b>B</b>  <b>E</b>      <b>A</b>  <b>B</b> <b>E</b>  </span>
<samp charset="UTF-8" class="lyricline">போற்றி உயர்த்தி பணிந்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>           <b>Abm</b>        <b>C#m</b>     <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">வார்த்தை வடிவாய் வந்தவரை</samp>
<span class="chordline"><b>B</b>        <b>F#m</b>           <b>B</b>        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாதை பிணியைத் தீர்த்தவரை</samp>
<span class="chordline"><b>C#m</b>                 <b>A</b>      <b>B</b>           <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">கண்ணின் மணிபோல் காத்த தயவை</samp>
<span class="chordline"><b>Abm</b>                     <b>A</b>     <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கருணை உருவைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … இயேசு தேவனைத்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>         <b>Abm</b>     <b>C#m</b>      <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">அடிமை ரூபம் எடுத்தவரை</samp>
<span class="chordline"><b>B</b>         <b>F#m</b>            <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அகிலம் பணிந்திடச் செய்தவரை</samp>
<span class="chordline"><b>C#m</b>           <b>A</b>    <b>B</b>        <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">உயர்ந்த நாமம் பெற்று விளங்கும்</samp>
<span class="chordline"><b>Abm</b>                     <b>A</b>     <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதர் அவரைப் போற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … இயேசு தேவனைத்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>          <b>Abm</b>     <b>C#m</b>        <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">இருளை நீக்கும் மாஜோதியாய்</samp>
<span class="chordline"><b>B</b>         <b>F#m</b>    <b>B</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உலகில் வந்த அருள் வடிவை</samp>
<span class="chordline"><b>C#m</b>       <b>A</b>      <b>B</b>         <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவ ஓளியாய் திகழும் அவரை</samp>
<span class="chordline"><b>Abm</b>                     <b>A</b>     <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை உருவைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … இயேசு தேவனைத்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>      <b>Abm</b>   <b>C#m</b>     <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">பாவ சாப மரணமதை</samp>
<span class="chordline"><b>B</b>           <b>F#m</b>       <b>B</b>         <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயித்து வென்று எழுந்தவரை</samp>
<span class="chordline"><b>C#m</b>         <b>A</b>   <b>B</b>        <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">மகிமை சூழ திரும்ப வந்திடும்</samp>
<span class="chordline"><b>Abm</b>                     <b>A</b>     <b>B</b>    <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வேந்தன் அவரைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   … இயேசு தேவனைத்</samp>
<span class="blankline"></span></div></div>   
        
     </div>