<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4172" class="song songcont"><div class="songpre"><span class="chordline"><b>F#m</b>           <b>D</b>           <b>E</b>    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தேவா உம்மை நான் நம்புவேன்</samp>
<span class="chordline">     <b>Bm</b>       <b>F#m</b>   <b>C#</b>  </span>
<samp charset="UTF-8" class="lyricline">அதிகாலை தேடினேன்</samp>
<span class="chordline"><b>B</b>              <b>F#m</b>         </span>
<samp charset="UTF-8" class="lyricline">தேவனே இவ்வேளையில்</samp>
<span class="chordline">     <b>E</b>       <b>D</b>      <b>C#</b>          <b>F#m</b> </span>
<samp charset="UTF-8" class="lyricline">நீங்கா உமது கிருபை பொழியும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>       <b>C#m</b>    <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">காலை தோறுமே உந்தன் </samp>
<span class="chordline"><b>D</b>         <b>Bm</b>    <b>F#m</b>          <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை புதியதே - தேவனே</samp>
<span class="chordline">      <b>C#m</b>   <b>F#m</b>    <b>Bm</b>       <b>C#</b>   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உம் சாயலாய் திருப்தியாக்கிடும்</samp>
<samp charset="UTF-8" class="lyricline"> ….தேவா உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>       <b>C#m</b>      <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">காலை விழிப்பினால் உந்தன்</samp>
<span class="chordline"><b>D</b>      <b>Bm</b>       <b>F#m</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நேச மொழியதை – கேட்டுமே</samp>
<span class="chordline">     <b>C#m</b>      <b>F#m</b>   <b>Bm</b>       <b>C#</b>   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இந்நாளெல்லாம் மகிழச் செய்யுமே</samp>
<samp charset="UTF-8" class="lyricline"> ….தேவா உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>     <b>C#m</b>    <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">கடந்த ராவினில் எம்மை</samp>
<span class="chordline"><b>D</b>         <b>Bm</b>    <b>F#m</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">காத்த இயேசுவே – படைக்கிறேன்</samp>
<span class="chordline">      <b>C#m</b>   <b>F#m</b>    <b>Bm</b>       <b>C#</b>   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இக்காலையில் கிருபை தாருமே</samp>
<samp charset="UTF-8" class="lyricline"> ….தேவா உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>     <b>C#m</b>     <b>A</b>             </span>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்த்திடும் நல்ல</samp>
<span class="chordline"><b>D</b>     <b>Bm</b>    <b>F#m</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தண்ணீரே உந்தன் பாதம் </samp>
<span class="chordline">      <b>C#m</b>     <b>F#m</b>    <b>Bm</b>   <b>C#</b>      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">அமர்ந்துமே தியானம் செய்குவேன்</samp>
<samp charset="UTF-8" class="lyricline"> ….தேவா உம்மை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>     <b>C#m</b>      <b>A</b>   </span>
<samp charset="UTF-8" class="lyricline">மீட்பர் இயேசுவே எந்தன் </samp>
<span class="chordline"><b>D</b>       <b>Bm</b>  <b>F#m</b>           <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்ம நேசரே நாளெல்லாம் </samp>
<span class="chordline">      <b>C#m</b>   <b>F#m</b>    <b>Bm</b>       <b>C#</b>   <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதையில் செல்ல நடத்துமே</samp>
<samp charset="UTF-8" class="lyricline"> ….தேவா உம்மை</samp>
<span class="blankline"></span></div></div>   
        
     </div>