<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4194" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>             <b>Cm</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமது கிருபை  தாரும்  தேவா</samp>
<span class="chordline"><b>G</b>      <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனது பெலவீன  நேரமதில் – 2</samp>
<span class="chordline"><b>G</b>        <b>Cm</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாவுக்கு ஏதுவான சரீரமதை-2</samp>
<span class="chordline"><b>G</b>       <b>Cm</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் ஆவியினாலே உயிர்ப்பியுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">காருண்யமாம் நல் வைத்தியரே</samp>
<span class="chordline"><b>G</b>	       <b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கருணையின் கரத்தை நீட்டிடுமே-2</samp>
<span class="chordline"><b>G</b>                         <b>Cm</b>                                 </span>
<samp charset="UTF-8" class="lyricline">வாடிடும் இதய வேதனை நீங்க</samp>
<span class="chordline">          <b>F</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் இயேசுவே தாங்கிடுமே-2</samp>
<samp charset="UTF-8" class="lyricline">   ...உமது கிருபை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாவையும் நோவையும் ஜெயித்தவரே</samp>
<span class="chordline"><b>G</b>           <b>C</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சந்ததமும் பெலன் அளித்திடுமே</samp>
<span class="chordline"><b>G</b>                         <b>Cm</b>                                 </span>
<samp charset="UTF-8" class="lyricline">ஆதரை மீதினில் ஆறுதல் செய்திடும்</samp>
<span class="chordline">          <b>F</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரே சுகமே ஈந்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...உமது கிருபை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் சாபங்கள் யாவையுமே</samp>
<span class="chordline"><b>G</b>	      <b>C</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சிலுவையில் சுமந்து முடித்தவரே-2</samp>
<span class="chordline"><b>G</b>                              <b>Cm</b>                                 </span>
<samp charset="UTF-8" class="lyricline">கருணை பிரவாக இரக்கத்தின் உருவே</samp>
<span class="chordline">        <b>F</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரங்கி சுகமே அளித்திடுமே-2</samp>
<samp charset="UTF-8" class="lyricline">   ...உமது கிருபை</samp>
<span class="blankline"></span></div></div>   
        
     </div>