<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4195" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>               <b>G</b>	   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் நாள் நெருங்கிடுதே</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் வாக்கு நிறைவேறும்</samp>
<span class="chordline"><b>D</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் விரும்பும் ஜீவியம் காத்து</samp>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனை சந்திக்க ஆயத்தமா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் வரும் நாளை நோக்கிடும் நாமே</samp>
<span class="chordline"><b>A7</b>	                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரில் நெருங்கியே சேர்வோம்</samp>
<span class="chordline"><b>A</b>	  <b>Em</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தர்கள்  கூடும் ஐக்கியத்திலே</samp>
<span class="chordline"><b>A7</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் நிலைத்தே வாழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  ...கர்த்தரின் நாள் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு விசுவாசம் நம்பிக்கையுடனே</samp>
<span class="chordline"><b>A7</b>	               <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">தெளிந்த நல் ஜீவியம் செய்வோம்</samp>
<span class="chordline"><b>A</b>	   <b>Em</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">விழிப்புடன்  நாமே காத்திருந்து</samp>
<span class="chordline"><b>A7</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">களிப்புடன் ஏகியே பறந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  ...கர்த்தரின் நாள் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் வெளியாகும் நாளதைக் காண </samp>
<span class="chordline"><b>A7</b>                 <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">ஆவலாய் ஆயத்தமாவோம்</samp>
<span class="chordline"><b>A</b>        <b>Em</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">குற்றமே  இல்லா பக்தர்களை</samp>
<span class="chordline"><b>A7</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் சந்நிதி சேர்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  ...கர்த்தரின் நாள் </samp>
<span class="blankline"></span></div></div>   
        
     </div>