<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4196" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>              <b>G</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே என் ஜீவனே எந்தன்</samp>
<span class="chordline"><b>A</b>	                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலையே – இயேசுவே</samp>
<span class="chordline">     <b>A</b>       <b>Em</b>         <b>A</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசரே என்றுமாய் நம்புவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>E</b>     <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தீமை ஏதும் சூழ்ந்திடா</samp>
<span class="chordline"><b>D</b>         <b>A</b>       <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்னை காக்கும் தெய்வமே</samp>
<span class="chordline"><b>D</b>      <b>C</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாபம் யாவும் நீக்கியே</samp>
<span class="chordline"><b>D7</b>    <b>G</b>    <b>A</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாந்தியும் நல்கிடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>G</b>   <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா</samp>
<span class="chordline"><b>D</b>          <b>A</b>	         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா அல்லேலூயா  (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>E</b>        <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை முற்றும் தந்திட்டேன்</samp>
<span class="chordline"><b>D</b>        <b>A</b>   <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை சூழ தாங்குவீர்</samp>
<span class="chordline"><b>D</b>       <b>C</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் மேன்மை நீரல்லோ</samp>
<span class="chordline"><b>D7</b>     <b>G</b>    <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே பின் செல்வேன்</samp>
<samp charset="UTF-8" class="lyricline"> -அல்லேலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>E</b>       <b>A</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்க்கும் மீட்பரே</samp>
<span class="chordline"><b>D</b>       <b>A</b>         <b>E</b>      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் வாஞ்சை நீரல்லோ</samp>
<span class="chordline"><b>D</b>         <b>C</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல மாறிட</samp>
<span class="chordline"><b>D7</b>      <b>G</b>   <b>A</b>      <b>D</b>    </span>
<samp charset="UTF-8" class="lyricline">இயேசுவே செய்திடும்</samp>
<samp charset="UTF-8" class="lyricline"> -அல்லேலூயா</samp>
<span class="blankline"></span></div></div>   
        
     </div>