<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4197" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	                <b>Em</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பணிந்திடுவேன் என்றும்   தொழுதிடுவேன் நான்</samp>
<span class="chordline"><b>D</b>      <b>F</b>        <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவா உந்தன் பாதத்தை</samp>
<span class="chordline"><b>G</b>           <b>C</b>    <b>Am</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தடைகளை நீக்கி   ஜெயமதை ஈந்து</samp>
<span class="chordline"><b>D</b>          <b>A</b>        <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கனிவுடன் நோக்கி அருள் செய்வீர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>Em</b>	            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்திடும் போது  செவி கொடுப்பீரே</samp>
<span class="chordline"><b>D</b>                                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வருந்திடும் வேளை அணைத்திடுவீரே</samp>
<span class="chordline"><b>G</b>            <b>D</b>       <b>F</b>           <b>C</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையாய் தாயாய்  அன்பதை பொழிந்தீர்</samp>
<span class="chordline"><b>G</b>           <b>D</b>                 <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">தரணியில் உம்மை நம்பியே வந்தேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...பணிந்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>Em</b>           <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நீரன்றி உலகில்  வேறாரும் இல்லை</samp>
<span class="chordline"><b>D</b>                              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நம்பியே வந்தேன் சேவையை செய்ய </samp>
<span class="chordline"><b>G</b>           <b>D</b>    <b>F</b>             <b>C</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கிருபைகள் ஈந்து  ஜெயமதை அளிப்பீர்</samp>
<span class="chordline"><b>G</b>            <b>D</b>                      <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">இரக்கத்தின் உருவே துணை செய்குவீரே</samp>
<samp charset="UTF-8" class="lyricline">   ...பணிந்திடுவேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>