<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4198" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>             <b>B</b>            <b>Em</b>      </span>
<samp charset="UTF-8" class="lyricline">மனமே மகிழ்ந்திடு தினமே ஆர்ப்பரி</samp>
<span class="chordline">     <b>C</b>       <b>Am</b>      <b>B</b>            <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பரனை நம்பிடு அனுதினமும் பாடிடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>         <b>A</b>    <b>C</b>                              </span>
<samp charset="UTF-8" class="lyricline">மா தேவனின் மகிமை வார்த்தையால்</samp>
<span class="chordline">       <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்து வளர்ந்துமே</samp>
<span class="chordline"><b>Em</b>                     <b>B</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தொடரை என்றுமாய் ஆர்ப்பரிப்பாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...மனமே மகிழ்ந்திடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	    <b>A</b>	 <b>C</b>                              </span>
<samp charset="UTF-8" class="lyricline">என்றென்றுமாய் பெருகி  உயர்ந்திட</samp>
<span class="chordline">    <b>Am</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரனின் நீதியால்</samp>
<span class="chordline"><b>Em</b>                 <b>B</b>	    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து தினமே ஆர்ப்பரிப்பாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...மனமே மகிழ்ந்திடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	  <b>A</b>	      <b>C</b>                              </span>
<samp charset="UTF-8" class="lyricline">ஆ அன்பதின் அகலம் ஆழமும்</samp>
<span class="chordline">    <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உயரம் அறிந்துமே</samp>
<span class="chordline"><b>Em</b>                 <b>B</b>	     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் செயலில் ஆர்ப்பரிப்பாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...மனமே மகிழ்ந்திடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	   <b>A</b>   <b>C</b>                              </span>
<samp charset="UTF-8" class="lyricline">உன் தேவனே உனக்காய் யாவையும்</samp>
<span class="chordline">         <b>Am</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சிறப்பாய்  செய்கின்றார்</samp>
<span class="chordline"><b>Em</b>                 <b>B</b>	    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அவரைத் துதித்து ஆர்ப்பரிப்பாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...மனமே மகிழ்ந்திடு</samp>
<span class="blankline"></span></div></div>   
        
     </div>