<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4199" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">புவியாள வந்தவரே</samp>
<span class="chordline">     <b>Bm</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவ நாசம் நீக்கிடவே </samp>
<span class="chordline">        <b>Am</b>       <b>D</b>        <b>C</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இருள் யாவையுமே அகற்றி நீங்கவே </samp>
<span class="chordline">     <b>F</b>	    <b>C</b>         <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புதுவாழ்வு அளித்திட வந்தவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆயர் குடிலை தேடி வந்தோர்</samp>
<span class="chordline"><b>D</b>	             <b>C</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவனியை தீர்க்கும் பாலகன் இவரே</samp>
<span class="chordline"><b>Em</b>         <b>C</b>	             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்யும் தெய்வம் இவரே </samp>
<span class="chordline"><b>F</b>                     <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவனியிலுள்ளோரே வணங்கிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> – புவியாள</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வேதம் கூறும் ஜோதி விளக்காய் </samp>
<span class="chordline"><b>D</b>	           <b>C</b>	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தன்னொளி வீசிட பூவினில் பிறந்தார்</samp>
<span class="chordline"><b>Em</b>          <b>C</b>	      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">இழந்ததை நாடி தேடி வந்தோர் </samp>
<span class="chordline"><b>F</b>                   <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அற்புத பாலனைத் தொழுதிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> – புவியாள</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாளிகையில்லை மஞ்சமில்லை </samp>
<span class="chordline"><b>D</b>	             <b>C</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஏழைத் தொழுவில் இறைமகன் உதித்தார்</samp>
<span class="chordline"><b>Em</b>            <b>C</b>	               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">முன்னனை பாலகன் மேசியா இவரே</samp>
<span class="chordline"><b>F</b>                  <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லப் பிதாவை பணிந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> – புவியாள</samp>
<span class="blankline"></span></div></div>   
        
     </div>