<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4200" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>            <b>C</b>	         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரியில் தொங்குகின்றார்</samp>
<span class="chordline"><b>Em</b>           <b>D</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன் பாவம் நீக்க தம்மைத் தந்தார்</samp>
<span class="chordline"><b>C</b>	          <b>G</b>	 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் சிலுவை ஏற்றனரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேர்வையும் இரத்தமாக</samp>
<span class="chordline"><b>D</b>      <b>G</b>   <b>D</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா வியாகுலம்</samp>
<span class="chordline">        <b>G</b>     <b>D</b>	      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அடைந்தாரே இயேசு உனக்காக</samp>
<span class="chordline"><b>Em</b>      <b>D</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தந்தையே உம் சித்தம்</samp>
<span class="chordline">       <b>B7</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்று இயேசு கதறினார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சிரசினில் முள்முடி</samp>
<span class="chordline"><b>D</b>       <b>G</b>   <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சிவப்பங்கி தரித்தோராய்</samp>
<span class="chordline">        <b>G</b>      <b>D</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தை யாவும் உனக்காய் ஏற்றாரே</samp>
<span class="chordline"><b>Em</b>      <b>D</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானினால் அடிபட்டார்</samp>
<span class="chordline">      <b>B7</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கோரமான காட்சியானார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மாசற்ற தேவனே</samp>
<span class="chordline"><b>D</b>         <b>G</b>      <b>D</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை யாவும் துறந்தோராய்</samp>
<span class="chordline">    <b>G</b>        <b>D</b>	     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீச குருசில் இயேசு தொங்கினார்</samp>
<span class="chordline"><b>Em</b>      <b>D</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தை போக்கியே</samp>
<span class="chordline">        <b>B7</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீதிக்கு பிழைக்க செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கைகளில் கால்களில் </samp>
<span class="chordline"><b>D</b>      <b>G</b>    <b>D</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தமும் வடியுதே</samp>
<span class="chordline">        <b>G</b>          <b>D</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நோய்கள் யாவும் ஏற்றாரே</samp>
<span class="chordline"><b>Em</b>   <b>D</b>         <b>C</b>    </span>
<samp charset="UTF-8" class="lyricline">சுகமே அடைவாய்</samp>
<span class="chordline">         <b>B7</b>            <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">தழும்பாலே குணமடைவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எத்தனை துன்பங்கள்</samp>
<span class="chordline"><b>D</b>        <b>G</b>   <b>D</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் மீட்கவே</samp>
<span class="chordline">       <b>G</b>       <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தியாக பாதை இயேசு காட்டினார்</samp>
<span class="chordline"><b>Em</b>    <b>D</b>            <b>C</b> </span>
<samp charset="UTF-8" class="lyricline">நித்தமும் அவரின் பின்னே</samp>
<span class="chordline">         <b>B7</b>        <b>Em</b> </span>
<samp charset="UTF-8" class="lyricline">சென்று வாழ்ந்திடுவாய்</samp>
<samp charset="UTF-8" class="lyricline">   ...கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>