<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4201" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>	  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தவே என் பெலனே</samp>
<span class="chordline"><b>A</b>	        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் அன்பு கூர்ந்திடுவேன்</samp>
<span class="chordline"><b>Bm</b>	   <b>A</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துருகமும் நீர் கேடகம் நீர்</samp>
<span class="chordline"><b>G</b>           <b>F#</b>	                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சண்ய கொம்பும் அடைக்கலம் நீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மரணத்தின் கட்டுகள் சூழ்ந்த போதும்</samp>
<span class="chordline"><b>A</b>	             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">துர்ச்சனப் பிரவாகம் புரண்ட போதும்</samp>
<span class="chordline"><b>B</b>	                 <b>G</b>	   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கத்தின் மத்தியில் குரல் எழுப்ப</samp>
<span class="chordline"><b>Bm</b>	     <b>A</b>     <b>G</b>	       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உருக்கமாய் வந்து உதவி செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தவே என் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">தயை செய்பவனுக்கி நீர் தயையுள்ளவர்</samp>
<span class="chordline"><b>A</b>	        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமனை நீர் உயர்த்திடுவீர்</samp>
<span class="chordline"><b>B</b>	        <b>G</b>	  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">புனிதனுக்கு நீர் புனிதரன்றோ</samp>
<span class="chordline"><b>Bm</b>	 <b>A</b>         <b>G</b>	     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">புதிய கிருபையின் உறைவிடமே</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தவே என் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உம்மாலே ஓர் சேனைக்குள் பாய்வேன்</samp>
<span class="chordline"><b>A</b>	         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மாலே மதிலை தாண்டிடுவேன்</samp>
<span class="chordline"><b>B</b>	           <b>G</b>	       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சத்துருவை நான் தொடர்ந்திடுவேன்</samp>
<span class="chordline"><b>Bm</b>	  <b>A</b>       <b>G</b>	    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சதாகாலமும் ஜெயம் எடுப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தவே என் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	             <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சண்ய கேடகம் எனக்கு தந்தீர்</samp>
<span class="chordline"><b>A</b>	          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உமது கரம் என்னை உயர்த்தும்</samp>
<span class="chordline"><b>B</b>	             <b>G</b>	         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை அல்லால் தேவன் இல்லை</samp>
<span class="chordline"><b>Bm</b>      <b>A</b>       <b>G</b>	     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அவரே எந்தன் கன்மலையாவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தவே என் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	              <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பலத்தினால் என்னை இடைகட்டி</samp>
<span class="chordline"><b>A</b>	                 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மாங்களின் கால்களைப் போலாக்கி</samp>
<span class="chordline"><b>B</b>	               <b>G</b>	 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் சால்வையை எனக்கு தந்து</samp>
<span class="chordline"><b>Bm</b>	       <b>A</b>            <b>G</b>	       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உயர் ஸ்தலத்தில் என்னை நிறுத்திகின்றார்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தவே என் </samp>
<span class="blankline"></span></div></div>   
        
     </div>