<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4202" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>C</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாடும் துறைமுகம்   சேர்ந்து மகிழ</samp>
<span class="chordline"><b>A</b>      <b>C</b>        <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாதன் இயேசு வழியாவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வல்லவர் இயேசுவை முன்வைத்து</samp>
<span class="chordline">       <b>D</b>               <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் சித்தம் செய்திடுவோம்</samp>
<span class="chordline"><b>A#</b>	                     </span>
<samp charset="UTF-8" class="lyricline">அமைதல் அருளி அனுதினமும்</samp>
<span class="chordline"><b>D</b>	   <b>Am</b>      <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வை இயேசு அளித்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...நாடும் துறைமுகம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கடலின் சீறும் அலைகள் அமர்த்தியுமே</samp>
<span class="chordline">        <b>D</b>                     <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">அதன் அமளியை அடக்குகின்றார்</samp>
<span class="chordline"><b>A#</b>	</span>
<samp charset="UTF-8" class="lyricline">நாதன் இயேசுவை ஸ்தோத்திரித்து</samp>
<span class="chordline"><b>D</b>     <b>Am</b>      <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாடி ஏகியே சேர்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...நாடும் துறைமுகம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இதய தாகம் நிறைந்த அனைவரையும்</samp>
<span class="chordline">       <b>D</b>                     <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் திருப்தியடையச் செய்வார்</samp>
<span class="chordline"><b>A#</b></span>
<samp charset="UTF-8" class="lyricline">தவனமுள்ள யாவரையும்</samp>
<span class="chordline"><b>D</b>        <b>Am</b>       <b>D</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நன்மை அளித்து சேர்த்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...நாடும் துறைமுகம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இக்கட்டு நாளில் தேடும் யாவருக்கும்</samp>
<span class="chordline">       <b>D</b>                 <b>G</b> </span>
<samp charset="UTF-8" class="lyricline">அவர் பதிலை அளித்திடுவார்</samp>
<span class="chordline"><b>A#</b></span>
<samp charset="UTF-8" class="lyricline">சகல கட்டுகள் அறுத்திடுவார்</samp>
<span class="chordline"><b>D</b>       <b>Am</b>      <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பர் இயேசு நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...நாடும் துறைமுகம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>