<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4204" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>	            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தேவன் வல்லவர்</samp>
<span class="chordline"><b>D</b>	         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்பவர்</samp>
<span class="chordline"><b>C#</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கூடாது மனிதரால்</samp>
<span class="chordline"><b>D</b>	   <b>E</b>		   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவனால் யாவுமே கூடிடுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செயலினில் வல்லவர்</samp>
<span class="chordline"><b>E</b>	         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">யோசனை கர்த்தராம்</samp>
<span class="chordline"><b>A</b>       <b>E</b>      <b>F#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நாமம் வல்ல தேவன்</samp>
<span class="chordline"><b>Bm</b>	   <b>E7</b>	   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜீவ தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஓங்கிய புயத்தினால்</samp>
<span class="chordline"><b>E</b>	          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜனமதை நடத்தினார்</samp>
<span class="chordline"><b>A</b>       <b>E</b>      <b>F#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் நம்மை தம் புயத்தினால்</samp>
<span class="chordline"><b>Bm</b>	        <b>E7</b>	 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் காத்து நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜீவ தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மனிதனின் வழிகளை</samp>
<span class="chordline"><b>E</b>	          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நோக்கிடும் கர்த்தராம்</samp>
<span class="chordline"><b>A</b>      <b>E</b>        <b>F#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நமது செய்கை அறிந்து தேவன்</samp>
<span class="chordline"><b>Bm</b>	      <b>E7</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பலன் தனை அளித்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜீவ தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மேகத்தில் தோன்றிடும்</samp>
<span class="chordline"><b>E</b>	          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை சந்திக்க</samp>
<span class="chordline"><b>A</b>      <b>E</b>      <b>F#m</b>     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி ஆத்மா தேகம் காத்து</samp>
<span class="chordline"><b>Bm</b>	     <b>E7</b>	        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாய் சென்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஜீவ தேவன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>