<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4205" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	 <b>Bm</b>	  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் இவர்</samp>
<span class="chordline">        <b>G</b>	<b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவன் தர வந்தவர்</samp>
<span class="chordline"><b>G</b>                 <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நேசர்  இம்மானுவேலர்</samp>
<span class="chordline"><b>A7</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இவரின் சேவை செய்வேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மாசற்ற ஜீவனை கல்வாரியில்</samp>
<span class="chordline"><b>D</b>         <b>G</b>            <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீசனாம் எம்மை மீட்க   ஈந்தனரே</samp>
<span class="chordline"><b>D</b>	   <b>A</b>	    <b>G</b>       <b>D</b>      </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் சிலுவை  மாரில் சுமந்து </samp>
<span class="chordline">          <b>E</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்காக உழைத்திடுவேன் </samp>
<span class="chordline"><b>A7</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்காக உழைத்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline"> - தேவாதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">வறண்ட நிலங்கள் செழிக்குமே</samp>
<span class="chordline"><b>D</b>       <b>G</b>                 <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">திறந்த தண்ணீர் வெள்ளம்  பாய்ந்திடுமே</samp>
<span class="chordline"><b>D</b>	 <b>A</b>	<b>G</b>           <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">ஜீவனுக்கேதாய்  ஜனங்கள் தருவாய்</samp>
<span class="chordline">           <b>E</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனை வெறுத்து சேவை செய்வேன்</samp>
<span class="chordline"><b>A7</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனை வெறுத்து சேவை செய்வேன்</samp>
<samp charset="UTF-8" class="lyricline"> – தேவாதி</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மங்கிடும் திரிகள் அணையுதே</samp>
<span class="chordline"><b>D</b>            <b>G</b>        <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பொங்கிடும் அலை  மோதி வீசிடுதே</samp>
<span class="chordline"><b>D</b>	   <b>A</b>	   <b>G</b>          <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் வருகை  நெருங்கி இங்கு</samp>
<span class="chordline">           <b>E</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் விஷேசம் சாற்றிடுவோம்</samp>
<span class="chordline"><b>A7</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் விஷேசம் சாற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> - தேவாதி</samp>
<span class="blankline"></span></div></div>   
        
     </div>