<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4208" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அரணும் கோட்டையும்</samp>
<span class="chordline">      <b>Am</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பெலனாய் காப்பவர்</samp>
<span class="chordline">     <b>Bm</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">திடமாய் ஜெயித்திட</samp>
<span class="chordline">    <b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எனது என்றென்றும் துணையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ நம்பிக்கை நல்க</samp>
<span class="chordline"><b>Am</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு மரித்து எழுந்தார்</samp>
<span class="chordline"><b>G</b>       <b>C</b>    <b>A</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அழிந்திடாத   உரிமை பெறவே</samp>
<span class="chordline"><b>Am</b>	        <b>D</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மறு ஜென்மம் அடையச் செய்தார்</samp>
<samp charset="UTF-8" class="lyricline">   ...அரணும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சி ஆனந்தம் தங்க</samp>
<span class="chordline"><b>Am</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை நம்பிக்கை ஈந்தார்</samp>
<span class="chordline"><b>G</b>   <b>C</b>      <b>A</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமானை  செழிக்கச் செய்து</samp>
<span class="chordline"><b>Am</b>	       <b>D</b>	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் ஜெயம் நல்குவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...அரணும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தம்மால் மதிலைத் தாண்டி</samp>
<span class="chordline"><b>Am</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மால் சேனைக்குள் பாய்வேன்</samp>
<span class="chordline"><b>G</b>        <b>C</b>      <b>A</b>	   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எதிர்த்து நின்று  ஜெயமே அடைவேன்</samp>
<span class="chordline"><b>Am</b>	        <b>D</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும்  துணை செய்கின்றார்</samp>
<samp charset="UTF-8" class="lyricline">   ...அரணும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வில் முன்னேறிச் செல்ல</samp>
<span class="chordline"><b>Am</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல நம்பிக்கை ஈந்தார்</samp>
<span class="chordline"><b>G</b>        <b>C</b>        <b>A</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை சொரிந்து  அன்பை பொழிந்தார்</samp>
<span class="chordline"><b>Am</b>         <b>D</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வளர்ந்தே நிலைத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...அரணும் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருளை வெளிச்சமாக்க</samp>
<span class="chordline"><b>Am</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஒளியை அருளி செய்வார்</samp>
<span class="chordline"><b>G</b>       <b>C</b>    <b>A</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் தீபம்  நின்று எரிய</samp>
<span class="chordline"><b>Am</b>             <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் அருள் செய்குவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...அரணும் </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>