<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4209" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                     <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே அருள் நிறைவே</samp>
<span class="chordline">      <b>F</b>	       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஒளியே மறையே </samp>
<span class="chordline"><b>Eb</b>	  <b>Gm</b>	</span>
<samp charset="UTF-8" class="lyricline">திருத்துவமே தினம் தினமே </samp>
<span class="chordline">    <b>Eb</b>      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வரமே தருவாய் (2)</samp>
<samp charset="UTF-8" class="lyricline"> - தேவனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	               <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இந்நாளில் உம்மை நாடி </samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் உம்மை சார்வேன்</samp>
<span class="chordline"><b>Gm</b>       <b>Cm</b>	 <b>F</b>	   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">மங்காத வாழ்வு  மாறாத இன்பம் </samp>
<span class="chordline"><b>Gm</b>	<b>Eb</b>   <b>F</b>	      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளுமே   தந்தாளுவீர்</samp>
<samp charset="UTF-8" class="lyricline"> – தேவனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	                   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">தேவன்பில் என்றும் பெருகிட</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மென்மேலும் உம்மை அறிந்துமே </samp>
<span class="chordline"><b>Gm</b>          <b>Cm</b>	    <b>F</b>	        <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதை செல்ல  எந்நாளும் என்னை</samp>
<span class="chordline"><b>Gm</b>	   <b>Eb</b>  <b>F</b>	   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவனே   கண் பாருமே</samp>
<samp charset="UTF-8" class="lyricline"> – தேவனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">அன்பாலே தேடி வந்தீர்</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் பாவம் யாவும் தீர்ப்பீர்</samp>
<span class="chordline"><b>Gm</b>         <b>Cm</b>	   <b>F</b>	        <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">உம் ஆவி என்னை  எந்நாளும் தாங்க</samp>
<span class="chordline"><b>Gm</b>	     <b>Eb</b>  <b>F</b>	    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசுவே   கண் பாருமே</samp>
<samp charset="UTF-8" class="lyricline"> – தேவனே</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>