<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4211" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமிதே பேரின்பமிதே</samp>
<span class="chordline"><b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் இன்பமிதே</samp>
<span class="chordline"><b>D</b>	        <b>Bm</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்பமிதே நல் இன்பமிதே</samp>
<span class="chordline"><b>D</b>       <b>A</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இன்பமிதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>A</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்க வந்த நாமம்</samp>
<span class="chordline"><b>D</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமமே</samp>
<span class="chordline"><b>D</b>       <b>G</b>	<b>D</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வாதை போக்க வந்த நாமம்</samp>
<span class="chordline"><b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இன்பமிதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>A</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றும் மாறா நாமம்</samp>
<span class="chordline"><b>D</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமமே</samp>
<span class="chordline"><b>D</b>     <b>G</b>       <b>D</b>	   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேனிலும் இனிய நாமம்</samp>
<span class="chordline"><b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இன்பமிதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>A</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவப் பாதை காட்டும் நாமம்</samp>
<span class="chordline"><b>D</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமமே</samp>
<span class="chordline"><b>D</b>       <b>G</b>       <b>D</b>    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவன் பெலன் தந்த நாமம்</samp>
<span class="chordline"><b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இன்பமிதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>A</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாவு பயங்கள் நீங்கும் நாமம்</samp>
<span class="chordline"><b>D</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமமே</samp>
<span class="chordline"><b>D</b>    <b>G</b>       <b>D</b>	     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சாப ரோகம் நீங்கும் நாமம்</samp>
<span class="chordline"><b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இன்பமிதே </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>A</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவராஜ்யம் சேர்க்கும் நாமம்</samp>
<span class="chordline"><b>D</b>            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமமே</samp>
<span class="chordline"><b>D</b>     <b>G</b>    <b>D</b>	    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவ நீதி நிறைந்த நாமம்</samp>
<span class="chordline"><b>A7</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இன்பமிதே </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>