<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4212" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>               <b>G7</b>	 </span>
<samp charset="UTF-8" class="lyricline">எந்தன் அன்பின் இயேசு தேவா </samp>
<span class="chordline">                <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நம்மை ஈன்றவரே</samp>
<span class="chordline"><b>Eb</b>         <b>A#</b>        <b>Cm</b>  </span>
<samp charset="UTF-8" class="lyricline">உந்தனின் அன்பதையே </samp>
<span class="chordline"><b>G#</b>	 <b>G</b>	   <b>Cm</b>   </span>
<samp charset="UTF-8" class="lyricline">என்றும் நான் மறவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>	    <b>G#</b>         <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">இபூவினில் என்னையுமே </samp>
<span class="chordline"><b>Fm</b>	       <b>G#</b>	 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்துக் கொண்டவரே (2)</samp>
<span class="chordline"><b>Cm</b> 	<b>Eb</b>	     <b>Fm</b>           <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">எக்காலமும்மையே பின் செல்லவே </samp>
<span class="chordline">  <b>Eb</b>      <b>A#</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் நம்பிடுவேன் (2)</samp>
<samp charset="UTF-8" class="lyricline">   – எந்தன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>            <b>G#</b>      <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">கல்வாரியில் வழிந்திடும் </samp>
<span class="chordline"><b>Fm</b>      <b>G#</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உதிரம் மாற்றிடுதே(2)</samp>
<span class="chordline"><b>Cm</b> 	<b>Eb</b>	        <b>Fm</b>     <b>G#</b>   </span>
<samp charset="UTF-8" class="lyricline">என்னையும் சுத்தனாய் மாறினதம் </samp>
<span class="chordline"><b>Eb</b>      <b>A#</b>         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பை நான் மறவேன்(2)</samp>
<samp charset="UTF-8" class="lyricline"> – எந்தன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>