<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4213" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>	              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் சொல்ல ஆகுமே</samp>
<span class="chordline"><b>F</b>         <b>A#</b>      <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கட்டளையிடவும் நிற்குமே</samp>
<span class="chordline"><b>F</b>      <b>A#</b>          <b>Am</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ வார்த்தைகள்  சத்தியம்</samp>
<span class="chordline"><b>F</b>     <b>Gm</b>	   <b>C</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவ செய்கைகள்  உத்தமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	   <b>Gm</b>	     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வானமும் பூமியும் வார்த்தையினாலே</samp>
<span class="chordline"><b>A#</b>	     <b>C7</b>	               <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சிருஷ்டித்து காத்திடும் உத்தமரே</samp>
<span class="chordline"><b>F</b>       <b>A#</b>                <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்திய தேவனே எங்களிலே</samp>
<span class="chordline"><b>F</b>              <b>Gm</b>         <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சிருஷ்டிக்கும் வல்லமை வெளிப்படுத்தும்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் சொல்ல</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	    <b>Gm</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நியாயமும் நீதியும் தரித்தவர் நீரே</samp>
<span class="chordline"><b>A#</b>	   <b>C7</b>	                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">காருண்ய வல்லமை நிறைந்தவரே</samp>
<span class="chordline"><b>F</b>            <b>A#</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தளர்ந்திடும் போதும் சோர்ந்திடும்போதும்</samp>
<span class="chordline"><b>F</b>          <b>Gm</b>          <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றிடும் வல்லமை வெளிப்படுத்தும்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் சொல்ல</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	   <b>Gm</b>	        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் நினைவுகள் நின்றிடும் என்றும்</samp>
<span class="chordline"><b>A#</b>	 <b>C7</b>	           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அவரது யோசனை உத்தமமே</samp>
<span class="chordline"><b>F</b>           <b>A#</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சகலத்தை அறித்திடும் எம் தேவனே</samp>
<span class="chordline"><b>F</b>         <b>Gm</b>         <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை புரிந்திடும் ஜீவியத்தில்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் சொல்ல</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	<b>Gm</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சீடரை தெரிந்துமே பூமியில் எங்கும்</samp>
<span class="chordline"><b>A#</b>	  <b>C7</b>	              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியம் சாற்றிட அழைத்தவரே</samp>
<span class="chordline"><b>F</b>          <b>A#</b>                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் கட்டளை நிறைவேற்றிட</samp>
<span class="chordline"><b>F</b>        <b>Gm</b>         <b>C7</b>         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத வல்லமை அளித்திடுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் சொல்ல</samp>
<span class="blankline"></span></div></div>   
        
     </div>