<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4214" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>	  <b>G#</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை நம்புவேன்</samp>
<span class="chordline"><b>Eb</b>	  <b>A#</b>	<b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் கன்மலை</samp>
<span class="chordline"><b>Fm</b>	    <b>A#</b>	    <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">காலையும் மாலை எந்நேரமும் </samp>
<span class="chordline"><b>G7</b>                   <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நித்தம் என் அடைக்கலம்</samp>
<samp charset="UTF-8" class="lyricline"> - கர்த்தரை நம்புவேன்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>           <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் துணை வேறு </samp>
<span class="chordline"><b>Eb</b>      <b>A#</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">யாரை நம்பிடுவேன்</samp>
<span class="chordline"><b>Cm</b>	            <b>G7</b>	   <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் வாழ்வில் நடந்திடும் </samp>
<span class="chordline"><b>G#</b>	     <b>G7</b>	       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">வேதம் என் பொக்கிஷமே</samp>
<samp charset="UTF-8" class="lyricline"> - கர்த்தரை நம்புவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">மிஞ்சும் கோபத்தால் மனிஷ </samp>
<span class="chordline"><b>Eb</b>       <b>A#</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என்னை எரிக்கையில்</samp>
<span class="chordline"><b>Cm</b>              <b>G7</b>	<b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் பாறை என் கரைந்திடும் </samp>
<span class="chordline"><b>G#</b>          <b>G7</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">மாறா உன் கிருபையே</samp>
<samp charset="UTF-8" class="lyricline"> - கர்த்தரை நம்புவேன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>