<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4215" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு எம்  மணவாளா</samp>
<span class="chordline"><b>D</b>                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் நாடிடுதே</samp>
<span class="chordline"><b>D</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் மகிமையின் சாயல்</samp>
<span class="chordline"><b>C</b>	       <b>B7</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நான் தந்திடுவேன் - இயேசு எம்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                   <b>Bm</b>    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காத்திருந்தே மனம் வாடிடுதே</samp>
<span class="chordline"><b>D</b>                    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் என் இயேசு வந்திடுமே</samp>
<span class="chordline"><b>D</b>           <b>G</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்றேனும் கண்டிடுவேன்</samp>
<span class="chordline"><b>Em</b>            <b>B7</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னுள்ளம்  ஏங்கிடுதே</samp>
<samp charset="UTF-8" class="lyricline">  - இயேசு எம்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>                 <b>Bm</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணான சரீரம் மாறிடவே</samp>
<span class="chordline"><b>D</b>                      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணவ சாயலைப் பெற்றீடவே</samp>
<span class="chordline"><b>D</b>            <b>G</b>     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையை தரிசிக்க</samp>
<span class="chordline"><b>Em</b>        <b>B7</b>     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">மகிபனே வந்திடுவீர்</samp>
<samp charset="UTF-8" class="lyricline">  - இயேசு எம்  </samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>