<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4216" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சீயோன் தேசமதில் சேர்ந்தென்றும்</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பருடன் வாழ்வேன் – ஜெய</samp>
<span class="chordline"><b>E</b>        <b>D</b>            <b>E</b>   <b>A</b>	  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கீதம் பேரின்பம் துதி பாடி  மகிழுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நகரத்தின் வீதிகள் பொன்னாக</samp>
<span class="chordline">	<b>D</b>           <b>E</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மின்னுதே-ராப்பகல்  இல்லையே</samp>
<span class="chordline">     <b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் இரட்சகர் வெளிச்சமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என் கண்ணீர் யாவையும் கரத்தால்</samp>
<span class="chordline">	   <b>D</b>	 	<b>E</b>	<b>D</b></span>
<samp charset="UTF-8" class="lyricline">திடைப்பாரே –  சஞ்சலமில்லையே</samp>
<span class="chordline">     <b>A</b>               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசர் மகிழ்ச்சியே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">பளிங்கு நதி ஓரத்தில் பரிசுத்தர்</samp>
<span class="chordline">      <b>D</b>	 	      <b>E</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாத்ததில் – அமர்ந்தே  பாடிடுவேன்</samp>
<span class="chordline">       <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர் சமுகம் இன்பமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மண் சாயல் மாறியே விண் சாயல்</samp>
<span class="chordline">         <b>D</b>	 	  <b>E</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அணிந்துமே – மறுரூபம்   அடைவேனே</samp>
<span class="chordline">      <b>A</b>                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்  இயேசு போல் ஆகுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நிதமும் என் நேசரைத் துதிபாடி</samp>
<span class="chordline">         <b>D</b>	 	   <b>E</b>       <b>D</b>  </span>
<samp charset="UTF-8" class="lyricline">போற்றுவேன் – மகிபனின்  தேசத்தில்</samp>
<span class="chordline">      <b>A</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நான் மகிமையாய் வாழுவேன்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>