<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4217" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	           <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">துதிகளின் பாத்திரனே</samp>
<span class="chordline"><b>Em</b></span>
<samp charset="UTF-8" class="lyricline">துதிதனை ஏந்தி நின்றோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூயாவி அருள் தாருமே</samp>
<span class="chordline"><b>A</b>                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதிகளின் பாத்திரனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">கடந்த எம் நாட்களெல்லாம்</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கருணையாய் நடத்தினாரே</samp>
<span class="chordline"><b>G</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன் மா தயவை</samp>
<span class="chordline"><b>G</b>           <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கனிவுடன்  பாடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...துதிகளின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆபத்து நாளினிலே</samp>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்ற சகாயம் நீரே</samp>
<span class="chordline"><b>G</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் செய்பவரே</samp>
<span class="chordline"><b>G</b>            <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதிகளை   செலுத்துகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...துதிகளின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">முற்றுமாய் பலியாகவே</samp>
<span class="chordline"><b>A</b>                        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அப்பணித்தோம் எம்மையே</samp>
<span class="chordline"><b>G</b>                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்திடுவீர்</samp>
<span class="chordline"><b>G</b>        <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆசீரை அளித்திடுவீர்</samp>
<samp charset="UTF-8" class="lyricline">   ...துதிகளின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் விண்ணரசர்</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகத்துவ தேவனவர்</samp>
<span class="chordline"><b>G</b>                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையாம் கனமதனை</samp>
<span class="chordline"><b>G</b>             <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடன் செலுத்துகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...துதிகளின் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>