<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4228" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">துதித்திடுவோம் நம் இயேசு பரனை</samp>
<span class="chordline"><b>F</b>                                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தூய்மையின் ஜீவியம் அடைந்திடவே</samp>
<span class="chordline"><b>G</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரமனின் அருளை தினம் பெறவே</samp>
<span class="chordline">      <b>E</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">நாம் அனுதினம் துதித்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b> </span>
<samp charset="UTF-8" class="lyricline">சென்ற காலமெல்லாம் சுகமுடனே</samp>
<span class="chordline"><b>C</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தன் நம் இயேசுவே</samp>
<span class="chordline"><b>Dm</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்த தயவை எண்ணி</samp>
<span class="chordline"><b>E7</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்திடுவோம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்த தேவனையே நம்பிடுவோம்</samp>
<span class="chordline"><b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவரே நடத்திடுவார்</samp>
<span class="chordline"><b>Dm</b>             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயத்துடனே நித்தம் நடத்தி</samp>
<span class="chordline"><b>E7</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கிருபைகள் ஈந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்திடுவோம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">துன்பம் பலவாய் நம்மைச் சூழ்ந்திடினும்</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">யாவும் அகற்றினாரே</samp>
<span class="chordline"><b>Dm</b>                <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் கவலை யாவும் துடைத்து</samp>
<span class="chordline"><b>E7</b>                 <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தன் தேற்றினாரே</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்திடுவோம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவ வழி நடப்போர் யாவருக்கும்</samp>
<span class="chordline"><b>C</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் துணையாகுவார்</samp>
<span class="chordline"><b>Dm</b>               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் வாக்கு யாவும் அளிப்பார்</samp>
<span class="chordline"><b>E7</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரைத் துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்திடுவோம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் வந்திடுவார் வேகமுடன்</samp>
<span class="chordline"><b>C</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானில் தோன்றிடுவார்</samp>
<span class="chordline"><b>Dm</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பரமனோடு வாழும் பாக்கியம்</samp>
<span class="chordline"><b>E7</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாரில் ஆனந்தமே</samp>
<samp charset="UTF-8" class="lyricline">   ...துதித்திடுவோம் </samp>
<span class="blankline"></span></div></div>   
        
     </div>