<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4229" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>                <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">கொல்கதா மலை மீதிலே </samp>
<span class="chordline"><b>A#</b>	            <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கோரக் குருசினில் தொங்கினார்</samp>
<span class="chordline"><b>Cm</b>	                  <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">ஏன் என்னைக் கைவிட்டீரோ</samp>
<span class="chordline"><b>Fm</b>                  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என் இயேசு கலங்கினார்</samp>
<samp charset="UTF-8" class="lyricline"> - கொல்கதா மலை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">முள்முடி சிரசில் சூடினாரே</samp>
<span class="chordline"><b>G#</b>	         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் பதைக்குதே</samp>
<span class="chordline"><b>Eb</b>	           <b>G#</b>	 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எள்ளி நகைத்தார் கொடியவர்</samp>
<span class="chordline"><b>G#</b>	        <b>G</b>	<b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">கள்ளன் போல் தொங்கினாரே</samp>
<samp charset="UTF-8" class="lyricline"> - கொல்கதா மலை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஆணிக்க வந்த கருங்கால்கள்</samp>
<span class="chordline"><b>G#</b>	          <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஆணிகள் ஏற்றனவே</samp>
<span class="chordline"><b>Eb</b>               <b>G#</b>	     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இரக்கமற்றவன் ஈட்டிப் பாய்ச்ச</samp>
<span class="chordline"><b>G#</b>          <b>G</b>	     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இரத்தம் வழிந்தோடுதோ</samp>
<samp charset="UTF-8" class="lyricline"> - கொல்கதா மலை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தேகமெல்லாம் நெந்து தோய்யும் போது</samp>
<span class="chordline"><b>G#</b>	           <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றிட யாருமில்லை</samp>
<span class="chordline"><b>Eb</b>                <b>G#</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அன்பரின் முகம் சோகத்தால்</samp>
<span class="chordline"><b>G#</b>       <b>G</b>	<b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">அந்த கேடடைந்தே </samp>
<samp charset="UTF-8" class="lyricline"> - கொல்கதா மலை</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>