<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4230" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>      <b>C</b>	<b>G</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் சமுகம் முன்னே செல்லும்</samp>
<span class="chordline"><b>Em</b>          <b>C</b>           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இளைப்பாறுதல் தந்திடுவேன்</samp>
<span class="chordline"><b>Am</b>	           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றும் மாறாதவர்</samp>
<span class="chordline"><b>Em</b>	       <b>G</b>	 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நேசர் இயேசு வாக்கு தந்தார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>    <b>C</b>        <b>G</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சமுகம் செல்லும் வேளை</samp>
<span class="chordline"><b>Em</b>     <b>C</b>	  <b>B</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேவ வல்லமை தோன்றிடுதே</samp>
<span class="chordline"><b>Am</b>	      <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவைகளை சந்தித்திடும்</samp>
<span class="chordline"><b>Em</b>	        <b>B7</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய தேவன் நம் துணையே</samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தன் சமுகம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>    <b>C</b>       <b>G</b>	           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தூதன் முன் சென்றுமே</samp>
<span class="chordline"><b>Em</b>     <b>C</b>	   <b>B</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேவ இரட்சிப்பை தந்திடுவார்</samp>
<span class="chordline"><b>Am</b>	     <b>D</b>	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சத்துருவை ஜெயித்திட</samp>
<span class="chordline"><b>Em</b>	          <b>B7</b>	 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சத்துவம் யாவும் தந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தன் சமுகம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>    <b>C</b>        <b>G</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சமுகம் ஆனந்தமே</samp>
<span class="chordline"><b>Em</b>      <b>C</b>	   <b>B</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய பேரின்பம் தந்திடுமே</samp>
<span class="chordline"><b>Am</b>	      <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தருக்குள் மகிழ்ந்திட</samp>
<span class="chordline"><b>Em</b>	        <b>B7</b>	    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சத்திய தேவன் அருள் செய்வார்</samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தன் சமுகம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>       <b>C</b>         <b>G</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் மறைவில் சேரும்போது</samp>
<span class="chordline"><b>Em</b>       <b>C</b>	  <b>B</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மில் ஒளித்து காத்திடுவீர்</samp>
<span class="chordline"><b>Am</b>	      <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆபத்தினில் அடைக்கலம்</samp>
<span class="chordline"><b>Em</b>	        <b>B7</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அற்புத தேவன் துணையாவார்</samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தன் சமுகம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>        <b>C</b>       <b>G</b>	   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூமியை நியாயம் தீர்த்திடவே</samp>
<span class="chordline"><b>Em</b>      <b>C</b>	  <b>B</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜனாய் வந்திடுவார்</samp>
<span class="chordline"><b>Am</b>	     <b>D</b>	     <b>G</b>   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">விழிப்புடன் ஜீவித்துமே விண்ணவர்</samp>
<span class="chordline">	    <b>B7</b>	       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை சந்திப்போமே</samp>
<samp charset="UTF-8" class="lyricline">  ...எந்தன் சமுகம்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>