<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4236" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>      <b>Em</b>          <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாயையான  இந்த  உலகினிலே</samp>
<span class="chordline"><b>G</b>     <b>Em</b>            <b>C</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவியான என்னை   தேடிவந்தீரே</samp>
<span class="chordline"><b>C</b>           <b>D</b>               <b>Am</b>               <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">நீர் இல்லா வாழ்க்கை இனி   வாழ்க்கையில்லை</samp>
<span class="chordline"><b>G</b>        <b>Em</b>        <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிலையிலதா இந்த  உலகினிலே</samp>
<span class="chordline"><b>G</b>     <b>Em</b>          <b>C</b>	 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கால்களை உறுதியாக்கிணீர்</samp>
<span class="chordline"><b>C</b> 	     <b>D</b>       <b>Bm</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை விட்டு நான்   எங்கே செல்வேன்</samp>
<span class="chordline"><b>Am</b>	     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எங்கே செல்வேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	   <b>Bm</b>	    <b>C</b>     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேனிலும் இனிமையானவரே</samp>
<span class="chordline"><b>Em</b>        <b>Bm</b>       <b>C</b>     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பாடலின் ராகமும்யானவரே</samp>
<span class="chordline">     <b>C</b>     <b>Am</b>       <b>D</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உம நாமம்   உயர வேண்டும்</samp>
<span class="chordline">	 <b>Am</b>      <b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பூவிலே மாந்தர் பாடவே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>       <b>Em</b>          <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தனிமையான இந்த  வாழ்வினிலே</samp>
<span class="chordline"><b>G</b>        <b>Em</b>       <b>C</b>	     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையை தந்த   மகத்துவரே</samp>
<span class="chordline"><b>C</b>            <b>D</b>               <b>Am</b>              <b>D</b>              </span>
<samp charset="UTF-8" class="lyricline">நீர் இல்லா  வாழ்க்கை இனி   வாழ்கை இல்லை</samp>
<span class="chordline"><b>G</b>        <b>Em</b>            <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூய்மையாய் என்னை   மாற்றுகிறீர்</samp>
<span class="chordline"><b>G</b>       <b>Em</b>            <b>C</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செமையான வழியில்  நடத்துகிறீர்</samp>
<span class="chordline"><b>C</b> 	     <b>D</b>       <b>Bm</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை விட்டு நான்   எங்கே செல்வேன்</samp>
<span class="chordline"><b>Am</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எங்கே செல்வேன்</samp>
<samp charset="UTF-8" class="lyricline">  ---- தேனிலும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>          <b>Am</b>	       <b>D</b>                <b>Bm</b>        <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீர் இல்லா வாழ்க்கை   இனி வாழ்க்கையில்லை</samp>
<span class="chordline">	 <b>Am</b>	                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அங்கும் இங்கும் அலைந்த போதும்</samp>
<span class="chordline">	<b>D</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நிம்மதி இல்ல</samp>
<span class="chordline">	    <b>Am</b>	   <b>D</b>	        <b>Bm</b>	<b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே நானும்   போற்றிடுவேனே</samp>
<span class="chordline">	<b>Am</b>	<b>C</b></span>
<samp charset="UTF-8" class="lyricline">இன்பத்திலும் துன்பத்திலும்</samp>
<span class="chordline">	<b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிடுவேனே</samp>
<samp charset="UTF-8" class="lyricline">  ----- தேனிலும்</samp>
<span class="blankline"></span>
<span class="chordline">--- scale shifts to <b>A</b> ---</span>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	   <b>C#m</b>	    <b>D</b>     <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">தேனிலும் இனிமையானவரே</samp>
<span class="chordline"><b>F#m</b>        <b>C#m</b>       <b>D</b>     <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">பாடலின் ராகமும்யானவரே</samp>
<span class="chordline">     <b>D</b>     <b>Bm</b>       <b>E</b>         <b>C#m</b></span>
<samp charset="UTF-8" class="lyricline">உம நாமம்   உயர வேண்டும்</samp>
<span class="chordline">	 <b>Bm</b>      <b>E</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பூவிலே மாந்தர் பாடவே</samp>
<span class="blankline"></span></div></div>   
        
     </div>