<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4237" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வழியும் நீரே  ஒளியும் நீரே</samp>
<span class="chordline"><b>Am</b>	      <b>D7</b>	   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவனும் நீரே   தேவனும் நீரே</samp>
<span class="chordline"><b>G</b>      <b>A</b>	<b>C</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி வந்தேன்   நாயகன் இயேசுவே</samp>
<span class="chordline"><b>G</b>	 <b>Gm</b>	  <b>D7</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் எந்தனின்  துணை நீரே</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>G7</b>	<b>G</b>	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நானே வழியும் சத்தியும் ஜீவன்</samp>
<span class="chordline"><b>Bm</b>     <b>D</b>	<b>C</b>	  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்று உரைத்த   எந்தன் இயேசுவே</samp>
<span class="chordline"><b>G</b>	 <b>C</b>	  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மனதின் இருளை  போக்கிட வந்த</samp>
<span class="chordline"><b>G</b>	 <b>F</b>	   <b>C</b>	 <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை நிறைந்த தேவ தேவனே</samp>
<samp charset="UTF-8" class="lyricline"> - வழியும் நீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G7</b>	  <b>G</b>	              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நானிலம் போற்றும் மங்கிடா ஜோதி</samp>
<span class="chordline"><b>Bm</b>	   <b>D</b>	     <b>C</b> 	              <b>G</b>             </span>
<samp charset="UTF-8" class="lyricline">மன்னவர் இயேசுவே  மறைபொருள் ஞானமே</samp>
<span class="chordline"><b>G</b>       <b>C</b> 	  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எங்கும் நிறைந்த   என் அரும் செல்வமே</samp>
<span class="chordline"><b>G</b>	<b>F</b>	  <b>C</b>	  <b>D</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் மேன்மை இயேசு தேவனே</samp>
<samp charset="UTF-8" class="lyricline"> - வழியும் நீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G7</b>	  <b>G</b>	           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன்  வாக்கு எந்தனின் தீபம்</samp>
<span class="chordline"><b>Bm</b>	  <b>D</b>	  <b>C</b> 	     <b>G</b>                  </span>
<samp charset="UTF-8" class="lyricline">என்னை தந்துமே  உம்மை சாருவேன்</samp>
<span class="chordline"><b>G</b>          <b>C</b> 	 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் பாதை   என்றும் செல்லுவேன்</samp>
<span class="chordline"><b>G</b>	<b>F</b>	  <b>C</b>	  <b>D</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ராஜனை இயேசு தேவனே</samp>
<samp charset="UTF-8" class="lyricline"> - வழியும் நீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G7</b>	 <b>G</b>	         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை தங்கும் உந்தன் சமுகம்</samp>
<span class="chordline"><b>Bm</b>	 <b>D</b>	  <b>C</b> 	    <b>G</b>   </span>
<samp charset="UTF-8" class="lyricline">என்றும் என்னை   தேற்றி ஆற்றுதே</samp>
<span class="chordline"><b>G</b>       <b>C</b> 	   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காமல் பதறாமல்</samp>
<span class="chordline"><b>G</b>	<b>F</b>	<b>C</b>	  <b>D</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் பாதை என்றும் செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline"> - வழியும் நீரே</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>