<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4239" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>	         <b>A</b>   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஒளி தரும் தீபங்கள்</samp>
<span class="chordline"><b>F</b>	          <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">சுடர் வீசும் தீபம் நாம்</samp>
<span class="chordline"><b>F</b>	               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கலங்கரை விளக்கைப் போல்</samp>
<span class="chordline"><b>A#</b>	     <b>C</b>	       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவில் ஒளி தருவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	               <b>Am</b>   <b>A#</b>	           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மலை மேல் ஜெலித்திடும்  மா நகர் போலவே</samp>
<span class="chordline"><b>F</b>                 <b>Am</b>   <b>A#</b>              <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணகம் காணவே  ஒளியினை வீசுவோம்</samp>
<span class="chordline"><b>G</b>	           <b>A#</b>   <b>C</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசுவின் உறவினில் எரிந்திட</samp>
<span class="chordline"><b>F</b>	            <b>A#</b>	 <b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அணையாத ஜோதியாய் சுடரை வீசுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  - ஒளி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	     <b>Am</b>  <b>A#</b>	        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இருளை நீக்கிட ஒளியாய் வந்தவர்</samp>
<span class="chordline"><b>F</b>	              <b>Am</b>  <b>A#</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அருள் நிறை ஒளியினை மேதினில் வீசுவோம்</samp>
<span class="chordline"><b>G</b>	              <b>A#</b>  <b>C</b>	           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையை பிடித்துமே சுடர்களை போலவே</samp>
<span class="chordline"><b>F</b>	      <b>A#</b>   <b>C7</b>           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எழும்பி பாரினில் சுடரை வீசுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  - ஒளி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	         <b>Am</b>   <b>A#</b>	       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அழிவின் பாதையில் கல்லறை சென்றிடும்</samp>
<span class="chordline"><b>F</b>	      <b>Am</b>  <b>A#</b>	          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் ஆயிரம் தரிசனம் காணுவோம்</samp>
<span class="chordline"><b>G</b>	           <b>A#</b>  <b>C</b>	       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுவிசேஷ ஒளியினை யாவரும் கண்டிட</samp>
<span class="chordline"><b>F</b>	              <b>A#</b>     <b>C7</b>                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துணிந்து  என்றென்றுமாய்  சேவையை செய்குவோம்</samp>
<samp charset="UTF-8" class="lyricline">  - ஒளி </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	       <b>Am</b>  <b>A#</b>	          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தவான்களே ஒளியில் வாசமே</samp>
<span class="chordline"><b>F</b>	         <b>Am</b>  <b>A#</b>	        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியின் ஜீவியம் எங்கும் வீசிட</samp>
<span class="chordline"><b>G</b>	            <b>A#</b>   <b>C</b>	    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் ஒளியினை பாரில் வீசியே</samp>
<span class="chordline"><b>F</b>	                 <b>A#</b>	<b>C7</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஒளியின் பிள்ளையைப் போல் சீராய் வாழுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  - ஒளி </samp>
<span class="blankline"></span></div></div>   
        
     </div>