<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4241" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	<b>Em</b>    <b>Bm</b>      <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கலங்காதே  திகையாதே </samp>
<span class="chordline"><b>C</b>        <b>G</b>	       <b>Bm</b>     <b>D</b>     </span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் உன் துணையே</samp>
<span class="chordline"><b>G</b>	<b>Em</b>  <b>Bm</b>       <b>Em</b>  </span>
<samp charset="UTF-8" class="lyricline">கலங்காதே திகையாதே </samp>
<span class="chordline"><b>Am</b>	<b>D</b>	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இயேசு உன் துணையே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>           <b>B</b>         <b>C</b>           <b>B</b>                  </span>
<samp charset="UTF-8" class="lyricline">உன் சொந்த ஜனங்கள் உற்றாரும் உலகும்</samp>
<span class="chordline"><b>Am</b>     <b>F</b> 	<b>D</b>	         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உதறி உன்னை வெறுத்து விட்டாலும்</samp>
<span class="chordline"><b>G</b>	       <b>Bm</b>	 <b>E</b>	      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை தன் கைகளில் வரைந்திட்ட தேவன்</samp>
<span class="chordline"><b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை மறப்பதில்லை</samp>
<samp charset="UTF-8" class="lyricline">  ...கலங்காதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>           <b>B</b>          <b>C</b>           <b>B</b>  </span>
<samp charset="UTF-8" class="lyricline">துன்பங்கள் தொல்லை வியாதியும் வறுமை</samp>
<span class="chordline"><b>Am</b>              <b>F</b> 	<b>D</b>	       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">உன் வாழ்வில் இன்று நெருங்கி வந்தாலும்</samp>
<span class="chordline"><b>G</b>	   <b>Bm</b>	   <b>E</b>	      <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் வெற்றி தந்தாளும் இயேசு</samp>
<span class="chordline"><b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை உயர்த்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">  ...கலங்காதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>           <b>B</b>      <b>C</b>        <b>B</b>  </span>
<samp charset="UTF-8" class="lyricline">உன் பாதை தீயோ நடுவாக வந்தும்</samp>
<span class="chordline"><b>Am</b>             <b>F</b>     <b>D</b>	         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுகள் உன் மேல் புரளுவதில்லை</samp>
<span class="chordline"><b>G</b>	    <b>Bm</b>	      <b>E</b>	         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை வென்று கர்த்தர் நம் இயேசு</samp>
<span class="chordline"><b>D</b>	                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் கொடியேற்றுவார்</samp>
<samp charset="UTF-8" class="lyricline">  ...கலங்காதே</samp>
<span class="blankline"></span></div></div>   
        
     </div>