<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4242" class="song songcont"><div class="songpre"><span class="chordline"><b>Bm</b>	    <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">நல்லவரே இயேசு தேவா</samp>
<span class="chordline"><b>D</b>	   <b>A</b>	       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நன்மையினால் முடிசூட்டி</samp>
<span class="chordline"><b>A</b>	        <b>E</b></span>
<samp charset="UTF-8" class="lyricline">கிருபைகளை பொழித்திடுவீர்</samp>
<span class="chordline"><b>A</b>                <b>F#7</b>	  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றுமாய் நடத்திடுவீர்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	  <b>F#</b> <b>Bm</b>	     <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">உம்முடைய பரிசுத்தமாம்</samp>
<span class="chordline"><b>G</b>	 <b>A</b>	   <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">வீட்டின்   நன்மையால்</samp>
<span class="chordline"><b>A</b>	       <b>E</b>  <b>G</b>	        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">திருப்தியாக்கியே நிதம் நடத்தினீரே</samp>
<span class="chordline">   <b>F#</b>	    <b>G</b>	      <b>A</b>	      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவா உம்மை நான் என்றும் துதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ----நல்லவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	  <b>F#</b> <b>Bm</b>	     <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">தடுமாறும் வேளையிலும்</samp>
<span class="chordline"><b>G</b>	 <b>A</b>	  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">சித்தம்     செய்திட – </samp>
<span class="chordline"><b>A</b>	         <b>E</b>  <b>G</b>	               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பாதை காட்டினீரே  என்றும் ஸ்தோத்திரம்</samp>
<span class="chordline">    <b>F#</b>	    <b>G</b>	      <b>A</b>	      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவா உம்மை நான் என்றும் துதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ----நல்லவரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	  <b>F#</b>  <b>Bm</b>	 <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">இதுவரையும் நடத்தி வந்த</samp>
<span class="chordline"><b>G</b>      <b>A</b>	  <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உமது   நன்மையை</samp>
<span class="chordline"><b>A</b>	         <b>E</b>  <b>G</b>	          <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் மறவேனே நன்றி இயேசுவே</samp>
<span class="chordline">    <b>F#</b>	    <b>G</b>	      <b>A</b>	      <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவா உம்மை நான் என்றும் துதிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ----நல்லவரே</samp></div></div>   
        
     </div>