<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4243" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                      <b>A</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சேனைகளின் கர்த்தர்  நீரே - 2</samp>
<span class="chordline"><b>D</b>                   <b>A</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன் ஆலயம் என் வாசமே</samp>
<span class="chordline"><b>D</b>        <b>C</b>   	  <b>G</b>       <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">பேரின்பமே உன் வாசத்தலம்</samp>
<span class="chordline"><b>D</b>	    <b>A</b>               <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">என் ஆத்துமா தினம் தேடிடிடும்</samp>
<span class="chordline"><b>D</b>         <b>G</b>	  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நீ தரும் மகிமை நீர்தானையா </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>         <b>A</b>	          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்முடனே வாசம் செய்யும் </samp>
<span class="chordline"><b>D</b>	<b>C</b>	  <b>G</b>	  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாசத்தலம் உம் பாக்கியமே</samp>
<span class="chordline"><b>D</b>	    <b>G</b>	  <b>D</b>	 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றுமாய்  துதிப்பது</samp>
<span class="chordline"><b>Em</b>	        <b>D</b>	    <b>A</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் வாழ்வில் சேர்ந்திடும் சாத்தியமே</samp>
<samp charset="UTF-8" class="lyricline">   ...சேனைகளின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>           <b>A</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செம்மை வழி நடப்பவர்கள்</samp>
<span class="chordline"><b>D</b>	 <b>C</b>   <b>G</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாக்கியமே அடைந்திடுவார்</samp>
<span class="chordline"><b>D</b>	    <b>G</b>	  <b>D</b>	      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பெலத்தின் மேல் பெலன் பெற்று</samp>
<span class="chordline"><b>Em</b>	    <b>D</b>	     <b>A</b>	   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சியோனில் சீறுடன் வாழுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...சேனைகளின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>A</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமமாய் நடப்பவர்க்கு</samp>
<span class="chordline"><b>D</b>	  <b>C</b>    <b>G</b>	<b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகளை வழங்கிடுவீர்</samp>
<span class="chordline"><b>D</b>	 <b>G</b>	  <b>D</b>	 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கிருபை மகிமை அருளிவீர்</samp>
<span class="chordline"><b>Em</b>       <b>D</b>	   <b>A</b>	     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சூரியன் தேடலும் நீர்தானையா</samp>
<samp charset="UTF-8" class="lyricline">   ...சேனைகளின்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>