<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4245" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>   <b>E</b>    <b>G</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் துணையிவரே</samp>
<span class="chordline"><b>D</b>                <b>Em</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் காத்திடுவார் இவர்</samp>
<span class="chordline"><b>A</b>        <b>E</b>   <b>A</b>	        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே திகைத்திடாதே</samp>
<span class="chordline"><b>G</b>      <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மீட்பர் தாங்கிடுவார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பொன் இயேசு ராஜன் இவர்</samp>
<span class="chordline"><b>A7</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் துணையிவரே</samp>
<span class="chordline"><b>D</b>          <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென் </samp>
<span class="chordline"><b>A</b>	          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா ஆமென்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>E</b>     <b>G</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன்னைத் தெரிந்தவரே</samp>
<span class="chordline"><b>D</b>                 <b>Em</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை நடத்திடுவார் என்றும்</samp>
<span class="chordline"><b>A</b>          <b>E</b>    <b>A</b>	    <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">அழைப்பதனை அறிந்துணர்ந்து</samp>
<span class="chordline"><b>G</b>        <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கிரியை செய்திடுவாய் </samp>
<samp charset="UTF-8" class="lyricline">  - பொன் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>     <b>E</b>   <b>G</b>        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை பலப்படுத்தி</samp>
<span class="chordline"><b>D</b>                   <b>Em</b>     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமாய் நடத்திடுவார் இவர்</samp>
<span class="chordline"><b>A</b>        <b>E</b>  <b>A</b>	     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">முன்னேறி சுதந்தரிப்பாய்</samp>
<span class="chordline"><b>G</b>      <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவ வாக்குகளை</samp>
<samp charset="UTF-8" class="lyricline">   -   பொன் இயேசு</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>    <b>E</b>    <b>G</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் தேவனிவர்</samp>
<span class="chordline"><b>D</b>                 <b>Em</b>       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உயர்த்தி தாங்கிடுவார் என்றும்</samp>
<span class="chordline"><b>A</b>         <b>E</b>  <b>A</b>	       <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தவறியே நீ விழுந்திடாமல்</samp>
<span class="chordline"><b>G</b>       <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காத்து தாங்கிடுவார்</samp>
<samp charset="UTF-8" class="lyricline"> -   பொன் இயேசு</samp>
<span class="blankline"></span></div></div>   
        
     </div>