<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4246" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>        <b>Em</b>      <b>C</b>         <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை தேசமே எந்தனின் சொந்தமே</samp>
<span class="chordline"><b>D</b>	             <b>Am</b>	      <b>Bm</b>     <b>G</b>      	</span>
<samp charset="UTF-8" class="lyricline">விண்ணக குடிபோய் என்றும் ஜீவிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	               <b>Bm</b>	 <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்னையும் தேடி அன்பாக வந்தவர்</samp>
<span class="chordline"><b>G</b>            <b>C</b> 	         <b>D</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தன்னையும் பூவில் அன்பாகத் தந்தவர்</samp>
<span class="chordline"><b>G</b>	    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் அஞ்சிடேன்</samp>
<span class="chordline"><b>D</b>	       <b>G</b>	</span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் வெல்லுவேன்</samp>
<span class="chordline"><b>Em</b>        <b>D</b>            <b>C</b>    <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஓயாமல் ஜெயமதைப் பிடித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ----மகிமை தேசமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                <b>Bm</b>	     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் வார்த்தை எந்நாளும் ஏற்றுமே</samp>
<span class="chordline"><b>G</b>          <b>C</b> 	       <b>D</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் சேவை எந்நாளும் செய்திட</samp>
<span class="chordline"><b>G</b>	  <b>Am</b>        <b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூதர்கள் போலவே பிரமாணம் ஏற்றுமே</samp>
<span class="chordline"><b>Em</b>        <b>D</b>         <b>C</b>        <b>D</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனை என்றும் சேவிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ----மகிமை தேசமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                  <b>Bm</b>	       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையும் நேர்மை எந்நாளும் காத்துமே</samp>
<span class="chordline"><b>G</b>            <b>C</b> 	       <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்னையே தந்து என்றென்றும் ஜீவிப்பேன்</samp>
<span class="chordline"><b>G</b>	  <b>Am</b>        <b>D</b>	              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனை பின்பற்றி செல்லுவேன்</samp>
<span class="chordline"><b>Em</b>         <b>D</b>             <b>C</b>      <b>D</b>   <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் மகிழ்ச்சியை அடைந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ----மகிமை தேசமே</samp></div></div>   
        
     </div>