<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4247" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">துணை என்றும் இயேசு தேவா</samp>
<span class="chordline"><b>G</b>	     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமை நம்பினேன்</samp>
<span class="chordline"><b>F</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எமைக் காரும் தேவ மைந்தன்</samp>
<span class="chordline"><b>D7</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமை சாருவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">இருள் யாவும் நீக்கி எம்மில்</samp>
<span class="chordline"><b>A</b>	       <b>D</b>	</span>
<samp charset="UTF-8" class="lyricline">அருள் யாவும் தந்தீர் தேவா</samp>
<span class="chordline"><b>C</b>	          <b>Bm</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கனிவாக வந்தீரே  துணையாக நின்றீரே</samp>
<span class="chordline"><b>Am</b>    <b>Em</b>       <b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தேவன் இயேசுவே அன்பு போதுமே</samp>
<samp charset="UTF-8" class="lyricline">   ----துணை என்றும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காக யாவும் செய்யும் </samp>
<span class="chordline"><b>A</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பலமுள்ள தேவன் நீரே</samp>
<span class="chordline"><b>C</b>	              <b>Bm</b>            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விளக்கினை ஏற்றுவீர்  அபிஷேகம் பண்ணுவீர்</samp>
<span class="chordline"><b>Am</b>      <b>Em</b>      <b>D</b>                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் கொம்பு உயர்ந்திடும் நம்பும் தேவனே</samp>
<samp charset="UTF-8" class="lyricline">   ----துணை என்றும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அலைபோல் பாயும் துன்பம்</samp>
<span class="chordline"><b>A</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கடல் போல் சீறும் காற்றோ</samp>
<span class="chordline"><b>C</b>	             <b>Bm</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரையாதே என்றீரே   அமைதலை தந்தீரே</samp>
<span class="chordline"><b>Am</b>         <b>Em</b>      <b>D</b>                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தை ஒன்று சொல்லுமே வல்ல தேவனே</samp>
<samp charset="UTF-8" class="lyricline">   ----துணை என்றும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வழி என்றும் காட்டும் தேவா</samp>
<span class="chordline"><b>A</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விழி என்னில் வைத்த மூவா</samp>
<span class="chordline"><b>C</b>	               <b>Bm</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினம் தினம் போதியும்  அருள் நிதம் காட்டிடும்</samp>
<span class="chordline"><b>Am</b>        <b>Em</b>     <b>D</b>                             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப்போல தெய்வத்தை பூவில் காணேன் நான்</samp>
<samp charset="UTF-8" class="lyricline">   ----துணை என்றும்</samp></div></div>   
        
     </div>