<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4249" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>                <b>A</b>            </span>
<samp charset="UTF-8" class="lyricline">சிங்காசனத்தில் வீற்றிருக்கும் </samp>
<span class="chordline"><b>B</b>            <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜனே</samp>
<span class="chordline"><b>E</b>	<b>G#m</b>	         <b>C#m</b>       </span>
<samp charset="UTF-8" class="lyricline">உந்தன் ஆட்சி என்மேல் வீழ்ந்தால் </samp>
<span class="chordline"> <b>A</b>	               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஆளுகை செய்திடுவேன்</samp>
<span class="chordline"><b>A</b>       <b>F#m</b>	 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மூப்பர் யாவரும் பணிந்திடும் தேவனே</samp>
<span class="chordline"><b>B</b>	                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனை உயர்த்தியே தொழுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	          <b>G#</b>	<b>A</b>	     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">எகிப்த்தின் ஜனம் மீட்க எழுந்தீர் என் தேவா</samp>
<span class="chordline"><b>E</b>	  <b>B</b>	      <b>E</b>  	<b>B</b></span>
<samp charset="UTF-8" class="lyricline">எழுப்பினீரே மோசேவுடன் இருந்து </samp>
<span class="chordline">	 <b>F#</b>	      <b>A</b>	      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் பலத்தை நீர் தந்தீரையா</samp>
<span class="chordline"><b>A</b>	 <b>B</b>	  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நடத்திடுமே என்றும் </samp>
<span class="chordline"><b>A</b>	 <b>B7</b>	  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்னை நடத்திடுமே</samp>
<samp charset="UTF-8" class="lyricline"> --சிங்காசனத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	     <b>G#</b>	  <b>A</b>	        <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">சவுலை பவுலாக தமஸ்கு நடுத்தெருவில் </samp>
<span class="chordline"><b>E</b>	  <b>B</b>	<b>E</b>  	<b>B</b></span>
<samp charset="UTF-8" class="lyricline">தரிசனம் தந்து மாற்றினீரே </samp>
<span class="chordline">	<b>F#</b>	            <b>A</b>	      <b>E</b></span>
<samp charset="UTF-8" class="lyricline">தேவா உம்மையே என்றும் பணிகின்றேன்</samp>
<span class="chordline"><b>A</b>	 <b>B</b>	 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் படைகிறேன் முற்றும்</samp>
<span class="chordline"><b>A</b>	 <b>B7</b>	 <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் படைகிறேன்</samp>
<samp charset="UTF-8" class="lyricline"> --சிங்காசனத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>	    <b>G#</b>	        <b>A</b>	      <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இறுதிவரை இருப்பேன் வாக்கு தந்தே தேவா</samp>
<span class="chordline"><b>E</b>	 <b>B</b>	 <b>E</b>  	    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியம் செய்ய வல்லமை தாரும் </samp>
<span class="chordline">	<b>F#</b>	 <b>A</b>	     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">என்றே உம்மை கெஞ்சுகின்றேன்</samp>
<span class="chordline"><b>A</b>	    <b>B</b>	   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயத்தை தந்திடுமே என்றும் </samp>
<span class="chordline"><b>A</b>	    <b>B7</b>	   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயத்தை தந்திடுமே</samp>
<samp charset="UTF-8" class="lyricline"> --சிங்காசனத்தில்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>