<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4250" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	    <b>D</b>	     <b>C</b>	         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை ஏகமாய் உயர்த்திடுங்கள்</samp>
<span class="chordline"><b>Em</b>	   <b>C</b>	        <b>Em</b>         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தேவனை என்றென்றும் பண்பாடுங்கள்-2</samp>
<span class="chordline"><b>E</b>	     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வாசல்களே உயர்ந்திடுங்கள்</samp>
<span class="chordline"><b>D7</b>	      <b>G</b>	     <b>C</b>                 </span>
<samp charset="UTF-8" class="lyricline">நல் வாஞ்சையாய் – கதவுகளே</samp>
<span class="chordline"><b>Em</b>	         <b>D</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உயர்ந்திடுங்கள் உட்செல்லுவார் – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Bm</b>	        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உலகாளும் நம் தேவன்   மகிமையின்</samp>
<span class="chordline"><b>G</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம் தேவன் –   சகலமும் சிருஷ்டித்த</samp>
<span class="chordline"><b>Em</b>	     <b>B7</b>	           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் கர்த்தனாம் – சேனை</samp>
<span class="chordline">      <b>A</b>	          <b>C</b>	         <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தேவனாம் அவர் வெற்றி சொந்தமே</samp>
<span class="chordline">       <b>Em</b>               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அவர் முன்னே செல்கின்றார்</samp>
<span class="chordline">        <b>D</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதில் தோல்வி இல்லையே </samp>
<samp charset="UTF-8" class="lyricline">   ---இயேசுவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Bm</b>	   <b>Am</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உலகமும் குடியும்   பூமியின் நிறைவும்</samp>
<span class="chordline"><b>D</b>                    <b>Em</b>         <b>B7</b>	</span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் சொந்தமே   அதிபதி அவரே</samp>
<span class="chordline"><b>G</b>            <b>A</b>          <b>C</b>	    <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் பர்வதம் அதில் சுத்தன் ஏறுவான்</samp>
<span class="chordline">   <b>Em</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தன் ஏறுவான்</samp>
<span class="chordline">       <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதில் என்றும் வாழுவான்</samp>
<samp charset="UTF-8" class="lyricline">   ---இயேசுவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Bm</b>	    <b>Am</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கைகளில் சுத்தமாய்  இருதயம் மாசில்லா</samp>
<span class="chordline"><b>D</b>                    <b>Em</b>         <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமா மாயைக்கு   ஒப்புகொடாமலும்</samp>
<span class="chordline"><b>G</b>                <b>A</b>          <b>C</b>	          <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கபடாய் ஆணையை அவன் நித்தம் தள்ளுவான்</samp>
<span class="chordline">        <b>Em</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அவன் தேவன் அருளிடும்</samp>
<span class="chordline">      <b>D</b>	            <b>G</b></span>
<samp charset="UTF-8" class="lyricline"> நல் ஆசீர் அடைகுவான்</samp>
<samp charset="UTF-8" class="lyricline">   ---இயேசுவை</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>