<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4251" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு தேவனின் நாமம்</samp>
<span class="chordline"><b>Bm</b>       <b>C</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் ஜெயமே அருளும் </samp>
<span class="chordline"><b>D7</b>	              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன்னைக் காத்திடும் நாமம்</samp>
<span class="chordline"><b>A</b>	 <b>D7</b>	           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் துணையே நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	<b>C</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் போக்கும்  நாமமே</samp>
<span class="chordline"><b>Am</b>	<b>D</b>	<b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">சாபமே   நீங்கிடும்</samp>
<span class="chordline">       <b>C</b>    <b>A</b>	  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாந்தியே   நல்கிடும்</samp>
<span class="chordline"><b>A</b>	   <b>D7</b>	            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்வின் துணையே நாமம்</samp>
<span class="blankline"></span>
<samp charset="UTF-8" class="lyricline"> --இயேசு தேவனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>C</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவ நாமம்  இனிமையே</samp>
<span class="chordline"><b>Am</b>	  <b>D</b>	 <b>G</b>           </span>
<samp charset="UTF-8" class="lyricline">தேனிலும்  மதுரமே  </samp>
<span class="chordline">       <b>C</b>  <b>A</b>	   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துன்பமே    நீங்கிடும்</samp>
<span class="chordline"><b>A</b>	 <b>D7</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இன்பம் என்றும் தங்கிடும்</samp>
<samp charset="UTF-8" class="lyricline"> -இயேசு தேவனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>C</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நோய்கள் யாவும்  நீக்கிடும்</samp>
<span class="chordline"><b>Am</b>	  <b>D</b>	    <b>G</b>           </span>
<samp charset="UTF-8" class="lyricline">அதிசயம்  வெளிப்படும் – </samp>
<span class="chordline">       <b>C</b>  <b>A</b>	 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேதனை  மாறிடும்</samp>
<span class="chordline"><b>A</b>	  <b>D7</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வேந்தன் இயேசு நாமமே</samp>
<samp charset="UTF-8" class="lyricline"> -இயேசு தேவனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>        <b>C</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சாவின் கூரை   ஜெயித்திடும்</samp>
<span class="chordline"><b>Am</b>	  <b>D</b>	   <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">பேயினை  துரத்திடும்  </samp>
<span class="chordline">        <b>C</b>  <b>A</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை   வெளிப்படும்</samp>
<span class="chordline"><b>A</b>      <b>D7</b>	       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஓங்கி சிறக்கும் நாமம்</samp>
<samp charset="UTF-8" class="lyricline"> --இயேசு தேவனின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>C</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நாவு யாவும்  துதித்திடும்</samp>
<span class="chordline"><b>Am</b>	  <b>D</b>	   <b>G</b>            </span>
<samp charset="UTF-8" class="lyricline">கால்களே  மடங்கிடும் </samp>
<span class="chordline">        <b>C</b>   <b>A</b>	  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின்  நாமமே</samp>
<span class="chordline"><b>A</b>	<b>D7</b>	           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூவில் என்றும் உயர்ந்த்தே</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>