<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4252" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">இதயம் நன்றியுடன்</samp>
<span class="chordline">     <b>C</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நிரம்பி துதித்திடுவோம்</samp>
<span class="chordline">    <b>G</b>         	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிபன் இயேசுவையே</samp>
<span class="chordline"><b>Am</b>	 <b>D7</b>	  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தினமே துதித்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சென்ற நாளில் நன்மை செய்த</samp>
<span class="chordline">	  <b>Em</b>	 <b>D</b>	 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மன்னன் இயேசு   தேவனே</samp>
<span class="chordline"><b>G</b>         <b>C</b>	     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பாதுகாத்தார் துணை நின்றார்</samp>
<span class="chordline">      <b>C</b>	     <b>D</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியோடு   பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  - இதயம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ராஜ்யம் தேடி வந்தால்</samp>
<span class="chordline">      <b>Em</b>      <b>D</b>	     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ நன்மை  தங்கிடும்</samp>
<span class="chordline"><b>G</b>         <b>C</b>	      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">துதி செய்தால் தடை நீங்கும்</samp>
<span class="chordline">      <b>C</b>	     <b>D</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ஆசீர்   தங்கிடும்</samp>
<samp charset="UTF-8" class="lyricline"> -- இதயம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	             <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஆவி ஆத்மா உடல் யாவும்</samp>
<span class="chordline">    <b>Em</b>    <b>D</b>	   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தம்  காத்துமே</samp>
<span class="chordline"><b>G</b>      <b>C</b>	     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">பரன் பாதம் போற்றி வாழ்த்தி</samp>
<span class="chordline">      <b>C</b>	     <b>D</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்த நாளும்  பணிகுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> -- இதயம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	               <b>B</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் சமுகம் காத்திருந்து</samp>
<span class="chordline">        <b>Em</b>      <b>D</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">பெலன் பெற்று  எழும்புவோம்</samp>
<span class="chordline"><b>G</b>          <b>C</b>	       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">துதி செய்தால் சோர்வு நீங்கும்</samp>
<span class="chordline">        <b>C</b>      <b>D</b>	 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நாமம்  போற்றுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> -- இதயம் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>