<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4253" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>	   <b>F</b>	    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">போற்றித் துதித்திடுவோம்</samp>
<span class="chordline"><b>Am</b>	  <b>F</b>	     <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் இயேசுவையே</samp>
<span class="chordline"><b>Dm</b>	    <b>A#</b>	        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திரமே துதிபலிகள்</samp>
<span class="chordline"><b>C</b>	<b>Gm</b>    <b>A</b>	          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாய் செலுத்திடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிடும் மாந்தரை காப்பவராம்</samp>
<span class="chordline"><b>F</b>	    <b>C</b>	   <b>A#</b>	  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிக்கை யாவும் தருபவராம்</samp>
<span class="chordline"><b>C</b>	 <b>Am</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடனே துதித்திடுவோம்</samp>
<span class="chordline"><b>Dm</b>	 <b>F</b>	      <b>C</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மகிபன் இயேசுவை  உயர்த்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...போற்றித்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் அற்புதம் செய்பவராம்</samp>
<span class="chordline"><b>F</b>	 <b>C</b>	     <b>A#</b>	      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் நன்மைகள் அளிப்பவராம்</samp>
<span class="chordline"><b>C</b>	    <b>Am</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நோய் பிணிகள் நீக்கிடுவார்</samp>
<span class="chordline"><b>Dm</b>	  <b>F</b>	 <b>C</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தெய்வீக சுகமே தந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...போற்றித்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்வினில் இருந்து தூக்கினாரே</samp>
<span class="chordline"><b>F</b>	   <b>C</b>	   <b>A#</b>	      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தயவுடன் நம்மை நினைத்தவரே</samp>
<span class="chordline"><b>C</b>	    <b>Am</b>     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாழ்த்திடுவோம் போற்றிடுவோம்</samp>
<span class="chordline"><b>Dm</b>	 <b>F</b>	        <b>C</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் ஸ்தோத்திரம் செலுத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...போற்றித்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம் நம்மை கண்மணிபோல்</samp>
<span class="chordline"><b>F</b>	  <b>C</b>	     <b>A#</b>	      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கரம்பிடித்து  தினம் நடத்தினாரே</samp>
<span class="chordline"><b>C</b>	 <b>Am</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தோளினிலே சுமந்தனரே</samp>
<span class="chordline"><b>Dm</b>	    <b>F</b>	      <b>C</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கன்மலை தேவனை துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...போற்றித்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியில் என்றும் களித்திடவே</samp>
<span class="chordline"><b>F</b>	 <b>C</b>	     <b>A#</b>	    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அற்புதமாய் நம்மை மீட்டனரே</samp>
<span class="chordline"><b>C</b>	 <b>Am</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாய் துதித்திடுவோம்</samp>
<span class="chordline"><b>Dm</b>	   <b>F</b>	        <b>C</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசுவில் மகிழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...போற்றித்  </samp>
<span class="blankline"></span></div></div>   
        
     </div>