<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4254" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>	                 <b>Dm</b>	    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையின் தேவனைப் பணிந்திடுவோம்</samp>
<span class="chordline"><b>Dm</b>	<b>F</b>	<b>G</b>	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்வுடன் நிதமே துதித்தே</samp>
<span class="chordline"><b>C</b>      <b>F</b>  <b>Dm</b>	    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கனிவுடன்   பணிவுடன்</samp>
<span class="chordline">          <b>C</b>	 <b>F</b>    <b>G</b>    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வணங்கி நாமே ஆர்ப்பரிப்போம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	          <b>Dm</b>       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வாசல்களில் நல் துதியுடனே</samp>
<span class="chordline"><b>Dm</b>	 <b>F</b>     <b>G</b>	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்து பாடி வணங்கிடுவோம்</samp>
<span class="chordline"><b>C</b>      <b>G</b>	   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிபனை வல்லவரை</samp>
<span class="chordline"><b>F</b>	  <b>E</b>	 <b>G</b>	   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்து நாமே துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> -- மகிமையின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	         <b>Dm</b>     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்றியுடன் உம் சந்நிதியில்</samp>
<span class="chordline"><b>Dm</b>	 <b>F</b>       <b>G</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நன்மை யாவும் உணர்ந்திடுவோம்</samp>
<span class="chordline"><b>C</b>      <b>G</b>	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உத்தமமாய் உண்மையுடன்</samp>
<span class="chordline"><b>F</b>	      <b>E</b>      <b>G</b>	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் நாமே துதித்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> -- மகிமையின் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	       <b>Dm</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">செடியாம் நம் இயேசுவிலே</samp>
<span class="chordline"><b>Dm</b>	  <b>F</b>     <b>G</b>	   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நிலைத்திருந்து வளர்ந்திடுவோம்</samp>
<span class="chordline"><b>C</b>       <b>G</b>	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நற்கனியால் நிறைந்துமே</samp>
<span class="chordline"><b>F</b>	    <b>E</b>     <b>G</b>	     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சகரை நாம் உயர்த்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> --மகிமையின் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>