<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4255" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b> 	  <b>Bm</b>	   <b>Em</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் குடிகளே நாம் யாவரும் (2)</samp>
<span class="chordline"><b>G7</b>	       <b>C</b>	         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரை என்றும் போற்றி பாடுங்கள் (2)</samp>
<span class="chordline"><b>Em</b>         <b>D</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவனை ராஜனை கொண்டாடுவோம் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	   <b>Em</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாடுவோம்  நம் தேவன் இயேசுவை</samp>
<span class="chordline"><b>D</b>	               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கூடுவோம் எந்நாளும் சந்நிதி</samp>
<span class="chordline"><b>G</b>	         <b>D</b>	    <b>C</b>	   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சியோடே கர்த்தரின் முன்பினில்</samp>
<span class="chordline"><b>Am</b>	   <b>D7</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சத்தமாய் போற்றி பாடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  --பூமியின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	 <b>Em</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரே   நம் தேவன் நல்லவர்</samp>
<span class="chordline"><b>D</b>	                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அறியுங்கள் என்றென்றும் நல்லவர்</samp>
<span class="chordline"><b>G</b>	           <b>D</b>	         <b>C</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் ஜனங்கள் மேய்ச்சலின் ஆடுகள்</samp>
<span class="chordline"><b>Am</b>	     <b>D7</b>	              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் பின்னே செல்லுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> --பூமியின்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	 <b>Em</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாசலில்  எந்நாளும் துதியுடன்</samp>
<span class="chordline"><b>D</b>	                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புகழ்ந்துமே என்றென்றும் நுழையுங்கள்</samp>
<span class="chordline"><b>G</b>	        <b>D</b>	         <b>C</b>     <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அவரின் நாமம் புகழ்ந்து துதித்து பாடுங்கள்</samp>
<span class="chordline"><b>Am</b>	     <b>D7</b>	               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை என்றும் உயர்த்துங்கள்</samp>
<samp charset="UTF-8" class="lyricline"> --பூமியின்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>