<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4256" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அழைத்தீரே எனதேசுவே</samp>
<span class="chordline">	 <b>E</b>	    <b>A7</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை எந்நாளும் பின் செல்லவே</samp>
<span class="chordline"><b>A</b>	        <b>E</b>   <b>Bm</b>	          <b>F#</b></span>
<samp charset="UTF-8" class="lyricline">வினை போக்கினீர் எனைத் தூக்கினீர்</samp>
<span class="chordline"><b>A</b>	     <b>E</b>		<b>A</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துணையானதால் உம் பின் செல்லுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூயாவி வல்லமையால்</samp>
<span class="chordline">        <b>A</b>	               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூவில் தோன்றின எம் இயேசுவே </samp>
<span class="chordline"><b>D</b>	    <b>E</b>	              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம் போல நானும் தேவாவியாலே</samp>
<span class="chordline"><b>G</b>	                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்துமே மகிழ்ந்திடுவேன்</samp>
<span class="chordline">	 <b>E</b>	       <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை என்றென்றும் பின் செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ---அழைத்தீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அயராது ஜெபித்தீரே நீர்</samp>
<span class="chordline">         <b>A</b>	               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் அருள் யாவும் தங்கினதே</samp>
<span class="chordline"><b>D</b>	 <b>E</b>	            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சோராது நானும் எந்நேரம் ஜெபித்து</samp>
<span class="chordline"><b>G</b>	               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">திருப்பாதம் சேர்ந்திடுவேன்</samp>
<span class="chordline">	 <b>E</b>	    <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை எந்நாளும் பின் செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ---அழைத்தீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவ மாந்தர் குரம் கேட்குதே</samp>
<span class="chordline">         <b>A</b>	                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் செயல் மாறி அலை மோதுதே</samp>
<span class="chordline"><b>D</b>	  <b>E</b>	             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தரிசனம் கண்டு திறப்பினில் நிற்க</samp>
<span class="chordline"><b>G</b>	                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அடியேனை அழைத்தீரையா</samp>
<span class="chordline">	 <b>E</b>	    <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை எந்நாளும் பின் செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ---அழைத்தீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உம் வாழ்வில் எந்நாளுமே</samp>
<span class="chordline">         <b>A</b>	         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சித்தமே செய்தீரையா</samp>
<span class="chordline"><b>D</b>	   <b>E</b>	                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அதுபோல நானும் உம் சித்தம் செய்ய</samp>
<span class="chordline"><b>G</b>	                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">முற்றுமாய் அர்ப்பணித்தேன்</samp>
<span class="chordline">	<b>E</b>	      <b>A7</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூவில் என்றென்றும் பின் செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ---அழைத்தீரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரி மலை மீதிலே</samp>
<span class="chordline">         <b>A</b>	         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தம்மை பிலியாக ஈந்தவரே</samp>
<span class="chordline"><b>D</b>	    <b>E</b>	             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அனுதினம் நானும் சிலுவை எடுத்து</samp>
<span class="chordline"><b>G</b>	                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனை பின் செல்லுவேன்</samp>
<span class="chordline">        <b>E</b>	  <b>A7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பூவில் எந்நாளும் இன்பமிதே</samp>
<samp charset="UTF-8" class="lyricline">   ---அழைத்தீரே</samp></div></div>   
        
     </div>