<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4257" class="song songcont"><div class="songpre"><span class="chordline"><b>F#m</b>	      <b>D</b>	         <b>E</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆட்கொண்ட நல் நேசர் என் இயேசு தேவா</samp>
<span class="chordline"><b>Bm</b>       <b>C#</b>	  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னையே தந்தேனே</samp>
<span class="chordline"><b>F#</b>	              <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் பரிசுத்தம் காட்டவே</samp>
<span class="chordline"><b>C#</b>	      <b>F#</b>       <b>G#m</b>    <b>A</b>  </span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் உம்மை சேவிப்பேன்</samp>
<span class="chordline"><b>D</b>	      <b>E</b>	       <b>C#</b>     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் உம்மை சேவிப்பேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>      <b>F#</b>	 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் உம்மை சேவித்திட</samp>
<span class="chordline"><b>E</b>	                  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நல்ல பங்கை கண்டடைந்தேன்</samp>
<span class="chordline"><b>F#m</b>     <b>D</b>   <b>E</b>         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே பின் செல்வேன்</samp>
<span class="chordline"><b>D</b>	  <b>F#m</b>	              <b>C#</b>	  <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்றுமே தாங்கியே என்னை வழி நடத்துவீர்</samp>
<samp charset="UTF-8" class="lyricline">--- ஆட்கொண்ட</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>   <b>F#</b>	<b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பலியாய் ஒப்படைத்தேன்</samp>
<span class="chordline"><b>E</b>	                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மாசம்ம் சாக அர்ப்பணித்தேன்</samp>
<span class="chordline"><b>F#m</b>     <b>D</b>   <b>E</b>     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே தந்தேனே</samp>
<span class="chordline"><b>D</b>	 <b>F#m</b>	            <b>C#</b>	            <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னை ஏற்றுக்கொள்ளும் அர்ப்பணம் செய்தேன்</samp>
<samp charset="UTF-8" class="lyricline">--- ஆட்கொண்ட</samp>
<span class="blankline"></span>
<span class="chordline"><b>F#m</b>      <b>F#</b>	 <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தன் நாமம் உயர்த்தவே</samp>
<span class="chordline"><b>E</b>	                 <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ச்சி பெலனை தந்தவரே</samp>
<span class="chordline"><b>F#m</b>     <b>D</b>  <b>E</b>       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே நம்பிடுவேன்</samp>
<span class="chordline"><b>D</b>	   <b>F#m</b>	      <b>C#</b>	    <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">உம்மிலே என்றுமாய் மகிழ்ந்திடுவேனே</samp>
<samp charset="UTF-8" class="lyricline">--- ஆட்கொண்ட</samp>
<span class="blankline"></span></div></div>   
        
     </div>