<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4258" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>	         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த தேவன் நீரே</samp>
<span class="chordline"><b>Am</b>	           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை தேவன் நீரே</samp>
<span class="chordline"><b>Dm</b>	                 <b>Gm</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் தொழுதிடுவோம் நாம்</samp>
<span class="chordline">	    <b>A#</b>	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உம் நாமத்தை</samp>
<span class="chordline"><b>Dm</b>	                 <b>Gm</b>                      </span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் தொழுதிடுவோம் நாம்</samp>
<span class="chordline">    <b>C</b>          <b>A#</b>	  <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நீர் தேவன் நீர் ராஜா என்றும்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>	          <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">கேருபீன் சேராபீங்கள்</samp>
<span class="chordline"><b>C</b>	             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனை தொழுதிடவே</samp>
<span class="chordline"><b>D</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை இறங்கிடவே</samp>
<span class="chordline"><b>C</b>	             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனை தொழுதிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">----பரிசுத்த தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>	          <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல் தேவன் இல்லை</samp>
<span class="chordline"><b>C</b>	             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பூவினில் பணிந்திடவே</samp>
<span class="chordline"><b>D</b>	           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அற்புத  தேவன் நீரே</samp>
<span class="chordline"><b>C</b>	                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் தொழுதிடுவோம் (2)</samp>
<samp charset="UTF-8" class="lyricline">----பரிசுத்த தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>	          <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">மேலான தேவன் நீரே</samp>
<span class="chordline"><b>C</b>	        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மேலான நாமமிதே</samp>
<span class="chordline"><b>D</b>	               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மாந்தர்கள் பணிகின்றாரே</samp>
<span class="chordline"><b>C</b>	              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மையே தொழுதிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">------பரிசுத்த தேவன்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>