<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4259" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>       <b>C</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பரலோகமே என் சொந்தமே</samp>
<span class="chordline"><b>F</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">என்று காண்பேனோ</samp>
<span class="chordline">     <b>D</b>            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என் இன்ப இயேசுவை </samp>
<span class="chordline">      <b>A7</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நான் என்று காண்பேனோ</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>        <b>F</b>      <b>Dm</b>        <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">வருத்தம் பசி தாகம் மனத்துயரம்</samp>
<span class="chordline">             <b>Dm</b>   </span>
<samp charset="UTF-8" class="lyricline">அங்கே இல்லை – விண் கிரீடம்</samp>
<span class="chordline">          <b>A7</b>   <b>C</b>                       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வாஞ்சிப்பேன் விண்ணவர் பாதம் சேர்வேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோகமே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>             <b>F</b>          <b>Dm</b>                       </span>
<samp charset="UTF-8" class="lyricline">சிலுவையில் அறையுண்டேன்</samp>
<span class="chordline">      <b>A#</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இனி நானல்ல இயேசுவே-அவரின்</samp>
<span class="chordline">        <b>A7</b>  <b>C</b>                <b>Dm</b>                </span>
<samp charset="UTF-8" class="lyricline">மகிமையே எனது இலட்சியமே</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோகமே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>           <b>F</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு என் நம்பிக்கையாம்</samp>
<span class="chordline">      <b>A#</b>                <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இந்த பூகியும் சொந்தமல்ல – பரிசுத்த</samp>
<span class="chordline">         <b>A7</b>   <b>C</b>                    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சிந்தையுடன் இயேசுவை பின்பற்றுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோகமே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>           <b>F</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஓட்டத்தை ஜெயமுடன் நானும்</samp>
<span class="chordline">       <b>A#</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஓடிட அருள் செய்வார்-விசுவாச</samp>
<span class="chordline">       <b>A7</b>   <b>C</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாதையில் சேராது ஓடிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோகமே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>    <b>F</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பரம சுகம் காண்பேன்</samp>
<span class="chordline">       <b>A#</b>                <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பரன் தேசம் அதில் சேர்வேன்-ராப்பகல்</samp>
<span class="chordline">         <b>A7</b>  <b>C</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இல்லையே இரட்சகர் வெளிச்சமே</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோகமே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>           <b>F</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அழைப்பின் சத்தம் கேட்டு நானும்</samp>
<span class="chordline"><b>A#</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">ஆயத்தமாகிடுவேன்- நாட்களும்</samp>
<span class="chordline">         <b>A7</b>  <b>C</b>                    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நெருங்குதே வாஞ்சையும் பெருகுதே</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோகமே என்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>           <b>F</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பளிங்கு நதியோரம் சுத்தர்</samp>
<span class="chordline"><b>A#</b>             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தாகம் தீர்த்திடுவார்-தூதர்கள்</samp>
<span class="chordline">    <b>A7</b> <b>C</b>                <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாடிட தூயனை தரிசிப்பேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...பரலோகமே என்</samp>
<span class="blankline"></span></div></div>   
        
     </div>