<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4260" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                 <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வென்றனரே நம் இயேசு பரன்</samp>
<span class="chordline"><b>F#m</b>            <b>E</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் ஜெயித்தெழுந்தார்</samp>
<span class="chordline">      <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">ஜெயமே அடைந்துமே</samp>
<span class="chordline">        <b>G</b>   <b>A7</b>       <b>D</b>       </span>
<samp charset="UTF-8" class="lyricline">இரட்சகரில்   வளருவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>       <b>D7</b>  <b>G</b>          </span>
<samp charset="UTF-8" class="lyricline">சேதமேதும்   நெருங்கிடா</samp>
<span class="chordline"><b>Em</b>     <b>C</b>       <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தேவன்    தாங்குவார்</samp>
<span class="chordline"><b>F#m</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துன்பம் யாவும்  நீங்கிடும்</samp>
<span class="chordline"><b>A7</b>                     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இன்பம் என்றும் தங்கிடும்</samp>
<samp charset="UTF-8" class="lyricline"> --வென்றனரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>D7</b>     <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">தீங்கு நாளில்  மறைத்துமே</samp>
<span class="chordline"><b>Em</b>       <b>C</b>       <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுகமாய் காத்து    மூடுவார்</samp>
<span class="chordline"><b>F#m</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தகுந்த வேளை   கரத்தினில்</samp>
<span class="chordline"><b>A7</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உயர்த்தி ஜெயமே நல்குவார்</samp>
<samp charset="UTF-8" class="lyricline">  --வென்றனரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>      <b>D7</b>    <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">தேவனோடு   செல்லுவேன்</samp>
<span class="chordline"><b>Em</b>         <b>C</b>       <b>A</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மதிலைத் தாண்டி   பாயுவேன்</samp>
<span class="chordline"><b>F#m</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உலகை ஜெயிக்கும்  தேவனால்</samp>
<span class="chordline"><b>A7</b>                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">யாவும் ஜெயித்து செல்லுவேன்</samp>
<samp charset="UTF-8" class="lyricline"> --வென்றனரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>   <b>D7</b>     <b>G</b>    </span>
<samp charset="UTF-8" class="lyricline">நீதிமானை  உயர்த்துவார்</samp>
<span class="chordline"><b>Em</b>  <b>C</b>       <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதிபரனாம்  இயேசுவே</samp>
<span class="chordline"><b>F#m</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சத்துரு வீழ்ந்து அழிந்திட</samp>
<span class="chordline"><b>A7</b>                       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் ஜெயமே தந்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline"> --வென்றனரே</samp>
<span class="blankline"></span></div></div>   
        
     </div>