<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4261" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>               <b>C</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வான பரன் நம் இயேசு ராஜன் </samp>
<span class="chordline"><b>G</b>       <b>C</b>   <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மானிடராக வந்துதித்தார்</samp>
<span class="chordline"><b>G</b>         <b>Am</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மானிடர் கோபம் போக்கவே</samp>
<span class="chordline"><b>C</b>           <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மன்னவன் மனுவானார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>Am</b>     </span>
<samp charset="UTF-8" class="lyricline">ஆயர்களும் அதிசயிக்க</samp>
<span class="chordline"><b>C</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தூதர் ஆர்பரிக்க</samp>
<span class="chordline"><b>Am</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாவ ஜீவியம் மாற்றிடவே</samp>
<span class="chordline"><b>C</b>      <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாலகனாக வந்தார்</samp>
<samp charset="UTF-8" class="lyricline"> - வான பரன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                  <b>Am</b>  </span>
<samp charset="UTF-8" class="lyricline">சத்தியமும் ஜீவனுமாய்</samp>
<span class="chordline"><b>C</b>                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தலையின் உருவமாய்</samp>
<span class="chordline"><b>Am</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாசம் வைத்து இப்பூவினிலே</samp>
<span class="chordline"><b>C</b>          <b>D7</b>     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாலகன் வந்துதித்தார் </samp>
<samp charset="UTF-8" class="lyricline">  - வான பரன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                     <b>Am</b>  </span>
<samp charset="UTF-8" class="lyricline">உன்னத்ததில் மகிமையும்</samp>
<span class="chordline"><b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பூவில் சமாதானம்</samp>
<span class="chordline"><b>Am</b>                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இருளைப் போக்கவே கூறினேரே</samp>
<span class="chordline"><b>C</b>         <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உலகின் ஒளி வந்தார்</samp>
<samp charset="UTF-8" class="lyricline"> - வான பரன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>