<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4264" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>        <b>Eb</b>	         <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசரே என் இயேசுவே</samp>
<span class="chordline">	    <b>F</b>	      <b>G#</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றுமாய் என் சொந்தமே</samp>
<span class="chordline"><b>Gm</b>     <b>Cm</b>   <b>G#</b>        <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">பூரணமாய் என்னையுமே</samp>
<span class="chordline"><b>Cm</b>    <b>A#</b>	<b>Gm</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ பலியாய்  தந்தேனே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>	  <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே என்னையே</samp>
<span class="chordline"><b>A#</b>	       <b>G#</b>        <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">பான பலியாய் வார்த்தேனே</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எனது ஜீவன் ஈந்துமே</samp>
<span class="chordline"><b>Eb</b>	             <b>A#</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம் சேவை செய்து பணிகுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>	   <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே எந்நாளுமே</samp>
<span class="chordline"><b>A#</b>	        <b>G#</b>    <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">உமது பிரியம்  செய்திட</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">சுகந்த பலியாய் தந்துமே</samp>
<span class="chordline"><b>Eb</b>	             <b>A#</b>       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம் நாமம் என்றும் உயர்த்துவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>	        <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">நொறுங்குண்ட பலியாக</samp>
<span class="chordline"><b>A#</b>	             <b>G#</b>       <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">நொறுக்கி என்னைப் படைக்கிறேன்</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உமது ஆவி தங்கிட</samp>
<span class="chordline"><b>Eb</b>                  <b>A#</b>        <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எம் ஜீவன் இன்றே படைக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>	   <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">எந்தனின் சுயமெல்லாம்</samp>
<span class="chordline"><b>A#</b>	         <b>G#</b>     <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">அழிந்து யாவும் அகன்றிட</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உமது மகிமை விளங்கிட</samp>
<span class="chordline"><b>Eb</b>	             <b>A#</b>      <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதம் பணிந்து படைக்கிறேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>       <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் பலியாக</samp>
<span class="chordline"><b>A#</b>	           <b>G#</b>      <b>G7</b></span>
<samp charset="UTF-8" class="lyricline">என்னை உமக்கே அளிக்கிறேன்</samp>
<span class="chordline"><b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உமது கிருபை தாங்கிட</samp>
<span class="chordline"><b>Eb</b>                  <b>A#</b>     <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உம் பாதை செல்ல வந்தேனே</samp>
<samp charset="UTF-8" class="lyricline">   ...என் நேசரே</samp>
<span class="blankline"></span></div></div>   
        
     </div>