<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4265" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆல்பா ஓமேகா ஆதி அந்தமே</samp>
<span class="chordline"><b>D</b>           <b>C</b>      <b>A</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இயேசு உயர்ந்தவரே</samp>
<span class="chordline"><b>C</b>        <b>Bm</b>          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">அகிலம் படைத்தவர் நீரே</samp>
<span class="chordline"><b>C</b>                 <b>D7</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அடியார் உம்மை தொழுகின்றோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	         <b>B</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">அடைக்கப்பட்ட ஆட்டுக்குட்டி</samp>
<span class="chordline"><b>D</b>	             <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயம் கொண்டவர் இயேசு நீரே</samp>
<span class="chordline"><b>Em</b>                  <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">முத்திரை உடைக்க பாத்திரரே</samp>
<span class="chordline"><b>D7</b>                          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புத்தகம் திறக்கும் வேந்தன் நீரே</samp>
<samp charset="UTF-8" class="lyricline">   ....ஆல்பா ஓமேகா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                <b>B</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா நிசி வெற்றிகொடி</samp>
<span class="chordline"><b>D</b>                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா ரஃபா பரிகாரி</samp>
<span class="chordline"><b>Em</b>                 <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">சுற்றிலும் சூழ்ந்து இருப்பவரே</samp>
<span class="chordline"><b>D7</b>                           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிகள் செலுத்தி தொழுகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">   ....ஆல்பா ஓமேகா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	          <b>B</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா யீரே போதும் நீரே</samp>
<span class="chordline"><b>D</b>	               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">யெகோவா ஷாலோம் சமாதானம்</samp>
<span class="chordline"><b>Em</b>                  <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்த தொழுகை அலங்காரம்</samp>
<span class="chordline"><b>D7</b>                            <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பயத்துடன் உம்மை பணிகின்றோம்</samp>
<samp charset="UTF-8" class="lyricline">   ....ஆல்பா ஓமேகா</samp>
<span class="blankline"></span></div></div>   
        
     </div>