<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4266" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>	   <b>A#</b>  <b>Am</b>  <b>Dm</b>  	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அபிஷேக நாதரே  பரிசுத்த ஆவியே</samp>
<span class="chordline"><b>A#</b>	        <b>Am</b>	<b>F</b></span>
<samp charset="UTF-8" class="lyricline">பொழிந்திடுமே இதயமதில்</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>	<b>A7</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத ஆவியை</samp>
<span class="chordline"><b>A#</b>	        <b>Am</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பொழிந்திடுமே இதயமதில்</samp>
<span class="chordline"><b>Gm</b>        <b>C</b>	<b>F</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத ஆவியை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	   <b>C</b>	     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தூய நல் ஆவியால் உள்ளம் </samp>
<span class="chordline"><b>A#</b>	  <b>Gm</b>	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நிரம்பிட ஊற்றிடுமே</samp>
<span class="chordline"><b>A#</b>             <b>Am</b>	<b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆவியினால் அனுதினமும்</samp>
<span class="chordline"><b>C7</b>                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நிறைந்து ஜெபித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...அபிஷேக நாதரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	   <b>C</b>	      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் ஆவியால் அன்பை</samp>
<span class="chordline"><b>A#</b>	    <b>Gm</b>	     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இதயத்தில் ஊற்றிடுமே</samp>
<span class="chordline"><b>A#</b>          <b>Am</b>	      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உம்முடன் நெருக்கமுடன்</samp>
<span class="chordline"><b>C7</b>                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இணைந்து வாழ்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...அபிஷேக நாதரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>         <b>C</b>	      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அக்கினி அபிஷேகம் தாரும்</samp>
<span class="chordline"><b>A#</b>	     <b>Gm</b>	     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மகிமையை கண்டிடவே</samp>
<span class="chordline"><b>A#</b>           <b>Am</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இறுதிவரை ஒளி கொடுத்து</samp>
<span class="chordline"><b>C7</b>                      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உமக்காய் ஜொலித்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...அபிஷேக நாதரே</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>