<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4268" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>	           <b>C</b>	    <b>A</b>	     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமம்  எந்தன் தஞ்சம்</samp>
<span class="chordline"><b>D</b>	         <b>Em</b>	   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வேதனை யாவும்  நீக்கும் நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கலங்கும் நேரம் தள்ளாமல் ஏற்று</samp>
<span class="chordline"><b>A</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றிடும் நாமமே</samp>
<span class="chordline"><b>D</b>	   <b>C</b>	  <b>G</b>	   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சோதனை யாவும்  நீக்கும் நாமம்</samp>
<span class="chordline"><b>Em</b>	            <b>A7</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமமே  அடைக்கலம்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவின் நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நேற்றும் இன்றும் என்றென்றும் மாறா</samp>
<span class="chordline"><b>A</b>	          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் நாமமே</samp>
<span class="chordline"><b>D</b>	    <b>C</b>	   <b>G</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வியாதிகள் யாவும்  நீக்கும் நாமம்</samp>
<span class="chordline"><b>Em</b>	          <b>A7</b>      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேனினும் இனிய   நாமமே</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவின் நாமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தயங்கும் நேரம் எந்நாளும் தாங்கி</samp>
<span class="chordline"><b>A</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">காத்திடும் நாமமே</samp>
<span class="chordline"><b>D</b>	    <b>C</b>	    <b>G</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மேய்ப்பவர் இயேசு   காக்கும் நாமம்</samp>
<span class="chordline"><b>Em</b>	              <b>A7</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மேலோக வாழ்வினை  அளித்திடும்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவின் நாமம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>