<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4269" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	           <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நானே மெய் தேவனாம்</samp>
<span class="chordline"><b>G</b>	               <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை அருளி செய்வேன்</samp>
<span class="chordline">     <b>F</b>	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சீயோன் களிப்பாய்</samp>
<span class="chordline">	 <b>D7</b>	              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இரட்சிப்பை கண்டிடுவாய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>	  <b>Em</b>	            <b>B</b></span>
<samp charset="UTF-8" class="lyricline">தந்தை போலவே தாங்கி ஏந்துவேன்</samp>
<span class="chordline"><b>G</b>	   <b>B</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">சுமந்துமே காத்திடுவேன்</samp>
<span class="chordline"><b>C</b>	        <b>Bm</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி ஏகுவாய் நன்மை செய்குவேன்</samp>
<span class="chordline"><b>C</b>	<b>D7</b>	<b>G</b></span>
<samp charset="UTF-8" class="lyricline">துணையே எந்நாளுமே அல்லேலூயா – 2</samp>
<samp charset="UTF-8" class="lyricline">  ...நானே மெய்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>	  <b>Em</b>	                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் யோசனை என்றும் நிலைத்திடுமே</samp>
<span class="chordline"><b>G</b>	        <b>B</b>	    <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எனக்கென்றும் செவிகொடுப்பாய்</samp>
<span class="chordline"><b>C</b>            <b>Bm</b>	      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை   உயர்த்துவேன்</samp>
<span class="chordline"><b>C</b>          <b>D7</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேன்மைப்படுத்துவேன் – அல்லே – 2</samp>
<samp charset="UTF-8" class="lyricline">  ...நானே மெய்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>B</b>	 <b>Em</b>	                 <b>B</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் இரட்சிப்பை என்றும் காணுவாய்</samp>
<span class="chordline"><b>G</b>	     <b>B</b>	     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">விடுதலை அளித்திடுவேன்</samp>
<span class="chordline"><b>C</b>                     <b>Bm</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மகிமை வெளிப்படும் தெரிந்தேன் உன்னை </samp>
<span class="chordline"><b>C</b>          <b>D7</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">களிப்பாய் எந்நாளுமே – அல்லே – 2</samp>
<samp charset="UTF-8" class="lyricline">  ...நானே மெய்  </samp>
<span class="blankline"></span></div></div>   
        
     </div>