<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4270" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>        <b>G</b>   <b>Em</b>	       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவன் இயேசுவுக்கே </samp>
<span class="chordline"><b>G</b>	    <b>A7</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் ஸ்தோத்திரமே-2</samp>
<span class="chordline">	<b>G</b>   <b>Em</b>	       <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">என்னோடு இருப்பவர்க்கே </samp>
<span class="chordline"><b>A7</b>	                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் ஸ்தோத்திரமே-2</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	     <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே நீர் நன்மை செய்தீர் </samp>
<span class="chordline"><b>F#</b>	             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஸ்தோத்திர பலியை செலித்திடுவேன்</samp>
<span class="chordline"><b>D</b>	            <b>A</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் ஜெபத்தை கேட்டுடிவீர்</samp>
<span class="chordline"><b>E</b>                  <b>A7</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உமக்கே ஸ்தோத்திரமே</samp>
<samp charset="UTF-8" class="lyricline">   ...என் தேவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">கூப்பிட்ட நாளில் பதில் தந்தீர்</samp>
<span class="chordline"><b>F#</b>             <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்துமாவில் பெலன் தந்தீர்</samp>
<span class="chordline"><b>D</b>	                <b>A</b>	<b>D</b></span>
<samp charset="UTF-8" class="lyricline">யாவையும் எனக்காய் முடித்திடுவீர்</samp>
<span class="chordline"><b>E</b>                   <b>A7</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உமக்கே ஸ்தோத்திரமே</samp>
<samp charset="UTF-8" class="lyricline">   ...என் தேவன் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நெருக்கப்பட்ட வேளையிலும் </samp>
<span class="chordline"><b>F#</b>               <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">நெருங்கியே நீர் அணைத்தீரே</samp>
<span class="chordline"><b>D</b>	             <b>A</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உறுதியாய் உம்மில் நிறுத்திடவே</samp>
<span class="chordline"><b>E</b>                   <b>A7</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தேவனே உமக்கே ஸ்தோத்திரமே</samp>
<samp charset="UTF-8" class="lyricline">   ...என் தேவன் </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>