<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4271" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>	      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கல்வாரியில் ஏக சுதன் </samp>
<span class="chordline"><b>A</b>	              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தொங்கியே மாண்டனரே</samp>
<span class="chordline"><b>Dm</b>	     <b>F</b>	        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அழகுற்றோராய் தேவ மைந்தன் </samp>
<span class="chordline"><b>C</b>	        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அந்த கேடடைந்தார் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>	        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">குற்றமில்லாத கர்த்தனாம் இயேசு</samp>
<span class="chordline"><b>Am</b>	          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் ஏற்றவராம்</samp>
<span class="chordline"><b>Dm</b>	       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என் தேவனே கைவிட்டீரே</samp>
<span class="chordline"><b>C</b>	         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கதறும் காட்சியிலே</samp>
<samp charset="UTF-8" class="lyricline">– கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>	            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மெய்யான பானம் மெய்யான போஜனம்	</samp>
<span class="chordline"><b>Am</b>               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ஜீவன் இவர்	</samp>
<span class="chordline"><b>Dm</b>	         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றுமாய் பிள்ளைப் பெற </samp>
<span class="chordline"><b>C</b>	            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பந்தியில் பங்கடைவோம்</samp>
<samp charset="UTF-8" class="lyricline">– கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சரீரமான சபையில் நம்பி </samp>
<span class="chordline"><b>Am</b>	               <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அன்போடு இணைத்தாரே</samp>
<span class="chordline"><b>Dm</b>	        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் பிரான் ஒப்பந்தம் செய்த</samp>
<span class="chordline"><b>C</b>	              <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவை பின்பற்றுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> – கல்வாரியில்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>