<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4272" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	<b>Em</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வாலிபரே நீர் புறப்படுவீர்</samp>
<span class="chordline"><b>Am</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வானவர் அன்பினை உறைத்திடுவீர்</samp>
<span class="chordline"><b>Bm</b>	     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாரா வேறு தெய்வமில்லை</samp>
<span class="chordline"><b>Am</b>	                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புண்ணியர் இயேசுவை கூறிடுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">போற்றிடுவோம் நாம் போற்றிடுவோம்</samp>
<span class="chordline"><b>Am</b>	                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சாற்றிடுவோம் புகழ் சாற்றிடுவோம் (2) – வாலிபரே</samp>
<span class="chordline"><b>Bm</b>	      <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாரா வேறு தெய்வமில்லை</samp>
<span class="chordline"><b>Am</b>	                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">புண்ணியர் இயேசுவை கூறிடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>           <b>Em</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சண்ய சேதி உறைத்திடவே</samp>
<span class="chordline"><b>Am</b>	               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரட்சகனால் நம்மை வெளிப்படவே</samp>
<span class="chordline"><b>Bm</b>	       <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு நாமம் நல்லததே</samp>
<span class="chordline"><b>Am</b>                         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மீட்பரின் செயலை கூறிடுவேன் </samp>
<samp charset="UTF-8" class="lyricline">  --- போற்றிடுவோம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Em</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நம்பிக்கையில்லா பாதையிலே</samp>
<span class="chordline"><b>Am</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரம் ஆயிரம் அழிகின்றதே</samp>
<span class="chordline"><b>Bm</b>	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பிறப்பின் வாசல் நின்றிடவே</samp>
<span class="chordline"><b>Am</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தீவிரமாய் தந்திடவேன்</samp>
<samp charset="UTF-8" class="lyricline">  ---- போற்றிடுவோம் </samp>
<span class="blankline"></span></div></div>   
        
     </div>