<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4273" class="song songcont"><div class="songpre"><span class="chordline"><b>Cm</b>	            <b>F</b>	  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">என்னுள்ளமே என்றென்றுமாய்</samp>
<span class="chordline"><b>Gm</b>	   <b>A#</b>	    <b>F</b>	   <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் பாடியே போற்றுவாய்</samp>
<span class="chordline"><b>G#</b>	 <b>Cm</b>	   <b>G#</b>  <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சார்ந்து  அவரை  ஏகுவாய்</samp>
<span class="chordline"><b>G</b>	              <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உன் தஞ்சமே  </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                  <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் தேவனே என்றுமாய்</samp>
<span class="chordline"><b>F</b>	    <b>A#</b>	 <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கியே  காப்பவர்</samp>
<span class="chordline"><b>Eb</b>    <b>Gm</b>   <b>A#</b>    <b>G#</b>      </span>
<samp charset="UTF-8" class="lyricline">தாயினும் அன்புடன்</samp>
<span class="chordline"><b>G#</b>	<b>Fm</b>     <b>G</b>    <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கி ஏந்தி  சுமப்பவர்</samp>
<samp charset="UTF-8" class="lyricline">– என்னுள்ளமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                     <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உன்பேரில் கண்களை வைத்துமே</samp>
<span class="chordline"><b>F</b>	   <b>A#</b>	  <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனை நடத்துவார்</samp>
<span class="chordline"><b>Eb</b>   <b>Gm</b>    <b>A#</b>     <b>G#</b>      </span>
<samp charset="UTF-8" class="lyricline">ஆறுதல்  அளிப்பவர்</samp>
<span class="chordline"><b>G#</b>        <b>Fm</b>     <b>G</b>	 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் அவரை நம்பிடுவாய்</samp>
<samp charset="UTF-8" class="lyricline"> – என்னுள்ளமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>                      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">உன் சத்தம் கேட்டதும் இயேசுவே</samp>
<span class="chordline"><b>F</b>	   <b>A#</b>	       <b>Cm</b></span>
<samp charset="UTF-8" class="lyricline">இரங்கியே பதில் செய்வார்</samp>
<span class="chordline"><b>Eb</b>    <b>Gm</b>   <b>A#</b>      <b>G#</b>      </span>
<samp charset="UTF-8" class="lyricline">தேவனில் அமர்ந்திரு</samp>
<span class="chordline"><b>G#</b>       <b>Fm</b>      <b>G</b>	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நம்பும்  நன்மை வந்தடையும்</samp>
<samp charset="UTF-8" class="lyricline"> – என்னுள்ளமே</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>