<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4274" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>	         <b>F</b>	      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இயேசு வாக்கை நம்புவோம்</samp>
<span class="chordline">          <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">என்றும்  கர்த்தர் அவரில் </samp>
<span class="chordline"><b>F</b>	         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நிலைத்து ஓங்குவோம்</samp>
<span class="chordline">     <b>Eb</b>	           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுத்தராய் வாழ்ந்துமே</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ சேவை செய்து</samp>
<span class="chordline"><b>F</b>	        <b>Eb</b>	     <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜன் பின் செல்லுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சுற்றி நிற்கும் பாவம் யாவும்</samp>
<span class="chordline"><b>Eb</b>	            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">முற்றும் தள்ளியே-கர்த்தர்</samp>
<span class="chordline">	           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ராஜ்யம் சேர்ந்திட முன்னே செல்லுவோம்</samp>
<span class="chordline">	       <b>Eb</b>	           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவ கிருபையில் நிலைத்து நின்றிட</samp>
<span class="chordline"><b>A#</b>	         <b>F</b>	     <b>Eb</b>        <b>D7</b></span>
<samp charset="UTF-8" class="lyricline">தாழ்மையோடு தேவபாதம்  சேர்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வானம் பூமி யாவும்</samp>
<span class="chordline">	   <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">முற்றும்  மாறிப்போயினும்</samp>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவ  வார்த்தை என்றுமாய் </samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நிலைத்து நிற்குமே-சத்திய</samp>
<span class="chordline">        <b>Eb</b>	             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வாக்கினில் உறுதி அடைந்துமே</samp>
<span class="chordline"><b>A#</b>	           <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சத்திய  தேவன்  வாக்கை </samp>
<span class="chordline">        <b>D7</b>	    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி  முன்செல்லுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் இயேசு </samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வாக்குத்தத்தம் செய்த கர்த்தர்</samp>
<span class="chordline"><b>Eb</b>	             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையுள்ளவர்- முற்றுமாக</samp>
<span class="chordline">	   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">நம்பியே  முன்னே செல்லுவோம்</samp>
<span class="chordline">	   <b>Eb</b>	                   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கிறிஸ்து  இயேசுவே நமது நம்பிக்கை</samp>
<span class="chordline"><b>A#</b>	     <b>F</b>	         <b>D7</b>	   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">பரம தேசம் சென்று ஏகி வாழ்ந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் இயேசு </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>