<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4275" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமான் செழித்திடுவான்</samp>
<span class="chordline"><b>G</b>	            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நீதிமான் உயர்ந்திடுவான்</samp>
<span class="chordline"><b>D</b>        <b>G</b>	         <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய கீர்த்தி  நித்திய  வாழ்வு</samp>
<span class="chordline">         <b>E</b>	 <b>A</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நித்திய ஜீவன்  கிடைத்திடுமே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	    <b>G</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ராஜ பாதையே தோல்வி இல்லையே</samp>
<span class="chordline"><b>G</b>       <b>E</b>  <b>D</b>  	         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இடறாதே நடைகள் ஓங்கும்</samp>
<span class="chordline"><b>E</b>	  <b>A</b>	  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவனது கொம்பு உயர்ந்திடுமே</samp>
<span class="chordline"><b>E</b>	  <b>A</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவனது விருப்பம் நிறைவேறுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...நீதிமான்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	       <b>G</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சுத்த வெள்ளியாம் ஜீவ ஊற்றாகும்</samp>
<span class="chordline"><b>G</b>          <b>E</b>     <b>D</b>  	      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நாவு மாறிடும்  சுபாவம் மாறிடும்</samp>
<span class="chordline"><b>E</b>      <b>A</b>	<b>D</b></span>
<samp charset="UTF-8" class="lyricline">உதடு பிரியம்  பேசிடுமே</samp>
<span class="chordline"><b>E</b>       <b>A</b>	  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உத்தம வழியும்  நடத்திடுவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...நீதிமான்  </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>           <b>G</b>    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சந்ததி என்றும் செழித்திடுமே</samp>
<span class="chordline"><b>G</b>       <b>E</b>           <b>D</b>  	        <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அப்பம் வீட்டினில் குறைவதில்லை</samp>
<span class="chordline"><b>E</b>          <b>A</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவனது  ஆஸ்தி  பெருகிடுமே</samp>
<span class="chordline"><b>E</b>          <b>A</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவனது  தேவன்  துணையாவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...நீதிமான்  </samp>
<span class="blankline"></span></div></div>   
        
     </div>