<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4276" class="song songcont"><div class="songpre"><span class="chordline"><b>Fm</b>                   <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">உமது சேவை எமது இன்பம்</samp>
<span class="chordline">	<b>C7</b>	       <b>C#</b></span>
<samp charset="UTF-8" class="lyricline">அயர்ந்திடாது செய்திடுவோம்</samp>
<span class="chordline">	 <b>Eb</b>	             <b>G#</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்தும பாரமும் ஆவியின் நிறைவும்</samp>
<span class="chordline"><b>C#</b>      <b>Eb</b>     <b>C7</b>	 <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தங்கிட நாமும்   செய்குவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>	    <b>C#</b>	             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தில் மாளும் மாந்தார் குரலை</samp>
<span class="chordline"><b>C7</b>	  <b>A#m</b>	       <b>C</b>	<b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அழுகை  தொனியில்    அபல நிலையை</samp>
<span class="chordline"><b>F</b>	    <b>A#</b>	    <b>C#</b>	       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உணர்ந்தே எழும்பி விரைந்திடுவோம்</samp>
<span class="chordline"><b>A#m</b>     <b>C7</b>	         <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சேவை செய்ய  புறப்படுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> --உமது சேவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>        <b>C#</b>	               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதல் அளிக்கும் வார்த்தை கூறி</samp>
<span class="chordline"><b>C7</b>	 <b>A#m</b>      <b>C</b>	     <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">ஆத்தும ஆதாயம்  செய்ய  துணிவோம்</samp>
<span class="chordline"><b>F</b>	   <b>A#</b>	     <b>C#</b>	          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">தனியாள் ஊழியம்  அனுதினம்  செய்வோம்</samp>
<span class="chordline"><b>A#m</b>          <b>C7</b>	              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">கருத்துடன்  ஊழியம் செய்குவோம்</samp>
<samp charset="UTF-8" class="lyricline"> --உமது சேவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>     <b>C#</b>	           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காடு  மலையோ கிராமம் அனைத்தும்</samp>
<span class="chordline"><b>C7</b>	    <b>A#m</b>     <b>C</b>	       <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">விரைந்து  சென்று    சேவை புரிவோம்</samp>
<span class="chordline"><b>F</b>	    <b>A#</b>	         <b>C#</b>	    <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">உயர்த்தி   இயேசுவை  உலகினில் நாமே</samp>
<span class="chordline"><b>A#m</b>         <b>C7</b>	              <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">நற்செய்தி  எங்குமே சாற்றிடுவோம் ---உமது சேவை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Fm</b>    <b>C#</b>	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாரத்தால் நாமே அழுது ஜெபித்து</samp>
<span class="chordline"><b>C7</b>	 <b>A#m</b>       <b>C</b>	        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">அழியும் மனுவை   வழியில்  திருப்பி</samp>
<span class="chordline"><b>F</b>	   <b>A#</b>	    <b>C#</b>	        <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">சபையில் என்றும்  நிலைத்திட செய்வோம்</samp>
<span class="chordline"><b>A#m</b>            <b>C7</b>	          <b>Fm</b></span>
<samp charset="UTF-8" class="lyricline">பொறுப்புடன்  ஊழியம் செய்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline"> ---உமது சேவை</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>