<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4277" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>	     <b>Dm</b>	  	</span>
<samp charset="UTF-8" class="lyricline">வல்லவரே  நல்லவரே  </samp>
<span class="chordline">                 <b>C</b>	<b>F</b></span>
<samp charset="UTF-8" class="lyricline">என்றுமாய் என் தஞ்சமே-2</samp>
<span class="chordline"><b>Am</b>         <b>G</b>     <b>C</b>        <b>F</b>    </span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல மாற்றிடுமே  </samp>
<span class="chordline"><b>E</b>     <b>F</b>    <b>C</b>	    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எந்தனை  தந்தேனையா – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>	          <b>F</b>	     </span>
<samp charset="UTF-8" class="lyricline">உம்மைப் போல மாறிடவே  </samp>
<span class="chordline">           <b>Am</b>	 <b>E</b>	    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தை என்றும் கை கொண்டு</samp>
<span class="chordline"><b>Dm</b>	  <b>Am</b>    <b>G</b>	          </span>
<samp charset="UTF-8" class="lyricline">உம் வழியில்  நான்  நடந்திடவே </samp>
<span class="chordline">                <b>C</b>	    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">போதனையை செய்வீரையா – 2</samp>
<span class="chordline"><b>Dm</b>	       <b>Gm</b>         <b>Am</b>        <b>C</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உம்மை நம்பினேன்  நடக்கும் என் இயேசுவே</samp>
<samp charset="UTF-8" class="lyricline">   ...வல்லவரே  நல்லவரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>             <b>F</b>	   </span>
<samp charset="UTF-8" class="lyricline">நம்பும் எந்தன் நங்கூரமே </samp>
<span class="chordline">     <b>Am</b>        <b>E</b>	  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நம்பி வந்தேன் உம் பாதை – 2</samp>
<span class="chordline"><b>Dm</b>	   <b>Am</b>   <b>G</b>                  </span>
<samp charset="UTF-8" class="lyricline">நம்பிக்கையில் நான் பெருகிடவே </samp>
<span class="chordline">               <b>C</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நல்விசுவாசம் அளித்திடும் தேவா -2 </samp>
<span class="chordline"><b>Dm</b>           <b>Gm</b>     <b>Am</b>      <b>C</b>    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நாடி வந்தேனே சமூகம் நீர் தந்திடும் </samp>
<samp charset="UTF-8" class="lyricline">   ...வல்லவரே  நல்லவரே </samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>               <b>F</b>	     </span>
<samp charset="UTF-8" class="lyricline">நம்மைப் போல ஒன்றாகவே </samp>
<span class="chordline">          <b>Am</b>        <b>E</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இணைய வேண்டி ஜெபத்தீரே – 2</samp>
<span class="chordline"><b>Dm</b>	<b>Am</b>     <b>G</b>                   </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தமாய்  நாம் வாழ்ந்திடவே </samp>
<span class="chordline">             <b>C</b>	      <b>F</b>          </span>
<samp charset="UTF-8" class="lyricline">பரிந்துரைகள் செய்தவர்  நீரே -2 </samp>
<span class="chordline"><b>Dm</b>	      <b>Gm</b>        <b>Am</b>   <b>C</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">காத்துக்கொள்ளுவீர் துணை எந்நாளுமே </samp>
<samp charset="UTF-8" class="lyricline">   ...வல்லவரே  நல்லவரே </samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>