<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4278" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>	  <b>C</b>     <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">பயங்கர  பராகிரமம்</samp>
<span class="chordline">	  <b>G</b>	  <b>D</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">செய்யும் தேவன் இருப்பதினால்</samp>
<span class="chordline"><b>Em</b>	      <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அஞ்சிடேன்  என்றுமே</samp>
<span class="chordline">      <b>C</b>	                   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமே நான் அடைந்திடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் மா அன்பினால்</samp>
<span class="chordline">	 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">என்னை மாற்றி தினம் </samp>
<span class="chordline"><b>D</b>	                        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அதிசயம் காட்டி இணங்கச் செய்தார்</samp>
<span class="chordline"><b>Em</b>	    <b>G</b>      <b>C</b>	     <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயித்திடுவேன்  வீழ்த்திடுவேன்</samp>
<span class="chordline"><b>D</b>	   <b>C</b>	     <b>B</b>	  <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தேவாவி  என் மீது தங்குவார்</samp>
<samp charset="UTF-8" class="lyricline">  ...பயங்கர  பராகிரமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நல்லவரே அவர் வல்லவரே</samp>
<span class="chordline"><b>D</b>	                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சோதித்து அறியும் கர்த்தரிவர்</samp>
<span class="chordline"><b>Em</b>          <b>G</b>    <b>C</b>       <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">தேர்ச்சி என்றும் உண்டாகும்</samp>
<span class="chordline"><b>D</b>	 <b>C</b>	    <b>B</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">காரியம் அவர் மீது சாட்டினேன்</samp>
<samp charset="UTF-8" class="lyricline">  ...பயங்கர  பராகிரமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	                     <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நான் நம்பிடும் எந்தன் தேவனாவார்</samp>
<span class="chordline"><b>D</b>	                       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உதவிகள் அவரால் கிடைத்திடுமே</samp>
<span class="chordline"><b>Em</b>	     <b>G</b>     <b>C</b>        <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">உண்மையினை   காத்திடுவேன்</samp>
<span class="chordline"><b>D</b>	   <b>C</b>	       <b>B</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காக யாவையும் செய்குவார்</samp>
<samp charset="UTF-8" class="lyricline">  ...பயங்கர  பராகிரமம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அவர் வார்த்தை என்றும் </samp>
<span class="chordline">	 <b>C</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன்  உள்ளத்திலே</samp>
<span class="chordline"><b>D</b>	                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எரிந்திடும் தீ போல் பரவிடுதே</samp>
<span class="chordline"><b>Em</b>          <b>G</b>  <b>C</b>         <b>B7</b></span>
<samp charset="UTF-8" class="lyricline">போதனையை பெற்றிடுவேன்</samp>
<span class="chordline"><b>D</b>	       <b>C</b>	      <b>B</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் அவர் வாக்கை காப்பேன</samp>
<samp charset="UTF-8" class="lyricline">  ...பயங்கர  பராகிரமம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>