<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4280" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                                 <b>A</b></span>
<samp charset="UTF-8" class="lyricline">என் உள்ளம் தங்கும் என் இயேசு தேவா</samp>
<span class="chordline"><b>C</b>            <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">உன் நாமம் உயர்த்தி பாடிடுவேன்</samp>
<span class="chordline"><b>D</b>               <b>Bm</b>      <b>A</b>         <b>Bm</b>              </span>
<samp charset="UTF-8" class="lyricline">என் வாழ்வில் இன்பம் நீர்தானே அய்யா</samp>
<span class="chordline"><b>C</b>                <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னை இன்று அர்ப்பணித்தேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>G</b>               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">பாவத்தில் மாண்ட எம்மையே</samp>
<span class="chordline">          <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூக்கியே ஜீவன் தந்தீரே</samp>
<span class="chordline">        <b>G</b>      <b>A</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">உமை நோக்கியே நான் பார்த்ததில் </samp>
<span class="chordline"><b>Em</b>          <b>F#m</b>     <b>A</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நன்மைகள் தந்தீரே நன்றி தேவா</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>           <b>G</b>           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உம்முடன் வாழும் ஜீவியம்</samp>
<span class="chordline">              <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றும் மகிழ்ச்சி தந்திடும்</samp>
<span class="chordline">     <b>G</b>     <b>A</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதி பாடுவேன் கவி பாடுவேன்</samp>
<span class="chordline"><b>Em</b>        <b>F#m</b>           <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாரினில் என்றென்றும் நம்பிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>          <b>G</b>             <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">உந்தனின் சேவை செய்திட</samp>
<span class="chordline">          <b>A</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">எந்தனை இன்று தந்தேனே</samp>
<span class="chordline">       <b>G</b>     <b>A</b>         <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஜனம் தாருமே அருள் தாருமே</samp>
<span class="chordline"><b>Em</b>       <b>F#m</b>         <b>A</b>        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஊழியம் உம்முடன் செய்திடவே</samp>
<span class="blankline"></span></div></div>   
        
     </div>