<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4281" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவன் இயேசுவை போற்றி </samp>
<span class="chordline"><b>Bm</b>          <b>C</b>    <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">என்றென்றுமாய்   வாழ்த்துவோம்</samp>
<span class="chordline"><b>G</b>                           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அல்லோலூயா  அல்லோலூயா </samp>
<span class="chordline"><b>Em</b>           <b>C</b>    <b>D</b>         <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">அல்லோலூயா  அல்லோலூயா</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>     <b>C</b>        <b>Am</b>         <b>C</b></span>
<samp charset="UTF-8" class="lyricline">காலமெல்லாம்  அவரின் பின்னே</samp>
<span class="chordline"><b>G</b>          <b>D</b>               <b>G</b>        </span>
<samp charset="UTF-8" class="lyricline">தொடர்ந்து சென்று பணிகுவோம்</samp>
<span class="chordline">        <b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதியினாலே மகிமை படுத்தி</samp>
<span class="chordline">            <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிப்போம் இவரை என்றுமாய்</samp>
<samp charset="UTF-8" class="lyricline">  ..தேவாதி தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>C</b>       <b>Am</b>        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தடைகள் யாவும்    நீக்கும் தேவன்</samp>
<span class="chordline"><b>G</b>         <b>D</b>               <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">பணிந்து இவரை போற்றுவோம்</samp>
<span class="chordline">       <b>C</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தீமை ஒன்றும் அணுகிடாமல் </samp>
<span class="chordline">         <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">விலக்கி காக்கும் தேவனாம்</samp>
<samp charset="UTF-8" class="lyricline">  ..தேவாதி தேவன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>      <b>C</b>       <b>Am</b>            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஏற்ற வேளை    உயர்த்தும் தேவன்</samp>
<span class="chordline"><b>G</b>         <b>D</b>               <b>G</b>  </span>
<samp charset="UTF-8" class="lyricline">அவரின் கரத்தில் அடங்குவோம்</samp>
<span class="chordline">       <b>C</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ வழியில் சென்று நாமே</samp>
<span class="chordline">         <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் இவரை புகழுவோம்</samp>
<samp charset="UTF-8" class="lyricline">  ..தேவாதி தேவன்</samp>
<span class="blankline"></span></div></div>   
        
     </div>