<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4283" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் நம் இயேசுவே</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நல் அஸ்திபாரமாய்</samp>
<span class="chordline"><b>Gm</b>           <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">இப்பூவினில் நம் வாழ்வினை</samp>
<span class="chordline"><b>G</b>              <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">செம்மையாய் கட்டிடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>A7</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">இப்புவியின் செவாக்குகள்</samp>
<span class="chordline"><b>Gm</b>            <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அழிந்திடுமே மறைந்திடுமே – 2</samp>
<span class="chordline"><b>G</b>                     <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">அழியாத விசுவாசம் அன்பு நீதி</samp>
<span class="chordline"><b>G</b>              <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இவையாலே கட்டிடுவோம் – 2</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A7</b>            <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">திட்டமில்லா கட்டிடமே</samp>
<span class="chordline"><b>Gm</b>             <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">பயனற்றதாய் வீணாகுமே</samp>
<span class="chordline"><b>G</b>                        <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">நம் வாழ்வை தேவனின் சித்தப்படி</samp>
<span class="chordline"><b>G</b>         <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இனிதாக கட்டிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>A7</b>           <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சபையானது தேவாயம்</samp>
<span class="chordline"><b>Gm</b>             <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவக்கல்லாய் பொருந்திடுவோம்</samp>
<span class="chordline"><b>G</b>                    <b>C7</b></span>
<samp charset="UTF-8" class="lyricline">ராஜாவின் மாளிகை எழும்பிடவே</samp>
<span class="chordline"><b>G</b>            <b>C7</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இசைவாகக் கட்டிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் நம் </samp>
<span class="blankline"></span></div></div>   
        
     </div>