<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4284" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b>          <b>A#</b>      <b>C</b>        </span>
<samp charset="UTF-8" class="lyricline">வானத்தில் இயேசு தோன்றிடும்</samp>
<span class="chordline">      <b>A#</b>      <b>A</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அந்த நாளும் என்று வந்திடுமோ – 2</samp>
<span class="chordline"><b>C</b>             <b>F</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணாரவே கண்டிடுவோம்</samp>
<span class="chordline">      <b>C</b>       <b>A</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ ராஜன் இயேசுவையே – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>      <b>A7</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நேவா காலம் போலவே</samp>
<span class="chordline"><b>D</b>     <b>G</b>  <b>Dm</b>  </span>
<samp charset="UTF-8" class="lyricline">பாவமே பெருகுதே</samp>
<span class="chordline"><b>Dm</b>               <b>Gm</b>       <b>A#</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தலையை உயர்த்தி விழிப்பாய் தினமே</samp>
<span class="chordline"><b>Dm</b>     <b>A7</b>                      <b>Dm</b>        </span>
<samp charset="UTF-8" class="lyricline">தினம் நம் வாழ்வைக் காத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...வானத்தில்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>    <b>A7</b>    <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பக்தி நிறைந்தோராய்</samp>
<span class="chordline"><b>D</b>     <b>G</b>  <b>Dm</b>  </span>
<samp charset="UTF-8" class="lyricline">நீதியை காக்குமே</samp>
<span class="chordline"><b>Dm</b>              <b>Gm</b>      <b>A#</b>         <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உலகை வெறுத்து ஜீவியம் செய்குவேன்</samp>
<span class="chordline"><b>Dm</b>     <b>A7</b>                    <b>Dm</b>        </span>
<samp charset="UTF-8" class="lyricline">அவர் வருகைகாய் காத்திருபோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...வானத்தில்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>      <b>A7</b>   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வானம் பூமி மாறினும்</samp>
<span class="chordline"><b>D</b>         <b>G</b>   <b>Dm</b>  </span>
<samp charset="UTF-8" class="lyricline">வார்த்தையே மாறாதே</samp>
<span class="chordline"><b>Dm</b>           <b>Gm</b>       <b>A#</b>     <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அமைதி நிலவும் சுகமே துளிரும்</samp>
<span class="chordline"><b>Dm</b>   <b>A7</b>                    <b>Dm</b>        </span>
<samp charset="UTF-8" class="lyricline">புது மெய் வாழ்வு மலர்ந்திடும்</samp>
<samp charset="UTF-8" class="lyricline">   ...வானத்தில்</samp>
<span class="blankline"></span></div></div>   
        
     </div>