<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4285" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>                      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாய்  நம் தேவனை</samp>
<span class="chordline"><b>G</b>         <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">கீதங்கள் பாடி துதித்திடுவோம்</samp>
<span class="chordline"><b>D</b>             <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தொழுவோம் பணிந்திடுவோம்</samp>
<span class="chordline"><b>Em</b>          <b>A</b>       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">அவர் தான் பாத்திர்ரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                  <b>D</b>   <b>Bm</b>               <b>A</b>                  </span>
<samp charset="UTF-8" class="lyricline">மகிமையும் வல்லமை கனத்திற்டு பாத்திரர்</samp>
<span class="chordline"><b>Em</b>                  <b>A</b>       <b>D</b>        <b>A</b>     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">சகலமும் சிருஷ்டி தேவன் அதிபதி இயேசுவே</samp>
<span class="chordline"><b>E</b>                 <b>D</b>         </span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் இயேசு பரிசுத்தர்</samp>
<span class="chordline"><b>A</b>                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாத்திரர் இயேசு பாத்திரர்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆனந்தமாய் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                <b>D</b>   <b>Bm</b>               <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">ஒளிதரும் கண்களோ சுடர்தரும் பாதங்கள்</samp>
<span class="chordline"><b>Em</b>            <b>A</b>            <b>D</b>        </span>
<samp charset="UTF-8" class="lyricline">பெரு வெள்ள  இரைச்சல் சத்தம்</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வலக்கரம் வல்லமை</samp>
<span class="chordline"><b>E</b>                  <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">சிறந்தவர் அழகில் சிறந்தவர்</samp>
<span class="chordline"><b>Em</b>                   <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">துதிகளை செலுத்தி தொழுதிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆனந்தமாய் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>                <b>D</b>  <b>Bm</b>             <b>A</b> </span>
<samp charset="UTF-8" class="lyricline">ஜீவங்கள் மூப்பர்கள் தூதர்கள் யாவரும் </samp>
<span class="chordline"><b>Em</b>          <b>A</b>         <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">பணிந்திடும்  தேவன் நீரே</samp>
<span class="chordline"><b>A</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தர் இயேசுவே</samp>
<span class="chordline"><b>E</b>                    <b>D</b>   </span>
<samp charset="UTF-8" class="lyricline">ஆவியில் நிறைந்து தொழுகுவோம்</samp>
<span class="chordline"><b>Em</b>                  <b>A</b>          <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஆண்டவர் இவரை பணிந்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...ஆனந்தமாய் </samp>
<span class="blankline"></span></div></div>   
        
     </div>