<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4286" class="song songcont"><div class="songpre"><span class="chordline"><b>Em</b>      <b>G</b>         <b>A</b>        <b>Bm</b></span>
<samp charset="UTF-8" class="lyricline">எந்தன் வாஞ்சை பரலோகமே</samp>
<span class="chordline"><b>Am</b>      <b>B7</b>       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்று சேர்ந்திடுவேன்</samp>
<span class="chordline"><b>Em</b>        <b>G</b>            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என் நேசரை என் ராஜனை </samp>
<span class="chordline"><b>C</b>            <b>B7</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்று நான் கண்டிடுவேன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>     <b>Bm</b>    <b>A</b>            <b>G</b>        <b>B</b></span>
<samp charset="UTF-8" class="lyricline">நேசர் தேசமதில் என்றும் பேரின்பமே</samp>
<span class="chordline"><b>G</b>            <b>D</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் எல்லாம் மாறிடுமே</samp>
<span class="chordline"><b>C</b>        <b>A#</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்றும் ஆனந்தமே </samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன் வாஞ்சை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>       <b>Bm</b>      <b>A</b>               <b>G</b>       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">சாவின் கூர்மை யாவும் அழிந்து ஒழிந்த்தே</samp>
<span class="chordline"><b>G</b>        <b>D</b>              <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சஞ்சலமோ அங்கில்லையே</samp>
<span class="chordline"><b>C</b>          <b>A#</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நேசரைக் கண்டிடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன் வாஞ்சை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>    <b>Bm</b>        <b>A</b>           <b>G</b>      <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வீதி பொன்மயமே பாடியே மகிழுவேன்</samp>
<span class="chordline"><b>G</b>       <b>D</b>               <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ராப்பகலோ அங்கில்லையே</samp>
<span class="chordline"><b>C</b>           <b>A#</b>         <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">வெளிச்சம் இயேசு தானே</samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன் வாஞ்சை</samp>
<span class="blankline"></span>
<span class="chordline"><b>Em</b>    <b>Bm</b>       <b>A</b>           <b>G</b>       <b>B</b></span>
<samp charset="UTF-8" class="lyricline">ஜீவ தண்ணீரினால் தாகம் தீர்த்திடுவார்</samp>
<span class="chordline"><b>G</b>           <b>D</b>            <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளமெல்லாம் ஏங்கிடுதே</samp>
<span class="chordline"><b>C</b>       <b>A#</b>      <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என்று சேர்ந்திடுவேன்</samp>
<samp charset="UTF-8" class="lyricline">   ...எந்தன் வாஞ்சை</samp>
<span class="blankline"></span></div></div>   
        
     </div>