<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4288" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b>           <b>Gm</b>       <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">இயேசுவை காலையிலே</samp>
<span class="chordline"><b>A#</b>        <b>Gm</b>            <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">துதி பலி செலுத்தியே தொழுதிடுவோம்</samp>
<span class="chordline">        <b>A#</b>          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கிருபைகள் தங்கிடவே</samp>
<span class="chordline"><b>Gm</b>             <b>C</b>      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவைத் தேடிடுவோம் – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                  <b>A#</b>  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை தங்கிடுதே தேவனின்</samp>
<span class="chordline">        <b>C</b>      <b>A#</b>                <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சமுகமதில் – உதடுகள் துதித்திடவே</samp>
<span class="chordline"><b>A#</b>                   <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலை வேளை கூப்பிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவை  </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                    <b>A#</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரில் காத்திருந்தால் புது பெலன்</samp>
<span class="chordline">            <b>C</b>      <b>A#</b>                    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">அடைந்திடலாம் – வெளிச்சமே உதித்திடுமே</samp>
<span class="chordline"><b>A#</b>                   <b>C</b>          <b>F</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் ஜெயமே அடைத்திடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவை  </samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>                <b>A#</b>   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவனின் பாதமதில் நம்மையே</samp>
<span class="chordline">            <b>C</b>        <b>A#</b>                <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">படைத்திடுவோம் – தேவனின் சாயல்தனை</samp>
<span class="chordline"><b>A#</b>                   <b>C</b>       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலை அடைய நாடிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...இயேசுவை  </samp>
<span class="blankline"></span></div></div>   
        
     </div>