<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4289" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                <b>Am</b>   <b>D</b>        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் வாழ்ந்திடும் ஆலயத்தினில்</samp>
<span class="chordline"><b>C</b>           <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ வல்லமை தங்கும் என்றுமே</samp>
<span class="chordline"><b>G</b>                              <b>Am</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி வேந்தன் இயேசுவின் தேவ சக்தியே</samp>
<span class="chordline"><b>G</b>          <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் தோன்றிடுதே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                            <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை மேற்கொள்ளும் அதிகாரமும்</samp>
<span class="chordline"><b>Em</b>        <b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவாதி தேவனே தந்தனரே</samp>
<span class="chordline"><b>G</b>                   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">தந்திர மந்திரங்கள் தீமையும்</samp>
<span class="chordline"><b>G</b>                 <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">முற்றும் அழிந்து ஒழிந்து போகுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வாழ்ந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பொல்லாத நோய்களும் வேதனையும்</samp>
<span class="chordline"><b>Em</b>           <b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் வல்லமை நீக்கிடுமே</samp>
<span class="chordline"><b>G</b>                       <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் யாவையுமே மேற்கொண்டு</samp>
<span class="chordline"><b>G</b>              <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றியுடன் முன்னே செல்லுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வாழ்ந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">பாதாளம் வேதாளம் வென்றவராம்</samp>
<span class="chordline"><b>Em</b>           <b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை தந்தனர் வென்றிடவே</samp>
<span class="chordline"><b>G</b>                          <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">சாத்தானை மேற்கொண்டு நாமுமே</samp>
<span class="chordline"><b>G</b>                <b>D</b>          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வெற்றி வாகை சூடி மகழுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வாழ்ந்திடும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாறாத இயேசுவின் வார்த்தையிலே</samp>
<span class="chordline"><b>Em</b>          <b>D</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமை அதிகாரமும் தங்கினதே</samp>
<span class="chordline"><b>G</b>                         <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தரின் பிள்ளைகளின் வார்த்தையில்</samp>
<span class="chordline"><b>G</b>               <b>D</b>             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">வல்லமையும் தங்க வேண்டுமே</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் வாழ்ந்திடும்</samp>
<span class="blankline"></span></div></div>   
        
     </div>