<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4290" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>D</b>    <b>C</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவன் எழுந்தருள்வார் தேவ சபைதனிலே</samp>
<span class="chordline"><b>Em</b>               <b>D</b>    <b>C</b>     <b>D</b>        <b>G</b>     </span>
<samp charset="UTF-8" class="lyricline">வாசம் செய்திடுவார் தேவ சபைதனிலே</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Em</b>               <b>G</b>                </span>
<samp charset="UTF-8" class="lyricline">சுத்தர்கள் கூடிடும் ஐக்கியமே</samp>
<span class="chordline"><b>E</b>                   <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">போதனை அறிந்து வாழுவோம்</samp>
<span class="chordline"><b>D</b>                 <b>G</b></span>
<samp charset="UTF-8" class="lyricline">துதிகள் பொருத்தனை</samp>
<span class="chordline"><b>A</b>             <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">செலுத்தியே மகிழுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் எழுந்தருள்வார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>          <b>Em</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">சபையின் தலைவர் இயேசுவே</samp>
<span class="chordline"><b>E</b>                  <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">சபையை நடத்தி செல்லுவார்</samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காவல் செய்துமே</samp>
<span class="chordline"><b>A</b>          <b>D</b>      <b>G</b></span>
<samp charset="UTF-8" class="lyricline">காத்துமே நடத்துவார்</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் எழுந்தருள்வார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>         <b>Em</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பரிசுத்தம் காத்து யாவரும்</samp>
<span class="chordline"><b>E</b>                   <b>Am</b> </span>
<samp charset="UTF-8" class="lyricline">ஆவியில் நிறைந்து வாழ்ந்துமே</samp>
<span class="chordline"><b>D</b>               <b>G</b></span>
<samp charset="UTF-8" class="lyricline">எழுந்து கட்டிடுவோம்</samp>
<span class="chordline"><b>A</b>            <b>D</b>       <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவின் சபையினை</samp>
<samp charset="UTF-8" class="lyricline">   ...தேவன் எழுந்தருள்வார்</samp></div></div>   
        
     </div>