<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4297" class="song songcont"><div class="songpre"><span class="chordline"><b>C</b>	   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">ஆதி திரு வார்த்தை திவ்விய</samp>
<span class="chordline"><b>Dm</b>	        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அற்புத பாலனாகப் பிறந்தார்</samp>
<span class="chordline"><b>Am</b>	<b>G</b>	<b>C</b></span>
<samp charset="UTF-8" class="lyricline">அற்புத பாலனாகப் பிறந்தார் </samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	                <b>Em</b>        <b>G</b>	    </span>
<samp charset="UTF-8" class="lyricline">ஆதாம் தன் பாவத்தின் சாபத்தை தீர்த்திட (2)</samp>
<span class="chordline"><b>C</b>         <b>Dm</b>      <b>G</b>       <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">ஆதிரை யோரை யீடேற்றிட-2</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">மாசற்ற ஜோதி திருத்துவதோர் வஸ்து</samp>
<span class="chordline"><b>Dm</b>	          <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரியாம் கன்னியிட முதித்து</samp>
<span class="chordline"><b>Am</b>	  <b>G</b>	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">மரியாம் கன்னியிட முதித்து</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>                 <b>Em</b>       <b>G</b>	    </span>
<samp charset="UTF-8" class="lyricline">மகிமையை மறந்து தமை வெறுத்து -(2)</samp>
<span class="chordline"><b>C</b>         <b>Dm</b>     <b>G</b>     <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">மனுக் குமாரன் வேஷமாய்</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்ன தகஞ்சீர் முகஞ்சீர் வாசகர்</samp>
<span class="chordline"><b>Dm</b>	             <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மின்னுஞ்சீர் வாசகர் மேனி நிறம் எழும்</samp>
<span class="chordline"><b>Am</b>                 <b>Em</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத காதலும் பொருந்தவே – சர்வ</samp>
<span class="chordline"><b>Am</b>	              <b>G</b>      <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">நன்மை சொரூபனார் ரஞ்சிதனார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	   <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">தாம் தாம் தன்னர வன்னர</samp>
<span class="chordline"><b>Dm</b>   <b>F</b>   <b>G</b>      <b>C</b>  </span>
<samp charset="UTF-8" class="lyricline">தீம் தீம் தீமையகற்றிட</samp>
<span class="chordline"><b>C</b>                 <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">சங்கிர்த சங்கிர்த சங்கிர்த சந்தோ</samp>
<span class="chordline"><b>G</b>	  <b>Dm</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஷமென சோபனம் பாடவே-2</samp>
<span class="chordline"><b>Am</b>	                    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இங்கிர்த இங்கிர்த இங்கிர்த நமது</samp>
<span class="chordline"><b>F</b>	        <b>G</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">இருதயத்திலும் எங்கும் நிறைந்திட</samp>
<span class="blankline"></span>
<span class="chordline"><b>C</b>	   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா சங்கீர்த்தனம் </samp>
<span class="chordline"><b>Dm</b>                <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த கீதங்கள் பாடவே</samp>
<span class="chordline"><b>Am</b>	 <b>G</b>	  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்த கீதங்கள் பாடவே</samp>
<span class="chordline"><b>C</b>	                 <b>Em</b>         <b>G</b>         	    </span>
<samp charset="UTF-8" class="lyricline">அல்லைகள் தொல்லைகளெல்லாம் நீங்கிட</samp>
<span class="chordline">  <b>C</b>        <b>Dm</b>          <b>G</b>     <b>C</b>   </span>
<samp charset="UTF-8" class="lyricline">அற்பரன் மெய்ப்பரன் தற்பரனார்</samp>
<samp charset="UTF-8" class="lyricline">   ...தாம் தாம்</samp></div></div>   
        
     </div>