<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4298" class="song songcont"><div class="songpre"><span class="chordline"><b>A</b>	                <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அசைந்திடு அசைந்திடு உலகமே அசைந்திடு</samp>
<span class="chordline"><b>A</b>	                     <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவாக்காய் அசைந்திடு நீ</samp>
<span class="chordline"><b>A</b>	                <b>D</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மகிழ்ந்திடு மகிழ்ந்திடு ஆவியில் மகிழ்ந்திடு</samp>
<span class="chordline"><b>A</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவாக்காய் மகிழ்ந்திடு நீ</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	      <b>F#m</b>	<b>Bm</b>	     <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">துன்பங்களை நீக்கி நம் துயரங்களை போக்கி</samp>
<span class="chordline"><b>Bm</b>	      <b>F#m</b>	   <b>Bm</b>	             <b>F#m</b></span>
<samp charset="UTF-8" class="lyricline">பயமெல்லாம் மாற்றி நம் கவலையெல்லாம் போக்கி</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>	      <b>D</b>	        <b>E</b>	                <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எனக்காக வந்தீரே என் வாழ்வை நீர் மாற்றி தந்தீரே</samp>
<span class="chordline"><b>A</b>           <b>E</b>	      <b>D</b>	         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசீத்தீரே நேசீத்தீரே நேசீத்தீரே இயேசுவே</samp>
<span class="chordline"><b>A</b>          <b>E</b>	      <b>D</b>	         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">நேசீத்தீரே நேசீத்தீரே நேசீத்தீரே இயேசுவே </samp>
<samp charset="UTF-8" class="lyricline">   ----அசைந்திடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                           <b>Bm</b>	      <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரின் பள்ளத்தாக்கை களிப்பாக மாற்றுவார்</samp>
<span class="chordline"><b>A</b>                          <b>D</b>	     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீரைத் துடைக்கின்ற நேசராக வருவார்</samp>
<span class="chordline"><b>A</b>	     <b>E</b>	         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கலங்காதே கலங்காதே திகையாதே - 2</samp>
<samp charset="UTF-8" class="lyricline">   ----அசைந்திடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                          <b>Bm</b>	     <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வறுமையும் வெறுமையும் நீங்கியே போகும்</samp>
<span class="chordline"><b>A</b>                            <b>D</b>	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">வேதனையும் சோதனையும் மாறியே போகும்</samp>
<span class="chordline"><b>A</b>	        <b>E</b>	       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">சோர்ந்திடாதே சோர்ந்திடாதே கலங்கிடாதே – 2</samp>
<samp charset="UTF-8" class="lyricline">   ---அசைந்திடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>A</b>                      <b>Bm</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தோல்விகள் எல்லாம் ஜெயமாய் மாறும்</samp>
<span class="chordline"><b>A</b>                    <b>D</b>	            <b>A</b></span>
<samp charset="UTF-8" class="lyricline">துக்கங்கள் எல்லாம் சந்தோஷமாய் மாறும்</samp>
<span class="chordline"><b>A</b>	       <b>E</b>	    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஜெயமுண்டு ஜெயமுண்டு வெற்றி நமக்கே-2</samp>
<samp charset="UTF-8" class="lyricline">   ---அசைந்திடு</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>