<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4299" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b>	                   </span>
<samp charset="UTF-8" class="lyricline">சின்ன சின்ன மலர்களாய் </samp>
<span class="chordline"><b>Bm</b>	          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மலர்ந்து நிற்க வேண்டும்</samp>
<span class="chordline"><b>D</b>	                     </span>
<samp charset="UTF-8" class="lyricline">வண்ண வண்ணப் பூக்களாய் </samp>
<span class="chordline"><b>Bm</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">ஆடிப்பாட வேண்டும் – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>	        <b>F#m</b>  <b>G</b>	                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூர தொனிகள் பாட மேய்ப்பர் மகிழ்ந்து ஆட</samp>
<span class="chordline">     <b>Em</b>                        <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">என் தேவன் பிறப்பின... அதிசயம்</samp>
<span class="chordline"><b>Bm</b>	        <b>F#m</b>   <b>G</b>	                  <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தூர தொனிகள் பாட மேய்ப்பர் மகிழ்ந்து ஆட</samp>
<span class="chordline">     <b>Em</b>                             <b>A</b>	</span>
<samp charset="UTF-8" class="lyricline">என் தேவன் பிறப்பு கண்ணில் அற்புதம் </samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>	         <b>A</b>	                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணின் மீது மதியானது என்ன அதிசயம்</samp>
<span class="chordline"><b>D7</b>	           <b>Em</b>          <b>A</b></span>
<samp charset="UTF-8" class="lyricline">கன்னி மகனானது என்ன அற்புதம்</samp>
<span class="chordline"><b>D</b>             <b>A</b>	                         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">விண் தூதன் வாழ்த்து பாட என்ன அதிசயம்</samp>
<span class="chordline"><b>D7</b>	                      <b>Em</b>         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">விண்ணின் வழிக் காட்டியது என்ன அற்புதம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Bm</b>              <b>F#m</b>      	</span>
<samp charset="UTF-8" class="lyricline">யாத்திரீயர் தேட   மேய்ப்பர்கள் மகிழ்ந்தாட</samp>
<span class="chordline"><b>Bm</b>                         <b>F#m</b>     </span>
<samp charset="UTF-8" class="lyricline">ஏழையாய்  பிறந்தார் என் தேவன் </samp>
<span class="chordline"><b>Em</b>	                    <b>A</b></span>
<samp charset="UTF-8" class="lyricline">உன்னதம் என்ன கூற அதிசயம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>