<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4300" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>	           <b>A#</b>	            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு பிறந்தாரே எந்தன் உள்ளத்திலே</samp>
<span class="chordline"><b>Gm</b>	           <b>Cm</b>	            <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு பிறந்தாரே மகிழ்ந்து பாடிடுவோம்</samp>
<span class="chordline"><b>Cm</b>	              <b>Eb</b>              <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">பாவங்கள் போக்கிட இரட்சகர் பிறந்தாரே</samp>
<span class="chordline"><b>Cm</b>                <b>Eb</b>              <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">சாபங்கள் நீக்கிட நித்தியர் பிறந்தாரே</samp>
<span class="chordline"><b>Gm</b>	   <b>Eb</b>	 <b>A#</b>	   <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஹாலேலூயா  ஹாலேலூயா (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	  <b>A#</b>	 <b>F</b>  <b>Gm</b>           <b>A#</b>	   <b>F</b>       </span>
<samp charset="UTF-8" class="lyricline">தூதர்கள் பாடிட    சாஸ்திரிகள் தொழுதிட</samp>
<span class="chordline"><b>Gm</b>	      <b>A#</b>	 <b>F</b>      <b>Gm</b>   <b>A#</b>      <b>F</b>       </span>
<samp charset="UTF-8" class="lyricline">மேய்ப்பர்கள் வணங்கிட   அற்புதம்  நடந்திட</samp>
<span class="chordline"><b>Cm</b>	             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் சூரியனாய் இயேசு பிறந்தாரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	  <b>A#</b>	   <b>F</b>      <b>Gm</b>     <b>A#</b>	<b>F</b>       </span>
<samp charset="UTF-8" class="lyricline">கட்டுகள் அறுந்திட   விடுதலை தந்திட</samp>
<span class="chordline"><b>Gm</b>	    <b>A#</b>     <b>F</b>       <b>Gm</b>    <b>A#</b>	 <b>F</b>       </span>
<samp charset="UTF-8" class="lyricline">வியாதிகள் நீங்கிட   அதிசயம்  நடந்திட</samp>
<span class="chordline"><b>Cm</b>	             <b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீதியின் சூரியனாய் இயேசு பிறந்தாரே</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>