<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4301" class="song songcont"><div class="songpre"><span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">குளிர் காலம் பனி நேரம் </samp>
<span class="chordline">     <b>A#</b>      <b>C</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நம் தேவன் வந்துதித்தார்</samp>
<span class="chordline"><b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மறை நூலை நிறைவேற்ற</samp>
<span class="chordline">     <b>A#</b>         <b>C</b>        <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">நம் மன்னவன் அவதரித்தார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>	               <b>Gm</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">வார்த்தையவர் இங்கு வந்துதித்தார்</samp>
<span class="chordline">       <b>A#</b>	<b>C</b>	   <b>Gm</b>	      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் நம்மிடையே இங்கு குடி கொள்வார்</samp>
<span class="chordline"><b>G</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் பாவங்கள் அகன்றிடவே-2</samp>
<span class="chordline"><b>Dm</b>	             <b>A7</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாலனாய் நம்மிலே வந்துதித்தார்</samp>
<span class="chordline">      <b>Dm</b>                   <b>A7</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பாலனாய் நம்மிலே வந்துதித்தார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Dm</b>               <b>Gm</b>          <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">உன்னத தேவன் உதித்துவிட்டார்</samp>
<span class="chordline">       <b>A#</b>	 <b>C</b>	     <b>Gm</b>	       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">அவர் உன்னதத்தில் நம்மை நிறுத்திடுவார்</samp>
<span class="chordline"><b>G</b>                    <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பூமியின் பாவங்கள் அகன்றிடவே-2</samp>
<span class="chordline"><b>Dm</b>	             <b>A7</b>       <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">பாலனாய் நம்மிலே வந்துதித்தார்</samp>
<span class="chordline">       <b>Dm</b>	           <b>A7</b>      <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பாலனாய் நம்மிலே வந்துதித்தார்</samp>
<span class="blankline"></span></div></div>   
        
     </div>