<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4302" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>	<b>Em</b>	   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் எனக்காய் யாவையும்</samp>
<span class="chordline">         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">செய்து முடிப்பார் – 4</samp>
<span class="chordline"><b>G</b>	      <b>Bm</b>	    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சொன்னதை செய்யும்வரை அவர்</samp>
<span class="chordline">	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்னைக் கைவிடுவதில்லை – 2</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	           <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் எனக்காய் கர்த்தர் எனக்காய்</samp>
<span class="chordline"><b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">யாவையும் செய்து முடிப்பார்</samp>
<span class="chordline"><b>G</b>	          <b>Em</b>	</span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் எனக்காய் கர்த்தர் எனக்காய்</samp>
<span class="chordline"><b>C</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மலைகளை பெயர்ப்பாரே</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் எனக்காய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>              <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீர் சொன்னது நடக்குமோ</samp>
<span class="chordline">       <b>C</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்ற சந்தேகம் இல்லை</samp>
<span class="chordline">    <b>G</b>	               <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நீர் நினைத்தது நிலை நிற்குமோ</samp>
<span class="chordline">       <b>C</b>	    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">என்ற பயமும் இல்லை</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் எனக்காய்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>	       <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">என் நிந்தனை நிரந்தரம்</samp>
<span class="chordline"><b>C</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இல்லை என்றீரே</samp>
<span class="chordline"><b>G</b>	           <b>Em</b></span>
<samp charset="UTF-8" class="lyricline">நான் இழந்ததைத் திரும்பவும் </samp>
<span class="chordline"><b>C</b>	        <b>D</b></span>
<samp charset="UTF-8" class="lyricline">தருவேன் என்றீரே</samp>
<samp charset="UTF-8" class="lyricline">   ...கர்த்தர் எனக்காய்</samp>
<span class="blankline"></span>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>