<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4303" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>	             <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">மேகங்கள் உடனே  வருகிறார்</samp>
<span class="chordline"><b>Eb</b>                       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கண்கள் யாவும் அவரை காணவே</samp>
<span class="chordline"><b>Cm</b>	                  <b>F</b></span>
<samp charset="UTF-8" class="lyricline">குத்தினவர்கள் அவரைக் காண்பார்கள்</samp>
<span class="chordline"><b>Dm</b>                       <b>Gm</b>       </span>
<samp charset="UTF-8" class="lyricline">தோத்திரங்கள் அவரைப் புகழும்</samp>
<span class="chordline"><b>Dm</b>         <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">வருகிறார் வருகிறார் </samp>
<span class="chordline"><b>F</b>                  <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வருகிறார் இயேசு வருகிறார்</samp>
<span class="chordline"><b>Gm</b>	        <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஹாலேலூயா  ஹாலேலூயா </samp>
<span class="chordline"><b>F</b>	               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஹாலேலூயா இயேசு வருகிறார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	            <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இருந்தவரும் இருக்கின்றவரும் </samp>
<span class="chordline"><b>F</b>	            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வருவபவரும் சர்வ வல்லவர்</samp>
<span class="chordline"><b>Gm</b>	             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உமக்கே மகிமை</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b>	         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ராஜரே உமக்கே மகிமை</samp>
<span class="chordline"><b>Gm</b>	       <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஹாலேலூயா ஹாலேலூயா </samp>
<span class="chordline"><b>F</b>	               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஹாலேலூயா இயேசு வருகிறார்</samp>
<span class="chordline"><b>Gm</b>	       <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தூதனே வருகிறார்</samp>
<span class="chordline"><b>Eb</b>	                 <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கண்கள் யாவும் அவரை காணும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஆல்பாவும் ஓமேகாவும்</samp>
<span class="chordline"><b>F</b>	            <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஆதியும் அந்தமும் ஆனவர்</samp>
<span class="chordline"><b>Gm</b>	            <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உமக்கே மகிமை</samp>
<span class="chordline"><b>F</b>	         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ராஜரே உமக்கே மகிமை</samp>
<samp charset="UTF-8" class="lyricline">   --- ஹாலே லூ யா	</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b>	       <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">முந்தினவரும் பிந்தினவரும்</samp>
<span class="chordline"><b>F</b>	               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">மரித்தவரும் உயிரோடிருக்கிறார்</samp>
<span class="chordline"><b>Gm</b>	             <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே உமக்கே மகிமை</samp>
<span class="chordline"><b>F</b>	         <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ராஜரே உமக்கே மகிமை</samp>
<samp charset="UTF-8" class="lyricline">   ---ஹாலே லூ யா </samp>
<span class="blankline"></span>
<span class="chordline"><b>Cm</b>	                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">குத்தினவர்கள் அவரைக் காண்பார்கள்</samp>
<span class="chordline"><b>Dm</b>                       <b>Gm</b>       </span>
<samp charset="UTF-8" class="lyricline">தோத்திரங்கள் அவரைப் புகழும்</samp>
<span class="chordline"><b>Dm</b>          <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">வருகிறார் வருகிறார் </samp>
<span class="chordline"><b>F</b>                   <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வருகிறார் இயேசு வருகிறார்</samp>
<span class="chordline"><b>Gm</b>	       <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஹாலேலூயா ஹாலேலூயா </samp>
<span class="chordline"><b>F</b>	               <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஹாலேலூயா இயேசு வருகிறார்</samp>
<samp charset="UTF-8" class="lyricline">   ---ஹாலே லூ யா </samp>
<span class="blankline"></span></div></div>   
        
     </div>