<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4316" class="song songcont"><div class="songpre"><span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">நீர் எனக்குப் போதும் (4)</samp>
<span class="chordline"><b>Am</b>	   <b>Dm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் எப்போதும்</samp>
<span class="chordline">	  <b>A#</b></span>
<samp charset="UTF-8" class="lyricline">நீரே என் சொந்தம்-2</samp>
<span class="chordline"><b>F</b>	    <b>C</b>	         <b>F</b></span>
<samp charset="UTF-8" class="lyricline">இயேசுவே நீர் எனக்குப் போதும் (2)</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் தாயும் தந்தையும் நீர் தானே</samp>
<span class="chordline"><b>C</b>	                     <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தாங்கிடும் துருகமும் நீர் தானே-2</samp>
<span class="chordline"><b>F</b>		        <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சுற்றமும் நட்பும் நீர் தானே</samp>
<span class="chordline"><b>Am</b>	    <b>A#</b>	       <b>C</b>	<b>F</b></span>
<samp charset="UTF-8" class="lyricline">சுமந்திடும் சுமைதாங்கி  நீர் தானே – 2</samp>
<samp charset="UTF-8" class="lyricline">   ....நீர் எனக்குப்</samp>
<span class="blankline"></span>
<span class="chordline"><b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேற்றிடும் சிநேகிதன் நீர் தானே</samp>
<span class="chordline"><b>C</b>	                 <b>F</b></span>
<samp charset="UTF-8" class="lyricline">ஆறுதம் தேறுதல் நீர் தானே</samp>
<span class="chordline"><b>F</b>		           <b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஞானமும் அறிவும் நீர் தானே</samp>
<span class="chordline"><b>Am</b>	   <b>A#</b>	     <b>C</b>	      <b>F</b></span>
<samp charset="UTF-8" class="lyricline">என் சுகம் பெலனும்   நீர் தானே</samp>
<samp charset="UTF-8" class="lyricline">   ....நீர் எனக்குப்</samp>
<span class="blankline"></span></div></div>   
        
     </div>