<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4318" class="song songcont"><div class="songpre"><span class="chordline"><b>Am</b>	             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">அதிகாலையில் என் கனவினில்</samp>
<span class="chordline">        <b>Am</b>	        <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு ராஜன் தோன்றினாரே</samp>
<span class="chordline"><b>Am</b>	             <b>C</b></span>
<samp charset="UTF-8" class="lyricline">தீர்மான்ங்கள் நிறைவேற்றுங்கள்</samp>
<span class="chordline">      <b>Am</b>	          <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இது கடைசி தருணம் என்றார்</samp>
<span class="chordline"><b>Am</b>	   <b>G</b>	        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சீக்கிரமாக   வருவேன் என்றார்</samp>
<span class="chordline"><b>C</b>	       <b>G</b>	   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் யாவும்   விலக்கச் செய்தார்</samp>
<span class="chordline"><b>Am</b>	   <b>G</b>        <b>F</b></span>
<samp charset="UTF-8" class="lyricline">சாட்சியாக  வாழச் சொன்னார்</samp>
<span class="chordline"><b>C</b>	         <b>G</b>	   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வறுமைத் தீயை   அழித்தவர் </samp>
<span class="blankline"></span>
<span class="chordline"><b>Am</b>	               <b>C</b></span>
<samp charset="UTF-8" class="lyricline">நேற்று செய்த உந்தன் பாவ பாரங்களை</samp>
<span class="chordline"><b>Am</b>                     <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மீண்டும் நீயும் இன்று சுமப்பாயாம்</samp>
<span class="chordline"><b>Am</b>	                   <b>C</b></span>
<samp charset="UTF-8" class="lyricline">சேற்றில் வாழ்ந்த உந்தன் வாழ்க்கை பாதையை</samp>
<span class="chordline"><b>Am</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">நாளை நீ கடந்து செல்வாயாம்</samp>
<span class="chordline"><b>Dm</b>	           <b>G</b>        <b>Am</b>	</span>
<samp charset="UTF-8" class="lyricline">கசக்கும் தீமையா அன்பின் தெய்வமா</samp>
<span class="chordline"><b>Dm</b>	          <b>G</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உலக இச்சையா மறுமை இன்பமா</samp>
<span class="chordline"><b>C</b>	              <b>G</b>	        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உன்னை அழைக்கும் தேவனைப் பார்</samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">உனக்கும் விடுதலை பரப்பில் நிச்சியம் உண்டு</samp>
<samp charset="UTF-8" class="lyricline">.</samp>
<span class="chordline"><b>Am</b>              <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வன்புரைகளும் யுத்த பூமியும் </samp>
<span class="chordline"><b>Am</b>                   <b>G</b></span>
<samp charset="UTF-8" class="lyricline">அன்பு கிருஸ்துவின் அரசாங்கம்</samp>
<span class="chordline"><b>Am</b>                  <b>C</b></span>
<samp charset="UTF-8" class="lyricline">வீழுந்த சீற்றங்கள் இயற்கை மாற்றங்கள்</samp>
<span class="chordline"><b>Am</b>	                  <b>G</b></span>
<samp charset="UTF-8" class="lyricline">இரண்டாம் வருகையின் அடையாளம்</samp>
<span class="chordline"><b>Dm</b>	            <b>G</b>        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">வானம் திறக்கவே வருவார் தேவனே</samp>
<span class="chordline"><b>Dm</b>	         <b>G</b>   <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆனந்தமாகவே பூமி மாறுமே</samp>
<span class="chordline"><b>C</b>                  <b>G</b>	        <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணீர் இல்லை கவலை இல்லை </samp>
<span class="chordline"><b>Am</b></span>
<samp charset="UTF-8" class="lyricline">ஆயிரமாயிரம் ஆண்டுகள் மகிழுவோம்</samp>
<span class="blankline"></span>
<span class="blankline"></span></div></div>   
        
     </div>