<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4320" class="song songcont"><div class="songpre"><span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">டிங் டிங் டாங் மணி ஓசைகள் துள்ளிட</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சிங் சிங் கேரல்கள் இன்னிசை கேட்டிட</samp>
<span class="chordline"><b>D</b>	       <b>A</b>	           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">மீட்பர் இயேசு பாலன் வருகையே கிருஸ்மஸ் </samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">வின்ட்டர்  சீசன் வெண்பனி துவிட</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">ட்வின்க்கள் ஸ்டார்கள் எங்கும் மின்னிட</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">அன்பின் தேவன் ஆனந்த வருகை கிருஸ்மஸ்  </samp>
<span class="chordline"><b>D</b>	        <b>A</b>	       <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புல்லனை மீது அழகாய் பூத்த ரோஜா</samp>
<span class="chordline">      <b>Bm</b>	     <b>F#m</b>	     <b>D</b></span>
<samp charset="UTF-8" class="lyricline">இந்த பூமியில் வந்த எங்கள் இயேசு ராஜா</samp>
<span class="chordline"><b>G</b>	                       <b>D</b> </span>
<samp charset="UTF-8" class="lyricline">நட்சத்திரம் மின்னும் இரவில் நம்பிக்கை நாயகனாக</samp>
<span class="chordline"><b>G</b>                            <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாலகனாய் தேவ மைந்தன் வந்தாரே</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                        <b>A</b>              <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நாளைகளை நமதாக்கும் நம்பிக்கையே கிருஸ்மஸ்</samp>
<span class="chordline"><b>Bm</b>                               <b>F#m</b>                   <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம் ஆண்டவர் மேல் விசுவாசம் உறுதியாக்கும் கிருஸ்மஸ்</samp>
<span class="chordline"><b>G</b>                                  <b>A</b></span>
<samp charset="UTF-8" class="lyricline">எல்லோரும் ஒன்றாய் சேர்வோம் இயேசுவைப் பாடித் துதிப்போம்</samp>
<span class="chordline"><b>Em</b>                              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">அன்பைப் பகிர்ந்து வாழ்வோம் ஆடிப் பாடி மகிழ்வோம்</samp>
<span class="chordline"><b>A</b>                                    <b>D</b></span>
<samp charset="UTF-8" class="lyricline">வேண்டுதல் கேட்டு நன்மை நமக்கே தருவாரே</samp>
<span class="chordline">     <b>A</b>                                <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம் இல்லம் காத்து குறைகள் யாவும் தீப்பாரே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">குடையோடு நடந்திடும் கோடையில் </samp>
<span class="chordline"><b>Bm</b>                               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இன்ப அடை மழைப் பொழிவது போல்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">மனமெனும் குடிலில் லில்லிப் பூவாய்</samp>
<span class="chordline"><b>G</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாலன் பூத்தாரே</samp>
<samp charset="UTF-8" class="lyricline"> - டிங் டிங் டாங்</samp>
<span class="blankline"></span>
<span class="chordline"><b>D</b>                           <b>A</b>           <b>D</b></span>
<samp charset="UTF-8" class="lyricline">புன்னகையால் பூமியினை அழகாக்கும் கிருஸ்மஸ்</samp>
<span class="chordline"><b>Bm</b>                      <b>F#m</b>         <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஏழைகளும் பசியாறும் நல்விருந்து கிருஸ்மஸ்</samp>
<span class="chordline"><b>G</b>                         <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணில் மனித நேயம் மலரச் செய்யும் வேதம்</samp>
<span class="chordline"><b>Em</b>                       <b>A</b></span>
<samp charset="UTF-8" class="lyricline">பொங்கும் தேவ கானம் எங்கும் சமாதானம்</samp>
<span class="chordline"><b>A</b>                               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாவம் என்னும் இருளிலிருந்து மீட்பாரே</samp>
<span class="chordline">        <b>A</b>                               <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நம்மை பரிசுத்தமாக்கி தேவன் என்றும் காப்பாரே</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">குடையோடு நடந்திடும் கோடையில் </samp>
<span class="chordline"><b>Bm</b>                               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">இன்ப அடை மழைப் பொழிவது போல்</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">மனமெனும் குடிலில் லில்லிப் பூவாய்</samp>
<span class="chordline"><b>G</b>             <b>D</b></span>
<samp charset="UTF-8" class="lyricline">பாலன் பூத்தாரே</samp>
<samp charset="UTF-8" class="lyricline"> - டிங் டிங் டாங்</samp>
<span class="blankline"></span></div></div>   
        
     </div>