<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4323" class="song songcont"><div class="songpre"><span class="chordline"><b>Gm</b>                                    <b>F</b></span>
<samp charset="UTF-8" class="lyricline">தேனா இனிக்க ஒரு சேதியை சொல்வோம்</samp>
<span class="chordline"><b>F</b>                                    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கர்த்தர் இயேசு நல் சேதியை சொல்வோம்</samp>
<span class="chordline"><b>Gm</b>              <b>F</b>                  <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">ஒன்னாக் கூடுவோம் நல்லா பாடுவோம்</samp>
<span class="chordline"><b>Gm</b>              <b>F</b>                           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷத்தை அள்ளித் தூவி ஆட்டம் ஆடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எந்நாளும் எந்நாளும் சமாதானம் தந்தாரு</samp>
<span class="chordline"><b>F</b>                                           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">சந்தோஷத்த கொண்டாடு துள்ளிக் கொண்டாடு</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ராசாதி ராசனாம் தேவாதி தேவனாம்</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">எல்லாதையும் விட்டுபிட்டு ஏழையானாரு</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஏழைப் பங்காளனாம் பாமரனின் தோழனாம்</samp>
<span class="chordline"><b>Cm</b>                           <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு என்னும் பெயரோடு அவதரிச்சாரு</samp>
<span class="chordline"><b>Gm</b>         <b>F</b>                        <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இவரோட பெயருக்கு இனையேயில்லை</samp>
<span class="chordline"><b>F</b>                       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இவரோட மகிமைக்கும் குறைவேயில்லை</samp>
<span class="chordline"><b>Gm</b>         <b>F</b>                     <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இவரோட ஆட்சிக்கு முடிவேயில்லை</samp>
<span class="chordline"><b>F</b>                    <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இவரோட மாட்சிக்கு ஈடேயில்லை</samp>
<samp charset="UTF-8" class="lyricline">-----எந்நாளும்</samp>
<span class="blankline"></span>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">வானாதி வானமும் வாழும் இந்த பூமியும்</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">கண்ணாளனைக் கண்ட பின்னும் வாடிப் போகுமா</samp>
<span class="chordline"><b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">ஏழைப் பணக்காரரும் இல்லாதவர் கூட்டமும்</samp>
<span class="chordline"><b>Cm</b>                             <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இந்நாளையே ஒன்றா சேர்ந்து கொண்டாடுவோமா</samp>
<span class="chordline"><b>Gm</b>         <b>F</b>                      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இவரன்றி உலகுக்கு ஒளியே இல்லை</samp>
<span class="chordline"><b>F</b>                       <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இவரன்றி உண்மைக்கு பொருளே இல்லை</samp>
<span class="chordline"><b>Gm</b>         <b>F</b>                      <b>Eb</b></span>
<samp charset="UTF-8" class="lyricline">இவரோட அன்புக்கு எல்லை இல்லை</samp>
<span class="chordline"><b>F</b>                      <b>Gm</b></span>
<samp charset="UTF-8" class="lyricline">இவரோட நன்மைக்கு அளவே இல்லை</samp>
<samp charset="UTF-8" class="lyricline">-----------எந்நாளும்</samp></div></div>   
        
     </div>