<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4346" class="song songcont"><div class="songpre"><span class="chordline"><b>E</b>               <b>F#m</b>     <b>B</b></span>
<samp charset="UTF-8" class="lyricline">வானத்தில் ஓர் நட்சத்திரம்</samp>
<span class="chordline"><b>A</b>           <b>F#m</b>  <b>B</b>         <b>E</b>       </span>
<samp charset="UTF-8" class="lyricline">என் உள்ளத்தில் இயேசு ராஜன்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>                   <b>A</b></span>
<samp charset="UTF-8" class="lyricline">மாட்டுக் கொட்டினிலே</samp>
<span class="chordline"><b>B7</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">இயேசு பிறந்தாரே</samp>
<span class="chordline"><b>F#m</b>                <b>E</b></span>
<samp charset="UTF-8" class="lyricline">ஏழ்மைக் கோலமதாய்</samp>
<span class="chordline">     <b>B7</b>             <b>E</b></span>
<samp charset="UTF-8" class="lyricline">நம் இயேசு பிறந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">   ...வானத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>               <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேவ தூதர் போல</samp>
<span class="chordline"><b>B7</b>                  <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணில் வந்துதித்தார்</samp>
<span class="chordline"><b>F#m</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">மண்ணில் மனிதராய்</samp>
<span class="chordline">     <b>B7</b>              <b>E</b>         </span>
<samp charset="UTF-8" class="lyricline">என் மன்னர் பிறந்தாரே</samp>
<samp charset="UTF-8" class="lyricline">   ...வானத்தில்</samp>
<span class="blankline"></span>
<span class="chordline"><b>E</b>              <b>A</b></span>
<samp charset="UTF-8" class="lyricline">தேடி வந்த ராஜன்</samp>
<span class="chordline"><b>B7</b>               <b>E</b></span>
<samp charset="UTF-8" class="lyricline">வாசம் செய்கிறாரே</samp>
<span class="chordline"><b>F#m</b>              <b>E</b></span>
<samp charset="UTF-8" class="lyricline">உள்ளம் திறந்ததால்</samp>
<span class="chordline"><b>B7</b>                   <b>E</b></span>
<samp charset="UTF-8" class="lyricline">அவரைப் போற்றிடுவோம்</samp>
<samp charset="UTF-8" class="lyricline">   ...வானத்தில்</samp>
<span class="blankline"></span></div></div>   
        
     </div>