<div class="entrybody"><div id="jtab" class="chordcont"></div> 				
        <div id="4347" class="song songcont"><div class="songpre"><span class="chordline"><b>G</b>                   <b>C</b>   <b>D</b>             <b>G</b>                 </span>
<samp charset="UTF-8" class="lyricline">அன்பின் வாழ்த்துக்கள் எங்கும் கூறுவோம்</samp>
<span class="chordline"><b>Em</b>               <b>C</b>      <b>D</b>              <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மேசியா இயேசு ராஜன் பாரில் தோன்றினார்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">விந்தையாய் இந்தப் பூவில்</samp>
<span class="chordline"><b>Am</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">நிந்தைகள் யாவும் ஏற்க – கந்தையில்</samp>
<span class="chordline">      <b>Em</b>       <b>D</b>           <b>G</b></span>
<samp charset="UTF-8" class="lyricline">தேவ பாலன் அதிசயமாயினார்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாலனைப் போற்றுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா கீதம்பாடி ஆனந்தமாய்</samp>
<span class="chordline">             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாட்டுப்பாடி விண்மணியை கண்மணியை</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒப்பில்லாத வான் பரனை</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியனை நித்தியனை கன்னி மரி</samp>
<span class="chordline"><b>G</b>           <b>C</b>         <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாலகனை போற்றிப் பாடுவோம்</samp>
<span class="blankline"></span>
<span class="chordline"><b>G</b>                    <b>C</b></span>
<samp charset="UTF-8" class="lyricline">கோனவர்  பணிந்து போற்ற</samp>
<span class="chordline"><b>Am</b>                 <b>D</b></span>
<samp charset="UTF-8" class="lyricline">ஞானியர் வியந்து வாழ்த்த – புல்லணை</samp>
<span class="chordline">       <b>Em</b>    <b>D</b>                <b>G</b></span>
<samp charset="UTF-8" class="lyricline">மீதில் தேவ பாலகன் துயில்கிறார்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாலனைப் போற்றுவோம்</samp>
<span class="chordline"><b>G</b></span>
<samp charset="UTF-8" class="lyricline">அல்லேலூயா கீதம்பாடி ஆனந்தமாய்</samp>
<span class="chordline">             <b>Am</b></span>
<samp charset="UTF-8" class="lyricline">பாட்டுப்பாடி விண்மணியை கண்மணியை</samp>
<span class="chordline"><b>C</b></span>
<samp charset="UTF-8" class="lyricline">ஒப்பில்லாத வான் பரனை</samp>
<span class="chordline"><b>D</b></span>
<samp charset="UTF-8" class="lyricline">சத்தியனை நித்தியனை கன்னி மரி</samp>
<span class="chordline"><b>G</b>           <b>C</b>         <b>D</b>    <b>G</b></span>
<samp charset="UTF-8" class="lyricline">பாலகனை போற்றிப் பாடுவோம்</samp></div></div>   
        
     </div>